api-ref/src/wadls/image-api/src/v2/os-image-schemas-2.2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-schemas-2.2.wadl       -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2.2"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    targetNamespace="http://docs.openstack.org/compute/api/v2"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v2
    xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0
    xsd/api-common.xsd
    ">

    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
        <include href="xsd/faults.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/">
        <resource id="info" path="v2">
            <resource id="schemas" path="schemas">
                <resource id="Image-schemas" type="#SchemasList"
                    path="images">
                    <method href="#getImagesSchema"/>
                </resource>
                <resource id="Image-schema" type="#SchemaList"
                    path="image">
                    <method href="#getImageSchema"/>
                </resource>
                <resource id="Image-members-schema" type="#SchemasList"
                    path="members">
                    <method href="#getImageMembersSchema"/>
                </resource>
                <resource id="Image-member-schema" type="#SchemaList"
                    path="member">
                    <method href="#getImageMemberSchema"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="getImagesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Images Schema">
            <para role="shortdesc">Gets a json-schema document that
                represents an images entity</para>
            <para>An images entity is a container of image entities.
            </para>
            <para>The schema below is solely an example.  Only the
                  response to the API call should be considered
                  authoritative.
            </para>
            <para><emphasis>Since: Images 2.0</emphasis></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/schemas-images-get-response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getImageSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Image Schema">
            <para role="shortdesc">Gets a json-schema document that
                represents an image entity. </para>
            <para>The schema below is solely an example.  Only the
                  response to the API call should be considered
                  authoritative.
            </para>
            <para><emphasis>Since: Images 2.0</emphasis></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/schemas-image-get-response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getImageMembersSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Image Members Schema">
            <para role="shortdesc">Gets a json-schema document that
                represents an image members entity</para>
            <para>An image members entity is a container of image
                  member entities.
            </para>
            <para>The schema below is solely an example.  Only the
                  response to the API call should be considered
                  authoritative.
            </para>
            <para><emphasis>Since: Images 2.1</emphasis></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/schemas-image-members-get-response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getImageMemberSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Image Member Schema">
            <para role="shortdesc">Gets a json-schema document that
                represents an image member entity. </para>
            <para>The schema below is solely an example.  Only the
                  response to the API call should be considered
                  authoritative.
            </para>
            <para><emphasis>Since: Images 2.1</emphasis></para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/schemas-image-member-get-response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
