api-ref/src/wadls/image-api/src/v2/os-metadef-object-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-2.2.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2"
    xmlns:csapi="http://docs.openstack.org/image/api/v2">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://glance.example.com/"
        xml:id="os-metadef-object-v2">
        <resource id="v2" path="//v2">
            <resource id="metadefs" path="metadefs">
                <resource id="namespaces" path="namespaces">
                    <resource path="{namespace}" id="namespace">
                        <resource id="objects" type="#ObjectList" path="objects">
                            <method href="#createObject-v2"/>
                            <method href="#listObjects-v2"/>
                            <resource path="{object_name}" id="object_name">
                                &metadefNamespace_idParameter;
                                <param xmlns="http://wadl.dev.java.net/2009/02" name="object_name"
                                       style="template" required="true" type="xsd:string">
                                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                                       xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                                       <para>The name of the object.</para>
                                    </wadl:doc>
                                </param>
                                <method href="#getObject-v2"/>
                                <method href="#updateObject-v2"/>
                                <method href="#deleteObject-v2"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Property methods -->
    <method name="POST" id="createObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create object">
            <para role="shortdesc">
                Creates an object definition in a specified
                namespace.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="samples/metadef-object-create-req.json"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="namespace" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"><para>The namespace is unique across all
                        users.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_name" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"><para>User-friendly name to use in a UI to display the namespace name.
                        </para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"><para>Detailed description for the namespace.
                        </para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="visibility" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>Namespace visibility. Public or private.
                            Default is private.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="protected" style="plain" type="xsd:boolean"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>Namespace protection for deletion. Valid value is true or false.
                            Default is false.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="properties" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>Property definitions, if any, for the namespace.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="objects" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>Object definitions, if any, for the namespace.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="resource_type_associations" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>Resource types, if any, that are associated with this namespace</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/metadef-object-create-response.json"/>
                </wadl:doc> &metadefNamespaceParameter; &metadefNSDisplayNameParameter;
                &metadefNSDescParameter; &metadefNSVisibilityParameter;
                &metadefNSProtectedParameter; &metadefPropertiesParameter;
                &metadefObjectsParameter; &metadefResTypeAssocsParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="listObjects-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List objects">
            <para role="shortdesc">Lists object definitions within
                a namespace.</para>
            <para>
                Returns a subset of the larger collection of namespaces and a
                link that you can use to get the next set of namespaces. You
                should always check for the presence of a <code>next</code>
                link and use it as the URI in a subsequent HTTP GET request.
                You should follow this pattern until a <code>next</code> link
                is no longer provided. The next link preserves any query
                parameters that you send in your initial request. You can use
                the <code>first</code> link to jump back to the first page of
                the collection. If you prefer to paginate through namespaces
                manually, use the <code>limit</code> and <code>marker</code>
                parameters.
            </para>
            <para>
                The list operation accepts <code>resource_types</code> and
                <code>visibility</code> as query parameters that let you
                filter the results of the returned collection.
            </para>
            <para>
                For example, sending a <code>resource_types</code> filter of
                <code>OS::Glance::Image,OS::Nova::Flavor</code> filters the
                namespaces to include only namespaces that are associated to
                the given resource types.
            </para>
            <para>
                You can sort the results of this operation by using the
                <code>sort_key</code> and <code>sort_dir</code> parameters.
                The API uses the natural sorting of whatever namespace
                attribute is provided as the <code>sort_key</code>.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &metadefNamespaceListReqParameters; </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/metadef-object-list-response.json"/>
                </wadl:doc> &namespacesParameter; &metadefNamespaceParameter;
                 &metadefNSDisplayNameParameter; &metadefNSDescParameter;
                 &metadefNSVisibilityParameter; &metadefNSProtectedParameter;
                 &metadefResTypeAssocsParameter; </representation>
        </response>
    </method>
    <method name="GET" id="getObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get object definition">
            <para role="shortdesc">Gets definition for a specified object.
                </para>
            <para>Response body is a single object entity.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/metadef-object-details-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update object definition">
            <para role="shortdesc">
                Updates a specified object definition in a specified
                namespace.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="samples/metadef-object-update-req.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/metadef-object-update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete property definition">
            <para role="shortdesc">
                Deletes a specified object definition within a namespace.
            </para>
            <para>
                You cannot delete objects in a namespace with the 'protected'
                attribute set to true (boolean); the response returns
                the HTTP 403 status code.
            </para>
            <para>
                You must first set the <code>protected</code> attribute to
                false (boolean) on the namespace and then perform the delete.
                The response is empty and returns the HTTP 204 status code.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                 </representation>
        </request>
        <response status="204"/>
        <response status="403"/>
    </method>
</application>
