api-ref/src/wadls/image-api/src/v2/os-metadef-schemas-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-metadef-schemas-2.2.wadl       -->
<!--*******************************************************-->

<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2"
    xmlns:csapi="http://docs.openstack.org/image/api/v2">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/"
        xml:id="os-metadef-schemas-v2">
        <resource id="v2" path="//v2">
            <resource id="schemas" path="schemas">
                <resource id="metadefs" path="metadefs">
                    <resource id="namespace" type="#SchemaList"
                        path="namespace">
                        <method href="#getMetadefNamespaceSchema"/>
                    </resource>
                    <resource id="namespaces" type="#SchemaList"
                        path="namespaces">
                        <method href="#getMetadefNamespacesSchema"/>
                    </resource>
                    <resource id="object" type="#SchemaList"
                        path="object">
                        <method href="#getMetadefObjectSchema"/>
                    </resource>
                    <resource id="objects" type="#SchemaList"
                        path="objects">
                        <method href="#getMetadefObjectsSchema"/>
                    </resource>
                    <resource id="property" type="#SchemaList"
                        path="property">
                        <method href="#getMetadefPropertySchema"/>
                    </resource>
                    <resource id="properties" type="#SchemaList"
                        path="properties">
                        <method href="#getMetadefPropertiesSchema"/>
                    </resource>
                    <resource id="tag" type="#SchemaList"
                        path="tag">
                        <method href="#getMetadefTagSchema"/>
                    </resource>
                    <resource id="tags" type="#SchemaList"
                        path="tags">
                        <method href="#getMetadefTagsSchema"/>
                    </resource>
                    <resource id="resource_type" type="#SchemaList"
                        path="resource_type">
                        <method href="#getMetadefResTypeAssocSchema"/>
                    </resource>
                    <resource id="resource_types" type="#SchemaList"
                        path="resource_types">
                        <method href="#getMetadefResTypeAssocsSchema"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="getMetadefNamespaceSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition namespace schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition namespace entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-namespace-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefNamespacesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition namespaces schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition namespaces entity. (Since API v2.1.)
            </para>
            <para>
                A namespaces entity is a container for namespace entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-namespaces-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefObjectSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition object schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition object entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-object-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefObjectsSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition objects schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition objects entity. (Since API v2.1.)
            </para>
            <para>
                An objects entity is a container for object entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-objects-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefPropertySchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition property schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition property entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-property-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefPropertiesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition properties schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition properties entity. (Since API v2.1.)
            </para>
            <para>
                A properties entity is a container for property entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-properties-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefTagSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition tag schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition tag entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-tag-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefTagsSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition tags schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition tags entity. (Since API v2.1.)
            </para>
            <para>
                A tags entity is a container for tag entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-tags-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefResTypeAssocSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition namespace resource type association schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition namespace resource type association entity.
                (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-resource-type-association-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getMetadefResTypeAssocsSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata definition namespace resource type associations schema">
            <para role="shortdesc">
                Gets a JSON schema document that represents a metadata
                definition namespace resource type associations entity.
                (Since API v2.1.)
            </para>
            <para>
                A resource type associations entity is a container for
                resource type association entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schema-metadef-resource-type-associations-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
