api-ref/src/wadls/compute-api/src/v3/wadl/os-agents-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-agents-v3">
        <resource id="v3" path="//v3">
            <resource id="os-agents" path="os-agents">
                <method href="#agentbuild"/>
                <method href="#listbuilds"/>
                <resource id="id" path="{id}">
                    <method href="#updatebuild"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--             Guest Agents                              -->
    <!--*******************************************************-->
    <method name="POST" id="agentbuild">
        <wadl:doc xml:lang="EN" title="Create agent build"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates an agent build.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listbuilds">
        <wadl:doc xml:lang="EN" title="List agent builds"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists agent builds.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agents-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agents-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updatebuild">
        <wadl:doc xml:lang="EN" title="Update agent build"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates an agent build.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
