api-ref/src/wadls/compute-api/src/v3/wadl/os-admin-actions-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com" xml:id="os-admin-actions-v3">
        <resource id="v3" path="v3">
            <resource id="server_id_action"
                path="servers/{server_id}/action">
                <resource id="server_id" path="{server_id}">
                    <resource id="action" path="action">
                        <method href="#backupserver"/>
                        <method href="#adminservernetwork"/>
                        <method href="#livemigrate"/>
                        <method href="#lockserver"/>
                        <method href="#migrateserver"/>
                        <method href="#pauseserver"/>
                        <method href="#resetnetwork"/>
                        <method href="#resumeserver"/>
                        <method href="#suspendserver"/>
                        <method href="#unlockserver"/>
                        <method href="#unpauseserver"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Admin Actions                    -->
    <!--*******************************************************-->
    <method name="POST" id="backupserver">
        <wadl:doc xml:lang="EN" title="Back up server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Backs up a server instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-backup-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-backup-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>


    <method name="POST" id="adminservernetwork">
        <wadl:doc xml:lang="EN" title="Inject network information"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Injects network information into a
                server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-inject-network-info.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-inject-network-info.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="livemigrate">
        <wadl:doc xml:lang="EN" title="Live migrate to new host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Live-migrates a server to a new
                host without rebooting.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-live-migrate.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-live-migrate.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="lockserver">
        <wadl:doc xml:lang="EN" title="Lock server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lock a server instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-lock-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-lock-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="migrateserver">
        <wadl:doc xml:lang="EN" title="Migrate server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Migrates a server to a host. The
                scheduler chooses the host.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-migrate.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-migrate.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="pauseserver">
        <wadl:doc xml:lang="EN" title="Pause server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Pauses a server. Changes its status
                to PAUSED.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-pause.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-pause.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="resetnetwork">
        <wadl:doc xml:lang="EN" title="Reset server networking"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resets networking on a
                server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-network.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-network.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="resetserver">
        <wadl:doc xml:lang="EN" title="Reset server state"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resets the state of a server to a
                specified state.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-server-state.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-server-state.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="resumeserver">
        <wadl:doc xml:lang="EN" title="Resume server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resumes a SUSPENDED server and
                changes its status to ACTIVE.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-resume.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-resume.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="suspendserver">
        <wadl:doc xml:lang="EN" title="Suspend server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Suspends a server and changes its
                status to SUSPENDED.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-suspend.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-suspend.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="unlockserver">
        <wadl:doc xml:lang="EN" title="Unlock server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Unlocks a server instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unlock-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unlock-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

    <method name="POST" id="unpauseserver">
        <wadl:doc xml:lang="EN" title="Unpause server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Unpauses a PAUSED server and
                changes its status to ACTIVE.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unpause.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unpause.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>

</application>
