api-ref/src/wadls/compute-api/src/v3/wadl/os-aggregates-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-aggregates-v3">
        <resource id="v3" path="//v3">
            <resource id="os-aggregates" path="os-aggregates">
                <method href="#createaggregate"/>
                <method href="#listaggregate"/>
                <resource id="aggregate-id" path="{aggregate_id}">
                    <method href="#showaggregate"/>
                    <method href="#updateaggregate"/>
                    <resource id="action" path="action">
                        <method href="#addhost"/>
                        <method href="#aggregatemetadata"/>
                        <method href="#removeaggregate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Aggregates                           -->
    <!--*******************************************************-->
    <method name="POST" id="createaggregate">
        <wadl:doc xml:lang="EN" title="Create aggregate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates an aggregate, given its
                name and availability zone.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="addhost">
        <wadl:doc xml:lang="EN" title="Add host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds a host to the specified
                aggregate.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-add-host-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-add-host-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-add-host-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-add-host-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="showaggregate">
        <wadl:doc xml:lang="EN" title="Show aggregate details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows the details of an aggregate,
                hosts and metadata included.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="listaggregate">
        <wadl:doc xml:lang="EN" title="List aggregates"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists aggregates id, name, and
                availability_zone for an aggregate.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-list-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-list-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="aggregatemetadata">
        <wadl:doc xml:lang="EN"
            title="Create or update aggregate metadata"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates or replaces metadata for an
                aggregate.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-metadata-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-metadata-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-metadata-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-metadata-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="removeaggregate">
        <wadl:doc xml:lang="EN" title="Remove host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes a host from the specified
                aggregate.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-remove-host-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-remove-host-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-remove-host-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregates-remove-host-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="updateaggregate">
        <wadl:doc xml:lang="EN" title="Update aggregate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates either or both the name and
                availability zone for a specified aggregate.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-update-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-update-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-update-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-aggregates/aggregate-update-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
