api-ref/src/wadls/compute-api/src/v3/wadl/os-cells-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-cell-v3">
        <resource id="v3" path="//v3">
            <resource id="os-cells" path="os-cells">
                <method href="#listcell"/>
                <method href="#returnallcell"/>
                <resource id="cell3" path="cell3">
                    <method href="#datacell"/>
                </resource>
                <resource id="nova" path="nova">
                    <resource id="capacities" path="capacities">
                        <method href="#cellcapacity"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--             OS Cells                                  -->
    <!--*******************************************************-->
    <method name="GET" id="cellcapacity">
        <wadl:doc xml:lang="EN" title="Shows cell capacities"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows capacities for a specified
                cell.</para>
            <para>When cells are not enabled, the cells API calls
                return a <code>501 NotImplemented</code> error.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-capacities-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-capacities-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &fault501; </method>
    <method name="GET" id="datacell">
        <wadl:doc xml:lang="EN" title="Shows cell data"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows data for a specified
                cell.</para>
            <para>When cells are not enabled, the cells API calls
                return a <code>501 NotImplemented</code> error.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &fault501; </method>
    <method name="GET" id="returnallcell">
        <wadl:doc xml:lang="EN" title="Lists cells with details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists cells with details.</para>
            <para>When cells are not enabled, the cells API calls
                return a <code>501 NotImplemented</code> error.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-list-empty-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-list-empty-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &fault501; </method>
    <method name="GET" id="listcell">
        <wadl:doc xml:lang="EN" title="List cells"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists cells.</para>
            <para>When cells are not enabled, the cells API calls
                return a <code>501 NotImplemented</code> error.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-cells/cells-list-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &fault501; </method>
</application>
