api-ref/src/wadls/compute-api/src/v3/wadl/os-certificate.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com" xml:id="os-certificate-v3">
        <resource id="v3" path="v3">
            <resource id="os-certificates" path="os-certificates">
                <method href="#createcertificate"/>
                <resource id="root" path="root">
                    <method href="#returncertificate"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS Certificate                 -->
    <!--*******************************************************-->
    <method name="POST" id="createcertificate">
        <wadl:doc xml:lang="EN" title="Create certificate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a certificate.</para>
        </wadl:doc>
       <!-- <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-certificates/certificate-create-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-certificates/certificate-create-req.xml"
                    />
                </doc>
            </representation>
        </request> -->
        <response status="201">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-certificates/certificate-create-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-certificates/certificate-create-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="returncertificate">
        <wadl:doc xml:lang="EN" title="Show certificate details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified certificate.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-certificates/certificate-get-root-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-certificates/certificate-get-root-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
