api-ref/src/wadls/compute-api/src/v3/wadl/os-evacuate-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com" xml:id="os-evacuate-v3">
        <resource id="v3" path="//v3">
            <resource id="servers" path="servers">
                <resource id="server_id" path="{server_id}">
                    <resource id="action" path="action">
                        <method href="#evacuateserver"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS-evacuate                           -->
    <!--*******************************************************-->
    <method name="POST" id="evacuateserver">
        <wadl:doc xml:lang="EN" title="Evacuate server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Evacuates a server from a failed
                host to a new one.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-evacuate/server-evacuate-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-evacuate/server-evacuate-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-evacuate/server-evacuate-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-evacuate/server-evacuate-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
