api-ref/src/wadls/compute-api/src/v3/wadl/os-extended-status-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com" xml:id="os-extended-status-v3">
        <resource id="v3" path="//v3">
            <resource id="servers" path="servers">
                <resource id="server_id" path="{server_id}">
                    <method href="#returnserverdetails"/>
                </resource>
                <resource id="detail" path="detail">
                    <method href="#returnlistserver"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS extended status                -->
    <!--*******************************************************-->
    <method name="GET" id="returnserverdetails">
        <wadl:doc xml:lang="EN" title="Show server details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified server.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-extended-status/server-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-extended-status/server-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="returnlistserver">
        <wadl:doc xml:lang="EN" title="List servers with details for user"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists servers with details for a specified user.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-extended-status/servers-detail-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-extended-status/servers-detail-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
