api-ref/src/wadls/compute-api/src/v3/wadl/os-flavor-manage-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="http://www.example.com" xml:id="flavor-manage-v3">
        <resource path="//v3">
            <resource path="flavors">
                <method href="#create-flavors"/>
                <resource path="{flavor_id}">
                    <method href="#delete-flavors"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="create-flavors">
        <wadl:doc xml:lang="EN" title="Create flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="delete-flavors">
        <wadl:doc xml:lang="EN" title="Delete flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Deletes a flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="204"/>
    </method>
</application>
