api-ref/src/wadls/compute-api/src/v3/wadl/os-flavors-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="flavors_v3">
        <resource id="v3" path="//v3">
            <resource id="flavors" path="flavors">
                <method href="#getflavorbrief"/>
                <resource id="flavor_id" path="{flavor_id}">
                    <method href="#getflavorid"/>
                </resource>
                <resource id="detail" path="detail">
                    <method href="#returnflavorall"/>
                    <method href="#showflavor"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Flavor                            -->
    <!--*******************************************************-->
    <method name="GET" id="getflavorid">
        <wadl:doc xml:lang="EN" title="Show flavor details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows information for a specified
                flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavors/flavor-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavors/flavor-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method name="GET" id="returnflavorall">
        <wadl:doc xml:lang="EN" title="List detailed flavors"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists flavors with details.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavors/flavors-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavors/flavors-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method name="GET" id="getflavorbrief">
        <wadl:doc xml:lang="EN" title="List flavors"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists flavors.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavors/flavors-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavors/flavors-list-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"/>
    </method>
</application>
