api-ref/src/wadls/compute-api/src/v3/wadl/os-hypervisors.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-hypervisors-v3">
        <resource id="v3" path="v3">
            <resource id="os-hypervisors" path="os-hypervisors">
                <method href="#listhypervisors"/>
                <resource id="statistics" path="statistics">
                    <method href="#showhypervisorstatistics"/>
                </resource>
                <resource id="filter" path="search?query={filter}">
                    <method href="#searchhypervisors"/>
                </resource>
                <resource id="hypervisor_id" path="{hypervisor_id}">
                    <method href="#showhypervisordetails"/>
                    <resource id="uptime" path="uptime">
                        <method href="#showhypervisoruptime"/>
                    </resource>
                    <resource id="servers" path="servers">
                        <method href="#listservers"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--        OS Hypervisors                        -->
    <!--*******************************************************-->
    <method name="GET" id="listhypervisors">
        <wadl:doc xml:lang="EN" title="List hypervisors"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists hypervisors.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="searchhypervisors">
        <wadl:doc xml:lang="EN" title="Search hypervisors"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Searches hypervisors by specified
                host name.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-search-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-search-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listservers">
        <wadl:doc xml:lang="EN" title="List servers for a hypervisor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists servers that run on a
                specified hypervisor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-servers-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-servers-resp.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showhypervisordetails">
        <wadl:doc xml:lang="EN" title="Show hypervisor details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified
                hypervisor.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-show-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-show-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showhypervisorstatistics">
        <wadl:doc xml:lang="EN" title="Show hypervisor statistics"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows statistics for all
                hypervisors.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-statistics-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-statistics-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showhypervisoruptime">
        <wadl:doc xml:lang="EN" title="Show hypervisor uptime"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows the uptime for a specified
                hypervisor.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-uptime-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-uptime-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
