api-ref/src/wadls/compute-api/src/v3/wadl/os-hosts-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-hosts-v3">
        <resource id="v3" path="v3">
            <resource id="os-hosts" path="os-hosts">
                <method href="#listallhosts"/>
                <resource id="host_name" path="{host_name}">
                    <method href="#enablehost"/>
                    <method href="#showinfo"/>
                    <resource id="reboot" path="reboot">
                        <method href="#reboothost"/>
                    </resource>
                    <resource id="shutdown" path="shutdown">
                        <method href="#shutdownhost"/>
                    </resource>
                    <resource id="startup" path="startup">
                        <method href="#startshost"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--           OS Hosts                        -->
    <!--*******************************************************-->
    <method name="GET" id="reboothost">
        <wadl:doc xml:lang="EN" title="Reboot host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Reboots a host.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-reboot.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-reboot.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showinfo">
        <wadl:doc xml:lang="EN" title="Show host details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified
                host.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="shutdownhost">
        <wadl:doc xml:lang="EN" title="Shut down host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shuts down a host.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-shutdown.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-shutdown.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="startshost">
        <wadl:doc xml:lang="EN" title="Start host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Starts a host.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-startup.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-get-startup.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="enablehost">
        <wadl:doc xml:lang="EN" title="Enables host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Enables or puts a host in
                maintenance mode.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-put-maintenance-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-put-maintenance-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-put-maintenance-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/host-put-maintenance-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listallhosts">
        <wadl:doc xml:lang="EN" title="List hosts"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists hosts.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/hosts-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hosts/hosts-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
