api-ref/src/wadls/compute-api/src/v3/wadl/os-instance-usage-audit-log-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-instance-usage-audit-log-v3">
        <resource id="v3" path="v3">
            <resource id="os-instance-usage-audit-log"
                path="os-instance-usage-audit-log">
                <method href="#listusageaudits"/>
                <resource id="datetime" path="{datetime}">
                    <param name="datetime" style="template"
                        type="xsd:string">
                        <wadl:doc xml:lang="EN"
                            xmlns="http://docbook.org/ns/docbook">
                            <para>The date and time stamp.</para>
                        </wadl:doc>
                    </param>
                    <method href="#listinstanceusage"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Instance Usage Audit Log            -->
    <!--*******************************************************-->
    <method name="GET" id="listusageaudits">
        <wadl:doc xml:lang="EN" title="List usage audits"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists usage audits for a specified
                instance.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-usage-audit-log/inst-usage-audit-log-index-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-usage-audit-log/inst-usage-audit-log-index-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listinstanceusage">
        <wadl:doc xml:lang="EN" title="List instance usage"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists instance usage audits that
                occurred before a specified time.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-usage-audit-log/inst-usage-audit-log-index-with-before-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-usage-audit-log/inst-usage-audit-log-index-with-before-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
