api-ref/src/wadls/compute-api/src/v3/wadl/os-multinic-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-multinic-v3">
        <resource id="v3" path="v3">
            <resource id="servers" path="servers">
                <method href="#removeip"/>
                <resource id="action" path="action">
                    <method href="#addiptoinstance"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Multinic            -->
    <!--*******************************************************-->
    <method name="POST" id="addiptoinstance">
        <wadl:doc xml:lang="EN" title="Add IP to instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds an IP to a specified network
                on an instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multinic/multinic-add-fixed-ip-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multinic/multinic-add-fixed-ip-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="removeip">
        <wadl:doc xml:lang="EN" title="Remove IP from instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes an IP from a specified
                instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multinic/multinic-remove-fixed-ip-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multinic/multinic-remove-fixed-ip-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
