api-ref/src/wadls/compute-api/src/v3/wadl/os-quota-class-sets.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-quota-class-sets-v3">
        <resource id="v3" path="v3">
            <resource id="os-quota-class-sets"
                path="os-quota-class-sets">
                <resource id="class_id" path="{class_id}">
                    <method href="#showquota"/>
                    <method href="#updatequota"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Quota Class Sets           -->
    <!--*******************************************************-->
    <method name="GET" id="showquota">
        <wadl:doc xml:lang="EN" title="Show quota"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows the quota for a specified
                class.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-class-sets/quota-classes-show-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-class-sets/quota-classes-show-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updatequota">
        <wadl:doc xml:lang="EN" title="Update quota"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates quota for a specified
                class.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-class-sets/quota-classes-update-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-class-sets/quota-classes-update-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-class-sets/quota-classes-update-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-class-sets/quota-classes-update-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
