api-ref/src/wadls/compute-api/src/v3/wadl/os-remote-consoles.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-remote-consoles-v3">
        <resource id="v3" path="v3">
            <resource id="servers" path="servers">
                <resource id="server_id" path="{server_id}">
                    <resource id="actions" path="actions">
                        <method href="#getoutputspice"/>
                        <method href="#getoutputvnc"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Remote consoles            -->
    <!--*******************************************************-->
    <method name="POST" id="getoutputspice">
        <wadl:doc xml:lang="EN" title="Get output for spice"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets text console output.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-spice-console-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-spice-console-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-spice-console-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-spice-console-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="getoutputvnc">
        <wadl:doc xml:lang="EN" title="Get console output"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets text console output for VNC.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-vnc-console-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-vnc-console-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-vnc-console-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-vnc-console-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
