api-ref/src/wadls/volume-api/src/v1/wadl/os-quota-sets-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../v2/common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://volume.example.com/"
        xml:id="os-quota-sets-cinder-v1">
        <resource id="version-cinder-v1" type="#VersionDetails"
            path="//v1">
            <resource id="tenant_id-cinder-v1" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-quota-sets-cinder-for-v1"
                    path="os-quota-sets">
                    <resource path="{tenant_id}"
                        id="tenant_id-quotas-cinder-v1">
                        &tenant_idTemplateParameter2;
                        <method href="#showQuota"/>
                        <method href="#updateQuota"/>
                        <method href="#deleteQuotas"/>
                    </resource>
                    <resource path="defaults" id="defaults-cinder-v1">
                        <method href="#showQuotaDefaults"/>
                    </resource>
                    <resource path="{tenant_id}"
                        id="tenantID-cinder-v1">
                        &tenant_idTemplateParameter2;
                        <resource id="user_id-cinder-v1"
                            path="{user_id}">
                            &user_idTemplateParameter;
                            <method href="#showQuotaUser"/>
                            <method href="#updateQuotaUser"/>
                            <method href="#deleteQuotasUser"/>
                        </resource>
                        <resource id="detail-cinder-v1" path="detail">
                            <resource id="user_id-detail-cinder-v1"
                                path="{user_id}">
                                &user_idTemplateParameter;
                                <method href="#showQuotaDetailUser"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="showQuotaDefaults">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show default quotas">
            <para role="shortdesc">
                Shows default quotas for a
                tenant.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show default quotas: JSON response">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-defaults-show-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show default quotas: XML response">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-defaults-show-response.xml"
                    />
                </wadl:doc>&quotaSetsRespParameters; </representation>
        </response>
    </method>
    <method name="GET" id="showQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas">
            <para role="shortdesc">
                Shows quotas for a tenant.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &quotasShowRequest;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: JSON">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-show-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: XML">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-show-response.xml"
                    />
                </wadl:doc>
                &quotaSetsRespParameters;
                &quotasShowResponse;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas">
            <para role="shortdesc">
                Updates quotas for a tenant.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update quotas response: JSON">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: XML">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-request.xml"
                    />
                </wadl:doc>&quotaSetsReqParameters; </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update quota response: JSON">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update quota response: XML">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-response.xml"
                    />
                </wadl:doc> &quotaSetsRespParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteQuotas">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete quotas">
            <para role="shortdesc">
                Deletes quotas for a tenant so the
                quotas revert to default values.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="showQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas for user">
            <para role="shortdesc">
                Enables an admin user to show quotas for a
                tenant and user.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: JSON">
                    <xsdxt:code
                        href="../samples/os-user-quotas/user-quotas-show-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: XML">
                    <xsdxt:code
                        href="../samples/os-user-quotas/user-quotas-show-response.xml"
                    />
                </wadl:doc> &quotaSetsRespParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="updateQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas for user">
            <para role="shortdesc">
                Updates quotas for a tenant and user.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: JSON">
                    <xsdxt:code
                        href="../samples/os-user-quotas/user-quotas-update-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: XML">
                    <xsdxt:code
                        href="../samples/os-user-quotas/user-quotas-update-request.xml"
                    />
                </wadl:doc> &quotaSetsReqParameters; </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user response: JSON">
                    <xsdxt:code
                        href="../samples/os-user-quotas/user-quotas-update-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: XML">
                    <xsdxt:code
                        href="../samples/os-user-quotas/user-quotas-update-response.xml"
                    />
                </wadl:doc>&quotaSetsRespParameters; </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteQuotasUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete quotas for user">
            <para role="shortdesc">
                Deletes quotas for a user so that
                the quotas revert to default values.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="showQuotaDetailUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quota details for user">
            <para role="shortdesc">
                Shows details for quotas for a tenant and
                user.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Show quota details for user response: JSON">
                    <xsdxt:code
                        href="../samples/os-user-quotas/user-quotas-show-detail-response.json"
                    />
                </wadl:doc>
                <param name="quota_set" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="quota_set">
                        <para>
                            A <code>quota_set</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="cores" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="cores">
                        <para>
                            A <code>cores</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="fixed_ips" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="fixed_ips">
                        <para>
                            A <code>fixed_ips</code>
                            object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="floating_ips" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="floating_ips">
                        <para>
                            A <code>floating_ips</code>
                            object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" required="true"
                    type="csapi:UUID">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="id">
                        <para>
                            The ID for the quota
                            set.
                        </para>
                    </wadl:doc>
                </param>
                <param name="injected_file_content_bytes"
                    style="plain" required="true" type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            An <code>injected_file_content_bytes</code>
                            object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="injected_file_path_bytes" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="Show quota details for user">
                        <para>
                            An <code>injected_file_path_bytes</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="injected_files" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="injected_files">
                        <para>
                            An <code>injected_files</code>
                            object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="instances" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="instances">
                        <para>
                            An <code>instances</code>
                            object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="key_pairs" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="key_pairs">
                        <para>
                            A <code>key_pairs</code>
                            object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="metadata_items" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="metadata_items">
                        <para>
                            A <code>metadata_items</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ram" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="ram">
                        <para>
                            A <code>ram</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="security_group_rules" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="security_group_rules">
                        <para>
                            A <code>security_group_rules</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="security_groups" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="security_groups">
                        <para>
                            A <code>security_groups</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="in_use" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="in_use">
                        <para>
                            The number of items in use.
                        </para>
                    </wadl:doc>
                </param>
                <param name="limit" style="plain" required="true"
                    type="xsd:int">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="limit">
                        <para>
                            The number of items permitted for this tenant.
                        </para>
                    </wadl:doc>
                </param>
                <param name="reserved" style="plain" required="true"
                    type="xsd:int">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="reserved">
                        <para>
                            The number of reserved items.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
</application>
