api-ref/src/wadls/volume-api/src/v1/wadl/volumes-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:json="http://json-schema.org/schema#"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://volume.example.com/" xml:id="volumes-v1">
        <resource id="versions" path="//">
            <method href="#listVersionsv1"/>
        </resource>
        <resource id="version" type="#VersionDetails" path="//v1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="volumes" path="volumes">
                    <method href="#createVolume"/>
                    <method href="#listVolumes"/>
                    <resource path="detail" id="detail-volume">
                        <method href="#listVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}" id="volume_id">
                        &volume_idTemplateParameter;
                        <method href="#showVolume"/>
                        <method href="#deleteVolume"/>
                    </resource>
                </resource>
                <resource id="types" path="types">
                    <method href="#listVolumeTypes"/>
                    <method href="#createVolumeType"/>
                    <resource path="{volume_type_id}" id="volume_type_id">
                        &volume_type_idTemplateParameter;
                        <method href="#updateVolumeType"/>
                        <method href="#updateVolumeTypeExtraSpecs"/>
                        <method href="#showVolumeType"/>
                        <method href="#deleteVolumeType"/>
                    </resource>
                </resource>
                <resource id="snapshots" path="snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#listSnapshots"/>
                    <resource path="detail" id="detail-snapshots">
                        <method href="#listSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}" id="snapshot_id">
                        &snapshot_idTemplateParameter;
                        <method href="#showSnapshot"/>
                        <method href="#deleteSnapshot"/>
                        <resource path="metadata" id="snapshot-metadata">
                            <method href="#showSnapshotMetadata"/>
                            <method href="#updateSnapshotMetadata"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Version details">
            <para>
                API version details.
            </para>
        </wadl:doc>
        <method href="#showVersionDetailsv1"/>
    </resource_type>
    <method name="GET" id="listVersionsv1">
        <wadl:doc xml:lang="EN" title="List API versions" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information about all Block Storage API versions.
            </para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/versions-list-response.json"/>
                </wadl:doc>
            </representation>
            <!-- The following call fails - opened bug #1311243 -->
            <!-- <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/cinder-versions-response.xml"
                    />
                </wadl:doc>
            </representation>-->
        </response>
    </method>
    <method name="GET" id="showVersionDetailsv1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show API v1 details">
            <para role="shortdesc">
                Shows Block Storage API v1 details.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/version-show-response.json"/>
                </wadl:doc>
            </representation>
            <!-- this call fails - opened bug 1311243 -->
            <!--<representation mediaType="application/xml"
                element="common:version">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/version-show-resp.xml"/>
                </wadl:doc>
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Location"><para>Full URL
                            to a service or server.</para></wadl:doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>-->
        </response>
        <response status="203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/version-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create volume">
            <para role="shortdesc">
                Creates a volume.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-create-request.json"/>
                </wadl:doc>
                &volumeObjectParameter;
                &createVolumeRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-show-response.json"/>
                </wadl:doc>
                &volumeObjectParameter;
                &createVolumeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listVolumes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List volumes">
            <para role="shortdesc">
                Lists all volumes.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volumes-list-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volumes-list-response.json"/>
                </wadl:doc>
                &volumesObjectParameter;
                &volumeSimpleResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listVolumesDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes, with details">
            <para role="shortdesc">
                Lists all volumes, with details.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volumes-list-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volumes-list-response.json"/>
                </wadl:doc>
                &volumesObjectParameter;
                &volumeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume details">
            <para role="shortdesc">
                Shows details for a volume.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-show-response.json"/>
                </wadl:doc>
                &volumeObjectParameter;
                &volumeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete volume">
            <para role="shortdesc">
                Deletes a volume.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="listVolumeTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List volume types">
            <para role="shortdesc">
                Lists volume types.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-types-list-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-types-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create volume type">
            <para role="shortdesc">
                Creates a volume type.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.json"/>
                </wadl:doc>
                &volume_typeRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.json"/>
                </wadl:doc>
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update volume type">
            <para role="shortdesc">
                Updates a volume type.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.json"/>
                </wadl:doc>
                &volume_typeRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.json"/>
                </wadl:doc>
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolumeTypeExtraSpecs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update extra specs for a volume type">
            <para role="shortdesc">
                Updates the extra specifications for a volume type.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.json"/>
                </wadl:doc>
                &volume_typeRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.json"/>
                </wadl:doc>
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume type details">
            <para role="shortdesc">
                Shows details for a volume type.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete volume type">
            <para role="shortdesc">
                Deletes a volume type.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create snapshot">
            <para role="shortdesc">
                Creates a snapshot.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-create-request.json"/>
                </wadl:doc>
                &snapshotObjectParameter;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listSnapshots">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List snapshots">
            <para role="shortdesc">
                Lists all snapshots.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshots-list-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshots-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listSnapshotsDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots with details">
            <para role="shortdesc">
                Lists all snapshots, with details.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshots-list-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshots-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot details">
            <para role="shortdesc">
                Shows details for a snapshot.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete snapshot">
            <para role="shortdesc">
                Deletes a snapshot.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="showSnapshotMetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show snapshot metadata">
            <para role="shortdesc">
                Shows metadata for a snapshot.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-metadata-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-metadata-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateSnapshotMetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update snapshot metadata">
            <para role="shortdesc">
                Updates metadata for a snapshot.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-metadata-update-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-metadata-update-request.json"/>
                </wadl:doc>
                &snapshot-metadataRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-metadata-update-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/snapshot-metadata-update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
