api-ref/src/wadls/telemetry-api/src/v2/wadl/os-telemetry-api-2.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent os-telemetry-api-2.0.wadl       -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:Enum="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/telemetry/api/v2.0">
    <resources base="http://www.example.com"
        xml:id="os-telemetry-api-v2.0">
        <resource path="//v2" id="v2">
            <resource path="alarms" id="alarms">
                <method href="#listAlarms"/>
                <method href="#createAlarm"/>
                <resource path="{alarm_id}" id="alarm_id">
                    &alarm_idTemplateParameter;
                    <method href="#showAlarm"/>
                    <method href="#updateAlarm"/>
                    <method href="#deleteAlarm"/>
                    <resource path="state" id="state">
                        <method href="#updateAlarmState"/>
                        <method href="#showAlarmState"/>
                    </resource>
                    <resource path="history" id="history">
                        <method href="#showAlarmHistory"/>
                    </resource>
                </resource>
            </resource>
            <resource path="events" id="events">
                <method href="#listEvents"/>
                <resource path="{message_id}" id="message_id">
                    &message_idTemplateParameter;
                    <method href="#showEvent"/>
                </resource>
            </resource>
            <resource path="meters" id="meters">
                <method href="#listMeters"/>
                <resource path="{meter_name}" id="meter_name">
                    &nameTemplateParameter;
                    <method href="#listSamplesforMeter"/>
                    <method href="#addSamplesToMeter"/>
                    <resource path="statistics" id="statistics">
                        <method href="#listSamplesStatistics"/>
                    </resource>
                </resource>
            </resource>
            <resource path="samples" id="samples">
                <method href="#listSamples"/>
                <resource path="{sample_id}" id="sample_id">
                    &sample_idTemplateParameter;
                    <method href="#showSample"/>
                </resource>
            </resource>
            <resource path="resources" id="resources">
                <method href="#listResources"/>
                <resource path="{resource_id}" id="resource_id">
                    &resource_idTemplateParameter;
                    <method href="#showResource"/>
                </resource>
            </resource>
            <resource path="capabilities" id="capabilities">
                <method href="#listCapabilities"/>
            </resource>
        </resource>
    </resources>
    <!-- ***************** -->
    <!-- METHODS           -->
    <!-- ***************** -->
    <method id="listCapabilities" name="GET">
        <wadl:doc title="List capabilities" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                A representation of the API and storage capabilities. Usually,
                the storage driver imposes constraints.
            </para>
        </wadl:doc>
        <request/>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/capabilities-list-response.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/capabilities-list-response.xml"/>
                </wadl:doc> &capabilitiesListParameters;
            </representation>
        </response>
    </method>
    <method id="listResources" name="GET">
        <wadl:doc title="List resources" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists definitions for all resources.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &qQueryParameter;
                <param name="meter_links" required="false" style="query"
                    type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Set <code>?meter_links=1</code> to return a self
                            link and related meter links.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/resources-list-response.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/resources-list-response.xml"/>
                </wadl:doc>
                &resourceParameters; &userIdParameter;
            </representation>
        </response>
    </method>
    <method id="showResource" name="GET">
        <wadl:doc title="Show resource details" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a resource, by resource ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/resource-show-response.json"/>
                </wadl:doc>
                &resourceParameters; &userIdParameter;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/resource-show-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listMeters" name="GET">
        <wadl:doc title="List meters" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists meters, based on the data recorded so far.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &qQueryParameter;
                &limitReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/meters-list-response.json"/>
                </wadl:doc>
                &meterParameters; &userIdParameter;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/meters-list-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listSamplesforMeter" name="GET">
        <wadl:doc title="List samples for meter" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists samples for a meter, by meter name.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &qQueryParameter;
                &limitReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/samples-list-response.json"/>
                </wadl:doc>
                &meterSamplesParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/samples-list-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="addSamplesToMeter" name="POST">
        <wadl:doc title="Add samples to meter" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Adds samples to a meter, by meter name.
            </para>
            <para>
                If you attempt to add a sample that is not supported, this
                call returns the <code>409</code> response code.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/sample-create-request.json"/>
                </wadl:doc>
                <param name="direct" required="false" style="query"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Indicates whether the samples are &POST;ed
                            directly to storage. Set <code>?direct=True</code>
                            to &POST; the samples directly to storage.
                        </para>
                    </wadl:doc>
                </param>
                <param name="samples" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A list of samples.
                        </para>
                    </wadl:doc>
                </param>
                &meterSamplesParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/sample-create-request.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/sample-show-response.json"/>
                </wadl:doc>
                &meterSamplesParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/sample-show-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
        &fault409;
    </method>
    <method id="listSamplesStatistics" name="GET">
        <wadl:doc title="Show meter statistics" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Computes and lists statistics for samples in a
                time range.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &qQueryParameter;
                &groupbyQueryParameter;
                &periodQueryParameter;
                &aggregateQueryParameter;
                &limitReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/statistics-list-response.json"/>
                </wadl:doc>
                <param name="aggregate" required="false" style="plain"
                    type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            If you set the <code>aggregate</code> query
                            parameter in the URI, a set of one or more
                            selectable aggregate values as a dictionary of key
                            (string) and value (float) pairs.
                        </para>
                        <para>
                            For example, the <code>stddev</code> function
                            returns output like this:
                        </para>
                        <programlisting language="json">[
    {
        "aggregate": {
            "stddev": 0.6858829
        },
        "duration_start": "2014-01-30T11:13:23",
        "duration_end": "2014-01-31T16:07:13",
        "duration": 104030,
        "period": 0,
        "period_start": "2014-01-30T11:13:23",
        "period_end": "2014-01-31T16:07:13",
        "groupby": null,
        "unit": "%"
    }
]</programlisting>
                    </wadl:doc>
                </param>
                <param name="avg" required="true" style="plain"
                    type="xsd:float">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The average of all volume values in the data.
                        </para>
                    </wadl:doc>
                </param>
                <param name="count" required="true" style="plain"
                    type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The number of samples seen.
                        </para>
                    </wadl:doc>
                </param>
                <param name="duration" required="true" style="plain"
                    type="xsd:float">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The number of seconds between the oldest and
                            newest date and time stamp.
                        </para>
                    </wadl:doc>
                </param>
                <param name="duration_end" required="true" style="plain"
                    type="xsd:datetime">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The date and time in UTC format of the query end time.
                        </para>
                    </wadl:doc>
                </param>
                <param name="duration_start" required="true" style="plain"
                    type="xsd:datetime">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The date and time in UTC format of the query start time.
                        </para>
                    </wadl:doc>
                </param>
                <param name="groupby" required="false" style="plain"
                    type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            If you set the <code>groupby</code> query
                            parameter in the URI to request statistics, a
                            dictionary of field names for group.
                        </para>
                        <para>
                            For example:
                        </para>
                        <programlisting language="json">[
    {
        "count": 19,
        "aggregate": {
            "count": 19,
            "cardinality/resource_id": 3
        },
        "duration": 328.47803,
        "duration_start": "2014-01-31T10:00:41.823919",
        "duration_end": "2014-01-31T10:06:10.301948",
        "period": 900,
        "period_start": "2014-01-31T10:00:00",
        "period_end": "2014-01-31T10:15:00",
        "groupby": {
            "project_id": "061a5c91811e4044b7dc86c6136c4f99"
        },
        "unit": "instance"
    },
    {
        "count": 22,
        "aggregate": {
            "count": 22,
            "cardinality/resource_id": 4
        },
        "duration": 808.00385,
        "duration_start": "2014-01-31T10:15:15",
        "duration_end": "2014-01-31T10:28:43.003840",
        "period": 900,
        "period_start": "2014-01-31T10:15:00",
        "period_end": "2014-01-31T10:30:00",
        "groupby": {
            "project_id": "061a5c91811e4044b7dc86c6136c4f99"
        },
        "unit": "instance"
    },
    {
        "count": 2,
        "aggregate": {
            "count": 2,
            "cardinality/resource_id": 2
        },
        "duration": 0,
        "duration_start": "2014-01-31T10:35:15",
        "duration_end": "2014-01-31T10:35:15",
        "period": 900,
        "period_start": "2014-01-31T10:30:00",
        "period_end": "2014-01-31T10:45:00",
        "groupby": {
            "project_id": "061a5c91811e4044b7dc86c6136c4f99"
        },
        "unit": "instance"
    }
]</programlisting>
                    </wadl:doc>
                </param>
                <param name="max" required="true" style="plain"
                    type="xsd:float">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The maximum volume seen in the data.
                        </para>
                    </wadl:doc>
                </param>
                <param name="min" required="true" style="plain"
                    type="xsd:float">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The minimum volume seen in the data.
                        </para>
                    </wadl:doc>
                </param>
                <param name="period" required="true" style="plain"
                    type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The number of seconds between the period start and
                            end date and time stamps.
                        </para>
                    </wadl:doc>
                </param>
                <param name="period_end" required="true" style="plain"
                    type="xsd:datetime">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The period end date and time in UTC format.
                        </para>
                    </wadl:doc>
                </param>
                <param name="period_start" required="true" style="plain"
                    type="xsd:datetime">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The period start date and time in UTC format.
                        </para>
                    </wadl:doc>
                </param>
                <param name="sum" required="true" style="plain"
                    type="xsd:float">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The total of all of the volume values seen in the
                            data.
                        </para>
                    </wadl:doc>
                </param>
                <param name="unit" required="true" style="plain"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The unit type of the data set.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/statistics-list-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listSamples" name="GET">
        <wadl:doc title="List samples" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all known samples, based on the data recorded so far.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &qQueryParameter;
                &limitReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/samples-list-response.json"/>
                </wadl:doc>
                &meterSamplesParameters; &userIdParameter;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/samples-list-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="showSample" name="GET">
        <wadl:doc title="Show sample details" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a sample, by sample ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/sample-show-response.json"/>
                </wadl:doc>
                &meterSamplesParameters; &userIdParameter;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/sample-show-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listAlarms" name="GET">
        <wadl:doc title="List alarms" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists alarms, based on a query.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &qQueryParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarms-list-response.json"/>
                </wadl:doc>
                &alarmResponseParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarms-list-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="createAlarm" name="POST">
        <wadl:doc title="Create alarm" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates an alarm.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="data" required="false" style="query"
                    type="Alarm"
                    xmlns="http://wadl.dev.java.net/2009/02">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            An alarm within the request body.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarm-show-response.json"/>
                </wadl:doc>
                &alarmResponseParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarm-show-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="showAlarm" name="GET">
        <wadl:doc title="Show alarm details" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for an alarm, by alarm ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarm-show-response.json"/>
                </wadl:doc>
                &alarmResponseParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarm-show-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="updateAlarm" name="PUT">
        <wadl:doc title="Update alarm" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates an alarm.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="data" required="false" style="query"
                    type="Alarm"
                    xmlns="http://wadl.dev.java.net/2009/02">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            An alarm within the request body.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarm-show-response.json"/>
                </wadl:doc>
                &alarmResponseParameters;
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/alarm-show-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="showAlarmHistory" name="GET">
        <wadl:doc title="Show alarm history" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Assembles and shows the history for an alarm, by
                alarm ID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &qQueryParameter;
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method id="updateAlarmState" name="PUT">
        <wadl:doc title="Update alarm state" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Sets the state of an alarm.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="state" required="true" style="query"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The alarm state. A valid value is <code>ok</code>,
                            <code>alarm</code>, or <code>insufficient
                            data</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method id="showAlarmState" name="GET">
        <wadl:doc title="Show alarm state" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows the state for an alarm, by alarm ID.
            </para>
        </wadl:doc>
        <request/>
        <response status="200"/>
    </method>
    <method id="deleteAlarm" name="DELETE">
        <wadl:doc title="Delete alarm" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes an alarm, by alarm ID.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method id="listEvents" name="GET">
        <wadl:doc title="List events" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all events.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &eventQueryParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/events-list-response.json"/>
                </wadl:doc>
                &eventResponseParameters;
            </representation>
        </response>
    </method>
    <method id="showEvent" name="GET">
        <wadl:doc title="Show event details" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for an event.
            </para>
        </wadl:doc>
        <request/>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/event-show-response.json"/>
                </wadl:doc>
                &eventResponseParameters;
            </representation>
        </response>
    </method>
</application>
