api-ref/src/wadls/compute-api/src/os-compute-2-images.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-compute-2.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v1.1
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       http://wadl.dev.java.net/2009/02 
                       http://www.w3.org/Submission/wadl/wadl.xsd
                       ">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param> 
                <resource id="Images" type="#ImageList" path="images">
                    <resource path="detail" type="#DetailImageList"/>
                    <resource path="{image_id}">
                        <param name="image_id" style="template"
                            type="csapi:UUID">
                            <doc xml:lang="EN" title="image_id">
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >UUID for the specific image. </p>
                            </doc>
                        </param>
                        <method href="#getImage"/>
                        <method href="#deleteImage"/>
                        <resource path="metadata"
                            type="#Metadata #MetadataList"/>
                    </resource>
                </resource>         
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="DetailImageList">
        <doc xml:lang="EN" title="Detail Image List">
            <p xmlns="http://www.w3.org/1999/xhtml">A detailed image
                list. </p>
        </doc> &imageListParameters; <method href="#listDetailImages"/>

    </resource_type>
    <resource_type id="ImageList">
        <doc xml:lang="EN" title="Image List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of images.
                Each image contains IDs, names, and links -- other
                attributes are omitted. </p>
        </doc> &imageListParameters; <method href="#listImages"/>
    </resource_type>
    <resource_type id="Metadata">
        <doc xml:lang="EN" title="Metadata">
            <p xmlns="http://www.w3.org/1999/xhtml">The metadata resource
                type, which is images. </p>
        </doc>
        <method href="#setMetadata"/>
        <method href="#updateMetadata"/>
        <resource id="MetadataKey" path="{key}">
            <param name="key" style="template"
                type="csapi:MetadataKey">
                <doc xml:lang="EN" title="Metadata key">
                    <p xmlns="http://www.w3.org/1999/xhtml">The metadata key. Maximum length is 
                        255 characters. </p>
                </doc>
            </param>
            <method href="#getMetadataItem"/>
            <method href="#setMetadataItem"/>
            <method href="#deleteMetadataItem"/>
        </resource>
    </resource_type>
    
    <resource_type id="MetadataList">
        <doc xml:lang="EN" title="Metadata List">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists
                metadata. </p>
        </doc>
        <method href="#listMetadata"/>
    </resource_type>
   
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

  

    <!-- Images -->
    <method name="GET" id="listDetailImages">
        <wadl:doc xml:lang="EN" title="List Images Details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all details for available
                images. </para>
        </wadl:doc>
        <request/>
        <!--&imageListParameters; </request> -->
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:images">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-details-get-resp.xml"
                    />
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the next item in the list.</p></doc>
                    <link resource_type="#DetailImageList" rel="next"
                    />
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#DetailImageList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-details-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="listImages">
        <doc xml:lang="EN" title="List Images">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists IDs, names,
                and links for available images. </p>
        </doc>
        <request/>
        <!--&imageListParameters; </request> -->
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:images">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-list-get-resp.xml"/>
                </doc>
                <param name="images" style="plain" required="true"
                    type="csapi:ImagesWithOnlyIDsNamesLinks"
                    path="/csapi:images">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Image
                            information.</p></doc>
                </param>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the next item in the list.</p></doc>
                    <link resource_type="#ImageList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#ImageList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-list-get-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="getImage">
        <doc xml:lang="EN" title="Get Image Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details for a
                specified image. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:image">
                <doc>
                    <xsdxt:code href="api_samples/image-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="api_samples/image-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteImage">
        <doc xml:lang="EN" title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified image. </p>
        </doc>
        <response status="204"/>
        <!-- Common and GET Faults --> &commonFaults; &getFaults; </method>

    <!-- Metadata -->
    <method name="GET" id="listMetadata">
        <doc xml:lang="EN" title="List Metadata">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists metadata
                associated with the image. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.xml"
                    />
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the next item in the list.</p></doc>
                    <link resource_type="#MetadataList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the previous item in the
                        list.</p></doc>
                    <link resource_type="#MetadataList" rel="previous"
                    />
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>
    
    <method name="POST" id="updateMetadata">
        <wadl:doc xml:lang="EN" title="Update Metadata"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates metadata items. </para>
            <p xmlns="http://www.w3.org/1999/xhtml">For an image, updates existing metadata items
                with the same key. Items not explicitly mentioned in
                the request are not modified. An overLimit
                (<errorcode>413</errorcode>) fault might be thrown
                if the operation causes the maximum number of metadata
                items to be exceeded. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-req.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-req.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-resp.xml"
                    />
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the next item in the list.</p></doc>
                    <link resource_type="#MetadataList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the previous item in the
                        list.</p></doc>
                    <link resource_type="#MetadataList" rel="previous"
                    />
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    
    <method name="PUT" id="setMetadata">
        <wadl:doc xml:lang="EN" title="Create or Replace Metadata"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Sets metadata for an image. </para>
            <p xmlns="http://www.w3.org/1999/xhtml">The metadata items
                set on the image are those specified on the
                requests. Existing metadata items are replaced with
                the ones provided in the request. Metadata items, set
                previously, but not specified in the request are
                removed. </p>
            <p xmlns="http://www.w3.org/1999/xhtml">An overLimit
                (<errorcode>413</errorcode>) fault might be thrown
                if the maximum number of metadata items is exceeded.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-req.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-req.json"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-resp.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the next item in the list.</p></doc>
                    <link resource_type="#MetadataList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the previous item in the
                        list.</p></doc>
                    <link resource_type="#MetadataList" rel="previous"
                    />
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    
    <method name="GET" id="getMetadataItem">
        <wadl:doc xml:lang="EN" title="Get Metadata Item"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets a metadata item associated
                with an image. </para>
            <p xmlns="http://www.w3.org/1999/xhtml">Retrieves a single
                metadata item by key. </p>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>
    
    <method name="PUT" id="setMetadataItem">
        <wadl:doc xml:lang="EN" title="Create or Update Metadata Item"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Sets a metadata item for an image. </para>
            <p xmlns="http://www.w3.org/1999/xhtml">Sets a metadata
                item by its key. An overLimit
                (<errorcode>413</errorcode>) fault might be thrown
                if the operation causes the maximum number of metadata
                items to be exceeded. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-req.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-req.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    
    <method name="DELETE" id="deleteMetadataItem">
        <doc xml:lang="EN" title="Delete Metadata Item">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a metadata
                item for an image. </p>
        </doc>
        <response status="204"/>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>

</application>
