api-ref/src/wadls/compute-api/src/os-compute-2-server-addresses.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-compute-2.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v1.1
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       http://wadl.dev.java.net/2009/02 
                       http://www.w3.org/Submission/wadl/wadl.xsd
                       ">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param>
                <resource id="Servers" type="#ServerList"
                    path="servers">  
                    <resource path="ips" type="#Addresses">
                        <resource path="{network_id}"
                            type="#NetworkAddressList">
                            <param name="network_id" style="template"
                                type="xsd:string">
                                <doc xml:lang="EN" title="network_id">
                                   <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The network ID. </p>
                                </doc>
                            </param>
                        </resource>
                    </resource>
                </resource>       
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="Addresses">
        <doc xml:lang="EN" title="Addresses">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of
                addresses associated with a server. </p>
        </doc>
        <method href="#getServerAddresses"/>
    </resource_type>
    <resource_type id="NetworkAddressList">
        <doc xml:lang="EN" title="Network Address List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of
                addresses associated with a network. </p>
        </doc>
        <method href="#getNetworkAddresses"/>
    </resource_type>
   

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- IPs -->
    <method name="GET" id="getServerAddresses">
        <doc xml:lang="EN" title="List Addresses">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all server
                addresses. </p>
        </doc>
        <request>
            <param name="changes-since" style="query" required="false"
                type="xsd:dateTime"
                path="/csapi:addresses/atom:link[@rel='changes-since']/@href">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        time/date stamp for the last changed status.
                        Checks for changes since a previous request.
                        Specify the changes-since time as UNIX time
                        (the number of seconds since January 1, 1970,
                        00:00:00 UTC, not counting leap seconds). If
                        nothing has changed since the changes-since
                        time, a 304 (Not Modified) response is
                        returned. If data has changed, only the items
                        changed since the specified time are returned
                        in the response.</p></doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:addresses">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/addresses.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:addresses/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the next item in the list.</p></doc>
                    <link resource_type="#Addresses" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:addresses/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#Addresses" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/addresses.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>

    <method name="GET" id="getNetworkAddresses">
        <doc xml:lang="EN" title="List Addresses by Network">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists addresses by
                network ID. </p>
        </doc>
        <request>
            <param name="changes-since" style="query" required="false"
                type="xsd:dateTime"
                path="/csapi:addresses/atom:link[@rel='changes-since']/@href">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        time/date stamp for the last changed status.
                        Checks for changes since a previous request.
                        Specify the changes-since time as UNIX time
                        (the number of seconds since January 1, 1970,
                        00:00:00 UTC, not counting leap seconds). If
                        nothing has changed since the changes-since
                        time, a 304 (Not Modified) response is
                        returned. If data has changed, only the items
                        changed since the specified time are returned
                        in the response.</p></doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:public">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/public.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:network/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the next item in the list.</p></doc>
                    <link resource_type="#NetworkAddressList"
                        rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:network/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#NetworkAddressList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/public.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>
</application>
