api-ref/src/wadls/compute-api/src/os-compute-2-flavors.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-compute-2.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v1.1
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       http://wadl.dev.java.net/2009/02 
                       http://www.w3.org/Submission/wadl/wadl.xsd
                       ">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param>
                <resource id="Flavors" type="#FlavorList"
                    path="flavors">
                    <resource path="detail" type="#DetailFlavorList"/>
                    <resource path="{flavor_id}">
                        <param name="flavor_id" style="template"
                            type="csapi:UUID">
                            <doc xml:lang="EN" title="flavor_id">
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the specified flavor.
                                   A flavor is a combination of
                                   memory, disk size, and CPUs. </p>
                            </doc>
                        </param>
                        <method href="#getFlavor"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

   
    <resource_type id="DetailFlavorList">
        <doc xml:lang="EN" title="Detail Flavor List">
            <p xmlns="http://www.w3.org/1999/xhtml">A detailed flavor
                list. </p>
        </doc>
        <method href="#listDetailFlavors"/>
    </resource_type>
    <resource_type id="FlavorList">
        <doc xml:lang="EN" title="Flavor List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of flavors.
                The list shows the ID, name, and links for each
                flavor. </p>
        </doc>
        <method href="#listFlavors"/>
    </resource_type>
  

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

  
    <!-- Flavors -->
    <method name="GET" id="listFlavors">
        <doc xml:lang="EN" title="List Flavors">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists IDs, names,
                and links for available flavors. </p>
        </doc>
        <request> &flavorListParameters; </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:flavors">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.xml"/>
                </doc>
                <param name="flavors" style="plain" required="true"
                    type="csapi:FlavorsWithOnlyIDsNamesLinks"
                    path="/csapi:flavors">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml"
                            >Flavors are known combinations of memory,
                            disk space, and number of CPUs.</p></doc>
                </param>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the next item in the list.</p></doc>
                    <link resource_type="#FlavorList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Move
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#FlavorList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="listDetailFlavors">
        <doc xml:lang="EN" title="List Details for Flavors">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                available flavors. </p>
        </doc>
        <request> &flavorListParameters; </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:flavors">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#DetailFlavorList" rel="next"
                    />
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#DetailFlavorList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="getFlavor">
        <doc xml:lang="EN" title="Get Flavor Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details for a
                specified flavor. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:flavor">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/flavor-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavor-get-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>
</application>
