api-ref/src/wadls/compute-api/src/os-compute-2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-compute-2.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v1.1
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       http://wadl.dev.java.net/2009/02 
                       http://www.w3.org/Submission/wadl/wadl.xsd
                       ">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</p>
                    </doc>
                </param>
                <resource id="extensions" type="#ExtensionList"
                    path="extensions">
                    <resource id="extension" path="{alias}">
                        <param name="alias" style="template"
                            type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >An alias, which is a name for a pointer
                                   to a resource. For example, a named
                                   extension.</p>
                            </doc>
                        </param>
                        <method href="#getExtension"/>
                    </resource>
                </resource>
                <resource id="limits" path="limits">
                    <method href="#listLimits"/>
                </resource>
                <resource id="Servers" type="#ServerList"
                    path="servers">
                    <method href="#createServer"/>
                    <resource id="server_detail" path="detail"
                        type="#DetailServerList"/>
                    <resource id="server_id" path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you.</p>
                            </doc>
                        </param>
                        <method href="#getServer"/>
                        <method href="#updateServer"/>
                        <method href="#deleteServer"/>
                        
                            <resource id="metadata" path="metadata"
                                type="#Metadata #MetadataList">
                                <resource id="MetadataKey" path="{key}">
                                    <param name="key" style="template"
                                        type="csapi:MetadataKey">
                                        <doc xml:lang="EN" title="Metadata Item Key">
                                            <p xmlns="http://www.w3.org/1999/xhtml">A string. Maximum length is
                                                255 characters.</p>
                                        </doc>
                                    </param>
                                    <method href="#getMetadataItem"/>
                                    <method href="#setMetadataItem"/>
                                    <method href="#deleteMetadataItem"/>
                                </resource>
                            </resource>
                        </resource>
                        <resource id="action" path="action">
                            <method href="#changePassword"/>
                            <method href="#rebootServer"/>
                            <method href="#rebuildServer"/>
                            <method href="#resizeServer"/>
                            <method href="#confirmServer"/>
                            <method href="#revertServer"/>
                            <method href="#createImage"/>
                        </resource>
                    </resource>
                   
                    <resource id="ips" path="ips" type="#Addresses">
                        <resource id="network_id" path="{network_id}"
                            type="#NetworkAddressList">
                            <param name="network_id" style="template"
                                type="xsd:string">
                                <doc xml:lang="EN" title="network_id">
                                   <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > Network ID.</p>
                                </doc>
                            </param>
                            <method href="#getServerAddresses"/>
                            <!--<method href="#getNetworkAddresses"/>-->
                        </resource>
                    </resource>
                </resource>
                <resource id="Images" type="#ImageList" path="images">
                    <resource id="image_detail" path="detail"
                        type="#DetailImageList"/>
                    <resource id="image_id" path="{image_id}">
                        <param name="image_id" style="template"
                            type="csapi:UUID">
                            <doc xml:lang="EN" title="image_id">
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the image.</p>
                            </doc>
                        </param>
                        <method href="#getImage"/>
                        <method href="#deleteImage"/>
                        <resource id="image_metadata" path="metadata"
                            type="#Metadata #MetadataList">
                            <resource id="imageMetadataKey" path="{key}">
                                <param name="key" style="template"
                                    type="csapi:MetadataKey">
                                    <doc xml:lang="EN" title="Metadata Item Key">
                                        <p xmlns="http://www.w3.org/1999/xhtml">A string. Maximum length is
                                            255 characters.</p>
                                    </doc>
                                </param>
                                <method href="#getMetadataItem"/>
                                <method href="#setMetadataItem"/>
                                <method href="#deleteMetadataItem"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Flavors" type="#FlavorList"
                    path="flavors">
                    <resource id="flavor_detail" path="detail"
                        type="#DetailFlavorList"/>
                    <resource id="flavor_id" path="{flavor_id}">
                        <param name="flavor_id" style="template"
                            type="csapi:UUID">
                            <doc xml:lang="EN" title="flavor_id">
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >UUID for the specific flavor
                                   (combination of memory, disk size,
                                   and CPUs).</p>
                            </doc>
                        </param>
                        <method href="#getFlavor"/>
                    </resource>
                </resource>
                </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <method href="#versionDetails"/>
    </resource_type>

    <resource_type id="ExtensionList">
        <doc xml:lang="EN" title="Detail Image List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of
                supported extensions.</p>
        </doc>
        <method href="#listExtensions"/>
    </resource_type>

    <resource_type id="DetailServerList">
        <doc xml:lang="EN" title="Detail Image List">
            <p xmlns="http://www.w3.org/1999/xhtml">A detailed server
                list.</p>
        </doc>
        <method href="#listDetailServers"/>
    </resource_type>
    <resource_type id="ServerList">
        <doc xml:lang="EN" title="Server List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of servers.
                Each server contains IDs, names, and links. Other
                attributes are omitted.</p>
        </doc>
        <method href="#listServers"/>
    </resource_type>

    <resource_type id="Addresses">
        <doc xml:lang="EN" title="Addresses">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of
                addresses associated with a server.</p>
        </doc>
        <method href="#getServerAddresses"/>
    </resource_type>
    <resource_type id="NetworkAddressList">
        <doc xml:lang="EN" title="Network Address List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of
                addresses associated with a network.</p>
        </doc>
        <method href="#getNetworkAddresses"/>
    </resource_type>
    <resource_type id="DetailImageList">
        <doc xml:lang="EN" title="Detail Image List">
            <p xmlns="http://www.w3.org/1999/xhtml">A detailed image
                list.</p>
        </doc>
        <method href="#listDetailImages"/>
    </resource_type>
    <resource_type id="ImageList">
        <doc xml:lang="EN" title="Image List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of images.
                Each image contains IDs, names, and links -- other
                attributes are omitted.</p>
        </doc>
        <method href="#listImages"/>
    </resource_type>
    <resource_type id="DetailFlavorList">
        <doc xml:lang="EN" title="Detail Flavor List">
            <p xmlns="http://www.w3.org/1999/xhtml">A detailed flavor
                list.</p>
        </doc>
        <method href="#listDetailFlavors"/>
    </resource_type>
    <resource_type id="FlavorList">
        <doc xml:lang="EN" title="Flavor List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of flavors.
                Each flavor contains IDs, names, and links -- other
                attributes are omitted.</p>
        </doc>
        <method href="#listFlavors"/>
    </resource_type>
    <resource_type id="Metadata">
        <doc xml:lang="EN" title="Metadata">
            <p xmlns="http://www.w3.org/1999/xhtml">Metadata resource
                type, this is used for images and servers.</p>
        </doc>
        <method href="#setMetadata"/>
        <method href="#updateMetadata"/>
    </resource_type>
    
    <resource_type id="MetadataList">
        <doc xml:lang="EN" title="Metadata List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of
                metadata.</p>
        </doc>
        <method href="#listMetadata"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->
    <method name="GET" id="versionDetails">
        <doc xml:lang="EN" title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details about
                this specific version of the API.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="common:version">
                <doc>
                    <xsdxt:code
                        href="api_samples/versions-get-resp.xml"/>
                </doc>
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <doc xml:lang="EN" title="Location"><p
                            xmlns="http://www.w3.org/1999/xhtml">Full
                            URL to a service or server.</p></doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/versions-get-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <!-- Limits -->
    <method name="GET" id="listLimits">
        <doc xml:lang="EN" title="List Limits">
            <p xmlns="http://www.w3.org/1999/xhtml">Returns current
                limits for the account.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="common:limits">
                <doc>
                    <xsdxt:code href="api_samples/limit-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="api_samples/limit-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <!-- Extensions -->
    <method name="GET" id="listExtensions">
        <doc xml:lang="EN" title="List Extensions">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all
                available extensions.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="common:extensions">
                <doc>
                    <xsdxt:code
                        href="api_samples/all_extensions/extensions-get-resp.xml"
                    />
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/common:extensions/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#ExtensionList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/common:extensions/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#ExtensionList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/all_extensions/extensions-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="getExtension">
        <wadl:doc xml:lang="EN" title="Get Extension"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets details about the specified
                extension.</para><para>Extensions introduce features and
                vendor-specific functionality to the API without
                requiring a version change.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="common:extension">
                <doc>
                    <xsdxt:code
                        href="api_samples/all_extensions/extension-detail-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/all_extensions/extension-detail-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>
    <!-- Servers -->
    <method name="POST" id="createServer">
        <doc xml:lang="EN" title="Create Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a server.
            </p>
        </doc>
        <request> &serverCreateParameters; <representation
                mediaType="application/xml" element="csapi:server">
                <param name="server" style="plain" required="true"
                    type="csapi:ServerForCreate" path="/csapi:server">
                    <doc xml:lang="EN" title="server">
                        <p xmlns="http://www.w3.org/1999/xhtml"
                            >Server.</p>
                    </doc>
                </param>
                <param name="imageRef" style="plain" required="true"
                    type="csapi:string">
                    <doc xml:lang="EN" title="imageRef">
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            image reference for the desired image for
                            your server instance.</p>
                        <p xmlns="http://www.w3.org/1999/xhtml"
                            >Specify as an ID or full URL.</p></doc>
                </param>
                <param name="flavorRef" style="plain" required="true"
                    type="csapi:string">
                    <doc xml:lang="EN" title="flavorRef">
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            flavor reference for the desired flavor
                            for your server instance.</p>
                        <p xmlns="http://www.w3.org/1999/xhtml"
                            >Specify as an ID or full URL.</p></doc>
                </param>
                <param name="name" style="plain" required="true"
                    type="csapi:string">
                    <doc xml:lang="EN" title="name">
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            name for your created server.</p></doc>
                </param>
                <param name="metadata" style="plain" required="false"
                    type="csapi:string">
                    <doc xml:lang="EN" title="metadata">
                        <p xmlns="http://www.w3.org/1999/xhtml"
                            >Metadata key and value pairs. The maximum
                            size of the metadata key and value is 255
                            bytes each.</p></doc>
                </param>
                <param name="personality" style="plain"
                    required="false" type="csapi:string">
                    <doc xml:lang="EN" title="personality">
                        <p xmlns="http://www.w3.org/1999/xhtml">File
                            path and contents (text only) to inject
                            into the server at launch. The maximum
                            size of the file path data is 255 bytes.
                            The maximum limit refers to the number of
                            bytes in the decoded data and not the
                            number of characters in the encoded
                            data.</p></doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/server-post-req.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code href="api_samples/server-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <param name="Location" style="header" required="true"
                type="xsd:anyURI">
                <doc xml:lang="EN" title="Location"><p
                        xmlns="http://www.w3.org/1999/xhtml">Full URL
                        to a server created by the service.</p></doc>
            </param>
            <representation mediaType="application/xml"
                element="csapi:server">
                <doc>
                    <xsdxt:code
                        href="api_samples/server-post-resp.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/server-post-resp.json"/>
                </doc>
            </representation>
        </response>
        <response status="422">
            <representation mediaType="application/xml"
                element="csapi:UnprocessableEntity"> </representation>
            <representation mediaType="application/json"
            > </representation>
        </response>
        <!-- All other common faults except build in progess -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults; </method>

    <method name="GET" id="listServers">
        <doc xml:lang="EN" title="List Servers">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists IDs, names,
                and links for all servers.</p>
        </doc>
        <request> &serverListParameters; </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:servers">
                <param name="servers" style="plain" required="true"
                    type="csapi:ServersWithOnlyIDsNamesLinks"
                    path="/csapi:servers/atom:link[@rel='servers']/@href">
                    <doc xml:lang="EN"><p
                            xmlns="http://www.w3.org/1999/xhtml">List
                            of servers.</p>
                        <xsdxt:code
                            href="api_samples/servers-list-resp.xml"/>
                    </doc>
                    <link resource_type="#ServerList" rel="servers"/>
                </param>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:servers/atom:link[@rel='next']/@href">
                    <doc xml:lang="EN"><p
                            xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#ServerList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:servers/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#ServerList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/servers-list-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="listDetailServers">
        <doc xml:lang="EN" title="List Detail Servers">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                all servers.</p>
        </doc>
        <request> &serverListParameters; </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:servers">
                <doc>
                    <p xmlns="http://docbook.org/ns/docbook">The
                        following examples show the list server
                        responses:</p>
                    <xsdxt:code
                        href="api_samples/servers-details-resp.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:servers/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#DetailServerList" rel="next"
                    />
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:servers/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#DetailServerList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/servers-details-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="getServer">
        <doc xml:lang="EN" title="Get Server Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details for a
                specified server.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:server">
                <doc>
                    <xsdxt:code href="api_samples/server-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/server-get-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>

    <method name="PUT" id="updateServer">
        <doc xml:lang="EN" title="Update Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates the
                editable attributes of the specified server.</p>
        </doc>
        <request>
            <param name="name" style="plain" required="false"
                type="csapi:ServerForUpdate" path="/csapi:server">
                <doc xml:lang="EN">
                    <p xmlns="http://www.w3.org/1999/xhtml">The name
                        of the server. If you edit the server name,
                        the server host name does not change. Also,
                        server names are not guaranteed to be unique.
                    </p>
                </doc>
            </param>
            <param name="accessIPv4" style="plain" required="false"
                type="csapi:ServerForUpdate" path="/csapi:server">
                <doc xml:lang="EN">
                    <p xmlns="http://www.w3.org/1999/xhtml">The IP
                        version 4 address.</p>
                </doc>
            </param>
            <param name="accessIPv6" style="plain" required="false"
                type="csapi:ServerForUpdate" path="/csapi:server">
                <doc xml:lang="EN">
                    <p xmlns="http://www.w3.org/1999/xhtml">The IP
                        version 6 address.</p>
                </doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server Name Request: JSON">
                    <xsdxt:code href="api_samples/server-put-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server Name Request: XML">
                    <xsdxt:code href="api_samples/server-put-req.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Request: JSON">
                    <xsdxt:code
                        href="api_samples/server-put-req-ad.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Request: XML">
                    <xsdxt:code
                        href="api_samples/server-put-req-ad.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    title="Update Server Name Response: JSON"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/server-put-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server Name Response: XML">
                    <xsdxt:code href="api_samples/server-put-resp.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Response: JSON">
                    <xsdxt:code
                        href="api_samples/server-put-resp-ad.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Response: XML">
                    <xsdxt:code
                        href="api_samples/server-put-resp-ad.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>

    <method name="DELETE" id="deleteServer">
        <doc xml:lang="EN" title="Delete Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified server.</p>
        </doc>
        <response status="204"/>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>

    <!-- Server Actions -->
    <method name="POST" id="changePassword">
        <doc xml:lang="EN" title="Change Password">
            <p xmlns="http://www.w3.org/1999/xhtml">Changes the
                password for a server. Specify the
                    <code>changePassword</code> action in the request
                body.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:changePassword">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-changepassword.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-changepassword.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &inProgressFault; </method>

    <method name="POST" id="rebootServer">
        <doc xml:lang="EN" title="Reboot Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Reboots the
                specified server. Specify the <code>reboot</code>
                action in the request body.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:reboot">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-reboot.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-reboot.json"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &inProgressFault; </method>

    <method name="POST" id="rebuildServer">
        <doc xml:lang="EN" title="Rebuild Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Rebuilds the
                specified server. Specify the <code>rebuild</code>
                action in the request body.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:rebuild">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-rebuild.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-rebuild.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <param name="Location" style="header" required="true"
                type="xsd:anyURI">
                <doc xml:lang="EN" title="Location">
                    <p xmlns="http://www.w3.org/1999/xhtml">Specific
                        URL of the server you want to rebuild.
                    </p></doc>
            </param>
            <representation mediaType="application/xml"
                element="csapi:server">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-rebuild-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-rebuild-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>

    <method name="POST" id="resizeServer">
        <doc xml:lang="EN" title="Resize Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Resizes the
                specified server. Specify the <code>resize</code>
                action in the request body.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:resize">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-resize.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-resize.json"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>

    <method name="POST" id="confirmServer">
        <doc xml:lang="EN" title="Confirm Resized Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Confirms a pending
                resize action. Specify the <code>confirmResize</code>
                action in the request body.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:confirmResize">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-confirmresize.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-confirmresize.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="204"/>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>

    <method name="POST" id="revertServer">
        <doc xml:lang="EN" title="Revert Resized Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Cancels and
                reverts a pending resize action. Specify the
                    <code>revertResize</code> action in the request
                body.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:revertResize">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-revertresize.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-action-revertresize.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>

    <method name="POST" id="createImage">
        <doc xml:lang="EN" title="Create Image">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a new
                image. Specify the <code>createImage</code> action in
                the request body.</p>
        </doc>
        <request>
            <param name="name" style="plain" required="true"
                type="csapi:ServerForCreate" path="/csapi:server">
                <doc xml:lang="EN" title="name">
                    <p xmlns="http://www.w3.org/1999/xhtml">Name of
                        the snapshot.</p>
                </doc>
            </param>
            <param name="createImage" style="plain" required="true"
                type="csapi:ServerForCreate" path="/csapi:server">
                <doc xml:lang="EN" title="createImage">
                    <p xmlns="http://www.w3.org/1999/xhtml">A
                        dictionary representation of a creation for
                        image.</p>
                </doc>
            </param>
            <param name="metadata" style="plain" required="false"
                type="csapi:ServerForCreate" path="/csapi:server">
                <doc xml:lang="EN" title="metadata">
                    <p xmlns="http://www.w3.org/1999/xhtml">Metadata
                        key and value pairs. The maximum size of the
                        metadata key and value is 255 bytes each.</p>
                </doc>
            </param>
            <representation mediaType="application/xml"
                element="csapi:createImage">
                <doc>
                    <xsdxt:code
                        href="api_samples/server-action-createimage.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/server-action-createimage.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <param name="Location" style="header" required="true"
                type="xsd:anyURI"/>
        </response>
        <response status="409">
            <representation mediaType="application/xml"
                element="csapi:backupOrResizeInProgress"/>
            <representation mediaType="application/json"/>
        </response>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>
    <!-- IPs -->
    <method name="GET" id="getServerAddresses">
        <doc xml:lang="EN" title="List Addresses">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all server
                addresses.</p>
        </doc>
        <request>
            <param name="changes-since" style="query" required="false"
                type="xsd:dateTime"
                path="/csapi:addresses/atom:link[@rel='changes-since']/@href">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        time/date stamp for the last changed status.
                        Checks for changes since a previous request.
                        Specify the changes-since time as UNIX time
                        (the number of seconds since January 1, 1970,
                        00:00:00 UTC, not counting leap seconds). If
                        nothing has changed since the changes-since
                        time, a 304 (Not Modified) response is
                        returned. If data has changed, only the items
                        changed since the specified time are returned
                        in the response.</p></doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:addresses">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/addresses.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:addresses/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#Addresses" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:addresses/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#Addresses" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/addresses.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>

    <method name="GET" id="getNetworkAddresses">
        <doc xml:lang="EN" title="List Addresses by Network">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists addresses by
                network ID.</p>
        </doc>
        <request>
            <param name="changes-since" style="query" required="false"
                type="xsd:dateTime"
                path="/csapi:addresses/atom:link[@rel='changes-since']/@href">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        time/date stamp for the last changed status.
                        Checks for changes since a previous request.
                        Specify the changes-since time as UNIX time
                        (the number of seconds since January 1, 1970,
                        00:00:00 UTC, not counting leap seconds). If
                        nothing has changed since the changes-since
                        time, a 304 (Not Modified) response is
                        returned. If data has changed, only the items
                        changed since the specified time are returned
                        in the response.</p></doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:public">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/public.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:network/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#NetworkAddressList"
                        rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:network/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#NetworkAddressList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/public.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>

    <!-- Flavors -->
    <method name="GET" id="listFlavors">
        <doc xml:lang="EN" title="List Flavors">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists IDs, names,
                and links for available flavors.</p>
        </doc>
        <request> &flavorListParameters; </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:flavors">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.xml"/>
                </doc>
                <param name="flavors" style="plain" required="true"
                    type="csapi:FlavorsWithOnlyIDsNamesLinks"
                    path="/csapi:flavors">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml"
                            >Flavors are known combinations of memory,
                            disk space, and number of CPUs.</p></doc>
                </param>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#FlavorList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#FlavorList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="listDetailFlavors">
        <doc xml:lang="EN" title="List Detail Flavors">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all details
                for available flavors.</p>
        </doc>
        <request> &flavorListParameters; </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:flavors">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#DetailFlavorList" rel="next"
                    />
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:flavors/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#DetailFlavorList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavors-list-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="getFlavor">
        <doc xml:lang="EN" title="Get Flavor Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details for a
                specified flavor.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:flavor">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/flavor-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/flavor-get-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>

    <!-- Images -->
    <method name="GET" id="listDetailImages">
        <wadl:doc xml:lang="EN" title="List Images Details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all details for available
                images.</para>
        </wadl:doc>
        <request/>
        <!--&imageListParameters; </request> -->
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:images">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-details-get-resp.xml"
                    />
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#DetailImageList" rel="next"
                    />
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#DetailImageList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-details-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="listImages">
        <doc xml:lang="EN" title="List Images">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists IDs, names,
                and links for available images.</p>
        </doc>
        <request/>
        <!--&imageListParameters; </request> -->
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:images">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-list-get-resp.xml"/>
                </doc>
                <param name="images" style="plain" required="true"
                    type="csapi:ImagesWithOnlyIDsNamesLinks"
                    path="/csapi:images">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Image
                            information.</p></doc>
                </param>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the next item in the list.</p></doc>
                    <link resource_type="#ImageList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:images/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                            to the previous item in the
                        list.</p></doc>
                    <link resource_type="#ImageList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="api_samples/images-list-get-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="getImage">
        <doc xml:lang="EN" title="Get Image Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details for a
                specified image.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:image">
                <doc>
                    <xsdxt:code href="api_samples/image-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="api_samples/image-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteImage">
        <doc xml:lang="EN" title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified image.</p>
        </doc>
        <response status="204"/>
        <!-- Common and GET Faults --> &commonFaults; &getFaults;
    </method>

    <!-- Metadata -->
    <method name="GET" id="listMetadata">
        <wadl:doc  xml:lang="EN" 
            xmlns="http://docbook.org/ns/docbook" title="List Metadata">
            <para role="shortdesc">Lists metadata
                for the specified resource.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.xml"
                    />
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the next item in the list.</p></doc>
                    <link resource_type="#MetadataList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the previous item in the
                        list.</p></doc>
                    <link resource_type="#MetadataList" rel="previous"
                    />
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>
    
    <method name="POST" id="updateMetadata">
        <wadl:doc xml:lang="EN" title="Update Metadata Items"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates metadata items by key for the specified resource.</para>
            <para>Replaces items that match
                the specified keys and does not modify items not specified in the request.</para>
<para>An overLimit
                (<errorcode>413</errorcode>) fault might be thrown
                if the operation causes the quota for metadata
                items to be exceeded.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-req.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-req.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-resp.xml"
                    />
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the next item in the list.</p></doc>
                    <link resource_type="#MetadataList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the previous item in the
                        list.</p></doc>
                    <link resource_type="#MetadataList" rel="previous"
                    />
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-post-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
 
    <method name="PUT" id="setMetadata">
        <wadl:doc xml:lang="EN" title="Create or Replace Metadata"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Sets metadata for the specified resource.</para>
            <para>Replaces items that match
                the specified keys and removes items not specified in the request.</para>
            <para>An overLimit
                (<errorcode>413</errorcode>) fault might be thrown
                if the operation causes the quota for metadata
                items to be exceeded.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-req.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-req.json"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-resp.xml"/>
                </doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='next']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the next item in the list.</p></doc>
                    <link resource_type="#MetadataList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/csapi:metadata/atom:link[@rel='previous']/@href">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Moves
                        to the previous item in the
                        list.</p></doc>
                    <link resource_type="#MetadataList" rel="previous"
                    />
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/server-metadata-resp.json"/>
                </doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    
    <method name="GET" id="getMetadataItem">
        <wadl:doc xml:lang="EN" title="Get Metadata Item"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets a metadata item by key for the specified resource.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>
    
    <method name="PUT" id="setMetadataItem">
        <wadl:doc xml:lang="EN" title="Create or Update Metadata Item"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Sets a metadata item by key for the specified resource.</para>
            <para>An overLimit
                (<errorcode>413</errorcode>) fault might be thrown
                if the operation causes the quota for metadata
                items to be exceeded.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-req.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-req.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/image-metadata-put-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    
    <method name="DELETE" id="deleteMetadataItem">
        <doc xml:lang="EN" title="Delete Metadata Item">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a metadata
                item by key for the specified resource.</p>
        </doc>
        <response status="204"/>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>
</application>
