api-ref/src/wadls/volume-api/src/v2/wadl/backups-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://volume.example.com/"
        xml:id="volume-backups-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="backups" path="backups">
                    <method href="#createBackup"/>
                    <method href="#listBackups"/>
                    <resource path="detail" id="detail">
                        <method href="#listBackupsDetails"/>
                    </resource>
                    <resource path="{backup_id}" id="backup_id">
                        &backup_idTemplateParameter;
                        <method href="#showBackup"/>
                        <method href="#deleteBackup"/>
                        <resource path="restore" id="restore">
                            <method href="#restoreBackup"/>
                        </resource>
                        <resource path="action" id="action">
                            <method href="#forceDeleteBackup"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createBackup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create backup">
            <para role="shortdesc">
                Creates a Block Storage backup from a volume.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backup-create-request.json"
                    />
                </wadl:doc>
                &volume_backupObjectParameter;
                &volume_backupCreateRequestParameters;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backup-create-response.json"
                    />
                </wadl:doc>
                &volume_backupObjectParameter;
                &volume_backupCreateResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listBackups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List backups">
            <para role="shortdesc">
                Lists Block Storage backups to which the tenant has access.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &sort_keyQueryParameter;
                &sort_dirQueryParameter;
                &limitMarkerReqParameter;
            </representation>
        </request>
        <response status="200">

            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backups-list-response.json"
                    />
                </wadl:doc>
                <param name="backups" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A <code>backups</code>
                        object.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The UUID of the backup.</para></wadl:doc>
                </param>
                <param name="links" style="plain" type="xsd:dict"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Links for the backup.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The backup name.</para></wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="listBackupsDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List backups with details">
            <para role="shortdesc">
                Lists Block Storage backups, with details, to which the tenant
                has access.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &sort_keyQueryParameter;
                &sort_dirQueryParameter;
                &limitMarkerReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backups-list-detailed-response.json"
                    />
                </wadl:doc>
                <param name="backups" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A <code>backups</code>
                        object.</para></wadl:doc>
                </param>
                <param name="availability_zone" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The availability zone.</para></wadl:doc>
                </param>
                <param name="container" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The container name or
                        null.</para></wadl:doc>
                </param>
                &created_at-ResponseParameter;
                <param name="description" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The backup description or
                        null.</para></wadl:doc>
                </param>
                <param name="fail_reason" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>If the backup failed, the reason for the
                            failure. Otherwise,
                        null.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The UUID of the backup.</para></wadl:doc>
                </param>
                <param name="links" style="plain" type="xsd:dict"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Links for the backup.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The backup name.</para></wadl:doc>
                </param>
                <param name="object_count" style="plain"
                    type="xsd:int" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The number of objects in the
                            backup.</para></wadl:doc>
                </param>
                <param name="size" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The size of the backup, in
                        GB.</para></wadl:doc>
                </param>
                <param name="status" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The backup status, such as
                            available.</para></wadl:doc>
                </param>
                <param name="volume_id" style="plain"
                    type="csapi:UUID" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The UUID of the volume from which the
                            backup was created.</para></wadl:doc>
                </param>
                <param name="is_incremental" style="plain"
                    type="xsd:boolean" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Indicates whether the backup mode is incremental.
                            If this value is <code>True</code>, the backup
                            mode is incremental. If this value is
                            <code>False</code>, the backup mode is full.
                        </para>
                    </wadl:doc>
                </param>
                <param name="has_dependent_backups" style="plain"
                    type="xsd:boolean" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Indicates whether the backup depends on other
                            backups. If this value is <code>True</code>, the
                            backup depends on other backups.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showBackup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show backup details">
            <para role="shortdesc">
                Shows details for a backup.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backup-show-response.json"
                    />
                </wadl:doc>
                <param name="backup" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A <code>backup</code>
                        object.</para></wadl:doc>
                </param>
                <param name="availability_zone" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The availability zone.</para></wadl:doc>
                </param>
                <param name="container" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The container name or
                        null.</para></wadl:doc>
                </param>
                &created_at-ResponseParameter;
                <param name="description" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The backup description or
                        null.</para></wadl:doc>
                </param>
                <param name="fail_reason" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>If the backup failed, the reason for the
                            failure. Otherwise,
                        null.</para></wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The UUID of the backup.</para></wadl:doc>
                </param>
                <param name="links" style="plain" type="xsd:dict"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Links for the backup.</para></wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The backup name.</para></wadl:doc>
                </param>
                <param name="object_count" style="plain"
                    type="xsd:int" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The number of objects in the
                            backup.</para></wadl:doc>
                </param>
                <param name="size" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The size of the backup, in
                        GB.</para></wadl:doc>
                </param>
                <param name="status" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The backup status, such as
                            available.</para></wadl:doc>
                </param>
                <param name="volume_id" style="plain"
                    type="csapi:UUID" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The UUID of the volume from which the
                            backup was created.</para></wadl:doc>
                </param>
                <param name="is_incremental" style="plain"
                    type="xsd:boolean" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Indicates whether the backup mode is incremental.
                            If this value is <code>True</code>, the backup
                            mode is incremental. If this value is
                            <code>False</code>, the backup mode is full.
                        </para>
                    </wadl:doc>
                </param>
                <param name="has_dependent_backups" style="plain"
                    type="xsd:boolean" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Indicates whether the backup depends on other
                            backups. If this value is <code>True</code>, the
                            backup depends on other backups.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteBackup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete backup">
            <para role="shortdesc">
                Deletes a backup.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="POST" id="restoreBackup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Restore backup">
            <para role="shortdesc">
                Restores a Block Storage backup to an existing or new Block
                Storage volume.
            </para>
            <para>
                You must specify either the UUID or name of the volume. If you specify
                both the UUID and name, the UUID takes priority.
          </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backup-restore-request.json"
                    />
                </wadl:doc>
                <param name="restore" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The <code>restore</code>
                            action.</para>
                    </wadl:doc>
                </param>
                <param name="volume_id" style="plain" type="csapi:UUID"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The UUID of the volume to
                            which you want to restore a backup.</para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The name of the volume to
                            which you want to restore a backup.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backup-restore-response.json"
                    />
                </wadl:doc>
                <param name="restore" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The <code>restore</code>
                            action.</para>
                    </wadl:doc>
                </param>
                <param name="backup_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The UUID of the
                            backup.</para>
                    </wadl:doc>
                </param>
                <param name="volume_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The UUID of the volume to
                            which the backup was restored.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="forceDeleteBackup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Force-delete backup">
            <para role="shortdesc">
                Force-deletes a backup. Specify the <code>os-force_delete</code> action in the
                request body.
            </para>
            <para>
                This operations deletes the backup and any backup data.
            </para>
            <para>
                The backup driver returns the <code>405</code> status code if
                it does not support this operation.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/backups/backup-force-delete-request.json"
                    />
                </wadl:doc>
                <param name="os-force_delete" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The <code>os-force_delete</code> action.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
        <response status="404"/>
        <response status="405"/>
    </method>
</application>
