api-ref/src/wadls/volume-api/src/v2/wadl/cgsnapshots-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:json="http://json-schema.org/schema#"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://volume.example.com/" xml:id="cgsnapshots-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="cgsnapshots" path="cgsnapshots">
                    <method href="#listCGsnapshots"/>
                    <method href="#createCGsnapshot"/>
                    <resource id="detail" path="detail">
                        <method href="#listCGsnapshotsDetail-v2"/>
                    </resource>
                    <resource path="{cgsnapshot_id}" id="cgsnapshot_id">
                        &cgsnapshot_idTemplateParameter;
                        <method href="#showCGsnapshot"/>
                        <method href="#deleteCGsnapshot"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- consistency group snapshots -->
    <method name="GET" id="listCGsnapshots">
        <wadl:doc xml:lang="EN" title="List consistency group snapshots"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all consistency group snapshots.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/cgsnapshots/cgsnapshots-list-response.json"
                    />
                </wadl:doc>
                &consistencyGroupSnapshotsResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listCGsnapshotsDetail-v2">
        <wadl:doc xml:lang="EN" title="List consistency group snapshots with details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all consistency group snapshots with details.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/cgsnapshots/cgsnapshots-list-detailed-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                &consistencyGroupSnapshotsResponseDetailParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="createCGsnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create consistency group snapshot">
            <para role="shortdesc">
                Creates a consistency group snapshot.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/cgsnapshots/cgsnapshots-create-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                &consistencyGroupSnapshotCreateRequestParameters;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/cgsnapshots/cgsnapshots-create-response.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                &consistencyGroupSnapshotsResponseDetailParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteCGsnapshot">
        <wadl:doc xml:lang="EN" title="Delete consistency group snapshot"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a consistency group snapshot.
            </para>
        </wadl:doc>
        <response status="202">
        </response>
    </method>
    <method name="GET" id="showCGsnapshot">
        <wadl:doc xml:lang="EN" title="Show consistency group snapshot details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a consistency group snapshot.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/cgsnapshots/cgsnapshots-show-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                &consistencyGroupSnapshotsResponseDetailParameters;
            </representation>
        </response>
    </method>
</application>
