api-ref/src/wadls/volume-api/src/v2/wadl/os-attach-interfaces-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v1"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-attach-v2">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        &server_idTemplateParameter;
                        <resource path="os-attach-interfaces"
                            id="os-attach-interfaces">
                            <method href="#createAttachInterface"/>
                            <method href="#listAttachedInterfaces"/>
                            <resource path="{attachment_id}"
                                id="attachment_id">
                                &interface_idTemplateParameter;
                                <method href="#showAttachedInterface"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createAttachInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create interface">
            <para role="shortdesc">
                Creates and uses a port interface to attach the port to a
                server instance.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-create-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-create-request.xml"
                    />
                </wadl:doc>
                <param name="interfaceAttachment" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            Specify the <code>interfaceAttachment</code>
                            action in the request body.
                        </para>
                    </wadl:doc>
                </param>
                <param name="port_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The UUID of the port for which you want to create an
                            interface.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-create-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-create-response.xml"
                    />
                </wadl:doc>
                <param name="fixed_ips" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            Fixed IP addresses with subnet IDs.
                        </para>
                    </wadl:doc>
                </param>
                <param name="mac_addr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The MAC address.
                        </para>
                    </wadl:doc>
                </param>
                <param name="net_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The network ID.
                        </para>
                    </wadl:doc>
                </param>
                <param name="port_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The port ID.
                        </para>
                    </wadl:doc>
                </param>
                <param name="port_state" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook"
                        title="Port state">
                        <para>
                            The port state.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="listAttachedInterfaces">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List interfaces">
            <para role="shortdesc">
                Lists port interfaces.
            </para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-list-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-list-response.xml"
                    />
                </wadl:doc>
                <param name="port_state" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The port state.
                        </para>
                    </wadl:doc>
                </param>
                <param name="fixed_ips" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            Fixed IP addresses with subnet
                            IDs.
                        </para>
                    </wadl:doc>
                </param>
                <param name="mac_addr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The MAC address.
                        </para>
                    </wadl:doc>
                </param>
                <param name="net_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The network ID.
                        </para>
                    </wadl:doc>
                </param>
                <param name="port_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The port ID.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showAttachedInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show attached interface details">
            <para role="shortdesc">
                Shows details for a port interface.
            </para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-show-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-attach-interfaces/attach-interfaces-show-response.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
