api-ref/src/wadls/volume-api/src/v2/wadl/os-quota-sets-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://volume.example.com/" xml:id="os-quota-sets-cinder-v2">
        <resource id="version-cinder-v2" type="#VersionDetails" path="//v2">
            <resource id="tenant_id-cinder-v2" path="{admin_tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-quota-sets-for-cinder-v2" path="os-quota-sets">
                    <resource path="{tenant_id}" id="tenant_id_cinder_v2">
                        &admin_tenant_idTemplateParameter;
                        <method href="#showQuota"/>
                        <method href="#updateQuota"/>
                        <method href="#deleteQuotas"/>
                    </resource>
                </resource>
            </resource>
            <resource path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource path="os-quota-sets">
                    <resource path="defaults" id="defaults-cinder-v2">
                        <method href="#showQuotaDefaults"/>
                    </resource>
                </resource>
            </resource>
            <resource path="{admin_tenant_id}">
                &tenant_idTemplateParameter;
                <resource path="os-quota-sets">
                    <resource path="{tenant_id}" id="tenantID-cinder-v2">
                        &admin_tenant_idTemplateParameter;
                        <resource id="user_id-cinder-v2" path="{user_id}">
                            &user_idTemplateParameter;
                            <method href="#showQuotaUser"/>
                            <method href="#updateQuotaUser"/>
                            <method href="#deleteQuotasUser"/>
                        </resource>
                        <resource id="detail-cinder-v2" path="detail">
                          <resource id="user_id-detail-cinder-v2" path="{user_id}">
                            &user_idTemplateParameter;
                            <method href="#showQuotaDetailUser"/>
                          </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="showQuotaDefaults">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get default quotas">
            <para role="shortdesc">
              Gets default quotas for a tenant.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get default quotas response: JSON">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-show-defaults-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get default quotas response: XML">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-show-defaults-response.xml"
                    />
                </wadl:doc>
                &quotaSetsResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas">
            <para role="shortdesc">
              Shows quotas for a tenant.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
              &usageQueryParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: JSON">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-show-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: XML">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-show-response.xml"
                    />
                </wadl:doc>
                &quotaSetsResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas">
            <para role="shortdesc">
              Updates quotas for a tenant.
            </para>
        </wadl:doc>
        <request>
        <representation mediaType="application/json">
          <wadl:doc xmlns="http://docbook.org/ns/docbook"
              xml:lang="EN" title="Update quotas response: JSON">
              <xsdxt:code
                  href="../samples/os-quota-sets/quotas-update-request.json"
              />
          </wadl:doc>
        </representation>
        <representation mediaType="application/xml">
          <wadl:doc xmlns="http://docbook.org/ns/docbook"
              xml:lang="EN" title="Show quotas response: XML">
              <xsdxt:code
                  href="../samples/os-quota-sets/quotas-update-request.xml"
              />
          </wadl:doc>
          &quotaSetsResponseParameters;
        </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Update quota response: JSON">
                  <xsdxt:code
                      href="../samples/os-quota-sets/quotas-update-response.json"
                  />
              </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Update quota response: XML">
                  <xsdxt:code
                      href="../samples/os-quota-sets/quotas-update-response.xml"
                  />
              </wadl:doc>
               &quotaSetsResponseParameters;
          </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteQuotas">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete quotas">
            <para role="shortdesc">
              Deletes quotas for a tenant so the quotas revert to default
              values.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="showQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas for user">
            <para role="shortdesc">
              Enables an admin user to show quotas for a tenant and user.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN"
                  title="Show quotas for user response: JSON">
                  <xsdxt:code
                      href="../samples/os-quota-sets/quotas-update-response.json"
                  />
              </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN"
                  title="Show quotas for user response: XML">
                  <xsdxt:code
                      href="../samples/os-quota-sets/quotas-update-response.xml"
                  />
              </wadl:doc>
               &quotaSetsResponseParameters;
          </representation>
      </response>
    </method>
    <method name="PUT" id="updateQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas for user">
            <para role="shortdesc">
              Updates quotas for a tenant and user.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: JSON">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: XML">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-request.xml"
                    />
                </wadl:doc>
                &quotaSetsResponseParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user response: JSON">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: XML">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-update-response.xml"
                    />
                </wadl:doc>
                &quotaSetsResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteQuotasUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete quotas for user">
            <para role="shortdesc">
              Deletes quotas for a user so that the quotas revert to default
              values.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="showQuotaDetailUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quota details for user">
            <para role="shortdesc">
                Shows details for quotas for a tenant and user.
              </para>
        </wadl:doc>
        <response status="200">
          <representation mediaType="application/json">
            <wadl:doc xml:lang="EN"
                xmlns="http://docbook.org/ns/docbook"
                title="Show quota details for user response: JSON">
                <xsdxt:code
                    href="../samples/os-quota-sets/quotas-update-response.json"
                />
            </wadl:doc>
            &quotaSetsResponseParameters;
          </representation>
      </response>
  </method>
</application>
