api-ref/src/wadls/volume-api/src/v2/wadl/os-vol-image-meta-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd"
 xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
 xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
 xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://manage.example.com/"
        xml:id="os-vol-image-meta-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-vol-image-meta" path="os-vol-image-meta">
                    <method href="#showImageMetadataForVolume"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="showImageMetadataForVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show image metadata for volume">
            <para role="shortdesc">
                Shows image metadata for a volume.
            </para>
            <para>
                When the request is made, the caller must specify a reference to an existing storage
                volume in the <code>ref</code> element. Each storage driver may interpret the
                existing storage volume reference differently but should accept a reference
                structure containing either a <code>source-volume-id</code> or
                <code >source-volume-name</code> element, if possible.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show manage existing request: JSON">
                    <xsdxt:code
                        href="../samples/os-vol-image-meta/image-metadata-show-request.json"
                    />
                </wadl:doc>
                <param name="volume" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A <code>volume</code>
                        object.</para></wadl:doc>
                </param>
                <param name="host" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The OpenStack Block Storage host where the
                            existing volume resides.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ref" style="plain" type="xsd:dict"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A reference to the existing volume.
                            The internal structure of this reference
                            is dependent on the implementation of the
                            volume driver, see the specific driver's
                            documentation for details of the required
                            elements in the structure.</para></wadl:doc>
                </param>
                <param name="name" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The volume name.</para></wadl:doc>
                </param>
                <param name="availability_zone" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The availability zone.</para></wadl:doc>
                </param>
                <param name="description" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The volume
                            description.</para></wadl:doc>
                </param>
                <param name="volume_type" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The associated volume
                            type.</para></wadl:doc>
                </param>
                <param name="bootable" style="plain"
                    type="xsd:boolean" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Enables or disables the bootable
                            attribute. You can boot an instance from a
                            bootable volume.</para></wadl:doc>
                </param>
                <param name="metadata" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>One or more metadata key and value pairs
                            to associate with the
                            volume.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The response is the same as for a volume
                    create API call. The size of the volume is chosen
                    by inspecting the size of the existing storage
                    volume and rounding up to the next
                    gibibyte (GiB).</para>
                    <xsdxt:code
                        href="../samples/os-vol-image-meta/image-metadata-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
