api-ref/src/wadls/volume-api/src/v2/wadl/os-volume-manage-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd"
 xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
 xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
 xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://manage.example.com/"
        xml:id="volume-manage-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-volume-manage" path="os-volume-manage">
                    <method href="#manageExisting"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="manageExisting">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Manage existing volume">
            <para role="shortdesc">
                Creates a Block Storage volume by using existing storage
                rather than allocating new storage.
            </para>
            <para>
                The caller must specify a reference to an existing storage
                volume in the <parameter>ref</parameter> parameter in the
                request. Although each storage driver might interpret this
                reference differently, the driver should accept a reference
                structure that contains either a <parameter>source-volume-
                id</parameter> or <parameter>source-volume-name</parameter>
                element, if possible.
            </para>
            <para>
                The API chooses the size of the volume by rounding up the
                size of the existing storage volume to the next gibibyte
                (GiB).
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show manage existing request: JSON">
                    <xsdxt:code
                        href="../samples/os-volume-manage/volume-manage-request.json"
                    />
                </wadl:doc>
                <param name="volume" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A <code>volume</code>
                        object.</para></wadl:doc>
                </param>
                <param name="host" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The OpenStack Block Storage host where the
                            existing volume resides.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ref" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A reference to the existing volume. The internal
                            structure of this reference depends on the volume
                            driver implementation. For details about the
                            required elements in the structure, see the
                            documentation for the volume driver.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The volume name.
                        </para>
                    </wadl:doc>
                </param>
                <param name="availability_zone" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The availability zone.
                        </para>
                    </wadl:doc>
                </param>
                <param name="description" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The volume description.
                        </para>
                    </wadl:doc>
                </param>
                <param name="volume_type" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The associated volume type.
                        </para>
                    </wadl:doc>
                </param>
                <param name="bootable" style="plain"
                    type="xsd:boolean" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Enables or disables the bootable attribute. You
                            can boot an instance from a bootable volume.
                        </para>
                    </wadl:doc>
                </param>
                <param name="metadata" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            One or more metadata key and value pairs to
                            associate with the volume.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>
                        The response is the same as the volume create
                        response.
                    </para>
                    <xsdxt:code
                        href="../samples/os-volume-manage/volume-manage-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
