api-ref/src/wadls/volume-api/src/v2/wadl/volumes-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:json="http://json-schema.org/schema#"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://volume.example.com/" xml:id="volumes-v2">
        <resource id="versions" path="//">
            <method href="#listVersions"/>
        </resource>
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="extensions" type="#ExtensionList"
                    path="extensions">
                    <resource id="extension" path="{alias}">
                        &aliasTemplateParameter;
                        <method href="#showExtension-cinder-v2"/>
                    </resource>
                </resource>
                <resource id="volumes" path="volumes">
                    <method href="#createVolume"/>
                    <method href="#listVolumes"/>
                    <method href="#createVolumeTypeAccessExt"/>
                    <resource path="detail" id="detail">
                        <method href="#listVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}" id="volume_id">
                        &volume_idTemplateParameter;
                        <method href="#showVolume"/>
                        <method href="#updateVolume"/>
                        <method href="#deleteVolume"/>
                        <resource path="metadata"
                            id="volume-metadata">
                            <method href="#createVolumeMetadata"/>
                            <method href="#showVolumeMetadata"/>
                            <method href="#updateVolumeMetadata"/>
                        </resource>
                        <resource path="action" id="volume-action">
                            <method href="#extendVolume"/>
                            <method href="#resetVolume"/>
                            <method href="#setVolumeimagemetadata"/>
                            <method href="#unsetVolumeimagemetadata"/>
                            <method href="#attachVolume"/>
                            <method href="#unmanageVolume"/>
                            <method href="#forcedetachVolume"/>
                            <method href="#promotereplicaVolume"/>
                            <method href="#reenablereplicaVolume"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="types" path="types">
                    <method href="#showVolumeTypes"/>
                    <method href="#createVolumeType"/>
                    <resource path="{volume_type_id}"
                        id="volume_type_id">
                        &volume_type_idTemplateParameter;
                        <method href="#updateVolumeType"/>
                        <method href="#updateVolumeTypeExtraSpecs"/>
                        <method href="#showVolumeType"/>
                        <method href="#deleteVolumeType"/>
                    </resource>
                </resource>
                <resource id="snapshots" path="snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#listSnapshots"/>
                    <resource path="detail" id="detail-snapshot">
                        <method href="#listSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}" id="snapshot_id">
                        &snapshot_idTemplateParameter;
                        <method href="#showSnapshot"/>
                        <method href="#updateSnapshot"/>
                        <method href="#deleteSnapshot"/>
                        <resource path="metadata"
                            id="snapshot-metadata">
                            <method href="#showSnapshotMetadata"/>
                            <method href="#updateSnapshotMetadata"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Version details">
            <para>
                Details for a version.
            </para>
        </wadl:doc>
        <method href="#versionDetails"/>
    </resource_type>
    <resource_type id="ExtensionList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Detail image list">
            <para>
                A list of supported extensions.
            </para>
        </wadl:doc>
        <method href="#listExtensions-cinder-v2"/>
    </resource_type>
    <!-- versions -->
    <method name="GET" id="listVersions">
        <wadl:doc xml:lang="EN" title="List API versions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information for all Block Storage API versions.
            </para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/versions-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/versions-response.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="versionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show API v2 details">
            <para role="shortdesc">
                Shows details for Block Storage API v2.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/version-v2-show-response.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/version-show-response.xml"/>
                </wadl:doc>
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true" xmlns="http://wadl.dev.java.net/2009/02"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN" title="Location">
                        <para>
                            Full URL to a service or server.
                        </para>
                    </wadl:doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
        </response>
        <response status="203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/version-v2-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listExtensions-cinder-v2">
        <wadl:doc xml:lang="EN" title="List API extensions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists Block Storage API extensions.
            </para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/extensions-list-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/extensions-list-response.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume">
            <para role="shortdesc">
                Creates a volume.
            </para>
            <para>
                To create a bootable volume, include the UUID of the image from
                which you want to create the volume in the
                <code>imageRef</code> attribute in the request body.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        You must have enough volume storage quota remaining to
                        create a volume of size requested.
                    </para>
                </listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        With correct permissions, you can see the volume
                        status as <code>available</code> through API calls.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        With correct access, you can see the created volume in
                        the storage system that OpenStack Block Storage
                        manages.
                    </para>
                </listitem>
            </itemizedlist>
            <para>Troubleshooting</para>
            <itemizedlist>
                <listitem>
                    <para>
                        If volume status remains <code>creating</code> or
                        shows another error status, the request failed. Ensure
                        you meet the preconditions then investigate the
                        storage back end.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        Volume is not created in the storage system that
                        OpenStack Block Storage manages.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        The storage node needs enough free storage space to
                        match the size of the volume creation request.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                json:ref="http://docs.openstack.org/api/openstack-block-storage/v2/volume#post">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-request.xml"/>
                </wadl:doc>
                &createVolumeRequestParameters;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-response.xml"
                    />
                </wadl:doc>
                &volumeObjectParameter;
                &volumeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listVolumes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes">
            <para role="shortdesc">
                Lists summary information for all Block Storage volumes that
                the tenant can access.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &sortQueryParameter;
                &limitMarkerReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volumes-list-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volumes-list-response.json"
                    />
                </wadl:doc>
                &volumesObjectParameter;
                &volumeSimpleResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listVolumesDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes with details">
            <para role="shortdesc">
                Lists all Block Storage volumes, with details, that the tenant
                can access.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &sortQueryParameter;
                &limitMarkerReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volumes-list-detailed-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volumes-list-detailed-response.json"
                    />
                </wadl:doc>
                &volumesObjectParameter;
                &volumeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume details">
            <para role="shortdesc">
                Shows details for a volume.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        The volume must exist.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-show-response.json"/>
                </wadl:doc>
                &volumeObjectParameter;
                &volumeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update volume">
            <para role="shortdesc">
                Updates a volume.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-update-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json"
                json:ref="http://docs.openstack.org/api/openstack-block-storage/v2/volumes#put/volume">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-update-request.json"
                    />
                </wadl:doc>
                &createVolumeRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-update-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-update-response.json"
                    />
                </wadl:doc>
                &volumeObjectParameter;
                &volumeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume">
            <para role="shortdesc">
                Deletes a volume.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        Volume status must be <code>available</code>, <code>in-use</code>,
                        <code>error</code>, or <code>error_restoring</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        You cannot already have a snapshot of the volume.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        You cannot delete a volume that is in a migration.
                    </para>
                </listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
                <listitem><para>The volume is deleted in volume index.</para></listitem>
                <listitem><para>The volume managed by OpenStack Block Storage
                          is deleted in storage node.</para></listitem>
            </itemizedlist>
            <para>Troubleshooting</para>
            <itemizedlist>
                <listitem>
                    <para>
                        If volume status remains in <code>deleting</code> or
                        becomes <code>error_deleting</code> the request
                        failed. Ensure you meet the preconditions then
                        investigate the storage back end.
                    </para>
                </listitem>
                <listitem><para>The volume managed by OpenStack Block Storage
                          is not deleted from the storage system.</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="POST" id="createVolumeMetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume metadata">
            <para role="shortdesc">
                Creates metadata for a volume.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-create-request.json"
                    />
                </wadl:doc>
                &metadataObjectParameter;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-create-response.json"
                    />
                </wadl:doc>
                &metadataObjectParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="showVolumeMetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume metadata">
            <para role="shortdesc">
                Shows metadata for a volume.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-show-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-show-response.json"
                    />
                </wadl:doc>
                &metadataObjectParameter;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolumeMetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update volume metadata">
            <para role="shortdesc">
                Updates metadata for a volume.
            </para>
            <para>
                Replaces metadata items that match keys. Does not modify
                items that are not in the request.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-update-request.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-update-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-metadata-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="extendVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Extend volume size">
            <para role="shortdesc">
                Extends the size of a volume to a requested size, in gibibytes
                (GiB). Specify the <code>os-extend</code> action in the
                request body.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>Volume status must be <code>available</code>.</para></listitem>
            </itemizedlist>
            <itemizedlist>
                <listitem><para>Sufficient amount of storage must exist to extend the volume.</para></listitem>
            </itemizedlist>
            <itemizedlist>
                <listitem><para>The user quota must have sufficient volume storage.</para></listitem>
            </itemizedlist>
            <para>Troubleshooting</para>
            <itemizedlist>
                <listitem>
                    <para>
                        An <code>error_extending</code> volume status
                        indicates that the request failed. Ensure that you
                        meet the preconditions and retry the request. If the
                        request fails again, investigate the storage back end.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-extend-request.json"
                    />
                </wadl:doc>
                <param name="new_size" style="plain"
                    type="xsd:int" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The new size of the volume, in gibibytes (GiB).
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reset volume statuses">
            <para role="shortdesc">
                Resets the status, attach status, and  migration status for a
                volume. Specify the <code>os-reset_status</code> action in the
                request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-status-reset-request.json"
                    />
                </wadl:doc>
                <param name="status" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The volume status.
                        </para>
                    </wadl:doc>
                </param>
                <param name="attach_status" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The volume attach status.</para></wadl:doc>
                </param>
                <param name="migration_status" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The volume migration status.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="setVolumeimagemetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Set image metadata for volume">
            <para role="shortdesc">
                Sets the image metadata for a volume. Specify the
                <code>os-set_image_metadata</code> action in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-image-metadata-set-request.json"
                    />
                </wadl:doc>
                <param name="os-set_image_metadata" style="plain"
                    type="xsd:dict" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The action.
                        </para>
                    </wadl:doc>
                </param>
                <param name="metadata" style="plain"
                    type="xsd:dict" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The image metadata to add to the volume as a set
                            of metadata key and value pairs.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unsetVolumeimagemetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Remove image metadata from volume">
            <para role="shortdesc">
                Removes image metadata, by key, from a volume. Specify the
                <code>os-unset_image_metadata</code> action in the request body
                and the <code>key</code> for the metadata key and value pair
                that you want to remove.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-image-metadata-unset-request.json"
                    />
                </wadl:doc>
                <param name="os-unset_image_metadata" style="plain"
                    type="xsd:dict" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The action.
                        </para>
                    </wadl:doc>
                </param>
                <param name="key" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The metadata key name for the metadata that you
                            want to remove.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="attachVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Attach volume to server">
            <para role="shortdesc">
                Attaches a volume to a server. Specify the <code>os-attach</code> action in the
                request body.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        Volume status must be <code>available</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        You should set <code>instance_uuid</code> or <code>host_name</code>.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-attach-request.json"
                    />
                </wadl:doc>
                &attachVolumeReqParameters;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unmanageVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Unmanage volume">
            <para role="shortdesc">
                Removes a volume from Block Storage management without
                removing the back-end storage object that is associated with it.
                Specify the <code>os-unmanage</code> action in the request
                body.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        Volume status must be <code>available</code>.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-unmanage-request.json"
                    />
                </wadl:doc>
                &os-unmanageRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="forcedetachVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Force detach volume">
            <para role="shortdesc">
                Forces a volume to detach. Specify the <code>os-force_detach</code> action in the
                request body.
            </para>
            <para>
                Rolls back an unsuccessful detach operation after you
                disconnect the volume.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-force-detach-request.json"
                    />
                </wadl:doc>
                &os-force_detachRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="promotereplicaVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Promote replicated volume">
            <para role="shortdesc">
                Promotes a replicated volume. Specify the
                <code>os-promote-replica</code> action in
                the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-replica-promote-request.json"
                    />
                </wadl:doc>
                &os-promote-replicaRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="reenablereplicaVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reenable volume replication">
            <para role="shortdesc">
                Re-enables replication of a volume. Specify the
                <code>volume-replica-reenable</code> action in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-replica-reenable-request.json"
                    />
                </wadl:doc>
                &os-reenable-replicaRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="GET" id="showVolumeTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volume types">
            <para role="shortdesc">
                Lists volume types.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-types-list-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-types-list-response.json"
                    />
                </wadl:doc>
                &volume_typesObjectParameter;
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="createVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume type">
            <para role="shortdesc">
                Creates a volume type.
            </para>
            <para>
                To create an environment with multiple-storage back ends, you
                must specify a volume type. Block Storage volume back ends are
                spawned as children to <code>cinder-volume</code>, and they
                are keyed from a unique queue. They are named
                <code>cinder-volume.HOST.BACKEND</code>. For example,
                <code>cinder-volume.ubuntu.lvmdriver</code>. When a volume is created, the
                scheduler chooses an appropriate back end to handle the
                request based on the volume type.
            </para>
            <para>
                For information about how to use volume types to create
                multiple-storage back ends, see <link
                xlink:href="http://docs.openstack.org/admin-guide-cloud/blockstorage_multi_backend.html">Configure multiple-storage back ends</link>.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json"
                json:ref="http://docs.openstack.org/api/openstack-block-storage/v2/types#post/volume_type">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.json"
                    />
                </wadl:doc>
                &volume_typeObjectParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.json"/>
                </wadl:doc>
                &volume_typeObjectParameter;
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update volume type">
            <para role="shortdesc">
                Updates a volume type.
            </para>
            <para>
                To create an environment with multiple-storage back ends, you
                must specify a volume type. The API spawns Block Storage volume
                back ends as children to <code>cinder-volume</code>, and keys
                them from a unique queue. The API names the back ends
                <code>cinder-volume.HOST.BACKEND</code>. For example,
                <code>cinder-volume.ubuntu.lvmdriver</code>. When you create a
                volume, the scheduler chooses an appropriate back end for the
                volume type to handle the request.
            </para>
            <para>
                For information about how to use volume types to create
                multiple-storage back ends, see <link
                xlink:href="http://docs.openstack.org/admin-guide-cloud/blockstorage_multi_backend.html">Configure multiple-storage back ends</link>.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.json"/>
                </wadl:doc>
                <param name="volume_type" style="plain" required="true" type="csapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A volume type.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.json"/>
                </wadl:doc>
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolumeTypeExtraSpecs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update extra specs for a volume type">
            <para role="shortdesc">
                Updates the extra specifications that are assigned to a volume
                type.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-create-request.json"/>
                </wadl:doc>
                <param name="volume_type" style="plain" required="true" type="csapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A volume type.
                        </para>
                    </wadl:doc>
                </param>
                <param name="extra_specs" style="plain" required="true" type="csapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A key and value pair that contains additional
                            specifications that are associated with the volume
                            type. Examples include capabilities, capacity,
                            compression, and so on, depending on the storage
                            driver in use.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/volumes/volume-type-show-response.json"/>
                </wadl:doc>
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume type details">
            <para role="shortdesc">
                Shows details for a volume type.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-type-show-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-type-show-response.xml"
                    />
                </wadl:doc>
                &volume_typeResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume type">
            <para role="shortdesc">
                Deletes a volume type.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create snapshot">
            <para role="shortdesc">
                Creates a volume snapshot, which is a point-in-time, complete
                copy of a volume. You can create a volume from a snapshot.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-create-request.xml"
                    />
                </wadl:doc>
                <param name="snapshot" style="plain" type="string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A partial representation of a snapshot used in the
                            creation process.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" type="string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The name of the snapshot. Default is
                            <code>None</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="description" style="plain"
                    type="string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A description for the snapshot. Default is
                            <code>None</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="new_size" style="plain"
                    type="xsd:int" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The size for the volume, in gibibytes (GiB).
                        </para>
                    </wadl:doc>
                </param>
                <param name="volume_id" style="plain" type="csapi:UUID"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            To create a snapshot from an existing volume,
                            specify the UUID of the existing volume.
                        </para>
                    </wadl:doc>
                </param>
                <param name="force" style="plain" type="xsd:boolean"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Indicates whether to snapshot, even if the volume
                            is attached. Default is <code>False</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json"
                json:ref="http://docs.openstack.org/api/openstack-block-storage/v2/snapshots#post/snapshot">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-create-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-create-response.json"
                    />
                </wadl:doc>
                &snapshotObjectParameter;
                &snapshotResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listSnapshots">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots">
            <para role="shortdesc">
                Lists all Block Storage snapshots, with summary information,
                that the tenant can access.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &sort_keyQueryParameter;
                &sort_dirQueryParameter;
                &limitMarkerReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshots-list-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshots-list-response.json"
                    />
                </wadl:doc>
                &snapshotResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listSnapshotsDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots with details">
            <para role="shortdesc">
                Lists all Block Storage snapshots, with details, that the
                tenant can access.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshots-list-detailed-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshots-list-detailed-response.json"
                    />
                </wadl:doc>
                &snapshotResponseParameters;
                <param name="os-extended-snapshot-attributes:progress" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A percentage value for the build progress.
                        </para>
                    </wadl:doc>
                </param>
                <param name="os-extended-snapshot-attributes:project_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The UUID of the owning project.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot details">
            <para role="shortdesc">
                Shows details for a snapshot.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-show-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-show-response.json"
                    />
                </wadl:doc>
                &snapshotObjectParameter;
                &snapshotResponseParameters;
                <param name="os-extended-snapshot-attributes:progress" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A percentage value for the build progress.
                        </para>
                    </wadl:doc>
                </param>
                <param name="os-extended-snapshot-attributes:project_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The UUID of the owning project.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update snapshot">
            <para role="shortdesc">
                Updates a snapshot.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-update-request.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json"
                json:ref="http://docs.openstack.org/api/openstack-block-storage/v2/snapshots#put/snapshot">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-update-request.json"
                    />
                </wadl:doc>
                <param name="snapshot" style="plain" type="string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A partial representation of a snapshot used in the
                            creation process.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" type="string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The name of the snapshot. Default is
                            <code>None</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="description" style="plain"
                    type="string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A description for the snapshot. Default is
                            <code>None</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="new_size" style="plain"
                    type="xsd:int" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The size for the volume, in gibibytes (GiB).
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-update-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-update-response.json"
                    />
                </wadl:doc>
                &snapshotObjectParameter;
                &snapshotResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete snapshot">
            <para role="shortdesc">
                Deletes a snapshot.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="showSnapshotMetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot metadata">
            <para role="shortdesc">
                Shows metadata for a snapshot.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-metadata-show-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-metadata-show-response.json"
                    />
                </wadl:doc>
                &snapshotObjectParameter;
                &snapshotResponseParameters;
                <param name="os-extended-snapshot-attributes:progress" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            A percentage value for the build progress.
                        </para>
                    </wadl:doc>
                </param>
                <param name="os-extended-snapshot-attributes:project_id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The UUID of the owning project.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateSnapshotMetadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update snapshot metadata">
            <para role="shortdesc">
                Updates metadata for a snapshot.
            </para>
            <para>
                Replaces metadata items that match keys. Does not modify
                items that are not in the request.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-metadata-update-request.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json"
                json:ref="http://docs.openstack.org/api/openstack-block-storage/v2/snapshots/metadata#put/metadata">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-metadata-update-request.json"
                    />
                </wadl:doc>
                &snapshot-metadataRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-metadata-update-response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/snapshot-metadata-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createVolumeTypeAccessExt">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create private volume">
            <para role="shortdesc">
                Creates a private Block Storage volume.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-request.xml"/>
                </wadl:doc>
                &createVolumeRequestParameters;
                &is_publicRequestParameter;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/volumes/volume-create-response.xml"
                    />
                </wadl:doc>
                &volumeResponseParameters;
                &is_publicResponseParameter;
            </representation>
        </response>
    </method>
</application>
