api-ref/src/wadls/netconn-api/src/metering-labels.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../common_project.ent">
    %common_project;
]>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://www.w3.org/2001/XMLSchema"
    xmlns:metering="http://docs.openstack.org/neutron/api/v2.0">
    <resources base="https://servers.api.openstack.com/"
        xml:id="metering-labels-v2.0">
        <resource id="version" path="//v2.0/metering">
            <resource id="metering_labels" path="metering-labels">
                <method href="#listMeteringLabels"/>
                <method href="#createMeteringLabel"/>
                <resource id="get_metering_label"
                    path="{metering_label_id}">
                    <param xmlns="http://wadl.dev.java.net/2009/02"
                        name="metering_label_id" style="template"
                        type="csapi:uuid">
                        <wadl:doc xml:lang="EN"
                            xmlns="http://docbook.org/ns/docbook"
                                ><para>The unique identifier of the
                                metering label.</para></wadl:doc>
                    </param>
                    <method href="#getMeteringLabel"/>
                    <method href="#deleteMeteringLabel"/>
                </resource>
            </resource>
            <resource id="metering_label_rules"
                path="metering-label-rules">
                <method href="#listMeteringLabelRules"/>
                <method href="#createMeteringLabelRule"/>
                <resource path="{metering-label-rule-id}"
                    id="metering-label-rule-id">
                    <param xmlns="http://wadl.dev.java.net/2009/02"
                        name="metering-label-rule-id" style="template"
                        type="csapi:uuid">
                        <wadl:doc xml:lang="EN"
                            xmlns="http://docbook.org/ns/docbook"
                                ><para>The unique identifier of
                                metering label rule.</para></wadl:doc>
                    </param>
                    <method href="#getMeteringLabelRule"/>
                    <method href="#deleteMeteringLabelRule"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listMeteringLabels">
        <wadl:doc xml:lang="EN" title="List metering labels"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all l3 metering labels
                that belong to the specified tenant.</para>
            <para>The list includes the unique ID for each metering
                labels.</para>
            <para>This operation does not require a request
                body.</para>
            <para>This operation returns a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><xsdxt:code
                        href="api_samples/metering-labels-list-get-req-json-http.txt"
                    /></wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-labels-list-get-resp.json"
                    />
                </wadl:doc>
                &meteringlabelsObject;
                &CommonMeteringLabelResponseParams;
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="POST" id="createMeteringLabel">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create metering label">
            <para role="shortdesc">Creates a l3 metering label.</para>
            <para>This operation requires a request body.</para>
            <para>The following table describes the required and
                optional attributes in the request body:</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-label-create-req.json"
                    />
                </wadl:doc>
                &meteringlabelObject;
                &CommonMeteringLabelRequestParams;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-label-create-resp.json"
                    />
                </wadl:doc>
                &meteringlabelObject;
                &CommonMeteringLabelResponseParams;
            </representation>
        </response>
        <response status="400"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="getMeteringLabel">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metering label">
            <para role="shortdesc">Shows information for a specified
                metering label.</para>
            <para>This operation does not require a request
                body.</para>
            <para>This operation returns a response body that contains
                the description, name, ID.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-label-get-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-label-get-resp.json"
                    />
                </wadl:doc>
                &meteringlabelObject;
                &CommonMeteringLabelResponseParams;
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="DELETE" id="deleteMeteringLabel">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete metering label">
            <para role="shortdesc">Deletes a l3 metering label.</para>
            <para>This operation deletes a l3 metering label.</para>
            <para>This operation does not require a request body. This
                operation does not return a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-label-delete-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-label-delete-resp-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="listMeteringLabelRules">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List metering label rules">
            <para role="shortdesc">Lists a summary of all l3 metering
                label rules belonging to the specified tenant.</para>
            <para>The list provides the unique ID for each metering
                label rule.</para>
            <para>This operation does not require a request body. This
                operation returns a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/metering-label-rules-list-get-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/metering-label-rules-list-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="POST" id="createMeteringLabelRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create metering label rule">
            <para role="shortdesc">Creates a l3 metering label
                rule.</para>
            <para>This operation requires a request body.</para>
            <para>This operation returns a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/metering-label-rule-create-req.json"
                    />
                </wadl:doc>
                &CreateMeteringLabelRuleRequestParams;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/metering-label-rule-create-resp.json"
                    />
                </wadl:doc>
                &CreateMeteringLabelRuleReponseParams;
            </representation>
        </response>
        <response status="400"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="409"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:conflict"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="getMeteringLabelRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metering label rule">
            <para role="shortdesc">Shows detailed information for a
                specified metering label rule.</para>
            <para>This operation does not require a request
                body.</para>
            <para>This operation returns a response body, which
                contains the following information about the metering
                label rule:</para>
            <itemizedlist><listitem><para><code>direction</code>.
                        Either ingress or egress.</para></listitem>
                <listitem><para><code>excluded</code>. Either True or
                        False.</para></listitem>
                <listitem><para>The ID for the specified metering
                        label rule</para></listitem>
                <listitem><para>The remote IP prefix</para></listitem>
                <listitem><para>The metering label ID for the metering
                        label with which the rule is
                    associated</para></listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/metering-label-rule-get-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/metering-label-rule-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="DELETE" id="deleteMeteringLabelRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete metering label rule">
            <para role="shortdesc">Deletes a specified l3 metering
                label rule.</para>
            <para>This operation does not require a request
                body.</para>
            <para>This operation does not return a response
                body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/metering-label-rule-delete-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/metering-label-rule-delete-resp-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
</application>
