api-ref/src/wadls/netconn-api/src/os-networks.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-networks.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/">
        <resource id="version" path="v2.0/">
            <resource id="Networks" type="#NetworkList"
                path="networks">
                <method href="#createNetwork"/>
                <method href="#bulkCreateNetwork"/>
                <resource path="{network_id}">
                    <param name="network_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="Network ID">The UUID
                            for the network of interest to
                            you.</wadl:doc>
                    </param>
                    <method href="#showNetwork"/>
                    <method href="#updateNetwork"/>
                    <method href="#deleteNetwork"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="NetworkList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Network list">
            <para>A list of networks.</para>
        </wadl:doc>
        <method href="#listNetworks"/>
    </resource_type>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">Lists networks to which the
                specified tenant has access.</para>
            <para>You can control which attributes are returned by
                using the fields query parameter. For information, see
                    <link
                    xlink:href="http://docs.openstack.org/api/openstack-network/2.0/content/filtering.html"
                    >Filtering and Column Selection</link> in the
                    <citetitle>OpenStack Networking API v2.0
                    Reference</citetitle>.</para>
        </wadl:doc>
        <response status="200">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        state of the network, which is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-resp.xml"/>
                </wadl:doc>
            </representation>
        </response> &fault401; </method>
    <method name="POST" id="createNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create network">
            <para role="shortdesc">Creates a network.</para>
            <para>This operation does not require a request body. The
                tenant ID that you specify in the URI is the tenant
                that creates the network. An admin user can specify
                another tenant ID in the optional request body, which
                is the tenant who owns the network.</para>
        </wadl:doc>
        <request>
            <param required="false" name="admin_state_up"
                style="plain" type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The administrative state of
                        the network. A request body is optional: If
                        you include it, it can specify this optional
                        attribute.</para></wadl:doc>
            </param>
            <param required="false" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network name. A request
                        body is optional: If you include it, it can
                        specify this optional
                    attribute.</para></wadl:doc>
            </param>
            <param required="false" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Admin-only. Indicates whether
                        this network is shared across all tenants. A
                        request body is optional: If you include it,
                        it can specify this optional
                    attribute.</para></wadl:doc>
            </param>
            <param required="false" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Admin-only. The UUID of the
                        tenant that will own the network. This tenant
                        can be different from the tenant that makes
                        the create network request. However, only
                        administrative users can specify a tenant ID
                        other than their own. You cannot change this
                        value through authorization
                    policies.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">

                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-req.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        state of the network, which is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all
                    tenants.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-resp.xml"/>
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; </method>
    <method name="POST" id="bulkCreateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Bulk create networks">
            <para role="shortdesc">Creates multiple networks in a
                single request.</para>
            <para>In the request body, specify a list of
                networks.</para>
            <para>The bulk create operation is always atomic. Either
                all or no networks in the request body are
                created.</para>
        </wadl:doc>
        <request> &networkCreateParameters; <representation
                mediaType="application/json" element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-post-create-bulk-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-post-create-bulk-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        state of the network, which is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-create-bulk-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-create-bulk-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; </method>
    <method name="GET" id="showNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show network">
            <para role="shortdesc">Shows information for a specified
                network.</para>
            <para>You can control which attributes are returned by
                using the fields query parameter. For information, see
                    <link
                    xlink:href="http://docs.openstack.org/api/openstack-network/2.0/content/filtering.html"
                    >Filtering and Column Selection</link> in the
                    <citetitle>OpenStack Networking API v2.0
                    Reference</citetitle>.</para>
        </wadl:doc>
        <response status="200">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        state of the network, which is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; </method>
    <method name="PUT" id="updateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update network">
            <para role="shortdesc">Updates a specified network.</para>
        </wadl:doc>
        <request> &networkCreateParameters; <representation
                mediaType="application/json" element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update.req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update.req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        state of the network, which is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:network">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault403; &fault404; </method>
    <method name="DELETE" id="deleteNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete network">
            <para role="shortdesc">Deletes a specified network and its
                associated resources.</para>
        </wadl:doc>
        <response status="204"/> &fault401; &fault404;
        &fault409conflict; </method>
</application>
