api-ref/src/wadls/netconn-api/src/os-networks.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-networks.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns="http://wadl.dev.java.net/2009/02" 
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v1.1
    xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0
    xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 
    http://www.w3.org/Submission/wadl/wadl.xsd">

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://neutron.example.com/">

        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            tenant ID in a multi-tenancy cloud.</p>
                    </doc>
                </param>
        <resource id="Networks" type="#NetworkList" path="networks">
            <method href="#listNetworks" />
            <method href="#createNetwork" />
            <resource path="{network_id}">
                <param name="network_id" style="template" type="csapi:UUID">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Network ID">
                        <p>The UUID for the network of interest to you.</p></wadl:doc>
                </param>
                <method href="#showNetwork"/>
                <method href="#updateNetwork"/>
                <method href="#deleteNetwork"/>
            </resource>
        </resource>
            </resource>
        </resource>
    </resources>
        


    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="listNetworks">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="List Networks">
            <p xmlns="http://www.w3.org/1999/xhtml">
               Lists networks to which the specified tenant has access.
            </p>
        </wadl:doc>
        <response status="200"> &networkListParameters;
                <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml"> <doc
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createNetwork">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Create Network">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Creates a network.
            </p>

        </wadl:doc>
        <request> &networkCreateParameters; <representation
                mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-req.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-req.xml"/>
                </doc>
            </representation>
        </request>
        <response status="201"> &networkListParameters;
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="showNetwork">

        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Show Networks">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Shows information for the specified network.
            </p>

        </wadl:doc>
        <response status="200"> &networkListParameters;
                <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-detail-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-detail-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="updateNetwork">

        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Update Network">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Updates the specified network.
            </p>
    </wadl:doc>
        <request> &networkCreateParameters; <representation
                mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update.req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update.req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="201"> &networkListParameters;
                <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteNetwork">

        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Delete Network">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Deletes the specified network and its associated resources.
            </p>

        </wadl:doc>
        <response status="204"/>
    </method>
</application>
