api-ref/src/wadls/netconn-api/src/os-networks-multi-provider-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--  xmllint -noent os-networks-multi-provider-ext.wadl   -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/"
        xml:id="os-networks-multi-provider-ext-v2.0">
        <resource id="version" path="v2.0/">
            <resource id="Networks" path="networks">
                <method href="#listNetworks"/>
                <method href="#createNetwork"/>
                <resource path="{network_id}" id="network_id">
                    <param name="network_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The UUID for the
                                network of interest to
                            you.</para></wadl:doc>
                    </param>
                    <method href="#showNetwork"/>
                    <!-- <method href="#updateNetwork"/>-->
                    <!--<method href="#deleteNetwork"/>-->
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">Lists networks that are accessible
                to the tenant who submits the request. Networks with
                multiple segments include the <code>segments</code>
                list in the response.</para>
        </wadl:doc>
        <response status="200"> &networkListParameters;
            &networkSegmentParameter; &networkProviderParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-multi-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-multi-get-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>-->
        </response>
    </method>
    <method name="POST" id="createNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Create network with multiple segment mappings"
            xml:lang="EN">
            <para role="shortdesc">Creates a network with multiple
                segment mappings.</para>
        </wadl:doc>
        <request> &networkCreateParameters; &networkSegmentParameter;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <!--  <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-post-req.xml"
                    />
                </wadl:doc>
            </representation>-->
        </request>
        <response status="201"> &networkListParameters;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-post-resp.xml"
                    />
                </wadl:doc>
            </representation>-->
        </response>
    </method>
    <method name="GET" id="showNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Show details for a network with multiple segments">
            <para role="shortdesc">Shows details for a specified
                network with multiple segments.</para>
        </wadl:doc>
        <response status="200"> &networkListParameters;
            &networkSegmentParameter; &networkProviderParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-multi-get-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <!--<representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-multi-get-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>-->
        </response>
    </method>
    <!--<method name="PUT" id="updateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Update network with multiple segments">
            <para role="shortdesc">Updates a specified network with
                multiple segments.</para>
        </wadl:doc>
        <request> &networkCreateParameters; &networkSegmentParameter;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-put-update.req.json"
                    />
                </wadl:doc>
            </representation>
            <!-\-  <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-put-update.req.xml"
                    />
                </wadl:doc>
            </representation>-\->
        </request>
        <response status="201"> &networkListParameters;
            &networkSegmentParameter; &networkProviderParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-put-update-resp.json"
                    />
                </wadl:doc>
            </representation>
            <!-\-   <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-multi-put-update-resp.xml"
                    />
                </wadl:doc>
            </representation>-\->
        </response>
    </method>-->
    <!--<method name="DELETE" id="deleteNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Delete network">
            <para role="shortdesc">Deletes a specified network.</para>
        </wadl:doc>
    </method>-->
</application>
