api-ref/src/wadls/netconn-api/src/os-networks.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-networks.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The tenant ID in a multi-tenancy
                            cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="Networks" type="#NetworkList"
                    path="networks">
                    <method href="#listNetworks"/>
                    <method href="#createNetwork"/>
                    <method href="#bulkCreateNetwork"/>
                    <resource path="{network_id}">
                        <param name="network_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Network ID">
                                <para>The UUID for the network of
                                   interest to you.</para></wadl:doc>
                        </param>
                        <method href="#showNetwork"/>
                        <method href="#updateNetwork"/>
                        <method href="#deleteNetwork"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="listNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Networks">
            <para role="shortdesc">Lists networks to which the
                specified tenant has access.</para>
        </wadl:doc>
        <response status="200">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether the
                        administrative state of the network is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-resp.xml"/>
                </doc>
            </representation>
        </response>
        <response status="401"/>
    </method>
    <method name="POST" id="createNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Network">
            <para role="shortdesc">Creates a network.</para>
        </wadl:doc>
        <request>
            <param required="false" name="admin_state_up"
                style="plain" type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        status of the network.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="false" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="false" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The ID of the tenant that owns
                        the network. Only administrative users can set
                        the tenant ID. You cannot change this value
                        through authorization
                    policies.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-req.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-req.xml"/>
                </doc>
            </representation>
        </request>
        <response status="201">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether the
                        administrative state of the network is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-post-resp.xml"/>
                </doc>
            </representation>
        </response>
        <response status="400 401"/>
    </method>
    <method name="POST" id="bulkCreateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Bulk Create Networks">
            <para role="shortdesc">Creates multiple networks in a
                single request.</para>
            <para>In the request body, specify a list of
                networks.</para>
            <para>The bulk create operation is always atomic. Either
                all or no networks in the request body are
                created.</para>
        </wadl:doc>
        <request>
            <param required="false" name="admin_state_up"
                style="plain" type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        status of the network.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="false" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="false" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The ID of the tenant that owns
                        the network. Only administrative users can set
                        the tenant ID. You cannot change this value
                        through authorization
                    policies.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-post-create-bulk-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-post-create-bulk-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="201">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether the
                        administrative state of the network is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-create-bulk-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-create-bulk-resp.xml"
                    />
                </doc>
            </representation>
        </response>
        <response status="400 401"/>
    </method>
    <method name="GET" id="showNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Network">
            <para role="shortdesc">Shows information for a specified
                network.</para>
        </wadl:doc>
        <response status="200">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether the
                        administrative state of the network is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-detail-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/networks-get-detail-resp.xml"
                    />
                </doc>
            </representation>
        </response>
        <response status="401 404"/>
    </method>
    <method name="PUT" id="updateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update Network">
            <para role="shortdesc">Updates a specified network.</para>
        </wadl:doc>
        <request>
            <param required="false" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="false" name="admin_state_up"
                style="plain" type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates the administrative
                        status of the network.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update.req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update.req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <param required="true" name="admin_state_up" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether the
                        administrative state of the network is up or
                        down.</para></wadl:doc>
            </param>
            <param required="true" name="id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    ID.</para></wadl:doc>
            </param>
            <param required="true" name="name" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    name.</para></wadl:doc>
            </param>
            <param required="true" name="shared" style="plain"
                type="xsd:bool">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Indicates whether this network
                        is shared across all tenants. By default, only
                        administrative users can change this
                        value.</para></wadl:doc>
            </param>
            <param required="true" name="status" style="plain"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The network
                    status.</para></wadl:doc>
            </param>
            <param required="true" name="subnets" style="plain"
                type="xsd:dict">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The associated
                    subnets.</para></wadl:doc>
            </param>
            <param required="true" name="tenant_id" style="plain"
                type="csapi:uuid">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The tenant
                    ID.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/network-put-update-resp.xml"
                    />
                </doc>
            </representation>
        </response>
        <response status="400 401 403 404"/>
    </method>
    <method name="DELETE" id="deleteNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Network">
            <para role="shortdesc">Deletes a specified network and its
                associated resources.</para>
        </wadl:doc>
        <response status="204"/>
        <response status="401 404 409"/>
    </method>
</application>
