api-ref/src/wadls/netconn-api/src/os-ports.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack LLC., All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-ports.wadl                   -->
<!--*******************************************************-->

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:common="http://docs.openstack.org/common/api/v1.0"
   xmlns:atom="http://www.w3.org/2005/Atom"
   xsi:schemaLocation="http://docs.openstack.org/netconn/api/v1.0
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       ">

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://quantum.example.com/">
        <resource id="version" type="#VersionDetails" path="v2">
        <resource id="Ports" type="#PortList" path="ports">
            <method href="#listPorts" />
            <method href="#createPort" />
            <resource path="{port_id}">
                <param name="port_id" style="template" type="csapi:UUID">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Port ID">
                        <p>The UUID for the port of interest to you.</p></wadl:doc>
                </param>
                <method href="#showPort"/>
                <method href="#updatePort"/>
                <method href="#removePort"/>
            </resource>
        </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="listPorts">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="List Ports">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists all ports to which the tenant has access.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/ports-get-resp.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createPort">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Create Port">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Creates a port on the specified network.
            </p>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
    </method>

    <method name="GET" id="showPort">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Show Port">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Shows information for the specified port.
            </p>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
    </method>

    <method name="PUT" id="updatePort">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Update Port">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Updates the specified port.
            </p>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
    </method>

    <method name="DELETE" id="removePort">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Delete Port">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Removes the specified port.
            </p>
        </wadl:doc>
        <response status="204" />
    </method>

</application>
