api-ref/src/wadls/netconn-api/src/os-ports-binding-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-ports-binding-ext.wadl       -->
<!--*******************************************************-->

<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v1.1
    xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0
    xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 
    http://www.w3.org/Submission/wadl/wadl.xsd">

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://neutron.example.com/">
        <resource id="version" type="#VersionDetails" path="v2">
        <resource id="Ports" type="#PortList" path="ports">
            <method href="#listPorts" />
            <method href="#createPort" />
            <resource path="{port_id}">
                <param name="port_id" style="template" type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Port ID">
                        <para>The UUID for the port of interest to you.</para></wadl:doc>
                </param>
                <method href="#showPort"/>
                <method href="#updatePort"/>
            </resource>
        </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="listPorts">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Ports">
            <para role="shortdesc">Lists ports to which the tenant has access.</para>
        </wadl:doc>
        <response status="200"> &portListParameters; &portBindingParameters;
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/ports-get-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/ports-get-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createPort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create Port">
            <para role="shortdesc">Creates a port on the specified network.</para>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
        <request> &portCreateParameters; &portBindingParameters; <representation mediaType="application/json">
            <doc xml:lang="EN">
                <xsdxt:code href="api_samples/port-post-create-req.json" />
            </doc>
        </representation>
           </request>
        <response status="200"> &portListParameters; &portBindingParameters;
          <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/port_create_or_update_resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/port_create_or_update_resp.xml" />
                </doc>
            </representation> 
        </response>
    </method>

    <method name="GET" id="showPort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show Port">
            <para role="shortdesc">Shows information for the specified port.</para>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
        <response status="200"> &portListParameters; &portBindingParameters;
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/port-get-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/port-get-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updatePort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update Port">
            <para role="shortdesc">Updates the specified port.</para>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
        <request> &portCreateParameters; &portBindingParameters; <representation mediaType="application/json">
            <doc xml:lang="EN">
                <xsdxt:code href="api_samples/port-post-create-req.json" />
            </doc>
        </representation>
            </request>
        <response status="200"> &portListParameters; &portBindingParameters;
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/port_create_or_update_resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/port_create_or_update_resp.xml" />
                </doc>
            </representation> 
        </response>
    </method>
</application>
