api-ref/src/wadls/netconn-api/src/os-quotas.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-quotas.wadl                   -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:osapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/"
        xml:id="os-quotas-v2.0">
        <resource id="version" path="//v2.0">
                <resource id="Quotas" path="quotas">
                    <method href="#listQuotas"/>
                    <method href="#showQuota"/>
                    <resource id="tenant_id" path="{tenant_id}" >
                        <param name="tenant_id" style="template"
                            type="csapi:uuid">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Tenant ID">
                                The UUID for the tenant which is target
                                of API.</wadl:doc>
                        </param>
                        <method href="#updateQuota"/>
                        <method href="#resetQuota"/>
                    </resource>
                </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listQuotas">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List quotas">
            <para role="shortdesc">Lists quotas for tenants who have
                non-default quota values.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/quotas-list-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="csapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="csapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="showQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quota">
            <para role="shortdesc">Shows quotas for a specified
                tenant.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/quotas-show-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="osapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="osapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quota">
            <para role="shortdesc">Updates quotas for a specified
                tenant. Use when non-default quotas are
                desired.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="api_samples/quotas-put-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/quotas-put-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="osapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="osapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="DELETE" id="resetQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Reset quota">
            <para role="shortdesc">Resets quotas to default values for
                a specified tenant.</para>
        </wadl:doc>
        <response status="204"/>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="osapi:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="osapi:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
</application>
