api-ref/src/wadls/netconn-api/src/os-routers.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-routers.wadl                 -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
  xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
  xmlns:linkend="http://www.w3.org/1999/linkend"
  xmlns:wadl="http://wadl.dev.java.net/2009/02"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <!--*******************************************************-->
   <!--             All Resources                             -->
   <!--*******************************************************-->
   <resources base="https://neutron.example.com/" xml:id="os-routers-v2">
      <resource id="version" path="//v2.0">
         <resource id="Routers" path="routers">
            <resource path="{router_id}" id="router_id">
               <param name="router_id" style="template" type="csapi:UUID">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Port ID">
                    <para>
                      The UUID for the router of interest to you.
                    </para>
                  </wadl:doc>
               </param>
               <method href="#updateRouter" />
            </resource>
         </resource>
      </resource>
   </resources>
   <!--*******************************************************-->
   <!--               All Methods                             -->
   <!--*******************************************************-->
   <method name="PUT" id="updateRouter">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update router">
         <para role="shortdesc">Configures extra routes on a router.</para>
         <para>
            The next hop IP address must be a part of one of the subnets to which
                 the router interfaces are connected. Otherwise, the server
                 responds with the
            <code>400 Bad Request</code>
            error code.
         </para>
         <para>
            When a validation error is detected, such as a format
                error of IP address or CIDR, the server responds with the
            <code>400 Bad Request</code>
            error code.
         </para>
         <para>
            When Networking receives a request to delete the router
                interface for subnets that are used by one or more routes, it
                responds with a
            <code>409 Conflict</code>
            error code.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="api_samples/router-update-req.json" />
            </wadl:doc>
            &routerParameter;
            &updateRouterParameters;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="api_samples/router-update-resp.json" />
            </wadl:doc>
            &routerParameter; &statusParameter;
            &external-gateway-infoParameter; &nameParameter;
            &admin-state-upParameter; &tenant-idParameter; &routesParameter;
            &idParameter;
         </representation>
        </response> &fault400; &fault401; &fault404; &fault409;
    </method>
</application>
