api-ref/src/wadls/netconn-api/src/os-subnets.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-subnets.wadl                 -->
<!--*******************************************************-->

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:common="http://docs.openstack.org/common/api/v1.0"
   xmlns:atom="http://www.w3.org/2005/Atom"
   xsi:schemaLocation="http://docs.openstack.org/netconn/api/v1.0
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       ">

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://neutron.example.com/">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            tenant ID in a multi-tenancy cloud.</p>
                    </doc>
                </param>
        <resource id="Subnets" type="#SubnetList" path="subnets">
            <method href="#listSubnets" />
            <method href="#createSubnet" />
            <resource path="{subnet_id}">
                <param name="subnet_id" style="template" type="csapi:UUID">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Subnet ID">
                        <p>The UUID for the subnet of interest to you.</p></wadl:doc>
                </param>
                <method href="#showSubnet"/>
                <method href="#updateSubnet"/>
                <method href="#removeSubnet"/>
            </resource>
        </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="listSubnets">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="List Subnets">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists subnets to which the specified tenant has access.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="api_samples/subnets-get-resp.json" />
                </doc>
            </representation>
                        <!-- Need to verify samples -->
        </response>
    </method>

    <method name="POST" id="createSubnet">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Create Subnet">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Creates a subnet on a specified network.
            </p>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
    </method>

    <method name="GET" id="showSubnet">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Show Subnet">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Shows information for a specified subnet.
            </p>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
    </method>

    <method name="PUT" id="updateSubnet">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Update Subnet">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Updates a specified subnet.
            </p>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
    </method>

    <method name="DELETE" id="removeSubnet">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Delete Subnet">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Deletes a specified subnet.
            </p>
        </wadl:doc>
        <response status="204" />
    </method>
</application>
