api-ref/src/wadls/netconn-api/src/os-vpnaasv2.0-ext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent os-vpnaasv2.0-ext.wadl          -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/" xml:id="os-vpnaas-v2.0">
        <resource id="version" path="//v2.0/vpn">
            <resource id="VPNServices" path="vpnservices">
                <method href="#listVPNServices"/>
                <method href="#createVPNService"/>
                <resource path="{service_id}" id="service_id">
                    <param name="service_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="VPN service ID">The
                            UUID for the VPN service.</wadl:doc>
                    </param>
                    <method href="#showVPNService"/>
                    <method href="#updateVPNService"/>
                    <method href="#deleteVPNService"/>
                </resource>
            </resource>
            <resource id="IKEPolicies" path="ikepolicies">
                <method href="#listIKEPolicies"/>
                <method href="#createIKEPolicy"/>
                <resource path="{ikepolicy_id}" id="ikepolicy_id">
                    <param name="ikepolicy_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="IKE policy ID">The
                            UUID for the IKE policy.</wadl:doc>
                    </param>
                    <method href="#showIKEPolicy"/>
                    <method href="#updateIKEPolicy"/>
                    <method href="#deleteIKEPolicy"/>
                </resource>
            </resource>
            <resource id="IPSecPolicies" path="ipsecpolicies">
                <method href="#listIPSecPolicies"/>
                <method href="#createIPSecPolicy"/>
                <resource path="{ipsecpolicy_id}" id="ipsecpolicy_id">
                    <param name="ipsecpolicy_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="IPSec policy ID">The
                            UUID for the IPSec policy.</wadl:doc>
                    </param>
                    <method href="#showIPSecPolicy"/>
                    <method href="#updateIPSecPolicy"/>
                    <method href="#deleteIPSecPolicy"/>
                </resource>
            </resource>
            <resource id="VpnEndpointGroups" path="endpointgroups">
                <method href="#listVpnEndpointGroups"/>
                <method href="#createVpnEndpointGroup"/>
                <resource path="{endpoint_group_id}" id="endpoint_group_id">
                    <param name="endpoint_group_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="VPN endpoint group ID">The
                            UUID for the VPN endpoint group.</wadl:doc>
                    </param>
                    <method href="#showVpnEndpointGroup"/>
                    <method href="#updateVpnEndpointGroup"/>
                    <method href="#deleteVpnEndpointGroup"/>
                </resource>
            </resource>
            <resource id="IPSecSiteConnections" path="ipsecsiteconnections">
                <method href="#listIPSecSiteConnections"/>
                <method href="#createIPSecSiteConnection"/>
                <resource path="{connection_id}" id="connection_id">
                    <param name="connection_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="IPSec connection ID">The
                            UUID for the IPSec site-to-site connection.</wadl:doc>
                    </param>
                    <method href="#showIPSecSiteConnection"/>
                    <method href="#updateIPSecSiteConnection"/>
                    <method href="#deleteIPSecSiteConnection"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- VPN service -->
    <method name="GET" id="listVPNServices">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List VPN services">
            <para role="shortdesc">Lists all VPN services.</para>
            <para>The list might be empty.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpnservice-list-res.json"/>
                </wadl:doc> &svcListResponseParams; &svcResponseParams;</representation>
        </response> &fault401; &fault403;</method>
    <method name="GET" id="showVPNService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show VPN service details">
            <para role="shortdesc">Shows details for a VPN service.</para>
            <para>
                If the user is not an administrative user and the VPN service
                object does not belong to the tenant account for the user, the
                operation returns the <code>Forbidden (403)</code> response
                code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpnservice-show-res.json"/>
                </wadl:doc> &svcCreateVPNServiceObjectParam; &svcResponseParams; </representation>
        </response> &fault401; &fault403; &fault404;
    </method>
    <method name="POST" id="createVPNService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create VPN service">
            <para role="shortdesc">Creates a VPN service.</para>
            <para>
                The service is associated with a
                router. After you create the service, it can contain multiple
                VPN connections.
            </para>
            <para>Example:</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpnservice-create-req.json"/>
                </wadl:doc>&svcRequestParams; &svcCreateVPNServiceObjectParam; &svcCreateRequestParams; </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpnservice-create-res.json"/>
                </wadl:doc> &svcCreateVPNServiceObjectParam; &svcResponseParams; </representation>
        </response> &fault400; &fault401;
    </method>
    <method name="PUT" id="updateVPNService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update VPN service">
            <para role="shortdesc">Updates a VPN service.</para>
            <para>
                Updates the attributes of a VPN service. You cannot
                update a service with a <code>PENDING_*</code> status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpnservice-update-req.json"/>
                </wadl:doc> &svcRequestParams; </representation>
        </request>
        <response status="200"><representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                <xsdxt:code href="api_samples/vpn/vpnservice-update-res.json"/>
            </wadl:doc> &svcCreateVPNServiceObjectParam; &svcResponseParams; </representation>
        </response>&fault400; &fault401; &fault404;</method>
    <method name="DELETE" id="deleteVPNService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove VPN service">
            <para role="shortdesc">Removes a VPN service.</para>
            <para>
                If the service has connections, the request is rejected.
            </para>
        </wadl:doc>
        <response status="204"/>&fault401; &fault404; &fault409conflict;</method>
    <!--IKEPolicies-->
    <method name="POST" id="createIKEPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create IKE policy">
            <para role="shortdesc">Creates an IKE policy.</para>
            <para>
                The IKE policy is used for phases one and two negotiation of
                the VPN connection. You can specify both the authentication
                and encryption algorithms for connections.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ikepolicy-create-req.json"/>
                </wadl:doc>
                &ikepolicyObject; &ikeRequestParams; &ikeCreateRequestParams;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ikepolicy-create-res.json"/>
                </wadl:doc>
                &ikepolicyObject; &ikeResponseParams;
            </representation>
        </response>&fault400; &fault401;</method>
    <method name="GET" id="listIKEPolicies">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List IKE policies">
            <para role="shortdesc">Lists IKE policies.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ikepolicy-list-res.json"/>
                </wadl:doc> &ikeListResponseParams; &ikeResponseParams; </representation>
        </response> &fault401; &fault403;</method>
    <method name="GET" id="showIKEPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show IKE policy details">
            <para role="shortdesc">Shows details for an IKE policy.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ikepolicy-show-res.json"/>
                </wadl:doc> &ikepolicyObject; &ikeResponseParams; </representation>
        </response> &fault401; &fault403; &fault404;</method>
    <method name="PUT" id="updateIKEPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update IKE policy">
            <para role="shortdesc">
                Updates policy settings in an IKE policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ikepolicy-update-req.json"/>
                </wadl:doc> &ikepolicyObject; &ikeRequestParams; </representation>
        </request>
        <response status="200"><representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ikepolicy-update-res.json"/>
                </wadl:doc> &ikepolicyObject; &ikeResponseParams; </representation>
        </response> &fault400; &fault401; &fault404;</method>
    <method name="DELETE" id="deleteIKEPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove IKE policy">
            <para role="shortdesc">Removes an IKE policy.</para>
        </wadl:doc>
        <response status="204"/>&fault401; &fault404; &fault409;</method>
    <!-- IPSec policy -->
    <method name="POST" id="createIPSecPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create IPSec policy">
            <para role="shortdesc">Creates an IP security (IPSec) policy.</para>
            <para>
                The IPsec policy specifies the authentication and encryption
                algorithms and encapsulation mode to use for the established
                VPN connection.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsecpolicy-create-req.json"/>
                </wadl:doc>
                &ipsecpolicyObject;
                &ipsecRequestParams;
                &ipsecCreateRequestParams;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsecpolicy-create-res.json"/>
                </wadl:doc>
                &ipsecpolicyObject;
                &ipsecResponseParams;
            </representation>
        </response>&fault400; &fault401;</method>
    <method name="GET" id="listIPSecPolicies">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List IPSec policies">
            <para role="shortdesc">Lists all IPSec policies.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsecpolicy-list-res.json"/>
                </wadl:doc> &ipsecListResponseParams; &ipsecResponseParams; </representation>
        </response> &fault401; &fault403;</method>
    <method name="GET" id="showIPSecPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show IPSec policy">
            <para role="shortdesc">Shows details for an IPSec policy.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsecpolicy-show-res.json"/>
                </wadl:doc>
                &ipsecpolicyObject;
                &ipsecResponseParams;
            </representation>
        </response> &fault401; &fault403; &fault404;</method>
    <method name="PUT" id="updateIPSecPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update IPSec policy">
            <para role="shortdesc">
                Updates policy settings in an IPSec policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsecpolicy-update-req.json"/>
                </wadl:doc>
                &ipsecpolicyObject;
                &ipsecRequestParams;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsecpolicy-update-res.json"/>
                </wadl:doc>
                &ipsecpolicyObject;
                &ipsecResponseParams;
            </representation>
        </response> &fault400; &fault401; &fault404;</method>
    <method name="DELETE" id="deleteIPSecPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove IPSec policy">
            <para role="shortdesc">Removes an IPSec policy.</para>
        </wadl:doc>
        <response status="204"/>&fault401; &fault404; &fault409;</method>
    <!-- VPN endpoint group -->
    <method name="POST" id="createVpnEndpointGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create VPN endpoint group">
            <para role="shortdesc">Creates a VPN endpoint group.</para>
            <para>
              The endpoint group contains one or more endpoints of a specific
              type that you can use to create a VPN connections.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpn-endpoint-group-create-req.json"/>
                </wadl:doc> &vpnEndpointGroupRequestParams; &vpnEndpointGroupCreateRequestParams; </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpn-endpoint-group-create-res.json"/>
                </wadl:doc> &vpnEndpointGroupResponseParams; </representation>
        </response>&fault400; &fault401;</method>
    <method name="GET" id="listVpnEndpointGroups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List VPN endpoint groups">
            <para role="shortdesc">Lists VPN endpoint groups.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpn-endpoint-group-list-res.json"/>
                </wadl:doc> &vpnEndpointGroupListResponseParams; &vpnEndpointGroupResponseParams; </representation>
        </response> &fault401; &fault403;</method>
    <method name="GET" id="showVpnEndpointGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show VPN endpoint group">
            <para role="shortdesc">Shows details for a VPN endpoint group.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpn-endpoint-group-show-res.json"/>
                </wadl:doc> &vpnEndpointGroupResponseParams; </representation>
        </response> &fault401; &fault403; &fault404;</method>
    <method name="PUT" id="updateVpnEndpointGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update VPN endpoint group">
            <para role="shortdesc">Updates settings for a VPN endpoint group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpn-endpoint-group-update-req.json"/>
                </wadl:doc> &vpnEndpointGroupRequestParams; </representation>
        </request>
        <response status="200"><representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/vpn-endpoint-group-update-res.json"/>
                </wadl:doc> &vpnEndpointGroupResponseParams; </representation>
        </response> &fault400; &fault401; &fault404;</method>
    <method name="DELETE" id="deleteVpnEndpointGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove VPN endpoint group">
            <para role="shortdesc">Removes a VPN endpoint group.</para>
        </wadl:doc>
        <response status="204"/>&fault401; &fault404; &fault409;</method>
    <!-- IPSec site-to-site connection -->
    <method name="POST" id="createIPSecSiteConnection">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create IPSec connection">
            <para role="shortdesc">
                Creates a site-to-site IPSec connection for a service.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsec-site-connection-create-req.json"/>
                </wadl:doc>
                &connObject;
                &connRequestParams;
                &connCreateRequestParams;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsec-site-connection-create-res.json"/>
                </wadl:doc>
                &connObject;
                &connResponseParams;
            </representation>
        </response>&fault400; &fault401;</method>
    <method name="GET" id="listIPSecSiteConnections">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List IPSec connections">
            <para role="shortdesc">Lists all IPSec connections.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsec-site-connection-list-res.json"/>
                </wadl:doc>&connListResponseParams; &connResponseParams; </representation>
        </response> &fault401; &fault403;</method>
    <method name="GET" id="showIPSecSiteConnection">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show IPSec connection">
            <para role="shortdesc">Shows details for an IPSec connection.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsec-site-connection-show-res.json"/>
                </wadl:doc>
                &connObject;
                &connResponseParams;
            </representation>
        </response> &fault401; &fault403; &fault404;</method>
    <method name="PUT" id="updateIPSecSiteConnection">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update IPSec connection">
            <para role="shortdesc">Updates connection settings for an IPSec connection.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsec-site-connection-update-req.json"/>
                </wadl:doc>
                &connObject;
                &connRequestParams;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="api_samples/vpn/ipsec-site-connection-update-res.json"/>
                </wadl:doc>
                &connObject;
                &connResponseParams;
            </representation>
        </response> &fault400; &fault401; &fault404;</method>
    <method name="DELETE" id="deleteIPSecSiteConnection">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove IPSec connection">
            <para role="shortdesc">Removes an IPSec connection.</para>
        </wadl:doc>
        <response status="204"/>&fault401; &fault404; &fault409;</method>
</application>
