api-ref/src/wadls/netconn-api/src/security-groups.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../common_project.ent">
    %common_project;
]>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://www.w3.org/2001/XMLSchema"
    xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0">
    <grammars>
        <include href="xsd/secgr.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com/"
        xml:id="security-groups-v2.0">
        <resource id="version" path="//v2.0">
                <resource id="security_groups" path="security-groups">
                    <method href="#listSecGroups"/>
                    <method href="#createSecGroup"/>
                    <resource id="security_group_id"
                        path="{security_group_id}">
                        <param name="security_group_id"
                            style="template" type="csapi:uuid">
                            <wadl:doc
                                xmlns="http://www.w3.org/1999/xhtml"
                                xml:lang="EN">The unique identifier of
                                the security group.</wadl:doc>
                        </param>
                        <method href="#getSecGroup"/>
                        <method href="#deleteSecGroup"/>
                    </resource>
                </resource>
                <resource id="security_groups_rules"
                    path="security-group-rules">
                    <method href="#listSecGroupRules"/>
                    <method href="#createSecGroupRule"/>
                    <resource path="{rules-security-groups-id}"
                        id="rules-security-groups-id">
                        <param name="rules-security-groups-id"
                            style="template" type="csapi:uuid">
                            <wadl:doc
                                xmlns="http://www.w3.org/1999/xhtml"
                                xml:lang="EN">The unique identifier of
                                the security group rule.</wadl:doc>
                        </param>
                        <method href="#getSecGroupRule"/>
                        <method href="#deleteSecGroupRule"/>
                    </resource>
                </resource>
        </resource>
    </resources>
    <method name="GET" id="listSecGroups">
        <wadl:doc xml:lang="EN" title="List security groups"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
              Lists OpenStack Networking security groups to which the
              specified tenant has access.
            </para>
            <para>
              The list shows the unique ID for and the rules that are
              associated with each security group.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-list-get-req-json-http.txt"
                    /></wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupParameter;
            &securityGroupCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-list-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create security group">
            <para role="shortdesc">
              Creates an OpenStack Networking security group.
            </para>
            <para>
              This operation creates a security group with default
              security group rules for the IPv4 and IPv6 ether types.
            </para>
        </wadl:doc>
        <request> &securityGroupParameter;
            &securityGroupCreateRequestParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201"> &securityGroupParameter;
            &securityGroupCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401;
    </method>
    <method name="GET" id="getSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show security group">
            <para role="shortdesc">
              Shows details for a specified security group.
            </para>
            <para>
              This operation returns a response body that contains the
              description, name, ID, and security group rules associated
              with the specified security group and tenant ID.
            </para>
        </wadl:doc>
        <request> &securityGroupShowRequestParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-get-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupParameter;
            &securityGroupCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404;
    </method>
    <method name="DELETE" id="deleteSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete security group">
            <para role="shortdesc">
              Deletes an OpenStack Networking security group.
            </para>
            <para>
              This operation deletes an OpenStack Networking security
              group and its associated security group rules, provided
              that a port is not associated with the security group.
            </para>
            <para>
              This operation does not require a request body. This
              operation does not return a response body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-delete-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/security-groups-delete-resp-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; &fault409;
    </method>
    <method name="GET" id="listSecGroupRules">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List security group rules">
            <para role="shortdesc">
              Lists a summary of all OpenStack Networking security group
              rules that the specified tenant can access.
            </para>
            <para>
              The list provides the unique ID for each security group
              rule.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-list-get-req-json-http.txt"
                        />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupRulesParameter;
            &securityGroupRuleCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-list-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create security group rule">
            <para role="shortdesc">
              Creates an OpenStack Networking security group rule.
            </para>
        </wadl:doc>
        <request> &securityGroupRuleParameter;
            &securityGroupRuleCreateRequestParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201"> &securityGroupRuleParameter;
            &securityGroupRuleCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault404; &fault409;
    </method>
    <method name="GET" id="getSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show security group rule">
            <para role="shortdesc">
              Shows detailed information for a specified security group
              rule.
            </para>
            <para>
              The response body contains the following information about
              the security group rule:
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-get-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupRuleParameter;
            &securityGroupRuleCommonResponseParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404;
    </method>
    <method name="DELETE" id="deleteSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete security group rule">
            <para role="shortdesc">
                Deletes a specified rule from an OpenStack Networking
                security group.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-delete-req-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="api_samples/rules-security-groups-delete-resp-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404;
    </method>
</application>
