api-ref/src/wadls/orchestration-api/src/v1/orchestration-api.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<!-- Useful for describing APIs -->
<!DOCTYPE application[
  <!ENTITY % common  SYSTEM "common.ent">
    %common;
  <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wadl="http://wadl.dev.java.net/2009/02"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:db="http://docbook.org/ns/docbook"
             xmlns:common="http://docs.openstack.org/common/api/v1.0">
    <resources base="https://heat.example.com/"
        xml:id="orchestration-api-v1.0">
        <resource id="versions" path="//">
            <method href="#getVersions-heat-v1"/>
        </resource>
        <resource id="version" path="//v1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The unique identifier of the tenant or account.
                        </para>
                    </wadl:doc>
                </param>
                <resource id="stacks" path="stacks">
                    <method href="#stack_create"/>
                    <method href="#stack_adopt"/>
                    <method href="#stack_list"/>
                    <resource path="preview" id="preview">
                        <method href="#stack_preview"/>
                    </resource>
                    <resource path="{stack_name}" id="stack_name">
                        <param name="stack_name" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                              <para>
                                The name of a stack.
                              </para>
                            </wadl:doc>
                        </param>
                        <method href="#stack_find"/>
                        <resource path="resources" id="resources">
                            <method href="#stack_resources_find"/>
                        </resource>
                        <resource path="events" id="events">
                            <method href="#stack_events_find"/>
                        </resource>
                        <resource path="{stack_id}" id="stack_id">
                            <param name="stack_id" style="template"
                                required="true">
                              <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">
                                <para>
                                  The unique identifier for a stack.
                                </para>
                              </wadl:doc>
                            </param>
                            <method href="#stack_show"/>
                            <method href="#stack_update"/>
                            <method href="#stack_delete"/>
                            <resource path="abandon" id="abandon">
                                <method href="#stack_abandon"/>
                            </resource>
                            <resource path="snapshots" id="snapshots">
                                <method href="#stack_snapshot"/>
                                <method href="#stack_list_snapshot"/>
                            </resource>
                            <resource path="snapshots" id="snapshots2">
                                <resource path="{snapshot_id}"
                                    id="snapshot_id">
                                    <param name="snapshot_id"
                                    style="template" required="true">
                                    <wadl:doc
                                    xmlns="http://docbook.org/ns/docbook"
                                    xml:lang="EN">
                                      <para>
                                        The ID of a snapshot.
                                      </para>
                                    </wadl:doc>
                                    </param>
                                    <method href="#stack_show_snapshot"/>
                                    <method href="#stack_restore_snapshot"/>
                                    <method href="#stack_delete_snapshot"/>
                                </resource>
                            </resource>
                            <resource path="actions" id="actions">
                                <method href="#stack_action_suspend"/>
                                <method href="#stack_action_resume"/>
                                <method href="#stack_action_cancel-update"/>
                                <method href="#stack_action_check"/>
                            </resource>
                            <resource path="events" id="events2">
                                <method href="#stack_event_list"/>
                            </resource>
                            <resource path="resources" id="resources2">
                                <method href="#resource_list"/>
                                <resource path="{resource_name}"
                                   id="resource_name">
                                   <param name="resource_name"
                                   style="template" required="true">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">
                                   <para>
                                     The name of a resource in the stack.
                                   </para>
                                   </wadl:doc>
                                   </param>
                                   <method href="#resource_show"/>
                                   <resource id="events4"
                                   path="events">
                                   <method href="#resource_event_list"
                                   />
                                   </resource>
                                   <resource path="metadata"
                                   id="metadata">
                                   <method href="#resource_metadata"/>
                                   </resource>
                                   <resource path="signal"
                                   id="signal">
                                   <method href="#resource_signal"/>
                                   </resource>
                                   <resource path="events"
                                   id="events3">
                                   <resource path="{event_id}"
                                   id="event_id">
                                   <param name="event_id"
                                   style="template" required="true">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">
                                   <para>
                                    The unique identifier of an event related
                                    to the resource in the stack.
                                   </para>
                                   </wadl:doc>
                                   </param>
                                   <method href="#event_show"/>
                                   </resource>
                                   </resource>
                                </resource>
                            </resource>
                            <resource path="template" id="template">
                                <method href="#stack_template"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="validate_template" path="validate">
                    <method href="#template_validate"/>
                </resource>
                <resource id="resource_types" path="resource_types">
                    <method href="#resource_type_list"/>
                    <resource id="resource_schema" path="{type_name}">
                        <param name="type_name" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                  The name of a resource type.
                                </para>
                            </wadl:doc>
                        </param>
                        <method href="#resource_type_get"/>
                        <resource id="resource_template"
                            path="template">
                            <method href="#resource_type_template"/>
                        </resource>
                    </resource>
                </resource>
                <resource path="build_info" id="build_info">
                    <method href="#build_info_show"/>
                </resource>
                <resource id="software_configs"
                    path="software_configs">
                    <method href="#software_config_create"/>
                    <resource path="{config_id}" id="config_id">
                        <param name="config_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                  The ID of the configuration.
                                 </para>
                               </wadl:doc>
                        </param>
                        <method href="#software_config_show"/>
                        <method href="#software_config_delete"/>
                    </resource>
                </resource>
                <resource id="software_deployments"
                    path="software_deployments">
                    <method href="#software_deployment_index"/>
                    <method href="#software_deployment_create"/>
                    <resource path="{deployment_id}"
                        id="deployment_id">
                        <param name="deployment_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                  The ID of the deployment.
                                </para>
                            </wadl:doc>
                        </param>
                        <method href="#software_deployment_show"/>
                        <method href="#software_deployment_update"/>
                        <method href="#software_deployment_delete"/>
                    </resource>
                    <resource id="deployment_metadata" path="metadata">
                        <resource path="{server_id}" id="server_id">
                            <param name="server_id" style="template"
                                required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">
                                   <para>
                                    The ID of the server for which to fetch
                                    configuration metadata.
                                   </para>
                                </wadl:doc>
                            </param>
                            <method
                                href="#software_deployment_metadata"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="service_list" path="services">
                    <method href="#service_status_list"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getVersions-heat-v1">
        <wadl:doc xml:lang="EN" title="List versions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information about all Orchestration API versions.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/heat-versions-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="stack_list">
        <wadl:doc xml:lang="EN" title="List stack data"
        xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
              Lists active stacks.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="status" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the stack list by a specified status.
                          You can use this filter multiple times to filter
                          by multiple statuses.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the stack list by a specified name.
                        </para>
                    </wadl:doc>
                </param>
                &limitMarkerReqParameter;
                <param name="show_deleted" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Specifies whether to include deleted stacks in the
                          stack list. Set to False by default, so that deleted
                          stacks are not shown in the results of the &GET;
                          request unless you set this value to True.
                        </para>
                    </wadl:doc>
                </param>
                <param name="sort_keys" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                      <para>
                          Sorts the stack list by the
                          <code>name</code>, <code>status</code>,
                          <code>created_at</code>, or
                          <code>updated_at</code> key.
                      </para>
                    </wadl:doc>
                </param>
                &sortDirection;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_list_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_create">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create stack">
            <para role="shortdesc">
              Creates a stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_create.json"/>
                </wadl:doc>
                <param name="stack_name" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A name for the new stack.
                        </para>
                        <para>
                          The value must be unique within a project. The name
                          must start with an ASCII letter and can contain
                          ASCII letters, digits, underscores, periods, and
                          hyphens. Specifically, the name must match the
                          <code>^[a-zA-Z][a-zA-Z0-9_.-]*$</code> regular
                          expression.
                        </para>
                        <para>
                          When you delete or abandon a stack, its name might
                          not be available for reuse for an unspecified period
                          of time.
                      </para>
                    </wadl:doc>
                </param>
                <param name="template_url" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A URI to the location containing the stack template
                          to instantiate.
                        </para>
                        <para>
                          See the description of the <code>template</code>
                          property for information about the expected template
                          content located at the URI.
                        </para>
                        <para>
                          This parameter is only required when the
                          <code>template</code> parameter is omitted. The
                          value is ignored if the <code>template</code>
                          property is also specified.
                        </para>
                    </wadl:doc>
                </param>
                <param name="template" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The stack template to instantiate.
                        </para>
                        <para>
                          This parameter is always provided as a
                          <code>string</code> in the JSON request body. The
                          content of the string is an Orchestration template,
                          and may be provided in either YAML or JSON syntax.
                          Complete details about the syntax of an
                          Orchestration template are provided in the <link
                          xlink:href="http://docs.openstack.org/hot-guide/content/">Heat
                          Orchestration Template (HOT) specification</link>.
                        </para>
                        <para>
                          This parameter is only required when the
                          <code>template_url</code> parameter is omitted. If
                          both are specified, this value overrides any value
                          provided for <code>template_url</code>.
                      </para>
                    </wadl:doc>
                </param>
                &filesParameter;
                &parametersParameter;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_create_resp.json"
                    />
                </wadl:doc>
                <param name="stack_name" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The name of the stack to create.
                        </para>
                    </wadl:doc>
                </param>
                <param name="template_url" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                      <para>
                        The URL of the template to instantiate. This value
                        is ignored if the template is supplied inline.
                      </para>
                    </wadl:doc>
                </param>
                <param name="template" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A JSON template to instantiate. This value takes
                          precedence over the template URL if both are
                          supplied.
                        </para>
                    </wadl:doc>
                </param>
                <param name="environment" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A JSON environment for the stack.
                        </para>
                    </wadl:doc>
                </param>
                <param name="files" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A map of file names (Provider resource templates,
                          as referenced in the environment) to JSON
                          template bodies.
                        </para>
                    </wadl:doc>
                </param>
                <param name="param_name-n" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          User-defined parameter names to pass to the
                          template.
                        </para>
                    </wadl:doc>
                </param>
                <param name="param_value-n" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          User-defined parameter values to pass to the
                          template.
                        </para>
                    </wadl:doc>
                </param>
                <param name="timeout_mins" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The timeout for stack creation in minutes.
                        </para>
                      </wadl:doc>
                </param>
                <param name="disable_rollback" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Controls whether a failure during stack creation
                          causes deletion of all previously-created
                          resources in that stack. The default is True; a
                          failure does not cause deletions.
                        </para>
                    </wadl:doc>
                </param>
                <param name="stack_id" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The system-assigned ID for the stack.
                        </para>
                    </wadl:doc>
                </param>
                <param name="links" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A list of URLs for the stack.
                        </para>
                    </wadl:doc>
                </param>
                <param name="rel" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A reference to the stack's parent. If no parent,
                          reference is <code>self</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_preview">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
          title="Preview stack">
          <para role="shortdesc">
            Previews a stack.
          </para>
      </wadl:doc>
         <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_create.json"/>
                </wadl:doc>
                <param name="stack_name" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A name for the new stack.
                        </para>
                        <para>
                          The value must be unique within a project. The
                          name must start with an ASCII letter and can contain
                          ASCII letters, digits, underscores, periods, and
                          hyphens. Specifically, the name must match the
                          <code>^[a-zA-Z][a-zA-Z0-9_.-]*$</code> regular
                          expression.
                        </para>
                        <para>
                          When you delete or abandon a stack, its name might
                          not be available for reuse for an unspecified period
                          of time.
                      </para>
                    </wadl:doc>
                </param>
                <param name="template_url" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A URI to the location containing the stack template
                          to instantiate.
                        </para>
                        <para>
                          See the description of the <code>template</code>
                          property for information about the expected template
                          content located at the URI.
                        </para>
                        <para>
                          This parameter is only required when the
                          <code>template</code> parameter is omitted. The
                          value is ignored if the <code>template</code>
                          property is also specified.
                        </para>
                    </wadl:doc>
                </param>
                <param name="template" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The stack template to instantiate.
                        </para>
                        <para>
                          This parameter is always provided as a
                          <code>string</code> in the JSON request body. The
                          content of the string is an Orchestration template,
                          and may be provided in either YAML or JSON syntax.
                          Complete details about the syntax of an
                          Orchestration template are provided in the <link
                          xlink:href="http://docs.openstack.org/hot-guide/content/">Heat
                          Orchestration Template (HOT) specification</link>.
                        </para>
                        <para>
                          This parameter is only required when the
                          <code>template_url</code> parameter is omitted. If
                          both are specified, this value overrides any value
                          provided for <code>template_url</code>.
                        </para>
                    </wadl:doc>
                </param>
                &filesParameter;
                &parametersParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_preview.json"/>
                </wadl:doc>
                <param name="parent" style="plain" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          The stack ID of the parent stack, if this is
                          a nested stack.
                      </para>
                  </wadl:doc>
              </param>
              <param name="id" style="plain" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          The stack ID.
                      </para>
                  </wadl:doc>
              </param>
              <param name="stack_name" style="plain" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          The name of the stack.
                      </para>
                  </wadl:doc>
              </param>
              <param name="description" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          A description of the stack.
                      </para>
                  </wadl:doc>
              </param>
              <param name="template_description" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          A description of the template that defines the
                          stack.
                      </para>
                  </wadl:doc>
              </param>
              <param name="timeout_mins" style="plain" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          Timelines for stack creation.
                      </para>
                  </wadl:doc>
              </param>
              <param name="disable_rollback" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          Defines whether the Orchestration service has to
                          rollback the stack in case of a failure during
                          creation. Set to true if you want to require
                          rollback.
                      </para>
                  </wadl:doc>
              </param>
              <param name="capabilities" style="plain" required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          List of stack capabilities for stack.
                      </para>
                  </wadl:doc>
              </param>
              <param name="notification_topics" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          List of notification topics for stack.
                      </para>
                  </wadl:doc>
              </param>
              <param name="updated_time" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          Time of last stack update in the following format:
                          <code>YYYY-MM-DDThh:mm:ssTZD</code>, where
                          <code>TZD</code> is the time zone designator.
                      </para>
                  </wadl:doc>
              </param>
              <param name="stack_owner" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          Stack owner name.
                      </para>
                  </wadl:doc>
              </param>
              <param name="parameters" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          List of parameters defined for the stack.
                      </para>
                  </wadl:doc>
              </param>
              <param name="resources" style="plain"
                  required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                          List of stack resources.
                      </para>
                  </wadl:doc>
              </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_adopt">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Adopt stack">
            <para role="shortdesc">
              Creates a stack from existing resources.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_adopt.json"/>
                </wadl:doc>
                <param name="stack_name" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A name for the new stack.
                        </para>
                        <para>
                          The value must be unique within a project. The name
                          must start with an ASCII letter and can contain
                          ASCII letters, digits, underscores, periods, and
                          hyphens. Specifically, the name must match the
                          <code>^[a-zA-Z][a-zA-Z0-9_.-]*$</code> regular
                          expression.
                      </para>
                      <para>
                          When you delete or abandon a stack, its
                          name might not be available for reuse for an
                          unspecified period of time.
                      </para>
                    </wadl:doc>
                </param>
                <param name="template_url" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A URI to the location containing the stack template
                          to instantiate.
                        </para>
                        <para>
                          See the description of the <code>template</code>
                          property for information about the expected template
                          content located at the URI.
                        </para>
                        <para>
                          This parameter is only required when the
                          <code>template</code> parameter is omitted. The value
                          is ignored if the <code>template</code> property is
                          also specified.
                      </para>
                    </wadl:doc>
                </param>
                <param name="template" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The stack template to instantiate.
                        </para>
                        <para>
                          This parameter is always provided as a
                          <code>string</code> in the JSON request body. The
                          content of the string is an Orchestration template, and may
                          be provided in either YAML or JSON syntax. Complete details about the syntax
                          of an Orchestration template are provided in the <link
                          xlink:href="http://docs.openstack.org/hot-guide/content/">Heat
                          Orchestration Template (HOT) specification</link>.
                        </para>
                        <para>
                          This parameter is only required when the
                          <code>template_url</code> parameter is omitted. If
                          both are specified, this value overrides any value
                          provided for <code>template_url</code>.
                      </para>
                    </wadl:doc>
                </param>
                <param name="environment" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A JSON environment for the stack.
                        </para>
                    </wadl:doc>
                </param>
                &filesParameter;
                &parametersParameter;
                <param name="param_name-n" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          User-defined parameter names to pass to the
                          template.
                        </para>
                    </wadl:doc>
                </param>
                <param name="param_value-n" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          User-defined parameter values to pass to the
                          template.
                        </para>
                    </wadl:doc>
                </param>
                <param name="timeout_mins" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                      <para>
                        The timeout for stack creation in minutes.
                      </para>
                    </wadl:doc>
                </param>
                <param name="adopt_stack_data" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                      <para>
                        Existing resources data to adopt a stack. Data
                        returned by abandon stack could be provided as
                        <code>adopt_stack_data</code>.
                      </para>
                    </wadl:doc>
                </param>
                <param name="disable_rollback" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Enables or disables deletion of all stack
                          resources when a stack creation fails. Default is
                          True; all resources are not deleted when stack
                          creation fails.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_adopt_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_action_suspend">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Suspend stack">
            <para role="shortdesc">
              Suspends a stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/stack_action_suspend.json"/>
                </wadl:doc>
                <param name="suspend" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                          Specify the <code>suspend</code> action in the
                          request body.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_action_resume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Resume stack">
            <para role="shortdesc">
              Resumes a suspended stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/stack_action_resume.json"/>
                </wadl:doc>
                <param name="resume" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                          Specify the <code>resume</code> action in the
                          request body.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_action_cancel-update">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Cancel stack update">
            <para role="shortdesc">
              Cancels a currently running update of a stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/stack_action_cancel-update.json"/>
                </wadl:doc>
                <param name="cancel-update" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                          Specify the <code>cancel-update</code> action in the
                          request body.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_action_check">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Check stack resources">
            <para role="shortdesc">
              Checks whether the resources are in expected states for the
              specified stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/stack_action_check.json"/>
                </wadl:doc>
                <param name="check" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                          Specify the <code>check</code> action in the
                          request body.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="GET" id="stack_find">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Find stack">
            <para role="shortdesc">
              Finds the canonical URL for a specified stack.
            </para>
            <para>
              Also works with verbs other than &GET;, so you can perform &PUT;
              and &DELETE; operations on a current stack. Set your client to
              follow redirects. Note that when redirecting, the request method
              should not change, as defined in RFC2626. However, in many
              clients the default behavior is to change the method to &GET;
              when you receive a 302 because this behavior is ubiquitous in
              web browsers.
            </para>
        </wadl:doc>
        <response status="302">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_find_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="stack_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show stack details">
            <para role="shortdesc">
              Shows details for a specified stack.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_show_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="stack_template">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get stack template">
            <para role="shortdesc">
              Gets a template for a specified stack.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="PUT" id="stack_update">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
           title="Update stack">
            <para role="shortdesc">
              Updates a specified stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_update.json"/>
                </wadl:doc>
                <param name="template_url" style="plain" required="false">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                        <para>
                          A URI to the location containing the updated
                          stack template.
                        </para>
                        <para>
                          See the description of the <code>template</code>
                          property for information about the expected template
                          content located at the URI.
                        </para>
                        <para>
                          This parameter is only required when the
                          <code>template</code> parameter is omitted. The
                          value is ignored if the <code>template</code>
                          property is also specified.
                        </para>
                  </wadl:doc>
                </param>
                <param name="template" style="plain" required="false">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                        The updated stack template.
                      </para>
                      <para>
                        This parameter is always provided as a
                        <code>string</code> in the JSON request body. The
                        content of the string is an Orchestration template,
                        and may be provided in either YAML or JSON syntax.
                        Complete details about the syntax of an Orchestration
                        template are provided in the <link
                        xlink:href="http://docs.openstack.org/hot-guide/content/">Heat
                        Orchestration Template (HOT) specification</link>.
                      </para>
                      <para>
                        This parameter is only required when the
                        <code>template_url</code> parameter is omitted. If
                        both are specified, this value overrides any value
                        provided for <code>template_url</code>.
                    </para>
                  </wadl:doc>
                </param>
                <param name="environment" style="plain"
                      required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN">
                      <para>
                        A JSON environment for the stack.
                      </para>
                  </wadl:doc>
                </param>
                &filesParameter;
                <param name="parameters" style="plain" required="false">
                      <wadl:doc xmlns="http://docbook.org/ns/docbook"
                          xml:lang="EN">
                          <para>
                            This parameter supplies updated arguments for
                            parameters defined in the stack template.
                          </para>
                          <para>

                            The value is a JSON object, where each key is the
                            name of a parameter <link
                            xlink:href="http://docs.openstack.org/hot-guide/content/hot-spec-parameters.html">defined
                            in the template</link> and the associated value is
                            the argument to use for that parameter when
                            instantiating the template. The following code
                            shows the general structure of this parameter. In
                            the example, <code>a</code> and <code>b</code>
                            would be the names of two parameters defined in
                            the template.
                            <programlisting language="json">{ ...
    "parameters":{
        "a":"Value",
        "b":"3"
    }
... }</programlisting>
                          </para>
                          <para>
                            While the service accepts JSON numbers for
                            parameters with the type <code>number</code> and
                            JSON objects for parameters with the type
                            <code>json</code>, all parameter values are
                            converted to their string representation for
                            storage in the created Stack. Clients are
                            encouraged to send all parameter values using
                            their string representation for consistency
                            between requests and responses from the
                            Orchestration service.
                          </para>
                          <para>
                            A value must be provided for each template
                            parameter which does not specify a default value.
                            However, this parameter is not allowed to contain
                            JSON properties with names that do not match a
                            parameter defined in the template.
                          </para>
                      </wadl:doc>
                  </param>
                  <param name="param_name-n" style="plain"
                      required="true">
                      <wadl:doc xmlns="http://docbook.org/ns/docbook"
                          xml:lang="EN">
                          <para>
                            User-defined parameter names to pass to the
                            template.
                          </para>
                      </wadl:doc>
                  </param>
                  <param name="param_value-n" style="plain"
                      required="true">
                      <wadl:doc xmlns="http://docbook.org/ns/docbook"
                          xml:lang="EN">
                          <para>
                            User-defined parameter values to pass to the
                            template.
                          </para>
                      </wadl:doc>
                  </param>
                  <param name="timeout_mins" style="plain"
                      required="true">
                      <wadl:doc xmlns="http://docbook.org/ns/docbook"
                          xml:lang="EN">
                          <para>
                            The timeout for stack creation in minutes.
                          </para>
                      </wadl:doc>
                  </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="DELETE" id="stack_delete">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete stack">
            <para role="shortdesc">
              Deletes a specified stack and any snapshots of that stack.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="DELETE" id="stack_abandon">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Abandon stack">
            <para role="shortdesc">
              Deletes a specified stack but leaves its resources intact, and
              returns data describing the stack and its resources.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_abandon.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_snapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Snapshot stack">
            <para role="shortdesc">
              Takes a snapshot of all the resources in the stack. All
              snapshots are deleted upon deletion of the stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_snapshot_req.json"/>
                </wadl:doc>
                <param name="name" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The name of the snapshot.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_snapshot.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="stack_list_snapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots">
            <para role="shortdesc">
              Lists the stack snapshots.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_list_snapshot.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="stack_show_snapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot">
            <para role="shortdesc">
              Shows details for a specified snapshot.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_show_snapshot.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="stack_restore_snapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Restore snapshot">
            <para role="shortdesc">
              Restores a stack snapshot. Only active stacks can be restored
              from a snapshot. Deleted stacks must be recreated.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="DELETE" id="stack_delete_snapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete snapshot">
            <para role="shortdesc">
              Deletes a stack snapshot.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="POST" id="template_validate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Validate template">
            <para role="shortdesc">
              Validates a specified template.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/template_validate_req.json"
                    />
                </wadl:doc>
                <param name="template_url" style="plain"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The URL of the template to instantiate. This value
                          is ignored if the template is supplied inline.
                        </para>
                    </wadl:doc>
                </param>
                <param name="template" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A JSON template to instantiate. This value takes
                          precedence over the template URL if both are
                          supplied.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/template_validate_resp.json"/>
                </wadl:doc>
                <param name="Description" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The description given in the template.
                        </para>
                    </wadl:doc>
                </param>
                <param name="Parameters" style="plain" type="object"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          An object with all the input parameters defined in
                          the template, indexed by parameter name.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ParameterGroups" style="plain" type="list"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          A list of parameter groups, each containing a list
                          of parameter names.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="resource_type_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List resource types">
            <para role="shortdesc">
              Lists the supported template resource types.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="GET" id="resource_type_get">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show resource schema">
            <para role="shortdesc">
              Shows the interface schema for a specified resource type.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/resource_schema.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="resource_type_template">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show resource template">
            <para role="shortdesc">
              Shows the template representation for a specified resource type.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="GET" id="stack_resources_find">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Find stack resources">
            <para role="shortdesc">
              Finds the canonical URL for the resource list of a specified
              stack.
            </para>
        </wadl:doc>
        <response status="302"/>
    </method>
    <method name="GET" id="resource_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List resources">
            <para role="shortdesc">
              Lists resources in a stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="nested_depth" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Includes resources from nested stacks up to
                            <code>nested_depth</code> levels of recursion.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="GET" id="resource_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show resource data">
            <para role="shortdesc">
              Shows data for a specified resource.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="GET" id="resource_metadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show resource metadata">
            <para role="shortdesc">
              Shows metadata for a specified resource.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/resource_metadata_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="resource_signal">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Send a signal to a resource">
            <para role="shortdesc">
              Sends a signal to a specified resource.
            </para>
            <para>
              Some resources cannot receive signals. If you send them a
              signal, they return a 400 error response code. The contents of
              the &POST; request body depends on the resource to which you
              send a signal.
          </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="stack_events_find">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Find stack events">
            <para role="shortdesc">
              Finds the canonical URL for the event list of a specified
              stack.
            </para>
        </wadl:doc>
        <response status="302"/>
    </method>
    <method name="GET" id="stack_event_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List stack events">
            <para role="shortdesc">
              Lists events for a specified stack.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="resource_action" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource action. You can use this filter multiple
                          times to filter by multiple resource actions:
                          <code>CREATE</code>, <code>DELETE</code>,
                          <code>UPDATE</code>, <code>ROLLBACK</code>,
                          <code>SUSPEND</code>, <code>RESUME</code>, or
                          <code>ADOPT</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="resource_status" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource status. You can use this filter multiple
                          times to filter by multiple resource statuses:
                          <code>IN_PROGRESS</code>, <code>COMPLETE</code>, or
                          <code>FAILED</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="resource_name" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource name. You can use this filter multiple
                          times to filter by multiple resource names.
                        </para>
                    </wadl:doc>
                </param>
                <param name="resource_type" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource type. You can use this filter multiple
                          times to filter by multiple resource types:
                          <code>OS::Nova::Server</code>,
                          <code>OS::Cinder::Volume</code>,
                          <code>OS::Neutron::Port</code>, and so on.
                        </para>
                    </wadl:doc>
                </param>
                &limitMarkerReqParameter;
                &sortKeys;
                &sortDirection;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/event_list_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="resource_event_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List resource events">
            <para role="shortdesc">
              Lists events for a specified stack resource.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="resource_action" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource action. You can use this filter multiple
                          times to filter by multiple resource actions:
                          <code>CREATE</code>, <code>DELETE</code>,
                          <code>UPDATE</code>, <code>ROLLBACK</code>,
                          <code>SUSPEND</code>, <code>RESUME</code>, or
                          <code>ADOPT</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="resource_status" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource status. You can use this filter multiple
                          times to filter by multiple resource statuses:
                          <code>IN_PROGRESS</code>, <code>COMPLETE</code>, or
                          <code>FAILED</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="resource_name" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource name. You can use this filter multiple
                          times to filter by multiple resource names.
                        </para>
                    </wadl:doc>
                </param>
                <param name="resource_type" style="query" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Filters the event list by a specified
                          resource type. You can use this filter multiple
                          times to filter by multiple resource types:
                          <code>OS::Nova::Server</code>,
                          <code>OS::Cinder::Volume</code>,
                          <code>OS::Neutron::Port</code>, and so on.
                        </para>
                    </wadl:doc>
                </param>
                &limitMarkerReqParameter;
                &sortKeys;
                &sortDirection;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/event_list_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="event_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show event details">
            <para role="shortdesc">
              Shows details for a specified event.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
            </representation>
        </response>
    </method>
    <method name="GET" id="build_info_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show build information">
            <para role="shortdesc">
              Shows build information for a heat deployment.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/build_info.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="software_config_create">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create configuration">
            <para role="shortdesc">
              Creates a software configuration.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/config_create_req.json"
                    />
                </wadl:doc>
                <param name="config" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Configuration script or manifest that defines which
                          configuration is performed.
                        </para>
                    </wadl:doc>
                </param>
                <param name="group" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Namespace that groups this software configuration by
                          when it is delivered to a server. This setting might
                          simply define which configuration tool performs the
                          configuration.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The name of the configuration to create.
                        </para>
                    </wadl:doc>
                </param>
                <param name="inputs" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Schema that represents the inputs that this software
                          configuration expects.
                        </para>
                    </wadl:doc>
                </param>
                <param name="outputs" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Schema that represents the outputs that this
                          software configuration produces.
                        </para>
                    </wadl:doc>
                </param>
                <param name="options" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Map containing options specific to the
                          configuration management tool used by this
                          resource.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/config_create_resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="software_config_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show configuration details">
            <para role="shortdesc">
              Shows details for a software configuration.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/config_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="software_config_delete">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete config">
            <para role="shortdesc">
              Deletes a software configuration.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="software_deployment_index">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List deployments">
            <para role="shortdesc">
              Lists all available software deployments.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/deployment_list.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="software_deployment_metadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show server configuration metadata">
            <para role="shortdesc">
              Shows the deployment configuration metadata for a specified
              server.
            </para>
            <para>
              Use the <code>group</code> property to specify the
              configuration hook to which the pass the metadata item.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/deployment_metadata.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="software_deployment_create">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create deployment">
            <para role="shortdesc">
              Creates a software deployment.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/deployment_create_req.json"/>
                </wadl:doc>
                <param name="config_id" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The ID of the software configuration resource that
                          runs when applying to the server.
                        </para>
                    </wadl:doc>
                </param>
                <param name="server_id" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The ID of the compute server to which the
                          configuration applies.
                        </para>
                    </wadl:doc>
                </param>
                <param name="action" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          The current stack action that triggers this
                          deployment resource.
                        </para>
                    </wadl:doc>
                </param>
                <param name="stack_user_project_id" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Authentication project ID which can also perform
                          operations on this deployment.
                        </para>
                    </wadl:doc>
                </param>
                <param name="status" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Current status of the deployment. Value can be
                          <code>IN_PROGRESS</code>, <code>COMPLETE</code>, or
                          <code>FAILED</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="status_reason" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                         <para>
                          Error description for the last status change, which
                          is <code>FAILED</code> status.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/deployment_create_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="software_deployment_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show deployment details">
            <para role="shortdesc">
              Shows details for a specified software deployment.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/deployment_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="software_deployment_update">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update deployment">
            <para role="shortdesc">
              Updates a specified software deployment.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/deployment_update_req.json"/>
                </wadl:doc>
                <param name="config_id" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          ID of the software configuration resource to run
                          when applying to the server. This ID might not be
                          the same configuration ID with which the
                          deployment was created because ephemeral
                          configurations are created throughout the life
                          cycle of the deployment.
                        </para>
                    </wadl:doc>
                </param>
                <param name="action" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Current stack action in which this deployment
                          resource is being triggered.
                        </para>
                    </wadl:doc>
                </param>
                <param name="status" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Current status of the deployment:
                          <code>IN_PROGRESS</code>, <code>COMPLETE</code>,
                          or <code>FAILED</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="status_reason" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Error description for the last status change, which
                          is <code>FAILED</code> status.
                        </para>
                    </wadl:doc>
                </param>
                <param name="output_values" style="plain"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                          Map of output values for the deployment, as
                          signalled from the server.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/deployment_update_resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="software_deployment_delete">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete deployment">
            <para role="shortdesc">
              Deletes a specified software deployment.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="service_status_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show orchestration engine status">
            <para role="shortdesc">
              Shows details for all orchestration engines.
            </para>
            <para>
              Reports the orchestration engine details like <code>engine_id</code>,
              topic name, last updated time, health status, and host name. Only
              displayed for user with administrative permissions.
            </para>
            <para>Troubleshooting</para>
            <itemizedlist>
            <listitem>
                <para>
                  When you get a <code>503</code> status code, run the
                  <command>heat-manage service list</command> command or
                  contact your cloud provider to find out why the heat engines
                  are down.
                </para>
            </listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/service_list.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="503">
            <representation mediaType="application/text">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para role="shortdesc">
                      All heat engines are down.
                    </para>
                </wadl:doc>
            </representation>
        </response>
        <response status="403">
            <representation mediaType="application/text">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para role="shortdesc">
                      You are not authorized to complete this action.
                    </para>
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
