api-ref/src/wadls/orchestration-api/src/v1/orchestration-api.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 Openstack Foundation, All Rights Reserved -->
<!-- Useful for describing APIs -->
<!DOCTYPE application[
<!-- Useful for describing APIs -->
<!ENTITY GET    '<command xmlns="http://docbook.org/ns/docbook">GET</command>'>
<!ENTITY PUT    '<command xmlns="http://docbook.org/ns/docbook">PUT</command>'>
<!ENTITY POST   '<command xmlns="http://docbook.org/ns/docbook">POST</command>'>
<!ENTITY DELETE '<command xmlns="http://docbook.org/ns/docbook">DELETE</command>'>
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://heat.example.com/"
        xml:id="orchestration-api-v1.0">
        <resource id="version" path="v1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para>
                    </wadl:doc>
                </param>
                <resource id="stacks" path="stacks">
                    <method href="#stack_create"/>
                    <method href="#stack_adopt"/>
                    <method href="#stack_list"/>
                    <resource path="{stack_name}" id="stack_name">
                        <param name="stack_name" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The name of a
                                   stack.</para></wadl:doc>
                        </param>
                        <method href="#stack_find"/>
                        <resource path="resources" id="resources">
                            <method href="#stack_resources_find"/>
                        </resource>
                        <resource path="events" id="events">
                            <method href="#stack_events_find"/>
                        </resource>
                        <resource path="{stack_id}" id="stack_id">
                            <param name="stack_id" style="template"
                                required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN"><para>The unique
                                   identifier for a
                                   stack.</para></wadl:doc>
                            </param>
                            <method href="#stack_show"/>
                            <method href="#stack_update"/>
                            <method href="#stack_delete"/>
                            <resource path="abandon" id="abandon">
                                <method href="#stack_abandon"/>
                            </resource>
                            <resource path="actions" id="actions">
                                <method href="#stack_action_suspend"/>
                                <method href="#stack_action_resume"/>
                            </resource>
                            <resource path="events" id="events2">
                                <method href="#stack_event_list"/>
                            </resource>
                            <resource path="resources" id="resources2">
                                <method href="#resource_list"/>
                                <resource path="{resource_name}"
                                   id="resource_name">
                                   <param name="resource_name"
                                   style="template" required="true">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN"><para>The name of a
                                   resource in the
                                   stack.</para></wadl:doc>
                                   </param>
                                   <method href="#resource_show"/>
                                   <resource id="events4"
                                   path="events">
                                   <method href="#resource_event_list"
                                   />
                                   </resource>
                                   <resource path="metadata"
                                   id="metadata">
                                   <method href="#resource_metadata"/>
                                   </resource>
                                </resource>
                                <resource path="events" id="events3">
                                   <resource path="{event_id}"
                                   id="event_id">
                                   <param name="event_id"
                                   style="template" required="true">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN"><para>The unique
                                   identifier of an event related to
                                   the resource in the
                                   stack.</para></wadl:doc>
                                   </param>
                                   <method href="#event_show"/>
                                   </resource>
                                </resource>
                            </resource>
                            <resource path="template" id="template">
                                <method href="#stack_template"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="validate_template"
                    path="validate_template">
                    <method href="#template_validate"/>
                </resource>
                <resource id="resource_types" path="resource_types">
                    <method href="#resource_type_list"/>
                    <resource id="resource_schema" path="{type_name}">
                        <param name="type_name" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The name of a resource
                                   type.</para>
                            </wadl:doc>
                        </param>
                        <method href="#resource_type_get"/>
                        <resource id="resource_template"
                            path="template">
                            <method href="#resource_type_template"/>
                        </resource>
                    </resource>
                </resource>
                <resource path="build_info" id="build_info">
                    <method href="#build_info_show"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="stack_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List stack data">
            <para role="shortdesc">Lists active stacks.</para>
        </wadl:doc>
        <request>
            <param name="status" style="query" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Filters the stack list by the specified
                        status. You can use this filter multiple times
                        to filter by multiple statuses.</para>
                </wadl:doc>
            </param>
            <param name="name" style="query" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Filters the stack list by the specified
                        name.</para>
                </wadl:doc>
            </param>
            <param name="limit" style="query" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Limits the number of stacks that appear on a
                        page to this value. The typical pattern of
                        limit and marker is to make an initial limited
                        request and then to use the ID of the last
                        stack from the response as the marker
                        parameter in a subsequent limited
                        request.</para>
                </wadl:doc>
            </param>
            <param name="marker" style="query" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specifies the ID of the last-seen stack. The
                        typical pattern of limit and marker is to make
                        an initial limited request and then to use the
                        ID of the last stack from the response as the
                        marker parameter in a subsequent limited
                        request.</para>
                </wadl:doc>
            </param>
            <param name="sort_keys" style="query" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Sorts the stack list by one of these
                        attributes: <code>name</code>,
                            <code>status</code>,
                            <code>created_at</code>, or
                            <code>updated_at</code>.</para>
                </wadl:doc>
            </param>
            <param name="sort_dir" style="query" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The sort direction of the stack list. Either
                            <code>asc</code> (ascending) or
                            <code>desc</code> (descending).</para>
                </wadl:doc>
            </param>
        </request>
        <response status="200"/>
    </method>
    <method name="POST" id="stack_create">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create stack">
            <para role="shortdesc">Creates a stack.</para>
        </wadl:doc>
        <request>
            <param name="stack_name" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The name of the stack to create.</para>
                </wadl:doc>
            </param>
            <param name="template_url" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The URL of the template to
                        instantiate. This value is ignored if the
                        template is supplied inline.</para></wadl:doc>
            </param>
            <param name="template" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A JSON template to
                        instantiate. This value takes precedence over
                        the template URL if both are
                    supplied.</para></wadl:doc>
            </param>
            <param name="environment" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A JSON environment for the
                        stack.</para></wadl:doc>
            </param>
            <param name="files" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A map of file names (Provider
                        resource templates, as referenced in the
                        environment) to JSON template
                    bodies.</para></wadl:doc>
            </param>
            <param name="param_name-n" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>User-defined parameter names
                        to pass to the template.</para></wadl:doc>
            </param>
            <param name="param_value-n" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>User-defined parameter values
                        to pass to the template.</para></wadl:doc>
            </param>
            <param name="timeout_mins" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The timeout for stack creation
                        in minutes.</para></wadl:doc>
            </param>
            <param name="disable_rollback" style="plain"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Controls whether a failure
                        during stack creation causes deletion of all
                        previously-created resources in that stack.
                        The default is True; a failure does not cause
                        deletions.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_create.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201"/>
    </method>
    <method name="POST" id="stack_adopt">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Adopt stack">
            <para role="shortdesc">Adopt stack creates a stack from existing
                resources.</para>
        </wadl:doc>
        <request>
            <param name="stack_name" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>A name for the new stack.</para>
                </wadl:doc>
            </param>
            <param name="template_url" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>URL of the template to
                        instantiate. This value is ignored if the
                        template is supplied inline.</para></wadl:doc>
            </param>
            <param name="template" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A JSON template to
                        instantiate. This value takes precedence over
                        the template URL if both are
                    supplied.</para></wadl:doc>
            </param>
            <param name="environment" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A JSON environment for the
                        stack.</para></wadl:doc>
            </param>
            <param name="files" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A map of file names (Provider
                        resource templates, as referenced in the
                        environment) for JSON template
                    bodies.</para></wadl:doc>
            </param>
            <param name="param_name-n" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>User-defined parameter names
                        to pass to the template.</para></wadl:doc>
            </param>
            <param name="param_value-n" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>User-defined parameter values
                        to pass to the template.</para></wadl:doc>
            </param>
            <param name="timeout_mins" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The timeout for stack creation
                        in minutes.</para></wadl:doc>
            </param>
            <param name="adopt_stack_data" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Existing resources data to adopt a
                         stack. Data returned by abandon stack could be
                         provided as adopt_stack_data.</para></wadl:doc>
            </param>
            <param name="disable_rollback" style="plain"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Enables or disables deletion of all
                        stack resources when a stack creation fails. Default is
                        True; all resources are not deleted when stack creation
                        fails.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_adopt.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201"/>
    </method>
    <method name="POST" id="stack_action_suspend">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Stack action suspend">
            <para role="shortdesc">Suspends a stack.</para>
        </wadl:doc>
        <request>
            <param name="suspend" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Specify the
                            <code>suspend</code> action in the request
                        body.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/stack_action_suspend.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201"/>
    </method>
    <method name="POST" id="stack_action_resume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Stack action resume">
            <para role="shortdesc">Resumes a suspended stack.</para>
        </wadl:doc>
        <request>
            <param name="resume" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Specify the
                            <code>resume</code> action in the request
                        body.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/stack_action_resume.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201"/>
    </method>
    <method name="GET" id="stack_find">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Find stack">
            <para role="shortdesc">Finds the canonical URL for a
                specified stack.</para>
            <para>Also works with verbs other than &GET;, so you can
                perform &PUT; and &DELETE; operations on a current
                stack. Set your client to follow redirects. Note that
                when redirecting, the request method should not
                change, as defined in RFC2626. However, in many
                clients the default behavior is to change the method
                to &GET; when you receive a 302 because this behavior
                is ubiquitous in web browsers.</para>
        </wadl:doc>
        <response status="302"/>
    </method>
    <method name="GET" id="stack_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get stack data">
            <para role="shortdesc">Gets data about a specified
                stack.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="stack_template">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get stack template">
            <para role="shortdesc">Gets a template for a specified
                stack.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="PUT" id="stack_update">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update stack">
            <para role="shortdesc">Updates a specified stack.</para>
        </wadl:doc>
        <request>
            <param name="template_url" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The URL of the template to
                        instantiate. This value is ignored if the
                        template is supplied inline.</para></wadl:doc>
            </param>
            <param name="template" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A JSON template to
                        instantiate. This value takes precedence over
                        the template URL if both are
                    supplied.</para></wadl:doc>
            </param>
            <param name="environment" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A JSON environment for the
                        stack.</para></wadl:doc>
            </param>
            <param name="files" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A map of file names (Provider
                        resource templates, as referenced in the
                        environment) to JSON template
                    bodies.</para></wadl:doc>
            </param>
            <param name="param_name-n" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>User-defined parameter names
                        to pass to the template.</para></wadl:doc>
            </param>
            <param name="param_value-n" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>User-defined parameter values
                        to pass to the template.</para></wadl:doc>
            </param>
            <param name="timeout_mins" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The timeout for stack creation
                        in minutes.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/stack_update.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="DELETE" id="stack_delete">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete stack">
            <para role="shortdesc">Deletes a specified stack.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="DELETE" id="stack_abandon">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Abandon stack">
            <para role="shortdesc">Deletes a specified stack, but leaves
                 stack resources intact.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="POST" id="template_validate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Validate template">
            <para role="shortdesc">Validates a specified
                template.</para>
        </wadl:doc>
        <request>
            <param name="template_url" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The URL of the template to
                        instantiate. This value is ignored if the
                        template is supplied inline.</para></wadl:doc>
            </param>
            <param name="template" style="plain" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A JSON template to
                        instantiate. This value takes precedence over
                        the template URL if both are
                    supplied.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/template_validate.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method name="GET" id="resource_type_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List resource types">
            <para role="shortdesc">Lists the supported template
                resource types.</para>
        </wadl:doc>
        <response status="200"/>
    </method>

    <method name="GET" id="resource_type_get">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get resource schema">
            <para role="shortdesc">Gets the interface schema for a
                specified resource type.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/resource_schema.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="resource_type_template">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get resource template">
            <para role="shortdesc">Gets a template representation for
                a specified resource type.</para>
        </wadl:doc>
        <response status="200"/>
    </method>

    <method name="GET" id="stack_resources_find">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Find stack resources">
            <para role="shortdesc">Finds the canonical URL for the
                resource list of a specified stack.</para>
        </wadl:doc>
        <response status="302"/>
    </method>
    <method name="GET" id="resource_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List resources">
            <para role="shortdesc">Lists resources in a stack.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="resource_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get resource data">
            <para role="shortdesc">Gets data for a specified
                resource.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="resource_metadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get resource metadata">
            <para role="shortdesc">Gets metadata for a specified
                resource.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="stack_events_find">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Find stack events">
            <para role="shortdesc">Finds the canonical URL for the
                event list of a specified stack.</para>
        </wadl:doc>
        <response status="302"/>
    </method>
    <method name="GET" id="stack_event_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List stack events">
            <para role="shortdesc">Lists events for a specified
                stack.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="resource_event_list">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List resource events">
            <para role="shortdesc">Lists events for a specified stack
                resource.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="event_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show event">
            <para role="shortdesc">Gets data about a specified
                event.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="build_info_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show build information">
            <para role="shortdesc">Shows build information for the
                heat deployment.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="samples/build_info.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
