api-ref/src/wadls/identity-api/src/v2.0/wadl/HP-IDM-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent HP-IDM-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="HP-IDM-admin-v2.0">
        <resource id="version" path="v2.0">
            <resource id="tokens" path="tokens">
                <resource id="tokenById" path="{tokenId}">
                    <param name="X-Auth-Token" style="header"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">A valid authentication token.</wadl:doc>
                    </param>
                    <param name="tokenId" style="template"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">The token ID.</wadl:doc>
                    </param>
                    <param name="belongsTo" style="query"
                        required="false" type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>Validates that a token
                                has the specified tenant in scope, for
                                performance. Valid tokens are in the
                                   <code>/tokens/{tokenId}</code>
                                path. An itemNotFound
                                   (<code>404</code>) fault is
                                returned for a token that is not
                                valid.</para></wadl:doc>
                    </param>
                    <param name="HP-IDM-serviceId" style="query"
                        type="xsd:string" required="false">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">A comma-separated string of service IDs.
                            Checks the roles against the specified service
                            IDs. If a service ID is not valid or if no
                            roles are associated with a service ID, a
                            401 fault is returned.</wadl:doc>
                    </param>
                    <method href="#validateToken"/>
                    <method href="#checkToken"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Token Operations -->
    <method name="GET" id="validateToken">
        <wadl:doc
            xmlns="http://docbook.org/ns/docbook" title="Validate Token">
            <para role="shortdesc">
                Validates a token and that it belongs to a
                specified tenant and services. Returns the permissions
                relevant to a particular client. </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:access">
                <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                    <xsdxt:code href="../samples/validatetoken.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                    <xsdxt:code href="../samples/validatetoken.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="HEAD" id="checkToken">
        <wadl:doc
            xmlns="http://docbook.org/ns/docbook" title="Check Token">
            <para role="shortdesc">
                Validates a token and that it belongs to a
                specified tenant and services, for performance. </para>
        </wadl:doc>
        <response status="200 203"/> &commonFaults; &getFaults;
    </method>
</application>
