api-ref/src/wadls/identity-api/src/v2.0/wadl/identity-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:db="http://docbook.org/ns/docbook">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="identity-admin-v2.0">
        <resource id="admin-version" path="//v2.0">
            <method href="#admin-getVersionInfo"/>
            <resource id="admin-tokens" path="tokens">
                <param xmlns="http://wadl.dev.java.net/2009/02" name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A valid authentication token for an administrative
                            user.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="username" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The user name.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="password" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The password of the user.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="tenantName" style="plain"
                    required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The tenant name.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="tenantId" style="plain"
                    required="false" type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The tenant ID.</para>
                    </wadl:doc>
                </param>
                <method href="#admin-authenticate"/>
                <resource id="admin-tokenById" path="{tokenId}">
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="tokenId" style="template"
                        type="csapi:UUID" required="true">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>
                                The authentication token for which to perform
                                the operation.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="belongsTo" style="query"
                        required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>
                                Validates that a token has a tenant in scope,
                                for performance. Valid tokens are in the
                                <code>/tokens/{tokenId}</code> path. If the
                                token is not valid, this call returns the HTTP
                                <code>itemNotFound (404)</code> response code.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="tenantName" style="plain"
                        required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook">
                            <para>
                                The tenant name. The <code>tenantId</code> and
                                <code>tenantName</code> attributes are
                                optional and mutually exclusive. If you
                                specify both attributes, the call returns the
                                <code>Bad Request (400)</code> response code.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="tenantId" style="plain"
                        required="false" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook">
                            <para>
                                The tenant ID. The <code>tenantId</code> and
                                <code>tenantName</code> attributes are
                                optional and mutually exclusive. If you
                                specify both attributes, the call returns the
                                <code>Bad Request (400)</code> response code.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="passwordCredentials"
                        style="plain" required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook">
                            <para>
                                A <code>passwordCredentials</code> object. To
                                authenticate, you must provide either a user
                                ID and password or a token.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="username" style="plain"
                        required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook">
                            <para>
                                The user name. Required if you include the
                                <code>passwordCredentials</code> object. If
                                you do not provide a password credentials, you
                                must provide a token.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="password" style="plain"
                        required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook">
                            <para>
                                The password of the user. Required if you
                                include the <code>passwordCredentials</code>
                                object. If you do not provide a password
                                credentials, you must provide a token.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="token" style="plain"
                        required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook">
                            <para>
                                A <code>token</code> object. Required if you
                                do not provide password credentials.
                            </para>
                        </wadl:doc>
                    </param>
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                        required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook">
                            <para>
                                The token ID. This is a required field in the
                                <code>token</code> object.
                            </para>
                        </wadl:doc>
                    </param>
                    <method href="#admin-validateToken"/>
                    <method href="#admin-checkToken"/>
                    <method href="#admin-deleteToken"/>
                    <resource id="admin-endpointsForToken" path="endpoints">
                        &limitMarkerReqParameter;
                        <method href="#admin-listEndpointsForToken"/>
                    </resource>
                </resource>
            </resource>
            <resource id="admin-users" path="users">
                <method href="#admin-listUsers"/>
                <method href="#admin-createUser"/>
                <resource id="admin-userId" path="{userId}">
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="userId" style="template"
                        required="true" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>
                                The ID of the user for which you want to perform the
                                request.
                            </para>
                        </wadl:doc>
                    </param>
                    <method href="#admin-updateUser"/>
                    <method href="#admin-deleteUser"/>
                    <method href="#admin-showUser"/>
                    <resource id="admin-userRoles" path="roles">
                        <method href="#admin-listUserGlobalRoles"/>
                    </resource>
                </resource>
            </resource>
            <resource id="admin-tenants" path="tenants">
                <param xmlns="http://wadl.dev.java.net/2009/02" name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A valid authentication token for an administrative
                            user.
                        </para>
                    </wadl:doc>
                </param>
                <method href="#admin-listTenants"/>
                <method href="#admin-showTenantByName"/>
                <resource id="admin-tenantById" path="{tenantId}">
                    <param xmlns="http://wadl.dev.java.net/2009/02" name="tenantId" style="template"
                        type="xsd:string" required="true">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>
                                The tenant ID.
                            </para>
                        </wadl:doc>
                    </param>
                    <method href="#admin-showTenantById"/>
                    <resource id="admin-usersForTenant" path="users">
                        <resource id="admin-showTenantUser" path="{userId}">
                            <param xmlns="http://wadl.dev.java.net/2009/02" name="userId"
                                style="template" type="xsd:string" required="true">
                                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                    <para>
                                        The user ID.
                                    </para>
                                </wadl:doc>
                            </param>
                            <resource id="admin-userRolesForTenant" path="roles">
                                <method href="#admin-listRolesForUserOnTenant"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    <resource_type id="VersionDetails">
        <method href="#admin-getVersionInfo"/>
    </resource_type>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Version -->
    <method name="GET" id="admin-getVersionInfo">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get version details">
            <para role="shortdesc">
                Gets detailed information about a version of the Identity API.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get version information: JSON response">
                        <xsdxt:code href="../samples/admin/version-show-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="location" style="plain"
                    type="xsd:anyURI" required="true"
                    path="/capi:version/atom:link[@rel='self']/@href">
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <!-- Token Operations -->
    <method name="POST" id="admin-authenticate">
        <wadl:doc xml:lang="EN" title="Authenticate for admin API"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Authenticates and generates a token.</para>
            <para>
                A REST interface provides client authentication by using the
                &POST; method with <code>v2.0/tokens</code>  as the path.
                Include a payload of credentials in the body.
            </para>
            <para>
                The Identity API is a RESTful web service. It is the entry
                point to all service APIs. To access the Identity API, you
                must know its URL.
            </para>
            <para>
                Each REST request against the Identity Service requires the
                <code>X-Auth-Token</code> header. Clients obtain this token
                and the URL endpoints for other service APIs by supplying
                their valid credentials to the authentication service.
            </para>
            <para>
                If the authentication token has expired, this call returns the
                HTTP <code>unauthorized (401)</code> response code.
            </para>
            <para>
                If the token has expired, this
                call returns the <code>itemNotFound (404)</code> response
                code.
            </para>
            <para>
                The Identity API treats expired tokens as no longer valid
                tokens.
            </para>
            <para>
                The deployment determines how long expired tokens are stored.
            </para>
            <para>
                To view the <code>trust</code> object, you need to set
                <code>trust</code> enable on the keystone configuration.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json" element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with credentials: JSON request">
                        <xsdxt:code href="../samples/admin/authenticate-credentials-request.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json" element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with token: JSON request">
                        <xsdxt:code href="../samples/admin/authenticate-token-request.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate with credentials: JSON response">
                        <xsdxt:code href="../samples/admin/authenticate-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="access" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            An <code>access</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="token" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            A <code>token</code> object.
                        </para>
                    </wadl:doc>
                </param>
                &issued_at-ResponseParameter;
                &expires-ResponseParameter;
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The authentication token. In the example, the
                            token is <code>my_id</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="tenant" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>A <code>tenant</code>
                            object.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="description" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>The description of the
                            tenant. If not set, this value is <code>null</code>.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="enabled" style="plain"
                    required="true" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>Indicates whether the
                            tenant is enabled or disabled.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>The tenant
                        ID.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>The tenant
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="serviceCatalog" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            A <code>serviceCatalog</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="endpoints" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            One or more <code>endpoints</code> objects.
                            Each object shows the <code>adminURL</code>,
                            <code>region</code>, <code>internalURL</code>,
                            <code>id</code>, and <code>publicURL</code> for
                            the endpoint.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="endpoints_links" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>Links for the
                            endpoint.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="type" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>Endpoint
                        type.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>Endpoint
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="user" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            A <code>user</code> object, which shows the
                            <code>username</code>, <code>roles_links</code>,
                            <code>id</code>, <code>roles</code>, and
                            <code>name</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="metadata" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>A <code>metadata</code>
                            object.</para></wadl:doc>
                </param>
                <param name="trust" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"><para>A <code>trust</code>
                            object.</para></wadl:doc>
                </param>
                <param name="trustee_user_id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The trustee user ID.</para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The ID of the trust.</para>
                    </wadl:doc>
                </param>
                <param name="trustor_user_id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                       <para>The trustor user ID.</para>
                    </wadl:doc>
                </param>
                <param name="impersonation" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>The impersonation flag.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203"/>
        <response status="403">
            <representation mediaType="application/json" element="identity:userDisabled"/>
        </response>
        &getFaults;
    </method>
    <method name="GET" id="admin-validateToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Validate token">
            <para role="shortdesc">Validates a token and confirms that it belongs to a
                tenant.</para>
            <para>
                Returns the permissions relevant to a particular client. Valid
                tokens are in the <code>/tokens/{tokenId}</code> path. If the
                token is not valid, this call returns the <code>itemNotFound
                (404)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Validate token: JSON response">
                        <xsdxt:code href="../samples/admin/token-validate-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <method name="HEAD" id="admin-checkToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Validate token (admin)">
            <para role="shortdesc">Validates a token and confirms that it belongs to a
                tenant, for performance.</para>
        </wadl:doc>
        <response status="200"/>
        <response status="203"/>
        <response status="204"/>
        &getFaults;
    </method>
    <method name="DELETE" id="admin-deleteToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete token">
            <para role="shortdesc">Deletes a token.</para>
        </wadl:doc>
        <response status="204"/>
        &getFaults;
    </method>
    <method name="GET" id="admin-listEndpointsForToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List endoints for token">
            <para role="shortdesc">
                Lists the endpoints associated with a token.
            </para>
        </wadl:doc>
        <!-- <request>
            &limitMarkerReqParameter;
        </request> -->
        <response status="200">
            <representation mediaType="application/json" element="identity:endpoints">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List endpoints for token: JSON response">
                        <xsdxt:code href="../samples/admin/endpoints-list-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <!--User Operations-->
    <method name="POST" id="admin-createUser">
        <wadl:doc xml:lang="EN" title="Create user" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a user.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json" element="identity:user">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/admin/user-create-request.json"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A valid authentication token for an administrative
                            user.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantId" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The tenant ID.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The user name.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="email" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The user email.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="password" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The user password.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="enabled" style="plain"
                    type="xsd:boolean" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Indicates whether the user is enabled
                            (<code>true</code>) or disabled
                            (<code>false</code>). Default is
                            <code>true</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/admin/user-create-response.json"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        ID.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        name.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="email" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        email.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="username" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user name of the
                        user.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="enabled" style="plain"
                    type="xsd:boolean" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Indicates whether
                        the user is enabled (<code>true</code>) or disabled (<code>false</code>).</wadl:doc>
                </param>
            </representation>
        </response>
        &postPutDeleteFaults;
    </method>
    <method name="PUT" id="admin-updateUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update user">
            <para role="shortdesc">
                Updates a user.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json" element="identity:user">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/admin/user-update-request.json"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The user name.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="email" style="plain"
                    type="xsd:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The user email.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="enabled" style="plain"
                    type="xsd:boolean" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Indicates whether the user is enabled
                            (<code>true</code>) or disabled
                            (<code>false</code>). Default is
                            <code>true</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="username" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user name of the user.
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/admin/user-update-response.json"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        ID.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        name.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="email" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        email.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="enabled" style="plain"
                    type="xsd:boolean" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Indicates whether
                        the user is enabled (true) or disabled (false).</wadl:doc>
                </param>
            </representation>
        </response>
        &postPutDeleteFaults;
    </method>
    <method name="DELETE" id="admin-deleteUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete user">
            <para role="shortdesc">Deletes a user.</para>
        </wadl:doc>
        <response status="204"/>
        &getFaults;
    </method>
    <method name="GET" id="admin-listUsers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List users">
            <para role="shortdesc">
                Lists all users.
            </para>
            <para>
                To show detailed information about a user by name, include the
                <code>name</code> query parameter in the request.
            </para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="query"
                type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    The user name. Specify the <code>name</code> query
                    parameter as <code>GET /v2.0/users?name={name}</code>.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:user">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/admin/users-list-response.json"/>
                    <xsdxt:code href="../samples/admin/user-show-response.json"/>
                </wadl:doc>
                &usersResponseParameters;
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <method name="GET" id="admin-showUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show user details">
            <para role="shortdesc">
                Shows details for a user, by ID.
            </para>
            <para>
                The <link
                xlink:href="http://docs.openstack.org/cli-reference/openstack.html#openstack-user-show">openstack
                user show</link> command supports showing user details by name
                or ID. However, the command actually looks up the user ID for
                a user name and queries the user by ID.
            </para>
            <para>
                As a workaround, complete these steps to show details for a
                user by name:
            </para>
            <orderedlist>
                <listitem>
                    <para>
                        <link
                        xlink:href="http://developer.openstack.org/api-ref-identity-admin-v2.html#admin-listUsers">List all users</link>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        In the response, find the user name for which you want
                        to show details and note its corresponding user ID.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <link
                        xlink:href="http://developer.openstack.org/api-ref-identity-admin-v2.html#admin-showUser">Show details for user</link>.
                    </para>
                </listitem>
            </orderedlist>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="identity:user">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/admin/user-show-response.json"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        ID.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        name.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="email" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        email.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="enabled" style="plain"
                    type="xsd:boolean" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">Indicates whether
                        the user is enabled (true) or disabled (false).</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="username" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user name of the user.
                    </wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <method name="GET" id="admin-listUserGlobalRoles">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List user global roles">
            <para role="shortdesc">
                Lists global roles for a user. Excludes tenant roles.
            </para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:roles">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List user global roles: JSON response">
                        <xsdxt:code href="../samples/admin/roles-list-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="roles" style="plain"
                    type="xsd:list" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">A roles
                        object.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                    type="csapi:UUID" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The role
                        id.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        name.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="description" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The description
                        of the role.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="roles_links" style="plain"
                    type="xsd:list" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">A roles_links
                        object.</wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203" />
        &getFaults;
    </method>
    <!-- Tenant Operations -->
    <method name="GET" id="admin-listTenants">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List tenants">
            <para role="shortdesc">
                Lists all tenants.
            </para>
            <xsdxt:samples>
                <xsdxt:sample xmlns="http://docs.rackspace.com/api"
                    title="Tenants Request with Auth Token">
                    <xsdxt:code href="../samples/admin/tenants-list-request-JSON.txt"/>
                </xsdxt:sample>
            </xsdxt:samples>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get tenants: JSON response">
                        <xsdxt:code href="../samples/admin/tenants-list-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <method name="GET" id="admin-showTenantByName">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show tenant details, by name">
            <para role="shortdesc">
                Shows details for a tenant, by name.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="query"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by a tenant name.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:tenant">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Show tenant by name: JSON response">
                        <xsdxt:code href="../samples/admin/tenant-show-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <method name="GET" id="admin-showTenantById">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show tenant details, by ID">
            <para role="shortdesc">
                Shows details for a tenant, by ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="identity:tenant">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Show tenant by ID: JSON response">
                        <xsdxt:code href="../samples/admin/tenant-show-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/>
        &getFaults;
    </method>
    <method name="GET" id="admin-listRolesForUserOnTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List roles for user">
            <para role="shortdesc">
                Lists roles for a user on a tenant. Excludes global roles.
            </para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:roles">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List roles for user: JSON response">
                        <xsdxt:code href="../samples/admin/roles-list-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="roles" style="plain"
                    type="xsd:list" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">A roles
                        object.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="id" style="plain"
                    type="csapi:UUID" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The role
                        id.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="name" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The user
                        name.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="description" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The description
                        of the role.</wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="roles_links" style="plain"
                    type="xsd:list" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">A roles_links
                        object.</wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203" />
        &getFaults;
    </method>
</application>
