api-ref/src/wadls/identity-api/src/v2.0/wadl/identity.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent identity.wadl                   -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:db="http://docbook.org/ns/docbook">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="http://localhost:35357" xml:id="identity-v2.0">
        <resource id="versions-v2" path="//">
            <method href="#listVersions-v2"/>
        </resource>
        <resource id="version" type="#VersionDetails" path="//v2.0">
            <resource id="extensions-v2" type="#ExtensionList" path="extensions">
                <resource id="extension-v2.0" path="{alias}">
                    &aliasTemplateParameter;
                    <method href="#showExtension-v2"/>
                </resource>
            </resource>
            <resource id="tokens" path="tokens">
                <method href="#authenticate-v2.0"/>
            </resource>
            <resource id="tenants" path="tenants">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="X-Auth-Token" style="header" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A valid authentication token.
                        </para>
                    </wadl:doc>
                </param>
                &limitMarkerReqParameter;
                <method href="#listTenants"/>
            </resource>
        </resource>
    </resources>
    <!--***************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    <resource_type id="VersionDetails">
        <method href="#showVersionInfo-v2.0"/>
    </resource_type>
    <resource_type id="ExtensionList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN" title="List extensions">
            <para role="shortdesc">
                Lists supported extensions.
            </para>
        </wadl:doc>
        <method href="#listExtensions-v2"/>
    </resource_type>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Version -->
    <method name="GET" id="listVersions-v2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN" title="List versions">
            <para role="shortdesc">
                Lists information about all Identity API versions.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/admin/versions-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="300"/>
        &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showVersionInfo-v2.0">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Show version details">
            <para role="shortdesc">Shows details for the Identity API v2.0.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="Show version information: JSON response">
                        <xsdxt:code href="../samples/admin/version-show-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults;
    </method>
    <!-- Extensions -->
    <method name="GET" id="listExtensions-v2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="List extensions">
            <para role="shortdesc">
                Lists available extensions.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="capi:extensions">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="List extensions: JSON response">
                        <xsdxt:code href="../samples/admin/extensions-list-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
               <!--  <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="next" style="plain" type="xsd:anyURI"
                    path="/capi:extensions/atom:link[@rel='next']/@href">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Moves to the next item in the list.
                        </para>
                    </wadl:doc>
                    <link resource_type="#ExtensionList" rel="next"/>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="previous" style="plain" type="xsd:anyURI"
                    path="/capi:extensions/atom:link[@rel='previous']/@href">
                    <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Moves to the previous item in the list.
                        </para>
                    </wadl:doc>
                    <link resource_type="#ExtensionList" rel="previous"/>
                </param> -->
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showExtension-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Show extension details">
            <para role="shortdesc">Shows details for an extension.</para>
            <para>Specify the extension alias in the URI.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="capi:extension">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="Show extension details: JSON response">
                        <xsdxt:code href="../samples/admin/extension-show-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults;
    </method>
    <!-- Token Operations -->
    <method name="POST" id="authenticate-v2.0">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN"
            title="Authenticate">
            <para role="shortdesc">
                Authenticates and generates a token.
            </para>
            <para>
                The Identity API is a RESTful web service. It is the entry
                point to all service APIs. To access the Identity API, you
                must know its URL.
            </para>
            <para>
                Each REST request against Identity requires the X-Auth-Token
                header. Clients obtain this token, along with the URL to other
                service APIs, by first authenticating against Identity with
                valid credentials.
            </para>
            <para>
                To authenticate, you must provide either a user ID and
                password or a token.
            </para>
            <para>
                If the authentication token has expired, this call returns the
                HTTP <code>401</code> status code.
            </para>
            <para>
                If the token has expired, this call
                returns the HTTP <code>404</code> status code.
            </para>
            <para>
                The Identity API treats expired tokens as no longer valid
                tokens.
            </para>
            <para>
                The deployment determines how long expired tokens are stored.
            </para>
            <para>
                To view the <code>trust</code> object, you need to set
                <code>trust</code> enable on the keystone configuration.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json" element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="Authenticate with user name and password credentials: JSON request">
                        <xsdxt:code href="../samples/client/authenticate-credentials-request.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param name="tenantName" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The tenant name. Both the <code>tenantId</code>
                            and <code>tenantName</code> attributes are
                            optional and mutually exclusive. If you specify
                            both attributes, the server returns the <code>Bad
                            Request (400)</code> response code.
                        </para>
                    </wadl:doc>
                </param>
                <param name="tenantId" style="plain" required="false" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The tenant ID. Both the <code>tenantId</code>
                            and <code>tenantName</code> attributes are
                            optional and mutually exclusive. If you specify
                            both attributes, the server returns the <code>Bad
                            Request (400)</code> response code.
                        </para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="passwordCredentials" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>passwordCredentials</code> object. To
                            authenticate, you must provide either a user ID
                            and password or a token.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="username" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The user name. Required if you include the
                            <code>passwordCredentials</code> object.
                            Otherwise, you must provide a token.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="password" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The password of the user. Required if you include
                            the <code>passwordCredentials</code> object.
                            Otherwise, you must provide a token.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="token" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>token</code> object. Required if you do
                            not provide a password credential.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The token ID. This field is required in the
                            <code>token</code> object.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json" element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="Authenticate with token: JSON request">
                        <xsdxt:code href="../samples/admin/authenticate-token-request.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="Authenticate with user name and password credentials: JSON response">
                        <xsdxt:code href="../samples/client/authenticate-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="access" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            An <code>access</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="token" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>token</code> object.
                        </para>
                    </wadl:doc>
                </param>
                &issued_at-ResponseParameter;
                &expires-ResponseParameter;
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The authentication token. In the example, the
                            token is <code>my_id</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenant" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>tenant</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The description of the
                            tenant. If not set, this value is <code>null</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="enabled" style="plain" required="true" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            Indicates whether the tenant is enabled or disabled.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The tenant ID.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The tenant name.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                name="serviceCatalog" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>serviceCatalog</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="endpoints" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            One or more <code>endpoints</code> objects. Each
                            object shows the <code>adminURL</code>,
                            <code>region</code>, <code>internalURL</code>,
                            <code>id</code>, and <code>publicURL</code> for
                            the endpoint.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="endpoints_links" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            Links for the endpoint.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                name="type" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            Endpoint type.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            Endpoint name.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="user" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>user</code> object, which shows the
                            <code>username</code>, <code>roles_links</code>,
                            <code>id</code>, <code>roles</code>, and
                            <code>name</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="metadata" style="plain" required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>metadata</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="trust" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            A <code>trust</code> object.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="trustee_user_id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The trustee user ID.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The ID of the trust.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="trustor_user_id" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The trustor user ID.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="impersonation" style="plain" required="false" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                        <para>
                            The impersonation flag.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203"/>
        <response status="403">
            <representation mediaType="application/json" element="identity:userDisabled"/>
        </response> &commonFaults; &getFaults; </method>
    <!-- Tenant Operations -->
    <method name="GET" id="listTenants">
        <wadl:doc title="List tenants" xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists tenants to which the token has access.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json" element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="List tenants: HTTP/JSON request">
                        <xsdxt:code href="../samples/admin/tenants-list-request-JSON.txt"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:sample title="List tenants: JSON response">
                        <xsdxt:code href="../samples/admin/tenants-list-response.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults; </method>
</application>
