api-ref/src/wadls/identity-api/src/v2.0/wadl/identity.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity.wadl                   -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v2.0"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 
    ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 
    ../xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 
    http://www.w3.org/Submission/wadl/wadl.xsd
    ">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="http://localhost:5000">
        <resource id="version" type="#VersionDetails" path="v2.0/">
            <resource id="extensions" type="#ExtensionList"
                path="extensions">
                <resource id="extension" path="{alias}">
                    <param name="alias" style="template"
                        type="xsd:string">
                        <doc>
                            <p xmlns="http://www.w3.org/1999/xhtml"
                                >The extension name.</p>
                        </doc>
                    </param>
                    <method href="#getExtension"/>
                </resource>
            </resource>
            <resource id="tokens" path="tokens">

                <method href="#authenticate"/>

                <resource id="tenants" path="tenants">
                    <param name="X-Auth-Token" style="header"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                                ><para>A valid authentication
                                token.</para></wadl:doc>
                    </param>
                    <param name="marker" style="query"
                        required="false" type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                                ><para>The ID of the last item in the
                                previous list.</para></wadl:doc>
                    </param>
                    <param name="limit" style="query" required="false"
                        type="xsd:int">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                                ><para>The page size.
                            </para></wadl:doc>
                    </param>
                    <method href="#listTenants"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--***************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <method href="#getVersionInfo"/>
    </resource_type>
    <resource_type id="ExtensionList">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Extensions">
            <para role="shortdesc">Lists supported extensions. </para>
        </wadl:doc>
        <method href="#listExtensions"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->

    <method name="GET" id="getVersionInfo">
        <doc xml:lang="EN" title="Get Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets detailed
                information about a specified version of the Identity
                Service API.</p>
        </doc>
        <response status="200 203">
            <!-- <param name="location" style="plain" type="xsd:anyURI"
                required="true"
                path="/capi:version/atom:link[@rel='self']/@href">
                <link resource_type="#VersionDetails" rel="self"/>
            </param> -->
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get version information: JSON response">
                        <xsdxt:code href="../samples/version.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="capi:version">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get version information: XML response">
                        <xsdxt:code href="../samples/version.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <!-- Extensions -->
    <method name="GET" id="listExtensions">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Extensions">
            <para role="shortdesc">Lists available extensions.</para>
        </wadl:doc>
        <response status="200 203">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='next']/@href">
                <doc>Moves to the next item in the list.</doc>
                <link resource_type="#ExtensionList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='previous']/@href">
                <doc>Moves to the previous item in the list.</doc>
                <link resource_type="#ExtensionList" rel="previous"/>
            </param>
            <representation mediaType="application/json"
                element="capi:extensions">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List extensions: JSON response">
                        <xsdxt:code href="../samples/extensions.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="capi:extensions">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List extensions: XML response">
                        <xsdxt:code href="../samples/extensions.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getExtension">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Extension Details">
            <para role="shortdesc">Gets detailed information for a
                specified extension.</para>
            <para>Specify the extension alias in the URI.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get extension details: JSON response">
                        <xsdxt:code href="../samples/extension.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="capi:extension">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get extension details: XML response">
                        <xsdxt:code href="../samples/extension.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <!-- Token Operations -->
    <method name="POST" id="authenticate">
        <wadl:doc xml:lang="EN" title="Authenticate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Authenticates and generates a
                token.</para>
            <para>The Identity Service is a ReSTful web service. It is
                the entry point to all service APIs. To access the
                Identity Service, you must know the URL of the
                Identity Service.</para>
            <para>Each ReST request against the Identity Service
                requires the X-Auth-Token header. Clients obtain this
                token, along with the URL to other service APIs, by
                first authenticating against the Identity Service with
                valid credentials.</para>
            <para>To authenticate, you must provide either a user ID
                and password or a token.</para>
            <para>If the authentication token has expired, a
                    <errorcode>401</errorcode> response code is
                returned.</para>
            <para>If the token specified in the request has expired,
                this call returns a <errorcode>404</errorcode>
                response code.</para>
            <para>The Identity Service treats expired tokens as
                invalid tokens.</para>
            <para>The deployment determines how long expired tokens
                are stored.</para>
        </wadl:doc>
        <request>
            <param name="username" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>The user name. If you do not provide a
                        user name and password, you must provide a
                        token.</para></wadl:doc>
            </param>
            <param name="password" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>The password of the
                    user.</para></wadl:doc>
            </param>
            <param name="tenantName" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>The tenant name. Both the tenantId and
                        tenantName are optional, but should not be
                        specified together. If both attributes are
                        specified, the server responds with a 400 Bad
                        Request.</para></wadl:doc>
            </param>
            <param name="tenantId" style="plain" required="false"
                type="capi:UUID">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>The tenant ID. Both the tenantId and
                        tenantName are optional, but should not be
                        specified together. If both attributes are
                        specified, the server responds with a 400 Bad
                        Request.</para></wadl:doc>
            </param>
            <param name="token" style="plain" required="false"
                type="capi:UUID">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>A token. If you do not provide a token,
                        you must provide a user name and
                        password.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with user name and password credentials: JSON request">
                        <xsdxt:code
                            href="../samples/auth_credentials.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with user name and password credentials: XML request">
                        <xsdxt:code
                            href="../samples/auth_credentials.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with user name and password credentials: JSON response">
                        <xsdxt:code href="../samples/auth.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with user name and password credentials: XML response">
                        <xsdxt:code href="../samples/auth.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="403">
            <representation mediaType="application/json"
                element="identity:userDisabled"/>
        </response> &commonFaults; &getFaults; </method>
    <!-- Tenant Operations -->
    <method name="GET" id="listTenants">
        <wadl:doc title="List Tenants" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists tenants to which the
                specified token has access.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List tenants: HTTP/JSON request">
                        <xsdxt:code
                            href="../samples/tenants-request-JSON.txt"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List tenants: HTTP/XML request">
                        <xsdxt:code
                            href="../samples/tenants-request-XML.txt"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: JSON response">
                        <xsdxt:code href="../samples/tenants.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: XML response">
                        <xsdxt:code href="../samples/tenants.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
