api-ref/src/wadls/identity-api/src/v2.0/wadl/identity-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357"
        xml:id="identity-admin-v2.0">
        <resource id="version" path="v2.0">
            <method href="#getVersionInfo"/>
            <resource id="extensions" path="extensions">
                <method href="#listExtensions"/>
                <resource id="extension" path="{alias}">
                    <param name="alias" style="template"
                        type="xsd:string"/>
                    <method href="#getExtension"/>
                </resource>
            </resource>
            <resource id="tokens" path="tokens">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="username" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The user
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="password" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The password of the
                            user.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantName" style="plain" required="false"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantId" style="plain" required="false"
                    type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        ID.</para></wadl:doc>
                </param>
                <method href="#authenticate"/>
                <resource id="tokenById" path="{tokenId}">
                    <param name="tokenId" style="template"
                        type="capi:UUID" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">Required. The token
                            ID.</wadl:doc>
                    </param>
                    <param name="belongsTo" style="query"
                        required="false" type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>Validates that a token
                                has the specified tenant in scope, for
                                performance. Valid tokens are in the
                                   <code>/tokens/{tokenId}</code>
                                path. An itemNotFound
                                   (<code>404</code>) fault is
                                returned for a token that is not
                                valid.</para></wadl:doc>
                    </param>
                    <method href="#validateToken-admin"/>
                    <method href="#checkToken-admin"/>
                    <resource id="endpointsForToken" path="endpoints">
                        <method href="#listEndpointsForToken"/>
                    </resource>
                </resource>
            </resource>
            <resource id="users" path="users">
                <param name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">A valid authentication token for
                        an administrative user.</wadl:doc>
                </param>
                <resource id="name">
                    <param name="name" style="query" type="xsd:string"
                        required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">The user name.</wadl:doc>
                    </param>
                    <method href="#getUserByName"/>
                </resource>
                <resource id="userid" path="{user_id}">
                    <param name="user_id" style="template"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">The user ID.</wadl:doc>
                    </param>
                    <method href="#getUserById"/>
                    <resource id="userRoles" path="roles">
                        <method href="#listUserGlobalRoles"/>
                    </resource>
                </resource>
            </resource>
            <resource id="tenants" path="tenants">
                <param name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">A valid authentication token for
                        an administrative user.</wadl:doc>
                </param>
                <param name="marker" style="query" required="false"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">The ID of the last item in the
                        previous list.</wadl:doc>
                </param>
                <param name="limit" style="query" required="false"
                    type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">The page size. </wadl:doc>
                </param>
                <method href="#listTenants"/>
                <method href="#getTenantByName"/>
                <resource id="tenantById" path="{tenantId}">
                    <param name="tenantId" style="template"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">The tenant ID.</wadl:doc>
                    </param>
                    <method href="#getTenantById"/>
                    <resource id="usersForTenant" path="users">
                        <resource id="getTenantUser" path="{userId}">
                            <param name="userId" style="template"
                                type="xsd:string" required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">The user
                                   ID.</wadl:doc>
                            </param>
                            <resource id="userRolesForTenant"
                                path="roles">
                                <method
                                   href="#listRolesForUserOnTenant"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <method href="#getVersionInfo"/>
    </resource_type>
    <resource_type id="ExtensionList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Extension List">
            <para>A list of supported extensions. </para>
        </wadl:doc>
        <method href="#listExtensions"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->

    <method name="GET" id="getVersionInfo">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get version details">
            <para>Gets detailed information about a specified version
                of the Identity Service API.</para>
        </wadl:doc>
        <response status="200 203">
            <!-- <param name="location" style="plain" type="xsd:anyURI"
                required="true"
                path="/capi:version/atom:link[@rel='self']/@href">
                <link resource_type="#VersionDetails" rel="self"/>
            </param> -->
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get version information: JSON response">
                        <xsdxt:code href="../samples/version.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="capi:version">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get version information: XML response">
                        <xsdxt:code href="../samples/version.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <!-- Extensions -->
    <method name="GET" id="listExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List extensions">
            <para>Lists available extensions.</para>
        </wadl:doc>
        <response status="200 203">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">Moves to the next item in the
                    list.</wadl:doc>
                <link resource_type="#ExtensionList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">Moves to the previous item in the
                    list.</wadl:doc>
                <link resource_type="#ExtensionList" rel="previous"/>
            </param>
            <representation mediaType="application/json"
                element="capi:extensions">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List extensions: JSON response">
                        <xsdxt:code href="../samples/extensions.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="capi:extensions">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List extensions: XML response">
                        <xsdxt:code href="../samples/extensions.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getExtension">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get extension details">
            <para>Gets detailed information for a specified
                extension.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get extension details: JSON response">
                        <xsdxt:code href="../samples/extension.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="capi:extension">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get extension details: XML response">
                        <xsdxt:code href="../samples/extension.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <!-- Token Operations -->

    <method name="POST" id="authenticate">
        <wadl:doc xml:lang="EN" title="Authenticate for Admin API"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Authenticates and generates a
                token. </para>
            <para>Client authentication is provided through a ReST
                interface by using the POST method with v2.0/tokens
                supplied as the path. Include a payload of credentials
                in the body.</para>
            <para>The Identity Service is a ReSTful web service. It is
                the entry point to all service APIs. To access the
                Identity Service, you must know the URL of the
                Identity Service. </para>
            <para>Each ReST request against the Identity Service
                requires the X-Auth-Token header. Clients obtain this
                token, along with the URL to other service APIs, by
                first authenticating against the Identity Service with
                valid credentials.</para>
            <para>If the authentication token has expired, a
                    <errorcode>401</errorcode> response code is
                returned.</para>
            <para>If the token specified in the request body has
                expired, this call returns a
                    <errorcode>404</errorcode> response code.</para>
            <para>The Identity Service treats expired tokens as
                invalid tokens.</para>
            <para>The deployment determines how long expired tokens
                are stored.</para>
        </wadl:doc>
        <request>
            <param name="username" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">The user name.</wadl:doc>
            </param>
            <param name="tenantName" style="plain" type="xsd:string"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">The tenant name.</wadl:doc>
            </param>
            <param name="tenantId" style="plain" type="xsd:string"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">The tenant ID.</wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: JSON request">
                        <xsdxt:code
                            href="../samples/auth_credentials.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: XML request">
                        <xsdxt:code
                            href="../samples/auth_credentials.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: JSON response">
                        <xsdxt:code href="../samples/auth.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: XML response">
                        <xsdxt:code href="../samples/auth.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="403">
            <representation mediaType="application/json"
                element="identity:userDisabled"/>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="validateToken-admin">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Validate token">
            <para role="shortdesc">Validates a token and confirms that
                it belongs to a specified tenant. </para>
            <para>Returns the permissions relevant to a particular
                client. Valid tokens are in the
                    <code>/tokens/{tokenId}</code> path. A user should
                expect an itemNotFound (<code>404</code>) fault for an
                token that is not valid. </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Validate token: JSON response">
                        <xsdxt:code
                            href="../samples/validatetoken.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Validate token: XML response">
                        <xsdxt:code
                            href="../samples/validatetoken.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="HEAD" id="checkToken-admin">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Validate token (admin)">
            <para role="shortdesc">Validates a token and confirms that
                it belongs to a specified tenant, for performance.
            </para>
        </wadl:doc>
        <response status="200 203"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="listEndpointsForToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List endoints for token">
            <para role="shortdesc">Lists the endpoints associated with
                a specified token. </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List endpoints for token: JSON response">
                        <xsdxt:code href="../samples/endpoints.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:endpoints">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List endpoints for token: XML response">
                        <xsdxt:code href="../samples/endpoints.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!--User Operations-->

    <method name="GET" id="getUserByName">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get user information by name">
            <para role="shortdesc">Gets detailed information about a
                specified user by user name. </para>
        </wadl:doc>
        <!-- <request>
            <param name="name" style="query" type="xsd:string"
                required="true"><wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">The user name.</wadl:doc></param>
        </request> -->
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:user">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/user.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/user.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getUserById">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get user information by ID">
            <para role="shortdesc">Gets detailed information about a
                specified user by user ID. </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:user">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/user.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/user.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="listUserGlobalRoles">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List user global roles">
            <para role="shortdesc">Lists global roles for a specified
                user. Excludes tenant roles. </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List user global roles: JSON response">
                        <xsdxt:code href="../samples/roles.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:roles">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List user global roles: XML response">
                        <xsdxt:code href="../samples/roles.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!-- Tenant Operations -->

    <method name="GET" id="listTenants">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List tenants">
            <para role="shortdesc">Lists all tenants.</para>
            <xsdxt:samples>
                <xsdxt:sample xmlns="http://docs.rackspace.com/api"
                    title="Tenants Request with Auth Token">
                    <xsdxt:code
                        href="../samples/tenants-request-JSON.txt"
                        language="text"/>
                </xsdxt:sample>
            </xsdxt:samples>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get tenants: JSON response">
                        <xsdxt:code href="../samples/tenants.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get tenants: XML response">
                        <xsdxt:code href="../samples/tenants.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>

        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getTenantByName">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get tenant information by name">
            <para role="shortdesc">Gets detailed information about a
                specified tenant by name. </para>
        </wadl:doc>
        <request>
            <param name="name" style="query" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">The name of the tenant.</wadl:doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by name: JSON response">
                        <xsdxt:code href="../samples/tenant.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenant">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by name: XML response">
                        <xsdxt:code href="../samples/tenant.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getTenantById">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get tenant information by ID">
            <para role="shortdesc">Gets detailed information about a
                specified tenant by ID. </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by ID: JSON response">
                        <xsdxt:code href="../samples/tenant.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenant">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by ID: XML response">
                        <xsdxt:code href="../samples/tenant.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="listRolesForUserOnTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List roles for user">
            <para role="shortdesc">Lists roles for a specified user on
                a specified tenant. Excludes global roles. </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List roles for user: JSON response">
                        <xsdxt:code href="../samples/roles.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:roles">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List roles for user: XML response">
                        <xsdxt:code href="../samples/roles.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
