api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSCATALOG-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSCATALOG-admin.wadl         -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/OS-KSCATALOG.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="OS-KSCATALOG-admin-v2.0">
        <resource id="version" path="v2.0">

            <resource id="tenants" path="tenants">
                <param name="X-Auth-Token" style="header" type="xsd:string" required="true"><doc>A valid authentication token for an administrative user.</doc></param>
                <resource id="tenantId" path="{tenantId}">
                    <param name="tenantId" style="template" type="xsd:string"><doc>The tenant ID.</doc></param>
                    <resource id="endpoints-OS-KSCATALOG" path="OS-KSCATALOG">
                        <resource id="endpoints" path="endpoints">
                            <method href="#listEndpoints"/>
                            <method href="#addEndpoint"/>
                            <resource id="endpoint" path="{endpointId}">
                                <param name="endpointId" style="template" type="xsd:string"><doc>The endpoint ID.</doc></param>
                                <method href="#getEndpoint"/>
                                <method href="#deleteEndpoint"/>
                            </resource>
                        </resource>
                     </resource>
                </resource>
            </resource>

            <resource id="role-service-OS-KSCATALOG" path="OS-KSCATALOG">
                <resource id="endpointTemplates" path="endpointTemplates">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true"><doc>A valid authentication token for an administrative user.</doc></param>
                    <param name="serviceId" style="query" required="false" type="xsd:string"><doc>The service ID.</doc></param><method href="#listEndpointTemplates"/>
                    <method href="#addEndpointTemplate"/>
                    <resource id="endpointTemplateId" path="{endpointTemplateId}">
                       <!-- <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/> -->
                        <param name="endpointTemplateId" style="template" type="xsd:string"><doc>The endpoint template ID.</doc></param>
                        <method href="#getEndpointTemplate"/>
                        <method href="#updateEndpointTemplate"/>
                        <method href="#deleteEndpointTemplate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- EndPoint Templates -->

    <method name="GET" id="listEndpointTemplates">
        <doc xml:lang="EN" title="List Endpoint Templates">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Lists endpoint templates.</p>
        </doc> 
        <response status="200 203">
            <representation mediaType="application/xml" element="endpointTemplates">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplates.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplates.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <method name="GET" id="getEndpointTemplate">
        <doc xml:lang="EN" title="Get Endpoint Template">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Gets endpoint templates.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="endpointTemplate">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <method name="POST" id="addEndpointTemplate">
        <doc xml:lang="EN" title="Add Endpoint Template">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Adds endpoint template.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="endpointTemplate">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.json"/>
            </doc>
         </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="endpointTemplate">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.xml"/>
            </doc>
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.json"/>
            </doc>
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>

    <method name="PUT" id="updateEndpointTemplate">
        <doc xml:lang="EN" title="Update Endpoint Template">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Updates endpoint template.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="endpointTemplate">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.json"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="endpointTemplate">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplate.json"/>
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>

    <method name="DELETE" id="deleteEndpointTemplate">
        <doc xml:lang="EN" title="Delete Endpoint Template.">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Deletes an endpoint template.</p>
        </doc>
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>

    <method name="POST" id="addEndpoint">
        <doc xml:lang="EN" title="Add Endpoint">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Adds endpoint to a tenant.</p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="endpointTemplate">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplateWithOnlyId.xml"/>
            </doc>
            <param name="endpoint" style="plain" path="/"
                   type="EndpointTemplateWithOnlyId"/>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpointTemplateWithOnlyId.json"/>
            </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml" element="identity:endpoint">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpoint.xml"/>
            </doc>
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpoint.json"/>
            </doc>
                <param name="Location" type="xsd:anyURI" style="header"/>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
        &postPutFaults;
    </method>

    <method name="GET" id="listEndpoints">
        <doc xml:lang="EN" title="List Endpoints">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Lists endpoints for a tenant.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpoints">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpoints.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpoints.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <method name="GET" id="getEndpoint">
        <doc xml:lang="EN" title="Get Endpoint">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Gets endpoint for a tenant.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="identity:endpoint">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpoint.xml"/>
            </doc>
         </representation>
            <representation mediaType="application/json">
            <doc xml:lang="EN">
               <xsdxt:code href="../OS-KSCATALOG/samples/endpoint.json"/>
            </doc>
         </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <method name="DELETE" id="deleteEndpoint">
        <doc xml:lang="EN" title="Delete Endpoint.">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">Deletes an endpoint from a tenant.</p>
        </doc>
        <response status="204"/>
        &commonFaults;
        &getFaults;
    </method>
</application>
