api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSVALIDATE-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSVALIDATE-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357"
        xml:id="OS-KSVALIDATE-admin-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="extension" path="OS-KSVALIDATE">
                <resource id="token" path="token">
                    <resource id="validate" path="validate">
                        <param name="X-Auth-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication token for an
                                   administrative
                                user.</para></wadl:doc>
                        </param>
                        <param name="X-Subject-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication
                                token.</para></wadl:doc>
                        </param>
                        <param name="belongsTo" style="query"
                            required="false" type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>Validates that a
                                   token has the specified tenant in
                                   scope, for performance. Valid
                                   tokens are in the
                                   <code>/tokens/{tokenId}</code>
                                   path. An itemNotFound
                                   (<code>404</code>) fault is
                                   returned for a token that is not
                                   valid.</para></wadl:doc>
                        </param>
                        <param name="HP-IDM-serviceId" style="query"
                            type="xsd:string" required="false"/>
                        <method href="#validateToken"/>
                        <method href="#checkToken"/>
                    </resource>
                    <resource id="endpointsForToken" path="endpoints">
                        <param name="X-Auth-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication token for an
                                   administrative
                                user.</para></wadl:doc>
                        </param>
                        <param name="X-Subject-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication
                                token.</para></wadl:doc>
                        </param>
                        <param name="HP-IDM-serviceId" style="query"
                            type="xsd:string" required="false">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A comma-separated
                                   string of service IDs. Checks the
                                   roles against the specified service
                                   IDs. If a service ID is not valid
                                   or if no roles are associated with
                                   a service ID, a 401 fault is
                                   returned.</para></wadl:doc>
                        </param>
                        <method href="#listEndpointsForToken"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- token Operations -->
    <method name="GET" id="validateToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Validate token">
            <para role="shortdesc">Checks that a token is valid and
                that it belongs to a specified tenant and service IDs.
                Returns the permissions for a particular
                client.</para>
            <para>Behavior is similar to
                    <code>/tokens/{tokenId}</code>. An itemNotFound
                    (<code>404</code>) fault is returned for a token
                that is not valid.</para>
            <para>This extension might decrypt
                    <code>X-Subject-Token</code> header and internally
                call the normal validation for Identity, passing in
                all headers and query parameters. It should therefore
                support all existing calls on
                    <code>/tokens/{tokenId}</code>, including
                extensions such as HP-IDM.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json" element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/validatetoken.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="HEAD" id="checkToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Check token">
            <para role="shortdesc">Checks that a token is valid and
                that it belongs to a specified tenant and service IDs,
                for performance.</para>
            <para>Behavior is similar to
                    <code>/tokens/{tokenId}</code>. An itemNotFound
                    (<code>404</code>) fault is returned for a token
                that is not valid.</para>
            <para>This extension might decrypt
                    <code>X-Subject-Token</code> header and internally
                call the normal validation for Identity, passing in
                all headers and query parameters. It should therefore
                support all existing calls on
                    <code>/tokens/{tokenId}</code>, including
                extensions such as HP-IDM.</para>
        </wadl:doc>
        <response status="200 203"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="listEndpointsForToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List endpoints for token">
            <para role="shortdesc">Lists endpoints associated with a
                specific token.</para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200 203">
            <representation mediaType="application/json" element="identity:endpoints">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/endpoints.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
