api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSEC2-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSEC2-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/OS-KSEC2-credentials.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357"
        xml:id="OS-KSEC2-admin-v2.0">
        <resource id="versions-ksec2-v2" path="//v2.0">
            &X-Auth-TokenRequestHeader;
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    &user_idTemplateParameter;
                    <resource id="user-OS-KSADM" path="OS-KSADM">
                        <resource id="userCredentials"
                            path="credentials">
                            <method href="#listCredentials"/>
                            <method href="#grantCredentialToUser"/>
                            <resource id="userCredentialsByType"
                                path="OS-KSEC2:ec2Credentials">
                                <method href="#showUserCredential"/>
                                <method href="#updateUserCredential"/>
                                <method href="#deleteUserCredential"/>
                                <resource id="type" path="{type}">
                                   <param name="type" style="query"
                                   required="true" type="xsd:string">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN"><para>The credential
                                   type.</para></wadl:doc>
                                   </param>
                                   <method
                                   href="#listCredentialsByType"/>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- User Credentials-->
    <method name="POST" id="grantCredentialToUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Grant credential to user">
            <para role="shortdesc">Grants a credential to a user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json" element="ec2Credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/OS-KSEC2/ec2Credentials-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json" element="ec2Credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/OS-KSEC2/ec2Credentials-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>
    <method name="GET" id="listCredentials">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List credentials">
            <para role="shortdesc">Lists credentials.</para>
        </wadl:doc>
        <request>
              &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/OS-KSEC2/credentialswithec2-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="listCredentialsByType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List credentials by type">
            <para role="shortdesc">Lists credentials by type.</para>
        </wadl:doc>
        <request>
              &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json" element="identity:credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/OS-KSADM/credentials-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults;
    </method>
    <method name="POST" id="updateUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update user credentials">
            <para role="shortdesc">Updates credentials for a
                user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json" element="ec2Credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/OS-KSEC2/ec2Credentials-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json" element="ec2Credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/OS-KSEC2/ec2Credentials-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete user credentials">
            <para role="shortdesc">Deletes user credentials.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &postPutFaults;
        &getFaults;
    </method>
    <method name="GET" id="showUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get user credentials">
            <para role="shortdesc">Gets user credentials.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json" element="ec2Credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/OS-KSEC2/ec2Credentials-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults;
    </method>
</application>
