api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSCATALOG-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSCATALOG-admin.wadl         -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/OS-KSCATALOG.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357"
        xml:id="OS-KSCATALOG-admin-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="tenants" path="tenants">
                <param name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A valid authentication
                            token for an administrative
                        user.</para></wadl:doc>
                </param>
                <resource id="tenantId" path="{tenantId}">
                    <param name="tenantId" style="template"
                        type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The tenant
                            ID.</para></wadl:doc>
                    </param>
                    <resource id="endpoints-OS-KSCATALOG"
                        path="OS-KSCATALOG">
                        <resource id="endpoints" path="endpoints">
                            <method href="#listEndpoints"/>
                            <method href="#addEndpoint"/>
                            <resource id="endpoint"
                                path="{endpointId}">
                                <param name="endpointId"
                                   style="template" type="xsd:string">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN"><para>The endpoint
                                   ID.</para></wadl:doc>
                                </param>
                                <method href="#getEndpoint"/>
                                <method href="#deleteEndpoint"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="role-service-OS-KSCATALOG"
                path="OS-KSCATALOG">
                <resource id="endpointTemplates"
                    path="endpointTemplates">
                    <param name="X-Auth-Token" style="header"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>A valid authentication
                                token for an administrative
                                user.</para></wadl:doc>
                    </param>
                    <param name="serviceId" style="query"
                        required="false" type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The service
                            ID.</para></wadl:doc>
                    </param>
                    <method href="#listEndpointTemplates"/>
                    <method href="#addEndpointTemplate"/>
                    <resource id="endpointTemplateId"
                        path="{endpointTemplateId}">
                        <!-- <param name="X-Auth-Token" style="header" type="xsd:string" required="true"/> -->
                        <param name="endpointTemplateId"
                            style="template" type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The endpoint
                                   template ID.</para></wadl:doc>
                        </param>
                        <method href="#getEndpointTemplate"/>
                        <method href="#updateEndpointTemplate"/>
                        <method href="#deleteEndpointTemplate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- EndPoint Templates -->

    <method name="GET" id="listEndpointTemplates">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List endpoint templates">
            <para role="shortdesc">Lists endpoint templates.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="endpointTemplates">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplates.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplates.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get endpoint template">
            <para role="shortdesc">Gets endpoint templates.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="endpointTemplate">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="addEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add endpoint template">
            <para role="shortdesc">Adds endpoint template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="endpointTemplate">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="endpointTemplate">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.xml"
                    />
                </wadl:doc>
                <param name="Location" type="xsd:anyURI"
                    style="header"/>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.json"
                    />
                </wadl:doc>
                <param name="Location" type="xsd:anyURI"
                    style="header"/>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>

    <method name="PUT" id="updateEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update endpoint template">
            <para role="shortdesc">Updates endpoint template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="endpointTemplate">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="endpointTemplate">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplate.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>

    <method name="DELETE" id="deleteEndpointTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete endpoint template.">
            <para role="shortdesc">Deletes an endpoint
                template.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>

    <method name="POST" id="addEndpoint">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add endpoint">
            <para role="shortdesc">Adds endpoint to a tenant.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="endpointTemplate">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplateWithOnlyId.xml"
                    />
                </wadl:doc>
                <param name="endpoint" style="plain" path="/"
                    type="EndpointTemplateWithOnlyId"/>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpointTemplateWithOnlyId.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="identity:endpoint">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpoint.xml"/>
                </wadl:doc>
                <param name="Location" type="xsd:anyURI"
                    style="header"/>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpoint.json"/>
                </wadl:doc>
                <param name="Location" type="xsd:anyURI"
                    style="header"/>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>

    <method name="GET" id="listEndpoints">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List endpoints">
            <para role="shortdesc">Lists endpoints for a
                tenant.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:endpoints">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpoints.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpoints.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getEndpoint">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get endpoint">
            <para role="shortdesc">Gets endpoint for a tenant.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:endpoint">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpoint.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../OS-KSCATALOG/samples/endpoint.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteEndpoint">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete endpoint">
            <para role="shortdesc">Deletes an endpoint from a
                tenant.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
</application>
