api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSADM-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSADM-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <grammars>
        <include href="../xsd/OS-KSADM.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="OS-KSADM-admin-v2.0">
      <resource id="version-v2.0" path="//v2.0">
         <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>A valid authentication token for an administrative user.</para>
            </wadl:doc>
         </param>
         <resource id="users-v2.0" path="users">
            <method href="#listUsers" />
            <method href="#createUser" />
            <resource id="userById-v2.0" path="{userId}">
               <param name="userId" style="template" required="true" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The ID of the user for which to perform the request.</para>
                  </wadl:doc>
               </param>
               <method href="#updateUser" />
               <method href="#deleteUser" />
               <resource id="user-OS-KSADM-v2.0" path="OS-KSADM">
                  <resource id="enableUser-v2.0" path="enabled">
                    <param name="user" style="plain" required="true" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>A <code>user</code> object.</para>
                        </wadl:doc>
                    </param>
                    <param name="enabled" style="plain" required="true" type="xsd:boolean">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>
                                Set to <code>true</code> to enable the user.
                            </para>
                        </wadl:doc>
                    </param>
                    <method href="#enableUser" />
                  </resource>
               </resource>
               <resource id="userRoles-v2.0" path="roles">
                  <param name="serviceId" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The service ID.</para>
                     </wadl:doc>
                  </param>
                  <method href="#listUserRoles" />
                  <resource id="user-roles-OS-KSADM-v2.0" path="OS-KSADM">
                     <resource id="userRoleById-v2.0" path="{roleId}">
                        <param name="roleId" style="template" type="xsd:int">
                           <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                              <para>The role ID.</para>
                           </wadl:doc>
                        </param>
                        <method href="#grantGlobalRoleToUser" />
                        <method href="#revokeGlobalRoleFromUser" />
                     </resource>
                  </resource>
               </resource>
            </resource>
         </resource>
         <resource id="tenants-v2.0" path="tenants">
            <method href="#createTenant" />
            <resource id="tenantById-v2.0" path="{tenantId}">
               <param name="tenantId" style="template" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <method href="#updateTenant" />
               <method href="#deleteTenant" />
               <resource id="usersForTenant-v2.0" path="users">
                  <method href="#listUsersForTenant" />
                  <resource id="userForTenant-v2.0" path="{userId}">
                     <param name="userId" style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                           <para>The user ID.</para>
                        </wadl:doc>
                     </param>
                     <resource id="userRolesForTenant-v2.0" path="roles">
                        <resource id="tenant-user-role-OS-KSADM-v2.0" path="OS-KSADM">
                           <resource id="userSpecificRoleForTenant-v2.0" path="{roleId}">
                              <param name="roleId" style="template" type="xsd:string">
                                 <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                    <para>The role ID.</para>
                                 </wadl:doc>
                              </param>
                              <method href="#grantRoleToUserOnTenant" />
                              <method href="#revokeRoleFromUserOnTenant" />
                           </resource>
                        </resource>
                     </resource>
                  </resource>
               </resource>
            </resource>
         </resource>
         <resource id="role-service-OS-KSADM-v2.0" path="OS-KSADM">
            <resource id="roles-v2.0" path="roles">
              <resource id="name" path="{role_name}">
                 <param name="name" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                       <para>The role name.</para>
                    </wadl:doc>
                 </param>
                 <method href="#showRoleByName" />
               </resource>
             </resource>
             <resource id="roleId-v2.0" path="{roleId}">
                <param name="roleId" style="template" type="xsd:string">
                   <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                      <para>The role ID.</para>
                   </wadl:doc>
                </param>
                <method href="#showRoleByID" />
                <method href="#deleteRole" />
             </resource>
             <resource id="roles_list-v2.0">
                <param name="serviceId" style="plain" required="false" type="xsd:string">
                   <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                      <para>The service ID.</para>
                   </wadl:doc>
                </param>
                <method href="#listRoles" />
             </resource>
             <method href="#createRole" />
          </resource>
          <resource id="services-v2.0" path="services">
             <method href="#listServices" />
             <method href="#createService" />
             <resource id="serviceName-v2.0" path="{serviceName}">
                <param name="name" style="template" type="xsd:string" required="true">
                   <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                      <para>The service name.</para>
                   </wadl:doc>
                </param>
                <method href="#showServiceByName" />
             </resource>
             <resource id="serviceId-v2.0" path="{serviceId}">
                <param name="serviceId" style="template" type="xsd:string">
                   <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                      <para>The service ID.</para>
                   </wadl:doc>
                </param>
                <method href="#showServiceByID" />
                <method href="#deleteService" />
             </resource>
          </resource>
       </resource>
   </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Tenant Operations -->
    <method name="POST" id="createTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create tenant">
            <para role="shortdesc">Creates a tenant.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/tenantwithoutid.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; </method>
    <method name="POST" id="updateTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update tenant">
            <para role="shortdesc">Updates a tenant.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>
    <method name="DELETE" id="deleteTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete tenant">
            <para role="shortdesc">Deletes a tenant.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="listUsersForTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List users on a tenant">
            <para role="shortdesc">
              Lists all users for a tenant.
            </para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/users.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/>
        &commonFaults; &getFaults; </method>
    <method name="PUT" id="grantRoleToUserOnTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Grant roles to user on tenant">
            <para role="shortdesc">Grants a role to a user for
                a tenant.</para>
        </wadl:doc>
        <response status="201"/> &commonFaults; &postPutFaults;
        &getFaults; </method>
    <method name="DELETE" id="revokeRoleFromUserOnTenant">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Revoke role from user on tenant">
            <para role="shortdesc">Revokes a role from a
                 user for a tenant.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
    <!-- User Operations -->
    <method name="GET" id="listUsers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List users">
            <para role="shortdesc">Lists all users.</para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/users.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults; </method>
    <method name="POST" id="createUser">
        <wadl:doc xml:lang="EN" title="Create user"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/userwithoutid.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>
    <method name="PUT" id="updateUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update user">
            <para role="shortdesc">Updates a user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>
    <method name="DELETE" id="deleteUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete user">
            <para role="shortdesc">Deletes a user.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
    <method name="PUT" id="enableUser">
        <wadl:doc xml:lang="EN" title="Enable user"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Enables a user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/userwithenabledonly.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>
    <!-- User Roles -->
    <method name="GET" id="listUserRoles">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List global roles for user">
            <para role="shortdesc">Lists global roles for a
                user.</para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/user-role-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults; </method>
    <method name="PUT" id="grantGlobalRoleToUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Grant global role to user">
            <para role="shortdesc">Grants a global role to a
             user.</para>
        </wadl:doc>
        <response status="201"/> &commonFaults; &postPutFaults;
        &getFaults; </method>
    <method name="DELETE" id="revokeGlobalRoleFromUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete global role from user">
            <para role="shortdesc">Deletes a global role from
                a user.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
    <!-- Roles -->
    <method name="GET" id="listRoles">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List roles">
            <para role="shortdesc">Lists all roles.</para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/roles.json"
                    />
                </wadl:doc>
                <param name="roles" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>A <code>roles</code>
                        object.</para></wadl:doc>
                </param> &roleResponse; <param name="roles_links"
                    style="plain" required="true" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Role
                        links.</para></wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults; </method>
    <method name="POST" id="createRole">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create role">
            <para role="shortdesc">Creates a role.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </wadl:doc>
                <param name="Location" type="xsd:anyURI"
                    style="header">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">The location.</wadl:doc>
                </param>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>
    <method name="GET" id="showRoleByName">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show role information by name">
            <para role="shortdesc">Shows information for a role, by name.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </wadl:doc> &roleResponse; <param name="Location"
                    type="xsd:anyURI" style="header">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">The location.</wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &postPutFaults; &getFaults; </method>
    <method name="GET" id="showRoleByID">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show role details, by ID">
            <para role="shortdesc">Shows details for a
                role, by ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </wadl:doc> &roleResponse; <param name="Location"
                    type="xsd:anyURI" style="header">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">The location.</wadl:doc>
                </param>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &postPutFaults; &getFaults; </method>
    <method name="DELETE" id="deleteRole">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete role">
            <para role="shortdesc">Deletes a role.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
    <!-- Service Operations -->
    <method name="GET" id="listServices">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List services">
            <para role="shortdesc">Lists all services.</para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/services.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/services.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="showServiceByName">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show service information by name">
            <para role="shortdesc">Shows information for a service, by name.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="showServiceByID">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Shows service information by ID">
            <para role="shortdesc">Shows information for a service, by ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="203"/> &commonFaults; &getFaults; </method>
    <method name="POST" id="createService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create service">
            <para role="shortdesc">Creates a service.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </wadl:doc>
                <param name="Location" type="xsd:anyURI"
                    style="header">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">The location.</wadl:doc>
                </param>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>
    <method name="DELETE" id="deleteService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete service">
            <para role="shortdesc">Deletes a service.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
</application>
