api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSVALIDATE-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSVALIDATE-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357"
        xml:id="OS-KSVALIDATE-admin-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="extension" path="OS-KSVALIDATE">
                <resource id="token" path="token">
                    <resource id="validate" path="validate">
                        <param name="X-Auth-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication token for an
                                   administrative
                                user.</para></wadl:doc>
                        </param>
                        <param name="X-Subject-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication
                                token.</para></wadl:doc>
                        </param>
                        <param name="belongsTo" style="query"
                            required="false" type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                    Validates that a token has the specified
                                    tenant in scope, for performance. Valid
                                    tokens are in the
                                    <code>/tokens/{tokenId}</code> path. If
                                    the token is not valid, this call throws
                                    the <code> itemNotFound (404)</code>
                                    fault.
                                </para>
                            </wadl:doc>
                        </param>
                        &serviceIdQueryParameter;
                        <method href="#validateToken"/>
                        <method href="#checkToken"/>
                    </resource>
                    <resource id="endpointsForToken" path="endpoints">
                        <param name="X-Auth-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication token for an
                                   administrative
                                user.</para></wadl:doc>
                        </param>
                        <param name="X-Subject-Token" style="header"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>A valid
                                   authentication
                                token.</para></wadl:doc>
                        </param>
                        &serviceIdQueryParameter;
                        <method href="#listEndpointsForToken"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- token Operations -->
    <method name="GET" id="validateToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Validate token">
            <para role="shortdesc">
                Checks that a token is valid and that it belongs to a
                specified tenant and any specified service IDs. Returns the
                permissions for a particular client.
            </para>
            <para>
                Behavior is similar to <code>/tokens/{tokenId}</code>. If the
                token is not valid, the call throws the <code>itemNotFound
                (404)</code> fault.
            </para>
            <para>
                This extension might decrypt the <code>X-Subject-Token</code>
                header and internally call and pass in all headers and query
                parameters to the normal validation code for Identity.
                Consequently, this extension must support all existing
                <code>/tokens/{tokenId}</code> calls including extensions such
                as HP-IDM.
            </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json" element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/validatetoken.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="HEAD" id="checkToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Check token">
            <para role="shortdesc">
                Checks that a token is valid and that it belongs to a
                specified tenant and any specified service IDs, for performance.
            </para>
            <para>
                Behavior is similar to <code>/tokens/{tokenId}</code>. If the
                token is not valid, the call throws the <code>itemNotFound
                (404)</code> fault.
            </para>
            <para>
                This extension might decrypt the <code>X-Subject-Token</code>
                header and internally call and pass in all headers and query
                parameters to the normal validation code for Identity.
                Consequently, this extension must support all existing
                <code>/tokens/{tokenId}</code> calls including extensions such
                as HP-IDM.
            </para>
        </wadl:doc>
        <response status="200 203"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="listEndpointsForToken">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List endpoints for token">
            <para role="shortdesc">Lists endpoints associated with a
                specified token.</para>
        </wadl:doc>
        <request>
            &limitMarkerReqParameter;
        </request>
        <response status="200 203">
            <representation mediaType="application/json" element="identity:endpoints">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/endpoints.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
