api-ref/src/wadls/identity-api/src/v2.0/wadl/OS-KSS3-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation., All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSS3-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/OS-KSS3-credentials.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resoruces                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="OS-KSS3-admin-v2.0">
        <resource id="version" path="//v2.0">
            <param name="X-Auth-Token" style="header"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">A valid authentication
                    token.</wadl:doc>
            </param>
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template"
                        required="true" type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">The user ID.</wadl:doc>
                    </param>
                    <resource id="user-OS-OS-KSS3" path="OS-OS-KSS3">
                        <resource id="userCredentials"
                            path="credentials">
                            <param name="marker" style="query"
                                required="false" type="xsd:string">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">The ID of the last
                                   item in the previous
                                   list.</wadl:doc>
                            </param>
                            <param name="limit" style="query"
                                required="false" type="xsd:int">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">The page size.
                                </wadl:doc>
                            </param>
                            <method href="#listCredentials"/>
                            <method href="#addUserCredential"/>
                            <resource id="userCredentialsByType"
                                path="s3credentials">
                                <method href="#getUserCredential"/>
                                <method href="#updateUserCredential"/>
                                <method href="#deleteUserCredential"/>
                                <resource id="type" path="{type}"> <param name="type" style="query"
                                    required="true" type="xsd:string">
                                    <wadl:doc
                                        xmlns="http://docbook.org/ns/docbook"
                                        xml:lang="EN"><para>The credential type.
                                        </para></wadl:doc>
                                </param><method href="#listCredentialsByType"/></resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- User Credentials-->
    <method name="POST" id="addUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add User Credential.">
            <para role="shortdesc">Adds a credential to a user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="s3credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="s3credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="GET" id="listCredentials">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Credentials">
            <para role="shortdesc">Lists credentials.</para>
        </wadl:doc>

        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/credentialswiths3.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/credentialswiths3.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listCredentialsByType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Credentials by Type">
            <para role="shortdesc" class="shortdesc">Lists credentials
                by type.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/credentialswiths3.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/credentialswiths3.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="updateUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update User Credentials">
            <para role="shortdesc" class="shortdesc">Updates
                credentials.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="s3credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="s3credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="DELETE" id="deleteUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete User Credentials">
            <para role="shortdesc" class="shortdesc">Deletes user
                credentials.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &postPutFaults;
        &getFaults; </method>

    <method name="GET" id="getUserCredential">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get User Credentials">
            <para role="shortdesc" class="shortdesc">Gets user
                credentials.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="s3credentials">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSS3/samples/s3Credentials.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
