api-ref/src/wadls/identity-api/src/v2.0/wadl/RAX-KSQA-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- -->
<!-- You can resolve the entites with xmllint -->
<!-- -->
<!-- xmllint -noent RAX-KSQA-admin.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/RAX-KSQA-secretQA.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!-- All Resources -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357"
        xml:id="RAX-KSQA-admin-v2.0">
        <resource id="version" path="//v2.0">
            <param name="X-Auth-Token" style="header"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A valid authentication token
                        for an administrative user.</para></wadl:doc>
            </param>
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template"
                        type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The user
                            ID.</para></wadl:doc>
                    </param>
                    <resource id="user-RAX-KSQA" path="RAX-KSQA">
                        <resource id="secretqa" path="secretqa">
                            <method href="#getUserSecretQA"/>
                            <method href="#updateUserSecretQA"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getUserSecretQA">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get user secret question and answer">
            <para role="shortdesc">Gets a secret question and answer
                for a specified user.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="secretQA">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="PUT" id="updateUserSecretQA">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update user secret question and answer">
            <para role="shortdesc">Updates a secret question and
                answer for a specified user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="secretQA">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="secretQA">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &postPutFaults; </method>
</application>
