api-ref/src/wadls/identity-api/src/v2.0/wadl/RAX-KSKEY-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent RAX-KSKEY-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/RAX-KSKEY-credentials.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="RAX-KSKEY-admin-v2.0">
        <resource id="version" path="//v2.0">
            <param name="X-Auth-Token" style="header"
                type="xsd:string" required="true">
                <doc>A valid authentication token for an
                    administrative user.</doc>
            </param>
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template"
                        required="true" type="xsd:string">
                        <doc>The user ID.</doc>
                    </param>
                    <resource id="user-OS-RAX-KSKEY"
                        path="OS-RAX-KSKEY">
                        <resource id="userCredentials"
                            path="credentials">
                            <method href="#addUserCredential"/>
                            <resource id="tenants">
                                <param name="X-Auth-Token"
                                   style="header" type="xsd:string"
                                   required="true">
                                   <doc>A valid authentication token
                                   for an administrative user.</doc>
                                </param>
                                <param name="marker" style="query"
                                   required="false" type="xsd:string">
                                   <doc>The ID of the last item in the
                                   previous list.</doc>
                                </param>
                                <param name="limit" style="query"
                                   required="false" type="xsd:int">
                                   <doc>The page size. </doc>
                                </param>
                                <method href="#listCredentials"/>
                            </resource>
                            <resource id="userCredentialsByType"
                                path="RAX-KSKEY:apiKeyCredentials">
                                <method href="#updateUserCredential"/>
                                <method href="#deleteUserCredential"/>
                                <method href="#getUserCredential"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- User Credentials-->
    <method name="POST" id="addUserCredential">
        <doc xml:lang="EN" title="Add user Credential">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Adds a credential to a user.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="apiKeyCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="apiKeyCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="GET" id="listCredentials">
        <doc xml:lang="EN" title="List Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Lists credentials.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:credentials">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/credentialswithapikey.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/credentialswithapikey.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="updateUserCredential">
        <doc xml:lang="EN" title="Update User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Updates credentials.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="apiKeyCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="apiKeyCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples/apiKeyCredentials.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="DELETE" id="deleteUserCredential">
        <doc xml:lang="EN" title="Delete User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Deletes user credentials.</p>
        </doc>
        <response status="204"/> &commonFaults; &postPutFaults;
        &getFaults; </method>

    <method name="GET" id="getUserCredential">
        <doc xml:lang="EN" title="Get User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Gets user credentials.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="apiKeyCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples//apiKeyCredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSKEY/samples//apiKeyCredentials.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
