api-ref/src/wadls/identity-api/src/v2.0/wadl/RAX-KSQA-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- -->
<!-- You can resolve the entites with xmllint -->
<!-- -->
<!-- xmllint -noent RAX-KSQA-admin.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:RAX-KSQA="http://docs.openstack.org/identity/api/ext/RAX-KSQA/v1.0"
    xmlns:capi="http://docs.openstack.oapi/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    http://docs.rackspace.com/identity/api/ext/RAX-KSQA/v1.0 ../xsd/RAX-KSQA-secretQA.xsd
    ">

    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/RAX-KSQA-secretQA.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!-- All Resources -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357">
        <resource id="version" path="v2.0">
            <param name="X-Auth-Token" style="header"
                type="xsd:string" required="true">
                <doc>A valid authentication token for an
                    administrative user.</doc>
            </param>
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template"
                        type="xsd:string">
                        <doc>The user ID.</doc>
                    </param>
                    <resource id="user-RAX-KSQA" path="RAX-KSQA">
                        <resource id="secretqa" path="secretqa">
                            <method href="#getUserSecretQA"/>
                            <method href="#updateUserSecretQA"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getUserSecretQA">
        <doc xml:lang="EN" title="Get User Secret Question and Answer">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Gets a secret question and answer for a specified
                user.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="RAX-KSQA:secretQA">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="PUT" id="updateUserSecretQA">
        <doc xml:lang="EN" title="Update User Secret Question and Answer">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Updates a secret question and answer for a specified
                user.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="RAX-KSQA:secretQA">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="RAX-KSQA:secretQA">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../RAX-KSQA/samples/RAX-KSQA-secretQA.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; </method>
</application>
