api-ref/src/wadls/identity-api/src/v2.0/wadl/RAX-GRPADM.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent RAX-GRPADM.wadl           -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:grp="http://docs.rackspace.com/identity/api/ext/RAX-KSGRP/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <grammars>
        <include href="../xsd/api.xsd"/>
    </grammars>

    <resources base="http://localhost:35357" xml:id="RAX-GRPADM-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="RAX-GRPADM" path="RAX-GRPADM">
                <resource id="groups" path="groups" type="#GroupList">
                    <param name="X-Auth-Token" style="header"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>A valid authentication token for an
                                administrative user.</para>
                        </wadl:doc>
                    </param>
                    <method href="#addGroup"/>
                    <resource id="group" path="{groupId}">
                        <param name="groupId" style="template"
                            type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="GroupId">
                                <para>The group ID.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getGroup"/>
                        <method href="#updateGroup"/>
                        <method href="#deleteGroup"/>
                        <resource id="users" path="users"
                            type="#UserList">
                            <resource id="user" path="{userId}">
                                <param name="userId" style="template"
                                   type="xsd:string">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN" title="GroupId">
                                   <para>The user ID.</para>
                                   </wadl:doc>
                                </param>
                                <method href="#addUserToGroup"/>
                                <method href="#removeUserFromGroup"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <resource_type id="UserList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Volume List">
            <para>A list of users.</para>
        </wadl:doc>
        <method href="#listUsersForGroup"/>
    </resource_type>

    <resource_type id="GroupList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Volume List">
            <para>A list of groups.</para>
        </wadl:doc>
        <param name="marker" style="query" required="false"
            type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                xml:lang="EN">The ID of the last item in the previous
                list.</wadl:doc>
        </param>
        <param name="limit" style="query" required="false"
            type="xsd:int">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                xml:lang="EN">The page size. </wadl:doc>
        </param>
        <param name="name" style="query" required="false"
            type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                xml:lang="EN">The group name.</wadl:doc>
        </param>
        <method href="#listGroups"/>
    </resource_type>

    <!-- Methods -->
    <method id="listGroups" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List groups">
            <para role="shortdesc">Lists groups.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="grp:groups">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/groups.xml"/>
                </wadl:doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/grp:groups/atom:link[@rel='next']/@href">
                    <link resource_type="#GroupList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/grp:groups/atom:link[@rel='previous']/@href">
                    <link resource_type="#GroupList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/groups.json"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- commonFaults --> &commonFaults; </method>
    <method id="addGroup" name="POST">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add group">
            <para role="shortdesc">Adds a group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="grp:group">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group-for-create.xml"
                    />
                </wadl:doc>
                <param name="group" style="plain" required="true"
                    type="grp:GroupForCreate" path="/grp:group"/>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group-for-create.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="grp:group">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../RAX-GRPADM/samples/group.xml"
                    />
                </wadl:doc>
                <param name="Location" style="header" required="true"
                    type="xsd:anyURI">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Location Header">
                        <para>The full URL to the new group is
                            returned in the <code>Location</code>
                            header.</para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>
    <method id="getGroup" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get group information">
            <para role="shortdesc">Gets information for a group by
                ID.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="grp:group">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../RAX-GRPADM/samples/group.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group.json"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET --> &commonFaults; &getFaults; </method>
    <method id="updateGroup" name="PUT">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update group">
            <para role="shortdesc">Updates a group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="grp:group">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group-for-update.xml"
                    />
                </wadl:doc>
                <param name="group" style="plain" required="true"
                    type="grp:GroupForUpdate" path="/grp:group"/>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group-for-update.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="grp:group">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group-updated.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/group-updated.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>
    <method id="deleteGroup" name="DELETE">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete group">
            <para role="shortdesc">Deletes a group.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET --> &commonFaults; &getFaults; </method>
    <method id="listUsersForGroup" name="GET">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List users for group">
            <para role="shortdesc">Lists users for a group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="marker" style="query" required="false"
                    type="xsd:string"/>
                <param name="limit" style="query" required="false"
                    type="xsd:int"/>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:users">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../RAX-GRPADM/samples/users.xml"
                    />
                </wadl:doc>
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/identity:users/atom:link[@rel='next']/@href">
                    <link resource_type="#UserList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/identity:users/atom:link[@rel='previous']/@href">
                    <link resource_type="#UserList" rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../RAX-GRPADM/samples/users.json"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- commonFaults --> &commonFaults; </method>
    <method id="addUserToGroup" name="PUT">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add user to group">
            <para role="shortdesc">Adds a user to a group.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET --> &commonFaults; &getFaults; </method>
    <method id="removeUserFromGroup" name="DELETE">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Remove user from group">
            <para role="shortdesc">Removes a user from a group.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET --> &commonFaults; &getFaults; </method>
</application>
