api-ref/src/wadls/identity-api/src/v2.0/wadl/RAX-KSGRP-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent RAX-KSGRP-admin.wadl            -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:HP-IDM="http://docs.openstack.org/identity/api/ext/HP-IDM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/RAX-KSGRP-groups.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="RAX-KSGRP-admin-v2.0">
        <resource id="version" path="v2.0">
            <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">A valid authentication token for an administrative user.</wadl:doc>
            </param>            
            <resource id="users" path="users">
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template" type="xsd:string"><wadl:doc xmlns="http://docbook.org/ns/docbook">The user ID.</wadl:doc></param>
                    <resource id="user-groups-RAX-KSGRP" path="RAX-KSGRP">
                        <method href="#listUserGroups"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>  
    <method name="GET" id="listUserGroups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Groups for a User">
            <para role="shortdesc">Lists groups for a user.</para>       
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="groups">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../RAX-KSGRP/samples/RAX-KSGRP-groups.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../RAX-KSGRP/samples/RAX-KSGRP-groups.json"/>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
   </application> 
   
