api-ref/src/wadls/telemetry-api/src/v2/os-telemetry-api-2.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent os-telemetry-api-2.0.wadl       -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:Enum="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="http://www.example.com"
        xml:id="os-telemetry-api-v2.0">
        <resource path="//v2" id="v2">
            <resource path="alarms" id="alarms">
                <method href="#listAlarms"/>
                <method href="#createAlarm"/>
                <resource path="{alarm_id}" id="alarm_id">
                    <param name="alarm_id" required="true"
                        style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>The UUID of the alarm.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showAlarm"/>
                    <method href="#updateAlarm"/>
                    <method href="#deleteAlarm"/>
                    <resource path="state" id="state">
                        <method href="#updateAlarmState"/>
                        <method href="#showAlarmState"/>
                    </resource>
                    <resource path="history" id="history">
                        <method href="#showAlarmHistory"/>
                    </resource>
                </resource>
            </resource>
            <resource path="meters" id="meters">
                <method href="#listMeters"/>
                <resource path="{meter_name}" id="meter_name">
                    <param name="meter_name" required="true"
                        style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>The name of the meter.</para>
                        </wadl:doc>
                    </param>
                    <method href="#listSamplesforMeter"/>
                    <method href="#createMeter"/>
                    <resource path="statistics" id="statistics">
                        <method href="#listSamplesStatistics"/>
                    </resource>
                </resource>
            </resource>
            <resource path="samples" id="samples">
                <method href="#listSamples"/>
                <resource path="{sample_id}" id="sample_id">
                    <param name="sample_id" required="true"
                        style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>The UUID of the sample.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showSample"/>
                </resource>
            </resource>
            <resource path="resources" id="resources">
                <method href="#listResources"/>
                <resource path="{resource_id}" id="resource_id">
                    <param name="resource_id" required="true"
                        style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>The UUID of the resource.</para>
                        </wadl:doc>
                    </param>
                    <method href="#showResource"/>
                </resource>
            </resource>
            <resource path="capabilities" id="capabilities">
                <method href="#listCapabilities"/>
            </resource>
        </resource>
    </resources>
    <method id="listCapabilities" name="GET">
        <wadl:doc title="List capabilities" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                A representation of the API and storage capabilities. Usually
                constrained by restrictions imposed by the storage driver.
            </para>
        </wadl:doc>
        <request/>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/capabilities.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/capabilities.xml"/>
                </wadl:doc> &capabilitiesListParameters;
            </representation>
        </response>
    </method>
    <method id="listResources" name="GET">
        <wadl:doc title="List resources" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists definitions for all
                resources.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="q" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Filter rules for the resources to be
                            returned.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_resource.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_resource.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="showResource" name="GET">
        <wadl:doc title="Show resource information" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows information for a specified
                resource, by resource ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/resource.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/resource.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listMeters" name="GET">
        <wadl:doc title="List meters" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists meters, based on the data
                recorded so far.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="q" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Filter rules for the meters to be
                            returned.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_meter.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_meter.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listSamplesforMeter" name="GET">
        <wadl:doc title="List samples for meter" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists samples for a specified
                meter, by meter name.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="q" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Filter rules for the data to be
                            returned.</para>
                    </wadl:doc>
                </param>
                &limitMarkerReqParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_sample.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_sample.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="createMeter" name="POST">
        <wadl:doc title="Create meter" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds a list of samples to the
                specified meter, by meter name.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="samples" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A list of samples within the request
                            body.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_sample.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_sample.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listSamplesStatistics" name="GET">
        <wadl:doc title="Show meter statistics" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Computes and lists statistics for samples in a specified
                time range.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="q" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Filter rules for the data to be
                            returned.</para>
                    </wadl:doc>
                </param>
                <param name="groupby" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Fields for group by aggregation</para>
                    </wadl:doc>
                </param>
                <param name="period" required="false" style="query"
                    type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The period, in seconds, for which you want
                            statistics.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_statistics.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_statistics.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listSamples" name="GET">
        <wadl:doc title="List samples" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all known samples, based on the data recorded so far.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="q" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Filter rules for the samples to be
                            returned.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_samples.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_samples.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="showSample" name="GET">
        <wadl:doc title="Show sample" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows information for a specified sample, by sample ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/new_sample.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/new_sample.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="listAlarms" name="GET">
        <wadl:doc title="List alarms" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists alarms, based on the
                specified query.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="q" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Filter rules for the alarms to be
                            returned.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_alarm.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/list_alarm.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="createAlarm" name="POST">
        <wadl:doc title="Create alarm" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates an alarm.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="data" required="false" style="query"
                    type="Alarm"
                    xmlns="http://wadl.dev.java.net/2009/02">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>An alarm within the request body.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/alarm.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/alarm.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="showAlarm" name="GET">
        <wadl:doc title="Show alarm" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows information for a specified
                alarm, by alarm ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/alarm.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/alarm.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="updateAlarm" name="PUT">
        <wadl:doc title="Update alarm" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates a specified alarm.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="data" required="false" style="query"
                    type="Alarm"
                    xmlns="http://wadl.dev.java.net/2009/02">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>An alarm within the request body.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/alarm.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="./samples/alarm.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method id="showAlarmHistory" name="GET">
        <wadl:doc title="Show alarm history" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Assembles and shows the history for a specified alarm, by
                alarm ID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="q" required="false" style="query"
                    type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Filter rules for the changes to be
                            described.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method id="updateAlarmState" name="PUT">
        <wadl:doc title="Update alarm state" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Sets the state of a specified
                alarm.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="state" required="false" style="query"
                    type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            An alarm state within the request body. A valid
                            value is <code>ok</code>, <code>alarm</code>, or
                            <code>insufficient data</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method id="showAlarmState" name="GET">
        <wadl:doc title="Show alarm state" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows the state for a specified alarm, by alarm ID.
            </para>
        </wadl:doc>
        <request/>
        <response status="200"/>
    </method>
    <method id="deleteAlarm" name="DELETE">
        <wadl:doc title="Delete alarm" xml:lang="EN"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a specified alarm, by alarm ID.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
</application>
