api-ref/src/wadls/image-api/src/v1/os-image-1.0.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012-2013 OpenStack Foundation., All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-1.0.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "common.ent">
%common;]>

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:atom="http://www.w3.org/2005/Atom"
    targetNamespace="http://docs.openstack.org/image/api/v1.0"
    xsi:schemaLocation="http://docs.openstack.org/image/api/v1.0
                       xsd/api.xsd
                       http://docs.openstack.org/common/api/v1.0
                       xsd/api-common.xsd
                       ">

    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/">
        <resource id="info" path="v1">
            <resource id="Images" type="#ImageList" path="images">
                <method href="#createImage"/>
                <resource path="detail" type="#DetailImageList"/>
                <resource path="{image_id}">
                    <param name="image_id" style="template"
                        type="xsd:string">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                            xml:lang="EN" title="Image ID">
                            <p>Image ID stored through the image API.
                                Typically a UUID.</p>
                        </wadl:doc>
                    </param>
                    <method href="#getImage"/>
                    <method href="#updateImage"/>
                    <method href="#deleteImage"/>
                    <resource id="members" path="members">
                        <method href="#replaceMember"/>
                        <resource path="{owner}">
                            <param name="owner" style="template"
                                type="xsd:string">
                                <wadl:doc
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   xml:lang="EN" title="Image ID">
                                   <p>Owner ID, which is the same as
                                   the tenant ID.</p>
                                </wadl:doc>
                            </param>
                            <method href="#addMember"/>
                            <method href="#removeMember"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="shared-images" path="shared-images">
                <resource path="{owner}">
                    <!--<param name="owner" style="template"
                        type="xsd:string">
                        <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                            xml:lang="EN" title="Image ID">
                            <p>Owner ID, which is the same as the
                                tenant ID or your account number.</p>
                        </wadl:doc>
                    </param>-->
                    <method href="#getSharedImages"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="ImageList">
        <method href="#listImage"/>
    </resource_type>
    <resource_type id="DetailImageList">
        <method href="#listDetailImage"/>
    </resource_type>
    <!--    <resource_type id="memberList">
        <method href="#listMember"/>
    </resource_type>-->
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="POST" id="createImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="create Image">
            <p> Registers a virtual machine (VM) image. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <param name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Images name">
                        <p>Name for the image. Note that the name of
                            an image is not unique to a Glance node.
                            The API cannot expect users to know the
                            names of images owned by others.</p>
                    </wadl:doc>
                </param>
                <param name="disk_format" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Image disk format">
                        <p>Valid values are: aki, ari, ami, raw, iso,
                            vhd, vdi, qcow2, or vmdk.</p>
                        <p>The disk format of a VM image is the format
                            of the underlying disk image. Virtual
                            appliance vendors have different formats
                            for laying out the information contained
                            in a VM disk image.</p>
                        <p>You can set the container format for your
                            image to one of the following values:</p>
                        <ul>
                            <li>
                                <p>
                                   <strong>raw</strong>
                                </p>
                                <p>Unstructured disk image format.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>vhd</strong>
                                </p>
                                <p>VHD disk format, a common disk
                                   format used by VM monitors from
                                   VMWare, Xen, Microsoft, VirtualBox,
                                   and others.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>vmdk</strong>
                                </p>
                                <p>A common disk format that supported
                                   by many VM monitors.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>vdi</strong>
                                </p>
                                <p>Supported by VirtualBox VM monitor
                                   and the QEMU emulator.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>iso</strong>
                                </p>
                                <p>An archive format for the data
                                   contents of an optical disc, such
                                   as CDROM.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>qcow2</strong>
                                </p>
                                <p>Supported by the QEMU emulator that
                                   can expand dynamically and supports
                                   Copy on Write.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>aki</strong>
                                </p>
                                <p>An Amazon kernel image.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>ari</strong>
                                </p>
                                <p>An Amazon ramdisk image.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>ami</strong>
                                </p>
                                <p>An Amazon machine image.</p>
                            </li>
                        </ul>
                    </wadl:doc>
                </param>
                <param name="container_format" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Container Formats">
                        <p>The container format refers to whether the
                            VM image is in a file format that also
                            contains metadata about the actual VM.</p>
                        <p>Container formats include: OVF and Amazon’s
                            AMI. In addition, a VM image might not
                            have a container format – instead, the
                            image is just a blob of unstructured
                            data.</p>
                        <p>You can set the container format to one of
                            the following:</p>
                        <ul>
                            <li>
                                <p>
                                   <strong>ovf</strong>
                                </p>
                                <p>OVF container format.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>bare</strong>
                                </p>
                                <p>No container or metadata envelope
                                   for the image.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>aki</strong>
                                </p>
                                <p>Amazon kernel image.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>ari</strong>
                                </p>
                                <p>Amazon ramdisk image.</p>
                            </li>
                            <li>
                                <p>
                                   <strong>ami</strong>
                                </p>
                                <p>Amazon machine image.</p>
                            </li>
                        </ul>
                    </wadl:doc>
                </param>
                <param name="createImage" type="ImageForCreate"
                    path="/images"/>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml"
                element="common:version">
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Image Location">
                        <p>A location for the image identified by a
                            URI. </p>
                    </wadl:doc>
                    <link resource_type="#createImage" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="PUT" id="updateImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="update Image">
            <p xmlns="http://www.w3.org/1999/xhtml"> Updates an image,
                uploads an image file, or updates metadata for an
                image. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml"
                element="common:version">
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <link resource_type="#createImage" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="getImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Get Image Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows details for
                the specified image. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:image"/>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/imagedetails.json"/>
                </doc>
            </representation>
        </response>

    </method>

    <method name="DELETE" id="deleteImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml"> Deletes the
                specified image. </p>
        </wadl:doc>
        <response status="204"/>
    </method>

    <method name="GET" id="getSharedImages">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="E"
            title="List Shared Images">
            <p xmlns="http://www.w3.org/1999/xhtml"> Lists the VM
                images shared with a specified owner. The owner ID is
                the tenant ID. </p>
        </wadl:doc>
        <request>
            <param name="owner" style="plain" required="true"
                type="ImageForSharing"
                path="/images/shared-images/{owner}">
                <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                    xml:lang="EN" title="Image ID">
                    <p>Owner ID. The owner ID is the tenant ID.</p>
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:images">
                <param name="image_id" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Image ID">
                        <p>The ID of the image that is shared with the
                            specified owner. The owner ID is the
                            tenant ID.</p>
                    </wadl:doc>
                    <link resource_type="#getSharedImages" rel="self"
                    />
                </param>
                <param name="can_share" style="plain"
                    type="xsd:anyURI" required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Can Share Flag">
                        <p>If the owner is authorized to further share
                            the image, the can_share field is set to
                            true. The owner ID is the tenant ID.</p>
                    </wadl:doc>
                    <link resource_type="#getSharedImages" rel="self"
                    />
                </param>

            </representation>
            <representation mediaType="application/json"/>
        </response>

    </method>
    <method name="GET" id="listImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Image">
            <p xmlns="http://www.w3.org/1999/xhtml"> Lists public VM
                images. </p>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="name" style="query" required="false"
                type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Name of
                        the image as a string.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="container_format" style="query" required="false"
                type="imageapi:ImageStatus">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the container format, such as ovf, bare, aki,
                        ari, or ami.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="disk_format" style="query" required="false"
                type="imageapi:UUID">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the disk format.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="status" style="query" required="false"
                type="xsd:int">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Filters on
                        the status of the image, such as queued,
                        saving, active, killed, deleted, and
                        pending_delete.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="size_min" style="query" required="false"
                type="xsd:string" default="ALL">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the minimum size of the image in bytes.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="size_min" style="query" required="false"
                type="xsd:string" default="ALL">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the maximum size of the image in bytes.</p>
                </doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:images"/>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/imagelist.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="listDetailImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Detail Image">
            <p xmlns="http://www.w3.org/1999/xhtml"> Lists all details
                for available images. </p>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="name" style="query" required="false"
                type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Name of
                        the image as a string.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="container_format" style="query" required="false"
                type="imageapi:ImageStatus">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the container format, such as ovf, bare, aki,
                        ari, or ami.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="disk_format" style="query" required="false"
                type="imageapi:UUID">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the disk format.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="status" style="query" required="false"
                type="xsd:int">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Filter on
                        the status of the image, such as queued,
                        saving, active, killed, deleted, and
                        pending_delete.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="size_min" style="query" required="false"
                type="xsd:string" default="ALL">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the minimum size of the image in bytes.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="size_min" style="query" required="false"
                type="xsd:string" default="ALL">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the maximum size of the image in bytes.</p>
                </doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:images">
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/imageapi:images/atom:link[@rel='next']/@href">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Next">
                        <p>Show the next item in the list.</p>
                    </wadl:doc>
                    <link resource_type="#DetailImageList" rel="next"
                    />
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/imageapi:images/atom:link[@rel='previous']/@href">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="Previous">
                        <p>Show the previous item in the list.</p>
                    </wadl:doc>
                    <link resource_type="#DetailImageList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="PUT" id="addMember">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds a member to
                an image. </p>
            <p>If you omit the request body from this call, this
                request adds the membership to the image, leaves the
                existing memberships unmodified, and defaults new
                memberships to have can_share set to false. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <param name="can_share" style="plain" required="true"
                    type="ImageForCreate"
                    path="/images/{image_id}/members">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml"
                        xml:lang="EN" title="can_share">
                        <p>To give an owner access to a private image,
                            set to true. The owner ID is the tenant
                            ID.</p>

                    </wadl:doc>
                </param>
                <xsdxt:code href="samples/imagememberships.json"/>
            </representation>
        </request>
        <response status="204"/>
    </method>
    <method name="PUT" id="replaceMember">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Replace Member">
            <p xmlns="http://www.w3.org/1999/xhtml"> Replaces a
                membership list for an image. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <param name="memberships" style="plain"
                    required="true"/>
                <param name="can_share" style="plain" required="true"
                    type="ImageForCreate"
                    path="/images/{image_id}/members"/>
                <xsdxt:code href="samples/imagemembershiplist.json"/>
            </representation>
        </request>
        <response status="204"/>
    </method>

    <method name="DELETE" id="removeMember">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Image">
            <p xmlns="http://www.w3.org/1999/xhtml"> Removes a member
                from an image. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <param name="member_id" style="plain" required="true"
                    type="ImageForCreate"
                    path="/images/{image_id}/members/{member_id}">
                    <wadl:doc xmlns="http://www.w3.org/1999/xhtml">
                        <p>ID of member with whom an image is shared.
                        </p>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="204"/>
    </method>
</application>
