api-ref/src/wadls/compute-api/src/v2/ext/os-availability-zone.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
   <resources base="https://servers.api.openstack.com"
      xml:id="os-availability-zone-v2">
      <resource id="version" type="#VersionDetails" path="//v2">
         <resource id="tenant_id" path="{tenant_id}">
            <param name="tenant_id" style="template"
                    type="xsd:string">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID">
                  <para>
                     The ID for the tenant or account in a multi-tenancy cloud.
                  </para>
               </wadl:doc>
            </param>
            <resource id="Servers" path="servers">
               <method href="#addAvailabilityZone"/>
            </resource>
            <resource id="os-availability-zone" path="os-availability-zone">
               <method href="#listAvailabilityZones"/>
               <resource path="detail" id="detail">
                  <method href="#listAvailabilityZonesDetailed"/>
               </resource>
               <resource path="{availability_zone_id}" id="availability_zone_id">
                  <param name="availability_zone_id" style="template" type="csapi:UUID">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                           The ID associated with an availability zone.
                        </para>
                     </wadl:doc>
                  </param>
                  <method href="#showAvailabilityZone"/>
               </resource>
            </resource>
         </resource>
      </resource>
   </resources>
   <method name="POST" id="addAvailabilityZone">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
         title="Create server with availability zone">
         <para role="shortdesc">Creates a server with an availability zone.</para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN"
               title="Create server with availability zone: JSON request">
               <xsdxt:code
                  href="../api_samples/os-availability-zone/availability-zone-post-req.json"
                  />
            </wadl:doc>
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN"
               title="Create server with availability zone: JSON response">
               <xsdxt:code
                  href="../api_samples/os-availability-zone/availability-zone-post-resp.json"
                  />
            </wadl:doc>
         </representation>
      </response> &commonFaults; &getFaults;
   </method>
   <method name="GET" id="listAvailabilityZones">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
         title="List availability zones">
         <para role="shortdesc">Lists all availability zones.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN"
               title="List availability zones: JSON response">
               <xsdxt:code
                  href="../api_samples/os-availability-zone/availability-zone-list-resp.json"
                  />
            </wadl:doc>
         </representation>
      </response> &commonFaults; &getFaults;
   </method>
   <method name="GET" id="listAvailabilityZonesDetailed">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
         title="List availability zones with details">
         <para role="shortdesc">Lists all availability zones with details.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN"
               title="List availability zones with details: JSON response">
               <xsdxt:code
                  href="../api_samples/os-availability-zone/availability-zone-detail-resp.json"
                  />
            </wadl:doc>
         </representation>
      </response>
   </method>
   <method name="GET" id="showAvailabilityZone">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
         title="Show availability zone information">
         <para role="shortdesc">Shows information for a specified availability zone.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN"
               title="Show availability zone information: JSON response">
               <xsdxt:code
                  href="../api_samples/os-availability-zone/availability-zone-resp.json"
                  />
            </wadl:doc>
         </representation>
      </response> &commonFaults; &getFaults;
   </method>
</application>
