api-ref/src/wadls/compute-api/src/v2/ext/os-consoles.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-consoles-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server UUID"
                                   ><para>The UUID for the server of
                                   interest to you.</para></wadl:doc>
                        </param>
                        <resource path="action"
                            id="action-os-consoles">
                            <method href="#getConsole"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="getConsole">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get console">
            <para role="shortdesc">Gets a console for a server
                instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Get console: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-consoles/get-vnc-console-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Get console: XML request">
                    <xsdxt:code
                        href="../api_samples/os-consoles/get-vnc-console-post-req.xml"
                    />
                </wadl:doc>
                <param name="getConsole" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Get console action"
                            ><para>Specify the <code>getConsole</code>
                            action in the request
                        body.</para></wadl:doc>
                </param>
                <param name="type" style="plain" required="true"
                    type="csapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Type"><para>Valid values
                            are <code>novnc</code> and
                                <code>xvpvnc</code>.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Get console: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-consoles/get-vnc-console-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Get console: XML response">
                    <xsdxt:code
                        href="../api_samples/os-consoles/get-vnc-console-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
