api-ref/src/wadls/compute-api/src/v2/ext/os-coverage.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-coverage-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>
                <resource id="os-coverage" path="os-coverage">
                    <resource path="action" id="action">
                        <method href="#getReport"/>
                        <method href="#startReport"/>
                        <method href="#startCombinedReport"/>
                        <method href="#stopReport"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="getReport">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get coverage report">
            <para role="shortdesc">Generates a coverage report.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Start combined report: JSON request">
                    <xsdxt:code language="json"
                        href="../api_samples/os-coverage/coverage-xml-report-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Start combined report: XML request">
                    <xsdxt:code language="xml"
                        href="../api_samples/os-coverage/coverage-xml-report-post-req.xml"
                    />
                </wadl:doc>
                <param name="file" style="plain" type="csapi:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="name">
                        <para>The file name for the report.</para>
                    </wadl:doc>
                </param>
                <param name="xml" style="plain" type="csapi:bool"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="xml">
                        <para>Set to true to generate the report in
                            XML format.</para>
                    </wadl:doc>
                </param>
                <param name="html" style="plain" type="csapi:bool"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="html">
                        <para>Set to true to generate the report in
                            HTML format.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">

            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code language="json"
                        href="../api_samples/os-coverage/coverage-xml-report-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code language="xml"
                        href="../api_samples/os-coverage/coverage-xml-report-post-resp.xml"
                    />
                </wadl:doc>
                <param name="path" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The path to the report file.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="POST" id="startReport">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Start coverage report">
            <para role="shortdesc">Starts Nova coverage
                reporting.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code language="json"
                        href="../api_samples/os-coverage/coverage-start-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code language="xml"
                        href="../api_samples/os-coverage/coverage-start-post-req.xml"
                    />
                </wadl:doc>
                <param name="start" style="plain" type="csapi:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Specify <code>start</code> in the
                            request body.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
    <method name="POST" id="startCombinedReport">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Start combined coverage report">
            <para role="shortdesc">Starts coverage reporting for all
                services.</para>
            <para>All reports are combined into a single
                report.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Start combined report: JSON request">
                    <xsdxt:code language="json"
                        href="../api_samples/os-coverage/coverage-start-combine-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Start combined report: XML request">
                    <xsdxt:code language="xml"
                        href="../api_samples/os-coverage/coverage-start-combine-post-req.xml"
                    />
                </wadl:doc>
                <param name="start" style="plain" type="csapi:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Specify <code>start</code> in the
                            request body.</para>
                    </wadl:doc>
                </param>
                <param name="combine" style="plain" type="csapi:bool"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Set to true to generate a combined
                            report for all services.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method name="POST" id="stopReport">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Stop coverage report">
            <para role="shortdesc">Stops coverage reporting.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code language="json"
                        href="../api_samples/os-coverage/coverage-stop-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code language="xml"
                        href="../api_samples/os-coverage/coverage-stop-post-req.xml"
                    />
                </wadl:doc>
                <param name="stop" style="plain" type="csapi:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Specify <code>stop</code> in the request
                            body.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Stop report: JSON response">
                    <xsdxt:code language="json"
                        href="../api_samples/os-coverage/coverage-stop-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Stop report: XML response">
                    <xsdxt:code language="xml"
                        href="../api_samples/os-coverage/coverage-stop-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
