api-ref/src/wadls/compute-api/src/v2/ext/os-createserverext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com" xml:id="config-drive-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID for the tenant or account in a multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <method href="#createServer"/>
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template" type="csapi:uuid">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">The UUID
                                for the server of interest to you.</wadl:doc>
                        </param>
                        <method href="#getServer"/>
                        <resource id="ServersDetail" path="detail">
                            <method href="#getServersDetailed"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server with configuration drive">
            <para role="shortdesc">Creates a server with the configuration drive extended
                attribute.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-config-drive/server-post-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-config-drive/server-post-req.xml"/>
                </wadl:doc>&serverCreateParameters; </representation>
        </request>
        <response status="202"> &serverCreateParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-config-drive/server-post-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-config-drive/server-post-resp.xml"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="getServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get server information with configuration drive">
            <para role="shortdesc">Shows information for a specified server including the
                configuration drive extended attribute.</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-config-drive/server-config-drive-get-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-config-drive/server-config-drive-get-resp.xml"/>
                </wadl:doc> &serverCreateParameters; </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="getServersDetailed">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get server details with configuration drive">
            <para role="shortdesc">Lists details for all servers including the configuration drive
                extended attribute.</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-config-drive/servers-config-drive-details-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-config-drive/servers-config-drive-details-resp.xml"
                    />
                </wadl:doc> &serverCreateParameters; </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
