api-ref/src/wadls/compute-api/src/v2/ext/os-deferred-delete.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-deferred-delete-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server UUID">
                                <para>The UUID for the server of
                                   interest to you.</para>
                            </wadl:doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#forceDelete"/>
                            <method href="#restore"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="forceDelete">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Force delete server">
            <para role="shortdesc">Force-deletes a server.</para>
        </wadl:doc>
        <request>

            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Force delete server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/force-delete-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Force delete server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/force-delete-post-req.xml"
                    />
                </wadl:doc>
                <param name="forceDelete" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Force delete action"
                            ><para>Specify the
                                <code>forceDelete</code> action in the
                            request body.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="restore">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Restore server">
            <para role="shortdesc">Restores a deleted server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Restore server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/restore-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Restore server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/restore-post-req.xml"
                    />
                </wadl:doc>
                <param name="restore" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Restore action"
                            ><para>Specify the <code>restore</code>
                            action in the request
                        body.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
