api-ref/src/wadls/compute-api/src/v2/ext/os-ext-img-size.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://glance.example.com/"
        xml:id="os-ext-img-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="Images" type="#ImageList" path="images">
                    <method href="#createImage"/>
                    <resource path="detail" id="detail"
                        type="#DetailImageList"/>
                    <resource path="{image_id}" id="image_id">
                        <param name="image_id" style="template"
                            type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Image ID">
                                <para>Image ID stored through the
                                   image API. Typically a UUID.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getImage"/>
                    </resource>
                </resource>

            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    <resource_type id="ImageList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Image list">
            <para>List of images.</para>
        </wadl:doc>
        <method href="#listImage"/>
    </resource_type>
    <resource_type id="DetailImageList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Image list with details">
            <para>List of images with details.</para>
        </wadl:doc>
        <method href="#listDetailImage"/>
    </resource_type>
    <!-- Method definitions -->
    <method name="GET" id="getImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get image details">
            <para role="shortdesc">Gets details for a specified image.
                Includes the image size.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/image-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/image-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listDetailImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List details for images">
            <para role="shortdesc">Lists details for available images.
                Includes the image size.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/images-details-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/images-details-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
