api-ref/src/wadls/compute-api/src/v2/ext/os-extended-server-attributes.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-extended-server-attributes-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <method href="#extended_server_attributes_detail"/>
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"
                                title="Extended attributes for server show">
                                <para role="shortdesc">The UUID for the
                                    server of interest to you.</para>
                            </wadl:doc>
                        </param>
                        <method href="#extended_server_attributes_show"/>
                        <resource>
                            <param name="server_id" style="template"
                                type="csapi:UUID">
                                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                    <para>The UUID for the server of
                                       interest to you.</para>
                                </wadl:doc>
                            </param>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="extended_server_attributes_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show extended server attributes">
            <para role="shortdesc">Shows extended server attributes
                for a specified server.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/server-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/server-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="extended_server_attributes_detail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List servers with extended server attributes">
            <para role="shortdesc">Lists detailed
                extended server attribute information for all
                servers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/servers-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/servers-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
