api-ref/src/wadls/compute-api/src/v2/ext/os-ext-ips.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-ext-ips-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID">
                        <para>The unique identifier of the tenant or
                            account.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server ID">
                                <para>The UUID for the server of
                                   interest to you.</para></wadl:doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#serverIPDetails"/>
                        </resource>
                    </resource>
                    <resource id="ServersIPList" path="detail">
                        <method href="#serversIPList"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="serverIPDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show IP type">
            <para role="shortdesc">Shows the type of IP assigned to a
                specified server, either fixed or floating.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/server-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/server-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="serversIPList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List servers with IP type">
            <para role="shortdesc">Lists servers and shows their IPs
                by type. Type is either fixed or floating.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/servers-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/servers-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
