api-ref/src/wadls/compute-api/src/v2/ext/os-extended-status.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-extended-status-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The UUID for the
                                   server of interest to
                                you.</para></wadl:doc>
                        </param>
                        <method href="#os-extended-status-show"/>
                    </resource>
                    <resource id="ServersDetail" path="detail">
                        <method href="#os-extended-status-detail"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="os-extended-status-show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show server extended status">
            <para role="shortdesc">Shows the extended status
                attributes in the response for a specified
                server.</para>
            <para>The extended status attributes are vm_state,
                power_state, and task_state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:meta">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/server-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/server-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="os-extended-status-detail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List extended status for servers">
            <para role="shortdesc">Lists the extended status
                attributes in the detailed response for all
                servers.</para>
            <para>The extended status attributes are vm_state,
                power_state, and task_state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:meta">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/servers-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/servers-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
