api-ref/src/wadls/compute-api/src/v2/ext/os-extended-rescue-with-image.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-extended-rescue-with-image-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server UUID"
                                   ><para>The UUID for the server of
                                   interest to you.</para></wadl:doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#rescue"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="rescue">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Extended rescue server">
            <para role="shortdesc">
                Puts a server in rescue mode. Changes status to RESCUE.
            </para>
            <para>
                If you specify the <code>rescue_image_ref</code> extended
                attribute, the specified image is used to rescue the instance.
                If you omit an image reference, the base image reference is
                used by default.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Rescue server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-extended-rescue-with-image/server-rescue-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Rescue server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-extended-rescue-with-image/server-rescue-req.xml"
                    />
                </wadl:doc>
                <param name="rescue" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Rescue action"
                            ><para>Specify the <code>rescue</code>
                            action in the request
                        body.</para></wadl:doc>
                </param>
                <param name="adminPass" style="plain"
                    type="csapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Admin password"><para>Use
                            this password for the rescued instance.
                            Generate a new password if none is
                            provided.</para></wadl:doc>
                </param>
                <param name="rescue_image_ref" style="plain"
                    type="csapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Image reference for rescue">
                        <para>
                            The image reference to use to rescue your server
                            instance. If you omit an image reference, the base
                            image reference is used by default. Specify the
                            image as an ID or full URL.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Extended rescue server: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-extended-rescue-with-image/server-get-resp-rescue.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Extended rescue server: XML response">
                    <xsdxt:code
                        href="../api_samples/os-extended-rescue-with-image/server-get-resp-rescue.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
