api-ref/src/wadls/compute-api/src/v2/ext/os-flavor-extra-specs.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-flavor-extra-specs-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>
                <resource id="flavors" path="flavors">
                    <resource path="{flavor_id}" id="flavor_id">
                        <param name="flavor_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The ID of the
                                   flavor of interest to you.
                                </para></wadl:doc>
                        </param>
                        <resource path="os-extra_specs"
                            id="os-extra-specs">
                            <method href="#listExtra-specs"/>
                            <method href="#createExtra-specs"/>
                            <resource path="{key_id}" id="key_id">
                                <method href="#detailExtra-spec"/>
                                <method href="#updateDetailExtra-spec"/>
                                <method href="#deleteDetailExtra-spec"
                                />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="listExtra-specs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List flavor extra specs">
            <para role="shortdesc">Lists the extra-specs or keys for
                the specified flavor.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-list-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createExtra-specs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create flavor extra specs">
            <para role="shortdesc">Creates extra-specs or keys for the
                specified flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="updateDetailExtra-specs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update flavor extra specs">
            <para role="shortdesc">Updates the value of the specified
                extra-spec or key.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="detailExtra-spec">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get flavor extra spec details">
            <para role="shortdesc">Gets the value of the specified
                key.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteDetailExtra-spec">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete flavor extra specs">
            <para role="shortdesc">Deletes a specified extra-spec by
                key.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"/>
        </request>
        <response status="200"/>
    </method>
</application>
