api-ref/src/wadls/compute-api/src/v2/ext/os-flavormanage.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-flavormanage-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique ID of the tenant or
                            account.</para>
                    </wadl:doc>
                </param>
                <resource id="flavors" path="flavors">
                    <method href="#createFlavor"/>
                    <resource id="flavor_id" path="{flavor_id}">
                        <param name="flavor_id" style="template">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The flavor ID.</para>
                            </wadl:doc>
                        </param>
                        <method href="#listFlavor"/>
                        <method href="#deleteFlavor"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createFlavor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create flavor">
            <para role="shortdesc">Creates a flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-req.xml"
                    />
                </wadl:doc>
                <param style="plain" name="name" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The name for the new flavor.</para>
                    </wadl:doc>
                </param>
                <param style="plain" name="ram" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The amount of RAM, in MBs, for this
                            flavor.</para>
                    </wadl:doc>
                </param>
                <param style="plain" name="vcpus" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The virtual CPUs, in a whole integer
                            amount, for the new flavor.</para>
                    </wadl:doc>
                </param>
                <param style="plain" name="disk" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The amount of disk space, in GBs.</para>
                    </wadl:doc>
                </param>
                <param style="plain" name="id" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the new flavor, which is a
                            unique integer value.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listFlavors">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List flavors">
            <para role="shortdesc">Lists available flavors.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="DELETE" id="deleteFlavor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete flavor">
            <para role="shortdesc">Deletes a flavor.</para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults;
    </method>
</application>
