api-ref/src/wadls/compute-api/src/v2/ext/os-flavor-rxtx.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-flavor-rxtx-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Flavors" path="flavors">
                    <param style="plain" name="name" required="true"
                        type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The name for the
                                flavor.</para>
                        </wadl:doc>
                    </param>
                    <param style="plain" name="ram" required="true"
                        type="xsd:int">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The amount of RAM, in
                                MBs, for the flavor.</para>
                        </wadl:doc>
                    </param>
                    <param style="plain" name="vcpus" required="true"
                        type="xsd:int">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The number of virtual
                                CPUs for the flavor.</para>
                        </wadl:doc>
                    </param>
                    <param style="plain" name="disk" required="true"
                        type="xsd:int">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The amount of disk
                                space, in GBs.</para></wadl:doc>
                    </param>
                    <param style="plain" name="id" required="true"
                        type="xsd:int">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The ID for the flavor,
                                which is a unique integer
                                value.</para></wadl:doc>
                    </param>
                    <param style="plain" name="rxtx_factor"
                        required="true" type="xsd:int">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>Enables you to
                                override the bandwidth cap value,
                                which defaults to the bandwidth cap
                                value for the network to which the
                                flavor is attached. The new bandwidth
                                cap is calculated by multiplying the
                                rxtx factor value that you specify by
                                the <code>rxtx_base</code> property for the
                                network.</para></wadl:doc>
                    </param>
                    <method href="#createFlavor"/>
                    <resource path="{flavor_id}" id="flavor_id">
                        <param name="flavor_id" style="template">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The flavor ID.</para></wadl:doc>
                        </param>
                        <method href="#getFlavor"/>
                    </resource>
                    <resource path="detail" id="detail">
                        <method href="#getFlavorDetails"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createFlavor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create flavor with rxtx_factor">
            <para role="shortdesc">Creates a flavor. Includes the
                rxtx_factor extended attribute.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getFlavor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get flavor with rxtx_factor">
            <para role="shortdesc">Gets details for a specified
                flavor. Includes the rxtx_factor extended
                attribute.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getFlavorDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get flavor Details with rxtx_factor">
            <para role="shortdesc">Lists details for available flavors
                and includes the rxtx_factor extended
                attribute.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-list-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
