api-ref/src/wadls/compute-api/src/v2/ext/os-hypervisor-status.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-hypervisor-status-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="os-hypervisor-status" path="os-hypervisor-status">
                    <resource id="detail" path="detail">
                        <method href="#showHypervisor-status"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="showHypervisor-status">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show hypervisor information">
            <para role="shortdesc">
                Shows information for a specified hypervisor. Includes the
                hypervisor status.
            </para>
            <para>
                Typically configured as an admin-only extension by using
                <code>policy.json</code> settings.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisor-status/hypervisors-show-with-status-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
