api-ref/src/wadls/compute-api/src/v2/ext/os-instance_usage_audit_log.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-instance-usage-audit-log-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource path="os-instance_usage_audit_log"
                    id="os-instance_usage_log">
                    <param name="begin" style="query"
                        type="xsd:datetime">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The beginning of the
                                audit period for which to get logs.
                                Specify this parameter in the URI in
                                the following format:
                                   <code>begin={begin}</code>.
                                Defaults to the beginning of the most
                                recently completed audit period prior
                                to the <code>before</code> date.
                           </para>
                        </wadl:doc>
                    </param>
                    <param name="end" path="end={end}" style="query"
                        type="xsd:datetime">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The end of the audit
                                period for which to get logs. Specify
                                this parameter in the URI in the
                                following format:
                                   <code>end={end}</code>. Defaults to
                                the ending of the most recently
                                completed audit period prior to the
                                   <code>before</code> date.</para>
                        </wadl:doc>
                    </param>
                    <param name="before" path="before={before}"
                        style="query" type="xsd:datetime">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>By default, the audit
                                period most recently completed before
                                this date and time. Specify this
                                parameter in the URI in the following
                                format: <code>before={before}</code>.
                                Has no effect if both begin and end
                                are specified.</para>
                        </wadl:doc>
                    </param>
                    <method href="#getInstanceUsageAuditLog"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getInstanceUsageAuditLog">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Monitor task logs (admin only)">
            <para role="shortdesc">Enables administrators to view a
                full log for all instance usage audit tasks on all
                compute nodes.</para>
            <para>The instance usage audit runs on each compute host
                    (<systemitem role="service"
                    >nova-compute</systemitem> service).</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-instance_usage_audit_log/inst-usage-audit-log-show-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-instance_usage_audit_log/inst-usage-audit-log-show-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
