api-ref/src/wadls/compute-api/src/v2/ext/os-instance-actions.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com"
        xml:id="os-instance-actions-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc xml:lang="EN"
                                xmlns="http://docbook.org/ns/docbook"
                                   ><para>The UUID of the server
                                   instance for which you want to list
                                   actions.</para></wadl:doc>
                        </param>
                        <resource path="os-instance-actions"
                            id="os-instance-actions">
                            <method href="#listActions"/>
                            <resource path="{action_id}"
                                id="action_id">
                                <param name="action_id"
                                   style="template" type="csapi:UUID">
                                   <wadl:doc xml:lang="EN"
                                   xmlns="http://docbook.org/ns/docbook"
                                   title="Get Action Details">
                                   <para>The UUID of the action for
                                   which you want to get details.
                                  </para>
                                   </wadl:doc>
                                </param>
                                <method href="#getActionDetails"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listActions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List server actions">
            <para role="shortdesc">Lists history of successful actions for a
                specified server. Deployers set permissions for this
                request in the <filename>policy.json</filename> file.
                By default, all users can list
            actions.</para></wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-actions-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-actions-list-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="getActionDetails">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get action details">
            <para role="shortdesc">Gets details for a specified action
                for a specified server instance. Deployers set
                permissions for this request in the
                    <filename>policy.json</filename> file. By default,
                only administrators can get details for an action.
           </para></wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-action-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-action-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>
</application>
