api-ref/src/wadls/compute-api/src/v2/ext/os-networks.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.rackspacecloud.com/csapi/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-networks-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para></wadl:doc>
                </param>
                <method href="#CreateNetwork"/>
                <resource id="os-networks" path="os-networks">
                    <method href="#ListNetworks"/>
                    <resource path="add" id="add">
                        <param name="id" style="template"
                            required="true" type="csapi:uuid">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The UUID of the network to add
                                   to the project. Specify
                                   <code>None</code> to choose a
                                   random available
                                network.</para></wadl:doc>
                        </param>
                        <method href="#AddNetwork"/>
                    </resource>
                    <resource path="{id}" id="id">
                        <param name="id" style="template"
                            required="true" type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The unique identifier associated
                                   with the network.</para></wadl:doc>
                        </param>
                        <method href="#GetNetwork"/>
                        <method href="#DeleteNetwork"/>
                        <resource path="action" id="action">
                            <method href="#AssociateHost"/>
                            <method href="#DisassociateHost"/>
                            <method href="#DisassociateNetwork"/>
                            <method href="#DisassociateProject"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="ListNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">Lists networks that are available
                to the tenant.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/networks-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/networks-list-resp.xml"
                    />
                </wadl:doc>
                &NetworkParameters;
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="GetNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show network information">
            <para role="shortdesc">Shows information for a specified
                network.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-show-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-show-resp.xml"
                    />
                </wadl:doc>
                &NetworkParameters;
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="DeleteNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete network">
            <para role="shortdesc">Deletes a specified network.</para>
        </wadl:doc>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
    <method name="POST" id="DisassociateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate network">
            <para role="shortdesc">Disassociates a specified network
                from a project so that the network can be
                reused.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
    <method name="POST" id="DisassociateProject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate project">
            <para role="shortdesc">Disassociates the project from a
                specified network.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-project-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-project-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
    <method name="POST" id="DisassociateHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate host">
            <para role="shortdesc">Disassociates the host from a
                specified network.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-host-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-host-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
    <method name="POST" id="AssociateHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Associate host">
            <para role="shortdesc">Associates a specified network with
                a host.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-associate-host-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-associate-host-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
    <method name="POST" id="AddNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add network">
            <para role="shortdesc">Adds a specified network to a
                project.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-add-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-add-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
    <method name="POST" id="CreateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create network">
            <para role="shortdesc">Creates a network.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-create-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-create-req.xml"
                    />
                </wadl:doc>
               &createNetworkParameters;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-create-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-create-resp.xml"
                    />
                </wadl:doc>
                &NetworkParameters;
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
