api-ref/src/wadls/compute-api/src/v2/ext/os-quota-sets.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-quota-sets-v2">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID">
                        <para>The ID for the tenant or project in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="os-quota-sets" path="os-quota-sets">
                    <resource path="{tenant_id}">
                        <param name="tenant_id" style="template"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Project ID">
                                <para>The ID for the tenant for which
                                   you want to show quotas. This ID is
                                   different from the first tenant ID
                                   that you specify in the URI: That
                                   ID is for the admin tenant.</para>
                            </wadl:doc>
                        </param>
                        <method href="#showQuota"/>
                        <method href="#updateQuota"/>
                    </resource>
                    <resource path="defaults" id="defaults">
                        <method href="#getDefaults"/>
                    </resource>
                    <resource path="{tenant_id}" id="tenantID">
                        <param name="tenant_id" style="template"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Project ID">
                                <para>The ID for the tenant for which
                                   you want to show quotas. This ID is
                                   different from the first tenant ID
                                   that you specify in the URI: That
                                   ID is for the admin tenant.</para>
                            </wadl:doc>
                        </param>
                        <resource id="user_id" path="{user_id}">
                            <param name="user_id" style="template"
                                type="xsd:string" required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN" title="User ID">
                                   <para>The user ID. Specify in the
                                   URI as a query string:
                                   <code>user_id={user_id}</code>.</para>
                                </wadl:doc>
                            </param>
                            <method href="#showQuotaUser"/>
                            <method href="#updateQuotaUser"/>
                        </resource>
                        <resource id="detail" path="detail">
                            <resource id="user_id-detail"
                                path="{user_id}">
                                <param name="user_id" style="template"
                                   type="xsd:string" required="true">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN" title="User ID">
                                   <para>The user ID. Specify in the
                                   URI as a query string:
                                   <code>user_id={user_id}</code>.</para>
                                   </wadl:doc>
                                </param>
                                <method href="#showQuotaDetailUser"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getDefaults">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get default quotas">
            <para role="shortdesc">Gets default quotas for a
                tenant.</para>
        </wadl:doc>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get default quotas response: JSON">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get default quotas response: XML">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas">
            <para role="shortdesc">Shows quotas for a tenant.</para>
        </wadl:doc>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: JSON">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: XML">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas">
            <para role="shortdesc">Updates quotas for a tenant.</para>
        </wadl:doc>
        <request> &quotaSetsReqParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update quotas response: JSON">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: XML">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update quota response: JSON">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update quota response: XML">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas for user"><para role="shortdesc"
                >Enables an admin user to show quotas for a specified
                tenant and user.</para>
        </wadl:doc>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: JSON">
                    <xsdxt:code
                        href="../api_samples/os-user-quotas/user-quotas-show-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: XML">
                    <xsdxt:code
                        href="../api_samples/os-user-quotas/user-quotas-show-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="updateQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas for user">
            <para role="shortdesc">Updates quotas for a specified
                tenant/project and user.</para>
        </wadl:doc>
        <request> &quotaSetsReqParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: JSON">
                    <xsdxt:code
                        href="../api_samples/os-user-quotas/user-quotas-update-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: XML">
                    <xsdxt:code
                        href="../api_samples/os-user-quotas/user-quotas-update-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user response: JSON">
                    <xsdxt:code
                        href="../api_samples/os-user-quotas/user-quotas-update-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: XML">
                    <xsdxt:code
                        href="../api_samples/os-user-quotas/user-quotas-update-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuotaDetailUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quota details for user"><para role="shortdesc"
                >Shows details for quotas for a specified tenant and
                user.</para>
        </wadl:doc>
        <response status="200">
            <param name="quota_set" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="quota_set"><para>A quota_set
                    object.</para></wadl:doc>
            </param>
            <param name="cores" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="cores"><para>A cores
                    object.</para></wadl:doc>
            </param>
            <param name="fixed_ips " style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="fixed_ips"><para>A fixed_ips
                    object.</para></wadl:doc>
            </param>
            <param name="floating_ips" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="floating_ips"><para>A floating_ips
                        object.</para></wadl:doc>
            </param>
            <param name="id" style="plain" required="true"
                type="csapi:UUID">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook" title="id"
                        ><para>The ID for the quota
                    set.</para></wadl:doc>
            </param>
            <param name="injected_file_content_bytes" style="plain"
                required="true" type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"><para>An
                        injected_file_content_bytes
                    object.</para></wadl:doc>
            </param>
            <param name="injected_file_path_bytes " style="plain"
                required="true" type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Show Quota Details for User"><para>An
                        injected_file_path_bytes
                    object.</para></wadl:doc>
            </param>
            <param name="injected_files" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="injected_files"><para>An injected_files
                        object.</para></wadl:doc>
            </param>
            <param name="instances" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="instances"><para>An instances
                        object.</para></wadl:doc>
            </param>
            <param name="key_pairs" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="key_pairs"><para>A key_pairs
                    object.</para></wadl:doc>
            </param>
            <param name="metadata_items" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="metadata_items"><para>A metadata_items
                        object.</para></wadl:doc>
            </param>
            <param name="ram" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook" title="ram"
                        ><para>A ram object.</para></wadl:doc>
            </param>
            <param name="security_group_rules" style="plain"
                required="true" type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="security_group_rules"><para>A
                        security_group_rules object.</para></wadl:doc>
            </param>
            <param name="security_groups" style="plain"
                required="true" type="xsd:string">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="security_groups"><para>A security_groups
                        object.</para></wadl:doc>
            </param>
            <param name="in_use" style="plain" type="xsd:int"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="in_use">
                    <para>The number of items in
                    use.</para></wadl:doc>
            </param>
            <param name="limit" style="plain" required="true"
                type="xsd:int">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="limit"><para>The number of items permitted
                        for this tenant.</para></wadl:doc>
            </param>
            <param name="reserved" style="plain" required="true"
                type="xsd:int">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="reserved">
                    <para>The number of reserved
                    items.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Show quota details for user response: JSON">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-show-detail-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
