api-ref/src/wadls/compute-api/src/v2/ext/os-rescue.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-rescue-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server UUID"
                                   ><para>The UUID for the server of
                                   interest to you.</para></wadl:doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#rescue"/>
                            <method href="#unrescue"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="rescue">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Rescue server">
            <para role="shortdesc">Puts a server in rescue mode.
                Changes status to <code>RESCUE</code>.
            </para>
            <para>
                If you specify the <code>rescue_image_ref</code> extended
                attribute, the specified image is used to rescue the instance.
                If you omit an image reference, the base image reference is
                used by default.
            </para>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        After you successfully unrescue a server and make a
                        <code>GET
                        /v2.1/​{tenant_id}​/servers/​{server_id}​</code>
                        request, its status changes to <code>ACTIVE</code>.</para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Rescue server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-rescue/server-rescue-req.json"
                    />
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Rescue server with image: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-rescue/server-rescue-req-with-image-ref.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Rescue server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-rescue/server-rescue-req.xml"
                    />
                </wadl:doc>
                <param name="rescue" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Rescue action"
                            ><para>Specify the <code>rescue</code>
                            action in the request
                        body.</para></wadl:doc>
                </param>
                <param name="adminPass" style="plain"
                    type="csapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Admin password"><para>Use
                            this password for the rescued instance.
                            Generate a new password if none is
                            provided.</para></wadl:doc>
                </param>
                <param name="rescue_image_ref" style="plain"
                    type="csapi:string" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Image reference for rescue">
                        <para>
                            The image reference to use to rescue your server
                            instance. Specify the image reference by ID or
                            full URL.
                        </para>
                        <para>
                            If you omit an image reference, default is the
                            base image reference.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Extended rescue server: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-rescue/server-rescue.json"
                    />
                </wadl:doc>
                <param name="adminPass" style="plain"
                    type="csapi:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Admin password">
                        <para>
                            The password that enables the administrator to
                            access the rescued instance.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Rescue server: XML response">
                    <xsdxt:code
                        href="../api_samples/os-rescue/server-rescue.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="POST" id="unrescue">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Unrescue server">
            <para role="shortdesc">
                Unrescues a server. Changes status to <code>ACTIVE</code>.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem><para>The specified server must exist.</para></listitem>
                <listitem><para>You can only unrescue a server
                when its status is <code>RESCUE</code>.</para></listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        After you successfully unrescue a server and make a
                        <code>GET
                        /v2.1/​{tenant_id}​/servers/​{server_id}​</code>
                        request, its status changes to <code>ACTIVE</code>.</para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Unrescue server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-rescue/server-unrescue-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Unrescue server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-rescue/server-unrescue-req.xml"
                    />
                </wadl:doc>
                <param name="unrescue" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Unrescue action"
                            >
                        <para>
                            Specify the <code>unrescue</code>
                            action in the request body.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
</application>
