api-ref/src/wadls/compute-api/src/v2/ext/os-server-groups.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-groups-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="os-server-groups"
                    path="os-server-groups">
                    <method href="#listServerGroups"/>
                    <method href="#createServerGroup"/>
                    <resource path="{ServerGroup_id}"
                        id="ServerGroup_id">
                        <param
                            xmlns="http://wadl.dev.java.net/2009/02"
                            name="ServerGroup_id" style="template">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The server group ID.</para></wadl:doc>
                        </param>
                        <method href="#showServerGroup"/>
                        <method href="#deleteServerGroup"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server group">
            <para role="shortdesc">Creates a server group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-post-req.xml"
                    />
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The server group name. A non-empty
                            string with no leading or trailing spaces.
                            Maximum length is 255
                        characters.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="policies" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A list of one or more policy names to
                            associate with the server group. The list
                            must contain at least one policy
                            name.</para>
                        <para>Each policy name must be a non-empty
                            string with no leading or trailing spaces.
                            Maximum length is 255
                        characters.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-post-resp.xml"
                    />
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                       style="plain" name="server_group"
                       required="true"
                       type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>
                          A <code>server_group</code> groups VMs based on
                          common characteristics so that you can apply
                          policies to groups or categorize servers for
                          scheduling purposes.
                       </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="id" required="true"
                   type="csapi:uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>The ID for the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="name" required="true"
                   type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>The name of the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="policies" required="true"
                   type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>A list of policies associated with the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="members" required="true"
                   type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>A list of members in the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="metadata" required="true"
                   type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>Associated metadata key-and-value pairs.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listServerGroups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List server groups">
            <para role="shortdesc">Lists server groups.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-list-resp.xml"
                    />
                </wadl:doc> &serverGroupsParameters; </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show server group details">
            <para role="shortdesc">Shows details for a specified
                server group.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-groups/server-groups-get-resp.xml"
                    />
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                       style="plain" name="server_group"
                       required="true"
                       type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>
                          A <code>server_group</code> places VMs in a grouping
                          based on common characteristics, so that you can
                          apply policies to groups or categorize servers for
                          scheduling purposes.
                       </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="id" required="true"
                   type="csapi:uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>The ID for the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="name" required="true"
                   type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>The name of the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="policies" required="true"
                   type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>A list of policies associated with the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="members" required="true"
                   type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>A list of members in the server group.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" style="plain" name="metadata" required="true"
                   type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xml:lang="EN">
                       <para>Associated metadata key-and-value pairs.</para>
                    </wadl:doc>
                </param>
              </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete server group">
            <para role="shortdesc">Deletes a specified server
                group.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common and GET Faults --> &commonFaults; &getFaults;
    </method>
</application>
