api-ref/src/wadls/compute-api/src/v2/ext/os-server-start-stop.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-start-stop-v2">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID for the
                        tenant or account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server UUID"><para>The
                                UUID for the server of interest to
                                you.</para></wadl:doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#start"/>
                            <method href="#stop"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="start">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Start server">
            <para role="shortdesc">Starts a stopped server and changes
                its status to ACTIVE.</para>
        </wadl:doc>
        <request>
            <param name="os-start" style="plain" type="xsd:string"
                required="true" id="os-start">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Start action"><para>Specify
                        the <code>os-start</code> action in the
                        request body.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Start server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-start-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Start server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-stop-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="stop">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Stop server">
            <para role="shortdesc">Stops a running server and changes
                its status to STOPPED.</para>
        </wadl:doc>
        <request>
            <param name="os-stop" style="plain" type="xsd:string"
                required="true" id="os-stop">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Stop action"><para>Specify
                        the <code>os-stop</code> action in the request
                        body.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Stop server: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-stop-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Stop server: XML request">
                    <xsdxt:code
                        href="../api_samples/os-server-start-stop/server-stop-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
