api-ref/src/wadls/compute-api/src/v2/ext/os-server-password.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-password-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The UUID for the
                                    server of interest to you.</para>
                            </wadl:doc>
                        </param>
                        <resource id="os-server-password"
                            path="os-server-password">
                            <method href="#getPassword"/>
                            <method href="#resetPassword"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getPassword">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get server password">
            <para role="shortdesc">Gets the administrative password
                for a specified server.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/get-password-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/get-password-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="resetPassword">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Clear server password">
            <para role="shortdesc">Clears the encrypted copy of the
                password in the metadata server. This is done after
                the client has retrieved the password and knows it
                doesn't need it in the metadata server anymore. The
                password for the server remains the same.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/server-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/server-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/server-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/server-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
