api-ref/src/wadls/compute-api/src/v2/ext/os-scheduler-hints.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-scheduler-hints-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <method href="#createServer"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server with scheduler hints"><para
                role="shortdesc">Creates a server with scheduler hints
                that are passed directly to the scheduler.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-SCH-HNT/scheduler-hints-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-SCH-HNT/scheduler-hints-post-req.xml"
                    />
                </wadl:doc> &serverCreateParameters; <param
                    name="os:scheduler_hints" style="plain"
                    required="true" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Dictionary of data to send to the scheduler.
                            Alternatively, you can specify <code>OS-SCH-HNT:scheduler_hints</code>
                            as the string.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200"> &serverCreateParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-SCH-HNT/scheduler-hints-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-SCH-HNT/scheduler-hints-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
