api-ref/src/wadls/compute-api/src/v2/ext/os-security-group-default-rules.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com/"
        xml:id="os-security-group-default-rules-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID">
                        <para>The unique identifier of the tenant or
                            account.</para>
                    </wadl:doc>
                </param>
                <resource id="os-security-group-default-rules"
                    path="os-security-group-default-rules">
                    <method href="#listSecGroupDefaultRules"/>
                    <method href="#createSecGroupRule"/>
                    <resource path="{security_group_default_rule_id}"
                        id="security_group_default_rule_id">
                        <param name="security_group_default_rule_id"
                            style="template" type="csapi:uuid">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"
                                title="Security group rule ID"
                                   ><para>The unique identifier of the
                                   security group
                                rule.</para></wadl:doc>
                        </param>
                        <method href="#showSecGroupDefaultRule"/>
                        <method href="#deleteSecGroupDefaultRule"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listSecGroupDefaultRules">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List default security group rules">
            <para role="shortdesc">Lists default security group
                rules.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="List default security group rules: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="List default security group rules: XML response">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-list-resp.xml"
                    />
                </wadl:doc>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>Port at start of range.</para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Security group ID">
                        <para>Security group ID.</para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>The IP protocol: ICMP, TCP, or
                            UDP.</para>
                    </wadl:doc>
                </param>
                <param name="ip_range" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP range">
                        <para>An IP range object.</para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>The CIDR for address range.</para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>Port at end of range.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showSecGroupDefaultRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show default security group rule information">
            <para role="shortdesc">Shows information for a specified
                security group rule.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show default security group rule: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-show-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show default security group rule: XML response">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-show-resp.xml"
                    />
                </wadl:doc>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>Port at start of range.</para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Security group ID">
                        <para>Security group ID.</para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>The IP protocol: ICMP, TCP, or
                            UDP.</para>
                    </wadl:doc>
                </param>
                <param name="ip_range" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP range">
                        <para>An IP range object.</para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>The CIDR for address range.</para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>Port at end of range.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="createSecGroupRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create default security group rule">
            <para role="shortdesc">Creates a default security group
                rule.</para>
            <para>
                You must specify an IP protocol (<code>ip_protocol</code>)
                value if you specify a source (<code>from_port</code>) or
                destination (<code>to_port</code>) port value. Otherwise, the
                operation returns the <code>Bad request (400)
                Source/destination port requires a protocol</code> error.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Create default security group rule: JSON request">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-create-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Create default security group rule: XML request">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-create-req.xml"
                    />
                </wadl:doc>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"
                        title="Security group name or ID">
                        <para>Security group name or ID.</para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>The IP protocol: ICMP, TCP, or
                            UDP.</para>
                    </wadl:doc>
                </param>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>Port at start of range.</para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>Port at end of range.</para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>The CIDR for address range.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Create default security group rule: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-create-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Create default security group rule: XML response">
                    <xsdxt:code
                        href="../api_samples/os-security-group-default-rules/security-group-default-rules-create-resp.xml"
                    />
                </wadl:doc>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>Port at start of range.</para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Security group ID">
                        <para>Security group ID.</para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>The IP protocol: ICMP, TCP, or
                            UDP.</para>
                    </wadl:doc>
                </param>
                <param name="ip_range" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP range">
                        <para>An IP range object.</para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>The CIDR for address range.</para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>Port at end of range.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSecGroupDefaultRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete default security group rule">
            <para role="shortdesc">Deletes a specified security group
                rule.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
</application>
