api-ref/src/wadls/compute-api/src/v2/ext/os-services.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-services-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>
                <resource id="os-services" path="os-services">
                    <method href="#listServices"/>
                    <resource path="enable" id="enable">
                        <method href="#enableScheduling"/>
                    </resource>
                    <resource path="disable" id="disable">
                        <method href="#disableScheduling"/>
                    </resource>
                    <resource path="disable-log-reason"
                        id="disable-log-reason">
                        <method href="#disableLogReason"/>
                    </resource>
                    <resource path="detail" id="detail">
                        <method href="#getDisableReasonDetail"/>
                    </resource>
                    <resource path="{service_id}" id="service_id">
                        <method href="#deleteService"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listServices">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List services">
            <para role="shortdesc">Lists running services.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/services-list-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="PUT" id="enableScheduling">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Enable scheduling for a service">
            <para role="shortdesc">Enables scheduling for a
                service.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-enable-put-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-enable-put-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="PUT" id="disableScheduling">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Disable scheduling for a service">
            <para role="shortdesc">Disables scheduling for a
                service.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-disable-put-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-disable-put-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="PUT" id="disableLogReason">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Log disabled service information">
            <para role="shortdesc">Logs information to the service
                table about why a service was disabled.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-disable-log-put-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-disable-log-put-req.xml"
                    />
                </wadl:doc>
                <param name="host" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The host
                        name.</para></wadl:doc>
                </param>
                <param name="binary" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The service
                        name.</para></wadl:doc>
                </param>
                <param name="disabled_reason" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The reason the service was
                            disabled.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-disable-log-put-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-disable-log-put-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="getDisableReasonDetail">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List disabled services">
            <para role="shortdesc">Lists disabled services. If
                information exists, includes reasons why services were
                disabled.</para></wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/services-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/services-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteService">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete service">
            <para role="shortdesc">Deletes an existing service.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-services/service-enable-put-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204"/> &commonFaults; &getFaults;
    </method>
</application>
