api-ref/src/wadls/compute-api/src/v2/ext/os-simple-tenant-usage.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-simple-tenant-usage-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para
                            role="shortdesc">The ID for the tenant or
                            account in a multi-tenancy
                        cloud.</para></wadl:doc>
                </param>
                <resource id="os-simple-tenant-usage"
                    path="os-simple-tenant-usage">
                    <method href="#ListUsage"/>
                    <resource path="{tenant_id}" id="tenant_id">
                        <param name="tenant_id" style="template"
                            required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The tenant
                                   ID.</para></wadl:doc>
                        </param>
                        <method href="#GetUsage"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="GetUsage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get tenant usage information">
            <para role="shortdesc">Gets usage information for a
                tenant.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="start" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para
                            role="shortdesc">The start of a time
                            range, in date time
                        format.</para></wadl:doc>
                </param>
                <param name="end" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para
                            role="shortdesc">The end of the time
                            range, in date time
                        format.</para></wadl:doc>
                </param>
                <param name="detailed" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para
                            role="shortdesc">Whether to return
                            detailed usage information. Defaults to
                            false.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-simple-tenant-usage/simple-tenant-usage-get-specific.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-simple-tenant-usage/simple-tenant-usage-get-specific.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="ListUsage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List usage information for all tenants">
            <para role="shortdesc">Lists usage information for all
                tenants.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                <param name="start" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para
                            role="shortdesc">The start of a time
                            range, in date time
                        format.</para></wadl:doc>
                </param>
                <param name="end" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para
                            role="shortdesc">The end of the time
                            range, in date time
                        format.</para></wadl:doc>
                </param>
                <param name="detailed" style="plain" required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para
                            role="shortdesc">Whether to return
                            detailed usage information. Defaults to
                            false.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-simple-tenant-usage/simple-tenant-usage-get.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-simple-tenant-usage/simple-tenant-usage-get.xml"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
