api-ref/src/wadls/compute-api/src/v2/ext/os-used-limits-for-admins.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application  xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-used-limits-for-admins-v2">
        <resource id="version" path="//v2">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID"><para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Limits" path="limits{tenant_id}">
                        <param name="tenant_id" style="template"
                            type="String">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Tenant ID"
                                   ><para>The ID for the tenant for
                                   which an administrator wants to get
                                   quota information. Specify the
                                   customer tenant ID in the URI as
                                   <code>?tenant_id={tenant_id}</code>.</para></wadl:doc>
                        </param>
                        <method href="#getCustomerLimits"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getCustomerLimits">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Get customer limits" xml:lang="EN">
            <para role="shortdesc">Enables administrators to get
                absolute and rate limit information, including
                information about currently used absolute limits, for
                a specified customer tenant ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Used limits for admins: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-used-limits-for-admin/usedlimitsforadmin-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Used limits for admins: XML response">
                    <xsdxt:code
                        href="../api_samples/os-used-limits-for-admin/usedlimitsforadmin-get-resp.xml"
                    />
                </wadl:doc>
                &absoluteLimits; &totalUsedLimits; &rateLimits;
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
