api-ref/src/wadls/compute-api/src/v2/ext/os-volume.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <resources base="https://volume.example.com/"
        xml:id="os-volume-v2">
        <resource id="version" path="v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para>
                    </wadl:doc>
                </param>
                <resource id="os-volumes" path="os-volumes">
                    <method href="#getVolumesSimple"/>
                    <resource path="detail" id="detail">
                        <method href="#getVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}" id="volume_id">
                        <param name="volume_id" style="template"
                            required="true" type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The unique identifier for a
                                   volume.</para>
                            </wadl:doc>
                        </param>
                        <method href="#createVolume"/>
                        <method href="#getVolume"/>
                        <method href="#deleteVolume"/>
                    </resource>
                </resource>
                <resource id="os-volume-types" path="os-volume-types">
                    <method href="#getVolumeTypes"/>
                    <resource path="{volume_type_id}"
                        id="volume_type_id">
                        <param name="volume_type_id" style="template"
                            required="true" type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The unique identifier for a
                                   volume type.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getVolumeType"/>
                    </resource>
                </resource>
                <resource id="os-snapshots" path="os-snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#getSnapshotsSimple"/>
                    <resource path="detail" id="detail-snapshot">
                        <method href="#getSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}" id="snapshot_id">
                        <param name="snapshot_id" style="template"
                            required="true" type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The unique identifier for a
                                   snapshot.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getSnapshot"/>
                        <method href="#deleteSnapshot"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume">
            <para role="shortdesc">Creates a volume.</para>
        </wadl:doc>
        <request>
            <param name="volume" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>A partial representation of a volume that is
                        used to create a volume.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_create.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_create.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_show.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_show.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes">
            <para role="shortdesc">Lists the volumes associated with
                the account.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_list_simple.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List details for volumes">
            <para role="shortdesc">Lists details for a specified
                volume.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_list_simple.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume information">
            <para role="shortdesc">Shows information for a specified
                volume.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_show.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_show.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume">
            <para role="shortdesc">Deletes a specified volume.</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_delete-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volume types">
            <para role="shortdesc">Lists volume types.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_type_list.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_type_list.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume type">
            <para role="shortdesc">Shows information for a specified
                volume type.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_type_show.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/volume_type_show.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create snapshot">
            <para role="shortdesc">Creates a snapshot.</para>
        </wadl:doc>
        <request>
            <param name="snapshot" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>A partial representation of a snapshot that
                        is used to create a snapshot.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_create.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_create.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_show.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_show.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots">
            <para role="shortdesc">Lists snapshots.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_list_simple.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List details for snapshots">
            <para role="shortdesc">Lists details for a specified
                snapshot.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_list_simple.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot">
            <para role="shortdesc">Shows information for a specified
                snapshot.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_show.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_show.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete snapshot">
            <para role="shortdesc">Deletes a specified snapshot from
                the account.</para>
            <para>This operation is asynchronous. You must list
                snapshots repeatedly to determine whether the snapshot
                was deleted.</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume/snapshot_delete-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
