api-ref/src/wadls/compute-api/src/v2/ext/os-volume_boot.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent os-compute-1.1.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/api/compute/2.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com"
        xml:id="os-volume_boot-v2">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource path="os-volumes_boot"
                    type="#Volumes" id="os-volume_boot">
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    <resource_type id="Volumes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Volume attachment list">
            <para>A list of volume attachments associated with a
                server.</para></wadl:doc>
        <method href="#createServer"/>
        <method href="#listVolumeAttachments"/>
    </resource_type>
    <resource_type id="VolumeAttachmentList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Volume attachment list">
            <para>A list of volume attachments associated with a
                server.</para></wadl:doc>
        <method href="#getVolumeAttachmentDetails"/>
        <method href="#deleteVolumeAttachment"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--****************************************************** -->
    <!-- Volume Actions -->
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server">
            <para role="shortdesc">
                Starts a new instance from a bootable volume.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        You can attach a volume to a server with a status that
                        is not locked.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        You can boot to a volume when its status is
                        <code>available</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        You can boot to a volume when the volume was created as
                        a bootable volume.
                    </para>
                </listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        After successfully booting a server, the
                        volume status changes to <code>in-use</code>.
                    </para>
                </listitem>
            </itemizedlist>
            <para>Troubleshooting</para>
            <itemizedlist>
                <listitem>
                    <para>
                        If the volume status remains in <code>available</code>
                        state, the request failed. Ensure that you meet the
                        preconditions and run the request again. If the
                        request fails again, investigate the server and the
                        volume status.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume_boot/volume-boot-post-request.json"
                    />
                </wadl:doc>
                <param name="imageRef" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>ID of the image to use to boot from volume.
                       </para></wadl:doc>
                </param>
                <param name="display_name" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Name of the bootable volume.
                        </para>
                    </wadl:doc>
                </param>
                <param name="volume_type" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A type of volume such as SSD.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volume_boot/volume-boot-post-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
</application>
