api-ref/src/wadls/image-api/src/v2.0/os-image-schemas-2.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-schemas-2.0.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../v2/common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2">
    <grammars>
        <include href="../v2/xsd/api.xsd"/>
        <include href="../v2/xsd/api-common.xsd"/>
        <include href="../v2/xsd/faults.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/"
        xml:id="os-image-schemas-v2.0">
        <resource id="info" path="//v2">
            <resource id="schemas" path="schemas">
                <resource id="Image-schemas" type="#SchemasList"
                    path="images">
                    <method href="#getImagesSchema"/>
                </resource>
                <resource id="image" type="#SchemaList" path="image">
                    <method href="#getImageSchema"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="getImagesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get images schema">
            <para role="shortdesc">Gets a json-schema document that
                represents an images entity.</para>
            <para>An images entity is a container of image
                entities.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schemas-images-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getImageSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get image schema">
            <para role="shortdesc">Gets a json-schema document that
                represents an image entity.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="samples/schemas-image-get-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
