api-ref/src/wadls/volume-api/src/v2/os-backend-capabilities-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd"
 xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
 xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
 xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <resources base="https://manage.example.com/"
        xml:id="backend-capabilities-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The unique identifier of the tenant or
                            account.
                        </para>
                    </wadl:doc>
                </param>
                <resource id="capabilities" path="capabilities">
                    <resource id="hostname" path="{hostname}">
                        <param name="hostname" style="template"
                            type="xsd:string">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                    The name of the host that hosts the storage back end.
                                </para>
                            </wadl:doc>
                        </param>
                        <method href="#getBackendCapabilities"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
     <method name="GET" id="getBackendCapabilities">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show back-end capabilities">
            <para role="shortdesc">
                Shows capabilities for a storage back end.
            </para>
        </wadl:doc>
        <request>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/backend-capabilities/backend-capabilities-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                &backendParametersResponse;
            </representation>
        </response>
    </method>
</application>
