api-ref/src/wadls/volume-api/src/v2/os-quota-sets-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common  SYSTEM "../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://volume.example.com/"
        xml:id="os-quota-sets-cinder-v2">
        <resource id="version-cinder-v2" type="#VersionDetails"
            path="v2/">
            <resource id="tenant_id-cinder-v2" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Tenant ID">
                        <para>The ID for the tenant or project in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="os-quota-sets-for-cinder-v2"
                    path="os-quota-sets">
                    <resource path="{tenant_id}"
                        id="tenant_id_cinder_v2">
                        <param name="tenant_id" style="template"
                            type="xsd:string" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Project ID">
                                <para>The ID for the tenant for which
                                   you want to show, update, or delete
                                   quotas. This ID is different from
                                   the first tenant ID that you
                                   specify in the URI: That ID is for
                                   the admin tenant.</para>
                            </wadl:doc>
                        </param>
                        <method href="#showQuota"/>
                        <method href="#updateQuota"/>
                        <method href="#deleteQuotas"/>
                    </resource>
                    <resource path="defaults" id="defaults-cinder-v2">
                        <method href="#getDefaults"/>
                    </resource>
                    <resource path="{tenant_id}"
                        id="tenantID-cinder-v2">
                        <param name="tenant_id" style="template"
                            type="xsd:string" required="true">
                          <wadl:doc
                              xmlns="http://docbook.org/ns/docbook"
                              xml:lang="EN" title="Project ID">
                            <para>
                              The ID for the tenant for which  you want to
                              show or update quotas. This ID is different
                              from the first tenant ID that you specify in
                              the URI: That ID is for the admin tenant.
                            </para>
                          </wadl:doc>
                        </param>
                        <resource id="user_id-cinder-v2"
                            path="{user_id}">
                            <param name="user_id" style="template"
                                type="xsd:string" required="true">
                              <wadl:doc
                                 xmlns="http://docbook.org/ns/docbook"
                                 xml:lang="EN" title="User ID">
                                 <para>
                                    The user ID. Specify in the URI as a query
                                    string: <code>user_id={user_id}</code>.
                                </para>
                              </wadl:doc>
                            </param>
                            <method href="#showQuotaUser"/>
                            <method href="#updateQuotaUser"/>
                            <method href="#deleteQuotasUser"/>
                        </resource>
                        <resource id="detail-cinder-v2" path="detail">
                          <resource id="user_id-detail-cinder-v2"
                                path="{user_id}">
                            <param name="user_id" style="template"
                               type="xsd:string" required="true">
                               <wadl:doc
                               xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN" title="User ID">
                                <para>
                                  The user ID. Specify in the
                                  URI as a query string:
                                  <code>user_id={user_id}</code>.
                                </para>
                              </wadl:doc>
                            </param>
                            <method href="#showQuotaDetailUser"/>
                          </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getDefaults">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get default quotas">
            <para role="shortdesc">Gets default quotas for a
                tenant.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get default quotas response: JSON">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-show-defaults-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get default quotas response: XML">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-show-defaults-get-resp.xml"
                    />
                </wadl:doc>
                &quotasResponse;
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas">
            <para role="shortdesc">Shows quotas for a tenant.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &quotasShowRequest;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: JSON">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-show-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Show quotas response: XML">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-show-get-resp.xml"
                    />
                </wadl:doc>
                 &quotasResponse;
                 &quotasShowResponse;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas">
            <para role="shortdesc">Updates quotas for a tenant.</para>
        </wadl:doc>
        <request>
        <representation mediaType="application/json">
          <wadl:doc xmlns="http://docbook.org/ns/docbook"
              xml:lang="EN" title="Update quotas response: JSON">
              <xsdxt:code
                  href="api_samples/os-quota-sets/quotas-update-post-req.json"
              />
          </wadl:doc>
        </representation>
        <representation mediaType="application/xml">
          <wadl:doc xmlns="http://docbook.org/ns/docbook"
              xml:lang="EN" title="Show quotas response: XML">
              <xsdxt:code
                  href="api_samples/os-quota-sets/quotas-update-post-req.xml"
              />
          </wadl:doc>
          &quotasResponse;
        </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Update quota response: JSON">
                  <xsdxt:code
                      href="api_samples/os-quota-sets/quotas-update-post-resp.json"
                  />
              </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Update quota response: XML">
                  <xsdxt:code
                      href="api_samples/os-quota-sets/quotas-update-post-resp.xml"
                  />
              </wadl:doc>
               &quotasResponse;
          </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteQuotas">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete quotas">
            <para role="shortdesc">Deletes quotas for a tenant so the
                quotas revert to default values.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="showQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quotas for user"><para role="shortdesc"
                >Enables an admin user to show quotas for a specified
                tenant and user.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN"
                  title="Show quotas for user response: JSON">
                  <xsdxt:code
                      href="api_samples/os-quota-sets/quotas-update-post-resp.json"
                  />
              </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
              <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN"
                  title="Show quotas for user response: XML">
                  <xsdxt:code
                      href="api_samples/os-quota-sets/quotas-update-post-resp.xml"
                  />
              </wadl:doc>
               &quotasResponse;
          </representation>
      </response>
    </method>
    <method name="PUT" id="updateQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update quotas for user">
            <para role="shortdesc">Updates quotas for a specified
                tenant/project and user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: JSON">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-update-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user request: XML">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-update-post-req.xml"
                    />
                </wadl:doc>
                &quotasResponse;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update quotas for user response: JSON">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-update-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show quotas for user response: XML">
                    <xsdxt:code
                        href="api_samples/os-quota-sets/quotas-update-post-resp.xml"
                    />
                </wadl:doc>
                &quotasResponse;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteQuotasUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete quotas for user">
            <para role="shortdesc">Deletes quotas for a user so that
                the quotas revert to default values.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="GET" id="showQuotaDetailUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show quota details for user"><para role="shortdesc"
                >
                Shows details for quotas for a specified tenant and user.
              </para>
        </wadl:doc>
        <response status="200">
          <representation mediaType="application/json">
            <wadl:doc xml:lang="EN"
                xmlns="http://docbook.org/ns/docbook"
                title="Show quota details for user response: JSON">
                <xsdxt:code
                    href="api_samples/os-quota-sets/quotas-update-post-resp.json"
                />
            </wadl:doc>
            &quotasResponse;
          </representation>
      </response>
  </method>
</application>
