api-ref/src/wadls/volume-api/src/v2/os-volume-type-access-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd"
 xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
 xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
 xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <resources base="https://manage.example.com/"
        xml:id="volume-type-access-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para></wadl:doc>
                </param>
                <resource id="volumes" path="volumes">
                    <method href="#createVolumeTypeAccessExt"/>
                </resource>
            </resource>
        </resource>
    </resources>
     <method name="POST" id="createVolumeTypeAccessExt">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume">
            <para role="shortdesc">
                Creates and get details for private Block Storage volume.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/os-volume-type-access/volume_create_request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/os-volume-type-access/volume_create_request.xml"/>
                </wadl:doc>
                &createVolumeParameters;
                &isPublicParameterReq;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/os-volume-type-access/volume_create_response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/os-volume-type-access/volume_create_response.xml"
                    />
                </wadl:doc>
                &createVolumeResponseParameters;
                &isPublicParameterResp;
            </representation>
        </response>
    </method>
</application>
