api-ref/src/wadls/volume-api/src/v2/os-vol-pool-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd"
             xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
             xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <resources base="https://manage.example.com/" xml:id="os-vol-pool-v2">
        <resource id="version" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The unique identifier of the tenant or account.
                        </para>
                    </wadl:doc>
                </param>
                <resource id="scheduler-stats" path="scheduler-stats">
                    <resource id="get_pools" path="get_pools">
                        <method href="#getPools"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getPools">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List back-end storage pools">
            <para role="shortdesc">
                Lists all back-end storage pools.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="detail" style="query" type="xsd:boolean"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Indicates whether to show pool details or only
                            pool names in the response.
                        </para>
                        <para>
                            Set to <code>True</code> to show pool details. Set
                            to <code>False</code> to show only pool names.
                            Default is <code>False</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/list-pools-detail.json"
                    />
                </wadl:doc>
                <param name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The name of the back-end volume.
                        </para>
                    </wadl:doc>
                </param>
                <param name="capabilities" style="plain" type="xsd:dict"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The capabilities for the back end.
                        </para>
                        <para>
                            The value is either <code>null</code> or a string
                            value that indicates the capabilities for each
                            pool. For example, <code>total_capacity</code> or
                            <code>QoS_support</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="updated" style="plain" type="xsd:dateTime"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The date and time stamp when the API request was issued.
                        </para>
                    </wadl:doc>
                </param>
                <param name="total_capacity" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The total capacity for the back-end volume, in
                            GBs. A valid value is a string, such as
                            <code>unknown</code>, or an integer.
                        </para>
                    </wadl:doc>
                </param>
                <param name="free_capacity" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The amount of free capacity for the back-end
                            volume, in GBs. A valid value is a string, such as
                            <code>unknown</code>, or an integer.
                        </para>
                    </wadl:doc>
                </param>
                <param name="volume_backend_name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The name of the back-end volume.
                        </para>
                    </wadl:doc>
                </param>
                <param name="reserved_percentage" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The percentage of the total capacity that is
                            reserved for the internal use by the back end.
                        </para>
                    </wadl:doc>
                </param>
                <param name="driver_version" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The driver version.
                        </para>
                    </wadl:doc>
                </param>
                <param name="storage_protocol" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The storage back end for the back-end volume. For
                            example, <code>iSCSI</code> or <code>FC</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="QoS_support" style="plain" type="xsd:boolean"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The quality of service (QoS) support.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
</application>
