api-ref/src/wadls/volume-api/src/v2/volume-api-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/2.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://volume.example.com/" xml:id="volume-v2">
        <resource id="versions" path="//">
            <method href="#listVersions"/>
        </resource>
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para></wadl:doc>
                </param>
                <resource id="extensions" type="#ExtensionList"
                    path="extensions">
                    <resource id="extension" path="{alias}">
                        <param required="true"
                            xmlns="http://wadl.dev.java.net/2009/02"
                            name="alias" style="template"
                            type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>An alias, which is
                                    a name for a pointer to a resource.
                                    For example, a named
                                    extension.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getExtension-cinder-v2"/>
                    </resource>
                </resource>
                <resource id="volumes" path="volumes">
                    <method href="#createVolume"/>
                    <method href="#getVolumesSimple"/>
                    <resource path="detail" id="detail">
                        <method href="#getVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}" id="volume_id">
                        <param name="volume_id" style="template"
                            required="true" type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique
                                   identifier of an existing
                                   volume.</para></wadl:doc>
                        </param>
                        <method href="#getVolume"/>
                        <method href="#updateVolume"/>
                        <method href="#deleteVolume"/>
                    </resource>
                </resource>
                <resource id="types" path="types">
                    <method href="#getVolumeTypes"/>
                    <resource path="{volume_type_id}"
                        id="volume_type_id">
                        <param name="volume_type_id" style="template"
                            required="true" type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique
                                   identifier for an existing volume
                                   type.</para></wadl:doc>
                        </param>
                        <method href="#getVolumeType"/>
                    </resource>
                </resource>
                <resource id="snapshots" path="snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#getSnapshotsSimple"/>
                    <resource path="detail" id="detail-snapshot">
                        <method href="#getSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}" id="snapshot_id">
                        <param name="snapshot_id" style="template"
                            required="true" type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The unique
                                   identifier of an existing
                                   snapshot.</para></wadl:doc>
                        </param>
                        <method href="#getSnapshot"/>
                        <method href="#updateSnapshot"/>
                        <method href="#deleteSnapshot"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Version details">
            <para>Details for a version.</para>
        </wadl:doc>
        <method href="#versionDetails"/>
    </resource_type>
    <resource_type id="ExtensionList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Detail image list">
            <para>A list of supported extensions.</para>
        </wadl:doc>
        <method href="#listExtensions-cinder-v2"/>
    </resource_type>
    <!-- versions -->
    <method name="GET" id="listVersions">
        <wadl:doc xml:lang="EN" title="List API versions"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Lists information about all Block
                Storage API versions.</para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/cinder-versions-response.json"
                    />
                </wadl:doc>
            </representation>
            <!-- The following call fails - opened bug #1311243 -->
            <!-- <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/cinder-versions-response.xml"
                    />
                </wadl:doc>
            </representation>-->
        </response>
    </method>
    <method name="GET" id="versionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show API version details">
            <para role="shortdesc">Shows details for Block Storage API
                v2.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/versionv2-get-resp.json"/>
                </wadl:doc>
            </representation>
            <!-- this call fails - opened bug 1311243 -->
            <!--<representation mediaType="application/xml"
                element="common:version">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/version-get-resp.xml"/>
                </wadl:doc>
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Location"><para>Full URL
                            to a service or server.</para></wadl:doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>-->
        </response>
    </method>
    <method name="GET" id="listExtensions-cinder-v2">
        <wadl:doc xml:lang="EN" title="List API extensions"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Lists Block Storage API
                extensions.</para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/cinder-extensions-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/cinder-extensions-response.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume">
            <para role="shortdesc">Creates a volume.</para>
            <para>To create a bootable volume, include the image ID
                and set the <code>bootable</code> flag to
                    <code>true</code> in the request body.</para>
        </wadl:doc>
        <request>
            <param name="availability_zone" style="plain"
                type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The availability zone.</para></wadl:doc>
            </param>
            <param name="source_volid" style="plain" type="csapi:uuid"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>To create a volume from an existing volume,
                        specify the ID of the existing
                    volume.</para></wadl:doc>
            </param>
            <param name="display_description" style="plain"
                type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The volume description.</para></wadl:doc>
            </param>
            <param name="snapshot_id" style="plain" type="csapi:uuid"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>To create a volume from an existing
                        snapshot, specify the ID of the existing
                        volume snapshot.</para></wadl:doc>
            </param>
            <param name="size" style="plain" type="xsd:int"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The size of the volume, in
                    GBs.</para></wadl:doc>
            </param>
            <param name="display_name" style="plain" type="xsd:string"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The volume name.</para></wadl:doc>
            </param>
            <param name="imageRef" style="plain" type="csapi:uuid"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The ID of the image from which you want to
                        create the volume. Required to create a
                        bootable volume.</para></wadl:doc>
            </param>
            <param name="volume_type" style="plain" type="xsd:string"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The associated volume
                    type.</para></wadl:doc>
            </param>
            <param name="bootable" style="plain" type="xsd:boolean"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Enables or disables the bootable attribute.
                        You can boot an instance from a bootable
                        volume.</para></wadl:doc>
            </param>
            <param name="metadata" style="plain" type="xsd:string"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>One or more metadata key and value pairs to
                        associate with the volume.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_create_request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">

                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_create_request.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <param name="status" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The volume status.</para></wadl:doc>
            </param>
            <param name="display_name" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The volume name.</para></wadl:doc>
            </param>
            <param name="attachments" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>One or more instance
                    attachments.</para></wadl:doc>
            </param>
            <param name="availability_zone" style="plain"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The availability zone.</para></wadl:doc>
            </param>
            <param name="bootable" style="plain" type="xsd:boolean"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Enables or disables the bootable attribute.
                        You can boot an instance from a bootable
                        volume.</para></wadl:doc>
            </param>
            <param name="created_at" style="plain" type="xsd:datetime"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Date and time when the volume was
                        created.</para></wadl:doc>
            </param>
            <param name="display_description" style="plain"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The volume description.</para></wadl:doc>
            </param>
            <param name="volume_type" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The associated volume
                    type.</para></wadl:doc>
            </param>
            <param name="snapshot_id" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>To create a volume from an existing volume
                        snapshot, specify the ID of the existing
                        volume snapshot.</para></wadl:doc>
            </param>
            <param name="source_volid" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>To create a volume from an existing volume,
                        specify the ID of the existing
                    volume.</para></wadl:doc>
            </param>
            <param name="metadata" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>One or more metadata key and value pairs to
                        associate with the volume.</para></wadl:doc>
            </param>
            <param name="id" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The volume ID.</para></wadl:doc>
            </param>
            <param name="size" style="plain" type="xsd:int"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The size of the volume, in
                    GBs.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_create_response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_create_response.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes">
            <para role="shortdesc">Lists summary information for all
                Block Storage volumes that the tenant who submits the
                request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_list_simple_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_list_simple_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes (detailed)">
            <para role="shortdesc">Lists detailed information for all
                Block Storage volumes that the tenant who submits the
                request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_list_detail_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_list_detail_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume information">
            <para role="shortdesc">Shows information about a specified
                volume.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_show_response.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_show_response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update volume">
            <para role="shortdesc">Updates a volume.</para>
        </wadl:doc>
        <request>
            <param name="display_description" style="query"
                type="string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A description of the
                        volume.</para></wadl:doc>
            </param>
            <param name="display_name" style="query" type="string"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The name of the
                    volume.</para></wadl:doc>
            </param>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_update_request.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_update_request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_update_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_update_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume">
            <para role="shortdesc">Deletes a specified volume.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volume types">
            <para role="shortdesc">Lists volume types.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_type_list_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_type_list_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume type information">
            <para role="shortdesc">Shows information about a specified
                volume type.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_type_show_response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/volume_type_show_response.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create snapshot">
            <para role="shortdesc">Creates a snapshot, which is a
                point-in-time copy of a volume. You can create a
                volume from the snapshot.</para>
        </wadl:doc>
        <request>
            <param name="snapshot" style="query" type="string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>A partial representation of a
                        snapshot used in the creation process.</para>
                </wadl:doc>
            </param>
            <param name="volume_id" style="query" type="string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>To create a snapshot from an
                        existing volume, specify the ID of the
                        existing volume.</para>
                </wadl:doc>
            </param>
            <param name="force" style="query" type="xsd:boolean"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>[True/False] Indicate whether
                        to snapshot, even if the volume is attached.
                        Default==False.</para>
                </wadl:doc>
            </param>
            <param name="display_name" style="query" type="string"
                required="false">

                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Name of the snapshot.
                        Default==None.</para>
                </wadl:doc>
            </param>
            <param name="display_description" style="query"
                type="string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Description of snapshot.
                        Default==None.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_create_request.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_create_request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_create_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_create_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots">
            <para role="shortdesc">Lists summary information for all
                Block Storage snapshots that the tenant who submits
                the request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_simple_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">

                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_simple_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots (detailed)">
            <para role="shortdesc">Lists detailed information for all
                Block Storage snapshots that the tenant who submits
                the request can access.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_detail_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_detail_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show snapshot information">
            <para role="shortdesc">Shows information for a specified
                snapshot.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_show_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_show_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update snapshot">
            <para role="shortdesc">Updates a specified
                snapshot.</para>
        </wadl:doc>
        <request>
            <param name="display_description" style="query"
                type="string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Describes the
                    snapshot.</para></wadl:doc>
            </param>
            <param name="display_name" style="query" type="string"
                required="false">

                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>The name of the
                        snapshot.</para></wadl:doc>
            </param>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_update_request.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_update_request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_update_response.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_update_response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete snapshot">
            <para role="shortdesc">Deletes a specified
                snapshot.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
</application>
