api-ref/src/wadls/volume-api/src/v2/volume-api.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/2.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://volume.example.com/">
        <resource id="version" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            unique identifier of the tenant or
                            account. </p>
                    </doc>
                </param>
                <resource id="volumes" path="volumes">
                    <method href="#createVolume"/>
                    <method href="#getVolumesSimple"/>
                    <resource path="detail">
                        <method href="#getVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}">
                        <param name="volume_id" style="template"
                            required="true" type="csapi:UUID">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of an
                                   existing volume. </p></doc>
                        </param>
                        <method href="#getVolume"/>
                        <method href="#updateVolume"/>
                        <method href="#deleteVolume"/>
                    </resource>
                </resource>
                <resource id="types" path="types">
                    <method href="#getVolumeTypes"/>
                    <resource path="{volume_type_id}">
                        <param name="volume_type_id" style="template"
                            required="true" type="csapi:UUID">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of an
                                   existing volume type. </p></doc>
                        </param>
                        <method href="#getVolumeType"/>
                    </resource>
                </resource>
                <resource id="snapshots" path="snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#getSnapshotsSimple"/>
                    <resource path="detail">
                        <method href="#getSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}">
                        <param name="snapshot_id" style="template"
                            required="true" type="csapi:UUID">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of an
                                   existing snapshot. </p></doc>
                        </param>
                        <method href="#getSnapshot"/>
                        <method href="#updateSnapshot"/>
                        <method href="#deleteSnapshot"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a
                volume.</p>
        </wadl:doc>
        <request>
            <!-- <param name="volume" style="plain" required="true"
                type="csapi:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml"> A
                        partial representation of a volume used in the
                        creation process. </p></doc>
            </param> -->
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_create_request.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_create_request.xml"/>
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_create_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_create_response.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Volumes">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists summary
                information for all Cinder volumes that are accessible
                to the tenant who submits the request. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_simple_response.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_simple_response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Volumes (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists detailed
                information for all Cinder volumes that are accessible
                to the tenant who submits the request. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_detail_response.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_list_detail_response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Show Volume Information">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                about a specified volume.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_show_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_show_response.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Update Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates a
                volume.</p>
        </wadl:doc>
        <request>
            <param name="description" style="query" type="string"
                required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        description of the volume. </p></doc>
            </param>
            <param name="name" style="query" type="string"
                required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The name
                        of the volume. </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_update_request.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_update_request.json"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_update_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_update_response.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified volume.</p>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Volume Types">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists volume
                types.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_type_list_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_type_list_response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Show Volume Type Information">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                about a specified volume type.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_type_show_response.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/volume_type_show_response.xml"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml"
                >Creates a snapshot, which is a point-in-time copy of
                a volume. You can create a new volume from the
                snapshot.</p>
           <!-- <p xmlns="http://www.w3.org/1999/xhtml">Before you create
                the snapshot, you must flush all writes to the volume.
                To flush writes, unmount any file systems on the
                volume or detach the volume. Each time you create a
                snapshot, you append the incremental changes for the
                new snapshot to the previous one. The previous
                snapshot is still available. </p>--></wadl:doc>
        <request>
            <param name="snapshot" style="query" type="string"
                required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A partial
                        representation of a snapshot used in the
                        creation process. </p>
                </doc>
            </param>
            <param name="volume_id" style="query" type="string"
                required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The ID of
                        the volume to snapshot. </p>
                </doc>
            </param>
            <param name="force" style="query" type="string"
                required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                        [True/False] Indicate whether to snapshot,
                        even if the volume is attached.
                        Default==False. </p>
                </doc>
            </param>
            <param name="display_name" style="query" type="string"
                required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of
                        the snapshot. Default==None. </p>
                </doc>
            </param>
            <param name="display_description" style="query"
                type="string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                        Description of snapshot. Default==None. </p>
                </doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_create_request.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_create_request.json"/>
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_create_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_create_response.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Snapshots">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists summary
                information for all Cinder snapshots that are
                accessible to the tenant who submits the request. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_simple_response.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_simple_response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Snapshots (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists detailed
                information for all Cinder snapshots that are
                accessible to the tenant who submits the request. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_detail_response.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_list_detail_response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Show Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                for a specified snapshot. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_show_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_show_response.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Update Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates a
                specified snapshot.</p>
        </wadl:doc>
        <request>
            <param name="description" style="query" type="string"
                required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Describes
                        the snapshot. </p></doc>
            </param>
            <param name="name" style="query" type="string"
                required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The name
                        of the snapshot. </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_request.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_request.json"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/snapshot_update_response.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified snapshot.</p>
        </wadl:doc>
        <response status="202"/>
    </method>
</application>
