api-ref/src/wadls/compute-api/src/ext/os-attach-interfaces.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xml:lang="EN"
                        xmlns="http://docbook.org/ns/docbook">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc xml:lang="EN"
                                xmlns="http://docbook.org/ns/docbook">
                                <para>The UUID for the server of
                                   interest to you.</para>
                            </wadl:doc>
                        </param>
                        <resource path="os-attach-interfaces"
                            id="os-attach-interfaces">
                            <method href="#createAttachInterface"/>
                            <method href="#listAttachedInterfaces"/>
                            <resource path="{attachment_id}"
                                id="attachment_id">
                                <param name="attachment_id"
                                   style="template" type="csapi:UUID">
                                   <wadl:doc xml:lang="EN"
                                   xmlns="http://docbook.org/ns/docbook">
                                   <para>The interface ID.</para>
                                   </wadl:doc>
                                </param>
                                <method href="#showAttachedInterface"
                                />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createAttachInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Interface">
            <para role="shortdesc">Creates and
                uses a port interface to attach the port to a server
                instance.</para>
        </wadl:doc>
        <request>
            <param name="interfaceAttachment" style="plain"
                type="xsd:string" required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>Specify the <code>interfaceAttachment</code>
                        action in the request body.</para>
                </wadl:doc>
            </param>
            <param name="port_id" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The ID of the port for which you want to
                        create an interface.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-create-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-create-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <param name="fixed_ips" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>Fixed IP addresses with subnet IDs.</para>
                </wadl:doc>
            </param>
            <param name="mac_addr" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The MAC address.</para>
                </wadl:doc>
            </param>
            <param name="net_id" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The network ID.</para>
                </wadl:doc>
            </param>
            <param name="port_id" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The port ID.</para>
                </wadl:doc>
            </param>
            <param name="port_state" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Port state">
                    <para>The port state.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-create-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-create-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listAttachedInterfaces">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Interfaces">
            <para role="shortdesc">Lists port interfaces.</para>
        </wadl:doc>
        <response status="202">
            <param name="port_state" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The port state.</para>
                </wadl:doc>
            </param>
            <param name="fixed_ips" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>Fixed IP addresses with subnet IDs.</para>
                </wadl:doc>
            </param>
            <param name="mac_addr" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The MAC address.</para>
                </wadl:doc>
            </param>
            <param name="net_id" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The network ID.</para>
                </wadl:doc>
            </param>
            <param name="port_id" style="plain" type="csapi:uuid"
                required="true">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <para>The port ID.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-list-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showAttachedInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Attached Interface">
            <para role="shortdesc">Shows information about a specified
                port interface.</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-show-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-attach-interfaces/attach-interfaces-show-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
