api-ref/src/wadls/compute-api/src/ext/os-admin-actions.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc xml:lang="EN"><p
                            xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or account in a
                            multi-tenancy cloud.</p>
                    </doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc xml:lang="EN"><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you.</p>
                            </doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#pause"/>
                            <method href="#unpause"/>
                            <method href="#suspend"/>
                            <method href="#resume"/>
                            <method href="#migrate"/>
                            <method href="#resetNetwork"/>
                            <method href="#injectNetworkInfo"/>
                            <method href="#lock"/>
                            <method href="#unlock"/>
                            <method href="#createBackup"/>
                            <method href="#os-migrateLive"/>
                            <method href="#os-resetState"/>
                            <method href="#evacuate"/>
                            <method href="#addSecurityGroup"/>
                            <method href="#removeSecurityGroup"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="pause">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Pause Server">
            <para role="shortdesc">Pauses a server. Changes its status
                to PAUSED.</para>
        </wadl:doc>
        <request>
            <param name="pause" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>pause</code> action in the
                        request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-pause.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-pause.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unpause">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Unpause Server">
            <para role="shortdesc">Unpauses a PAUSED server and
                changes its status to ACTIVE.</para>
        </wadl:doc>
        <request>
            <param name="unpause" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>unpause</code> action in
                        the request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unpause.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unpause.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="suspend">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Suspend Server">
            <para role="shortdesc">Suspends a server and changes its
                status to SUSPENDED.</para>
        </wadl:doc>
        <request>
            <param name="suspend" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>suspend</code> action in
                        the request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-suspend.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-suspend.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Resume Server">
            <para role="shortdesc">Resumes a SUSPENDED server and
                changes its status to ACTIVE. </para>
        </wadl:doc>
        <request>
            <param name="resume" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>resume</code> action in
                        the request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-resume.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-resume.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="migrate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Migrate Server">
            <para role="shortdesc">Migrates a server to a host. The
                scheduler chooses the host.</para>
        </wadl:doc>
        <request>
            <param name="migrate" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>migrate</code> action in
                        the request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-migrate.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reset Networking on Server">
            <para role="shortdesc">Resets networking on a
                server.</para>
        </wadl:doc>
        <request>
            <param name="resetNetwork" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>resetNetwork</code> action
                        in the request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-network.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-network.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="injectNetworkInfo">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Inject Network Information">
            <para role="shortdesc">Injects network information into a
                server.</para>
        </wadl:doc>
        <request>
            <param name="injectNetworkInfo" style="plain"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>injectNetworkInfo</code>
                        action in the request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-inject-network-info.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-inject-network-info.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="lock">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Lock Server">
            <para role="shortdesc">Locks a server.</para>
        </wadl:doc>
        <request>
            <param name="lock" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>lock</code> action in the
                        request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-lock-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-lock-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unlock">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Unlock Server">
            <para role="shortdesc">Unlocks a server.</para>
        </wadl:doc>
        <request>
            <param name="unlock" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>unlock</code> action in
                        the request body.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unlock-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-unlock-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="createBackup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Server Backup">
            <para role="shortdesc">Backs up a server instance.</para>
        </wadl:doc>
        <request>
            <param name="createBackup" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>createBackup</code> action
                        in the request body.</para>
                </wadl:doc>
            </param>
            <param name="name" style="plain" type="xsd:string"
                required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of
                        the backup image.</p></doc>
            </param>
            <param name="backup_type" style="plain" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        backup type. Either 'daily' or
                    'weekly.'</p></doc>
            </param>
            <param name="rotation" style="plain" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">An
                        integer value that represents the number of
                        backups to maintain.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-backup-server.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-backup-server.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="os-migrateLive">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Live-migrate Server">
            <para role="shortdesc">Live-migrates a server to a new
                host without rebooting.</para>
        </wadl:doc>
        <request>
            <param name="os-migrateLive" style="plain"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>os-migrateLive</code>
                        action in the request body.</para>
                </wadl:doc>
            </param>
            <param name="host" style="plain" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of
                        the new host.</p></doc>
            </param>
            <param name="block_migration" style="plain"
                required="true" type="xsd:boolean">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">If true,
                        migration is blocked.</p></doc>
            </param>
            <param name="disk_over_commit" style="plain"
                required="true" type="xsd:boolean">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">If true,
                        disk over commit is allowed.</p></doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-live-migrate.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-live-migrate.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="os-resetState">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reset Server State">
            <para role="shortdesc">Resets the state of a server to a
                specified state.</para>
        </wadl:doc>
        <request>
            <param name="resetState" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>resetState</code> action
                        in the request body.</para>
                </wadl:doc>
            </param>
            <param name="state" style="plain" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        desired state of a server.</p></doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-server-state.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-server-state.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="evacuate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Evacuate Server">
            <para role="shortdesc">Evacuates a server from failed
                host.</para>
        </wadl:doc>
        <request>
            <param name="evacuate" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Specify the <code>evacuate</code> action in
                        the request body.</para>
                </wadl:doc>
            </param>
            <param name="host" style="plain" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The name
                        or ID of the host where the server is
                        evacuated.</p></doc>
            </param>
            <param name="adminPass" style="plain" type="xsd:string"
                required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Specifies
                        a new admin password for the evacuated
                        instance.</p></doc>
            </param>
            <param name="onSharedStorage" style="plain"
                type="xsd:string" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">If server
                        is on shared storage, set to True. Otherwise,
                        set to False.</p></doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-req.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/server-evacuate-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="addSecurityGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
            <para role="shortdesc">Assigns the specified security
                group to the server.</para>
        </wadl:doc>
        <request>
            <param name="addSecurityGroup" style="plain"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Specify the
                            <code>addSecurityGroup</code> action in
                        the request body.</para></wadl:doc>
            </param>
            <param name="name" style="plain" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The name
                        of the security group to assign to the
                        server.</p></doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-security-groups/security-group-add-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-security-groups/security-group-add-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"/>
    </method>
    <method name="POST" id="removeSecurityGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
            <para role="shortdesc">Removes the specified security
                group from the server.</para>
        </wadl:doc>
        <request>
            <param name="removeSecurityGroup" style="plain"
                type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Specify the
                            <code>removeSecurityGroup</code> action in
                        the request body.</para></wadl:doc>
            </param>
            <param name="name" style="plain" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The name
                        of the security group to remove from the
                        server.</p></doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-security-groups/security-group-remove-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-security-groups/security-group-remove-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"/>
    </method>
</application>
