api-ref/src/wadls/compute-api/src/ext/os-agents.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml"> The
                            unique identifier of the tenant or
                            account. </p>
                    </doc>
                </param>

                <resource id="os-agents" path="os-agents">
                    <method href="#listAgents"/>
                    <method href="#createAgent"/>
                    <resource path="{id}">
                        <param name="id" style="template"
                            required="true">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The unique identifier associated
                                   with the agent. </p></doc>
                        </param>

                        <method href="#updateAgent"/>
                    </resource>
                    <method href="#deleteAgent"/>
                </resource>

            </resource>
        </resource>
    </resources>

    <method name="GET" id="listAgents">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Agents">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all agent
                builds.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agents-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agents-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteAgent">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Agent">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes an
                existing agent build.</p>
        </wadl:doc>
        <response status="202"/>
    </method>

    <method name="POST" id="createAgent">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create Agent">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates an agent
                build.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="updateAgent">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Update Agent">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates an agent
                build.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
