api-ref/src/wadls/compute-api/src/ext/os-block-device-mapping-v2-boot.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-block-device-mapping-v2-boot.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            tenant ID in a multi-tenancy cloud.</p>
                    </doc>
                </param>
                <resource id="Servers" type="#ServerList"
                    path="servers">
                    <method href="#createServer"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <method href="#versionDetails"/>
    </resource_type>
    <resource_type id="ServerList">
        <doc xml:lang="EN" title="Server List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of servers.
                Each server contains IDs, names, and links. Other
                attributes are omitted.</p>
        </doc>
        <method href="#listServers"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Servers -->
    <method name="POST" id="createServer">
        <doc xml:lang="EN" title="Create Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a server
                with a block device mapping. </p>
        </doc>

        <request> &serverCreateParameters; <param
                name="block_device_mapping_v2" style="plain"
                required="true" type="csapi:blockDeviceMapping"
                path="/csapi:server">
                <doc xml:lang="EN" title="block_device_mapping_v2">
                    <p xmlns="http://www.w3.org/1999/xhtml"
                        >block_device_mapping_v2.</p>
                </doc>
            </param>
            <param name="device_name" style="plain" type="xsd:string"
                required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">A device
                        name where the volume is attached in the
                        system at /dev/dev_name. This value is
                        typically vda.</p>
                </doc>
            </param>
            <param name="source_type" style="plain" type="xsd:string"
                required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Either
                        snap or any other value, including a blank
                        string. snap means that the volume was created
                        from a snapshot.</p>
                </doc>
            </param>
            <param name="destination_type" style="plain"
                type="xsd:string" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Either
                        snap or any other value, including a blank
                        string. snap means that the volume was created
                        from a snapshot.</p>
                </doc>
            </param>
            <param name="delete_on_termination" style="plain"
                type="xsd:bool" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Set to
                        True (or 1) to delete the volume when the
                        instance is deleted. Set to False (or 0) to
                        retain the volume when the instance is
                        deleted.</p>
                </doc>
            </param>
            <param name="guest_format" style="plain" type="xsd:string"
                required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Guest
                        format.</p>
                </doc>
            </param>
            <param name="uuid" style="plain" type="csapi:uuid"
                required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The device
                        ID.</p>
                </doc>
            </param>
            <param name="boot_index" style="plain" type="xsd:string"
                required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The boot
                        index.</p>
                </doc>
            </param>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="../api_samples/os-block-device-mapping-v2-boot/server-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <doc>
                    <xsdxt:code
                        href="../api_samples/os-block-device-mapping-v2-boot/server-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"> &serverResponseParameters;
                <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="../api_samples/os-block-device-mapping-v2-boot/server-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <doc>
                    <xsdxt:code
                        href="../api_samples/os-block-device-mapping-v2-boot/server-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
        <response status="422">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"
                element="csapi:UnprocessableEntity"/>
        </response>
        <!-- All other common faults except build in progess -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
    </method>
</application>
