api-ref/src/wadls/compute-api/src/ext/os-createserverext.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param>
                <resource id="Servers" path="servers">
                    <method href="#createServer"/>
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you. </p>
                            </doc>
                        </param>
                        <method href="#getServer"/>
                    </resource>
                    <resource id="ServersDetail" path="detail">
                        <method href="#getServersDetailed"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a server
                with the config_drive extended attribute. </p>
        </wadl:doc>
        <request> &serverCreateParameters; &serverCreateParameters;
                <representation mediaType="application/xml"
                element="csapi:server">
                <param name="imageRef" style="plain" required="true"
                    type="csapi:string">
                    <doc xml:lang="EN" title="imageRef">
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            image reference for the desired image for
                            your server instance. </p>
                        <p xmlns="http://www.w3.org/1999/xhtml"
                            >Specify as an ID or full URL.</p></doc>
                </param>
                <param name="flavorRef" style="plain" required="true"
                    type="csapi:string">
                    <doc xml:lang="EN" title="flavorRef">
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            flavor reference for the desired flavor
                            for your server instance.</p>
                        <p xmlns="http://www.w3.org/1999/xhtml"
                            >Specify as an ID or full URL.</p></doc>
                </param>
                <param name="name" style="plain" required="true"
                    type="csapi:string">
                    <doc xml:lang="EN" title="name">
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            name for your created server.</p></doc>
                </param>
                <param name="metadata" style="plain" required="false"
                    type="csapi:string">
                    <doc xml:lang="EN" title="metadata">
                        <p xmlns="http://www.w3.org/1999/xhtml"
                            >Metadata key and value pairs. The maximum
                            size of the metadata key and value is 255
                            bytes each.</p></doc>
                </param>
                <param name="personality" style="plain"
                    required="false" type="csapi:string">
                    <doc xml:lang="EN" title="personality">
                        <p xmlns="http://www.w3.org/1999/xhtml">File
                            path and contents (text only) to inject
                            into the server at launch. The maximum
                            size of the file path data is 255 bytes.
                            The maximum limit refers to the number of
                            bytes in the decoded data and not the
                            number of characters in the encoded
                            data.</p></doc>
                </param>
                <param name="config_drive" style="plain"
                    type="csapi:UUID" required="false">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">ID of
                            image to mount within server as a
                            configuration drive. </p></doc>
                </param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-req.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-req.xml"/>
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getServer">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                for a specified server, including the config_drive
                extended attribute. </p>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-get-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-get-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getServersDetailed">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                all servers, including the config_drive extended
                attribute. </p>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/servers-list-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/servers-list-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>
</application>
