api-ref/src/wadls/compute-api/src/ext/os-coverage.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation., All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or account in a
                            multi-tenancy cloud. </p></doc></param>
                <resource id="os-coverage" path="os-coverage">
                    <resource path="action">
                        <method href="#getReport"/>
                        <method href="#startReport"/>
                        <method href="#startCombinedReport"/>
                        <resource>
                            <param name="combine" style="template"
                                type="csapi:bool" required="false">
                                <wadl:doc xml:lang="EN"
                                   title="combine">
                                   <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >Optional. Set to true to generate
                                   a combined report for all services.
                                   </p>
                                </wadl:doc>
                            </param>
                        </resource>
                        <method href="#stopReport"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="getReport">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Generates a
                coverage report. </p>
        </wadl:doc>
        <request>
            <param name="file" style="template" type="csapi:string"
                required="true">
                <wadl:doc xml:lang="EN" title="name">
                    <p xmlns="http://www.w3.org/1999/xhtml">Required.
                        The file name of the report. </p>
                </wadl:doc>
            </param>
            <param name="xml" style="template" type="csapi:bool"
                required="false">
                <wadl:doc xml:lang="EN" title="xml">
                    <p xmlns="http://www.w3.org/1999/xhtml">Optional.
                        Set to true to generate the report in XML
                        format. </p>
                </wadl:doc>
            </param>
            <param name="html" style="template" type="csapi:bool"
                required="false">
                <wadl:doc xml:lang="EN" title="html">
                    <p xmlns="http://www.w3.org/1999/xhtml">Optional.
                        Set to true to generate the report in HTML
                        format. </p>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        title="The following example shows a start request for an XML report:"
                        href="../api_samples/os-coverage/coverage-xml-report-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-xml-report-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-xml-report-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-xml-report-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="startReport">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Starts Nova
                coverage reporting. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-start-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-start-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="startCombinedReport">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Starts coverage
                reporting for all services. All reports are combined
                into a single report. </p>
        </wadl:doc>
        <request>
            <param name="combine" style="template" type="csapi:bool"
                required="true">
                <wadl:doc xml:lang="EN" title="combine">
                    <p xmlns="http://www.w3.org/1999/xhtml">Set to
                        true to generate a combined report for all
                        services. </p>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-start-combine-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-start-combine-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-xml-report-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-xml-report-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="stopReport">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Stops Nova
                coverage reporting. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-stop-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-stop-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-stop-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-coverage/coverage-stop-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
