api-ref/src/wadls/compute-api/src/ext/os-disk-config.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param>
                <resource id="Servers" path="servers">
                    <method href="#createServer"/>
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you. </p>
                            </doc>
                        </param>
                        <param name="OS-DCF:diskConfig" style="plain">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >Valid value is AUTO or MANUAL.</p>
                            </doc>
                        </param>
                        <method href="#getServer"/>
                        <method href="#updateServer"/>
                        <resource path="action">
                            <method href="#resize"/>
                            <method href="#rebuild"/>
                        </resource>
                    </resource>
                    <resource path="detail">
                        <method href="#getServersDetailed"/>
                    </resource>
                </resource>
                <resource id="images" path="images">
                    <resource path="{image_id}">
                        <param name="image_id" style="template">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the image of interest
                                   to you. </p>
                            </doc>
                        </param>
                        <method href="#getImage"/>
                    </resource>

                    <resource path="detail">
                        <method href="#getImagesDetailed"/>
                    </resource>
                </resource>

            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a server.
            </p>
        </wadl:doc>
        <request>
            <param name="OS-DCF:diskConfig" style="plain">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml"> A valid
                        value is AUTO or MANUAL. </p>
                </doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"> &serverListParameters;
                <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateServer">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates a
                specified server. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-update-put-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-update-put-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-update-put-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-update-put-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="resize">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Resizes a server.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-resize-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-resize-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="rebuild">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Rebuilds a
                specified server. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-action-rebuild-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-action-rebuild-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-action-rebuild-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-action-rebuild-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getServer">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <para role="shortdesc">Shows information for a specified
                server.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/server-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getServersDetailed">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml"> Lists servers.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/list-servers-detail-get.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/list-servers-detail-get.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Describes a
                specific image. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/image-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/image-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getImagesDetailed">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists images. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/image-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-DCF/image-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
