api-ref/src/wadls/compute-api/src/ext/os-ext-ips.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml"> The
                            unique identifier of the tenant or
                            account. </p>
                    </doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                               type="csapi:UUID">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The UUID for the server of
                                   interest to you. </p></doc>
                        </param>
                        <resource path="action">
                            <method href="#serverIPDetails"/>
                        </resource>
                    </resource>
                    <resource id="ServersIPList" path="detail">
                        <method href="#serversIPList"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="serverIPDetails">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Server IPs Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows the type of
                IP assigned to a specified server, either fixed or
                floating.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/server-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/server-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="serversIPList">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Servers IPs">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all servers
                showing their IPs by type, either fixed or
                floating.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/servers-detail-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS/servers-detail-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
