api-ref/src/wadls/compute-api/src/ext/os-ext-az.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The ID for the tenant or
                            account in a multi-tenancy cloud.
                        </para></wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The UUID for the
                                   server of interest to you.</para>
                            </wadl:doc>
                        </param>
                        <method href="#showServer"/>
                    </resource>
                    <resource path="detail">
                        <method href="#detailServers"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="showServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get server availability zone"><para
                role="shortdesc">Gets the availability zone for the
                specified instance. </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-AZ/server-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-AZ/server-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="detailServers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List details for all servers"><para
                role="shortdesc">Lists details for all servers.
                Includes their current availability zone. </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-AZ/servers-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-AZ/servers-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
