api-ref/src/wadls/compute-api/src/ext/os-ext-img-size.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom"
    targetNamespace="http://docs.openstack.org/compute/api/v2"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v2
    ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0
    ../xsd/api-common.xsd
    ">
    <resources base="https://glance.example.com/">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param>

                <resource id="Images" type="#ImageList"
                    path="images">
                    <method href="#createImage"/>
                    <resource path="detail"
                        type="#DetailImageList"/>
                    <resource path="{image_id}">
                        <param name="image_id" style="template"
                            type="xsd:string">
                            <wadl:doc
                               xmlns="http://www.w3.org/1999/xhtml"
                               xml:lang="EN" title="Image ID">
                               <p>Image ID stored through the
                               image API. Typically a UUID.</p>
                            </wadl:doc>
                        </param>
                        <method href="#getImage"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    <resource_type id="ImageList">
        <method href="#listImage"/>
    </resource_type>
    <resource_type id="DetailImageList">
        <method href="#listDetailImage"/>
    </resource_type>
    <!-- Method definitions -->
    <method name="GET" id="getImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details for a
                specified image. Includes the image size.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/image-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/image-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listDetailImage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                available images. Includes the image size.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/images-details-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IMG-SIZE/images-details-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
