api-ref/src/wadls/compute-api/src/ext/os-extended-server-attributes.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="Servers" path="servers">
                <method href="#extended_server_attributes_detail"/>
                <resource path="{server_id}">
                    <method href="#extended_server_attributes_show"/>
                    <resource>
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID for the server of
                                   interest to you.</para>
                            </wadl:doc>
                        </param>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="extended_server_attributes_show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show extended server attributes">
            <para role="shortdesc">Shows extended server attributes
                for a specified server.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/server-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/server-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="extended_server_attributes_detail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List servers with extended server attributes">
            <para role="shortdesc">Lists detailed
                extended server attribute information for all
                servers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/servers-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-SRV-ATTR/servers-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
