api-ref/src/wadls/compute-api/src/ext/os-ext-az.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02"
             xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template" type="csapi:UUID">
                            <doc>
                                <p xmlns="http://www.w3.org/1999/xhtml">
                                The UUID for the server of interest to you.</p>
                            </doc>
                        </param>
                        <method href="#showServerAZ"/>
                    </resource>
                    <resource path="detail">
                        <method href="#detailServersAZ"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="showServerAZ">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Gets the availability zone for the specified instance.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/OS-EXT-AZ/server-get-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/OS-EXT-AZ/server-get-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="detailServersAZ">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists details for all servers. Includes their current availability zone.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/OS-EXT-AZ/servers-detail-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/OS-EXT-AZ/servers-detail-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>
</application>
