api-ref/src/wadls/compute-api/src/ext/os-extended-status.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or account in a
                            multi-tenancy cloud. </p></doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you. </p>
                            </doc>
                        </param>
                        <method href="#os-extended-status-show"/>
                    </resource>
                    <resource id="ServersDetail" path="detail">
                        <method href="#os-extended-status-detail"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="os-extended-status-show">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Extended Status for Server">
            <para role="shortdesc">Shows the extended status
                attributes in the response for a specified
                server.</para>
            <para>The extended status attributes are vm_state,
                power_state, and task_state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/server-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/server-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="os-extended-status-detail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Extended Status for Servers">
            <para role="shortdesc">Lists the extended status
                attributes in the detailed response for all servers. </para>
            <para>The extended status attributes are vm_state,
                power_state, and task_state.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/servers-detail-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-STS/servers-detail-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
