api-ref/src/wadls/compute-api/src/ext/os-flavor-rxtx.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom"
    targetNamespace="http://docs.openstack.org/compute/api/v2"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v2
    ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0
    ../xsd/api-common.xsd
    ">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml"> The
                            ID for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param>

                <resource id="Flavors" path="flavors">
                    <method href="#createFlavor"/>

                    <resource path="{flavor_id}">
                        <param name="flavor_id" style="template">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The flavor ID. </p>
                            </doc>
                        </param>

                        <method href="#getFlavor"/>

                    </resource>

                    <resource path="detail">
                        <method href="#getFlavorDetails"/>
                    </resource>

                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createFlavor">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a flavor.
                Includes the rxtx_factor extended attribute. </p>
        </wadl:doc>

        <request>
            <param style="plain" name="name" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The name
                        for the new flavor.</p>
                </doc>
            </param>
            <param style="plain" name="ram" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The amount
                        of RAM, in MBs, for the flavor.</p>
                </doc>
            </param>
            <param style="plain" name="vcpus" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The
                        virtual CPUs, as a whole integer, for the
                        flavor.</p>
                </doc>
            </param>
            <param style="plain" name="disk" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The amount
                        of disk space, in GBs.</p>
                </doc>
            </param>
            <param style="plain" name="id" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The ID for
                        the flavor, which is a unique integer
                        value.</p>
                </doc>
            </param>

            <param style="plain" name="rxtx_factor" required="true">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Enables
                        you to override the bandwidth cap value, which
                        defaults to the bandwidth cap value for the
                        network to which the flavor is attached. The
                        new bandwidth cap is calculated by multiplying
                        the rxtx_factor valued that you specify by the
                        rxtx_base property for the network. </p>
                </doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-req.xml"
                    />
                </doc>
            </representation>
        </request>

        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>



    <method name="GET" id="getFlavor">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details for a
                specified flavor. Includes the rxtx_factor extended
                attribute.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getFlavorDetails">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                available flavors. Includes the rxtx_factor extended
                attribute.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-list-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

</application>
