api-ref/src/wadls/compute-api/src/ext/os-flavor-access.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="flavors" path="flavors">
                    <method href="#detailAccess" />
                    <method href="#createAccess" />
                    <resource path="{flavor_id}">
                        <param name="flavor_id" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                              The ID of the flavor of interest to you.
                            </p></doc>
                        </param>
                        <method href="#showAccess" />
                        <resource path="os-flavor-access">
                            <method href="#listAccess" />
                        </resource>
                        <resource path="action">
                            <method href="#addTenantAccess" />
                            <method href="#removeTenantAccess" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="detailAccess">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists all flavors. Includes the access type, which is public or private.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-detail-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-detail-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createAccess">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Creates a private flavor.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-create-req.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-create-req.xml" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-create-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-create-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="showAccess">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Gets the flavor access type, which is either public or private.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-show-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-show-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="listAccess">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists tenants with access to the specified private flavor.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-list-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-list-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="addTenantAccess">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Gives the specified tenant access to the specified private flavor.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-add-tenant-req.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-add-tenant-req.xml" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-add-tenant-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-add-tenant-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="removeTenantAccess">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Revokes access from the specified tenant for the specified private flavor.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-remove-tenant-req.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-remove-tenant-req.xml" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-remove-tenant-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-access/flavor-access-remove-tenant-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>
</application>

