api-ref/src/wadls/compute-api/src/ext/os-floating-ip-pools.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://floatingippools.example.com/">
        <resource id="version" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="csapi:uuid">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            unique identifier of the tenant or
                            account.</p>
                    </doc>
                </param>
                <resource id="floating-ip-pools"
                    path="os-floating-ip-pools">
                    <method href="#listFloatingIpPools"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listFloatingIpPools">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Floating IP Pools">
            <para role="shortdesc">Lists floating IP
                pools.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-pools/floatingippools-list-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-pools/floatingippools-list-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>
</application>
