api-ref/src/wadls/compute-api/src/ext/os-fixed-ips.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or account in a
                            multi-tenancy cloud. </p></doc>
                </param>
                <resource id="os-fixed-ips" path="os-fixed-ips">
                    <resource path="{fixed_ip}">
                        <param name="fixed_ip" style="template"
                            type="xsd:string" required="true">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The fixed IP of interest to you.
                                </p></doc>
                        </param>
                        <method href="#showIP"/>
                        <resource path="action">
                            <method href="#reserveIP"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="showIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
            <para role="shortdesc">Gets data about a specified fixed
                IP address.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-fixed-ips/fixedips-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-fixed-ips/fixedips-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="reserveIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reserve or Release a Fixed IP">
            <para role="shortdesc">Reserves or releases a fixed
                IP.</para>
            <para>To reserve a fixed IP address, specify
                    <code>reserve</code> in the request body. To
                release a fixed IP address, specify
                    <code>unreserve</code> in the request body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-fixed-ips/fixedip-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-fixed-ips/fixedip-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
