api-ref/src/wadls/compute-api/src/ext/os-floating-ip-dns.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="csapi:uuid">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            unique identifier of the tenant or
                            account.</p>
                    </doc>
                </param>
                <resource id="os-floating-ip-dns"
                    path="os-floating-ip-dns">
                    <method href="#ListDomains"/>
                    <resource path="{domain}">
                        <param name="domain" style="template"
                            required="true" type="xsd:string">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >Registered DNS domain published
                                   by the DNS drivers.</p></doc>
                        </param>
                        <method href="#CreateDomain"/>
                        <method href="#DeleteDomain"/>
                        <resource id="entries" path="entries">
                            <resource path="{name}">
                                <param name="name" style="template"
                                   required="true" type="xsd:string">
                                   <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >DNS entry name assigned under a
                                   domain.</p></doc>
                                </param>
                                <method href="#CreateEntry"/>
                                <method href="#FindUniqueEntry"/>
                                <method href="#DeleteEntry"/>
                            </resource>
                            <resource path="{ip}">
                                <method href="#FindEntriesbyIP"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="ListDomains">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List DNS domains">
            <para role="shortdesc">Lists registered
                DNS domains published by the DNS drivers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="CreateDomain">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create a Domain">
            <para role="shortdesc">Creates or updates
                a DNS domain.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="DeleteDomain">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete a Domain">
            <para role="shortdesc">Deletes a DNS
                domain and all associated host entries.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="PUT" id="CreateEntry">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create DNS Entry">
            <para role="shortdesc">Creates or updates
                a DNS entry.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="FindUniqueEntry">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Find Unique DNS Entry">
            <para role="shortdesc">Finds a unique DNS
                entry for a specified domain and name.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-entry-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-entry-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="FindEntriesbyIP">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Find DNS Entries">
            <para role="shortdesc">Lists DNS entries
                for a specified domain and IP.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-entry-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ip-dns/floating-ip-dns-entry-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="DeleteEntry">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete a DNS entry">
            <para role="shortdesc">Deletes a
                specified DNS entry.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
</application>
