api-ref/src/wadls/compute-api/src/ext/os-flavor-extra-specs.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="flavors" path="flavors">
                    <resource path="{flavor_id}">
                        <param name="flavor_id" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                              The ID of the flavor of interest to you.
                            </p></doc>
                        </param>
                        <resource path="os-extra_specs">
                            <method href="#listExtra-specs" />
                            <method href="#createExtra-specs" />
                            <resource path="{key_id}">
                                <method href="#detailExtra-spec" />
                                <method href="#updateDetailExtra-spec" />
                                <method href="#deleteDetailExtra-spec" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="listExtra-specs">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists the extra-specs or keys for the specified flavor.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-list-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-list-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createExtra-specs">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Creates extra-specs or keys for the specified flavor.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-req.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-req.xml" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-create-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="updateDetailExtra-specs">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Updates the value of the specified extra-spec or key.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-req.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-req.xml" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-update-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="detailExtra-spec">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Gets the value of the specified key.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-get-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-flavor-extra-specs/flavor-extra-specs-get-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteDetailExtra-spec">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Delete a specified extra-spec by key.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"/>
        </request>
        <response status="200"/>
    </method>
</application>

