api-ref/src/wadls/compute-api/src/ext/os-flavormanage.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012-2013 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom"
    targetNamespace="http://docs.openstack.org/compute/api/v2"
    xsi:schemaLocation="http://docs.openstack.org/compute/api/v2
    ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0
    ../xsd/api-common.xsd
    ">

    <resources base="https://servers.api.openstack.com/">
        <resource id="version" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            unique ID of the tenant or
                            account. </p>
                    </doc>
                </param>

                <resource id="flavors" path="flavors">
                    <method href="#createFlavor"/>

                    <resource id="flavor" path="{flavor_id}">
                        <param name="flavor_id" style="template">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The flavor ID. </p></doc>
                        </param>
                        <method href="#deleteFlavor"/>
                    </resource>

                </resource>

            </resource>
        </resource>
    </resources>

    <method name="POST" id="createFlavor">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a flavor.
            </p>
        </wadl:doc>

        <request>
            <param style="plain" name="name" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        name for the new flavor.</p></doc>
            </param>
            <param style="plain" name="ram" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The amount of RAM, in MBs, for this
                        flavor.</p></doc>
            </param>
            <param style="plain" name="vcpus" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The virtual CPUs, in a whole integer amount, for
                        the new flavor.</p></doc>
            </param>
            <param style="plain" name="disk" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The amount of disk
                    space, in GBs.</p></doc>
            </param>
            <param style="plain" name="id" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The ID for
                        the new flavor, which is a unique integer value.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-req.xml"
                    />
                </doc>
            </representation>
        </request>

        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-flavor-manage/flavor-create-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteFlavor">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                flavor.</p>
        </wadl:doc>
        <response status="204"/>
    </method>

    <method name="GET" id="listFlavors">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists available
                flavors.</p>
        </wadl:doc>
        <response status="200"/>
    </method>


</application>
