api-ref/src/wadls/compute-api/src/ext/os-instance-actions.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>

<!-- (C) 2013 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or account in a
                            multi-tenancy cloud. </p></doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID of the server instance
                                   for which you want to list actions.
                                </p>
                            </doc>
                        </param>
                        <resource path="os-instance-actions">
                            <method href="#listActions"/>
                            <resource path="{action_id}">
                                <param name="action_id"
                                   style="template" type="csapi:UUID">
                                   <doc xml:lang="EN"
                                   title="Get Action Details">
                                   <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID of the action for which
                                   you want to get details. </p>
                                   </doc>
                                </param>
                                <method href="#getActionDetails"/>

                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="listActions">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Get Server Actions">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists available actions
                for a specified server. Deployers set permissions for this request in the
                <filename>policy.json</filename> file. By default, all users 
                can list actions. </p>
        </wadl:doc>

        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-actions-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-actions-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getActionDetails">
        <wadl:doc xml:lang="EN" title="Get Action Details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets details for a specified action
                for a specified server instance. Deployers set permissions for this request in the
                <filename>policy.json</filename> file. By default, only administrators can get details for an action. 
                 </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-action-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-action-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>

</application>
