api-ref/src/wadls/compute-api/src/ext/os-keypairs.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or account in a
                            multi-tenancy cloud.</p></doc>
                </param>
                <resource id="os-keypairs" path="os-keypairs">
                    <method href="#getKeypair"/>
                    <method href="#createKeypair"/>
                    <resource path="{keypair_name}">
                        <param name="keypair_name" style="template"
                            type="xsd:string">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The name associated with a
                                   keypair. </p></doc>
                        </param>
                        <method href="#deleteKeypair"/>
                        <method href="#showKeypair"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getKeypair">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml"> Lists keypairs
                associated with the account. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-keypairs/keypairs-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-keypairs/keypairs-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="showKeypair">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows a keypair
                associated with the account. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-keypairs/keypair-show.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteKeypair">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                keypair.</p>
        </wadl:doc>
        <response status="202"/>
    </method>

    <method name="POST" id="createKeypair">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Generates or
                imports a keypair. </p>
        </wadl:doc>
        <request>
            <param name="name" style="plain" required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The name
                        to associate with the keypair.</p></doc>
            </param>
            <param name="public_key" style="plain" type="xsd:string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        public ssh key to import. If not provided, a
                        key is generated. </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-keypairs/keypairs-import-post-req.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-keypairs/keypairs-import-post-req.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-keypairs/keypairs-import-post-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-keypairs/keypairs-import-post-resp.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
