api-ref/src/wadls/compute-api/src/ext/os-multi-server-create.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012-present OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="Servers" path="servers">
                    <method href="#createServer"/>

                    <resource path="{server_id}">
                        <param name="server_id" style="template" type="csapi:UUID">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                              The UUID for the server of interest to you.
                            </p>
                            </doc>
                        </param>

                        <method href="#getServer"/>

                    </resource>

                    <resource id="ServersDetail" path="detail">
                        <method href="#getServersDetailed"/>
                    </resource>

                </resource>
           </resource>
       </resource>
    </resources>

    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Create a server or multiple servers with an optional reservation ID.
            </p>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="min_count" style="query" required="false"
                type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The
                        minimum number of servers to launch when the
                        service provider enables multiple server
                        launch.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="max_count" style="query" required="false"
                type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">The
                        maximum number of servers to launch when the
                        service provider enables multiple server
                        launch.</p>
                </doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="return_reservation_id" style="query"
                required="false" type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">Indicate
                        with True or False if you want a reservation
                        ID returned for each server. Enabled when the
                        service provider enables multiple server
                        launch..</p>
                </doc>
            </param>


            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="../api_samples/os-multiple-create/multiple-create-no-resv-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code
                        href="../api_samples/os-multiple-create/multiple-create-no-resv-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../api_samples/os-multiple-create/multiple-create-no-resv-post-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code href="../api_samples/os-multiple-create/multiple-create-no-resv-post-resp.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../api_samples/os-multiple-create/multiple-create-post-resp.json"/>
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc>
                    <xsdxt:code href="../api_samples/os-multiple-create/multiple-create-post-resp.xml"/>
                </doc>
            </representation>
        </response>
    </method>

</application>
