api-ref/src/wadls/compute-api/src/ext/os-networks.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:csapi="http://docs.rackspacecloud.com/csapi/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            unique identifier of the tenant or
                            account. </p>
                    </doc>
                </param>
                <method href="#CreateNetwork"/>
                <resource id="os-networks" path="os-networks">
                    <method href="#ListNetworks"/>
                    <resource path="add">
                        <param name="id" style="template"
                            required="true" type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID of the network to add to
                                   the project. Specify
                                   <code>None</code> to choose a
                                   random available network. </p>
                            </doc>
                        </param>
                        <method href="#AddNetwork"/>
                    </resource>
                    <resource path="{id}">
                        <param name="id" style="template"
                            required="true" type="csapi:UUID">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier associated
                                   with the network. </p></doc>
                        </param>
                        <method href="#GetNetwork"/>
                        <method href="#DeleteNetwork"/>
                        <resource path="action">
                            <method href="#AssociateHost"/>
                            <method href="#DisassociateHost"/>
                            <method href="#DisassociateNetwork"/>
                            <method href="#DisassociateProject"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="ListNetworks">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Networks">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists all networks
                that are available to the tenant.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-networks-list.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="GetNetwork">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Get Network Detail">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets information
                about a specified network.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-networks-get.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="DeleteNetwork">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Network">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified network.</p>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="POST" id="DisassociateNetwork">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Disassociate Network">
            <p xmlns="http://www.w3.org/1999/xhtml">Disassociates a
                specified network from a project so that the network
                can be reused.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="DisassociateProject">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Disassociate Project">
            <p xmlns="http://www.w3.org/1999/xhtml">Disassociates the
                project from a specified network.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-project-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-project-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="DisassociateHost">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Disassociate Host">
            <p xmlns="http://www.w3.org/1999/xhtml">Disassociates the
                host from a specified network.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-host-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-host-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="AssociateHost">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Associate Host">
            <p xmlns="http://www.w3.org/1999/xhtml">Associates a
                specified network with a host.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-associate-host-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-associate-host-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="AddNetwork">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Add Network">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds a specified
                network to a project.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-networks-add.json"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="CreateNetwork">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create Network">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a
                network.</p>
        </wadl:doc>
        <request>
            <param name="network" style="plain" required="true"
                type="csapi:dict">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        dictionary representation of a network.
                    </p></doc>
            </param>
            <param name="label" style="plain" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Network
                        label. </p></doc>
            </param>
            <param name="bridge" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">VIFs on
                        this network are connected to this bridge.
                    </p></doc>
            </param>
            <param name="bridge_interface" style="plain"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        bridge is connected to this interface.
                    </p></doc>
            </param>
            <param name="cidr" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">IPv4
                        subnet. </p></doc>
            </param>
            <param name="multi_host" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Multi
                        host. </p></doc>
            </param>
            <param name="vlan" style="plain" required="false"
                type="csapi:UUID">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Vlan id.
                    </p></doc>
            </param>
            <param name="cidr_v6" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">IPv6
                        subnet. </p></doc>
            </param>
            <param name="dns1" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">First
                        DNS. </p></doc>
            </param>
            <param name="dns2" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Second
                        DNS. </p></doc>
            </param>
            <param name="gateway" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">IPv4
                        gateway. </p></doc>
            </param>
            <param name="gateway_v6" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">IPv6
                        gateway. </p></doc>
            </param>
            <param name="project_id" style="plain" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Project
                        id. </p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/os-networks-create-request.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/os-networks-create-response.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
