api-ref/src/wadls/compute-api/src/ext/os-quota-sets.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml"> The
                            ID for the tenant or account in a
                            multi-tenancy cloud. </p></doc>
                </param>
                <resource id="Quotas" path="os-quota-sets">
                    <resource path="{tenant_id}">
                        <param name="tenant_id" style="template"
                            type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The ID for the tenant or account
                                   to act on. </p>
                            </doc>
                        </param>
                        <method href="#showQuota"/>
                        <method href="#updateQuota"/>
                        <resource path="defaults">
                            <method href="#getDefaults"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="getDefaults">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets default
                quotas for a tenant.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="showQuota">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows quotas for a
                tenant.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="updateQuota">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates quotas for
                a tenant.</p>
        </wadl:doc>
        <request>
            <param name="quota_set" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml"> Quotas
                        object. </p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
