api-ref/src/wadls/compute-api/src/ext/os-quota-sets.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:uuid" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or project in a
                            multi-tenancy cloud.</para></wadl:doc>
                </param>
                <resource id="Quotas" path="os-quota-sets">
                    <method href="#showQuota"/>
                    <method href="#updateQuota"/>
                    <resource path="defaults">
                        <method href="#getDefaults"/>
                    </resource>
                    <resource path="user_id={user_id}">
                        <param name="user_id" style="template"
                            type="csapi:UUID" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The user ID.</para>
                            </wadl:doc>
                        </param>
                        <method href="#showQuotaUser"/>
                        <method href="#updateQuotaUser"/>
                        <resource id="detail" path="detail">
                            <method href="#showQuotaDetailUser"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getDefaults">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Default Quotas">
            <para role="shortdesc">Gets default quotas for a
                tenant.</para>
        </wadl:doc>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show Quotas">
            <para role="shortdesc">Shows quotas for a tenant.</para>
        </wadl:doc>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Quotas">
            <para role="shortdesc">Updates quotas for a tenant.</para>
        </wadl:doc>
        <request> &quotaSetsReqParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show Quotas for User"><para role="shortdesc">Shows
                quotas for a specified tenant and user.</para>
        </wadl:doc>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-show-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-show-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="updateQuotaUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Quotas for User">
            <para role="shortdesc">Updates quotas for a specified
                tenant and user.</para>
        </wadl:doc>
        <request> &quotaSetsReqParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &quotaSetsRespParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuotaDetailUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show Quota Details for User"><para role="shortdesc"
                >Shows details for quotas for a specified tenant and
                user.</para>
        </wadl:doc>
        <response status="200"> &quotaSetsRespParameters; <param
                name="in_use" style="plain" required="true"
                type="xsd:int">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The number of items in
                    use.</para></wadl:doc>
            </param>
            <param name="limit" style="plain" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of items permitted for this
                    tenant.</p></doc>
            </param>
            <param name="reserved" style="plain" required="true"
                type="xsd:int">
                <doc xml:lang="EN">
                    <p xmlns="http://www.w3.org/1999/xhtml">The number
                        of reserved items.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-show-detail-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
