api-ref/src/wadls/compute-api/src/ext/os-quota-sets.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:uuid" required="true">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or project in a
                            multi-tenancy cloud.</p></doc>
                </param>
                <resource id="Quotas" path="os-quota-sets">
                    <method href="#showQuota"/>
                    <method href="#updateQuota"/>
                    <resource path="defaults">
                        <method href="#getDefaults"/>
                    </resource>
                    <resource path="user_id={user_id}">
                        <param name="user_id" style="template"
                            type="csapi:UUID" required="true">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The user ID.</p>
                            </doc>
                        </param>
                        <method href="#showQuotaUser"/>
                        <method href="#updateQuotaUser"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getDefaults">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                ><para role="shortdesc">Gets default quotas for a
                tenant.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-defaults-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuota">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                ><para role="shortdesc">Shows quotas for a
                tenant.</para>
        </wadl:doc>
        <response status="200">
            <param name="quota_set" style="plain" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        quota_set object.</p></doc>
            </param>
            <param name="metadata_items" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of metadata items allowed for each
                        instance.</p></doc>
            </param>
            <param name="injected_file_content_bytes" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes of content allowed for each
                        injected file.</p></doc>
            </param>
            <param name="ram" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        amount of instance RAM in megabytes allowed
                        for each tenant.</p></doc>
            </param>
            <param name="floating_ips" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of floating IP addresses allowed for
                        each tenant.</p></doc>
            </param>
            <param name="key_pairs" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of key pairs allowed for each
                    user.</p></doc>
            </param>
            <param name="instances" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instances allowed for each
                        tenant.</p></doc>
            </param>
            <param name="security_group_rules" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of rules allowed for each security
                        group.</p></doc>
            </param>
            <param name="injected_files" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of injected files allowed for each
                        tenant.</p></doc>
            </param>
            <param name="cores" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instance cores allowed for each
                        tenant.</p></doc>
            </param>
            <param name="fixed_ips " style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of fixed IP addresses allowed for each
                        tenant. Must be equal to or greater than the
                        number of allowed instances.</p></doc>
            </param>
            <param name="injected_file_path_bytes " style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes allowed for each injected file
                        path.</p></doc>
            </param>
            <param name="security_groups" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of security groups allowed for each
                        tenant.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-show-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="updateQuota">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                ><para role="shortdesc">Updates quotas for a
                tenant.</para>
        </wadl:doc>
        <request>
            <param name="quota_set" style="plain" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        quota_set object.</p></doc>
            </param>
            <param name="metadata_items" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of metadata items allowed for each
                        instance.</p></doc>
            </param>
            <param name="injected_file_content_bytes" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes of content allowed for each
                        injected file.</p></doc>
            </param>
            <param name="ram" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        amount of instance RAM in megabytes allowed
                        for each tenant.</p></doc>
            </param>
            <param name="floating_ips" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of floating IP addresses allowed for
                        each tenant.</p></doc>
            </param>
            <param name="key_pairs" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of key pairs allowed for each
                    user.</p></doc>
            </param>
            <param name="instances" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instances allowed for each
                        tenant.</p></doc>
            </param>
            <param name="security_group_rules" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of rules allowed for each security
                        group.</p></doc>
            </param>
            <param name="injected_files" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of injected files allowed for each
                        tenant.</p></doc>
            </param>
            <param name="cores" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instance cores allowed for each
                        tenant.</p></doc>
            </param>
            <param name="fixed_ips " style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of fixed IP addresses allowed for each
                        tenant. Must be equal to or greater than the
                        number of allowed instances.</p></doc>
            </param>
            <param name="injected_file_path_bytes " style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes allowed for each injected file
                        path.</p></doc>
            </param>
            <param name="security_groups" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of security groups allowed for each
                        tenant.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-update-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showQuotaUser">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                ><para role="shortdesc">Shows quotas for a specified
                tenant and user.</para>
        </wadl:doc>
        <response status="200">
            <param name="quota_set" style="plain" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        quota_set object.</p></doc>
            </param>
            <param name="metadata_items" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of metadata items allowed for each
                        instance.</p></doc>
            </param>
            <param name="injected_file_content_bytes" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes of content allowed for each
                        injected file.</p></doc>
            </param>
            <param name="ram" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        amount of instance RAM in megabytes allowed
                        for each tenant.</p></doc>
            </param>
            <param name="floating_ips" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of floating IP addresses allowed for
                        each tenant.</p></doc>
            </param>
            <param name="key_pairs" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of key pairs allowed for each
                    user.</p></doc>
            </param>
            <param name="instances" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instances allowed for each
                        tenant.</p></doc>
            </param>
            <param name="security_group_rules" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of rules allowed for each security
                        group.</p></doc>
            </param>
            <param name="injected_files" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of injected files allowed for each
                        tenant.</p></doc>
            </param>
            <param name="cores" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instance cores allowed for each
                        tenant.</p></doc>
            </param>
            <param name="fixed_ips " style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of fixed IP addresses allowed for each
                        tenant. Must be equal to or greater than the
                        number of allowed instances.</p></doc>
            </param>
            <param name="injected_file_path_bytes " style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes allowed for each injected file
                        path.</p></doc>
            </param>
            <param name="security_groups" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of security groups allowed for each
                        tenant.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-show-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-show-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="updateQuotaUser">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <para role="shortdesc">Updates quotas for a specified
                tenant and user.</para>
        </wadl:doc>
        <request>
            <param name="quota_set" style="plain" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">A
                        quota_set object.</p></doc>
            </param>
            <param name="metadata_items" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of metadata items allowed for each
                        instance.</p></doc>
            </param>
            <param name="injected_file_content_bytes" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes of content allowed for each
                        injected file.</p></doc>
            </param>
            <param name="ram" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        amount of instance RAM in megabytes allowed
                        for each tenant.</p></doc>
            </param>
            <param name="floating_ips" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of floating IP addresses allowed for
                        each tenant.</p></doc>
            </param>
            <param name="key_pairs" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of key pairs allowed for each
                    user.</p></doc>
            </param>
            <param name="instances" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instances allowed for each
                        tenant.</p></doc>
            </param>
            <param name="security_group_rules" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of rules allowed for each security
                        group.</p></doc>
            </param>
            <param name="injected_files" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of injected files allowed for each
                        tenant.</p></doc>
            </param>
            <param name="cores" style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of instance cores allowed for each
                        tenant.</p></doc>
            </param>
            <param name="fixed_ips " style="plain" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of fixed IP addresses allowed for each
                        tenant. Must be equal to or greater than the
                        number of allowed instances.</p></doc>
            </param>
            <param name="injected_file_path_bytes " style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of bytes allowed for each injected file
                        path.</p></doc>
            </param>
            <param name="security_groups" style="plain"
                required="false" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of security groups allowed for each
                        tenant.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-update-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-update-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-update-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-quota-sets/quotas-user-update-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
