api-ref/src/wadls/compute-api/src/ext/os-services.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="os-services" path="os-services">
                    <method href="#listServices" />
                    <resource path="enable">
                        <method href="#enableScheduling" />
                    </resource>
                    <resource path="disable">
                         <method href="#disableScheduling" />
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="listServices">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists all running services, optionally filtered by host and service name.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-services/services-list-get-resp.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="enableScheduling">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Enables scheduling for a service.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-services/service-enable-put-req.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-services/service-enable-put-resp.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="disableScheduling">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Disables scheduling for a service.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-services/service-disable-put-req.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-services/service-disable-put-resp.json" />
                </doc>
            </representation>
        </response>
    </method>
</application>
