api-ref/src/wadls/compute-api/src/ext/os-server-password.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
             <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template" type="csapi:UUID">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                The UUID for the server of interest to you.
                            </p>
                            </doc>
                        </param>
                        <resource id="os-server-password" path="os-server-password">
                            <method href="#getPassword" />
                            <method href="#resetPassword" />
                        </resource>
                    </resource>
                </resource>
        </resource>
    </resources>

    <method name="GET" id="getPassword">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
               Gets the administrative password for a specified server.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-server-password/get-password-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-server-password/get-password-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="resetPassword">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Resets the administrative password for a specified server.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-server-password/server-post-req.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-server-password/server-post-req.xml" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-server-password/server-post-resp.json" />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-server-password/server-post-resp.xml" />
                </doc>
            </representation>
        </response>
    </method>
</application>
