api-ref/src/wadls/compute-api/src/ext/os-server-OS-EXT-IPS-MAC.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</p>
                    </doc>
                </param>
                <resource id="Servers" path="servers">
                    <method href="#createServer-OS-EXT-IPS-MAC"/>
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you.</p>
                            </doc>
                        </param>
                        <method href="#getServer-OS-EXT-IPS-MAC"/>
                    </resource>
                    <resource id="ServersDetail" path="detail">
                        <method
                            href="#getServersDetailed-OS-EXT-IPS-MAC"
                        />
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServer-OS-EXT-IPS-MAC">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Server">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a server
                with the OS-EXT-IPS-MAC:mac_addr extended
                attribute.</p>
        </wadl:doc>
        <request> &serverCreateParameters; <param
                name="OS-EXT-IPS-MAC:mac_addr" style="plain"
                type="xsd:string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml"
                        >Associated MAC address.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/server-post-req.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/server-post-req.xml"
                    />
                </doc>
            </representation>
        </request>
        <response status="202"> &serverListParameters;
                <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/server-post-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/server-post-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getServer-OS-EXT-IPS-MAC">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show Server Information">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                for a specified server. Includes the
                OS-EXT-IPS-MAC:mac_addr extended attribute.</p>
        </wadl:doc>
        <response status="202"> &serverListParameters; <param
                name="OS-EXT-IPS-MAC:mac_addr" style="plain"
                type="xsd:string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml"
                        >Associated MAC address.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/server-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/server-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getServersDetailed-OS-EXT-IPS-MAC">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Server Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                all servers. Includes the OS-EXT-IPS-MAC:mac_addr
                extended attribute.</p>
        </wadl:doc>
        <response status="202"> &serverListParameters; <param
                name="OS-EXT-IPS-MAC:mac_addr" style="plain"
                type="xsd:string" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml"
                        >Associated MAC address.</p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/servers-detail-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-IPS-MAC/servers-detail-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
