api-ref/src/wadls/compute-api/src/ext/os-used-limits-for-admins.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    
    <resources base="https://servers.api.openstack.com">
        <resource id="version" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:uuid">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        ID for the tenant or account in a
                        multi-tenancy cloud.</p></doc>
                </param>
                <resource id="Limits" path="limits">
                    <resource id="customer_tenantId"
                        path="tenant_id={customer_tenant_id}">
                        <param name="customer_tenant_id"
                            style="template" type="csapi:uuid">
                            <doc><p
                                xmlns="http://www.w3.org/1999/xhtml"
                                >The ID for the tenant for which
                                an administrator wants to get quota
                                information.</p></doc>
                        </param>
                        <method href="#getCustomerLimits"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    
    <method name="GET" id="getCustomerLimits">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Enables administrators to get absolute
                and rate limit information, including information on
                currently used absolute limits, for the specified customer tenant ID.</p>
        </wadl:doc>
        <response status="200"> 
            <representation mediaType="application/json">
                <doc xml:lang="EN"
                    title="Used limits for admins: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-used-limits-for-admin/usedlimitsforadmin-get-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN"
                    title="Used limits for admins: XML response">
                    <xsdxt:code
                        href="../api_samples/os-used-limits-for-admin/usedlimitsforadmin-get-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
    
</application>

