api-ref/src/wadls/compute-api/src/ext/os-virtual-interfaces.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-virtual-interfaces-v2">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The UUID for the server of
                                   interest to you.</para>
                            </wadl:doc>
                        </param>
                        <resource path="os-virtual-interfaces"
                            id="os-virtual-interfaces">
                            <method href="#getVirtualInterfaces"/>
                            <method href="#getVirtualInterfacesShowWhichNetwork"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getVirtualInterfaces">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List virtual interfaces">
            <para role="shortdesc">Lists the virtual interfaces for a
                specified instance.</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-virtual-interfaces/vifs-list-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-virtual-interfaces/vifs-list-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVirtualInterfacesShowWhichNetwork">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show virtual interface and attached network">
            <para role="shortdesc">Shows the virtual interface for for a specified
                instance. Includes the <literal>OS-EXT-VIF-NET:net_id</literal>
                attribute that shows to which network the interface is attached.</para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-VIF-NET/vifs-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/OS-EXT-VIF-NET/vifs-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
