api-ref/src/wadls/compute-api/src/ext/os-volume_attachments.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent os-compute-1.1.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/api/compute/2.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com"
        xml:id="os-volume-attachments-v2">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The ID for the tenant or account in a
                            multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The UUID for the server of
                                   interest to you.</para></wadl:doc>
                        </param>
                        <resource path="os-volume_attachments"
                            type="#Volumes" id="os-volume-attachments">
                            <resource path="{attachment_id}"
                                type="#VolumeAttachmentList"
                                id="attachment_id">
                                <param name="attachment_id"
                                   style="template" type="xsd:string">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">
                                   <para>Volume attachment
                                   ID.</para></wadl:doc>
                                </param>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    <resource_type id="Volumes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Volume attachment list">
            <para>A list of volume attachments associated with a
                server.</para></wadl:doc>
        <method href="#attachVolume"/>
        <method href="#listVolumeAttachments"/>
    </resource_type>
    <resource_type id="VolumeAttachmentList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Volume attachment list">
            <para>A list of volume attachments associated with a
                server.</para></wadl:doc>
        <method href="#getVolumeAttachmentDetails"/>
        <method href="#deleteVolumeAttachment"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--****************************************************** -->
    <!-- Volume Actions -->
    <method name="POST" id="attachVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Attach volume">
            <para role="shortdesc">Attaches a volume to the specified
                server.</para></wadl:doc>
        <request>
            <param name="volumeId" style="template" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>ID of the volume to attach.
                    </para></wadl:doc>
            </param>
            <param name="device" style="template" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>Name of the device such as, /dev/vdb. Use
                        "auto" for auto-assign (if
                    supported).</para></wadl:doc>
            </param>
            <param name="volumeAttachment" style="template"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>A dictionary representation of a volume
                        attachment.</para></wadl:doc>
            </param>
            <representation mediaType="application/xml"
                element="csapi:attachvolume">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/attach-volume-to-server-req.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/attach-volume-to-server-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml"
                element="csapi:attachvolume">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/attach-volume-to-server-resp.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/attach-volume-to-server-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="GET" id="listVolumeAttachments">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volume attachments">
            <para role="shortdesc">Lists the volume attachments for a
                specified server.</para></wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:attachvolume"/>
            <representation mediaType="application/json"
                element="csapi:attachvolume"/>
        </request>
        <response status="202">
            <representation mediaType="application/xml"
                element="csapi:attachvolume">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/list-volume-attachments-resp.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/list-volume-attachments-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="GET" id="getVolumeAttachmentDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume attachment details">
            <para role="shortdesc">Shows details for the specified
                volume attachment.</para></wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:attachvolume"/>
            <representation mediaType="application/json"
                element="csapi:attachvolume"/>
        </request>
        <response status="202">
            <representation mediaType="application/xml"
                element="csapi:attachvolume">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/volume-attachment-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-volumes/volume-attachment-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="DELETE" id="deleteVolumeAttachment">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume attachment">
            <para role="shortdesc">Deletes the specified volume
                attachment from a specified server. </para></wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="csapi:attachvolume"/>
            <representation mediaType="application/json"
                element="csapi:attachvolume"/>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &inProgressFault; </method>
</application>
