api-ref/src/wadls/compute-api/src/ext/os-virtual-interfaces.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            ID for the tenant or account in a
                            multi-tenancy cloud. </p>
                    </doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you. </p>
                            </doc>
                        </param>
                        <resource path="os-virtual-interfaces">
                            <method href="#getVirtualInterfaces"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getVirtualInterfaces">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists the virtual
                interfaces for a specified instance.</p>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-virtual-interfaces/vifs-list-resp.json"
                    />
                </doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-virtual-interfaces/vifs-list-resp.xml"
                    />
                </doc>
            </representation>
        </response>
    </method>
</application>
