api-ref/src/wadls/netconn-api/src/wadl/lbaas-v2.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent lbaas-v2.0.wadl                 -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/" xml:id="os-lbaas-v2.0">
        <resource id="version" path="//v2.0/lbaas">
            <resource id="loadbalancers" path="loadbalancers">
                <method href="#listLoadBalancersv2"/>
                <method href="#createLoadBalancerv2"/>
                <resource id="lb_id" path="{loadbalancer_id}">
                    <method href="#showLoadBalancerv2"/>
                    <resource id="loadbalancer_id" path="statuses">
                       <method href="#showLoadBalancerStatusTree"/>
                    </resource>
                    <method href="#updateLoadBalancerv2"/>
                    <method href="#deleteLoadBalancerv2"/>
                </resource>
            </resource>
            <resource id="Listeners" path="listeners">
                <method href="#listListenersv2"/>
                <method href="#createListenerv2"/>
                <resource id="listener_id" path="{listener_id}">
                    <method href="#showListenerv2"/>
                    <method href="#updateListenerv2"/>
                    <method href="#deleteListenerv2"/>
                </resource>
            </resource>
            <resource id="lb-pools" path="pools">
                <method href="#listPoolsv2"/>
                <method href="#createPoolv2"/>
                <resource id="pool_id" path="{pool_id}">
                    <method href="#showPoolv2"/>
                    <method href="#updatePoolv2"/>
                    <method href="#deletePoolv2"/>
                    <resource id="lb-members" path="members">
                        <method href="#listMembersv2"/>
                        <method href="#createMemberv2"/>
                        <resource id="member_id" path="{member_id}">
                            <method href="#showMemberv2"/>
                            <method href="#updateMemberv2"/>
                            <method href="#deleteMemberv2"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="lb-health_monitors" path="health_monitors">
                <method href="#createHealthMonitorv2"/>
                <method href="#listHealthMonitorsv2"/>
                <resource id="health_monitor_id_hm" path="{health_monitor_id}">
                    <method href="#showHealthMonitorv2"/>
                    <method href="#updateHealthMonitorv2"/>
                    <method href="#deleteHealthMonitorv2"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- load balancer -->
    <method name="GET" id="listLoadBalancersv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List load balancers">
            <para role="shortdesc">
                Lists all load balancers for the tenant account.
            </para>
            <para>
                The list might be empty. Each load balancer element in the
                list can contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code></para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>vip_subnet_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>vip_address</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>listeners</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>provisioning_status</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>operating_status</code>
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/loadbalancers-list-response.json"/>
                </wadl:doc> &loadbalancersObject; &lbResponseParameters;</representation>
        </response> &fault401; &fault500; &fault503;</method>
    <method name="GET" id="showLoadBalancerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show load balancer details">
            <para role="shortdesc">
                Shows details for a load balancer.
            </para>
            <para>
                This operation returns a load balancer object, by ID. If you
                are not an administrative user and the load balancer object
                does not belong to your tenant account, the service returns
                the HTTP <code>Forbidden (403)</code> response code.
            </para>
            <para>
                If this operation succeeds, it returns a load balancer element
                that can contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>vip_subnet_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>vip_address</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>listeners</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>provisioning_status</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>operating_status</code>
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/loadbalancer-show-response.json"/>
                </wadl:doc> &loadbalancerObject; &lbResponseParameters; </representation>
        </response> &fault401; &fault403; &fault404; &fault409; &fault413; &fault500; &fault503; </method>
    <method name="POST" id="createLoadBalancerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create load balancer">
            <para role="shortdesc">
                Creates a load balancer.
            </para>
            <para>
                This operation provisions a new load balancer by using the
                configuration that you define in the request object. After the
                API validates the request and starts the provisioning process,
                the API returns a response object that contains a unique ID
                and the status of provisioning the load balancer.
            </para>
            <para>
                In the response, the load balancer provisioning status is
                <code>ACTIVE</code>, <code>PENDING_CREATE</code>, or
                <code>ERROR</code>.
            </para>
            <para>
                If the status is <code>PENDING_CREATE</code>, issue &GET;
                <code>/lbaas/loadbalancers/loadbalancer_id</code> to view the
                progress of the provisioning operation. When the load balancer
                status changes to <code>ACTIVE</code>, the load balancer is
                successfully provisioned and operational for traffic handling.
            </para>
            <para>
                If the API cannot fulfill the request due to insufficient data
                or data that is not valid, the service returns the HTTP
                <code>Bad Request (400)</code> response code with information
                about the failure in the response body. Validation errors
                require that you correct the error and submit the request
                again.
            </para>
            <para>
                You can configure all documented features of the load balancer
                at creation time by specifying the additional elements or
                attributes in the request.
            </para>
            <para>
                Administrative users can specify a tenant ID that is different
                than their own to create load balancers for other tenants.
            </para>
            <para><emphasis role="bold">Example: Create a load balancer</emphasis></para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>tenant_id</code>. Admin only. Required to create a load
                        balancer for another tenant.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>vip_subnet_id</code>. The network on which to
                        allocate the VIP address for the load balancer. A tenant can only create load
                        balancer VIPs on networks that the policy authorizes, such as her own networks
                        or shared or provider networks.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Some attributes receive default values if you omit them from the request:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>admin_state_up</code>. Default is <code>true</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>. Default is an empty string.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>. Default is an empty string.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                If the API cannot fulfill the request due to insufficient data or
                data that is not valid, the service returns the HTTP <code>Bad
                Request (400)</code> response code with information about the
                failure in the response body. Validation errors require that
                you correct the error and submit the request again.
            </para>
            <para>
                You can configure all documented features of the load balancer
                at creation time by specifying the additional elements or
                attributes in the request.
            </para>
            <para>
                Administrative users can specify a tenant ID that is different
                than their own to create load balancers for other tenants.
            </para>
            <para>
                If you own the subnet where you want to create the load
                balancer VIP, you can specify a <code>vip_address</code>
                attribute. If you omit the <code>vip_address</code> attribute
                from the payload, the LBaaS service allocates a VIP address
                from the subnet of the load balancer VIP.
            </para>
            <para>
                You can also specify the <code>provider</code> attribute when
                you create a load balancer. You can set this attribute to any
                service provider with a <code>LOADBALANCER</code> service
                type.
            </para>
            <para>Example: Create a load balancer</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/loadbalancer-create-request.json"/>
                </wadl:doc>
                &lbCreateRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/loadbalancer-create-response.json"/>
                </wadl:doc>
                &loadbalancerObject; &lbResponseParameters;
            </representation>
        </response> &fault401; &fault404; &fault409; &fault413; &fault500; &fault503;
    </method>
    <method name="PUT" id="updateLoadBalancerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update load balancer">
            <para role="shortdesc">
                Updates a load balancer.
            </para>
            <para>
                If the request is valid, the service returns the
                <code>Accepted (202)</code> response code. To confirm the
                update, check that the load balancer provisioning status is
                <code>ACTIVE</code>. If the status is
                <code>PENDING_UPDATE</code>, use a &GET; operation to poll the
                load balancer object for changes.
            </para>
            <para>
                You can change one or more of these load balancer attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                This operation returns the updated load balancer object with
                the <code>ACTIVE</code>, <code>PENDING_UPDATE</code>, or
                <code>ERROR</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/loadbalancer-update-request.json"/>
                </wadl:doc>
                &loadbalancerObject; &lbUpdateRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/loadbalancer-update-response.json"/>
                </wadl:doc>
                &loadbalancerObject; &lbResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503;
    </method>
    <method name="DELETE" id="deleteLoadBalancerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove load balancer">
            <para role="shortdesc">
                Removes a load balancer and its associated configuration from
                the tenant account.
            </para>
            <para>
                The API immediately purges any and all configuration data. You
                cannot recover it.
            </para>
            <para>Example: Delete a load balancer</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
     <method name="GET" id="showLoadBalancerStatusTree">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show load balancer status tree">
            <para role="shortdesc">
                Shows the status tree for a load balancer.
            </para>
            <para>
                This operation returns a status tree for a load balancer
                object, by load balancer ID. If you are not an
                administrative user and the load balancer object does not
                belong to the tenant account, the API returns the
                <code>Forbidden (403)</code> response code.
            </para>
            <para>
                If the operation succeeds, the returned element is a status
                tree that contains the load balancer and all provisioning
                and operating statuses for its children.
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>listeners</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>pools</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>members</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>healthmonitor</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>provisioning_status</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>operating_status</code>
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/loadbalancer-status-tree.json"/>
                </wadl:doc>
                &lbstatusestreeResponseParameters;</representation>
        </response> &fault401;&fault403;&fault413; &fault500; &fault503;</method>
    <!--Listeners-->
    <method name="POST" id="createListenerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create listener">
            <para role="shortdesc">
                Creates a listener.
            </para>
            <para>
                This operation provisions a new listener by using the
                configuration that you define in the request object. After the
                request is validated and the provisioning process begins, a
                response object is returned. The object contains a unique
                identifier.
            </para>
            <para>
                At a minimum, you must specify these listener attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>tenant_id</code>. Admin only. Required to create a listener for another tenant.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>loadbalancer_id</code>. The load balancer on
                        which to provision this listener. A tenant can only
                        create listeners on load balancers that the policy authorizes. For example,
                        her own load balancers.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>. The load balancer description.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol</code>. The protocol for which the
                        front end listens. Must be <code>HTTP</code>, <code>HTTPS</code>,
                        <code>TCP</code>, or <code>TERMINATED_HTTPS</code>.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Some attributes receive default values if you omit them from the request:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>protocol_port</code>. The port on which the
                        front end listens. Must be an integer from 1 to 65535.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>default_tls_container_ref</code>. The reference
                        to a container that holds TLS secrets. If you also specify
                        <code>sni_container_refs</code>, this container is the default. This parameter
                        is required for the <code>TERMINATED_HTTPS</code>
                        protocol.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>sni_container_refs</code>. A list of references
                        to containers that hold TLS secrets for server name indication
                        (SNI). This parameter is required for the <code>TERMINATED_HTTPS</code>
                        protocol.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>. Default is <code>true</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>. Default is an empty string.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>. Default is an empty string.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>connection_limit</code>. Default is
                        <code>-1</code>, which indicates an infinite limit.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                If the API cannot fulfill the request due to insufficient data
                or data that is not valid, the service returns the HTTP
                <code>Bad Request (400)</code> response code with information
                about the failure in the response body. Validation errors
                require that you correct the error and submit the request
                again.
            </para>
            <para>
                You can configure all documented features of the listener at
                creation time by specifying the additional elements or
                attributes in the request.
            </para>
            <para>
                Administrative users can specify a tenant ID that is different
                than their own to create listeners for other tenants.
            </para>
            <para>
                To update a listener, the load balancer to which to attach
                must have an <code>ACTIVE</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/listener-create-request.json"/>
                </wadl:doc>
                &listenerRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/listener-create-response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; &fault409; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="listListenersv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List listeners">
            <para role="shortdesc">
                Lists all listeners.
            </para>
            <para>
                This operation lists all listeners that are associated with
                your tenant account.
            </para>
            <para>
                The list might be empty. Each listener element in the list can
                contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol_port</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>connection_limit</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>default_pool_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>loadbalancers</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>default_tls_container_ref</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>sni_container_refs</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>Example: List listeners</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/listeners-list-response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; &fault500; &fault503; </method>
    <method name="GET" id="showListenerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show listener details">
            <para role="shortdesc">
                Shows details for a listener.
            </para>
            <para>
                This operation returns a listener object, by ID. If
                you are not an administrative user and the listener object
                does not belong to your account, the API returns the HTTP
                <code>Forbidden (403)</code> response code.
            </para>
            <para>
                This operations returns a listener element that
                can contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol_port</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>connection_limit</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>default_pool_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>loadbalancers</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>default_tls_container_ref</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>sni_container_refs</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>Example: Show listener details</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/listener-show-response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401; &fault403; &fault404; &fault409; &fault413; &fault500; &fault503;</method>
    <method name="PUT" id="updateListenerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update listener">
            <para role="shortdesc">
                Updates a listener.
            </para>
            <para>
                This operation updates the attributes of a listener.
                Upon successful validation of the request, the service returns
                the HTTP <code>Accepted (202)</code> response code.
            </para>
            <para>
                Use the update operation to change one or more of these
                listener attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>connection_limit</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>default_tls_container_ref</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>sni_container_refs</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Note: You cannot update the <code>listener_id</code>,
                <code>tenant_id</code>, <code>loadbalancer_id</code>,
                <code>loadbalancers</code>, <code>default_pool_id</code>,
                <code>protocol</code>, and <code>protocol_port</code>
                attributes. Attempting to update an immutable attribute
                results in the HTTP <code>Immutable (422)</code> response
                code.
            </para>
            <para>
                Note: You cannot update a listener if the load balancer to
                which the listener is attached does not have an
                <code>ACTIVE</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/listener-update-request.json"/>
                </wadl:doc>
                &listenerRequestParameters;
            </representation>
        </request>
        <response status="200"><representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/listener-update-response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault500; &fault503; &fault401; &fault400;&fault413;</method>
    <method name="DELETE" id="deleteListenerv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove listener">
            <para role="shortdesc">
                Removes a listener.
            </para>
            <para>
                This operation removes a listener and its associated
                configuration from the tenant account. The API immediately
                purges any and all configuration data. You cannot recover it.
            </para>
            <para>
                You cannot delete a listener if the load balancer to which it
                is attached does not have an <code>ACTIVE</code> provisioning status.
            </para>
            <para>Example: Delete a listener</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault409; &fault413; &fault500; &fault503; </method>
    <!-- pool -->
    <method name="POST" id="createPoolv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create pool">
            <para role="shortdesc">
                Creates a pool.
            </para>
            <para>
                This operation provisions a pool by using the
                configuration that you define in the request object. After the
                API validates the request and starts the provisioning process,
                the API returns a response object, which contains a
                unique ID.
            </para>
            <para>
                At a minimum, you must specify these pool attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>tenant_id</code>. Admin only. Required to create a pool
                        for another tenant.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol</code>. The protocol for which this
                        pool and its members listen. A valid value is <code>TCP</code>,
                        <code>HTTP</code>, or <code>HTTPS</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>lb_algorithm</code>. The load-balancer
                        algorithm, such as <code>ROUND_ROBIN</code>, <code>LEAST_CONNECTIONS</code>,
                        and <code>SOURCE_IP</code>, that distributes traffic to the pool members. The
                        load-balancer provider must support this algorithm.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>listener_id</code>. The UUID of the listener in
                        which this pool becomes the default pool. Each
                        listener has only one default pool.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Some attributes receive default values if you omit them from the request:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>admin_state_up</code>. Default is <code>true</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>. Default is an empty string.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>. Default is an empty string.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>session_persistence</code>. Default is an empty dictionary.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                If the API cannot fulfill the request due to insufficient data
                or data that is not valid, the service returns the HTTP
                <code>Bad Request (400)</code> response code with information
                about the failure in the response body. Validation errors
                require that you correct the error and submit the request
                again.
            </para>
            <para>
                Users can configure all documented features at creation time
                by providing the additional elements or attributes in the
                request.
            </para>
            <para>
                Administrative users can specify a tenant ID that is different
                than their own to create pools for other tenants.
            </para>
            <para>
                To update a pool, the load balancer to which to attach must
                have an <code>ACTIVE</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-create-request.json"/>
                </wadl:doc>
                &poolCreateRequestParametersv2;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-create-response.json"/>
                </wadl:doc>
                &poolObject; &poolcreateResponseParameters;
            </representation>
        </response> &fault401; &fault404; &fault409; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="listPoolsv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List pools">
            <para role="shortdesc">
                Lists all pools that are associated with your
                tenant account.
            </para>
            <para>
                The list might be empty. Each pool element in the list can contain
                these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>lb_algorithm</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>session_persistence</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>listeners</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>members</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>health_monitor_id</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>Example: List pools</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pools-list-response.json"/>
                </wadl:doc>
                &poolResponseParametersv2;
            </representation>
        </response> &fault401; &fault500; &fault503;</method>
    <method name="GET" id="showPoolv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show pool details">
            <para role="shortdesc">
                Shows details for a pool.
            </para>
            <para>
                This operation shows details for a pool, by ID. If you
                are not an administrative user and the pool object does not
                belong to your tenant account, the call returns the HTTP
                <code>Forbidden (403)</code> response code.
            </para>
            <para>
                If this operation succeeds, it returns a <code>pool</code>
                element that can contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>lb_algorithm</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>session_persistence</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>listeners</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>members</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>health_monitor_id</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>Example: Show pool details</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"><wadl:doc
                    xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-show-response.json"/>
                </wadl:doc>
                &poolResponseParametersv2;
            </representation>
        </response> &fault401; &fault403; &fault404; &fault409; &fault413; &fault500; &fault503;
    </method>
    <method name="PUT" id="updatePoolv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update pool">
            <para role="shortdesc">
                Updates a pool.
            </para>
            <para>
                This operation updates the attributes of a pool.
                Upon successful validation of the request, the service returns
                the HTTP <code>Accepted (202)</code> response code.
            </para>
            <para>
                You can change one or more
                of these pool attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>name</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>description</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>lb_algorithm</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>session_persistence</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Note: You cannot update the pool UUID, <code>tenant_id</code>,
                <code>listener_id</code>, <code>listeners</code>,
                <code>health_monitor_id</code>, <code>protocol</code>, and
                <code>members</code> immutable attributes. If you try to
                update any of these attributes, the service returns the HTTP
                <code>Immutable (422)</code> response code.
            </para>
            <para>
                Note: You cannot update a pool if the load balancer to which
                it is attached does not have an <code>ACTIVE</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-update-request.json"/>
                </wadl:doc>
                &poolObject; &poolUpdateRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-update-response.json"/>
                </wadl:doc>
                &poolResponseParametersv2;
            </representation>
        </response>  &fault400; &fault401; &fault413; &fault500; &fault503;</method>
    <method name="DELETE" id="deletePoolv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove pool">
            <para role="shortdesc">
                Removes a pool.
            </para>
            <para>
                This operation removes a pool and its associated configuration
                from the tenant account. The API immediately purges any and
                all configuration data. You cannot recover it.
            </para>
            <para>
                You cannot delete a pool if the load balancer to which it is
                attached does not have an <code>ACTIVE</code> provisioning
                status.
            </para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault409; &fault413; &fault500; &fault503; </method>
    <!-- member -->
    <method name="POST" id="createMemberv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add member to pool">
            <para role="shortdesc">Adds a member to a pool.</para>
            <para>
                This operation provisions a member and adds it to a pool
                by using the configuration that you define in the request
                object. After the API validates the request and starts the
                provisioning process, it returns a response object, which
                contains a unique ID.
            </para>
            <para>
                At a minimum, you must specify these pool attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>tenant_id</code>. Admin only. Required to create a pool for
                        another tenant.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>address</code>. The IP address of the member to
                        receive traffic from the load balancer.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol_port</code> The port on which the member listens for traffic.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Some attributes receive default values if you omit them from the request:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>admin_state_up</code>. Default is <code>true</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>weight</code>. Default is <code>1</code>.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                If you omit the <code>subnet_id</code> parameter, LBaaS
                uses the <code>vip_subnet_id</code> parameter value for the subnet UUID.
            </para>
            <para>
                If the request fails due to incorrect data, the service
                returns the HTTP <code>Bad Request (400)</code> response code
                with information about the failure in the response body.
                Validation errors require that you correct the error and
                submit the request again.
            </para>
            <para>
                To configure all documented member features at creation time,
                specify additional elements or attributes in the request.
            </para>
            <para>
                Administrative users can specify a tenant ID that is different
                than their own to create members for other tenants.
            </para>
            <para>
                To update a member, the load balancer must have an
                <code>ACTIVE</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Add member to a pool: JSON request">
                    <xsdxt:code href="../samples/lbaas/member-create-request.json"/>
                </wadl:doc> &memberObject; &memberCreatev2RequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/member-create-response.json"/>
                </wadl:doc> &memberObject; &membercreateResponseParameters; </representation>
        </response> &fault401; &fault404; &fault409; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="listMembersv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List pool members">
            <para role="shortdesc">
                Lists members of a pool.
            </para>
            <para>
                Lists all members that are associated with a pool that is
                associated with your tenant account. The list of members
                includes only members that belong to the pool object
                identified by <code>pool_id</code>.
            </para>
            <para>
                The list might be empty. Each member element in the list can
                contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>address</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol_port</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>weight</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>subnet_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>Example: List pool members</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-members-list-response.json"/>
                </wadl:doc> &membersObject; &memberResponseParameters; </representation></response> &fault401;
        &fault503; &fault500;</method>
    <method name="GET" id="showMemberv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show pool member details">
            <para role="shortdesc">
                Shows details for a pool member.
            </para>
            <para>
                This operation returns a member object identified by
                <code>member_id</code> that belongs to a pool object
                identified by <code>pool_id</code>. If you are not an
                administrative user and the pool or member object does not
                belong to your tenant account, the service returns the HTTP
                <code>Forbidden (403)</code> response code.
            </para>
            <para>
                If this operation succeeds, it returns a pool element that can
                contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>address</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>protocol_port</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>weight</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>subnet_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>Example: Show pool member details</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/member-show-response.json"/>
                </wadl:doc> &memberObject; &memberResponseParameters; </representation>
        </response>&fault401; &fault403; &fault404;&fault409;&fault413;&fault500;&fault503;
    </method>
    <method name="PUT" id="updateMemberv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update pool member">
            <para role="shortdesc">
                Updates attributes for a pool member.
            </para>
            <para>
                Upon successful validation of the request, the service returns
                the HTTP <code>OK (200)</code> response code.
            </para>
            <para>
                You can change one or more of
                these pool attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>weight</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Note: You cannot update the member UUID, <code>tenant_id</code>,
                <code>address</code>, <code>protocol_port</code>, and
                <code>subnet_id</code> attributes. If you attempt to update
                any of these attributes, the service returns the HTTP
                <code>Immutable (422)</code> response code.
            </para>
            <para>
                Note: You cannot update a member if the attached load balancer
                does not have an <code>ACTIVE</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/member-update-request.json"/>
                </wadl:doc> &memberObject; &memberUpdateRequestParameters; </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"><wadl:doc
                    xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/member-update-response.json"/>
                </wadl:doc> &memberObject; &memberResponseParameters; </representation>
        </response> &fault400; &fault401;  &fault413; &fault500; &fault503; </method>
    <method name="DELETE" id="deleteMemberv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove member from pool">
            <para role="shortdesc">
                Removes a member from a pool and its associated
                configuration from the tenant account.
            </para>
            <para>
                The API immediately purges any and all configuration data. You
                cannot recover it.
            </para>
            <para>
                You cannot delete a member if the attached load balancer does
                not have an <code>ACTIVE</code> provisioning status.
            </para>
            <para>Example: Remove a member from a pool</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault409; &fault413; &fault500; &fault503; </method>
    <!-- health Monitor -->
    <method name="POST" id="createHealthMonitorv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create health monitor">
            <para role="shortdesc">
                Creates a health monitor.
            </para>
            <para>
                This operation provisions a health monitor by using the
                configuration that you define in the request object. After the
                API validates the request and start the provisioning process,
                it returns a response object. The object contains a unique
                identifier.
            </para>
            <para>
                At a minimum, you must specify these health monitor attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>tenant_id</code>. Admin only. Required to create a health
                        monitor for another tenant.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>type</code>. The type of health monitor. A valid value is
                        <code>TCP</code>, <code>HTTP</code>, or
                        <code>HTTPS</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>delay</code>. The interval, in seconds, between health checks.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>timeout</code>. The time, in seconds, after which a health check times out.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>max_retries</code>. Number of failed health checks before marked as OFFLINE.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>pool_id</code>. The pool to monitor.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Some attributes receive default values if you omit them from
                the request, and are only useful when you specify a health
                monitor type of HTTP(S):
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>http_method</code>. Default is <code>GET</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>url_path</code>. Default is <code>/</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>expected_codes</code>. The expected HTTP status codes to get from a successful health check. Default is <code>200</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>. Default is <code>true</code>.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                If the API cannot fulfill the request due to insufficient data
                or data that is not valid, it returns the <code>Bad Request
                (400)</code> response code with information about the nature
                of the failure in the response body. Failures in the
                validation process are non-recoverable and require that you
                correct the cause of the failure and submit the request again.
            </para>
            <para>
                You can configure all documented features of the health
                monitor at creation time by specifying the additional elements
                or attributes in the request.
            </para>
            <para>
                Administrative users can specify a tenant ID that is different
                than their own to create health monitors for other tenants.
            </para>
            <para>
                To update a health monitor, the load balancer to which to
                attach must have an <code>ACTIVE</code> provisioning status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"><wadl:doc
                    xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/healthmonitor-create-request.json"/>
                </wadl:doc> &health_monitorObject; &hmCreateRequestParameters; </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/healthmonitor-create-response.json"/>
                </wadl:doc> &health_monitorObject; &hmResponseParameters; </representation>
        </response> &fault401; &fault404; &fault409; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="listHealthMonitors">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List health monitors">
            <para role="shortdesc">Lists health monitors.</para>
            <para>
                This operation lists all health monitors that are associated
                with your tenant account.
            </para>
            <para>
                This operation returns a list, which might be empty. Each
                health monitor element in the list can contain these
                attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>type</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>delay</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>timeout</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>max_retries</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>http_method</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>url_path</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>expected_codes</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>pool_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code> pools</code>
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/healthmonitors-list-response.json"/>
                </wadl:doc> &health_monitorsObject; &hmResponseParameters; </representation>
        </response> &fault401; &fault500; &fault503;</method>
    <method name="GET" id="showHealthMonitorv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show health monitor details">
            <para role="shortdesc">Shows details for a health monitor.</para>
            <para>
                This operation returns a health monitor object, by health
                monitor ID. If you are not an administrative user and the
                health monitor object does not belong to your tenant account,
                the service returns the HTTP <code>Forbidden (403)</code>
                response code.
            </para>
            <para>
                If this operation succeeds, it returns a health monitor
                element that can contain these attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>tenant_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>type</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>delay</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>timeout</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>max_retries</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>http_method</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>url_path</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>expected_codes</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>pool_id</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code> pools</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>Example: Show health monitor details</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/healthmonitor-show-response.json"/>
                </wadl:doc> &health_monitorObject; &hmResponseParameters; </representation>
        </response> &fault401; &fault403; &fault404; &fault409; &fault413; &fault500; &fault503;
    </method>
    <method name="PUT" id="updateHealthMonitorv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update health monitor">
            <para role="shortdesc">Updates a health monitor.</para>
            <para>
                Upon successful validation of the request, the
                service returns the HTTP <code>Accepted (202)</code> response code.
            </para>
            <para>
                You can change one or more of these health monitor attributes:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>delay</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>timeout</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>max_retries</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>http_method</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>url_path</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>expected_codes</code>
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>admin_state_up</code>
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                Note: The health monitor UUID, <code>tenant_id</code>,
                <code>pool_id</code>, and type are immutable attributes and
                cannot be updated. If you specify an unsupported attribute,
                the service returns the HTTP <code>Immutable (422)</code>
                response code.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/healthmonitor-update-request.json"/>
                </wadl:doc> &health_monitorObject; &hmUpdateRequestParameters; </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/healthmonitor-update-response.json"/>
                </wadl:doc> &health_monitorObject; &hmResponseParameters; </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="DELETE" id="deleteHealthMonitorv2">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Remove health monitor">
            <para role="shortdesc">
                Removes a health monitor and its
                associated configuration from the tenant account.
            </para>
            <para>
                The API immediately purges any and all configuration data. You cannot recover it.
            </para>
            <para>
                You cannot delete a health monitor if the attached load
                balancer does not have an <code>ACTIVE</code> provisioning
                status.
            </para>
            <para>Example: Delete a health monitor</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault409; &fault413; &fault500; &fault503; </method>
</application>
