api-ref/src/wadls/netconn-api/src/wadl/networks-provider.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent networks-provider.wadl          -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/"
        xml:id="os-networks-provider-ext-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="ProviderNetworks" path="networks">
                <method href="#listProviderNetworks"/>
                <method href="#createProviderNetwork"/>
                <resource path="{network_id}" id="network_id">
                    &network_idTemplateParameter;
                    <method href="#showProviderNetwork"/>
                    <method href="#updateProviderNetwork"/>
                    <method href="#deleteProviderNetwork"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listProviderNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">
                Lists networks.
            </para>
            <para>
                The provider extension decorates network resources with
                additional attributes. These attributes are
                <code>provider:network_type</code>,
                <code>provider:physical_network</code>, and
                <code>provider:segmentation_id</code>. You cannot use both
                this extension and the <link
                xlink:href="http://developer.openstack.org/api-ref-networking-v2.html#network_multi_provider-ext">Networks
                multiple provider extension</link> at the same time.
            </para>
        </wadl:doc>
        <response status="200"> &networkProviderListResponseParams;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/networks-provider-list-response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Create network" xml:lang="EN">
            <para role="shortdesc">
                Creates a network.
            </para>
        </wadl:doc>
        <request> &networkObject; &networkCommonRequestParams;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-create-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201"> &networkCreateResponseParams;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-provider-create-response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401;
    </method>
    <method name="GET" id="showProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Show network details">
            <para role="shortdesc">
                Shows details for a network.
            </para>
            <para>
                The provider extension decorates network resources with
                additional attributes. These attributes are
                <code>provider:network_type</code>,
                <code>provider:physical_network</code>, and
                <code>provider:segmentation_id</code>. You cannot use both
                this extension and the <link
                xlink:href="http://developer.openstack.org/api-ref-networking-v2.html#network_multi_provider-ext">Networks
                multiple provider extension</link> at the same time.
            </para>
        </wadl:doc>
        <response status="200"> &networkShowResponseParams;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-provider-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404;
    </method>
    <method name="PUT" id="updateProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Update network">
            <para role="shortdesc">
                Updates a network.
            </para>
        </wadl:doc>
        <request> &networkObject; &networkCommonRequestParams;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &networkUpdateResponseParams;
            &networkProviderParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-provider-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault404;
    </method>
    <method name="DELETE" id="deleteProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Delete network">
            <para role="shortdesc">
                Deletes a network.
            </para>
        </wadl:doc>
        <response status="204"></response> &fault401; &fault404; &fault409;
    </method>
</application>
