api-ref/src/wadls/netconn-api/src/wadl/routers.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent routers.wadl                    -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
  xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
  xmlns:linkend="http://www.w3.org/1999/linkend"
  xmlns:wadl="http://wadl.dev.java.net/2009/02"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <!--*******************************************************-->
   <!--             All Resources                             -->
   <!--*******************************************************-->
   <resources base="https://neutron.example.com/" xml:id="os-routers-v2">
      <resource id="version" path="//v2.0">
         <resource id="routers" path="routers">
            <resource path="{router_id}" id="router_id">
               &router_idTemplateParameter;
               <method href="#updateExtraRoutes" />
            </resource>
         </resource>
      </resource>
   </resources>
   <!--*******************************************************-->
   <!--               All Methods                             -->
   <!--*******************************************************-->
   <method name="PUT" id="updateExtraRoutes">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update extra routes">
         <para role="shortdesc">Updates extra routes on a router.</para>
         <para>
            The next hop IP address must be a part of one of the subnets to
            which the router interfaces are connected. Otherwise, the server
            responds with the <code>Bad Request (400)</code> error code.
         </para>
         <para>
            When a validation error is detected, such as a format error of IP
            address or CIDR, the server responds with the <code>Bad Request
            (400)</code> response code.
         </para>
         <para>
            When Networking receives a request to delete the router
            interface for subnets that are used by one or more routes, it
            responds with a <code>Conflict (409)</code> response code.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/routers/router-update-request.json" />
            </wadl:doc>
            &routerObject;
            &extra-routes-UpdateParameters;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/routers/router-update-response.json" />
            </wadl:doc>
            &routerObject;
            &statusResponseParameter;
            &external-gateway-infoResponseParameter;
            &nameResponseParameter;
            &admin-state-upResponseParameter;
            &tenant_idResponseParameter;
            &routesResponseParameter;
            &router-idResponseParameter;
         </representation>
        </response> &fault400; &fault401; &fault404; &fault409;
    </method>
</application>
