api-ref/src/wadls/netconn-api/src/wadl/security-groups.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent security-groups.wadl            -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://www.w3.org/2001/XMLSchema"
    xmlns:secgr="http://docs.openstack.org/neutron/api/v2.0">
    <grammars>
        <include href="../xsd/secgr.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com/"
        xml:id="security-groups-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="security_groups" path="security-groups">
                <method href="#listSecGroups"/>
                <method href="#createSecGroup"/>
                <resource id="security_group_id"
                    path="{security_group_id}">
                    &security_group_idTemplateParameter;
                    <method href="#showSecGroup"/>
                    <method href="#updateSecGroup"/>
                    <method href="#deleteSecGroup"/>
                </resource>
            </resource>
            <resource id="security_groups_rules"
                path="security-group-rules">
                <method href="#listSecGroupRules"/>
                <method href="#createSecGroupRule"/>
                <resource path="{security-group-rules-id}"
                    id="security-group-rules-id">
                    &security_group_rule_idTemplateParameter;
                    <method href="#showSecGroupRule"/>
                    <method href="#deleteSecGroupRule"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listSecGroups">
        <wadl:doc xml:lang="EN" title="List security groups"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
              Lists OpenStack Networking security groups to which the
              tenant has access.
            </para>
            <para>
              The list shows the UUID for and the rules that are
              associated with each security group.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-groups-list-request-json-http.txt"
                    /></wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupsParameter;
            &securityGroupCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-groups-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create security group">
            <para role="shortdesc">
              Creates an OpenStack Networking security group.
            </para>
            <para>
              This operation creates a security group with default
              security group rules for the IPv4 and IPv6 ether types.
            </para>
        </wadl:doc>
        <request> &securityGroupParameter;
            &securityGroupCreateRequestParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201"> &securityGroupParameter;
            &securityGroupCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401;
    </method>
    <method name="GET" id="showSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show security group">
            <para role="shortdesc">
              Shows details for a security group.
            </para>
            <para>
              The response contains the description, name, UUID, and security
              group rules that are associated with the security group and
              tenant.
            </para>
        </wadl:doc>
        <request> &securityGroupShowRequestParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-show-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupParameter;
            &securityGroupCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404;
    </method>
    <method name="PUT" id="updateSecGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update security group">
         <para role="shortdesc">
            Updates a security group.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN" title="Update security group: JSON request">
               <xsdxt:code href="../samples/security-groups/security-group-update-request.json" />
            </wadl:doc>
            <param name="name" style="plain" type="xsd:string"
               required="true">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Security group name">
                  <para>
                     The security group name.
                  </para>
               </wadl:doc>
            </param>
            <param name="description" style="plain" type="xsd:string"
               required="false">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Security group description">
                  <para>
                     Security group description.
                  </para>
               </wadl:doc>
            </param>
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN" title="Update security group: JSON response">
               <xsdxt:code href="../samples/security-groups/security-group-update-response.json" />
            </wadl:doc>
            &securityGroupObjectParameter;
            &securityGroupResponseParameters;
         </representation>
      </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteSecGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete security group">
            <para role="shortdesc">
              Deletes an OpenStack Networking security group.
            </para>
            <para>
              This operation deletes an OpenStack Networking security
              group and its associated security group rules, provided
              that a port is not associated with the security group.
            </para>
            <para>
              This operation does not require a request body. This
              operation does not return a response body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-delete-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-delete-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404; &fault409;
    </method>
    <method name="GET" id="listSecGroupRules">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List security group rules">
            <para role="shortdesc">
              Lists a summary of all OpenStack Networking security group
              rules that the tenant can access.
            </para>
            <para>
              The list provides the UUID for each security group
              rule.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rules-list-request-json-http.txt"
                        />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupRulesParameter;
            &securityGroupRuleCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rules-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create security group rule">
            <para role="shortdesc">
              Creates an OpenStack Networking security group rule.
            </para>
        </wadl:doc>
        <request> &securityGroupRuleParameter;
            &securityGroupRuleCreateRequestParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rule-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201"> &securityGroupRuleParameter;
            &securityGroupRuleCommonResponseParams;
            <representation
                mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rule-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault404; &fault409;
    </method>
    <method name="GET" id="showSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show security group rule">
            <para role="shortdesc">
              Shows detailed information for a security group
              rule.
            </para>
            <para>
              The response body contains the following information about
              the security group rule:
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rule-show-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &securityGroupRuleParameter;
            &securityGroupRuleCommonResponseParams;
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rule-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404;
    </method>
    <method name="DELETE" id="deleteSecGroupRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete security group rule">
            <para role="shortdesc">
                Deletes a rule from an OpenStack Networking
                security group.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rule-delete-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/security-groups/security-group-rule-delete-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401; &fault404;
    </method>
</application>
