api-ref/src/wadls/image-api/src/v1/wadl/images-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent images-v1.wadl                  -->
<!--*******************************************************-->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/image/api/v1.0">
    <grammars>
        <include href="../../v2/xsd/api.xsd"/>
        <include href="../../v2/xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://glance.example.com/"
        xml:id="os-image-v1.0">
        <resource id="versions" path="/">
            <method href="#listVersions-image-null-v1"/>
            <resource id="versionspath" path="versions">
                <method href="#listVersions-image-v1"/>
            </resource>
        </resource>
        <resource id="version" type="#VersionDetails" path="//v1">
            <resource id="Images" type="#ImageList" path="images">
                <method href="#createImage-v1"/>
                <resource path="detail" type="#DetailImageList"
                    id="detail"/>
                <resource path="{image_id}" id="image_id">
                    &image_idRequestParameter;
                    <method href="#showImage-v1"/>
                    <method href="#showImageHeaders-v1"/>
                    <method href="#updateImage-v1"/>
                    <method href="#deleteImage-v1"/>
                    <resource id="members" path="members">
                        <method href="#replaceMember-v1"/>
                        <resource path="{owner_id}" id="owner-id">
                            &owner_idRequestParameter;
                            <method href="#addMember-v1"/>
                            <method href="#removeMember-v1"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="shared-images" path="shared-images">
                <resource path="{owner_id}" id="owner-2">
                    &owner_idRequestParameter;
                    <method href="#listSharedImages-v1"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    <resource_type id="ImageList">
        <method href="#listImages-v1"/>
    </resource_type>
    <resource_type id="DetailImageList">
        <method href="#listImagesDetailed-v1"/>
    </resource_type>
    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Version details">
            <para>
                Details for a version.
            </para>
        </wadl:doc>
        <method href="#showVersionDetails-image-v1"/>
    </resource_type>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listVersions-image-null-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="List API versions">
            <para role="shortdesc">
                Lists information about all Image service API versions.
            </para>
        </wadl:doc>
        <response status="300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-versions-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listVersions-image-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="List API versions">
            <para role="shortdesc">
                Shows details for the Image service API v1.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-versions-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createImage-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Create image">
            <para role="shortdesc">
                Registers a virtual machine (VM) image.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN" title="Images name">
                        <para>
                            Name for the image. Note that the name of an image
                            is not unique to an Image service node. The API
                            cannot expect users to know the names of images
                            that other users own.
                        </para>
                    </wadl:doc>
                </param>
                &disk_formatRequestParameter;
                &container_formatRequestParameter;
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="createImage" type="ImageForCreate"
                    path="/images"/>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml"
                element="common:version">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN" title="Image Location">
                        <para>A URI location for the image.</para>
                    </wadl:doc>
                    <link resource_type="#createImage" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="PUT" id="updateImage-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Update image">
            <para role="shortdesc">Updates an image, uploads an image
                file, or updates metadata for an image.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml"
                element="common:version">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <link resource_type="#createImage" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="showImage-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Show image details and image binary">
            <para role="shortdesc">Shows the image details as headers
                and the image binary in the body of the
                response.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:image"/>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/images-list-details-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        &fault403;
    </method>
    <method name="DELETE" id="deleteImage-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Delete image">
            <para role="shortdesc">Deletes an image.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="listSharedImages-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="List shared images">
            <para role="shortdesc">
                Lists the VM images that an owner shares. The owner ID is the
                tenant ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:images">
                &image_idRequestParameter;
                &can_shareRequestParameter;
            </representation>
            <representation mediaType="application/json"
                element="imageapi:images">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/shared-images-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listImages-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="List images">
            <para role="shortdesc">Lists all public VM images.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &listImagesQueryParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:images"/>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/images-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listImagesDetailed-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="List images with details">
            <para role="shortdesc">Lists all available
                images with details.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &listImagesQueryParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:images">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="next" style="plain" type="xsd:anyURI"
                    path="/imageapi:images/atom:link[@rel='next']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN" title="Next">
                        <para>Show the next item in the list.</para>
                    </wadl:doc>
                    <link resource_type="#DetailImageList" rel="next"
                    />
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="previous" style="plain" type="xsd:anyURI"
                    path="/imageapi:images/atom:link[@rel='previous']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN" title="Previous">
                        <para>Show the previous item in the
                            list.</para>
                    </wadl:doc>
                    <link resource_type="#DetailImageList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/images-list-details-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="addMember-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Add members to image">
            <para role="shortdesc">
                Adds one or more members to an image.
            </para>
            <para>
                If you omit the request body, this call adds the membership to
                the image, leaves the existing memberships unmodified, and
                sets the <code>can_share</code> attribute to
                <code>false</code> for new memberships.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/image-members-add-request.json"/>
                </wadl:doc>
                &can_shareRequestParameter;
            </representation>
        </request>
        <response status="204"/>
    </method>
    <method name="PUT" id="replaceMember-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Replace member">
            <para role="shortdesc">
                Replaces a membership list for an image.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="memberships" style="plain" required="true"/>
                &can_shareRequestParameter;
                <xsdxt:code href="../samples/image-members-add-request.json"/>
            </representation>
        </request>
        <response status="204"/>
    </method>
    <method name="DELETE" id="removeMember-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xml:lang="EN" title="Remove member">
            <para role="shortdesc">Removes a member from an
                image.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="member_id" style="plain" required="true"
                    type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            The UUID of the member with which an image is
                            shared.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="204"/>
    </method>
</application>
