api-ref/src/wadls/share-api/src/v2/os-share-v2-experimental.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application[
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % experimental  SYSTEM "experimental.ent">
    %experimental;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/share/api/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
   <resources base="https://share_server_id.example.com/" xml:id="os-share-v1.0">
      <resource id="versions" path="/">
         <param name="X-Openstack-Manila-Api-Version" style="header" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>A valid Shared File Systems API micro-version.
                  For example,
                  <code>"X-Openstack-Manila-Api-Version: 2.6"</code>.
                  If you omit this header, the default micro-version is 2.0.
               </para>
            </wadl:doc>
         </param>
         <method href="#share-listVersions" />
         <resource id="version" path="v2">
            <resource id="extensions" path="extensions">
               <method href="#getExtensions" />
            </resource>
            <resource id="tenant_id" path="{tenant_id}">
               <param name="X-OpenStack-Manila-API-Experimental" style="header" type="xsd:bool"
                       required="true">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
                        Indicates that this is an experimental Shared File
                        Systems API request. Set to <code>true</code>.
                        For example,
                        <code>"X-OpenStack-Manila-API-Experimental: true"</code>.
                     </para>
                  </wadl:doc>
               </param>
               <param name="tenant_id" style="template" type="csapi:UUID">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID in a multi-tenancy cloud.</para>
                  </wadl:doc>
               </param>
               <resource id="shares" path="shares">
                  <resource path="{share_id}" id="share_id">
                     <param name="share_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                           <para>The ID of an existing share.</para>
                        </wadl:doc>
                     </param>
                     <resource id="action" path="action">
                        <method href="#migrateShare" />
                     </resource>
                  </resource>
               </resource>
               <resource id="consistency-groups" path="consistency-groups">
                  <method href="#createConsistencyGroup" />
                  <method href="#getConsistencyGroups" />
                  <resource path="detail" id="detail-consistency-groups">
                     <method href="#getConsistencyGroupsDetails" />
                  </resource>
                  <resource path="{consistency_group_id}" id="consistency_group_id">
                     <param name="consistency_group_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                           <para>The unique identifier of the consistency group.</para>
                        </wadl:doc>
                     </param>
                     <method href="#getConsistencyGroup" />
                     <method href="#updateConsistencyGroup" />
                     <method href="#deleteConsistencyGroup" />
                     <resource id="consistency-groups-action" path="action">
                        <method href="#resetConsistencyGroupState" />
                        <method href="#force-deleteConsistencyGroup" />
                     </resource>
                  </resource>
               </resource>
               <resource id="cgsnapshots" path="cgsnapshots">
                  <method href="#createConsistencyGroupSnapshot" />
                  <method href="#getConsistencyGroupSnapshots" />
                  <resource path="detail" id="detail-cgsnapshots">
                     <method href="#getConsistencyGroupSnapshotsDetails" />
                  </resource>
                  <resource path="{cgsnapshot_id}" id="cgsnapshot_id">
                     <param name="cgsnapshot_id" style="template" type="csapi:UUID">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                           <para>The unique identifier of the consistency group snapshot.</para>
                        </wadl:doc>
                     </param>
                     <resource path="members" id="cgsnapshot-members">
                        <method href="#getConsistencyGroupSnapshotMembers" />
                     </resource>
                     <method href="#getConsistencyGroupSnapshot" />
                     <method href="#updateConsistencyGroupSnapshot" />
                     <method href="#deleteConsistencyGroupSnapshot" />
                     <resource id="cgsnapshots-action" path="action">
                        <method href="#resetConsistencyGroupSnapshotState" />
                        <method href="#force-deleteConsistencyGroupSnapshot" />
                     </resource>
                  </resource>
               </resource>
            </resource>
         </resource>
      </resource>
   </resources>
   <method name="POST" id="migrateShare">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Migrate share">
         <para role="shortdesc">
            Migrates a specified share from one back end to another. (Since API v2.5.)</para>
         <para>
            You can migrate a specified share from one back end to another but
            both back ends must set the
            <code>driver_handles_share_servers</code> parameter to
            <code>False</code>. This action is not supported if one of the
            back ends is handled by a share driver. You can configure a back
            end in the <code>manila.conf</code> file.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-share-actions-mirate-request.json" />
            </wadl:doc>
            &migrateShareRequestParameters;
         </representation>
      </request>
      <response status="202" />
   </method>
   <method name="POST" id="createConsistencyGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create consistency group">
         <para role="shortdesc">Creates a consistency group.</para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-create-request.json" />
            </wadl:doc>
            &createConsistencyGroupRequestParameters;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-create-response.json" />
            </wadl:doc>
            &createConsistencyGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="getConsistencyGroups">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List consistency groups">
         <para role="shortdesc">Lists all consistency groups.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-list-response.json" />
            </wadl:doc>
            &getConsistencyGroupsResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="getConsistencyGroupsDetails">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="List consistency groups with details">
         <para role="shortdesc">Lists all consistency groups with details.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-list-detailed-response.json" />
            </wadl:doc>
            &createConsistencyGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="getConsistencyGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Show consistency group">
         <para role="shortdesc">Shows information about a specified consistency group.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-show-response.json" />
            </wadl:doc>
            &createConsistencyGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="PUT" id="updateConsistencyGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Update consistency group">
         <para role="shortdesc">Updates a specified consistency group.</para>
         <para>You can update only these attributes:</para>
         <itemizedlist>
            <listitem>
               <para>
                  <code>name</code>, which changes the consistency group name.
               </para>
            </listitem>
            <listitem>
               <para>
                  <code>description</code>, which changes the consistency group description.
               </para>
            </listitem>
         </itemizedlist>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-update-request.json" />
            </wadl:doc>
            &updateConsistencyGroupRequestParameters;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-update-response.json" />
            </wadl:doc>
            &createConsistencyGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="DELETE" id="deleteConsistencyGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Delete consistency group">
         <para role="shortdesc">Deletes a specified consistency group.</para>
      </wadl:doc>
      <response status="202" />
   </method>
   <method name="POST" id="resetConsistencyGroupState">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Reset consistency group state">
         <para role="shortdesc">Administrator only. Explicitly updates the state of a specified consistency group.</para>
         <para>Use the <code>policy.json</code> file to grant permissions for this action to other roles.</para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-reset-state-request.json" />
            </wadl:doc>
            &resetConsistencyGroupStateRequestParameter;
         </representation>
      </request>
      <response status="202" />
   </method>
   <method name="POST" id="force-deleteConsistencyGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Force-delete consistency group">
         <para role="shortdesc">Administrator only. Force-deletes a specified consistency group.</para>
         <para>Use the <code>policy.json</code> file to grant permissions for this action to other roles.</para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-consistency-group-force-delete-request.json" />
            </wadl:doc>
            &force-deleteConsistencyGroupRequestParameter;
         </representation>
      </request>
      <response status="202" />
   </method>
   <method name="POST" id="createConsistencyGroupSnapshot">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Create consistency group snapshot">
         <para role="shortdesc">Creates a consistency group snapshot.</para>
         <para>
            You can create a consistency group snapshot for a consistency group
            in <code>available</code> state only.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-create-request.json" />
            </wadl:doc>
            &createConsistencyGroupSnapshotRequestParameters;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-create-response.json" />
            </wadl:doc>
            &createConsistencyGroupSnapshotResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="getConsistencyGroupSnapshots">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="List consistency group snapshots">
         <para role="shortdesc">Lists all consistency group snapshots.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-list-response.json" />
            </wadl:doc>
            &getConsistencyGroupSnapshotsResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="getConsistencyGroupSnapshotsDetails">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="List consistency group snapshots with details">
         <para role="shortdesc">Lists all consistency group snapshots with details.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-list-detailed-response.json" />
            </wadl:doc>
            &createConsistencyGroupSnapshotResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="getConsistencyGroupSnapshot">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Show consistency group snapshot">
         <para role="shortdesc">Shows information about a specified consistency group snapshot.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-show-response.json" />
            </wadl:doc>
            &createConsistencyGroupSnapshotResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="getConsistencyGroupSnapshotMembers">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Show consistency group snapshot member">
         <para role="shortdesc">Shows information about a specified consistency group snapshot member.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-list-members-response.json" />
            </wadl:doc>
            &getConsistencyGroupSnapshotMembersResponseParameters;
         </representation>
      </response>
   </method>
   <method name="PUT" id="updateConsistencyGroupSnapshot">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Update consistency group snapshot">
         <para role="shortdesc">Updates a specified consistency group snapshot.</para>
         <para>You can update only these attributes:</para>
         <itemizedlist>
            <listitem>
               <para>
                  <code>name</code>, which changes the consistency group snapshot name.
               </para>
            </listitem>
            <listitem>
               <para>
                  <code>description</code>, which changes the consistency group snapshot description.
               </para>
            </listitem>
         </itemizedlist>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-update-request.json" />
            </wadl:doc>
            &updateConsistencyGroupSnapshotRequestParameters;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-update-response.json" />
            </wadl:doc>
            &createConsistencyGroupSnapshotResponseParameters;
         </representation>
      </response>
   </method>
   <method name="DELETE" id="deleteConsistencyGroupSnapshot">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Delete consistency group snapshot">
         <para role="shortdesc">Deletes a specified consistency group snapshot.</para>
      </wadl:doc>
      <response status="202" />
   </method>
   <method name="POST" id="resetConsistencyGroupSnapshotState">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
       xml:lang="EN" title="Reset consistency group snapshot state">
         <para role="shortdesc">Administrator only. Explicitly updates the state of a specified consistency group snapshot.</para>
         <para>Administrators can use the <code>policy.json</code> file to permit other roles to complete this action.</para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-reset-state-request.json" />
            </wadl:doc>
            &resetConsistencyGroupSnapshotStateRequestParameter;
         </representation>
      </request>
      <response status="202" />
   </method>
   <method name="POST" id="force-deleteConsistencyGroupSnapshot">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Force-delete consistency group snapshot">
         <para role="shortdesc">Administrator only. Force-deletes a specified consistency group snapshot.</para>
         <para>Use the <code>policy.json</code> file to grant permissions for this action to other roles.</para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="samples/manila-cg-snapshot-force-delete-request.json" />
            </wadl:doc>
            &force-deleteConsistencyGroupSnapshotRequestParameter;
         </representation>
      </request>
      <response status="202" />
   </method>
</application>
