api-ref/src/wadls/volume-api/src/v1/volume-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://volume.example.com/"
        xml:id="volume-api-v1.0">
        <resource id="versions" path="//">
            <method href="#listVersionsv1"/>
        </resource>
        <resource id="version" type="#VersionDetails" path="//v1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para></wadl:doc>
                </param>
                <resource id="volumes" path="volumes">
                    <method href="#createVolume"/>
                    <method href="#getVolumesSimple"/>
                    <resource path="detail" id="detail-volume">
                        <method href="#getVolumesDetail"/>
                    </resource>
                    <resource path="{volume_id}" id="volume_id">
                        <param name="volume_id" style="template"
                            required="true" type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The unique identifier of an
                                   existing volume.</para></wadl:doc>
                        </param>
                        <method href="#getVolume"/>
                        <method href="#deleteVolume"/>
                    </resource>
                </resource>
                <resource id="types" path="types">
                    <method href="#getVolumeTypes"/>
                    <resource path="{volume_type_id}"
                        id="volume_type_id">
                        <param name="volume_type_id" style="template"
                            required="true" type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The unique identifier of an
                                   existing volume
                                type.</para></wadl:doc>
                        </param>
                        <method href="#getVolumeType"/>
                    </resource>
                </resource>
                <resource id="snapshots" path="snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#getSnapshotsSimple"/>
                    <resource path="detail" id="detail-snapshots">
                        <method href="#getSnapshotsDetail"/>
                    </resource>
                    <resource path="{snapshot_id}" id="snapshot_id">
                        <param name="snapshot_id" style="template"
                            required="true" type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>The unique identifier of an
                                   existing
                                snapshot.</para></wadl:doc>
                        </param>
                        <method href="#getSnapshot"/>
                        <method href="#deleteSnapshot"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Version details">
            <para>Details for a version.</para>
        </wadl:doc>
        <method href="#showVersionDetailsv1"/>
    </resource_type>
    <method name="GET" id="listVersionsv1">
        <wadl:doc xml:lang="EN" title="List API versions"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Lists information about all Block Storage API
                versions.</para>
        </wadl:doc>
        <response status="200 300">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/cinder-versions-response.json"/>
                </wadl:doc>
            </representation>
            <!-- The following call fails - opened bug #1311243 -->
            <!-- <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/cinder-versions-response.xml"
                    />
                </wadl:doc>
            </representation>-->
        </response>
    </method>
    <method name="GET" id="showVersionDetailsv1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show API v1 details">
            <para role="shortdesc">Shows details for Block Storage API
                v1.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/versionv1-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <!-- this call fails - opened bug 1311243 -->
            <!--<representation mediaType="application/xml"
                element="common:version">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/version-get-resp.xml"/>
                </wadl:doc>
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Location"><para>Full URL
                            to a service or server.</para></wadl:doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>-->
        </response>
    </method>
    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create volume">
            <para role="shortdesc">Creates a volume.</para>
        </wadl:doc>
        <request>
            <param name="volume" style="plain" required="true"
                type="csapi:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>A partial representation of a volume used in
                        the creation process.</para></wadl:doc>
            </param>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_create.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_create.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes">
            <para role="shortdesc">Lists simple volume
                entities.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_list_simple.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes (detailed)">
            <para role="shortdesc">Lists details for volume
                entities.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_list_simple.xml"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_list_simple.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Describe volume">
            <para role="shortdesc">Shows information about a specified
                volume.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete volume">
            <para role="shortdesc">Deletes a specified volume.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volume types">
            <para role="shortdesc">Request a list of volume
                types.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_type_list.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_type_list.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Describe volume type">
            <para role="shortdesc">Shows information about a specified
                volume type.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_type_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/volume_type_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create snapshot">
            <para role="shortdesc">Creates a snapshot.</para>
        </wadl:doc>
        <request>
            <param name="snapshot" style="plain" required="true"
                type="csapi:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>A partial representation of a snapshot used
                        in the creation process.</para></wadl:doc>
            </param>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/snapshot_create.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/snapshot_create.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/snapshot_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/snapshot_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots">
            <para role="shortdesc">Lists simple snapshot entities.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_simple.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_simple.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List snapshots (detailed)">
            <para role="shortdesc">Lists details for snapshot
                entities.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_simple.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="api_samples/snapshot_list_simple.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Describe snapshot">
            <para role="shortdesc">Shows information about a specified
                snapshot.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/snapshot_show.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="api_samples/snapshot_show.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete snapshot">
            <para role="shortdesc">Deletes a specified
                snapshot.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
</application>
