api-ref/src/wadls/clustering-api/src/v1/wadl/clustering-api.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application[
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://senlin.example.com/" xml:id="clustering-api-v1.0">
        <resource id="versions" path="//">
            <method href="#getVersions-senlin-v1"/>
        </resource>
        <resource id="version" path="//v1">
            <resource id="profile_types" path="profile-types">
                <method href="#listProfileTypes"/>
                <resource id="profile_type" path="{profile_type}">
                    &profile_typeTemplateParameter;
                    <method href="#showProfileType"/>
                </resource>
            </resource>
            <resource id="policy_types" path="policy-types">
                <method href="#listPolicyType"/>
                <resource id="policy_type" path="{policy_type}">
                    &policy_typeTemplateParameter;
                    <method href="#showPolicyType"/>
                </resource>
            </resource>
            <resource id="profiles" path="profiles">
                <method href="#listProfiles"/>
                <method href="#createProfile"/>
                <resource path="{profile_id}" id="profile_id">
                    &profile_idTemplateParameter;
                    <method href="#showProfile"/>
                    <method href="#updateProfile"/>
                    <method href="#deleteProfile"/>
                </resource>
            </resource>
            <resource id="policies" path="policies">
                <method href="#listPolicies"/>
                <method href="#createPolicy"/>
                <resource path="{policy_id}" id="policy_id">
                    &policy_idTemplateParameter;
                    <method href="#showPolicy"/>
                    <method href="#updatePolicy"/>
                    <method href="#deletePolicy"/>
                </resource>
            </resource>
            <resource id="clusters" path="clusters">
                <method href="#listClusters"/>
                <method href="#createCluster"/>
                <resource id="cluster_id" path="{cluster_id}">
                    &cluster_idTemplateParameter;
                    <method href="#showCluster"/>
                    <method href="#updateCluster"/>
                    <method href="#deleteCluster"/>
                    <resource id="cluster_actions" path="actions">
                        <method href="#clusterAction"/>
                    </resource>
                    <resource id="cluster_policies" path="policies">
                        <method href="#listClusterPolicies"/>
                        <resource id="cluster_policy_id" path="{policy_id}">
                            &policy_idTemplateParameter;
                            <method href="#showClusterPolicy"/>
                        </resource>
                    </resource>
               </resource>
            </resource>
            <resource id="nodes" path="nodes">
                <method href="#listNodes"/>
                <method href="#createNode"/>
                <resource id="node_id" path="{node_id}">
                    &node_idTemplateParameter;
                    <method href="#showNode"/>
                    <method href="#updateNode"/>
                    <method href="#deleteNode"/>
                    <resource id="node_actions" path="actions">
                        <method href="#nodeAction"/>
                    </resource>
                </resource>
            </resource>
            <resource id="actions" path="actions">
                <method href="#listActions"/>
                <resource id="action_id" path="{action_id}">
                    &action_idTemplateParameter;
                    <method href="#showAction"/>
                </resource>
            </resource>
            <resource id="receivers" path="receivers">
                <method href="#listReceivers"/>
                <method href="#createReceiver"/>
                <resource id="receiver_res_id" path="{receiver_id}">
                    &receiver_idTemplateParameter;
                    <method href="#showReceiver"/>
                    <method href="#deleteReceiver"/>
                </resource>
            </resource>
            <resource id="webhooks" path="webhooks">
                <resource id="webhook_res_id" path="{webhook_id}">
                    &webhook_idTemplateParameter;
                    <resource id="webhook_trigger" path="trigger">
                        <method href="#triggerWebhook"/>
                    </resource>
                </resource>
            </resource>
            <resource id="events" path="events">
                <method href="#listEvents"/>
                <resource id="event_id" path="{event_id}">
                    &event_idTemplateParameter;
                    <method href="#showEvent"/>
                </resource>
            </resource>
            <resource id="build_info" path="build-info">
                <method href="#showBuild"/>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getVersions-senlin-v1">
        <wadl:doc xml:lang="EN" title="List versions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information for all Clustering API versions.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/senlin-versions-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listClusters">
        <wadl:doc xml:lang="EN" title="List clusters"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists clusters.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &limitMarkerReqParameter;
                &sortQueryParameter;
                &global_projectRequestParameter;
                <param name="name" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by a cluster name. Use this
                            filter multiple times to filter by multiple names.
                        </para>
                    </wadl:doc>
                </param>
                <param name="status" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by a cluster status. Use this
                            filter multiple times to filter by multiple
                            statuses.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/clusters-list-response.json"/>
                </wadl:doc>
                <param name="clusters" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            List of cluster records. Each record contains
                            fields such as <code>created_at</code>,
                            <code>id</code>, <code>name</code>,
                            <code>profile_id</code>, <code>size</code>,
                            <code>nodes</code>, <code>status</code>,
                            <code>status_reason</code>, and so on.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="createCluster">
        <wadl:doc xml:lang="EN" title="Create cluster"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a cluster.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/cluster-create-request.json"/>
                </wadl:doc>
                &clusterRequestParameters;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/cluster-create-response.json" />
                </wadl:doc>
                &resourceLocationParameter;
                <param name="cluster" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A map with the <code>id</code>, <code>name</code>,
                            <code>status</code>, and other fields for the
                            cluster.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showCluster">
        <wadl:doc xml:lang="EN" title="Show cluster details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a cluster.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/cluster-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PATCH" id="updateCluster">
        <wadl:doc xml:lang="EN" title="Update cluster"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates a cluster.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/cluster-update-request.json"/>
                </wadl:doc>
                &updateClusterRequestParameters;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/cluster-update-response.json" />
                </wadl:doc>
                &resourceLocationParameter;
                <param name="cluster" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A map with the <code>id</code>, <code>name</code>,
                            <code>status</code>, and other fields for the
                            cluster.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="clusterAction">
        <wadl:doc xml:lang="EN" title="Trigger cluster action"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Triggers an action on a cluster.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="action" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The action to trigger.
                        </para>
                        <para>
                            Each action takes a different set of parameters.
                        </para>
                        <para>
                            Supported actions include:
                        </para>
                        <itemizedlist>
                            <listitem>
                                <para>
                                    <code>add_nodes</code> Add one or more
                                    nodes, as a list, to a cluster. For
                                    example:
                                    <xsdxt:code href="../samples/cluster-add-nodes-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>del_nodes</code> Delete one or more
                                    nodes, as a list, from a cluster. For example:
                                    <xsdxt:code href="../samples/cluster-delete-nodes-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>scale_out</code> Enlarge the cluster
                                    by <code>count</code> number of nodes. For example:
                                    <xsdxt:code href="../samples/cluster-scale-out-nodes-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>scale_in</code> Shrink the cluster
                                    by <code>count</code> number of nodes. For example:
                                    <xsdxt:code href="../samples/cluster-scale-in-nodes-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>resize</code> Change the size of the
                                    cluster by <code>adjustment_type</code>, <code>number</code>,
                                    <code>min_step</code>, <code>min_size</code>, <code>max_size</code>, or
                                    <code>strict</code> values. For example:
                                    <xsdxt:code href="../samples/cluster-resize-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>check</code> Check the health status
                                    of a cluster. For example:
                                    <xsdxt:code href="../samples/cluster-check-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>recover</code> Recover a cluster from
                                    its current unhealthy status. For example:
                                    <xsdxt:code href="../samples/cluster-recover-request.json"/>
                                </para>
                            </listitem>

                            <listitem>
                                <para>
                                    <code>policy_attach</code> Attach a policy
                                    to a cluster. The request body contains
                                    parameters for the policy attachment:
                                    <xsdxt:code href="../samples/cluster-policy-attach-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>policy_detach</code> Detach a policy
                                    from a cluster. The request body
                                    contains the ID of the policy:
                                    <xsdxt:code href="../samples/cluster-policy-detach-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>policy_update</code> Update the
                                    policy attachment. Specify the policy ID and
                                    property settings in the request body:
                                    <xsdxt:code href="../samples/cluster-policy-update-request.json"/>
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        The <code>Location</code> response header contains the
                        action that the request initiates.
                    </para>
                </wadl:doc>
                &actionLocationParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="listClusterPolicies">
        <wadl:doc xml:lang="EN" title="List policies" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all policies for a cluster.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &sortQueryParameter;
                <param name="enabled" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by a policy enabled status on
                            the cluster.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A <code>cluster_policies</code> list contains records
                        of cluster-policy bindings. Each record contains
                        cluster-related fields, the policy, and the binding
                        itself.
                    </para>
                    <xsdxt:code href="../samples/cluster-policies-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showClusterPolicy">
        <wadl:doc xml:lang="EN" title="Show cluster policy details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a policy for a cluster.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A <code>cluster_policy</code> map with keys such as
                        <code>cluster_id</code>, <code>policy_id</code>,
                        <code>policy_type </code>,  and so on. The key values
                        are attributes for the policy that is attached to the
                        cluster.
                    </para>
                    <xsdxt:code href="../samples/cluster-policy-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteCluster">
        <wadl:doc xml:lang="EN" title="Delete cluster"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a cluster.
            </para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        The <code>Location</code> response header contains the
                        action that the request triggered.
                    </para>
                </wadl:doc>
                &resourceLocationParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="listProfileTypes">
        <wadl:doc xml:lang="EN" title="List profile types"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists supported profile types.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A list of supported profile types.
                    </para>
                    <xsdxt:code href="../samples/profile-types-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showProfileType">
        <wadl:doc xml:lang="EN" title="Show profile type details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a profile type.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/profile-type-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listPolicyType">
        <wadl:doc xml:lang="EN" title="List policy types"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all supported policy types.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A list of supported policy types.
                    </para>
                    <xsdxt:code href="../samples/policy-types-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showPolicyType">
        <wadl:doc xml:lang="EN" title="Show policy type details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a policy type.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/policy-type-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listProfiles">
        <wadl:doc xml:lang="EN" title="List profiles"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all profiles.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &limitMarkerReqParameter;
                &sortQueryParameter;
                &global_projectRequestParameter;
                <param name="name" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the name of a profile.
                        </para>
                    </wadl:doc>
                </param>
                <param name="type" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the type of a profile.
                        </para>
                    </wadl:doc>
                </param>
                <param name="metadata" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by a metadata key and value pair.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/profiles-list-response.json"/>
                </wadl:doc>
                <param name="profiles" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Profile records. Each record contains the
                            <code>id</code>, <code>name</code>,
                            <code>type</code>, <code>spec</code>,
                            <code>metadata</code>, and other fields.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="createProfile">
        <wadl:doc xml:lang="EN" title="Create profile" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a profile.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/profile-create-request.json"/>
                </wadl:doc>
                &createProfileRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/profile-create-response.json" />
                </wadl:doc>
                &resourceLocationParameter;
                <param name="profile" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A dictionary with profile details.
                        </para>
                        <itemizedlist xml:id="profile_response_body">
                            <title>Profile create response</title>
                            <listitem>
                                <para>
                                    <code>id</code> An unique ID for the profile.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>name</code> Name for the profile.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>type</code> Name of policy type
                                    referenced by the profile.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>spec</code> Detailed specification
                                    based on the profile type.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>metadata</code> A list of key and
                                    value pairs that are attached to the
                                    profile.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>created_at</code> The UTC date and
                                    time stamp when the profile was created.
                                </para>
                            </listitem>
                             <listitem>
                                <para>
                                    <code>updated_at</code> The UTC date and
                                    time stamp when the profile was updated.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>domain</code> The ID of the domain to which the profile belongs.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>project</code> The ID of the project to which the profile belongs.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>user</code> The ID of the user who created the profile.
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showProfile">
        <wadl:doc xml:lang="EN" title="Show profile details" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a profile.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A profile record. Contains fields such as
                        <code>id</code>, <code>name</code>, <code>type</code>,
                        <code>spec</code>, <code>metadata</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/profile-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PATCH" id="updateProfile">
        <wadl:doc xml:lang="EN" title="Update profile" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates a profile.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/profile-update-request.json"/>
                </wadl:doc>
                <param name="name" style="plain" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            New name for the target profile.
                        </para>
                    </wadl:doc>
                </param>
                <param name="metadata" style="plain" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A list of key and value pairs to associate with
                            the target profile.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A profile record. Contains fields such as
                        <code>id</code>, <code>name</code>, <code>type</code>,
                        <code>spec</code>, <code>metadata</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/profile-update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteProfile">
        <wadl:doc xml:lang="EN" title="Delete profile" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a profile.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="listPolicies">
        <wadl:doc xml:lang="EN" title="List policies" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all policies.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &limitMarkerReqParameter;
                &sortQueryParameter;
                &global_projectRequestParameter;
                <param name="name" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the name of a policy.
                        </para>
                    </wadl:doc>
                </param>
                <param name="type" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the type of a policy.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/policies-list-response.json"/>
                </wadl:doc>
                <param name="policies" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            List of policy records. Each record contains
                            fields such as <code>id</code>, <code>name</code>,
                            <code>type</code>, <code>spec</code>, and so
                            on.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="createPolicy">
        <wadl:doc xml:lang="EN" title="Create policy" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/policy-create-request.json"/>
                </wadl:doc>
                <param name="policy" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A map with keys and values that specify the
                            details for the policy to be created:
                        </para>
                    </wadl:doc>
                </param>
                &createPolicyRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/policy-create-response.json" />
                </wadl:doc>
                &resourceLocationParameter;
                <param name="policy" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A map with a set of keys and values that
                            provides the details of the policy.
                        </para>
                        <itemizedlist xml:id="policy_response_body">
                            <title>Policy create response</title>
                            <listitem>
                                <para>
                                    <code>id</code> An unique ID for the newly created policy.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>name</code> Name for the newly created policy.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>type</code> Name of policy type referenced by the policy.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>spec</code> Detailed specification based on the policy type.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>created_at</code> The UTC date and
                                    time stamp when the policy was created.
                                </para>
                            </listitem>
                             <listitem>
                                <para>
                                    <code>updated_at</code> The UTC date and
                                    time stamp when the policy was updated.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>domain</code> The ID of the domain to which the profile belongs.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>project</code> The ID of the project to which the profile belongs.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>user</code> The ID of the user who created the profile.
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showPolicy">
        <wadl:doc xml:lang="EN" title="Show policy details" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a policy.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A policy record with fields such as <code>id</code>,
                        <code>name</code>, <code>type</code>,
                        <code>spec</code>, <code>created_at</code>,
                        <code>updated_at</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/policy-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PATCH" id="updatePolicy">
        <wadl:doc xml:lang="EN" title="Update policy" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates a policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/policy-update-request.json"/>
                </wadl:doc>
                <param name="policy" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A map with a set of key and value pairs that
                            specify the details of the policy:
                        </para>
                        <itemizedlist xml:id="updatePolicy_body">
                            <title>Policy body</title>
                            <listitem>
                                <para>
                                    <code>name</code> Name for the policy, if specified.
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A policy record that includes fields such as
                        <code>id</code>, <code>name</code>, <code>type</code>,
                        <code>spec</code>, <code>created_at</code>,
                        <code>updated_at</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/policy-update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deletePolicy">
        <wadl:doc xml:lang="EN" title="Delete policy" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a policy.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="listNodes">
        <wadl:doc xml:lang="EN" title="List nodes" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all nodes.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &limitMarkerReqParameter;
                &sortQueryParameter;
                &global_projectRequestParameter;
                <param name="cluster_id" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the cluster that owns a node.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the name of a node.
                        </para>
                    </wadl:doc>
                </param>
                <param name="status" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the status of a node.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/nodes-list-response.json"/>
                </wadl:doc>
                <param name="nodes" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:list">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            List of node records. Each record contains fields
                            such as <code>id</code>, <code>cluster_id</code>,
                            <code>name</code>, <code>physical_id</code>,
                            <code>profile_id</code>,
                            <code>created_at</code>, <code>index</code>,
                            <code>status</code>, <code>status_reason</code>,
                            <code>metadata</code>, <code>updated_at</code>,
                            and so on.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="POST" id="createNode">
        <wadl:doc xml:lang="EN" title="Create node" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a node.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/node-create-request.json"/>
                </wadl:doc>
                <param name="node" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A map with detailed data for the node.</para>
                        <itemizedlist xml:id="createNode_body">
                            <title>Node Create Request Body</title>
                            <listitem>
                                <para>
                                    <code>name</code> Name for the created node (required).
                                </para>
                            </listitem>
                             <listitem>
                                <para>
                                    <code>profile_id</code> Name, ID, or short
                                    ID of the profile used by the node for creation (required).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>cluster_id</code> Name, ID, or short ID of the cluster
                                    the node lives in. If not specified, the node created will be
                                    an orphaned node (optional).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>role</code> A string indicating the role this node plays
                                    in a cluster (optional).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>metadata</code> A list of key-value pairs to attach to
                                    the newly created node (optional).
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/node-create-response.json" />
                </wadl:doc>
                &resourceLocationParameter;
                <param name="node" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Detailed data for the node, such as
                            <code>id</code>, <code>name</code>,
                            <code>status</code>, and so on.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="PATCH" id="updateNode">
        <wadl:doc xml:lang="EN" title="Update node" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates a node.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/node-update-request.json"/>
                </wadl:doc>
                <param name="node" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>A map with detailed data for the node.</para>
                        <itemizedlist xml:id="updateNode_body">
                            <title>Node update request body</title>
                            <listitem>
                                <para>
                                    <code>name</code> New name for the node (optional).
                                </para>
                            </listitem>
                             <listitem>
                                <para>
                                    <code>profile_id</code> Name, ID, or short ID of the new
                                    profile to use by the node. The new profile has to have
                                    the same profile type as that of the node (optional).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>role</code> The new role this node
                                    plays in a cluster (optional).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>metadata</code> A list of key-value pairs to attach to
                                    the updated node (optional).
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/node-update-response.json" />
                </wadl:doc>
                &resourceLocationParameter;
                <param name="node" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Detailed data for the node such as
                            <code>id</code>, <code>name</code>,
                            <code>status</code>, and so on.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteNode">
        <wadl:doc xml:lang="EN" title="Delete node" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a node.
            </para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        The <code>Location</code> response header contains the
                        action that the request initiated.
                    </para>
                </wadl:doc>
                &resourceLocationParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="showNode">
        <wadl:doc xml:lang="EN" title="Show node details" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows data for a node.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="show_details" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:boolean">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Indicates whether the node details are returned.
                            Default is <code>False</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A node record. Each record contains fields such as
                        <code>id</code>, <code>cluster_id</code>,
                        <code>name</code>, <code>physical_id</code>,
                        <code>profile_id</code>, <code>created_at</code>,
                        <code>index</code>, <code>status</code>,
                        <code>status_reason</code>, <code>metadata</code>,
                        <code>updated_at</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/node-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="nodeAction">
        <wadl:doc xml:lang="EN" title="Trigger node action"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Triggers an action on a node.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="action" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The action to trigger.
                        </para>
                        <para>
                            Each action takes a different set of parameters.
                        </para>
                        <para>
                            Supported actions include:
                        </para>
                        <itemizedlist>
                            <listitem>
                                <para>
                                    <code>check</code> Check the health status
                                    of a node. For example:
                                    <xsdxt:code href="../samples/node-check-request.json"/>
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>recover</code> Recover a node from
                                    its current unhealthy status. For example:
                                    <xsdxt:code href="../samples/node-recover-request.json"/>
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        The <code>Location</code> response header contains the
                        action that the request initiates.
                    </para>
                </wadl:doc>
                &actionLocationParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="listReceivers">
        <wadl:doc xml:lang="EN" title="List receivers" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all receivers.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &limitMarkerReqParameter;
                &sortQueryParameter;
                &global_projectRequestParameter;
                <param name="name" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the name of a receiver.
                        </para>
                    </wadl:doc>
                </param>
                <param name="type" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the type of a receiver.
                        </para>
                    </wadl:doc>
                </param>
                <param name="user" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the user name of a receiver.
                        </para>
                    </wadl:doc>
                </param>
                <param name="cluster_id" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the ID of the targeted cluster of a receiver.
                        </para>
                    </wadl:doc>
                </param>
                <param name="action" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the targeted action of a receiver.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        List of receiver records. Each record contains
                        fields such as <code>id</code>, <code>name</code>,
                        <code>user</code>, <code>project></code>,
                        <code>domain</code>, <code>cluster_id</code>,
                        <code>type</code>, <code>action</code>,
                        <code>actor</code>, <code>params</code>,
                        <code>created_at</code> and
                        <code>updated_at</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/receivers-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createReceiver">
        <wadl:doc xml:lang="EN" title="Create receiver" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a receiver.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/receiver-create-request.json"/>
                </wadl:doc>
                <param name="receiver" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            A map with detailed data for the receiver.
                        </para>
                        <itemizedlist xml:id="createWebhook_body">
                            <title>Receiver Create Request Body</title>
                            <listitem>
                                <para>
                                    <code>name</code> Name for the receiver (optional).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>cluster_id</code> Name, ID, or short ID of the object targeted
                                    by the receiver (required).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>type</code> The type of the receiver where the only
                                    valid value is <code>webhook</code> currently (required).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>action</code> The action to initiate
                                    when the receiver is triggered. A valid
                                    value should be the name of an action that
                                    can be applied on a cluster.
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>actor</code> A map of key and value
                                    pairs to use for authentication. If
                                    omitted, the requester is assumed to be the
                                    actor (optional).
                                </para>
                            </listitem>
                            <listitem>
                                <para>
                                    <code>params</code> A map of key and value
                                    pairs to use for action creation. Some
                                    actions might require certain input
                                    parameters (optional).
                                </para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/receiver-create-response.json" />
                </wadl:doc>
                &resourceLocationParameter;
                <param name="receiver" style="plain" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The receiver details, such as <code>id</code>,
                            <code>name</code>, <code>action</code>, and so on.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showReceiver">
        <wadl:doc xml:lang="EN" title="Show receiver details" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a receiver.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        A receiver record. The record includes fields such as
                        <code>id</code>, <code>name</code>, <code>type</code>,
                        <code>cluster_id</code>, <code>action</code>,
                        <code>actor</code>, <code>params</code>,
                        <code>channel</code>,
                        <code>created_at</code>, <code>updated_at</code>,
                        <code>user</code>, <code>project</code>,
                        <code>domain</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/receiver-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteReceiver">
        <wadl:doc xml:lang="EN" title="Delete receiver" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a receiver.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="POST" id="triggerWebhook">
        <wadl:doc xml:lang="EN" title="Trigger webhook action" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Triggers a webhook receiver.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="V" style="query" required="true"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The webhook implementation version requested.
                        </para>
                    </wadl:doc>
                </param>
                <param name="params" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The query string that forms the inputs to use for
                            the targeted action.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        The <code>Location</code> response header contains the
                        action that the request initiated.
                    </para>
                </wadl:doc>
                &actionLocationParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="listEvents">
        <wadl:doc xml:lang="EN" title="List events" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists events.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &limitMarkerReqParameter;
                &sortQueryParameter;
                &global_projectRequestParameter;
                <param name="obj_id" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the object ID for an event.
                            Use this filter multiple times to filter by multiple objects.
                        </para>
                    </wadl:doc>
                </param>
                <param name="obj_type" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the type of object
                            associated with an event. Use this filter multiple
                            times to filter by multiple objects. A valid value
                            is <code>CLUSTER</code> or <code>NODE</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="obj_name" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the name of object
                            associated with an event. Use this filter multiple
                            times to filter by multiple objects.
                        </para>
                    </wadl:doc>
                </param>
                <param name="cluster_id" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the cluster ID associated
                            with an event. Use this filter multiple times to
                            filter by multiple clusters.
                        </para>
                    </wadl:doc>
                </param>
                <param name="action" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the action name associated
                            with an event. Use this filter multiple times to
                            filter by multiple actions.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/events-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showEvent">
        <wadl:doc xml:lang="EN" title="Show event details" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for an event.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        An <code>event</code> map, which contains the details
                        of an event such as <code>TIMESTAMP</code> or
                        <code>LEVEL</code>.
                    </para>
                    <xsdxt:code href="../samples/event-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listActions">
        <wadl:doc xml:lang="EN" title="List actions" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all actions.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &limitMarkerReqParameter;
                &sortQueryParameter;
                &global_projectRequestParameter;
                <param name="name" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by an action name. Use this
                            filter multiple times to filter by multiple names.
                        </para>
                    </wadl:doc>
                </param>
                <param name="target" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by the targeted object ID
                            that is associated with an action. An object can be a
                            cluster, a node, and so on. Use this filter
                            multiple times to filter by multiple targets.
                        </para>
                    </wadl:doc>
                </param>
                <param name="action" style="query" required="false"
                    xmlns="http://wadl.dev.java.net/2009/02" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Filters the response by an action name. Use this
                            filter multiple times to filter by multiple names.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        An <code>actions</code> list that contains all records
                        that meet the criteria. Each record provides detailed
                        data about an action.
                    </para>
                    <xsdxt:code href="../samples/actions-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showAction">
        <wadl:doc xml:lang="EN" title="Show action details" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for an action.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        An <code>action</code> map. Contains fields such as <code>id</code>,
                        <code>action</code>, and so on.
                    </para>
                    <xsdxt:code href="../samples/action-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showBuild">
        <wadl:doc xml:lang="EN" title="Show build information" xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows build information for a Senlin deployment.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/build-show-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
