api-ref/src/wadls/networking-api/src/wadl/extensions.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent extensions.wadl           -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://neutron.example.com"
        xml:id="os-networks-v2.0">
        <!--*******************************************************-->
        <!--             All Resources                             -->
        <!--*******************************************************-->
        <resource id="networks-version" path="//v2.0">
            <resource id="extensions" path="extensions">
                <method href="#listExtensions"/>
                <resource id="extension" path="{alias}">
                    &aliasTemplateParameter;
                    <method href="#showExtension"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Extensions -->
    <method name="GET" id="listExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List extensions">
            <para role="shortdesc">Lists available extensions.</para>
            <para>
                Extensions introduce features and vendor-specific
                functionality to the API.
            </para>
            <para>
                The response shows the extension name and its alias. To show
                details for an extension, you specify the alias.
            </para>
        </wadl:doc>
        <response status="200">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/common:extensions/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next metadata
                        item.</para></wadl:doc>
                <link resource_type="#ExtensionList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/common:extensions/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous metadata
                        item.</para></wadl:doc>
                <link resource_type="#ExtensionList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/extensions/extensions-list-response.json"
                    />
                </wadl:doc>
                &getExtensionsResponseParameters;
            </representation>
        </response>
        <response status="203"/>
    </method>
    <method name="GET" id="showExtension">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show extension details">
            <para role="shortdesc">
                Shows details for an extension, by alias.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/extensions/extension-show-response.json"
                    />
                </wadl:doc>
                &getExtensionsResponseParameters;
            </representation>
        </response>
        <response status="203"/>
    </method>
</application>
