api-ref/src/wadls/networking-api/src/wadl/firewalls.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent firewalls.wadl                  -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/" xml:id="firewalls-v2.0">
        <resource id="firewall-version" path="//v2.0">
            <resource id="fw" path="fw">
                <resource id="firewalls" path="firewalls">
                    <method href="#listFirewalls"/>
                    <method href="#createFirewall"/>
                    <resource path="{firewall_id}" id="firewall_id">
                        &firewall_idTemplateParameter;
                        <method href="#showFirewall"/>
                        <method href="#updateFirewall"/>
                        <method href="#deleteFirewall"/>
                    </resource>
                </resource>
                <resource id="firewall_policies" path="firewall_policies">
                    <method href="#listFirewallPolicies"/>
                    <method href="#createFirewallPolicy"/>
                    <resource path="{firewall_policy_id}" id="firewallpolicy_id">
                        &firewall_policy_idTemplateParameter;
                        <method href="#showFirewallPolicy"/>
                        <method href="#updateFirewallPolicy"/>
                        <method href="#deleteFirewallPolicy"/>
                        <resource path="insert_rule" id="insert_rule">
                            <method href="#insert_ruleFirewallPolicy"/>
                        </resource>
                        <resource path="remove_rule" id="remove_rule">
                            <method href="#remove_ruleFirewallPolicy"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="firewall_rules" path="firewall_rules">
                    <method href="#listFirewallRules"/>
                    <method href="#createFirewallRule"/>
                    <resource path="{firewall_rule_id}" id="firewall_rule_id">
                        &firewall_rule_idTemplateParameter;
                        <method href="#showFirewallRule"/>
                        <method href="#updateFirewallRule"/>
                        <method href="#deleteFirewallRule"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Firewall  -->
    <method name="GET" id="listFirewalls">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List firewalls">
            <para role="shortdesc">
                Lists all firewalls.
            </para>
            <para>
                The list might be empty.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewalls-list-response.json"/>
                </wadl:doc>
                &firewallsObject;
                <!-- &firewallResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
    </method>
    <method name="GET" id="showFirewall">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show firewall details">
            <para role="shortdesc">
                Shows details for a firewall.
            </para>
            <para>
                If the user is not an administrative user and the firewall
                object does not belong to the tenant account, this call
                returns the <code>Forbidden (403)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-show-response.json"/>
                </wadl:doc>
                <!-- &firewallObject; -->
                <!-- &firewallResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
        <!-- &fault404; -->
    </method>
    <method name="POST" id="createFirewall">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create firewall">
            <para role="shortdesc">
                Creates a firewall.
            </para>
            <para>
                The firewall must be associated with a firewall policy.
            </para>
            <para>
                If <code>admin_state_up</code> is <code>false</code>,
                the firewall would block all traffic.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-create-request.json"/>
                </wadl:doc>
                <!-- &firewallObject; -->
                <!-- &firewallRequestParameters; -->
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-create-response.json"/>
                </wadl:doc>
                <!-- &firewallObject; -->
                <!-- &firewallResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
    </method>
    <method name="PUT" id="updateFirewall">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update firewall">
            <para role="shortdesc">
                Updates a firewall.
            </para>
            <para>
                To update a service, the service status cannot be a
                <code>PENDING_*</code> status.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-update-request.json"/>
                </wadl:doc>
                &firewallObject;
                &firewallUpdateParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-update-response.json"/>
                </wadl:doc>
                &firewallObject;
                &firewallResponseParameters;
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
        <!-- &fault404; -->
    </method>
    <method name="DELETE" id="deleteFirewall">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete firewall">
            <para role="shortdesc">
                Deletes a firewall.
            </para>
        </wadl:doc>
        <response status="204"/>
        <!-- &fault401; -->
        <!-- &fault404; -->
        <!-- &fault409conflict; -->
    </method>
    <!-- Firewall policies -->
    <method name="GET" id="listFirewallPolicies">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List firewall policies">
            <para role="shortdesc">
                Lists all firewall policies.
            </para>
            <para>
                The list might be empty.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policies-list-response.json"/>
                </wadl:doc>
                <!-- &firewall-policiesObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
    </method>
    <method name="GET" id="showFirewallPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show firewall policy details">
            <para role="shortdesc">
                Shows details for a firewall policy.
            </para>
            <para>
                If the user is not an administrative user and the firewall policy
                object does not belong to the tenant account, this call
                returns the <code>Forbidden (403)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-show-response.json"/>
                </wadl:doc>
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
        <!-- &fault404; -->
    </method>
    <method name="POST" id="createFirewallPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create firewall policy">
            <para role="shortdesc">
                Creates a firewall policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-create-request.json"/>
                </wadl:doc>
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyRequestParameters; -->
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-create-response.json"/>
                </wadl:doc>
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
    </method>
    <method name="PUT" id="updateFirewallPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update firewall policy">
            <para role="shortdesc">
                Updates a firewall policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-update-request.json"/>
                </wadl:doc>
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyRequestParameters; -->
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-update-response.json"/>
                </wadl:doc>
                <!-- &firewall-policyObjectParameter; -->
                <!-- &firewallPolicyResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
        <!-- &fault404; -->
    </method>
    <method name="PUT" id="insert_ruleFirewallPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Insert rule into a firewall policy">
            <para role="shortdesc">
              Insert firewall rule into a policy.
            </para>
            <para>
              A firewall_rule_id is inserted relative to the position of the
              firewall_rule_id set in <code>insert_before</code> or
              <code>insert_after</code>. If <code>insert_before</code> is set,
              <code>insert_after</code> is ignored. If both
              <code>insert_before</code> and <code>insert_after</code> are not
              set, the new firewall_rule_id is inserted at the top of the
              policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-insert-rule-request.json"/>
                </wadl:doc>
                &firewallRuleIdParameter;
                &firewallPolicyInsertBeforeParameter;
                &firewallPolicyInsertAfterParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-insert-rule-response.json"/>
                </wadl:doc>
                &firewall_policy-auditedResponseParameter;
                &firewall_policy-descriptionResponseParameter;
                &firewall_policy-firewall_listResponseParameter;
                &firewall_policy-firewall_rulesResponseParameter;
                &firewall_policy-idResponseParameter;
                &firewall_policy-nameResponseParameter;
                &firewall_policy-sharedResponseParameter;
                &firewall_policy-tenant_idResponseParameter;
            </representation>
        </response>
        &fault400;
        &fault401;
        &fault404;
        &fault409;
    </method>
    <method name="PUT" id="remove_ruleFirewallPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Remove rule from firewall policy">
            <para role="shortdesc">
                Remove firewall rule from a policy.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-remove-rule-request.json"/>
                </wadl:doc>
                &firewallRuleIdParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-policy-remove-rule-response.json"/>
                </wadl:doc>
                &firewall_policy-auditedResponseParameter;
                &firewall_policy-descriptionResponseParameter;
                &firewall_policy-firewall_listResponseParameter;
                &firewall_policy-firewall_rulesResponseParameter;
                &firewall_policy-idResponseParameter;
                &firewall_policy-nameResponseParameter;
                &firewall_policy-sharedResponseParameter;
                &firewall_policy-tenant_idResponseParameter;
            </representation>
        </response>
        &fault400;
        &fault401;
        &fault404;
    </method>
    <method name="DELETE" id="deleteFirewallPolicy">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete firewall policy">
            <para role="shortdesc">
                Deletes a firewall policy.
            </para>
        </wadl:doc>
        <response status="204"/>
        <!-- &fault401; -->
        <!-- &fault404; -->
        <!-- &fault409conflict; -->
    </method>
    <!-- Firewall rules  -->
    <method name="GET" id="listFirewallRules">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List firewall rules">
            <para role="shortdesc">
                Lists all firewall rules.
            </para>
            <para>
                The list might be empty.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-rules-list-response.json"/>
                </wadl:doc>
                <!-- &firewallRulesObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
    </method>
    <method name="GET" id="showFirewallRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show firewall rule details">
            <para role="shortdesc">
                Shows details for a firewall rule.
            </para>
            <para>
                If the user is not an administrative user and the firewall rule
                object does not belong to the tenant account, this call
                returns the <code>Forbidden (403)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-rule-show-response.json"/>
                </wadl:doc>
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault401; -->
        <!-- &fault403; -->
        <!-- &fault404; -->
    </method>
    <method name="POST" id="createFirewallRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create firewall rule">
            <para role="shortdesc">
                Creates a firewall rule.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-rule-create-request.json"/>
                </wadl:doc>
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesRequestParameters; -->
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-rule-create-response.json"/>
                </wadl:doc>
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
    </method>
    <method name="PUT" id="updateFirewallRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Update firewall rule">
            <para role="shortdesc">
                Updates a firewall rule.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-rule-update-request.json"/>
                </wadl:doc>
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesRequestParameters; -->
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/firewalls/firewall-rule-update-response.json"/>
                </wadl:doc>
                <!-- &firewallRuleObject; -->
                <!-- &firewallRulesResponseParameters; -->
            </representation>
        </response>
        <!-- &fault400; -->
        <!-- &fault401; -->
        <!-- &fault404; -->
    </method>
    <method name="DELETE" id="deleteFirewallRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete firewall rule">
            <para role="shortdesc">
                Deletes a firewall rule.
            </para>
        </wadl:doc>
        <response status="204"/>
        <!-- &fault401; -->
        <!-- &fault404; -->
        <!-- &fault409conflict; -->
    </method>
</application>
