api-ref/src/wadls/networking-api/src/wadl/layer3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent layer3.wadl                     -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/"
        xml:id="os-layer3-ext-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="routers" type="#RouterList"
                path="routers">
                <method href="#createRouter"/>
                <resource path="{router_id}" id="router_id">
                    &router_idTemplateParameter;
                    <method href="#showRouter"/>
                    <method href="#updateRouter"/>
                    <method href="#deleteRouter"/>
                    <resource id="add_router_interface"
                        path="add_router_interface">
                        <method href="#addRouterInterface"/>
                    </resource>
                    <resource id="remove_router_interface"
                        path="remove_router_interface">
                        <method href="#removeRouterInterface"/>
                    </resource>
                </resource>
            </resource>
            <resource id="FloatingIps" type="#FloatingIpList"
                path="floatingips">
                <method href="#createFloatingIp"/>
                <resource path="{floatingip_id}"
                    id="floatingip_id">
                    &floating_ip_idTemplateParameter;
                    <method href="#showFloatingIp"/>
                    <method href="#updateFloatingIp"/>
                    <method href="#deleteFloatingIp"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="RouterList">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Router list">
            <para>
                A list of routers.
            </para>
        </wadl:doc>
        <method href="#listRouters"/>
    </resource_type>
    <resource_type id="FloatingIpList">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Floating IPs list">
            <para>
                A list of floating IP addresses.
            </para>
        </wadl:doc>
        <method href="#listFloatingIps"/>
    </resource_type>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listRouters">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List routers">
            <para role="shortdesc">
                Lists logical routers that the tenant who submits the request
                can access.
            </para>
            <para>
                Default policy settings return only those routers that the
                tenant who submits the request owns, unless an administrative
                user submits the request.
            </para>
            <para>
                This example request lists routers in JSON format:
            </para>
<programlisting>GET /v2.0/routers Accept: application/json</programlisting>
            <para>
                Use the <code>fields</code> query parameter to control which
                fields are returned in the response body. Additionally, you
                can filter results by using query string parameters. For
                information, see <link
                xlink:href="https://wiki.openstack.org/wiki/Neutron/APIv2-specification#Filtering_and_Column_Selection">Filtering
                and Column Selection</link>.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/routers-list-response.json"/>
                </wadl:doc>
                &routersObject;
                &statusResponseParameter;
                &external-gateway-infoResponseParameter;
                &availability_zone_hintsResponseParameter;
                &availability_zonesResponseParameter;
                &router-nameResponseParameter;
                &admin-state-upResponseParameter;
                &tenant_idResponseParameter;
                &distributedResponseParameter;
                &routesResponseParameter;
                &router-haResponseParameter;
                &router-idResponseParameter;
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createRouter">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create router">
            <para role="shortdesc">
                Creates a logical router.
            </para>
            <para>
                This operation creates a logical router. The logical router
                does not have any internal interface and it is not associated
                with any subnet. You can optionally specify an external
                gateway for a router at create time. The external gateway for
                the router must be plugged into an external network. An
                external network has its <code>router:external</code> extended
                field set to <code>true</code>. To specify an external
                gateway, the UUID of the external network must be passed in the
                <code>external_gateway_info</code> attribute in the request
                body, as follows:
            </para>
<programlisting language="json">{
   "router": {
      "external_gateway_info": {
         "network_id": "8ca37218-28ff-41cb-9b10-039601ea7e6b"
      }
   }
}</programlisting>
        </wadl:doc>
        <request>
               <representation
                mediaType="application/json" element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/router-create-request.json"/>
                </wadl:doc>
                &routerObject;
                &external-gateway-infoRequestParameter;
                &router-nameRequestParameter;
                &admin-state-upRequestParameter;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json"
                element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/router-create-response.json"/>
                </wadl:doc>
                &routerObject;
                &statusResponseParameter;
                &external-gateway-infoResponseParameter;
                &availability_zone_hintsResponseParameter;
                &availability_zonesResponseParameter;
                &router-nameResponseParameter;
                &admin-state-upResponseParameter;
                &tenant_idResponseParameter;
                &routesResponseParameter;
                &router-idResponseParameter;
            </representation>
        </response> &fault400; &fault401;
    </method>
    <method name="GET" id="showRouter">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show router details">
            <para role="shortdesc">
                Shows details for a router.
            </para>
            <para>
                This example request shows details for a router in JSON
                format:
            </para>
<programlisting>GET /v2.0/routers/{router_id} Accept: application/json</programlisting>
            <para>
                Use the <code>fields</code> query parameter to control which
                fields are returned in the response body. For information, see
                <link
                xlink:href="http://specs.openstack.org/openstack/neutron-specs/specs/api/networking_general_api_information.html#filtering-and-column-selection">Filtering
                and Column Selection</link>.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/router-show-response.json"
                    />
                </wadl:doc>
                &routerObject;
                &statusResponseParameter;
                &external-gateway-infoResponseParameter;
                &availability_zone_hintsResponseParameter;
                &availability_zonesResponseParameter;
                &router-nameResponseParameter;
                &admin-state-upResponseParameter;
                &tenant_idResponseParameter;
                &distributedResponseParameter;
                &routesResponseParameter;
                &router-haResponseParameter;
                &router-idResponseParameter;
            </representation>
        </response> &fault401; &fault403; &fault404;
    </method>
    <method name="PUT" id="updateRouter">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update router">
            <para role="shortdesc">
                Updates a logical router.
            </para>
            <para>
                You can update the name, administrative state, and the
                external gateway. For more information about how to set the
                external gateway for a router, see the create router
                operation. This operation does not enable the update of router
                interfaces. To update a router, use the add router interface
                and remove router interface operations.
            </para>
            <para>
                This example updates the external gateway information for a
                router:
            </para>
<programlisting>PUT /v2.0/routers/{router_id} Accept: application/json</programlisting>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/router-update-request.json"
                    />
                </wadl:doc>
                &routerObject;
                &external-gateway-infoRequestParameter;
                &router-nameRequestParameter;
                &admin-state-upRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/router-update-response.json"
                    />
                </wadl:doc>
                &routerObject;
                &statusResponseParameter;
                &external-gateway-infoResponseParameter;
                &availability_zone_hintsResponseParameter;
                &availability_zonesResponseParameter;
                &router-nameResponseParameter;
                &admin-state-upResponseParameter;
                &tenant_idResponseParameter;
                &routesResponseParameter;
                &router-idResponseParameter;
            </representation>
        </response>
        &fault400;
        &fault401;
        &fault404;
    </method>
    <method name="DELETE" id="deleteRouter">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete router">
            <para role="shortdesc">
                Deletes a logical router and, if present, its external gateway
                interface.
            </para>
            <para>
                This operation fails if the router has attached interfaces.
            </para>
            <para>
                Use the remove router interface operation to remove all router
                interfaces before you delete the router.
            </para>
            <para>This example deletes a router:</para>
<programlisting>DELETE /v2.0/routers/{router_id} Accept: application/json</programlisting></wadl:doc>
        <response status="204"/>
        &fault401;
        &fault404;
        &fault409conflict;
    </method>
    <method name="PUT" id="addRouterInterface">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add interface to router">
            <para role="shortdesc">
                Adds an internal interface to a logical router.
            </para>
            <para>
                Attaches a subnet to an internal router interface.
            </para>
            <para>
                Specify the UUID of a subnet or port in the request body:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        Subnet UUID. The gateway IP address for the subnet is
                        used to create the router interface.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        Port UUID. The IP address associated with the port is
                        used to create the router interface.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                When you specify an IPv6 subnet, this operation adds the
                subnet to an existing internal port with same network UUID, on
                the router. If a port with the same network UUID does not exist,
                this operation creates a port on the router for that subnet.
            </para>
            <para>
                The limitation of one IPv4 subnet per router port remains,
                though a port can contain any number of IPv6 subnets that
                belong to the same network UUID.
            </para>
            <para>
                When you use the <code>port-create</code> command to add a
                port and then call <code>router-interface-add</code> with this port
                UUID, this operation adds the port to the router if the following
                conditions are met:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        The port has no more than one IPv4 subnet.
                    </para>
                    <para>
                        The IPv6 subnets, if any, on the port do not have same
                        network UUID as the network UUID of IPv6 subnets on any other
                        ports.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                If you specify both UUIDs, this operation returns the <code>Bad
                Request (400)</code> response code.
            </para>
            <para>
                If the port is already in use, this operation returns the
                <code>Conflict (409)</code> response code.
            </para>
            <para>
                This operation returns a port UUID that is either:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        The same UUID that is passed in the request body.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        The UUID of a port that this operation creates to attach
                        the subnet to the router.
                    </para>
                </listitem>
            </itemizedlist>
            <para>
                After you run this operation, the operation sets:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        The device UUID of this port to the router UUID.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        The <code>device_owner</code> attribute to
                        <code>network:router_interface</code>.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/routers/router-add-interface-request.json"/>
                </wadl:doc>
                &subnet_idRequestParameter;
                &port_idRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/routers/router-add-interface-response.json"/>
                </wadl:doc>
                &subnet_idResponseParameter;
                &tenant_idResponseParameter;
                &port_idResponseParameter;
                &router-idResponseParameter;
            </representation>
        </response>
        &fault400;
        &fault401;
        &fault404;
        &fault409;
    </method>
    <!--<method name="PUT" id="removeRouterInterface">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Remove interface from router">
            <para role="shortdesc">
                Removes an internal interface from a logical router.
            </para>
            <para>
                This operation removes an internal router interface, which
                detaches a subnet from the router. If this subnet UUID is the
                last subnet on the port, this operation deletes the port
                itself. You must specify either a subnet UUID or port UUID in the
                request body; the operation uses this value to identify which
                router interface to remove.
            </para>
            <para>
                You can also specify both a subnet UUID and port UUID. If you
                specify both UUIDs, the subnet UUID must correspond to the subnet
                UUID of the first IP address on the port. Otherwise, this
                operation returns the <code>Conflict (409)</code> response
                code with information about the affected router and interface.
            </para>
            <para>
                If the router or the subnet and port do not exist or are not
                visible to you, this operation returns the <code>Not Found
                (404)</code> response code. As a consequence of this
                operation, the operation removes the port connecting the
                router with the subnet from the subnet for the network.
            </para>
            <para>
                This example removes an interface from a router:
            </para>
<programlisting>PUT /v2.0/routers/{router_id}/remove_router_interface Accept: application/json</programlisting>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/router-remove-interface-request.json"
                    />
                </wadl:doc>
                &subnet_idRequestParameter;
                &port_idRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation
                mediaType="application/json" element="csapi:router">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/router-remove-interface-response.json"
                    />
                </wadl:doc>
                &router-idResponseParameter;
                &tenant_idResponseParameter;
                &port_idRequestParameter;
                &subnet_idRequestParameter;
            </representation>
        </response> &fault400; &fault401; &fault404; &fault409;
    </method>
    <method name="GET" id="listFloatingIps">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List floating IPs">
            <para role="shortdesc">
                Lists floating IPs that are accessible to the tenant who
                submits the request.
            </para>
            <para>
                Default policy settings return only those floating IPs that
                are owned by the tenant who submits the request, unless an
                admin user submits the request.
            </para>
            <para>This example request lists floating IPs in JSON
                format:</para>
            <programlisting>GET /v2.0/floatingips
Accept: application/json</programlisting>
            <para>
                Use the <code>fields</code> query parameter to control which
                fields are returned in the response body. Additionally, you
                can filter results by using query string parameters. For
                information, see <link
                    xlink:href="https://wiki.openstack.org/wiki/Neutron/APIv2-specification#Filtering_and_Column_Selection"
                    >Filtering and Column Selection</link>.
            </para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json"
                element="csapi:floatingip">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/floating-ips-list-response.json"
                    />
                </wadl:doc>
                &floating-ipsParameter;
                &router-idParameter;
                &tenant_idResponseParameter;
                &floating-network-idParameter;
                &fixed-ip-addressResponseParameter;
                &floating-ip-addressResponseParameter;
                &port_idRequestParameter;
                &floatingip-idParameter;
                &floatingip-statusResponseParameter;
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createFloatingIp">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create floating IP">
            <para role="shortdesc">
                Creates a floating IP, and, if you specify port information,
                associates the floating IP with an internal port.
            </para>
            <para>
                To associate the floating IP with an internal port, specify
                the port UUID attribute in the request body. If you do not
                specify a port UUID in the request, you can issue a &PUT;
                request instead of a &POST; request.
            </para>
            <para>
                Default policy settings enable only administrative users to
                set floating IP addresses and some non-administrative users
                might require a floating IP address. If you do not specify a
                floating IP address in the request, the operation automatically
                allocates one.
            </para>
            <para>
                By default, this operation associates the floating IP address
                with a single fixed IP address that is configured on an
                OpenStack Networking port. If a port has multiple IP
                addresses, you must specify the <code>fixed_ip_address</code>
                attribute in the request body to associate a fixed IP
                address with the floating IP address.
            </para>
            <para>
                You can create floating IPs on only external networks. When
                you create a floating IP, you must specify the UUID of the
                network on which you want to create the floating IP.
                Alternatively, you can create a floating IP on a
                subnet in the external network, based on the costs and
                quality of that subnet.
            </para>
            <para>
                You must configure an IP address with the internal OpenStack
                Networking port that is associated with the floating IP
                address.
            </para>
            <para>Error codes:</para>
            <itemizedlist>
               <listitem>
                  <para>
                    <code>400</code> The operation returns this error code for
                    one of these reasons:
                </para>
                  <itemizedlist>
                     <listitem>
                        <para>The network is not external, such as
                           <code>router:external=False</code>.
                        </para>
                     </listitem>
                     <listitem>
                        <para>The internal OpenStack
                           Networking port is not associated with the floating IP
                           address.
                        </para>
                     </listitem>
                     <listitem>
                        <para>
                           The requested floating IP address does not fall in the
                           subnet range for the external network.
                        </para>
                     </listitem>
                     <listitem>
                        <para>
                           The fixed IP address is not valid.
                        </para>
                     </listitem>
                  </itemizedlist>
               </listitem>
               <listitem>
                  <para><code>401</code> The operation is not authorized.
                  </para>
               </listitem>
               <listitem>
                  <para><code>404</code> The port UUID is not valid.
                  </para>
               </listitem>
               <listitem>
                  <para>
                    <code>409</code> The operation returns this error code for
                    one of these reasons:
                </para>
                  <itemizedlist>
                     <listitem>
                        <para>
                           The requested floating IP address is already in use.
                        </para>
                     </listitem>
                     <listitem>
                        <para>
                            The internal OpenStack Networking port and fixed IP
                            address are already associated with another floating IP.
                        </para>
                     </listitem>
                  </itemizedlist>
               </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="csapi:floatingip">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/floatingip-create-request.json"/>
                </wadl:doc>
                &floatingipCreateRequestParams;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/routers/floatingip-create-response.json"/>
                </wadl:doc>
                &floatingipObject;
                &floating_network_idResponseParameter;
                &router_idResponseParameter;
                &fixed_ip_addressResponseParameter;
                &floating_ip_addressResponseParameter;
                &tenant_idResponseParameter;
                &floatingip-statusResponseParameter;
                &port_idResponseParameter;
                &floatingip-idResponseParameter;
            </representation>
        </response> &fault400; &fault401; &fault404; &fault409;
    </method>
    <method name="GET" id="showFloatingIp">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show floating IP details">
            <para role="shortdesc">
                Shows details for a floating IP.
            </para>
            <para>
                Use the <code>fields</code> query parameter to control which
                fields are returned in the response body. For information, see
                <link
                xlink:href="http://specs.openstack.org/openstack /neutron-specs/specs/api/networking_general_api_information.html #filtering-and-column-
                selection">Filtering
                and Column Selection</link>.
            </para>
            <para>
                This example request shows details for a floating IP in JSON
                format. This example also filters the result by the
                <code>fixed_ip_address</code> and
                <code>floating_ip_address</code> fields.
            </para>
<programlisting>GET /v2.0/floatingips/{floatingip_id}?fields=fixed_ip_address&amp;fields=floating_ip_address
Accept: application/json</programlisting>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json"
                element="csapi:floatingip">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/routers/floatingip-show-response.json"
                    />
                </wadl:doc>
                &floating-ipParameter;
                &floating-network-idParameter;
                &router-idParameter;
                &fixed-ip-addressResponseParameter;
                &floating-ip-addressResponseParameter;
                &tenant_idResponseParameter;
                &floatingip-statusResponseParameter;
                &port_idRequestParameter;
                &floatingip-idParameter;
            </representation>
        </response> &fault401; &fault403; &fault404;
    </method>
    <method name="PUT" id="updateFloatingIp">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update floating IP">
            <para role="shortdesc">
                Updates a floating IP and its association with an internal
                port.
            </para>
            <para>
                The association process is the same as the process for the
                create floating IP operation.
            </para>
            <para>
                To disassociate a floating IP from a port, set the
                <code>port_id</code> attribute to null or omit it from the
                request body.
            </para>
            <para>
                This example updates a floating IP:
            </para>
<programlisting>PUT /v2.0/floatingips/{floatingip_id} Accept: application/json</programlisting>
            <para>
                Depending on the request body that you submit, this request
                associates a port with or disassociates a port from a floating
                IP.
            </para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json"
                element="csapi:floatingip">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update floating IP (associate port): JSON">
                    <xsdxt:code
                        href="../samples/routers/floatingip-update-request.json"
                    />
                </wadl:doc>
                &port_idRequestParameter;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/routers/floatingip-disassociate-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation
                mediaType="application/json"
                element="csapi:floatingip">
                <wadl:doc
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Update floating IP (associate port): JSON">
                    <xsdxt:code
                        href="../samples/routers/floatingip-update-response.json"
                    />
                </wadl:doc>
                &floating-ipParameter;
                &floating-network-idParameter;
                &router-idParameter;
                &fixed-ip-addressResponseParameter;
                &floating-ip-addressResponseParameter;
                &tenant_idResponseParameter;
                &floatingip-statusResponseParameter;
                &port_idRequestParameter;
                &floatingip-idParameter;
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code href="../samples/routers/floatingip-disassociate-response.json"/>
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault404; &fault409; </method>
    <method name="DELETE" id="deleteFloatingIp">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete floating IP">
            <para role="shortdesc">
                Deletes a floating IP and, if present, its associated port.
            </para>
            <para>
                This example deletes a floating IP:
            </para>
<programlisting>DELETE /v2.0/floatingips/{floatingip_id} Accept: application/json</programlisting>
        </wadl:doc>
        <response status="204"/> &fault401; &fault404;
    </method> -->
</application>
