api-ref/src/wadls/networking-api/src/wadl/lbaas-v1.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent lbaas-v1.0.wadl                 -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/"
        xml:id="os-lbaas-v1.0">
        <resource id="version" path="//v2.0">
            <resource id="lb-vips" path="lb/vips">
                <method href="#listVIPs"/>
                <method href="#createVIP"/>
                <resource id="vip_id" path="{vip_id}">
                    <param name="vip_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="VIP UUID">The UUID for
                            the VIP.</wadl:doc>
                    </param>
                    <method href="#showVIP"/>
                    <method href="#updateVIP"/>
                    <method href="#deleteVIP"/>
                </resource>
            </resource>
            <resource id="lb-health_monitors" path="lb/health_monitors">
                <method href="#listHealthMonitors"/>
                <method href="#createHealthMonitor"/>
                <resource id="health_monitor_id_hm"
                    path="{health_monitor_id}">
                    <param name="health_monitor_id" style="template"
                       type="csapi:UUID">
                        <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Health monitor UUID">
                        The UUID for the health monitor.
                        </wadl:doc>
                    </param>
                    <method href="#showHealthMonitor"/>
                    <method href="#updateHealthMonitor"/>
                    <method href="#deleteHealthMonitor"/>
                </resource>
            </resource>
            <resource id="lb-pools" path="lb/pools">
                <method href="#listPools"/>
                <method href="#createPool"/>
                <resource id="pool_id" path="{pool_id}">
                    <param name="pool_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="Pool UUID">The UUID
                            for the pool.</wadl:doc>
                    </param>
                    <method href="#showPool"/>
                    <method href="#updatePool"/>
                    <method href="#deletePool"/>
                    <resource id="health_monitors_pool"
                        path="health_monitors">
                        <method href="#associateHealthMonitor"/>
                        <resource id="health_monitor_id_pool"
                            path="{health_monitor_id}">
                            <param name="health_monitor_id"
                                style="template" type="csapi:UUID">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN" title="Health monitor UUID"
                                   >The UUID for the health
                                   monitor.</wadl:doc>
                            </param>
                            <method href="#disassociateHealthMonitor"
                            />
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="lb-members" path="lb/members">
                <method href="#listMembers"/>
                <method href="#createMember"/>
                <resource id="member_id" path="{member_id}">
                    <param name="member_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="Member UUID">The UUID
                            for the member.</wadl:doc>
                    </param>
                    <method href="#showMember"/>
                    <method href="#updateMember"/>
                    <method href="#deleteMember"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- vips -->
    <method name="GET" id="listVIPs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List VIPs">
            <para role="shortdesc">Lists VIPs.</para>
            <para>
                The list might be empty.
            </para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/vips-list-response.json"/>
                </wadl:doc>
                &vipsObject;
                &vipResponseParameters;
            </representation>
        </response> &fault401; &fault500; &fault503; </method>
    <method name="POST" id="createVIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create a load balancer VIP">
            <para role="shortdesc">Creates a load balancer VIP.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/vip-create-request.json"/>
                </wadl:doc>
                &vipObject;
                &vipCreateRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/vip-create-response.json"
                    />
                </wadl:doc>
                &vipObject; &vipResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault404; &fault409; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="showVIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show VIP details">
            <para role="shortdesc">Shows details for a
                VIP.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/vip-show-response.json"/>
                </wadl:doc>
                &vipObject;
                &vipResponseParameters;
            </representation>
        </response> &fault401; &fault403; &fault404; &fault409; &fault413; &fault500; &fault503; </method>
    <method name="PUT" id="updateVIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update VIP">
            <para role="shortdesc">Updates a load balancer
                VIP.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/vip-update-request.json"/>
                </wadl:doc>
                &vipObject;
                &vipUpdateRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/vip-update-response.json"/>
                </wadl:doc>
                &vipObject; &vipResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="DELETE" id="deleteVIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete VIP">
            <para role="shortdesc">Deletes a load balancer
                VIP.</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <!-- pools -->
    <method name="GET" id="listPools">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List pools">
            <para role="shortdesc">Lists pools.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pools-list-response.json"
                    />
                </wadl:doc>
                &poolsObject; &poolResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="POST" id="createPool">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create a load balancer pool">
            <para role="shortdesc">Creates a load balancer
                pool.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-create-request.json"
                    />
                </wadl:doc>
                &poolObject; &poolCreateRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/pool-create-response.json"
                    />
                </wadl:doc>
                &poolObject; &poolResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="showPool">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show pool details">
            <para role="shortdesc">Shows details for a
                pool.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/pool-show-response.json"/>
                </wadl:doc>
                &poolObject; &poolResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="PUT" id="updatePool">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update pool">
            <para role="shortdesc">Updates a load balancer
                pool.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/pool-update-request.json"/>
                </wadl:doc>
                &poolObject; &poolUpdateRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/pool-update-response.json"/>
                </wadl:doc>
                 &poolObject; &poolResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="DELETE" id="deletePool">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete pool">
            <para role="shortdesc">Deletes a load balancer
                pool.</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <!-- members -->
    <method name="GET" id="listMembers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List members">
            <para role="shortdesc">Lists members.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/members-list-response.json"/>
                </wadl:doc>
                &membersObject; &memberResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="POST" id="createMember">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create a load balancer member">
            <para role="shortdesc">Creates a load balancer
                member.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/member-create-request.json"/>
                </wadl:doc>
                &memberObject; &memberCreateRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/member-create-response.json"/>
                </wadl:doc>
                &memberObject; &memberResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="showMember">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show member details">
            <para role="shortdesc">Shows details for a
                member.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/member-show-response.json"
                    />
                </wadl:doc>
                &memberObject; &memberResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="PUT" id="updateMember">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update member">
            <para role="shortdesc">Updates a load balancer
                member.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/member-update-request.json"
                    />
                </wadl:doc>
                &memberObject; &memberUpdateRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/member-update-response.json"
                    />
                </wadl:doc>
                &memberObject; &memberResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="DELETE" id="deleteMember">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete member">
            <para role="shortdesc">Deletes a load balancer
                member.</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <!-- health monitors -->
    <method name="GET" id="listHealthMonitors">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List health monitors">
            <para role="shortdesc">Lists health monitors.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/lbaas/healthmonitors-list-response.json"/>
                </wadl:doc>
                &health_monitorsObject; &hmResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="POST" id="createHealthMonitor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create a load balancer health monitor">
            <para role="shortdesc">Creates a load balancer health
                monitor.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/healthmonitor-create-request.json"
                    />
                </wadl:doc>
                &health_monitorObject; &hmCreateRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/healthmonitor-create-response.json"
                    />
                </wadl:doc>
                &health_monitorObject; &hmResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="GET" id="showHealthMonitor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show health monitor details">
            <para role="shortdesc">Shows details for a
                health monitor.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/healthmonitor-show-response.json"
                    />
                </wadl:doc>
                &health_monitorObject; &hmResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="PUT" id="updateHealthMonitor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update health monitor">
            <para role="shortdesc">Updates a load balancer
                health monitor.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/healthmonitor-update-request.json"
                    />
                </wadl:doc>
                &health_monitorObject; &hmUpdateRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/healthmonitor-update-response.json"
                    />
                </wadl:doc>
                 &health_monitorObject; &hmResponseParameters;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="DELETE" id="deleteHealthMonitor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete health monitor">
            <para role="shortdesc">Deletes a load balancer
                health monitor.</para>
        </wadl:doc>
        <request>
        </request>
        <response status="204"/> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="POST" id="associateHealthMonitor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Associate health monitor with pool">
            <para role="shortdesc">Associates a health monitor with a
             pool.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/healthmonitor-associate-request.json"
                    />
                </wadl:doc>
                &health_monitorObject; &hmassociatepoolRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/lbaas/healthmonitor-associate-response.json"
                    />
                </wadl:doc>
                &health_monitorObject;
            </representation>
        </response> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
    <method name="DELETE" id="disassociateHealthMonitor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate health monitor from pool">
            <para role="shortdesc">Disassociates a health
                monitor from a pool.</para>
        </wadl:doc>
        <response status="204"/> &fault400; &fault401; &fault413; &fault500; &fault503; </method>
</application>
