api-ref/src/wadls/networking-api/src/wadl/metering-labels.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent metering-labels.wadl            -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://www.w3.org/2001/XMLSchema"
    xmlns:metering="http://docs.openstack.org/neutron/api/v2.0">
    <resources base="https://servers.api.openstack.com/"
        xml:id="metering-labels-v2.0">
        <resource id="version" path="//v2.0/metering">
            <resource id="metering-labels" path="metering-labels">
                <method href="#listMeteringLabels"/>
                <method href="#createMeteringLabel"/>
                <resource id="get_metering_label"
                    path="{metering-label-id}">
                    &metering_label_idTemplateParameter;
                    <method href="#showMeteringLabel"/>
                    <method href="#deleteMeteringLabel"/>
                </resource>
            </resource>
            <resource id="metering_label_rules"
                path="metering-label-rules">
                <method href="#listMeteringLabelRules"/>
                <method href="#createMeteringLabelRule"/>
                <resource path="{metering-label-rule-id}"
                    id="metering-label-rule-id">
                    &metering_label_rule_idTemplateParameter;
                    <method href="#showMeteringLabelRule"/>
                    <method href="#deleteMeteringLabelRule"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listMeteringLabels">
        <wadl:doc xml:lang="EN" title="List metering labels"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all L3 metering labels that belong to the
                tenant.
            </para>
            <para>
                The list shows the UUID for each metering label.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><xsdxt:code
                        href="../samples/metering-labels/metering-labels-list-request-json-http.txt"
                    /></wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-labels-list-response.json"
                    />
                </wadl:doc>
                &metering_labelsObject;
                &CommonMeteringLabelResponseParameters;
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="POST" id="createMeteringLabel">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create metering label">
            <para role="shortdesc">
                Creates an L3 metering label.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-create-request.json"
                    />
                </wadl:doc>
                &metering_labelObject;
                &CommonMeteringLabelRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-create-response.json"
                    />
                </wadl:doc>
                &metering_labelObject;
                &CommonMeteringLabelResponseParameters;
            </representation>
        </response>
        <response status="400"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="showMeteringLabel">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metering label details">
            <para role="shortdesc">
                Shows details for a metering label.
            </para>
            <para>
                The response body shows the description, name, and UUID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-show-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-show-response.json"
                    />
                </wadl:doc>
                &metering_labelObject;
                &CommonMeteringLabelResponseParameters;
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="DELETE" id="deleteMeteringLabel">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete metering label">
            <para role="shortdesc">
                Deletes an L3 metering label.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-delete-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-delete-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="listMeteringLabelRules">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List metering label rules">
            <para role="shortdesc">
                Lists a summary of all L3 metering label rules that belong to
                the tenant.
            </para>
            <para>
                The list shows the UUID for each metering label rule.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rules-list-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rules-list-response.json"
                    />
                </wadl:doc>
                &ListMeteringLabelRuleResponseParameters;
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="POST" id="createMeteringLabelRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create metering label rule">
            <para role="shortdesc">
                Creates an L3 metering label rule.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rule-create-request.json"
                    />
                </wadl:doc>
                &CreateMeteringLabelRuleRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rule-create-response.json"
                    />
                </wadl:doc>
                &CreateMeteringLabelRuleResponseParameters;
            </representation>
        </response>
        <response status="400"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:badRequest"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="403"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:forbidden"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="409"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:conflict"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="GET" id="showMeteringLabelRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metering label rule details">
            <para role="shortdesc">
                Shows details for a metering label
                rule.
            </para>
            <para>
                The response body shows this information for each
                metering label rule:
            </para>
            <itemizedlist>
                <listitem>
                    <para>
                        <code>direction</code>. Either ingress or egress.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        <code>excluded</code>. Either <code>true</code> or
                        <code>false</code>.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        The UUID for the metering label rule.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        The remote IP prefix.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        The metering label ID for the metering label with
                        which the rule is associated.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rule-show-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rule-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method name="DELETE" id="deleteMeteringLabelRule">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete metering label rule">
            <para role="shortdesc">
                Deletes an L3 metering label rule.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rule-delete-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metering-labels/metering-label-rule-delete-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="401"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:unauthorized"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="404"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/xml"
                element="metering:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
</application>
