api-ref/src/wadls/networking-api/src/wadl/networks.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent networks.wadl                   -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/" xml:id="os-networks-v2.0">
        <resource id="networks-versions" path="//">
            <method href="#networks-listVersions"/>
            <resource id="version" path="v2.0">
                <method href="#networks-showVersionDetails"/>
            </resource>
        </resource>
        <resource id="network-version" path="//v2.0">
            <resource id="networks" type="#NetworkList"
                path="networks">
                <method href="#createNetwork"/>
                <method href="#bulkCreateNetwork"/>
                <resource path="{network_id}" id="network_id">
                    &network_idTemplateParameter;
                    <method href="#showNetwork"/>
                    <method href="#updateNetwork"/>
                    <method href="#deleteNetwork"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="NetworkList">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Network list">
            <para>
                A list of networks.
            </para>
        </wadl:doc>
        <method href="#listNetworks"/>
    </resource_type>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="networks-listVersions">
        <wadl:doc xml:lang="EN" title="List API versions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information about all Networking API versions.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/versions-list-response.json"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="300"/>
    </method>
    <method name="GET" id="networks-showVersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show API v2 details">
            <para role="shortdesc">
                Shows details for Networking API v2.0.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/version-show-response.json"
                    />
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="location"
                    style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Location">
                        <para>
                            Full URL to a service or server.
                        </para>
                    </wadl:doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
        </response>
        <response status="203"/>
    </method>
    <!-- Extensions -->
    <method name="GET" id="listNetworks">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">
                Lists networks to which the tenant has access.
            </para>
            <para>
                Use the <code>fields</code> query parameter to filter the response.
                For information, see <link
                xlink:href="https://wiki.openstack.org/wiki/Neutron/APIv2-specification#Filtering_and_Column_Selection">Filtering and Column Selection</link>.
            </para>
            <para>
                Use the <code>tags</code>, <code>tags-any</code>,
                <code>not-tags</code>, <code>not-tags-any</code>  query parameter
                to filter the response with tags. For information, see <link
                xlink:href="http://specs.openstack.org/openstack/neutron-specs/specs/mitaka/add-tags-to-core-resources.html#rest-api-impact">REST API Impact</link>.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/networks-list-response.json"/>
                </wadl:doc>
                &networksObject;
                &admin_state_upResponseParameter;
                &idResponseParameter;
                &nameResponseParameter;
                &sharedResponseParameter;
                &statusResponseParameter;
                &subnetsResponseParameter;
                &tenant_idResponseParameter;
                &router-externalResponseParameter;
                &mtuResponseParameter;
                &availability_zonesResponseParameter;
                &availability_zone_hintsResponseParameter;
            </representation>
        </response>
        &fault401;
    </method>
    <method name="POST" id="createNetwork">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create network">
            <para role="shortdesc">
                Creates a network.
            </para>
            <para>
                A request body is optional. An administrative user can
                specify another tenant UUID, which is the tenant who owns the
                network, in the request body.
            </para>
        </wadl:doc>
        <request>
            &networkObject;
            &admin_state_upRequestParameter;
            &nameRequestParameter;
            &sharedRequestParameter;
            &tenant_idRequestParameter;
            <param xmlns="http://wadl.dev.java.net/2009/02" required="false" name="router:external" style="plain"
                type="xsd:boolean">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook" xml:lang="EN"><para>Indicates whether this
                        network is externally
                        accessible.</para></wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-create-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-create-response.json"/>
                </wadl:doc>
                &networkObject;
                &admin_state_upResponseParameter;
                &idResponseParameter;
                &nameResponseParameter;
                &sharedResponseParameter;
                &statusResponseParameter;
                &subnetsResponseParameter;
                &tenant_idResponseParameter;
                &router-externalResponseParameter;
                &mtuResponseParameter;
                &availability_zonesResponseParameter;
                &availability_zone_hintsResponseParameter;
            </representation>
        </response> &fault400; &fault401; </method>
    <method name="POST" id="bulkCreateNetwork">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Bulk create networks">
            <para role="shortdesc">
                Creates multiple networks in a single request.
            </para>
            <para>
                In the request body, specify a list of networks.
            </para>
            <para>
                The bulk create operation is always atomic. Either all or no
                networks in the request body are created.
            </para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json" element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/networks-bulk-create-request.json"/>
                </wadl:doc>
                &networksObject;
                &networkCommonRequestParameters;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/networks-bulk-create-response.json"/>
                </wadl:doc>
                &networksObject;
                &networkCommonResponseParameters;
            </representation>
        </response> &fault400; &fault401; </method>
    <method name="GET" id="showNetwork">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show network details">
            <para role="shortdesc">Shows details for a
                network.</para>
            <para>You can control which response parameters are returned by
                using the fields query parameter. For information, see <link
                    xlink:href="http://specs.openstack.org/openstack/neutron-specs/specs/api/networking_general_api_information.html#filtering-and-column-selection"
                    >Filtering and column selection</link>.
                </para>
            <para>
                The response might show extension response parameters. For
                information, see <link
                xlink:href="http://developer.openstack.org/api-ref-networking-v2-ext.html#showProviderNetwork">Networks multiple provider extension (networks)</link>.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-show-response.json"/>
                </wadl:doc>
                &networkObject;
                &admin_state_upResponseParameter;
                &idResponseParameter;
                &nameResponseParameter;
                &sharedResponseParameter;
                &statusResponseParameter;
                &subnetsResponseParameter;
                &tenant_idResponseParameter;
                &router-externalResponseParameter;
                &mtuResponseParameter;
                &availability_zonesResponseParameter;
                &availability_zone_hintsResponseParameter;
            </representation>
        </response>
        &fault401; &fault404;
    </method>
    <method name="PUT" id="updateNetwork">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update network">
            <para role="shortdesc">
                Updates a network.
            </para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json" element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-update-request.json"/>
                </wadl:doc>
                &networkObject;
                &networkUpdateParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:network">
                <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-update-response.json"/>
                </wadl:doc>
                &networkObject;
                &admin_state_upResponseParameter;
                &idResponseParameter;
                &nameResponseParameter;
                &sharedResponseParameter;
                &statusResponseParameter;
                &subnetsResponseParameter;
                &tenant_idResponseParameter;
                &router-externalResponseParameter;
                &mtuResponseParameter;
                &availability_zonesResponseParameter;
                &availability_zone_hintsResponseParameter;
            </representation>
        </response>
        &fault400; &fault401; &fault403; &fault404;
    </method>
    <method name="DELETE" id="deleteNetwork">
        <wadl:doc xmlns:wadl="http://wadl.dev.java.net/2009/02"
            xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete network">
            <para role="shortdesc">
                Deletes a network and its associated resources.
            </para>
        </wadl:doc>
        <response status="204"/>
        &fault401;
        &fault404;
        &fault409;
    </method>
</application>
