api-ref/src/wadls/networking-api/src/wadl/networks-provider.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent networks-provider.wadl          -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/"
        xml:id="os-networks-provider-ext-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="ProviderNetworks" path="networks">
                <method href="#listProviderNetworks"/>
                <method href="#createProviderNetwork"/>
                <resource path="{network_id}" id="network_id">
                    &network_idTemplateParameter;
                    <method href="#showProviderNetwork"/>
                    <method href="#updateProviderNetwork"/>
                    <method href="#deleteProviderNetwork"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listProviderNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">Lists networks that are accessible
                to the tenant who submits the request.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/networks-list-response.json"
                    />
                </wadl:doc>
                &networkProviderListResponseParameters;
                &availability_zone_hintsResponseParameter;
                &availability_zonesResponseParameter;
                &networkProviderParameters;
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Create network" xml:lang="EN">
            <para role="shortdesc">Creates a network.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-create-request.json"/>
                </wadl:doc>
                &networkObject;
                &networkCommonRequestParameters;
                &networkProviderParameters;
            </representation>
        </request>
        <response status="201">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-create-response.json"/>
                </wadl:doc>
                &networkCreateResponseParameters;
                &availability_zone_hintsResponseParameter;
                &networkProviderParameters;
            </representation>
        </response> &fault400; &fault401;
    </method>
    <method name="GET" id="showProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Show network details">
            <para role="shortdesc">Shows details for a
                network.</para>
        </wadl:doc>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-show-response.json"
                    />
                </wadl:doc>
                &networkShowResponseParameters;
                &availability_zone_hintsResponseParameter;
                &availability_zonesResponseParameter;
                &networkProviderParameters;
            </representation>
        </response> &fault401; &fault404;
    </method>
    <method name="PUT" id="updateProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Update network">
            <para role="shortdesc">Updates a network.</para>
        </wadl:doc>
        <request>
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-update-request.json"
                    />
                </wadl:doc>
                &networkObject;
                &networkCommonRequestParameters;
                &availability_zone_hintsResponseParameter;
                &availability_zonesResponseParameter;
                &networkProviderParameters;
            </representation>
        </request>
        <response status="200">
            <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/networks/network-update-response.json"
                    />
                </wadl:doc>
                &networkUpdateResponseParameters;
                &networkProviderParameters;
            </representation>
        </response> &fault400; &fault401; &fault404;
    </method>
    <method name="DELETE" id="deleteProviderNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            title="Delete network">
            <para role="shortdesc">Deletes a network.</para>
        </wadl:doc>
        <response status="204"></response> &fault401; &fault404; &fault409;
    </method>
</application>
