api-ref/src/wadls/networking-api/src/wadl/network-ip-availability.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent routers.wadl                    -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
  xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
  xmlns:linkend="http://www.w3.org/1999/linkend"
  xmlns:wadl="http://wadl.dev.java.net/2009/02"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <!--*******************************************************-->
   <!--             All Resources                             -->
   <!--*******************************************************-->
   <resources base="https://neutron.example.com/" xml:id="os-routers-v2">
      <resource id="version" path="//v2.0">
         <resource id="network-ip-availability" path="network-ip-availabilities">
               <method href="#ListNetworkIpAvailability" />
               <method href="#ShowNetworkIpAvailability" />
               <resource path="{network_id}" id="network_id">
                   &network_idTemplateParameter;
               </resource>
         </resource>
      </resource>
   </resources>
   <!--*******************************************************-->
   <!--               All Methods                             -->
   <!--*******************************************************-->
   <method name="GET" id="ListNetworkIpAvailability">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Network IP Availability">
      <para role="shortdesc">List network IP availability of all networks.</para>
      </wadl:doc>
      <response status="200">
          <representation mediaType="application/json">
              <wadl:doc xml:lang="EN"
                  xmlns="http://docbook.org/ns/docbook">
                  <xsdxt:code
                     href="../samples/network-ip-availability/network-ip-availability-list.json"/>
               </wadl:doc>
               &net-ip-availabilityResponseParameters;
         </representation>
      </response>
      <response status="401"
          xmlns="http://wadl.dev.java.net/2009/02">
          <representation mediaType="application/xml"
              element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
     </response>
     <response status="403"
         xmlns="http://wadl.dev.java.net/2009/02">
         <representation mediaType="application/xml"
              element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
   </method>
   <method name="GET" id="ShowNetworkIpAvailability">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Network IP Availability">
      <para role="shortdesc">Show network IP availability of all networks.</para>
      </wadl:doc>
      <response status="200">
          <representation mediaType="application/json">
              <wadl:doc xml:lang="EN"
                  xmlns="http://docbook.org/ns/docbook">
                  <xsdxt:code
                     href="../samples/network-ip-availability/network-ip-availability-show.json"/>
               </wadl:doc>
               &net-ip-availabilityResponseParameters;
         </representation>
      </response>
      <response status="401"
          xmlns="http://wadl.dev.java.net/2009/02">
          <representation mediaType="application/xml"
              element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
     </response>
     <response status="403"
         xmlns="http://wadl.dev.java.net/2009/02">
         <representation mediaType="application/xml"
              element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
   </method>
</application>
