api-ref/src/wadls/networking-api/src/wadl/ports-binding.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent ports-binding.wadl              -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://neutron.example.com/"
        xml:id="os-ports-binding-ext-v2.0">
        <resource id="version" path="//v2.0">
            <resource id="ports" path="ports">
                <method href="#listPorts"/>
                <method href="#createPort"/>
                <resource path="{port_id}" id="port_id">
                    &port_idTemplateParameter;
                    <method href="#showPort"/>
                    <method href="#updatePort"/>
                    <method href="#deletePort"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listPorts">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List ports">
            <para role="shortdesc">Lists ports to which the tenant has
                access.</para>
        </wadl:doc>
        <request> &portListQueryParameters; </request>
        <response status="200"> &portListResponseParameters;
            &portBindingResponseParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/ports/ports-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault401;
    </method>
    <method name="POST" id="createPort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create port">
            <para role="shortdesc">Creates a port on a
                network.</para>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
        <request> &portCreateRequestParameters; &portBindingRequestParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/ports/port-create-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="201"> &portCreateResponseParameters;
            &portBindingResponseParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/ports/port-bind-create-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault403;
    </method>
    <method name="GET" id="showPort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show port details">
            <para role="shortdesc">Shows details for a
                port.</para>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
        <response status="200"> &portShowResponseParameters;
            &portBindingResponseParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../samples/ports/port-bind-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updatePort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update port">
            <para role="shortdesc">Updates a port.</para>
        </wadl:doc>
        <!--             Need to verify, samples are mixed          -->
        <request> &portCreateRequestParameters; &portBindingRequestParameters;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/ports/port-create-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200"> &portUpdateResponseParameters;
            &portBindingResponseParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/ports/port-bind-create-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault400; &fault401; &fault404;
    </method>
    <method name="DELETE" id="deletePort">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete port">
            <para role="shortdesc">Deletes a port.</para>
        </wadl:doc>
        <response status="204">
        </response> &fault401; &fault404; &fault409;
    </method>
</application>
