api-ref/src/wadls/compute-api/src/wadl/os-compute-2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-compute-2.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://servers.api.openstack.com"
        xml:id="os-compute-v2">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The tenant ID in a
                            multi-tenancy cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="extensions" type="#ExtensionList"
                    path="extensions">
                    <resource id="extension" path="{alias}">
                        <param name="alias" style="template"
                            type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>An alias, which is
                                   a name for a pointer to a resource.
                                   For example, a named
                                   extension.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getExtension"/>
                    </resource>
                </resource>
                <resource id="limits" path="limits">
                    <method href="#listLimits"/>
                </resource>
                <resource id="Servers" type="#ServerList"
                    path="servers">
                    <method href="#createServer"/>
                    <resource id="server_detail" path="detail"
                        type="#DetailServerList"/>
                    <resource id="server_id" path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>The server
                                   ID.</para>
                            </wadl:doc>
                        </param>
                        <method href="#getServer"/>
                        <method href="#updateServer"/>
                        <method href="#deleteServer"/>
                        <resource id="ips" path="ips"
                            type="#Addresses">
                            <!-- <method href="#getServerAddresses"/> -->
                            <resource id="network_label"
                                path="{network_label}"
                                type="#NetworkAddressList">
                                <param name="network_label"
                                   style="template" type="xsd:string">
                                   <wadl:doc xml:lang="EN"
                                   xmlns="http://docbook.org/ns/docbook"
                                   title="network_label">
                                   <para>The network label, such as
                                   <literal>public</literal> or
                                   <literal>private</literal>.</para>
                                   </wadl:doc>
                                </param>
                                <!--<method href="#getNetworkAddresses"/>-->
                            </resource>
                        </resource>
                        <resource id="metadata" path="metadata"
                            type="#Metadata #MetadataList">
                            <resource id="MetadataKey" path="{key}">
                                <param name="key" style="template"
                                   type="csapi:MetadataKey">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN"
                                   title="Metadata item key">
                                   <para>A string. Maximum length is
                                   255 characters.</para>
                                   </wadl:doc>
                                </param>
                                <method href="#getMetadataItem"/>
                                <method href="#setMetadataItem"/>
                                <method href="#deleteMetadataItem"/>
                            </resource>
                        </resource>
                    </resource>
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN" title="Server UUID"
                                   ><para>The UUID for the server of
                                   interest to you.</para>
                            </wadl:doc>
                        </param>
                        <resource id="action" path="action">
                            <method href="#changePassword"/>
                            <method href="#rebootServer"/>
                            <method href="#rebuildServer"/>
                            <method href="#resizeServer"/>
                            <method href="#confirmServer"/>
                            <method href="#revertServer"/>
                            <method href="#createImage"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="Images" type="#ImageList" path="images">
                <resource id="image_detail" path="detail"
                    type="#DetailImageList"/>
                <resource id="image_id" path="{image_id}">
                    <param name="image_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="image_id">
                            <para>The UUID for the image.</para>
                        </wadl:doc>
                    </param>
                    <method href="#getImage"/>
                    <method href="#deleteImage"/>
                    <resource id="image_metadata" path="metadata"
                        type="#Metadata #MetadataList">
                        <resource id="imageMetadataKey" path="{key}">
                            <param name="key" style="template"
                                type="csapi:MetadataKey">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN"
                                   title="Metadata item key">
                                   <para>A string. Maximum length is
                                   255 characters.</para>
                                </wadl:doc>
                            </param>
                            <method href="#getMetadataItem"/>
                            <method href="#setMetadataItem"/>
                            <method href="#deleteMetadataItem"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="Flavors" type="#FlavorList" path="flavors">
                <resource id="flavor_detail" path="detail"
                    type="#DetailFlavorList"/>
                <resource id="flavor_id" path="{flavor_id}">
                    <param name="flavor_id" style="template"
                        type="csapi:UUID">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN" title="flavor_id">
                            <para>UUID for the specific flavor
                                (combination of memory, disk size, and
                                CPUs).</para>
                        </wadl:doc>
                    </param>
                    <method href="#getFlavor"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Version details">
            <para>Details for a version.</para>
        </wadl:doc>
        <method href="#versionDetails"/>
    </resource_type>
    <resource_type id="ExtensionList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Detail image list">
            <para>A list of supported extensions.</para>
        </wadl:doc>
        <method href="#listExtensions"/>
    </resource_type>
    <resource_type id="DetailServerList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Detail server list">
            <para>A detailed server list.</para>
        </wadl:doc>
        <method href="#listDetailServers"/>
    </resource_type>
    <resource_type id="ServerList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Server list">
            <para>A list of servers. Each server contains IDs, names,
                and links. Other attributes are omitted.</para>
        </wadl:doc>
        <method href="#listServers"/>
    </resource_type>
    <resource_type id="Addresses">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Addresses">
            <para>A list of addresses associated with a server.</para>
        </wadl:doc>
        <method href="#getServerAddresses"/>
    </resource_type>
    <resource_type id="NetworkAddressList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Network address list">
            <para>A list of addresses associated with a
                network.</para>
        </wadl:doc>
        <method href="#getNetworkAddresses"/>
    </resource_type>
    <resource_type id="DetailImageList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Detail image list">
            <para>A detailed image list.</para>
        </wadl:doc>
        <method href="#listDetailImages"/>
    </resource_type>
    <resource_type id="ImageList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Image list">
            <para>A list of images. Each image contains IDs, names,
                and links. Other attributes are omitted.</para>
        </wadl:doc>
        <method href="#listImages"/>
    </resource_type>
    <resource_type id="DetailFlavorList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Detail flavor list">
            <para>A detailed flavor list.</para>
        </wadl:doc>
        <method href="#listDetailFlavors"/>
    </resource_type>
    <resource_type id="FlavorList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Flavor list">
            <para>A list of flavors. Each flavor contains IDs, names,
                and links -- other attributes are omitted.</para>
        </wadl:doc>
        <method href="#listFlavors"/>
    </resource_type>
    <resource_type id="Metadata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Metadata">
            <para>Metadata resource type, this is used for images and
                servers.</para>
        </wadl:doc>
        <method href="#setMetadata"/>
        <method href="#updateMetadata"/>
    </resource_type>
    <resource_type id="MetadataList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Metadata list">
            <para>A list of metadata.</para>
        </wadl:doc>
        <method href="#listMetadata"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->
    <method name="GET" id="versionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get version details">
            <para role="shortdesc">Gets details about this specific
                version of the API.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/versions-get-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="common:version">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/versions-get-resp.xml"/>
                </wadl:doc>
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Location"><para>Full URL
                            to a service or server.</para></wadl:doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <!-- Limits -->
    <method name="GET" id="listLimits">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List limits">
            <para role="shortdesc">Lists the current limits for the
                account.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/limit-get-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="common:limits">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/limit-get-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <!-- Extensions -->
    <method name="GET" id="listExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List extensions">
            <para role="shortdesc">Lists available extensions.</para>
        </wadl:doc>
        <response status="200 203">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/common:extensions/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#ExtensionList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/common:extensions/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#ExtensionList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/all_extensions/extensions-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="common:extensions">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/all_extensions/extensions-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <method name="GET" id="getExtension">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get extension">
            <para role="shortdesc">Gets details about the specified
                extension.</para><para>Extensions introduce features
                and vendor-specific functionality to the API without
                requiring a version change.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/extension.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="common:extension">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/extension.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>
    <!-- Servers -->
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server">
            <para role="shortdesc">Creates a server.</para>
        </wadl:doc>
        <request> &serverCreateParameters; <representation
                mediaType="application/xml" element="csapi:server"> </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-req.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="202"> &serverListParameters; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-post-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <response status="422">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"
                element="csapi:UnprocessableEntity"/>
        </response>
        <!-- All other common faults except build in progess -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults; </method>
    <method name="GET" id="listServers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List servers">
            <para role="shortdesc">Lists IDs, names, and links for all
                servers.</para>
        </wadl:doc>
        <request> &serverListParameters; </request>
        <response status="200 203">
            <param name="servers" style="plain" required="true"
                type="csapi:ServersWithOnlyIDsNamesLinks"
                path="/csapi:servers/atom:link[@rel='servers']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>List of servers.</para>
                </wadl:doc>
                <link resource_type="#ServerList" rel="servers"/>
            </param>
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:servers/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#ServerList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:servers/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#ServerList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/servers-list-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:servers">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><xsdxt:code
                        href="../api_samples/servers-list-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <method name="GET" id="listDetailServers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List details for servers">
            <para role="shortdesc">Lists details for all
                servers.</para>
        </wadl:doc>
        <request> &serverListParameters; </request>
        <response status="200 203">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                xml:lang="EN">
                <para>The following examples show the list server
                    responses:</para>
                <xsdxt:code
                    href="../api_samples/servers-details-resp.xml"/>
            </wadl:doc>
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:servers/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#DetailServerList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:servers/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#DetailServerList" rel="previous"
                />
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/servers-details-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:servers">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/servers-details-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <method name="GET" id="getServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get server details">
            <para role="shortdesc">Gets details for a specified
                server.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-get-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-get-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>
    <method name="PUT" id="updateServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update server">
            <para role="shortdesc">Updates the editable attributes of
                the specified server.</para>
        </wadl:doc>
        <request>
            <param name="name" style="plain" required="false"
                type="csapi:ServerForUpdate" path="/csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The name of the server. If you edit the
                        server name, the server host name does not
                        change. Also, server names are not guaranteed
                        to be unique.</para>
                </wadl:doc>
            </param>
            <param name="accessIPv4" style="plain" required="false"
                type="csapi:ServerForUpdate" path="/csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The IP version 4 address.</para>
                </wadl:doc>
            </param>
            <param name="accessIPv6" style="plain" required="false"
                type="csapi:ServerForUpdate" path="/csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <para>The IP version 6 address.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server Name Request: JSON">
                    <xsdxt:code
                        href="../api_samples/server-put-req.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server Name Request: XML">
                    <xsdxt:code
                        href="../api_samples/server-put-req.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Request: JSON">
                    <xsdxt:code
                        href="../api_samples/server-put-req-ad.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Request: XML">
                    <xsdxt:code
                        href="../api_samples/server-put-req-ad.xml"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    title="Update Server Name Response: JSON"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/server-put-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server Name Response: XML">
                    <xsdxt:code
                        href="../api_samples/server-put-resp.xml"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Response: JSON">
                    <xsdxt:code
                        href="../api_samples/server-put-resp-ad.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook"
                    title="Update Server IP Addresses Response: XML">
                    <xsdxt:code
                        href="../api_samples/server-put-resp-ad.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="DELETE" id="deleteServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete server">
            <para role="shortdesc">Deletes a specified server.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>

    <!-- Server Actions -->
    <method name="POST" id="changePassword">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Change password">
            <para role="shortdesc">Changes the password for a server.
                Specify the <code>changePassword</code> action in the
                request body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-changepassword.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:changePassword">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-changepassword.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="POST" id="rebootServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Reboot server">
            <para role="shortdesc">Reboots the specified server.
                Specify the <code>reboot</code> action in the request
                body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-reboot.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:reboot">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-reboot.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults--> &commonFaults;
        &getFaults; &postPutFaults; &rebootFaults; &inProgressFault; </method>
    <method name="POST" id="rebuildServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Rebuild server">
            <para role="shortdesc">Rebuilds the specified server.
                Specify the <code>rebuild</code> action in the request
                body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-rebuild.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:rebuild">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-rebuild.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <param name="Location" style="header" required="true"
                type="xsd:anyURI">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Location">
                    <para>Specific URL of the server you want to
                        rebuild.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-rebuild-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-rebuild-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>
    <method name="POST" id="resizeServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Resize server">
            <para role="shortdesc">Resizes the specified server.
                Specify the <code>resize</code> action in the request
                body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-resize.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:resize">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-resize.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>
    <method name="POST" id="confirmServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Confirm resized server">
            <para role="shortdesc">Confirms a pending resize action.
                Specify the <code>confirmResize</code> action in the
                request body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-confirmresize.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:confirmResize">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-confirmresize.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204"/>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>
    <method name="POST" id="revertServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Revert resized server">
            <para role="shortdesc">Cancels and reverts a pending
                resize action. Specify the <code>revertResize</code>
                action in the request body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-revertresize.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:revertResize">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-revertresize.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>
    <method name="POST" id="createImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create image">
            <para role="shortdesc">Creates a new image. Specify the
                    <code>createImage</code> action in the request
                body.</para>
        </wadl:doc>
        <request>
            <param name="name" style="plain" required="true"
                type="csapi:ServerForCreate" path="/csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="name">
                    <para>Name of the snapshot.</para>
                </wadl:doc>
            </param>
            <param name="createImage" style="plain" required="true"
                type="csapi:ServerForCreate" path="/csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="createImage">
                    <para>A dictionary representation of a creation
                        for image.</para>
                </wadl:doc>
            </param>
            <param name="metadata" style="plain" required="false"
                type="csapi:ServerForCreate" path="/csapi:server">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="metadata">
                    <para>Metadata key and value pairs. The maximum
                        size of the metadata key and value is 255
                        bytes each.</para>
                </wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-createimage.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:createImage">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-action-createimage.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <param name="Location" style="header" required="true"
                type="xsd:anyURI"/>
        </response>
        <response status="409">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"
                element="csapi:backupOrResizeInProgress"/>
        </response>
        <!-- All other faults, build, common, get, post/put, and inProgress -->
        &commonFaults; &getFaults; &postPutFaults; &buildFaults;
        &inProgressFault; </method>
    <!-- IPs -->
    <method name="GET" id="getServerAddresses">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List addresses">
            <para role="shortdesc">Lists networks and addresses for a
                specified tenant and server.</para>
            <para>Specify the tenant ID and server ID in the URI.
            </para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/addresses.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:addresses">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/addresses.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>
    <method name="GET" id="getNetworkAddresses">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List addresses by network">
            <para role="shortdesc">Lists addresses for a specified
                tenant, server, and network.</para>
            <para>Specify the tenant ID, server ID, and network label
                in the request URI.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/public.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:public">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code href="../api_samples/public.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>
    <!-- Flavors -->
    <method name="GET" id="listFlavors">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List flavors">
            <para role="shortdesc">Lists IDs, names, and links for
                available flavors.</para>
        </wadl:doc>
        <request> &flavorListParameters; </request>
        <response status="200 203">
            <param name="flavors" style="plain" required="true"
                type="csapi:FlavorsWithOnlyIDsNamesLinks"
                path="/csapi:flavors">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Flavors are known combinations
                        of memory, disk space, and number of
                        CPUs.</para></wadl:doc>
            </param>
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:flavors/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#FlavorList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:flavors/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#FlavorList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavors-list-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:flavors">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavors-list-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <method name="GET" id="listDetailFlavors">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List details for flavors">
            <para role="shortdesc">Lists all details for available
                flavors.</para>
        </wadl:doc>
        <request> &flavorListParameters; </request>
        <response status="200 203">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:flavors/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#DetailFlavorList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:flavors/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#DetailFlavorList" rel="previous"
                />
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavors-list-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:flavors">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavors-list-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>

    <method name="GET" id="getFlavor">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get flavor details">
            <para role="shortdesc">Gets details for a specified
                flavor.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-get-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:flavor">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/flavor-get-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>
    <!-- Images -->
    <method name="GET" id="listDetailImages">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List images details">
            <para role="shortdesc">Lists all details for available
                images.</para>
        </wadl:doc>
        <request/>
        <!--&imageListParameters; </request> -->
        <response status="200 203">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:images/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#DetailImageList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:images/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#DetailImageList" rel="previous"
                />
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/images-details-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:images">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/images-details-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <method name="GET" id="listImages">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List images">
            <para role="shortdesc">Lists IDs, names, and links for
                available images.</para>
        </wadl:doc>
        <request/>
        <!--&imageListParameters; </request> -->
        <response status="200 203">
            <param name="images" style="plain" required="true"
                type="csapi:ImagesWithOnlyIDsNamesLinks"
                path="/csapi:images">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Image
                    information.</para></wadl:doc>
            </param>
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:images/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#ImageList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:images/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#ImageList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/images-list-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:images">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/images-list-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults --> &commonFaults; </method>
    <method name="GET" id="getImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get image details">
            <para role="shortdesc">Gets details for a specified
                image.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-get-resp.json"/>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:image">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-get-resp.xml"/>
                </wadl:doc>
            </representation>
        </response>
        <!-- Common and GET Faults--> &commonFaults; &getFaults; </method>
    <method name="DELETE" id="deleteImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete image">
            <para role="shortdesc">Deletes a specified image.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common and GET Faults --> &commonFaults; &getFaults; </method>
    <!-- Metadata -->
    <method name="GET" id="listMetadata">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List metadata">
            <para role="shortdesc">Lists metadata for the specified
                resource.</para>
        </wadl:doc>
        <response status="200 203">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:metadata/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#MetadataList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:metadata/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#MetadataList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>
    <method name="POST" id="updateMetadata">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update metadata items">
            <para role="shortdesc">Updates metadata items by key for
                the specified resource.</para>
            <para>Replaces items that match the specified keys and
                does not modify items not specified in the
                request.</para>
            <para>An overLimit (<errorcode>413</errorcode>) fault
                might be thrown if the operation causes the quota for
                metadata items to be exceeded.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:metadata/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#MetadataList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:metadata/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#MetadataList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="PUT" id="setMetadata">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create or replace metadata">
            <para role="shortdesc">Sets metadata for the specified
                resource.</para>
            <para>Replaces items that match the specified keys and
                removes items not specified in the request.</para>
            <para>An overLimit (<errorcode>413</errorcode>) fault
                might be thrown if the operation causes the quota for
                metadata items to be exceeded.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-metadata-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-metadata-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <param name="next" style="plain" type="xsd:anyURI"
                path="/csapi:metadata/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the next item in the
                        list.</para></wadl:doc>
                <link resource_type="#MetadataList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
                path="/csapi:metadata/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Moves to the previous item in
                        the list.</para></wadl:doc>
                <link resource_type="#MetadataList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-metadata-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:metadata">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/server-metadata-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="GET" id="getMetadataItem">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get metadata item">
            <para role="shortdesc">Gets a metadata item by key for the
                specified resource.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common Faults and GET Faults--> &commonFaults;
        &getFaults; </method>
    <method name="PUT" id="setMetadataItem">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create or update metadata item">
            <para role="shortdesc">Sets a metadata item by key for the
                specified resource.</para>
            <para>An overLimit (<errorcode>413</errorcode>) fault
                might be thrown if the operation causes the quota for
                metadata items to be exceeded.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-put-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-put-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-put-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:meta">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/image-metadata-put-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
        <!-- Common, GET, POST/PUT, inProgress Faults-->
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault; </method>
    <method name="DELETE" id="deleteMetadataItem">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete metadata item">
            <para role="shortdesc">Deletes a metadata item by key for
                the specified resource.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common, GET, inProgress Faults--> &commonFaults;
        &getFaults; &inProgressFault; </method>
</application>
