api-ref/src/wadls/image-api/src/v2/wadl/metadefs-namespaces-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent metadefs-namespaces-v2.wadl     -->
<!--*******************************************************-->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2"
    xmlns:csapi="http://docs.openstack.org/image/api/v2">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://glance.example.com/"
        xml:id="os-metadef-namespace-v2">
        <resource id="v2" path="//v2">
            <resource id="metadefs" path="metadefs">
                <resource id="namespaces" type="#NamespaceList" path="namespaces">
                    <method href="#createNamespace-v2"/>
                    <method href="#listNamespaces-v2"/>
                    <resource path="{namespace}" id="namespace">
                    <param xmlns="http://wadl.dev.java.net/2009/02"
                               name="namespace" style="template" type="xsd:string" required="true">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xmlns:wadl="http://wadl.dev.java.net/2009/02"
                            xml:lang="EN">
                           <para>
                                Unique namespace.
                            </para>
                        </wadl:doc>
                        </param>
                        <method href="#showNamespace-v2"/>
                        <method href="#updateNamespace-v2"/>
                        <method href="#deleteNamespace-v2"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Namespace methods -->
    <method name="POST" id="createNamespace-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create namespace">
            <para role="shortdesc">
                Creates a namespace.
            </para>
            <para>
                The <code>Location</code> response header
                contains the newly-created URI for the namespace.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/metadef-namespace-create-request.json"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="namespace" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            A namespace name that is unique across all users.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="display_name" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            User-friendly name that you can use in the UI to
                            display the namespace name.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="description" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Detailed description for the namespace.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="visibility" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Namespace visibility. Valid value is public or
                            private. Default is private.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="protected" style="plain" type="xsd:boolean"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>
                            Namespace protection for deletion. Valid value is
                            true or false. Default is false.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="properties" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>
                            One or more property definitions in the namespace.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="objects" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>
                            One or more object definitions in the namespace.
                        </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="resource_type_associations" style="plain" type="xsd:dict"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                         <para>
                            One or more resource types that are associated
                            with this namespace.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-namespace-create-response.json"/>
                </wadl:doc>
                &metadefNamespaceParameter; &metadefNSDisplayNameParameter;
                &metadefNSDescParameter; &metadefNSVisibilityParameter;
                &metadefNSProtectedParameter; &metadefPropertiesParameter;
                &metadefObjectsParameter; &metadefResTypeAssocsParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="listNamespaces-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List namespaces">
            <para role="shortdesc">Lists public namespaces.</para>
            <para>
                Returns a subset in the larger collection of namespaces and a
                link that you can use to get the next set of namespaces. Check
                for the presence of a <code>next</code> link and use it as the
                URI in a subsequent HTTP GET request. Follow this pattern
                until a <code>next</code> link is no longer provided. The
                <code>next</code> link preserves any query parameters that you
                send in your initial request. You can use the
                <code>first</code> link to return to the first page in the
                collection. If you prefer to paginate through namespaces
                manually, use the <code>limit</code> and <code>marker</code>
                parameters.
            </para>
            <para>
                The list operation accepts the <code>resource_types</code> and
                <code>visibility</code> query parameters, which you can use to filter
                the response.
            </para>
            <para>
                To sort the results of this operation, use the
                <code>sort_key</code> and <code>sort_dir</code> parameters.
                The API uses the natural sorting order in the namespace
                attribute that you provide as the <code>sort_key</code>
                parameter.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &limitMarkerReqParameter;
                <param xmlns="http://wadl.dev.java.net/2009/02" name="visibility"
                       style="query" required="false" type="imageapi:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                       <para>Filter parameter. Namespace visibility. Valid values are
                          <code>public</code> and <code>private</code>.
                          Default is <code>public</code>.
                       </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="resource_types"
                       style="query" required="false" type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                       <para>
                            Filter parameter. Specify this value as comma-separated list. For
                            example, send the <code>resource_types</code> filter of
                            <code>OS::Glance::Image,OS::Nova::Flavor</code> to filter the namespaces
                            by those resource types.
                       </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="sort_key"
                       style="query" required="false" type="xsd:string" default="ALL">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                       <para>Sort key. Use attributes like <code>namespace</code>
                          for sorting. Default is <code>created_at</code>.
                       </para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="sort_dir"
                       style="query" required="false" type="xsd:string" default="ALL">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                       xmlns:wadl="http://wadl.dev.java.net/2009/02" xml:lang="EN">
                       <para>Sort direction. Valid values are <code>asc</code>
                          (ascending) and <code>desc</code> (descending). Default is
                          <code>desc</code>.
                       </para>
                    </wadl:doc>
                </param>
             </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-namespaces-list-response.json"/>
                </wadl:doc>
                &namespacesParameter; &metadefNamespaceParameter;
                &metadefNSDisplayNameParameter; &metadefNSDescParameter;
                &metadefNSVisibilityParameter; &metadefNSProtectedParameter;
                &metadefResTypeAssocsParameter;
             </representation>
        </response>
    </method>
    <method name="GET" id="showNamespace-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get namespaces details">
            <para role="shortdesc">
                Gets details for a namespace.
            </para>
            <para>
                The response body shows a single namespace entity with all
                details including properties and objects.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-namespace-details-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateNamespace-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update namespace">
            <para role="shortdesc">Updates a namespace.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/metadef-namespace-update-request.json"/>
                </wadl:doc>
                &metadefNamespace_idParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-namespace-update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteNamespace-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete namespace">
            <para role="shortdesc">
                Deletes a namespace and its properties,
                objects, and any resource type associations.
            </para>
            <para>
                You cannot delete namespaces with the <code>protected</code>
                attribute set to true (boolean); the response returns the HTTP
                403 status code.
            </para>
            <para>
                To delete a namespace, you must first make an update namespace
                request to set the <code>protected</code> attribute to false
                (boolean) on the namespace. Then, delete the namespace.
            </para>
            <para>
                If the operation succeeds, the response returns the HTTP 204
                status code.
            </para>
            <para>
                If you try to remove a namespace with the
                <code>protected</code> attribute set to true (boolean), the
                operation fails and the response returns the HTTP 403 error
                code.
            </para>
        </wadl:doc>
        <response status="204"/>
        <response status="403"/>
    </method>
</application>
