api-ref/src/wadls/image-api/src/v2/wadl/metadefs-namespaces-objects-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--***********************************************************-->
<!--         Import Common XML Entities                        -->
<!--                                                           -->
<!--     You can resolve the entities with xmllint             -->
<!--                                                           -->
<!--        xmllint -noent metadefs-namespaces-objects-v2.wadl -->
<!--***********************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2"
    xmlns:csapi="http://docs.openstack.org/image/api/v2">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://glance.example.com/"
        xml:id="os-metadef-object-v2">
        <resource id="v2" path="//v2">
            <resource id="metadefs" path="metadefs">
                <resource id="namespaces" path="namespaces">
                    <resource path="{namespace_id}" id="namespace_id">
                        &namespace_idTemplateParameter;
                        <resource id="objects" type="#ObjectList" path="objects">
                            <method href="#createObject-v2"/>
                            <method href="#listObjects-v2"/>
                            <resource path="{object_name}" id="object_name">
                                &object_nameTemplateParameter;
                                <method href="#showObject-v2"/>
                                <method href="#updateObject-v2"/>
                                <method href="#deleteObject-v2"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!-- Property methods -->
    <method name="POST" id="createObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create object">
            <para role="shortdesc">
                Creates an object definition in a namespace.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/metadef-object-create-request.json"/>
                </wadl:doc>
                &namespaceRequestParameter;
                &display_nameRequestParameter;
                &namespace-descriptionRequestParameter;
                &namespace-visibilityRequestParameter;
                &namespace-protectedRequestParameter;
                &namespace-propertiesRequestParameter;
                &objectRequestParameter;
                &resource_type_associationsRequestParameter;
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-object-create-response.json"/>
                </wadl:doc>
                &namespaceResponseParameter;
                &display_nameResponseParameter;
                &namespace-descriptionResponseParameter;
                &namespace-visibilityResponseParameter;
                &namespace-protectedResponseParameter;
                &namespace-propertiesResponseParameter;
                &objectsResponseParameter;
                &resource_type_associationsResponseParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="listObjects-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List object definitions">
            <para role="shortdesc">
                Lists object definitions in a namespace.
            </para>
            <para>
                Returns a subset of the larger collection of namespaces and a
                link that you can use to get the next set of namespaces. You
                should always check for the presence of a <code>next</code>
                link and use it as the URI in a subsequent HTTP GET request.
                You should follow this pattern until a <code>next</code> link
                is no longer provided. The next link preserves any query
                parameters that you send in your initial request. You can use
                the <code>first</code> link to jump back to the first page of
                the collection. If you prefer to paginate through namespaces
                manually, use the <code>limit</code> and <code>marker</code>
                parameters.
            </para>
            <para>
                Use the <code>resource_types</code> and
                <code>visibility</code> query parameters to filter the
                response.
            </para>
            <para>
                For example, set the <code>resource_types</code> query
                parameter to <code>OS::Glance::Image,OS::Nova::Flavor</code>
                to filter the response to include only namespaces that are
                associated with the given resource types.
            </para>
            <para>
                You can sort the results of this operation by using the
                <code>sort_key</code> and <code>sort_dir</code> parameters.
                The API uses the natural sorting of whatever namespace
                attribute is provided as the <code>sort_key</code>.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &metadefNamespaceListQueryParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-objects-list-response.json"/>
                </wadl:doc>
                &namespacesObjectParameter;
                &namespaceResponseParameter;
                &display_nameResponseParameter;
                &namespace-descriptionResponseParameter;
                &namespace-visibilityResponseParameter;
                &namespace-protectedResponseParameter;
                &resource_type_associationsResponseParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="showObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show object definition">
            <para role="shortdesc">
                Shows the definition for an object.
            </para>
            <para>
                The response body shows a single object entity.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-object-details-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update object definition">
            <para role="shortdesc">
                Updates an object definition in a namespace.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="image">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/metadef-object-update-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/metadef-object-update-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteObject-v2">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete property definition">
            <para role="shortdesc">
                Deletes an object definition from a namespace.
            </para>
            <para>
                To delete a protected object from a namespace, you must
                first set the <code>protected</code> attribute to false
                (boolean) on the namespace and then perform the delete. If you
                try to delete a protected object, the call returns the
                <code>403</code> response code.
            </para>
            <para>
                When you successfully delete an object from a namespace, the
                response is empty and and the response code is
                <code>204</code>.
            </para>
        </wadl:doc>
        <response status="204"/>
        <response status="403"/>
    </method>
</application>
