api-ref/src/wadls/image-api/src/v2/wadl/schemas-metadefs-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent schemas-metadefs-v2.wadl        -->
<!--*******************************************************-->

<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2"
    xmlns:csapi="http://docs.openstack.org/image/api/v2">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/"
        xml:id="os-metadef-schemas-v2">
        <resource id="v2" path="//v2">
            <resource id="schemas" path="schemas">
                <resource id="metadefs" path="metadefs">
                    <resource id="namespace" type="#SchemaList"
                        path="namespace">
                        <method href="#showMetadefNamespaceSchema"/>
                    </resource>
                    <resource id="namespaces" type="#SchemaList"
                        path="namespaces">
                        <method href="#showMetadefNamespacesSchema"/>
                    </resource>
                    <resource id="object" type="#SchemaList"
                        path="object">
                        <method href="#showMetadefObjectSchema"/>
                    </resource>
                    <resource id="objects" type="#SchemaList"
                        path="objects">
                        <method href="#showMetadefObjectsSchema"/>
                    </resource>
                    <resource id="property" type="#SchemaList"
                        path="property">
                        <method href="#showMetadefPropertySchema"/>
                    </resource>
                    <resource id="properties" type="#SchemaList"
                        path="properties">
                        <method href="#showMetadefPropertiesSchema"/>
                    </resource>
                    <resource id="tag" type="#SchemaList"
                        path="tag">
                        <method href="#showMetadefTagSchema"/>
                    </resource>
                    <resource id="tags" type="#SchemaList"
                        path="tags">
                        <method href="#showMetadefTagsSchema"/>
                    </resource>
                    <resource id="resource_type" type="#SchemaList"
                        path="resource_type">
                        <method href="#showMetadefResTypeAssocSchema"/>
                    </resource>
                    <resource id="resource_types" type="#SchemaList"
                        path="resource_types">
                        <method href="#showMetadefResTypeAssocsSchema"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="showMetadefNamespaceSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition namespace schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition namespace entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-namespace-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefNamespacesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition namespaces schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition namespaces entity. (Since API v2.1.)
            </para>
            <para>
                A namespaces entity is a container for namespace entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-namespaces-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefObjectSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition object schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition object entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-object-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefObjectsSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition objects schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition objects entity. (Since API v2.1.)
            </para>
            <para>
                An objects entity is a container for object entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-objects-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefPropertySchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition property schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition property entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-property-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefPropertiesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition properties schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition properties entity. (Since API v2.1.)
            </para>
            <para>
                A properties entity is a container for property entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-properties-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefTagSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition tag schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition tag entity. (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-tag-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefTagsSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition tags schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition tags entity. (Since API v2.1.)
            </para>
            <para>
                A tags entity is a container for tag entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-tags-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefResTypeAssocSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition namespace resource type association schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition namespace resource type association entity.
                (Since API v2.1.)
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-resource-type-association-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showMetadefResTypeAssocsSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata definition namespace resource type associations schema">
            <para role="shortdesc">
                Shows a JSON schema document that represents a metadata
                definition namespace resource type associations entity.
                (Since API v2.1.)
            </para>
            <para>
                A resource type associations entity is a container for
                resource type association entities.
            </para>
            <para>
                The following schema document is an example. The authoritative
                response is the actual response to the API call.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-metadef-resource-type-associations-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
