api-ref/src/wadls/image-api/src/v2/wadl/schemas-v2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent schemas-v2.wadl                 -->
<!--*******************************************************-->

<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2.2"
    xmlns:csapi="http://docs.openstack.org/image/api/v2.0">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://glance.example.com/"
        xml:id="os-image-schemas-v2">
        <resource id="info" path="//v2">
            <resource id="schemas" path="schemas">
                <resource id="Image-schemas" type="#SchemasList" path="images">
                    <method href="#showImagesSchema"/>
                </resource>
                <resource id="Image-schema" type="#SchemaList" path="image">
                    <method href="#showImageSchema"/>
                </resource>
                <resource id="Image-members-schema" type="#SchemasList" path="members">
                    <method href="#showImageMembersSchema"/>
                </resource>
                <resource id="Image-member-schema" type="#SchemaList" path="member">
                    <method href="#showImageMemberSchema"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="showImagesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show images schema">
            <para role="shortdesc">
                (Since Images v2.0) Shows a JSON schema document that
                represents an images entity.
            </para>
            <para>
                An images entity is a container of image entities.
            </para>
            <para>
                The following schema is solely an example. Consider only the
                response to the API call as authoritative.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schemas-images-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showImageSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show image schema">
            <para role="shortdesc">
                (Since Images v2.0) Shows a JSON schema document that
                represents an image entity.
            </para>
            <para>
                The following schema is solely an example. Consider only the
                response to the API call as authoritative.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-image-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showImageMembersSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show image members schema">
            <para role="shortdesc">
                (Since Images v2.1) Shows a JSON schema document that
                represents an image members entity.
            </para>
            <para>
                An image members entity is a container of image member
                entities.
            </para>
            <para>
                The following schema is solely an example. Consider only the
                response to the API call as authoritative.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schemas-image-members-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showImageMemberSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show image member schema">
            <para role="shortdesc">
                (Since Images v2.1) Shows a JSON schema document that
                represents an image member entity.
            </para>
            <para>
                The following schema is solely an example. Consider only the
                response to the API call as authoritative.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/schema-image-member-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
