api-ref/src/wadls/databases-api/xsd/dbaas.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:dbaas="http://docs.openstack.org/database/api/v1.0">
    <grammars>
        <include href="dbaas.xsd"/>
    </grammars>
    <resources base="http://docs.openstack.org/database/api/v1.0" xml:id="dbaas-v1">
        <resource id="dbaas-versions-v1" path="//">
            <method href="#listVersions-dbaas-v1"/>
        </resource>
        <resource id="dbaas-version-v1" path="//v1.0">
            <method href="#showVersionInfo-dbaas-v1"/>
            <resource id="accountID" path="{accountId}">
                &accountIdTemplateParameter;
                <!-- add later when trove extensions are supported -->
                <!--<resource id="extensions" type="#ExtensionList"
                    path="extensions">
                    <resource id="extension" path="{alias}">
                        <param required="true"
                            xmlns="http://wadl.dev.java.net/2009/02"
                            name="alias" style="template"
                            type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>An alias, which is
                                   a name for a pointer to a resource.
                                   For example, a named
                                   extension.</para>
                            </wadl:doc>
                        </param>
                        <method href="#list_dbaasExtensionv1"/>
                    </resource>
                </resource>-->
                <resource id="instances" path="instances">
                    <method href="#createInstance"/>
                    <method href="#listInstances"/>
                    <resource id="instanceId" path="{instanceId}">
                        &instanceIdTemplateParameter;
                        <method href="#showInstanceById"/>
                        <method href="#attachConfigGroup"/>
                        <method href="#detachConfigGroup"/>
                        <method href="#deleteInstance"/>
                        <method href="#detachReplica"/>
                        <resource id="configuration" path="configuration">
                            <method href="#listConfigDefaults"/>
                        </resource>
                        <resource id="instanceAction" path="action">
                            <method href="#resizeInstance"/>
                            <method href="#resizeVolume"/>
                            <method href="#restartInstance"/>
                        </resource>
                        <resource id="databases" path="databases">
                            <method href="#createDatabase"/>
                            <method href="#listDatabases"/>
                            <resource id="databaseName"
                                path="{databaseName}">
                                &databaseNameTemplateParameter;
                                <method href="#deleteDatabase"/>
                            </resource>
                        </resource>
                        <resource id="users" path="users">
                            <method href="#createUser"/>
                            <method href="#listUsers"/>
                            <resource id="name" path="{name}">
                                &userNameTemplateParameter;
                                <method href="#deleteUser"/>
                            </resource>
                        </resource>
                        <resource id="root-dbaas" path="root">
                            <method href="#createRoot"/>
                            <method href="#isRootEnabled"/>
                            <method href="#disableRoot"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="flavors" path="flavors">
                    <method href="#listFlavors"/>
                    <resource id="flavorId" path="{flavorId}">
                        &flavorIdTemplateParameter;
                        <method href="#showFlavorById"/>
                    </resource>
                </resource>
                <resource id="datastores" path="datastores">
                    <resource id="datastore_name" path="{datastore_name}">
                        &datastoreNameTemplateParameter;
                        <resource id="datastore_versions" path="versions">
                            <method href="#listDatastoreVersions"/>
                        </resource>
                    </resource>
                    <resource id="versions" path="versions">
                        <resource id="datastore_version_id" path="{datastore_version_id}">
                            &datastoreVersionIdTemplateParameter;
                            <resource id="parameters" path="parameters">
                                <method href="#listParameters"/>
                                <resource id="parameter_name" path="{parameter_name}">
                                    &parameterNameTemplateParameter;
                                    <method href="#showParameterDetails"/>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="configurations" path="configurations">
                    <method href="#createConfigGroup"/>
                    <method href="#listConfigGroups"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--<resource_type id="ExtensionList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Detail image list">
            <para>A list of supported extensions.</para>
        </wadl:doc>
        <method href="#list_dbaasExtensionsv1"/>
    </resource_type>-->
    <!-- Version -->
    <method name="GET" id="showVersionInfo-dbaas-v1">
        <wadl:doc xml:lang="EN" title="Show version details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for the Database Service API v1.0.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-version-request-json-http.txt"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-version-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-version-response.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listVersions-dbaas-v1">
        <wadl:doc xml:lang="EN" title="List versions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information about all Database Service API versions.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-versions-request-json-http.txt"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-versions-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-versions-response.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <!-- Instance -->
    <method name="POST" id="createInstance">
        <wadl:doc xml:lang="EN" title="Create database instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a database instance.
            </para>
            <para>
                Asynchronously provisions a database instance. You must
                specify a flavor and a volume size. The service provisions the
                instance with a volume of the requested size, which serves as
                storage for the database instance.
            </para>
            <note>
                <title>Notes</title>
                <itemizedlist>
                    <listitem>
                        <para>
                            You can create only one database instance per
                            &POST; request.
                        </para>
                    </listitem>
                    <listitem>
                        <para>
                            You can create a database instance with one or
                            more databases. You associate users with each database.
                        </para>
                    </listitem>
                    <listitem>
                        <para>
                            The default binding for the MySQL instance is
                            port 3306.
                        </para>
                    </listitem>
                </itemizedlist>
            </note>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-instance-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-create-instance-request.json"/>
                </wadl:doc>
                &instanceRequestParameter;
                &flavorRefRequestParameter;
                &sizeRequestParameter;
                &typeRequestParameter;
                &databasesRequestParameter;
                &instance-nameRequestParameter;
                &databaseNameRequestParameter;
                &characterSetRequestParameter;
                &collateRequestParameter;
                &usersRequestParameter;
                &user-nameRequestParameter;
                &user-passwordRequestParameter;
                &datastoreRequestParameter;
                &datastoreVersionRequestParameter;
                &configurationRequestParameter;
                &replicaOfRequestParameter;
                &replicaCountRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-instance-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-create-instance-response.json"/>
                    <para xmlns="http://docbook.org/ns/docbook">
                        The previous response examples show resources that
                        contain links to themselves that enable a client to
                        easily obtain resource URIs rather than construct
                        them. Resources can have these link relations:
                    </para>
                    <itemizedlist>
                        <listitem>
                            <para>
                                A <code>self</code> link contains a
                                <emphasis>versioned</emphasis> link to the resource.
                                Use these links in cases where the link
                                will be followed immediately.
                            </para>
                        </listitem>
                        <listitem>
                            <para>
                                A <code>bookmark</code>
                                link provides a permanent link to a resource that is
                                appropriate for long-term storage.
                            </para>
                        </listitem>
                    </itemizedlist>
                </wadl:doc>
                &instanceResponseParameter;
                &createdResponseParameter;
                &flavorResponseParameter;
                &databasesResponseParameter;
                &instance-nameResponseParameter;
                &databaseNameResponseParameter;
                &characterSetResponseParameter;
                &collateResponseParameter;
                &usersResponseParameter;
                &user-nameResponseParameter;
                &updatedResponseParameter;
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteInstance">
        <wadl:doc xml:lang="EN" title="Delete database instance"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Deletes a database
                instance, including any associated data.</para>
            <note><para>This operation does not delete any read
                    slaves.</para></note>
            <!--<remark>Reviewer: please
                provide a description of read slaves that I can add to
                the previous note.</remark>-->
            <note>
                <para>
                    You cannot complete this operation when the instance state
                    is either <code>REBUILDING</code> or
                    <code>BUILDING</code>.
                </para>
            </note>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-instance-request-json-http.txt" />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/> &commonFaults; <response status="422"
            xmlns="http://wadl.dev.java.net/2009/02">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-instance-response-json-http.txt"/>
                </wadl:doc>
            </representation>
        </response> &getFaults; </method>
    <method name="GET" id="listInstances">
        <wadl:doc xml:lang="EN" title="List database instances"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information, including status, for all database
                instances.
            </para>
            <para>
                Lists status and information for all database instances.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instances-index-request-json-http.txt"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instances-index-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-instances-index-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showInstanceById">
        <wadl:doc xml:lang="EN" title="Show database instance details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows database instance details.
            </para>
            <para>
                Lists the status and details of the database
                instance.
            </para>
            <para>
                Lists the volume size in gigabytes (GB) and the approximate GB
                used.
            </para>
            <note>
                <para>
                    After instance creation, the <code>used</code> value is
                    greater than 0, which is expected and due to the automatic
                    creation of non-empty transaction logs for MySQL
                    optimization. The response does not include the
                    <code>used</code> attribute when the instance status is
                    <code>BUILD</code>, <code>REBOOT</code>,
                    <code>RESIZE</code>, or <code>ERROR</code>.
                </para>
            </note>
            <para>
                The list operations return a DNS-resolvable host name for the
                database instance rather than an IP address. Because the host
                name always resolves to the correct IP address for the
                database instance, you do not need to maintain the mapping.
                Although the IP address might change when you resize, migrate,
                or perform other operations, the host name always resolves to
                the correct database instance.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-status-detail-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="dbaas:DatabaseInstance">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-status-detail-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-instance-status-detail-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <!-- Instance Actions -->
    <method name="POST" id="restartInstance">
        <wadl:doc xml:lang="EN" title="Restart instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Restarts the database service for an instance.
            </para>
            <para>
                The restart operation restarts only the MySQL instance.
                Restarting MySQL erases any dynamic configuration settings
                that you make in MySQL.
            </para>
            <note>
                <para>
                    The MySQL service is unavailable until the instance
                    restarts.
                </para>
            </note>
            <para>
                If the operation succeeds, it returns the <code>Accepted
                (202)</code> response code.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="dbaas:Restart">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-restart-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-instance-restart-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-restart-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>
    <method name="POST" id="resizeInstance">
        <wadl:doc xml:lang="EN" title="Resize instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Resizes the memory for an instance.
            </para>
            <para>
                If you provide a valid <code>flavorRef</code>, this operation
                changes the memory size of the instance, and restarts MySQL.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="dbaas:Resize">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-resize-instance-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-instance-resize-instance-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-resize-instance-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>
    <method name="POST" id="resizeVolume">
        <wadl:doc xml:lang="EN" title="Resize instance volume"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Resizes the volume that is attached to an instance.
            </para>
            <para>
                You can use this operation to increase but not decrease the
                volume size. A valid volume size is an integer value in
                gigabytes (GB).
            </para>
            <note>
                <para>
                    You cannot increase the volume to a size that is larger
                    than the API volume size limit.
                </para>
            </note>
            <para>
                If this operation succeeds, it returns a 202 Accepted
                response.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="dbaas:Resize">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-resize-volume-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-instance-resize-volume-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-instance-resize-volume-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>
    <!-- Database -->
    <method name="POST" id="createDatabase">
        <wadl:doc xml:lang="EN" title="Create database"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a database within an instance.
            </para>
            <para>
                The <code>name</code> of the database is a required attribute.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="dbaas:Database">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-databases-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-create-databases-request.json"
                    />
                </wadl:doc>
                &databaseNameRequestParameter;
                &characterSetRequestParameter;
                &collateRequestParameter;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-databases-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listDatabases">
        <wadl:doc xml:lang="EN" title="List instance databases"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists databases for an instance.
            </para>
                <note>
                    <para>
                        This operation returns only the user-defined databases
                        and not the system databases. Only the database
                        administrator can view the <code>mysql</code>,
                        <code>information_schema</code>, and
                        <code>lost+found</code> system databases.
                    </para>
                </note>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-databases-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="dbaas:Databases">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-databases-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-list-databases-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteDatabase">
        <wadl:doc xml:lang="EN" title="Delete database"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a database.
            </para>
            <para>
                This operation also deletes all data that is associated with
                the database.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-databases-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-databases-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <!-- User -->
    <method name="POST" id="createUser">
        <wadl:doc xml:lang="EN" title="Create user"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Creates a user for a
                database instance.</para>
            <para>
                Asynchronously provisions a new user for the database instance
                by using the configuration that you define in the request
                object. After the API validates the request and starts
                progress on the provisioning process, the call returns the
                <code>Accepted (202)</code> response code.
            </para>
            <!-- <remark>Writer: please add the following note back into
                the doc once the list User details call is added back
                into the API: Using the identifier, the caller can
                check on the progress of the operation by performing a
                GET on users/name (for more details on this operation
                see the "List User details" section of this
                document).</remark> -->
            <para>
                If the API cannot fulfill the corresponding request due to
                insufficient data or data that is not valid, the API returns
                the <code>Bad Request (400)</code>response code with
                information about the nature of the failure. You cannot
                recover from validation errors. You must correct the cause of
                the failure and <!-- &POST; --> the request again.
            </para>
            <para>
                This table lists the required attributes for creating users:
            </para>
            <table rules="all" width="500">
                <caption>Required attributes for user</caption>
                <thead>
                    <tr>
                        <td colspan="1">Applies to</td>
                        <td colspan="1">Name</td>
                        <td colspan="2">Description</td>
                        <td colspan="1">Required</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1" rowspan="3">User</td>
                        <td colspan="1">name</td>
                        <td colspan="2">Name of the user for the
                            database.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="1">password</td>
                        <td colspan="2">User password for database
                            access.</td>
                        <td colspan="1">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="1">(database) name</td>
                        <td colspan="2"><para>Name of the database
                                that the user can access. You must specify one or more
                                database names.</para></td>
                        <td colspan="1">No</td>
                    </tr>
                </tbody>
            </table>
            <note>
                <title>Notes</title>
                <itemizedlist>
                    <listitem>
                        <para>
                            The operation grants the user all privileges on the databases.
                        </para>
                    </listitem>
                    <listitem>
                        <para>
                            Do not use the <code>root</code> user name, which is reserved.
                        </para>
                    </listitem>
                </itemizedlist>
            </note>
            <para>
                These tables list the valid characters for database names,
                user names, and passwords.
            </para>
            <table rules="all" width="40%">
                <caption>Valid characters in database name, user name, and password</caption>
                <col width="100%"/>
                <thead>
                    <tr>
                        <td>Character</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Letters (upper and lower cases
                            allowed)</td>
                    </tr>
                    <tr>
                        <td>Numbers</td>
                    </tr>
                    <tr>
                        <td><code>@</code>, <code>?</code>, <code>#</code>, and spaces are allowed, but
                                <emphasis>not</emphasis> at the
                            beginning and end of the database name,
                            user name, and password</td>
                    </tr>
                    <tr>
                        <td><code>_</code> is allowed anywhere in the database
                            name, user name, and password</td>
                    </tr>
                </tbody></table><table rules="all" width="40%">
                <caption>Characters that are not allowed in database name, user name, and
                    password</caption>
                <col width="100%"/>
                <thead>
                    <tr>
                        <td>Character</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Single quotes</td>
                    </tr>
                    <tr>
                        <td>Double quotes</td>
                    </tr>
                    <tr>
                        <td>Back quotes</td>
                    </tr>
                    <tr>
                        <td>Semicolons</td>
                    </tr>
                    <tr>
                        <td>Commas</td>
                    </tr>
                    <tr>
                        <td>Back slashes</td>
                    </tr>
                    <tr>
                        <td>Forward slashes</td>
                    </tr>
                    <tr>
                        <td>Spaces at the front or end of the user
                            name or password</td>
                    </tr>
                </tbody></table><table rules="all">
                <caption>Length restrictions for database name, user name, and password</caption>
                <thead>
                    <tr>
                        <td>Restriction</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Database name maximum length</td>
                        <td>64</td>
                    </tr>
                    <tr>
                        <td>User name maximum length</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>Password maximum length</td>
                        <td>unlimited (no restrictions)</td>
                    </tr>
                </tbody></table>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-users-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-create-users-request.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-users-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listUsers">
        <wadl:doc xml:lang="EN" title="List database instance users"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists the users in a database instance and the associated
                databases for that user.
            </para>
            <note>
                <para>
                    This operation does not return system users. A system
                    user is a database administrator who administers the
                    health of the database. Also, this operation returns the
                    <code>root</code> user only if it is enabled.
                </para>
            </note>
            <para>
                The following notes apply to MySQL users:
            </para>
            <itemizedlist spacing="compact">
                <listitem>
                    <para>User names can be up to 16 characters
                        long.</para>
                </listitem>
                <listitem>
                    <para>When you create accounts with INSERT, you
                        must use FLUSH PRIVILEGES to tell the server
                        to reload the grant tables.</para>
                </listitem>
                <listitem>
                    <para>For additional information, See: <link
                            xlink:href="http://dev.mysql.com/doc/refman/5.1/en/user-account-management.html"
                            >http://dev.mysql.com/doc/refman/5.1/en/user-account-management.html</link></para>
                </listitem></itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-users-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="dbaas:Users">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-users-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-list-users-response.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteUser">
        <wadl:doc xml:lang="EN" title="Delete user"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Deletes a user for a
                 database instance.</para>
            <warning>
                <para>
                    Do not use periods in user names. A bug in a Python
                    library that Rackspace uses that can cause incorrect user
                    deletions to occur if you use a period (.) in the user
                    name. In this case, the bug in the library truncates the
                    user name to the portion from the beginning up to the
                    period. For example, for the <code>my.userA</code> user,
                    the bug truncates the user name to <code>my</code>, and if
                    the <code>user</code> exists, that user is incorrectly
                    deleted.
                </para>
            </warning>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-users-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-users-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <!-- Root -->
    <method name="POST" id="createRoot">
        <wadl:doc xml:lang="EN" title="Enable root user"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Enables the root user for a database instance and returns the
                root password.
            </para>
            <para>
                This operation generates a root password for the root user and
                enables the root user to log in from any host.
            </para>
            <note>
                <para>
                    Changes that you make as a root user can impact the
                    database instance and API operations in unpredictable and
                    detrimental ways. When you enable the root user, you
                    accept the possibility that we cannot support your
                    database instance. We might not be able to assist you if you
                    change core MySQL settings. These changes can be, but are
                    not limited to, turning off bin logs, removing users that
                    we use to access your instance, and so on.
                </para>
            </note>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-enable-root-user-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="dbaas:User">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-enable-root-user-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-enable-root-user-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="isRootEnabled">
        <wadl:doc xml:lang="EN"
            title="Show root-enabled status for database instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows root-enabled status for a database instance.
            </para>
            <para>
                Returns <code>true</code> if root user is enabled for a
                database instance. Otherwise, returns <code>false</code>.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-check-root-user-request-json-http.txt"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="dbaas:RootEnabled">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-check-root-user-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-check-root-user-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <!-- Flavor -->
    <method name="GET" id="listFlavors">
        <wadl:doc xml:lang="EN" title="List flavors"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Lists information for all available
                flavors.</para>
            <para>This operation lists information for all available
                flavors.</para>
            <para>This resource is identical to the flavors found in
                the OpenStack Nova API, but without the disk
                property.</para>
            <!--  <remark>Reviewer: please check that the xml example below
                is now correct. Previously it was reported to be
                incorrect.</remark>-->
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-flavors-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="dbaas:Flavors">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-flavors-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-flavors-response.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showFlavorById">
        <wadl:doc xml:lang="EN" title="Show flavor details"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Shows flavor details with details of the RAM.</para>
            <para>
                This resource is identical to the flavors found in the
                OpenStack Compute API, but without the disk property.
            </para>
            <note>
                <para>
                    The <code>flavorId</code> parameter must be an integer
                    value. If you use a floating point value for this
                    parameter, this call truncates the decimal portion and
                    uses the integer portion as the <code>flavorId</code>
                    value.
                </para>
            </note>
            <!-- <remark>Writer: need to confirm that this behavior is not
                changed in subsequent releases, and if it is
                prevented, remove the Note above.</remark> -->
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-flavors-by-id-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json"
                element="dbaas:Flavor">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-flavors-by-id-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-flavors-by-id-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listDatastoreVersions">
        <wadl:doc xml:lang="EN" title="List datastore versions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists the available versions of
                a data store.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-datastore-versions-request-json-http.txt"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-datastore-versions-response-json-http.txt"
                    />
                    <xsdxt:code
                        href="samples/db-list-datastore-versions.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listParameters">
        <wadl:doc xml:lang="EN" title="List configuration parameters"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists the available configuration parameters for a
                data store version.
            </para>
            <para>
                Parameter information includes the type, minimum and maximum
                values, and whether you must restart the instance after you
                change a parameter value.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-parameters-request-json-http.txt"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-parameters-response-json-http.txt"
                    />
                    <xsdxt:code
                        href="samples/db-list-parameters-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showParameterDetails">
        <wadl:doc xml:lang="EN" title="Show configuration parameter details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Displays details for a configuration parameter associated
                with a data store version.
            </para>
            <para>
                Details include the type, minimum and maximum
                values, and whether you must restart the instance after you
                change the parameter value.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-show-parameter-details-request-json-http.txt"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-show-parameter-details-response-json-http.txt"
                    />
                    <xsdxt:code
                        href="samples/db-show-parameter-details.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="POST" id="createConfigGroup">
        <wadl:doc xml:lang="EN" title="Create configuration group"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a configuration group.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-config-grp-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-create-config-grp-request.json"/>
                </wadl:doc>
                <param name="datastore" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Data store assigned to the configuration group.
                            Required if you did not configure the default data store.
                        </para>
                    </wadl:doc>
                </param>
                <param name="values" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Dictionary that lists configuration parameter names and associated values.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Name of the configuration group you are creating.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-create-config-grp-response-json-http.txt"
                    />
                    <xsdxt:code
                        href="samples/db-create-config-grp-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listConfigGroups">
        <wadl:doc xml:lang="EN" title="List configuration groups"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all configuration groups.
            </para>
            <para>
                The list includes the associated data store and data store
                version for each configuration group.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-cfg-groups-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-cfg-groups-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-list-cfg-groups-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="listConfigDefaults">
        <wadl:doc xml:lang="EN" title="List configuration defaults"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists the configuration defaults for an
                instance.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-cfg-defaults-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-list-cfg-defaults-response-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-list-cfg-defaults-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="PUT" id="attachConfigGroup">
        <wadl:doc xml:lang="EN" title="Attach configuration group"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Attaches a configuration group to
                an instance.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-attach-config-grp-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-attach-config-grp-request.json"/>
                </wadl:doc>
                <param name="configuration" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            ID of the configuration group that you want to attach to the instance.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-attach-config-grp-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults;
    </method>
    <method name="PUT" id="detachConfigGroup">
        <wadl:doc xml:lang="EN" title="Detach configuration group"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Detaches a configuration group from
                an instance.
            </para>
            <para>
                When you pass in only an instance ID and omit the
                configuration ID, this operation detaches any configuration
                group that was attached to the instance.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-detach-config-grp-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-detach-config-grp-request.json"/>
                </wadl:doc>
                <param name="configuration" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            To detach a configuration group, set the
                            configuration parameter to null.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-detach-config-grp-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults;
    </method>
    <method name="DELETE" id="disableRoot">
        <wadl:doc xml:lang="EN" title="Disable root user"
            xmlns="http://docbook.org/ns/docbook"><para
                role="shortdesc">Disables the root user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-root-request-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-delete-root-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="PATCH" id="detachReplica">
        <wadl:doc xml:lang="EN" title="Detach replica"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Detaches a replica from its replication source.
            </para>
            <para>If you created an instance that is a replica of a source instance,
                you can detach the replica from the source. This can be useful if
                the source becomes unavailable. In this case, you can detach the
                replica from the source, making the replica a standalone database
                instance. You can then take the new standalone instance and create
                a new replica of that instance.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-detach-replica-request-json-http.txt"/>
                    <xsdxt:code
                        href="samples/db-detach-replica-request.json"/>
                </wadl:doc>
                &replicaOfRequestParameterDetach;
                &slaveOfRequestParameterDetach;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="samples/db-detach-replica-response-json-http.txt"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults;
    </method>
</application>
