api-ref/src/wadls/identity-api/src/v3/wadl/identity-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
 <!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities                            -->
<!--                                                       -->
<!-- You can resolve the entites with xmllint              -->
<!--                                                       -->
<!-- xmllint -noent identity-admin.wadl                    -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v3 ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357" xml:id="identity-admin-v3">
        <!-- FYI: double slash needed in path to get a single slash to display -->
        <resource id="versions" path="v3">
            <method href="#getVersionDetails"/>
            <resource id="tokens" path="auth/tokens">
                <method href="#authenticate"/>
                <method href="#validateTokens"/>
                <method href="#checkTokens"/>
                <method href="#revokeTokens"/>
            </resource>
            <resource id="catalog" path="services"> &authHeader;
                    <method href="#createService"/>
                <method href="#listServices"/>
                <resource id="catalogID" path="{service_id}">
                    <param name="service_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            service ID.</wadl:doc>
                    </param>
                    <method href="#getService"/>
                    <method href="#updateService"/>
                    <method href="#deleteService"/>
                </resource>
            </resource>
            <resource id="endpoints" path="endpoints"> &authHeader;
                    <method href="#createEndpoint"/>
                <method href="#listEndpoints"/>
                <resource id="endpointsID" path="{endpoint_id}">
                    <param name="endpoint_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            >The endpoint ID.</wadl:doc>
                    </param>
                    <method href="#updateEndpoint"/>
                    <method href="#deleteEndpoint"/>
                </resource>
            </resource>
            <resource id="domains" path="domains">
                <method href="#createDomain"/>
                <method href="#listDomains"/>
                <resource id="domainID" path="{domain_id}">
                    <param name="domain_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            domain ID.</wadl:doc>
                    </param>
                    <method href="#getDomain"/>
                    <method href="#updateDomain"/>
                    <method href="#deleteDomain"/>
                    <resource id="domainIDUserIDRoles"
                        path="users/{user_id}/roles">
                        <param name="user_id" style="template"
                            type="capi:uuid" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                >The user ID.</wadl:doc>
                        </param>
                        <method href="#listDomainUserRoles"/>
                        <resource id="domainIDUserIDRoleID"
                            path="{role_id}">
                            <param name="role_id" style="template"
                                type="capi:uuid" required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   >The role ID.</wadl:doc>
                            </param>
                            <method href="#grantDomainUserRole"/>
                            <method href="#checkDomainUserRole"/>
                            <method href="#revokeDomainUserRole"/>
                        </resource>
                    </resource>
                    <resource id="domainIDGroupIDRoles"
                        path="groups/{group_id}/roles">
                        <param name="group_id" style="template"
                            type="capi:uuid" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                >The group ID.</wadl:doc>
                        </param>
                        <method href="#listDomainGroupRoles"/>
                        <resource id="domainIDGroupIDRoleID"
                            path="{role_id}">
                            <param name="role_id" style="template"
                                type="capi:uuid" required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   >The role ID.</wadl:doc>
                            </param>
                            <method href="#grantDomainGroupRole"/>
                            <method href="#checkDomainGroupRole"/>
                            <method href="#revokeDomainGroupRole"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="projects" path="projects"> &authHeader;
                    <method href="#createProject"/>
                <method href="#listProjects"/>
                <resource id="projectID" path="{project_id}">
                    <param name="project_id" style="template"
                        type="xsd:string" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            project ID.</wadl:doc>
                    </param>
                    <method href="#getProject"/>
                    <method href="#updateProject"/>
                    <method href="#deleteProject"/>
                    <resource id="projectIDUsers" path="users">
                        &listProjectUsersParams; <method
                            href="#listProjectUsers"/>
                        <resource id="projectIDUserIDRoles"
                            path="{user_id}/roles">
                            <param name="user_id" style="template"
                                type="capi:uuid" required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   >The user ID.</wadl:doc>
                            </param>
                            <method href="#listProjectUserRoles"/>
                            <resource id="projectIDUserIDRoleID"
                                path="{role_id}">
                                <param name="role_id" style="template"
                                   type="capi:uuid" required="true">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   >The role ID.</wadl:doc>
                                </param>
                                <method href="#grantProjectUserRole"/>
                                <method href="#checkProjectUserRole"/>
                                <method href="#revokeProjectUserRole"
                                />
                            </resource>
                        </resource>
                    </resource>
                    <resource id="projectIDGroupIDRoles"
                        path="groups/{group_id}/roles">
                        <param name="group_id" style="template"
                            type="capi:uuid" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                >The group ID.</wadl:doc>
                        </param>
                        <method href="#listProjectGroupRoles"/>
                    </resource>
                    <resource id="projectIDGroupIDRoleID"
                        path="{role_id}">
                        <param name="role_id" style="template"
                            type="capi:uuid" required="true">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                >The role ID.</wadl:doc>
                        </param>
                        <method href="#grantProjectGroupRole"/>
                        <method href="#checkProjectGroupRole"/>
                        <method href="#revokeProjectGroupRole"/>
                    </resource>
                </resource>
            </resource>
            <resource id="users" path="users"> &authHeader; <method
                    href="#createUser"/>
                <method href="#listUsers"/>
                <resource id="userID" path="{user_id}">
                    <param name="user_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            user ID.</wadl:doc>
                    </param>
                    <method href="#getUser"/>
                    <method href="#updateUser"/>
                    <method href="#deleteUser"/>
                    <resource id="userIDGroups" path="groups">
                        <method href="#listUserGroups"/>
                    </resource>
                    <resource id="userIDProjects" path="projects">
                        <method href="#listUserProjects"/>
                    </resource>
                    <resource id="userIDRoles" path="roles">
                        &listUserRolesParams; <method
                            href="#listUserRoles"/>
                    </resource>
                </resource>
            </resource>
            <resource id="groups" path="groups">
                <method href="#createGroup"/>
                <method href="#listGroups"/>
                <resource id="groupID" path="{group_id}">
                    <param name="group_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            group ID.</wadl:doc>
                    </param>
                    <method href="#getGroup"/>
                    <method href="#updateGroup"/>
                    <method href="#deleteGroup"/>
                    <resource id="groupIDUsers" path="users">
                        &listGroupUsersParams; <method
                            href="#listGroupUsers"/>
                        <resource id="groupIDUserIDs" path="{user_id}">
                            <param name="user_id" style="template"
                                type="capi:uuid" required="true">
                                <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   >The user ID.</wadl:doc>
                            </param>
                            <method href="#addGroupUser"/>
                            <method href="#deleteGroupUser"/>
                            <method href="#checkGroupUser"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="credentials" path="credentials">
                <method href="#createCredential"/>
                <method href="#listCredentials"/>
                <resource id="credentialID" path="{credential_id}">
                    <param name="credential_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            credential ID.</wadl:doc>
                    </param>
                    <method href="#getCredential"/>
                    <method href="#updateCredential"/>
                    <method href="#deleteCredential"/>
                </resource>
            </resource>
            <resource id="roles" path="roles"> &authHeader; <method
                    href="#createRole"/>
                <method href="#listRoles"/>
                <resource id="roleID" path="{role_id}">
                    <param name="role_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            role ID.</wadl:doc>
                    </param>
                    <method href="#getRole"/>
                    <method href="#updateRole"/>
                    <method href="#deleteRole"/>
                    <resource id="roleIDUsers" path="users">
                        &listRoleUsersParams; <method
                            href="#listRoleUsers"/>
                    </resource>
                </resource>
            </resource>
            <resource id="policies" path="policies"> &authHeader;
                    <method href="#createPolicy"/>
                <method href="#listPolicies"/>
                <resource id="policyID" path="{policy_id}">
                    <param name="policy_id" style="template"
                        type="capi:uuid" required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook">The
                            policy ID.</wadl:doc>
                    </param>
                    <method href="#getPolicy"/>
                    <method href="#updatePolicy"/>
                    <method href="#deletePolicy"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!--Version Operations-->

    <method name="GET" id="getVersionDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml"> Gets details
                about this specific version of the API. </p>
        </wadl:doc> &commonFaults; &getFaults; <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/version-resp.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code href="../samples/version-resp.xml"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <!--Token Operations-->
    <method name="POST" id="authenticate">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Authenticate">
            <para role="shortdesc">Authenticates and generates a
                token.</para>
            <para>Returns a token, if successful. Each REST request
                requires the inclusion of a specific authorization
                token HTTP x-header, defined as
                    <code>X-Auth-Token</code>. Clients obtain
                    <code>X-Auth-Token</code> and the URL endpoints
                for other service APIs by supplying their valid
                credentials to the authentication service.</para>
            <para>A REST interface provides client authentication by
                using the POST method, with <code>auth/tokens</code>
                supplied as the path. The body of the request must
                include a payload of credentials including the
                authentication method and, optionally, the
                authorization scope. The scope includes either a
                project or a domain. If both project and domain are
                included, an <code>HTTP 400 Bad Request</code>
                results, because a token cannot be simultaneously
                scoped as both a project and a domain.</para>
            <important>
                <para>If the optional scope is not included and the
                    authenticating user has a defined default project
                    (the user's <code>default_project_id</code>
                    attribute), then that default project is treated
                    as the preferred authorization scope.</para>
                <para>If no default project is defined, the token is
                    issued without an explicit scope of authorization.
                </para>
            </important>
            <para>Provide one of the following sets of credentials to
                authenticate: User ID and password, user name and
                password scoped by domain ID or name, user ID and
                password scoped by project ID or name with or without
                domain scope, or token.</para>
            <para>The following examples demonstrate authentication
                requests with different types of credentials.</para>
            <note>
                <para>If <code>scope</code> is included, <code>project
                        id</code> uniquely identifies the
                        <code>project</code>. However, <code>project
                        name</code> uniquely identifies the
                        <code>project</code> only when used in
                    conjunction with a <code>domain ID</code> or a
                        <code>domain name</code>.</para>
            </note>
            <para>If the authentication token has expired, a
                    <errorcode>401</errorcode> response code is
                returned.</para>
            <para>If the subject token has expired, this call returns
                a <errorcode>404</errorcode> response code.</para>
            <para>The Identity Service treats expired tokens as not
                valid tokens.</para>
            <para>The deployment determines how long expired tokens
                are stored.</para>
            <para>As the following example responses show, the
                response to an authentication request returns the
                token ID in the <code>X-Subject-Token</code> header
                instead of in the token data.</para>
            <para>If the call has no explicit authorization scope, the
                response does not contain the <code>catalog</code>,
                    <code>project</code>, <code>domain</code>, or
                    <code>roles</code> fields. However, the response
                still uniquely identifies the user.</para>
            <para>A token scoped to a <code>project</code> also has
                both a service <code>catalog</code> and the user's
                roles applicable to the <code>project</code>.</para>
            <para>A token scoped to a <code>domain</code> also has
                both a service <code>catalog</code> and the user's
                roles applicable to the <code>project</code>.</para>
            <para>Optionally, the identity service implementation
                might return an <code>authentication</code> attribute
                to indicate the supported authentication methods.
                </para><para>For authentication processes that require
                multiple round trips, the identity service
                implementation might return an <code>HTTP 401 Not
                    Authorized</code> error with additional
                information for the next authentication step.</para>
            <para>The following examples illustrate several possible
                HTTP 401 Unauthorized authentication errors. Other
                errors like HTTP <errorcode>403</errorcode>
                <returnvalue>Forbidden</returnvalue> and HTTP
                    <errorcode>409</errorcode>
                <returnvalue>Conflict</returnvalue> are also
                possible.</para>
        </wadl:doc>
        <request>
            <param name="methods" style="plain" required="true"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>The authentication method, which is
                            <code>password</code> or
                            <code>token</code>.</para><para>With
                        password authentication, you can specify user
                        ID and password, user name and password scoped
                        by domain ID or name, or user ID and password
                        scoped by project ID or name with or without
                        domain scope.</para>
                    <para>With token authentication, you specify the
                        token ID.</para>
                </wadl:doc>
            </param>
            <param name="token" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <para>With token authentication, the
                            <code>id</code> uniquely identifies the
                        token. This method is typically used in
                        combination with a request to change
                        authorization scope.</para></wadl:doc>
            </param>
            <param name="id" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <para>With password authentication,
                            <code>id</code> uniquely identifies the
                        user. However, <code>name</code> uniquely
                        identifies the user when used in conjunction
                        with a domain <code>id</code> or
                            <code>name</code>.</para></wadl:doc>
            </param>
            <param name="user" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <para>Specify <code>id</code> or <code>name</code>
                        to uniquely identify the user and
                            <code>password</code>. Use
                            <code>name</code> only in conjunction with
                        a domain <code>id</code> or
                        <code>name</code>.</para></wadl:doc>
            </param>
            <param name="domain" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <para>Specify either <code>id</code> or
                            <code>name</code> to uniquely identify the
                        domain.</para></wadl:doc>
            </param>
            <param name="scope" style="plain" required="false"
                type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>A project scope with an optional domain
                        scope. Specify either an <code>id</code> or
                            <code>name</code> to uniquely identify the
                        project. Use <code>name</code> only in
                        conjunction with a domain <code>id</code> or
                            <code>name</code>.</para></wadl:doc>
            </param>
            <param name="token" style="plain" required="false"
                type="capi:UUID">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        ><para>A token ID. If you do not provide a
                        token, you must provide a user name and
                        password.</para></wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with User ID and Password: JSON Request">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthPasswordIDRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with Domain ID, User Name, and Password: JSON Request">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthPasswordNameRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with Domain Name, User Name, and Password: JSON Request">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthPasswordDomainRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with Token: JSON Request">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthTokenRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with User ID, Password, and Scope: Project ID: JSON Request">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthPasswordIDScopeProjIDRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with User ID, Password, and Scope: Domain ID and Project Name: JSON Request">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthPasswordIDScopeProjNameRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with User ID, Password, and Scope: Domain Name and Project Name: JSON Request">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthPasswordIDScopeProjDomainNameRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate without Scope: JSON Response">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthNoScopeResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with Project Scope: JSON Response">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthScopeProjectResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Authenticate with Domain Scope: JSON Response">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthScopeDomainResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="401">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Error: Basic HTTP 401 Not Authorized: JSON Response">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthFail401aResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Error: HTTP 401 Not Authorized with Supported Methods: JSON Response">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthFail401bResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="Error: HTTP 401 Not Authorized with Next Step Information: JSON Response"><xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthFail401cResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="404 409"/> &commonFaults; &getFaults; </method>

    <method name="GET" id="validateTokens">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Validate Token">
            <para role="shortdesc">Validates a specified token.</para>
            <para>Pass your own token in the <code>X-Auth-Token</code>
                header and the token to be validated in the
                    <code>X-Subject-Token</code> header. The Identity
                Service returns the same response as when the subject
                token was issued by <code>POST /auth/tokens</code>.
            </para>
        </wadl:doc>
        <request> &tokenParams; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenValidateRequest.txt"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenAuthNoScopeResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="HEAD" id="checkTokens">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check Token">
            <para role="shortdesc">Validates a specified token.</para>
            <para>This call is similar to <code>GET
                    /auth/tokens</code>, but no response body is
                provided, even in the <code>X-Subject-Token</code>
                header.</para>
            <important>
                <para>The Identity service returns the same response
                    as when the subject token was issued by <code>POST
                        /auth/tokens</code>, even if an error occurs
                    because the token is not valid. A 204 response
                    indicates that the <code>X-Subject-Token</code> is
                    valid.</para>
            </important>
        </wadl:doc>
        <request> &tokenParams; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenValidateRequest.txt"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <!--There is no response.  As noted above, an HTTP 204 indicates success-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="revokeTokens">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke Token">
            <para role="shortdesc">Revokes a specified token.</para>
            <para>This call is similar to <code>HEAD
                    /auth/tokens</code>, except that the
                    <code>X-Subject-Token</code> token is immediately
                not valid (regardless of the <code>expires_at</code>
                attribute). An additional <code>X-Auth-Token</code> is
                not required.</para>
        </wadl:doc>
        <request> &tokenParams; <representation
                mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/TokenValidateRequest.txt"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request> &commonFaults; &getFaults; </method>

    <!--Catalog Operations-->
    <method name="GET" id="listServices">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Services">
            <para role="shortdesc">Lists services.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &listServicesParams;</request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ServicesListResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="POST" id="createService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Service">
            <para role="shortdesc">Adds a service.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ServiceCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ServiceCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Service Information">
            <para role="shortdesc">Gets information for a specified
                service.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ServiceGetResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Service">
            <para role="shortdesc">Updates a specified service.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ServiceUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Service">
            <para role="shortdesc">Deletes a specified service.</para>
            <warning>
                <para>Deleting a service when endpoints exist should
                    either (1) delete all associated endpoints or (2)
                    fail until endpoints are deleted.</para>
            </warning>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <!--Endpoint Operations-->
    <method name="GET" id="listEndpoints">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Endpoints">
            <para role="shortdesc">Lists available endpoints.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &listEndpointsParams; </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/EndpointsListResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Endpoint">
            <para role="shortdesc">Adds an endpoint.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/EndpointCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/EndpointCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Endpoint">
            <para role="shortdesc">Updates a specified
                endpoint.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/EndpointUpdateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/EndpointUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Endpoint">
            <para role="shortdesc">Deletes a specified
                endpoint.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <!--Domain Operations-->
    <method name="GET" id="listDomains">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Domains">
            <para role="shortdesc">Lists domains.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &listDomainsParams; </request>
        <response status="200"> &listDomainsRespParams;
                <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    title="List domains: JSON response">
                    <xsdxt:sample title="List domains: JSON response">
                        <xsdxt:code
                            href="../samples/DomainsListResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Domain">
            <para role="shortdesc">Adds a domain.</para>
        </wadl:doc>
        <request> &authHeader; <param name="description" style="plain"
                type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">The
                    domain description.</wadl:doc>
            </param>
            <param name="enabled" style="plain" type="xsd:boolean"
                required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">Set to
                    true to enable the domain. Otherwise, set to
                    false.</wadl:doc>
            </param>
            <param name="name" style="plain" type="xsd:string"
                required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">The
                    domain name.</wadl:doc>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/DomainCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/DomainCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Domain Information">
            <para role="shortdesc">Gets information for a specified
                domain.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/DomainGetResponse.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Domain">
            <para role="shortdesc">Updates a specified domain.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/DomainUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Domain">
            <para role="shortdesc">Deletes a specified domain.</para>
            <para>To minimize the risk of accidentally deleting a
                domain, you must first disable the domain by using the
                update domain API. If you try to delete an enabled
                domain, the call returns an <code>HTTP 403
                    Forbidden</code> response.</para>
            <para>
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <warning>
                        <para>Deleting a domain deletes all entities
                            owned by it, such as users, groups, and
                            projects, as well as any credentials and
                            granted roles that relate to those
                            entities.</para>
                    </warning>
                </wadl:doc>
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listDomainUserRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Roles for Domain User">
            <para role="shortdesc">Lists roles for a user on a
                domain.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/DomainListUserRolesResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PUT" id="grantDomainUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Grant Role to Domain User">
            <para role="shortdesc">Grants a role to a specified domain
                user.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="HEAD" id="checkDomainUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check Role for Domain User">
            <para role="shortdesc">Validates that a user has a role on
                a domain.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="revokeDomainUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke Role from Domain User">
            <para role="shortdesc">Revokes a role from a specified
                domain user.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listDomainGroupRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Roles for Domain Group">
            <para role="shortdesc">Lists roles for a specified domain
                group.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/DomainListGroupRolesResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PUT" id="grantDomainGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Grant Role to Domain Group">
            <para role="shortdesc">Grants a specified role to a
                specified domain group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="HEAD" id="checkDomainGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check Role for Domain Group">
            <para role="shortdesc">Validates that a group has a role
                on a domain.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="revokeDomainGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke Role from Domain Group">
            <para role="shortdesc">Revokes a role from a group on a
                domain.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <!--Project Operations-->
    <method name="GET" id="listProjects">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Projects">
            <para role="shortdesc">Lists projects.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &listProjectsParams; </request>

        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectsListResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Project">
            <para role="shortdesc">Adds a project.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Project Information">
            <para role="shortdesc">Gets information for a specified
                project.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectGetResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Project">
            <para role="shortdesc">Updates a specified project.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Project">
            <para role="shortdesc">Deletes a specified project.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listProjectUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Project Users">
            <para role="shortdesc">List users for a project.</para>
        </wadl:doc>
        <!--No request body is provided-->

        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectListUsersResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listProjectUserRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Roles for Project User">
            <para role="shortdesc">Lists roles for a user in a
                project.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectListUserRolesResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PUT" id="grantProjectUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Grant Role to Project User">
            <para role="shortdesc">Grants a role to a user on a
                project.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="HEAD" id="checkProjectUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check Role for Project User">
            <para role="shortdesc">Validates that a user has a
                specified role on a project.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="revokeProjectUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke Role from Project User">
            <para role="shortdesc">Revokes a role from a project
                user.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listProjectGroupRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Roles for Project Group">
            <para role="shortdesc">Lists roles for a project
                group.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/ProjectListGroupRolesResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PUT" id="grantProjectGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Grant Role to Project Group">
            <para role="shortdesc">Grants a role to a project
                group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="HEAD" id="checkProjectGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check Role for Project Group">
            <para role="shortdesc">Validates that a project group has
                a role.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="revokeProjectGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke Role from Project Group">
            <para role="shortdesc">Revokes a role from a project
                group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <!--User Operations-->
    <method name="GET" id="listUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Users">
            <para role="shortdesc">Lists users.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &listUsersParams; </request>

        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UsersListResponse.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add User">
            <para role="shortdesc">Adds a user.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UserCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UserCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get User Information">
            <para role="shortdesc">Gets information for a specified
                user.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UserGetResponse.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update User">
            <para role="shortdesc">Updates the password for or enables
                or disables a specified user.</para>
            <para>This operation might return the HTTP <code>501 Not
                    Implemented</code> code if the back-end driver
                does not allow this functionality.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UserUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete User">
            <para role="shortdesc">Deletes a specified user.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listUserProjects">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Projects for User">
            <para role="shortdesc">List projects for a specified
                user.</para>
        </wadl:doc>
        <!--No request body is provided-->

        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UserListProjectsResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listUserGroups">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Groups for User">
            <para role="shortdesc">Lists groups for a specified
                user.</para>
        </wadl:doc>
        <!--No request body is provided-->

        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UserListGroupsResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listUserRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Roles for User">
            <para role="shortdesc">Lists roles for a specified
                user.</para>
        </wadl:doc>
        <!--No request body is provided-->

        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/UserListRolesResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!--Group Operations-->
    <method name="GET" id="listGroups">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Groups">
            <para role="shortdesc">Lists groups.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &authHeader; &listGroupsParams;<representation
                mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>

        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/GroupsListResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Group">
            <para role="shortdesc">Adds a group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/GroupCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/GroupCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Group Information">
            <para role="shortdesc">Gets information for a specified
                group.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/GroupGetResponse.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Group">
            <para role="shortdesc">Updates a specified group.</para>
            <para>Use this operation to update the name or description
                of a group. This operation might return the HTTP
                    <code>501 Not Implemented</code> code if the
                back-end driver does not allow this functionality.
            </para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/GroupUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Group">
            <para role="shortdesc">Deletes a specified group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="PUT" id="addGroupUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add User to Group">
            <para role="shortdesc">Adds a user to a specified
                group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteGroupUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Remove User from Group">
            <para role="shortdesc">Removes a user from a group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="HEAD" id="checkGroupUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check User Membership in Group">
            <para role="shortdesc">Validates that a user is in a
                group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listGroupUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Users in Group">
            <para role="shortdesc">Lists the users in a specified
                group.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &listUserGroupsParams; </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/GroupListUsersResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!--Credential Operations-->
    <method name="GET" id="listCredentials">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Credentials">
            <para role="shortdesc">Lists credentials.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <request> &authHeader; &listCredentialsParams; </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/CredentialsListResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Credential">
            <para role="shortdesc">Adds a credential.</para>
            <para>The following example shows how to create an EC2-style
                  credential where the credential blob is a JSON-serialized
                  dictionary that contains <code>access</code> and
                  <code>secret</code>. This format is required when you specify
                  the <code>ec2</code> type. To specify other credentials, such
                  as <code>access_key</code>, simply change the type and
                  contents of the data blob.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/CredentialCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/CredentialCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Credential Information">
            <para role="shortdesc">Gets information for a specified
                credential.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/CredentialGetResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Credential">
            <para role="shortdesc">Updates a specified
                credential.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/CredentialUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Credential">
            <para role="shortdesc">Deletes a specified
                credential.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <!--Role Operations-->
    <method name="GET" id="listRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Roles">
            <para role="shortdesc">Lists roles.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <request> &listRolesParams; </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/RolesListResponse.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Role">
            <para role="shortdesc">Adds a role.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/RoleCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/RoleCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Role Information">
            <para role="shortdesc">Gets information for a specified
                role.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/RoleGetResponse.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updateRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Role">
            <para role="shortdesc">Updates a specified role.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/RoleUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deleteRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Role">
            <para role="shortdesc">Deletes a specified role.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="listRoleUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Users for Role">
            <para role="shortdesc">Lists users with a specified
                role.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/RoleListUsersResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!--Policy Operations-->
    <method name="GET" id="listPolicies">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Policies">
            <para role="shortdesc">Lists policies.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request> &listPoliciesParams; </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/PoliciesListResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="createPolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Add Policy">
            <para role="shortdesc">Adds a policy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/PolicyCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/PolicyCreateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="GET" id="getPolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Get Policy Information">
            <para role="shortdesc">Gets information about a specified
                policy.</para>
        </wadl:doc>

        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/PolicyGetResponse.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PATCH" id="updatePolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update Policy">
            <para role="shortdesc">Updates a specified policy.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/PolicyCreateRequest.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/PolicyUpdateResponse.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="DELETE" id="deletePolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Policy">
            <para role="shortdesc">Deletes a specified policy.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204"> </response> &commonFaults; &getFaults;
    </method>
</application>
