api-ref/src/wadls/identity-api/src/v3/wadl/OS-ENDPOINT-POLICY-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved    -->
<!--*******************************************************-->
<!-- Import Common XML Entities                            -->
<!--                                                       -->
<!-- You can resolve the entities with xmllint             -->
<!--                                                       -->
<!-- xmllint -noent OS-OS-ENDPOINT-POLICY-v3.wadl          -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:identity="http://docs.openstack.org/identity/api/v3"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v3 ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="http://localhost:5000" xml:id="OS-OS-ENDPOINT-POLICY-v3">
        <resource id="versions-inherit-v3" path="//v3">
            <resource id="policies" path="policies">
                <resource id="policy_id" path="{policy_id}">
                    &policy_idTemplateParameter;
                    <resource id="OS-ENDPOINT-POLICY" path="OS-ENDPOINT-POLICY">
                        <resource id="endpoints" path="endpoints">
                            <method href="#listPolicyEndpointAssociations"/>
                            <resource id="endpoint_id" path="{endpoint_id}">
                                &endpoint_idTemplateParameter;
                                <method href="#associatePolicyAndEndpoint"/>
                                <method href="#getPolicyAndEndpointAssociation"/>
                                <method href="#deletePolicyAndEndpointAssociation"/>
                            </resource>
                        </resource>
                        <resource id="services" path="services">
                            <resource id="service_id" path="{service_id}">
                                &service_idTemplateParameter;
                                <method href="#associatePolicyAndService"/>
                                <method href="#getPolicyAndServiceAssociation"/>
                                <method href="#deletePolicyAndServiceAssociation"/>
                            </resource>
                            <resource id="regions" path="regions">
                                <resource id="region_id" path="{region_id}">
                                    &region_idTemplateParameter;
                                    <method href="#associatePolicyAndServiceRegion"/>
                                    <method href="#getPolicyAndServiceRegionAssociation"/>
                                    <method href="#deletePolicyAndServiceRegionAssociation"/>
                                </resource>
                            </resource>
                        </resource>
                        <resource id="policy" path="policy">
                            <method href="#showPolicyForEndpoint"/>
                            <method href="#checkPolicyForEndpoint"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method name="GET" id="listPolicyEndpointAssociations">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List policy and service endpoint associations">
            <para role="shortdesc">
                Lists all the endpoints that are currently associated with a
                policy through any of the association methods.
            </para>
        </wadl:doc>
        <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code
                  href="../samples/OS-ENDPOINT-POLICY/policy-endpoint-associations-list-response.json"/>
            </wadl:doc>
            &endpointsObjectParameter;
            &endpoint-idResponseParameter;
            &endpoint-interfaceResponseParameter;
            &endpoint-linksResponseParameter;
            &endpoint-nextResponseParameter;
            &endpoint-previousResponseParameter;
            &endpoint-selfResponseParameter;
            &endpoint-regionResponseParameter;
            &endpoint-service_idResponseParameter;
            &endpoint-urlResponseParameter;
            &endpoints-linksResponseParameter;
            &endpoints-nextResponseParameter;
            &endpoints-previousResponseParameter;
            &endpoints-selfResponseParameter;
         </representation>
      </response>
    </method>
    <method name="GET" id="showPolicyForEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show policy for endpoint">
            <para role="shortdesc">
                Shows a policy for an endpoint.
            </para>
            <para>
                The extension finds the policy by traversing the ordered
                sequence of methods of association. The extension shows the
                policy for the first association that it finds. If the region
                of the endpoint has a parent, the extension examines the
                region associations up the region tree in ascending order.
            </para>
        </wadl:doc>
        <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code
                  href="../samples/OS-ENDPOINT-POLICY/policy-show-response.json"/>
            </wadl:doc>
            &policyObjectParameter;
            &policy-rule-blobResponseParameter;
            &policy-idResponseParameter;
            &policy-linksResponseParameter;
            &policy-typeResponseParameter;
         </representation>
      </response>
    </method>
    <method name="HEAD" id="checkPolicyForEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check policy and service endpoint association">
            <para role="shortdesc">
                Checks whether a policy is associated with an endpoint.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <!-- policy and endpoint associations -->
    <method name="PUT" id="associatePolicyAndEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Associate policy and endpoint">
            <para role="shortdesc">
                Associates a policy and an endpoint.
            </para>
            <para>
                If an association already exists between the endpoint and
                another policy, this call replaces that association.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="getPolicyAndEndpointAssociation">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Verify a policy and endpoint association">
            <para role="shortdesc">
                Verifies an association between a policy and an endpoint.
            </para>
            <para>
                A &HEAD; version of this API is also supported.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="DELETE" id="deletePolicyAndEndpointAssociation">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete a policy and endpoint association">
            <para role="shortdesc">
                Deletes an association between a policy and an endpoint.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <!-- Policy and any endpoint of a given service type associations -->
    <method name="PUT" id="associatePolicyAndService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Associate policy and service-type endpoint">
            <para role="shortdesc">
                Associates a policy and any endpoint of a service type.
            </para>
            <para>
                If an association already exists between the endpoint of a
                service type and another policy, this call replaces that
                association.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="getPolicyAndServiceAssociation">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Verify a policy and service-type endpoint association">
            <para role="shortdesc">
                Verifies an association between a policy and an endpoint of a
                service type.
            </para>
            <para>
                A &HEAD; version of this API is also supported.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="DELETE" id="deletePolicyAndServiceAssociation">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete a policy and service-type endpoint association">
            <para role="shortdesc">
                Deletes an association between a policy and an endpoint of a
                service type.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <!-- Policy and endpoint of a service type in a region associations -->
    <method name="PUT" id="associatePolicyAndServiceRegion">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Associate policy and service-type endpoint in a region">
            <para role="shortdesc">
                Associates a policy and an endpoint of a service type in a region.
            </para>
            <para>
                If an association already exists between the service in a
                region and another policy, this call replaces that
                association.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="getPolicyAndServiceRegionAssociation">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Verify a policy and service-type endpoint in a region association">
            <para role="shortdesc">
                Verifies an association between a policy and service-type
                endpoint in a region.
            </para>
            <para>
                A &HEAD; version of this API is also supported.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="DELETE" id="deletePolicyAndServiceRegionAssociation">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete a policy and service-type endpoint in a region association">
            <para role="shortdesc">
                Deletes an association between a policy and service-type
                endpoint in a region.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
</application>
