api-ref/src/wadls/identity-api/src/v3/wadl/OS-INHERIT-v3.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved    -->
<!--*******************************************************-->
<!-- Import Common XML Entities                            -->
<!--                                                       -->
<!-- You can resolve the entities with xmllint             -->
<!--                                                       -->
<!-- xmllint -noent OS-INHERIT-v3.wadl                     -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:identity="http://docs.openstack.org/identity/api/v3"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v3 ../xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:5000" xml:id="OS-INHERIT-v3">
        <!-- FYI: double slash needed in path to get a single slash to display -->
        <resource id="versions-inherit-v3" path="//v3">
            <resource id="role_assignments" path="role_assignments">
                <param name="group.id" style="query" type="xsd:string"
                    xmlns="http://wadl.dev.java.net/2009/02"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Filters the response by a group, by ID. For
                            example, to list all role assignments for a group,
                            specify <code>group.id={group_id}</code>.
                        </para>
                     </wadl:doc>
                </param>
                <param name="role.id" style="query" type="xsd:string"
                    xmlns="http://wadl.dev.java.net/2009/02"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Filters the response by a role, by ID. For
                            example, to list all role assignments for a role,
                            specify <code>role.id={role_id}</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="scope.domain.id" style="query"
                    type="xsd:string"
                    xmlns="http://wadl.dev.java.net/2009/02"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Filters the response by a domain, by ID. For
                            example, to list all role assignments for a
                            domain, specify
                            <code>scope.domain.id={domain_id}</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="scope.project.id" style="query"
                    type="xsd:string"
                    xmlns="http://wadl.dev.java.net/2009/02"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Filters the response by a project, by ID. For
                            example, to list all role assignments for a
                            project, specify
                            <code>scope.project.id={project_id}</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="user.id" style="query" type="xsd:string"
                    xmlns="http://wadl.dev.java.net/2009/02"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Filters the response by a user, by ID. For
                            example, to list all role assignments for a user,
                            specify <code>user.id={user_id}</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="effective" style="query" type="xsd:key"
                    xmlns="http://wadl.dev.java.net/2009/02"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN">
                        <para>
                            Lists effective assignments at the user, project,
                            and domain level, allowing for the effects of
                            group membership.
                        </para>
                        <para>
                            The collection does not include the group role
                            assignment entities themselves.
                        </para>
                        <para>
                            This represents the effective role assignments
                            that a scoped token includes. You can use the
                            other query parameters with the
                            <code>effective</code> parameter.
                        </para>
                    </wadl:doc>
                </param>
                <method href="#listRoleAssignments"/>
            </resource>
            <resource id="os-inherit" path="OS-INHERIT">
                <resource id="projects" path="projects">
                    <resource id="project_id" path="{project_id}">
                        <param name="project_id" style="template"
                            type="csapi:UUID" required="true">
                            <wadl:doc xml:lang="EN"
                                xmlns="http://docbook.org/ns/docbook">
                                <para>
                                    The UUID of the project.
                                </para>
                            </wadl:doc>
                        </param>
                        <resource id="users" path="users">
                            <resource id="user_id" path="{user_id}">
                                <param name="user_id" style="template"
                                    type="csapi:UUID" required="true">
                                    <wadl:doc xml:lang="EN"
                                        xmlns="http://docbook.org/ns/docbook">
                                        <para>
                                            The UUID of the user.
                                        </para>
                                    </wadl:doc>
                                </param>
                                <resource id="roles" path="roles">
                                    <resource id="inherited_to_projects"
                                        path="inherited_to_projects">
                                        <method href="#listRolesForUser"/>
                                    </resource>
                                    <resource id="role_id" path="{role_id}">
                                        <param name="role_id" style="template"
                                            type="csapi:UUID" required="true">
                                            <wadl:doc xml:lang="EN"
                                                xmlns="http://docbook.org/ns/docbook">
                                                <para>
                                                    The UUID of the role.
                                                </para>
                                            </wadl:doc>
                                        </param>
                                        <resource id="inherited_to_projects2"
                                            path="inherited_to_projects">
                                            <method href="#assignRoleToUser"/>
                                            <method href="#checkRoleForUser"/>
                                            <method href="#revokeRoleFromUser"/>
                                        </resource>
                                    </resource>
                                </resource>
                            </resource>
                        </resource>
                        <resource id="groups" path="groups">
                            <resource id="group_id" path="{group_id}">
                                <param name="group_id" style="template"
                                    type="csapi:UUID" required="true">
                                    <wadl:doc xml:lang="EN"
                                        xmlns="http://docbook.org/ns/docbook">
                                        <para>
                                            The UUID of the group.
                                        </para>
                                    </wadl:doc>
                                </param>
                                <resource id="roles2" path="roles">
                                    <resource id="inherited_to_projects3"
                                        path="inherited_to_projects">
                                        <method href="#listRolesForGroup"/>
                                    </resource>
                                    <resource id="role_id2" path="{role_id}">
                                        <param name="role_id" style="template"
                                            type="csapi:UUID" required="true">
                                            <wadl:doc xml:lang="EN"
                                                xmlns="http://docbook.org/ns/docbook">
                                                <para>
                                                    The UUID of the role.
                                                </para>
                                            </wadl:doc>
                                        </param>
                                        <resource id="inherited_to_projects4"
                                            path="inherited_to_projects">
                                            <method href="#assignRoleToGroup"/>
                                            <method href="#checkRoleForGroup"/>
                                            <method href="#revokeRoleFromGroup"/>
                                        </resource>
                                    </resource>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="domains" path="domains">
                    <resource id="domain_id" path="{domain_id}">
                        <param name="domain_id" style="template"
                            type="csapi:UUID" required="true">
                            <wadl:doc xml:lang="EN"
                                xmlns="http://docbook.org/ns/docbook">
                                <para>
                                    The UUID of the domain.
                                </para>
                            </wadl:doc>
                        </param>
                        <resource id="users-domain" path="users">
                            <resource id="user_id2" path="{user_id}">
                                <param name="user_id" style="template"
                                    type="csapi:UUID" required="true">
                                    <wadl:doc xml:lang="EN"
                                        xmlns="http://docbook.org/ns/docbook">
                                        <para>
                                            The UUID of the user.
                                        </para>
                                    </wadl:doc>
                                </param>
                                <resource id="roles-domain" path="roles">
                                    <resource id="inherited_to_projects-domain"
                                        path="inherited_to_projects">
                                        <method href="#listRolesForUser-domain"/>
                                    </resource>
                                    <resource id="role_id-domain" path="{role_id}">
                                        <param name="role_id" style="template"
                                            type="csapi:UUID" required="true">
                                            <wadl:doc xml:lang="EN"
                                                xmlns="http://docbook.org/ns/docbook">
                                                <para>
                                                    The UUID of the role.
                                                </para>
                                            </wadl:doc>
                                        </param>
                                        <resource id="inherited_to_projects2-domain"
                                            path="inherited_to_projects">
                                            <method href="#assignRoleToUser-domain"/>
                                            <method href="#checkRoleForUser-domain"/>
                                            <method href="#revokeRoleFromUser-domain"/>
                                        </resource>
                                    </resource>
                                </resource>
                            </resource>
                        </resource>
                        <resource id="groups-domain" path="groups">
                            <resource id="group_id-domain" path="{group_id}">
                                <param name="group_id" style="template"
                                    type="csapi:UUID" required="true">
                                    <wadl:doc xml:lang="EN"
                                        xmlns="http://docbook.org/ns/docbook">
                                        <para>
                                            The UUID of the group.
                                        </para>
                                    </wadl:doc>
                                </param>
                                <resource id="roles2-domain" path="roles">
                                    <resource id="inherited_to_projects3-domain"
                                        path="inherited_to_projects">
                                        <method href="#listRolesForGroup-domain"/>
                                    </resource>
                                    <resource id="role_id2-domain" path="{role_id}">
                                        <param name="role_id" style="template"
                                            type="csapi:UUID" required="true">
                                            <wadl:doc xml:lang="EN"
                                                xmlns="http://docbook.org/ns/docbook">
                                                <para>
                                                    The UUID of the role.
                                                </para>
                                            </wadl:doc>
                                        </param>
                                        <resource id="inherited_to_projects4-domain"
                                            path="inherited_to_projects">
                                            <method href="#assignRoleToGroup-domain"/>
                                            <method href="#checkRoleForGroup-domain"/>
                                            <method href="#revokeRoleFromGroup-domain"/>
                                        </resource>
                                    </resource>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <!--Consumers Operations-->
    <method name="PUT" id="assignRoleToUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Assign role to user">
            <para role="shortdesc">
                Assigns a role to a user in projects in a subtree.
            </para>
            <para>
                The API anchors the inherited role assignment to a project and
                applies it to its subtree in the projects hierarchy to both
                existing and future projects.
            </para>
            <para>
                A user can have both a regular, non-inherited role assignment
                and an inherited role assignment in the same project.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="HEAD" id="checkRoleForUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check role for user">
            <para role="shortdesc">
                Checks whether a user has a role assignment with the
                <code>inherited_to_projects</code> flag in a
                project.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="DELETE" id="revokeRoleFromUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke role from user">
            <para role="shortdesc">
                Revokes an inherited role from a user in a project.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="listRolesForUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List roles for user">
            <para role="shortdesc">
                Lists the project roles that a user in a project inherits from
                a parent project.
            </para>
            <para>
                The list shows only roles that the user project inherits from
                the parent project.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/OS-INHERIT/user-roles-list-response.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
    </method>
     <method name="PUT" id="assignRoleToGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Assign role to group">
            <para role="shortdesc">
                Assigns a role to a group in projects in a subtree.
            </para>
            <para>
                The API anchors the inherited role assignment to a project and
                applies it to its subtree in the projects hierarchy to both
                existing and future projects.
            </para>
            <para>
                A group can have both a regular, non-inherited role assignment
                and an inherited role assignment in the same project.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="HEAD" id="checkRoleForGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check role for group">
            <para role="shortdesc">
                Checks whether a group has a role assignment with the
                <code>inherited_to_projects</code> flag in a
                project.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="DELETE" id="revokeRoleFromGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke role from group">
            <para role="shortdesc">
                Revokes an inherited role from a group in a project.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="listRolesForGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List roles for group">
            <para role="shortdesc">
                Lists the project roles that a group in a project inherits from
                a parent project.
            </para>
            <para>
                The list shows only roles that the group project inherits from the
                parent project.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/OS-INHERIT/group-roles-list-response.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <!-- Domains -->
    <method name="PUT" id="assignRoleToUser-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Assign role to user owned by domain projects">
            <para role="shortdesc">
                Assigns a role to a user in projects owned by a domain.
            </para>
            <para>
                The API applies the inherited role to the existing and future
                owned projects. The inherited role does not appear as a role
                in a domain-scoped token.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="HEAD" id="checkRoleForUser-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check project role for user in domain">
            <para role="shortdesc">
                Checks whether a user has an inherited project role in a
                domain.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="DELETE" id="revokeRoleFromUser-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke project role from user in domain">
            <para role="shortdesc">
                Revokes an inherited project role from a user in a domain.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="listRolesForUser-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List project roles for user in domain">
            <para role="shortdesc">
                Lists the project roles that a user inherits from a parent
                project in a domain.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/OS-INHERIT/user-roles-domain-list-response.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="assignRoleToGroup-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Assign role to group in domain projects">
            <para role="shortdesc">
                Assigns a role to a group in projects owned by a domain.
            </para>
            <para>
                The API applies the inherited role to owned projects, both
                existing and future. The inherited role does not appear as a
                role in a domain-scoped token.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="HEAD" id="checkRoleForGroup-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Check project role for group in domain">
            <para role="shortdesc">
                Checks whether a group has an inherited project role
                in a domain.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="DELETE" id="revokeRoleFromGroup-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Revoke project role from group in domain">
            <para role="shortdesc">
                Revokes an inherited project role from a group in a domain.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="GET" id="listRolesForGroup-domain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List project roles for group in domain">
            <para role="shortdesc">
                Lists the project roles that a group inherits from a parent
                project in a domain.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample>
                        <xsdxt:code
                            href="../samples/OS-INHERIT/group-roles-domain-list-response.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listRoleAssignments">
    <wadl:doc xmlns="http://docbook.org/ns/docbook"
        xmlns:wadl="http://wadl.dev.java.net/2009/02"
        xml:lang="EN" title="List role assignments">
        <para role="shortdesc">Lists role assignments.</para>
        <para>
            The scope section in the list response is extended to allow the
            representation of role assignments that are inherited to projects.
        </para>
        <para>The list of all role assignments can be long. To
            filter the list, use the query parameters.</para>
        <para>Some typical examples are:</para>
        <para><code>GET /role_assignments?user.id={user_id}</code>
            lists all role assignments for a
            user.</para>
        <para><code>GET
                /role_assignments?scope.project.id={project_id}</code>
            lists all role assignments for a
            project.</para>
        <para>Each role assignment entity in the collection
            contains a link to the assignment that created this
            entity.</para>
        <para>
            Use the <code>effective</code> query parameter to list effective
            assignments at the user, project, and domain level. This parameter
            allows for the effects of group membership as well as inheritance
            from the parent domain or project, for role assignments that were
            made using OS-INHERIT assignment APIs.
        </para>
        <para>
            The group role assignment entities themselves are not returned in
            the collection. Because, like group membership, the effects of
            inheritance have already been allowed for, the role assignment
            entities themselves that specify the inheritance are not returned
            in the collection. This represents the effective role assignments
            that would be included in a scoped token. You can use the other
            query parameters with the <code>effective</code> parameter.
        </para>
        <para>For example, to determine what a user can actually
            do, issue this request: <code>GET
                /role_assignments?user.id={user_id}&amp;effective</code></para>
        <para>
            To get the equivalent set of role assignments that would be
            included in the token response of a project-scoped token, issue
            <code>GET /role_assignments?user.id={user_id}&amp;scope.project.id={project_id}&amp;effective</code>
        </para>
        <para>In the response, the entity <code>links</code>
            section for entities that are included by virtue of
            group members also contains a url that you can use to
            access the membership of the group.</para>
        <para>
            Use the <code>scope.OS-INHERIT:inherited_to</code> query parameter
            to filter the response by inherited role assignments. The
            <code>scope.OS-INHERIT:inherited_to</code> value of
            <code>projects</code> is currently supported. This value indicates
            that this role is inherited to all projects of the owning domain
            or parent project.
        </para>
        <para>
            An example response for an API call with the <code>effective</code> query string:
        </para>
    </wadl:doc>
    <response status="200">
        <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                title="List all role assignments: JSON response">
                <xsdxt:sample>
                    <xsdxt:code
                        href="../samples/OS-INHERIT/role-assignments-list-response.json"
                    />
                </xsdxt:sample>
            </wadl:doc>
        </representation>
        <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                title="List all role assignments: JSON response">
                <xsdxt:sample>
                    <xsdxt:code
                        href="../samples/OS-INHERIT/role-assignments-effective-list-response.json"
                    />
                </xsdxt:sample>
            </wadl:doc>
        </representation>
    </response> &getFaults; </method>
</application>
