api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/cluster-templates.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent cluster-templates.wadl          -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="cluster-templates-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="cluster-templates" path="cluster-templates">
                    <method href="#listClusterTemplates"/>
                    <method href="#createClusterTemplate"/>
                    <resource id="cluster_template_id" path="{cluster_template_id}">
                        <param name="cluster_template_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The unique identifier of the cluster template.</para>
                            </wadl:doc>
                        </param>
                        <method href="#showClusterTemplate"/>
                        <method href="#updateClusterTemplate"/>
                        <method href="#deleteClusterTemplate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Cluster templates actions           -->
    <!--******************************************************-->
    <method name="GET" id="listClusterTemplates">
        <wadl:doc xml:lang="EN" title="List cluster templates"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists available cluster
                templates.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/cluster-templates/cluster-templates-list-response.json"
                    />
                </wadl:doc>
                &clustertemplateResponseParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="createClusterTemplate">
        <wadl:doc xml:lang="EN" title="Create cluster templates"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a cluster template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Create cluster template: JSON request">
                    <xsdxt:code
                        href="../samples/cluster-templates/cluster-template-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
                    title="Create cluster template: JSON response">
                    <xsdxt:code
                        href="../samples/cluster-templates/cluster-template-create-response.json"
                    />
                </wadl:doc>
                &clustertemplateResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showClusterTemplate">
        <wadl:doc xml:lang="EN" title="Show cluster template details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a cluster template.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/cluster-templates/cluster-templates-list-response.json"
                    />
                </wadl:doc>
                &clustertemplateResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateClusterTemplate">
        <wadl:doc xml:lang="EN" title="Update cluster templates"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates a cluster template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update the cluster template: JSON request">
                    <xsdxt:code
                        href="../samples/cluster-templates/cluster-template-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/cluster-templates/cluster-template-update-response.json"
                    />
                </wadl:doc>
                &clustertemplateResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteClusterTemplate">
        <wadl:doc xml:lang="EN" title="Delete cluster template"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Deletes a cluster template.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
</application>
