api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/clusters.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent clusters.wadl                   -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xlink="http://www.w3.org/1999/xlink" >
    <resources base="https://servers.api.openstack.com"
        xml:id="clusters-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="clusters" path="clusters">
                    <method href="#listClusters"/>
                    <method href="#createCluster"/>
                    <resource id="multiple-clusters" path="multiple">
                        <method href="#createMultipleClusters"/>
                    </resource>
                    <resource id="cluster_id" path="{cluster_id}">
                        <param name="cluster_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The ID of the cluster</para>
                            </wadl:doc>
                        </param>
                        <method href="#showCluster"/>
                        <method href="#scaleCluster"/>
                        <method href="#updateCluster"/>
                        <method href="#showClusterProgress"/>
                        <method href="#deleteCluster"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS Cluster actions           -->
    <!--******************************************************-->
    <method name="GET" id="listClusters">
        <wadl:doc xml:lang="EN" title="List available clusters"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists available clusters.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/clusters/clusters-list-response.json"
                    />
                </wadl:doc>
                &clustersResponseParameters;
                &clustersParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="clusters-show">
        <wadl:doc xml:lang="EN" title="Show details of a cluster"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a cluster, by ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/clusters/cluster-show-response.json"
                    />
                </wadl:doc>
                &clustersResponseParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="createCluster">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create cluster">
            <para role="shortdesc">Creates a cluster.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Create cluster: JSON request">
                    <xsdxt:code
                        href="../samples/clusters/cluster-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/clusters/cluster-create-response.json"
                    />
                </wadl:doc>
                &clustersResponseParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="createMultipleClusters">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create multiple clusters">
            <para role="shortdesc">Creates multiple clusters.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/clusters/multiple-clusters-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/clusters/multiple-clusters-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteCluster">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete a cluster">
            <para role="shortdesc">Deletes a cluster.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="PUT" id="scaleCluster">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Scale cluster">
            <para role="shortdesc">Scales a cluster.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Scale cluster: JSON request">
                    <xsdxt:code
                        href="../samples/clusters/cluster-scale-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/clusters/cluster-scale-response.json"
                    />
                </wadl:doc>
                &clustersResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PATCH" id="updateCluster">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update cluster">
            <para role="shortdesc">Updates a cluster.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update cluster: JSON request">
                    <xsdxt:code
                        href="../samples/clusters/cluster-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/clusters/cluster-update-response.json"
                    />
                </wadl:doc>
                &clustersResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showCluster-progress">
        <wadl:doc xml:lang="EN" title="Show progress"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows provisioning progress for a cluster.</para>
        </wadl:doc>
        <request>
            <param name="show-progress" style="plain" type="xsd:boolean" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>Cluster provisioning progress.</para>
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/event-log/cluster-progress-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
