api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/data-sources.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent data-sources.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xlink="http://www.w3.org/1999/xlink" >
    <resources base="https://servers.api.openstack.com"
        xml:id="data-sources-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="data-sources" path="data-sources">
                    <method href="#listDataSources"/>
                    <method href="#createDataSource"/>
                    <resource id="data_source_id" path="{data_source_id}">
                        &data_source_idTemplateParameter;
                        <method href="#showDataSource"/>
                        <method href="#updateDataSource"/>
                        <method href="#deleteDataSource"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      data sources            -->
    <!--*******************************************************-->
    <method name="GET" id="listDataSources">
        <wadl:doc xml:lang="EN" title="List data sources"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all data sources.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-sources-list-response.json"
                    />
                </wadl:doc>
                &datasourceResponseParameters;
                &objectResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showDataSource">
        <wadl:doc xml:lang="EN" title="Show data source details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a data source.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-show-response.json"
                    />
                </wadl:doc>
                &datasourceResponseParameters;
                &objectResponseParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="createDataSource">
        <wadl:doc xml:lang="EN" title="Create data source"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a data source.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-swift-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-hdfs-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-swift-response.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-hdfs-response.json"
                    />
                </wadl:doc>
                &datasourceResponseParameters;
                &objectResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteDataSource">
        <wadl:doc xml:lang="EN" title="Delete data source"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a data source.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="PUT" id="updateDataSource">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update data source">
            <para role="shortdesc">
                Updates a data source.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update data source: JSON request">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
