api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/data-sources.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="data-sources-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
                <resource id="data-sources" path="data-sources">
                    <method href="#dataSourcesList"/>
                    <method href="#dataSourcesCreate"/>
                    <resource id="dataSourceId" path="{data_source_id}">
                        <param name="data_source_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The unique identifier of the data source.</para>
                            </wadl:doc>
                        </param>
                        <method href="#dataSourceInfo"/>
                        <method href="#dataSourceDelete"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      Data Sources            -->
    <!--*******************************************************-->
    <method name="GET" id="dataSourcesList">
        <wadl:doc xml:lang="EN" title="List Data Sources"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all Data Sources.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-sources-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="dataSourceInfo">
        <wadl:doc xml:lang="EN" title="Show Data Source"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows information about specified Data Source.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-sources-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="dataSourcesCreate">
        <wadl:doc xml:lang="EN" title="Create Data Source"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a new Data Source.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-swift-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-hdfs-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-swift-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/data-sources/data-source-register-hdfs-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="dataSourceDelete">
        <wadl:doc xml:lang="EN" title="Delete Data Source"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes specified Data Source.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
</application>
