api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/event-log.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent cluster.wadl                    -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="event-log-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
                <resource id="clusters" path="clusters">
                    <resource id="cluster_id"
                        path="{cluster_id}">
                        <param name="cluster_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The ID of the cluster</para>
                            </wadl:doc>
                        </param>
                        <method href="#show-progress"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Event log actions                          -->
    <!--********************************************************-->
    <method name="GET" id="show-progress">
        <wadl:doc xml:lang="EN" title="Show progress"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows provisioning progress of cluster.</para>
        </wadl:doc>
        <request>
            <param name="show-progress" style="plain" type="xsd:boolean" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>Flag, which show cluster provisioning progress.</para>
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/event-log/cluster-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
