api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/image-registry.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent image-registry.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="image-registry-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="images" path="images">
                    <method href="#imageslist"/>
                    <resource id="imageId" path="{image_id}">
                        <param name="image_id" style="template" type="capi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The unique identifier of the image.</para>
                            </wadl:doc>
                        </param>
                        <method href="#imageInfo"/>
                        <method href="#imageReg"/>
                        <method href="#imageUnreg"/>
                        <resource id="imageTag" path="tag">
                            <method href="#addTags"/>
                        </resource>
                        <resource id="imageUntag" path="untag">
                            <method href="#removeTags"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      Image Registry            -->
    <!--*******************************************************-->
    <method name="GET" id="imageslist">
        <wadl:doc xml:lang="EN" title="List images"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all images registered in the image registry.</para>
        </wadl:doc>
    <request>
        <representation mediaType="application/json">
            <param name="tags" style="plain" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <para>
                        Lists images only with specific tag. Can be used
                        multiple times.
                    </para>
                </wadl:doc>
            </param>
        </representation>
    </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/images-list-resp.json"
                    />
                </wadl:doc>
                &imageregResponseParameters;
                &imagesResponseParameter;
            </representation>
        </response>
    </method>
    <method name="GET" id="imageInfo">
        <wadl:doc xml:lang="EN" title="Show image details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details about an image.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/images-get-resp.json"
                    />
                </wadl:doc>
                &imageregResponseParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="imageReg">
        <wadl:doc xml:lang="EN" title="Register image"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Registers an image in the image registry.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/images-set-req.json"
                    />
                </wadl:doc>
                <param name="username" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The user name to log in to an instance OS for
                            remote operations execution.
                        </para>
                    </wadl:doc>
                </param>
                <param name="description" style="plain" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Description of the image.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/images-set-resp.json"
                    />
                </wadl:doc>
                &imageregResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="imageUnreg">
        <wadl:doc xml:lang="EN" title="Unregister image"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes an image from the image registry.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="POST" id="addTags">
        <wadl:doc xml:lang="EN" title="Add tags to image"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds tags to an image.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/image-tags-add-req.json"
                    />
                </wadl:doc>
                <param name="tags" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>List of tags to add.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/image-tags-add-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="removeTags">
        <wadl:doc xml:lang="EN" title="Remove tags from image"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes tags from an image.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/image-tags-delete-req.json"
                    />
                </wadl:doc>
                <param name="tags" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>List of tags to remove.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/image-registry/image-tags-add-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
