api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/job-types.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent job-types.wadl                  -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="job-types-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="job-types" path="job-types">
                    <method href="#listJobTypes"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      Job Types            -->
    <!--*******************************************************-->
    <method name="GET" id="listJobTypes">
        <wadl:doc xml:lang="EN" title="List job types"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all job types.
            </para>
            <para>
                You can use query parameters to filter the response.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="plugin" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filters the response by a plugin name.</para>
                    </wadl:doc>
                </param>
                <param name="version" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filters the response by a plugin version.</para>
                    </wadl:doc>
                </param>
                <param name="type" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Filters the response by a job type.</para>
                    </wadl:doc>
                </param>
                <param name="hints" style="template" type="xsd:bool">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Includes configuration hints in the response.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/job-types/job-types-list-response.json"
                    />
                </wadl:doc>
                &jobtypesResponseParameters;
                &pluginResponseParameters;
            </representation>
        </response>
    </method>
</application>
