api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/job-executions.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent job-executions.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="cluster-templates-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="job-executions" path="job-executions">
                    <method href="#job-executions-list"/>
                    <resource id="job_execution_id" path="{job_execution_id}">
                        <param name="job_execution_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID of the job execution.</para>
                            </wadl:doc>
                        </param>
                        <method href="#job-executions-show"/>
                        <method href="#job-executions-delete"/>
                        <method href="#job-executions-update"/>
                        <resource id="refresh-status" path="refresh-status">
                            <method href="#job-executions-refresh"/>
                        </resource>
                        <resource id="cancel" path="cancel">
                            <method href="#job-executions-cancel"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Job executions actions                     -->
    <!--********************************************************-->
    <method name="GET" id="job-executions-list">
        <wadl:doc xml:lang="EN" title="List job executions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists available job executions.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/job-executions/list-response.json"
                    />
                </wadl:doc>
                &jobexecutionsParameter;
                &jobexecutionResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="job-executions-show">
        <wadl:doc xml:lang="EN" title="Show job execution details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a job execution, by ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/job-executions/job-ex-response.json"
                    />
                </wadl:doc>
                &jobexecutionResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="job-executions-refresh">
        <wadl:doc xml:lang="EN" title="Refresh job execution status"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Refreshes the status of and shows information for a
                job execution.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/job-executions/job-ex-response.json"
                    />
                </wadl:doc>
                &jobexecutionResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="job-executions-cancel">
        <wadl:doc xml:lang="EN" title="Cancel job execution"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Cancels a job execution.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/job-executions/cancel-response.json"
                    />
                </wadl:doc>
                &jobexecutionResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="job-executions-delete">
        <wadl:doc xml:lang="EN" title="Delete job execution"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes a job execution.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="PATCH" id="job-executions-update">
        <wadl:doc xml:lang="EN" title="Update job execution"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates a job execution.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/job-executions/job-ex-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/job-executions/job-ex-update-response.json"
                    />
                </wadl:doc>
                &jobexecutionResponseParameters;
            </representation>
        </response>
    </method>
</application>
