api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/job-types.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="job-types-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
                <resource id="job-types" path="job-types">
                    <param name="plugin" style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>Filter results by plugin name.</para>
                        </wadl:doc>
                    </param>
                    <param name="version" style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>Filter results by plugin version.</para>
                        </wadl:doc>
                    </param>
                    <param name="type" style="template" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>Filter results by job type.</para>
                        </wadl:doc>
                    </param>
                    <param name="hints" style="template" type="xsd:bool">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                            <para>Include configuration hints in results.</para>
                        </wadl:doc>
                    </param>
                    <method href="#jobTypesList"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      Job Types            -->
    <!--*******************************************************-->
    <method name="GET" id="jobTypesList">
        <wadl:doc xml:lang="EN" title="List job types"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists job types filtered by specified filter parameters.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/job-types/job-types-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
