api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/jobs.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="jobs-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="csapi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
                <resource id="jobs" path="jobs">
                    <method href="#jobsList"/>
                    <method href="#jobCreate"/>
                    <resource id="jobId" path="{job_id}">
                        <param name="job_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The unique identifier of the job.</para>
                            </wadl:doc>
                        </param>
                        <method href="#jobInfo"/>
                        <method href="#jobDelete"/>
                        <method href="#jobUpdate"/>
                        <resource id="execute" path="execute">
                            <method href="#jobExecute"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      jobs            -->
    <!--*******************************************************-->
    <method name="GET" id="jobsList">
        <wadl:doc xml:lang="EN" title="List jobs"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists all jobs.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="jobInfo">
        <wadl:doc xml:lang="EN" title="Show job details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified job.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="jobCreate">
        <wadl:doc xml:lang="EN" title="Create job"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a job object.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="jobDelete">
        <wadl:doc xml:lang="EN" title="Remove job"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes a specified job.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="POST" id="jobExecute">
        <wadl:doc xml:lang="EN" title="Run job"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Runs a specified job.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-execute-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-execute-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PATCH" id="jobUpdate">
        <wadl:doc xml:lang="EN" title="Update job object"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates a specified job object.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-update-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/jobs/job-update-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
