api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/node-group-template.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent node-group-template.wadl        -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="node-group-templates-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="node-group-templates" path="node-group-templates">
                    <method href="#listNodeGroupTemplates"/>
                    <method href="#createNodeGroupTemplate"/>
                    <resource id="node_group_template_id"
                        path="{node_group_template_id}">
                        <param name="node_group_template_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The UUID of the node group template.</para>
                            </wadl:doc>
                        </param>
                        <method href="#showNodeGroupTemplate"/>
                        <method href="#deleteNodeGroupTemplate"/>
                        <method href="#updateNodeGroupTemplate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS Node group templates actions           -->
    <!--******************************************************-->
    <method name="GET" id="listNodeGroupTemplates">
        <wadl:doc xml:lang="EN" title="List node group templates"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists available node group
                templates.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-templates-list-response.json"
                    />
                </wadl:doc>
                &nodegrouptemplatesRespParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showNodeGroupTemplate">
        <wadl:doc xml:lang="EN" title="Show node group template details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows a node group template, by ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-template-show-response.json"
                    />
                </wadl:doc>
                &nodegrouptemplatesRespParameters;
            </representation>
        </response>
    </method>
    <method name="POST" id="createNodeGroupTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create node group template">
            <para role="shortdesc">Creates a node group template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-template-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-template-create-response.json"
                    />
                </wadl:doc>
                &nodegrouptemplatesRespParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteNodeGroupTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete node group template">
            <para role="shortdesc">Deletes a node group template.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="PUT" id="updateNodeGroupTemplate">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update node group template">
            <para role="shortdesc">Updates a node group template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-template-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-template-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
