api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/node-group-template.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent node-group-template.wadl        -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="node-group-templates-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
                <resource id="node-group-templates" path="node-group-templates">
                    <method href="#node-group-templates-list"/>
                    <method href="#node-group-templates-create"/>
                    <resource id="node_group_template_id"
                        path="{node_group_template_id}">
                        <param name="node_group_template_id" style="template" type="capi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The unique identifier of the node group template.</para>
                            </wadl:doc>
                        </param>
                        <method href="#node-group-templates-get"/>
                        <method href="#node-group-templates-delete"/>
                        <method href="#node-group-templates-update"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS Node group templates actions           -->
    <!--******************************************************-->
    <method name="GET" id="node-group-templates-list">
        <wadl:doc xml:lang="EN" title="List available node group templates"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists available node group
                templates.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-templates-list.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="node-group-templates-get">
        <wadl:doc xml:lang="EN" title="Show details of a node group template"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows node group template by ID.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-templates-get.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="node-group-templates-create">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create node group template">
            <para role="shortdesc">Creates a node group template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Create node group template: JSON request">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-templates-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-templates-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="node-group-templates-delete">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete a node group template">
            <para role="shortdesc">Deletes a node group template.</para>
        </wadl:doc>
        <response status="204"/>
    </method>
    <method name="PUT" id="node-group-templates-update">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Updates node group template">
            <para role="shortdesc">Updates a node group template.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Update node group template: JSON request">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-templates-update-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/node-group-templates/node-group-templates-update-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
