api-ref/src/wadls/dataprocessing-api/src/v1.1/wadl/plugins.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent plugins.wadl                    -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
    <!ENTITY % common SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xlink="http://www.w3.org/1999/xlink" >
    <resources base="https://servers.api.openstack.com"
        xml:id="plugins-v1.1">
        <resource id="v1.1" path="//v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="plugins" path="plugins">
                    <method href="#listPlugins"/>
                    <resource id="pluginSimple" path="{plugin_name}">
                        &plugin_nameTemplateParameter;
                        <method href="#showPlugin"/>
                        <resource id="pluginDetailed" path="{version}">
                            &versionTemplateParameter;
                            <method href="#showPluginVersion"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      Plugins            -->
    <!--*******************************************************-->
    <method name="GET" id="listPlugins">
        <wadl:doc xml:lang="EN" title="List plugins"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all registered plugins.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/plugins/plugins-list-response.json"
                    />
                </wadl:doc>
                &pluginsParameter;
                &pluginResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showPlugin">
        <wadl:doc xml:lang="EN" title="Show plugin details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a plugin.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/plugins/plugin-show-response.json"
                    />
                </wadl:doc>
                &pluginResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="showPluginVersion">
        <wadl:doc xml:lang="EN" title="Show plugin version details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a plugin version.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/plugins/plugin-version-show-response.json"
                    />
                </wadl:doc>
                &pluginResponseParameters;
            </representation>
        </response>
    </method>
</application>
