api-ref/src/wadls/compute-api/src/v2.1/wadl/flavors-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-flavors-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="flavors" path="flavors">
                    <method href="#listFlavors"/>
                    <resource id="flavor_id" path="{flavor_id}">
                         &flavor_idTemplateParameter;
                        <method href="#showFlavor"/>
                    </resource>
                    <resource id="detail" path="detail">
                        <method href="#listDetailFlavors"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Flavor                            -->
    <!--*******************************************************-->
    <method name="GET" id="showFlavor">
        <wadl:doc xml:lang="EN" title="Show flavor details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for a flavor.
            </para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/flavors/flavor-show-response.json"/>
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="listDetailFlavors">
        <wadl:doc xml:lang="EN" title="List flavors with details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists flavors with details.
            </para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/flavors/flavors-list-detail-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="listFlavors">
        <wadl:doc xml:lang="EN" title="List flavors"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists flavors.
            </para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/flavors/flavors-list-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
