api-ref/src/wadls/compute-api/src/v2.1/wadl/images-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent images-v2.1.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:db="http://docbook.org/ns/docbook"
   xmlns:common="http://docs.openstack.org/common/api/v1.0"
   xmlns:csapi="http://docs.openstack.org/compute/api/v2">
   <grammars>
      <include href="../xsd/api.xsd"/>
      <include href="../xsd/api-common.xsd"/>
   </grammars>
   <!--*******************************************************-->
   <!--             All Resources                             -->
   <!--*******************************************************-->
   <resources base="https://servers.api.openstack.com" xml:id="images-v2.1">
      <resource id="versions" path="/">
         <resource id="version" path="v2.1">
            <resource id="tenant_id" path="{tenant_id}">
               &tenant_idTemplateParameter;
               <resource id="Images" type="#ImageList" path="images">
                  <resource id="image_detail" path="detail" type="#DetailImageList" />
                  <resource id="image_id" path="{image_id}">
                     &image_idTemplateParameter;
                     <method href="#showImage" />
                     <method href="#deleteImage" />
                     <resource id="image_metadata" path="metadata" type="#ImageMetadataDetails">
                        <resource id="imageMetadataKey" path="{key}">
                           &keyTemplateParameter;
                           <method href="#showImageMetadataItem" />
                           <method href="#setImageMetadataItem" />
                           <method href="#deleteImageMetadataItem" />
                        </resource>
                     </resource>
                  </resource>
               </resource>
            </resource>
         </resource>
      </resource>
   </resources>
   <!--*******************************************************-->
   <!--               Resource Types                          -->
   <!--*******************************************************-->
   <resource_type id="DetailImageList">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Detail image list">
         <para>
            A detailed image list.
         </para>
      </wadl:doc>
      <method href="#listDetailImages"/>
   </resource_type>
   <resource_type id="ImageList">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image list">
         <para>
            A list of images. Each image contains IDs, names, and links.
            Other attributes are omitted.
         </para>
      </wadl:doc>
      <method href="#listImages"/>
   </resource_type>
   <resource_type id="ImageMetadataDetails">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image metadata list">
         <para>
            Metadata details for an image.
         </para>
      </wadl:doc>
      <method href="#showImageMetadata"/>
      <method href="#createImageMetadata"/>
      <method href="#updateImageMetadata"/>
   </resource_type>
   <!--*******************************************************-->
   <!--               All Methods                             -->
   <!--*******************************************************-->
   <!-- Images -->
   <method name="GET" id="listDetailImages">
      <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List images details">
         <para role="shortdesc">
            Lists all details for available images.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/xml">
            &imageListQueryParameters;
            &limitMarkerReqParameter;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/images-list-details-response.json"/>
            </wadl:doc>
         </representation>
         <representation mediaType="application/xml">
            &x-openstack-request-idHeader;
            <param name="next" style="plain" type="xsd:anyURI"
               path="/csapi:images/atom:link[@rel='next']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the next metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#DetailImageList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
               path="/csapi:images/atom:link[@rel='previous']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the previous metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#DetailImageList" rel="previous"/>
            </param>
         </representation>
      </response>
      <response status="203">
      </response>
      <!-- Common Faults --> &commonFaults;
   </method>
   <method name="GET" id="listImages">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List images">
         <para role="shortdesc">
            Lists IDs, names, and links for available images.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/xml">
            &imageListQueryParameters;
            &limitMarkerReqParameter;
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/images-list-response.json"/>
            </wadl:doc>
         </representation>
         <representation mediaType="application/xml">
            &x-openstack-request-idHeader;
            <param name="images" style="plain" required="true"
               type="csapi:ImagesWithOnlyIDsNamesLinks" path="/csapi:images">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Image information.
               </para>
            </wadl:doc>
            </param>
            <param name="next" style="plain" type="xsd:anyURI"
               path="/csapi:images/atom:link[@rel='next']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the next metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ImageList" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
               path="/csapi:images/atom:link[@rel='previous']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>Moves to the previous metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ImageList" rel="previous"/>
            </param>
         </representation>
      </response>
      <response status="203">
      </response>
      &commonFaults;
   </method>
   <method name="GET" id="showImage">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show image details">
         <para role="shortdesc">
            Shows details for an image.
         </para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-show-response.json"/>
            </wadl:doc>
            &x-openstack-request-idHeader;
         </representation>
      </response>
      <response status="203">
      </response>
      &commonFaults; &getFaults;
   </method>
   <method name="DELETE" id="deleteImage">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete image">
         <para role="shortdesc">
            Deletes an image.
         </para>
      </wadl:doc>
      <response status="204"/>
      &commonFaults; &getFaults;
   </method>
   <!-- Metadata -->
   <method name="GET" id="showImageMetadata">
      <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Show image metadata">
         <para role="shortdesc">
            Shows metadata for an image.
         </para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-show-response.json"/>
            </wadl:doc>
         </representation>
         <representation mediaType="application/xml">
            &x-openstack-request-idHeader;
            <param name="next" style="plain" type="xsd:anyURI"
               path="/csapi:metadata/atom:link[@rel='next']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the next metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ServerMetadataDetails" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
               path="/csapi:metadata/atom:link[@rel='previous']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the previous metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ServerMetadataDetails" rel="previous"/>
            </param>
         </representation>
      </response>
      <response status="203">
      </response>
      &commonFaults; &getFaults;
   </method>
   <method name="POST" id="updateImageMetadata">
      <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
         title="Update image metadata items">
         <para role="shortdesc">
            Updates metadata items, by key, for an image.
         </para>
         <para>
            Replaces items that match keys. Does not modify items not
            in the request.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-create-request.json"/>
            </wadl:doc>
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-create-response.json"/>
            </wadl:doc>
         </representation>
         <representation mediaType="application/xml">
            <param name="next" style="plain" type="xsd:anyURI"
               path="/csapi:metadata/atom:link[@rel='next']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the next metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ImageMetadataDetails" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
               path="/csapi:metadata/atom:link[@rel='previous']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the previous metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ImageMetadataDetails" rel="previous"/>
            </param>
         </representation>
      </response>
      &commonFaults; &getFaults; &postPutFaults;
      &inProgressFault;
   </method>
   <method name="PUT" id="createImageMetadata">
      <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
         title="Create or replace image metadata">
         <para role="shortdesc">
            Creates or replaces metadata for an image.
         </para>
         <para>
            Replaces items that match keys. If you omit a key that
            already exists, this key retains its value.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-update-request.json"/>
            </wadl:doc>
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-update-response.json"/>
            </wadl:doc>
         </representation>
         <representation mediaType="application/xml" element="csapi:metadata">
            <param name="next" style="plain" type="xsd:anyURI"
               path="/csapi:metadata/atom:link[@rel='next']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the next metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ImageMetadataDetails" rel="next"/>
            </param>
            <param name="previous" style="plain" type="xsd:anyURI"
               path="/csapi:metadata/atom:link[@rel='previous']/@href">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>
                  Moves to the previous metadata item.
               </para>
            </wadl:doc>
            <link resource_type="#ImageMetadataDetails" rel="previous"/>
            </param>
         </representation>
      </response>
      &commonFaults; &getFaults; &postPutFaults;
      &inProgressFault;
   </method>
   <method name="GET" id="showImageMetadataItem">
      <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
         title="Show image metadata item details">
         <para role="shortdesc">
            Shows details for a metadata item, by key, for an image.
         </para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-item-show-response.json"/>
            </wadl:doc>
            &x-openstack-request-idHeader;
         </representation>
      </response>
      <response status="203">
      </response>
      &commonFaults; &getFaults;
   </method>
   <method name="PUT" id="setImageMetadataItem">
      <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
         title="Create or update image metadata item">
         <para role="shortdesc">
            Creates or updates a metadata item, by key, for an image.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-item-update-request.json"/>
            </wadl:doc>
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <xsdxt:code href="../samples/images/image-metadata-item-update-response.json"/>
            </wadl:doc>
         </representation>
      </response>
      &commonFaults; &getFaults; &postPutFaults;
      &inProgressFault;
   </method>
   <method name="DELETE" id="deleteServerMetadataItem">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
         title="Delete server metadata item">
         <para role="shortdesc">
            Deletes a metadata item, by key, for a server.
         </para>
      </wadl:doc>
      <response status="204"/>
      &commonFaults; &getFaults; &inProgressFault;
   </method>
   <method name="DELETE" id="deleteImageMetadataItem">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
         title="Delete image metadata item">
         <para role="shortdesc">
            Deletes a metadata item, by key, for an image.
         </para>
      </wadl:doc>
      <response status="204"/>
      &commonFaults; &getFaults; &inProgressFault;
   </method>
</application>
