api-ref/src/wadls/compute-api/src/v2.1/wadl/limits-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com" xml:id="os-limits-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="limits" path="limits">
                    <method href="#getlimits"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Limit                           -->
    <!--*******************************************************-->
    <method name="GET" id="getlimits">
        <wadl:doc xml:lang="EN" title="Show rate and absolute limits"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows rate and absolute limits for the tenant.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/limits/limits-get-response.json"
                    />
                </wadl:doc>
                &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
