api-ref/src/wadls/compute-api/src/v2.1/wadl/os-admin-password.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-admin-password-v2.1">
        <resource id="v2.1 " path="//v2.1">
            <resource path="{server_id}" id="server_id">
                <resource id="os-admin-password"
                    path="os-admin-password">
                    <method href="#resetPassword"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="DELETE" id="resetPassword">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Clear server password">
            <para role="shortdesc">
                Clears the encrypted copy of the password.</para>
            <para>
                Clears the encrypted copy of the password from the metadata
                server after the client gets the password and determines that
                it no longer needs it in the metadata server. The password for
                the server remains the same.
            </para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Change
              these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-password/admin-password-change-password.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-admin-password/admin-password-change-password.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
