api-ref/src/wadls/compute-api/src/v2.1/wadl/os-agents-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-agents-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-agents" path="os-agents">
                    <method href="#agentbuild"/>
                    <method href="#listbuilds"/>
                    <resource path="{id}" id="agent_id">
                        &agent-build_idTemplateParameter;
                        <method href="#updatebuild"/>
                    </resource>
                    <method href="#deleteBuild"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--             Guest Agents                              -->
    <!--*******************************************************-->
    <method name="POST" id="agentbuild">
        <wadl:doc xml:lang="EN" title="Create agent build"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates an agent build.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-agents/agent-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-agents/agent-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listbuilds">
        <wadl:doc xml:lang="EN" title="List agent builds"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists agent builds.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-agents/agents-list-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updatebuild">
        <wadl:doc xml:lang="EN" title="Update agent build"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates an agent build.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-agents/agent-update-request.json"
                    />
                </wadl:doc>
                <param name="url" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL
                           associated with the
                        agent.</para></wadl:doc>
                </param>
                <param name="md5hash" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The MD5 hash.</para></wadl:doc>
                </param>
                <param name="version" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The version.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-agents/agent-update-response.json"
                    />
                </wadl:doc>
                <param name="agent_id" style="plain"
                    required="true" type="xsd:int">
                    <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The agent ID.</para></wadl:doc>
                </param>
                <param name="url" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The URL
                           associated with the
                        agent.</para></wadl:doc>
                </param>
                <param name="md5hash" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The MD5 hash.</para></wadl:doc>
                </param>
                <param name="version" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc
                        xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The version.</para></wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteBuild">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete agent build">
            <para role="shortdesc">Deletes an existing agent
                build.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
</application>
