api-ref/src/wadls/compute-api/src/v2.1/wadl/os-aggregates-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-aggregates-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-aggregates" path="os-aggregates">
                    <method href="#createAggregate"/>
                    <method href="#listAggregates"/>
                    <resource id="aggregate-id" path="{aggregate_id}">
                        &aggregate_idTemplateParameter;
                        <method href="#showAggregate"/>
                        <method href="#deleteAggregate"/>
                        <method href="#updateAggregate"/>
                        <resource id="action" path="action">
                            <method href="#addHost"/>
                            <method href="#addAggregateMetadata"/>
                            <method href="#removeAggregateHost"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Aggregates                           -->
    <!--*******************************************************-->
    <method name="POST" id="createAggregate">
        <wadl:doc xml:lang="EN" title="Create aggregate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates an aggregate in an availability zone.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteAggregate">
        <wadl:doc xml:lang="EN" title="Delete aggregate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes an aggregate.
            </para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="POST" id="addHost">
        <wadl:doc xml:lang="EN" title="Add host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Adds a host to an aggregate.
            </para>
            <para>
                Specify the <code>add_host</code> action in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-add-host-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-add-host-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showAggregate">
        <wadl:doc xml:lang="EN" title="Show aggregate details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows details for an aggregate. Details include hosts and
                metadata.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-show-response.json"
                    />
                </wadl:doc>
                &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="listAggregates">
        <wadl:doc xml:lang="EN" title="List aggregates"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all aggregates. Includes the ID, name, and availability zone
                for each aggregate.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregates-list-response.json"
                    />
                </wadl:doc>
                &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="POST" id="addAggregateMetadata">
        <wadl:doc xml:lang="EN"
            title="Create or update aggregate metadata"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates or replaces metadata for an aggregate.
            </para>
            <para>
                Specify the <code>add_metadata</code> action in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-metadata-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-metadata-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="removeAggregateHost">
        <wadl:doc xml:lang="EN" title="Remove host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Removes a host from an aggregate.
            </para>
            <para>
                Specify the <code>remove_host</code> action in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-remove-host-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-remove-host-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateAggregate">
        <wadl:doc xml:lang="EN" title="Update aggregate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates either or both the name and availability zone for an
                aggregate.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-aggregates/aggregate-update-response.json"
                    />
                </wadl:doc>
                &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
