api-ref/src/wadls/compute-api/src/v2.1/wadl/os-agents-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-agents-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="os-agents" path="os-agents">
                <method href="#agentbuild"/>
                <method href="#listbuilds"/>
                <resource id="id" path="{id}">
                    <method href="#updatebuild"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--             Guest Agents                              -->
    <!--*******************************************************-->
    <method name="POST" id="agentbuild">
        <wadl:doc xml:lang="EN" title="Create agent build"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates an agent build.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-post-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listbuilds">
        <wadl:doc xml:lang="EN" title="List agent builds"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists agent builds.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agents-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agents-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updatebuild">
        <wadl:doc xml:lang="EN" title="Update agent build"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates an agent build.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-agents/agent-update-put-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
