api-ref/src/wadls/compute-api/src/v2.1/wadl/os-admin-actions-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-admin-actions-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &serverIdRequestParameter;
                        <resource id="action" path="action">
                            <method href="#changePasswordServer"/>
                            <method href="#createBackupServer"/>
                            <method href="#injectNetworkInfoServer"/>
                            <method href="#lockServer"/>
                            <method href="#migrateServer"/>
                            <method href="#os-migrateLiveServer"/>
                            <method href="#pauseServer"/>
                            <method href="#resetNetworkServer"/>
                            <method href="#os-resetStateServer"/>
                            <method href="#resumeServer"/>
                            <method href="#suspendServer"/>
                            <method href="#unlockServer"/>
                            <method href="#unpauseServer"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Admin Actions                    -->
    <!--*******************************************************-->
    <method name="POST" id="changePasswordServer">
        <wadl:doc xml:lang="EN" title="Change administrative password (changePassword action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Changes the administrative password for a specified server.
            </para>
            <para>
                Specify the <code>changePassword</code> action in the request
                body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-password/admin-password-change-password.json"
                    />
                </wadl:doc>
                &changePasswordActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="createBackupServer">
        <wadl:doc xml:lang="EN" title="Back up server (createBackup action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Backs up a specified server instance.
            </para>
            <para>
                Specify the <code>createBackup</code> action in the request
                body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-create-backup/create-backup-req.json"
                    />
                </wadl:doc>
                &createBackupActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="injectNetworkInfoServer">
        <wadl:doc xml:lang="EN" title="Inject network information (injectNetworkInfo action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Injects network information into a server.
            </para>
            <para>
                Specify the <code>injectNetworkInfo</code> action in the
                request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-inject-network-info.json"
                    />
                </wadl:doc>
                &injectNetworkInfoActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="os-migrateLiveServer">
        <wadl:doc xml:lang="EN" title="Live migrate to new host (os-migrateLive action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Live-migrates a specified server to a new host without
                rebooting.
            </para>
            <para>
                Specify the <code>os-migrateLive</code> action in the request
                body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-migrate-server/live-migrate-server.json"
                    />
                </wadl:doc>
                &os-migrateLiveActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="lockServer">
        <wadl:doc xml:lang="EN" title="Lock server (lock action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Locks a specified server instance.
            </para>
            <para>
                Specify the <code>lock</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-lock-server/lock-server.json"
                    />
                </wadl:doc>
                &lockActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="migrateServer">
        <wadl:doc xml:lang="EN" title="Migrate server (migrate action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Migrates a specified server to a host. The scheduler chooses
                the host.
            </para>
            <para>
                Specify the <code>migrate</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-migrate-server/migrate-server.json"
                    />
                </wadl:doc>
                &migrateActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="pauseServer">
        <wadl:doc xml:lang="EN" title="Pause server (pause action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Pauses a specified server. Changes its status
                to <code>PAUSED</code>.</para>
            <para>
                Specify the <code>pause</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-pause-server/pause-server.json"
                    />
                </wadl:doc>
                &pauseActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetNetworkServer">
        <wadl:doc xml:lang="EN" title="Reset networking on a server (resetNetworkServer action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Resets networking on a specified server.
            </para>
            <para>
                Specify the <code>resetNetworkServer</code> action in
                the request body.
            </para>
             <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-network.json"
                    />
                </wadl:doc>
                &resetNetworkServerActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="os-resetStateServer">
        <wadl:doc xml:lang="EN" title="Reset server state (os-resetState action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resets the state of a specified server to a
                specified state.</para>
            <para>
                Specify the <code>os-resetState</code> action and the
                <code>state</code> in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-server-state.json"
                    />
                </wadl:doc>
                &os-resetStateActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resumeServer">
        <wadl:doc xml:lang="EN" title="Resume server (resume action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Resumes a suspended server and changes its status to
                <code>ACTIVE</code>.
            </para>
            <para>
                Specify the <code>resume</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-suspend-server/server-resume.json"
                    />
                </wadl:doc>
                &resumeActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="suspendServer">
        <wadl:doc xml:lang="EN" title="Suspend server (suspend action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Suspends a specified server and changes its status to
                <code>SUSPENDED</code>.
            </para>
            <para>
                Specify the <code>suspend</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-suspend-server/server-suspend.json"
                    />
                </wadl:doc>
                &suspendActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unlockServer">
        <wadl:doc xml:lang="EN" title="Unlock server (unlock action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Unlocks a specified server instance.</para>
            <para>
                Specify the <code>unlock</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                       href="../api_samples/os-lock-server/unlock-server.json"
                    />
                </wadl:doc>
                &unlockActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unpauseServer">
        <wadl:doc xml:lang="EN" title="Unpause server (unpause action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Unpauses a paused server and changes its status to
                <code>ACTIVE</code>.
            </para>
            <para>
                Specify the <code>unpause</code> action in the request body.
            </para>
             <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-pause-server/unpause-server.json"
                    />
                </wadl:doc>
                &unpauseActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
