api-ref/src/wadls/compute-api/src/v2.1/wadl/os-availability-zone-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-availability-zone-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource path="os-availability-zone" id="os-availability-zone">
                    <method href="#getAvailabilityZone"/>
                <resource path="detail" id="detial">
                    <method href="#getAvailabilityZoneDetails"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getAvailabilityZone">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get availability zone information">
            <para role="shortdesc">Gets availability zone information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get availability zone information: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-availability-zone/availability-zone-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getAvailabilityZoneDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get detailed availability zone information">
            <para role="shortdesc">Gets detailed availability zone information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get detailed availability zone information: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-availability-zone/availability-zone-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>

