api-ref/src/wadls/compute-api/src/v2.1/wadl/os-admin-actions-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-admin-actions-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="server_id" path="{server_id}">
                <resource id="action" path="action">
                    <method href="#adminpassword"/>
                    <method href="#backupserver"/>
                    <method href="#adminservernetwork"/>
                    <method href="#livemigrate"/>
                    <method href="#lockserver"/>
                    <method href="#migrateserver"/>
                    <method href="#pauseserver"/>
                    <method href="#resetnetwork"/>
                    <method href="#resetserver"/>
                    <method href="#resumeserver"/>
                    <method href="#suspendserver"/>
                    <method href="#unlockserver"/>
                    <method href="#unpauseserver"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Admin Actions                    -->
    <!--*******************************************************-->
    <method name="POST" id="adminpassword">
        <wadl:doc xml:lang="EN" title="Change admin password"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Changes the admin password.</para>
            <para>
                Specify the <code>changePassword</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-password/admin-password-change-password.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="backupserver">
        <wadl:doc xml:lang="EN" title="Back up server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Backs up a server instance.</para>
            <para>
                Specify the <code>createBackup</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-create-backup/create-backup-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="adminservernetwork">
        <wadl:doc xml:lang="EN" title="Inject network information"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Injects network information into a
                server.</para>
            <para>
                Specify the <code>injectNetworkInfo</code> action in
                the request body.
            </para>
             <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-inject-network-info.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="livemigrate">
        <wadl:doc xml:lang="EN" title="Live migrate to new host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Live-migrates a server to a new
                host without rebooting.</para>
            <para>
                Specify the <code>os-migrateLive</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-migrate-server/live-migrate-server.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="lockserver">
        <wadl:doc xml:lang="EN" title="Lock server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lock a server instance.</para>
            <para>
                Specify the <code>lock</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-lock-server/lock-server.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="migrateserver">
        <wadl:doc xml:lang="EN" title="Migrate server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Migrates a server to a host. The
                scheduler chooses the host.</para>
            <para>
                Specify the <code>migrate</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-migrate-server/migrate-server.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="pauseserver">
        <wadl:doc xml:lang="EN" title="Pause server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Pauses a server. Changes its status
                to PAUSED.</para>
            <para>
                Specify the <code>pause</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-pause-server/pause-server.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetnetwork">
        <wadl:doc xml:lang="EN" title="Reset server networking"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resets networking on a
                server.</para>
            <para>
                Specify the <code>resetNetwork</code> action in
                the request body.
            </para>
             <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-network.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetserver">
        <wadl:doc xml:lang="EN" title="Reset server state"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resets the state of a server to a
                specified state.</para>
            <para>
                Specify the <code>os-resetState</code> action and the
                <code>state</code> in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-admin-actions/admin-actions-reset-server-state.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resumeserver">
        <wadl:doc xml:lang="EN" title="Resume server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resumes a SUSPENDED server and
                changes its status to ACTIVE.</para>
            <para>
                Specify the <code>resume</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-suspend-server/server-resume.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="suspendserver">
        <wadl:doc xml:lang="EN" title="Suspend server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Suspends a server and changes its
                status to SUSPENDED.</para>
            <para>
                Specify the <code>suspend</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-suspend-server/server-suspend.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unlockserver">
        <wadl:doc xml:lang="EN" title="Unlock server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Unlocks a server instance.</para>
            <para>
                Specify the <code>unlock</code> action in
                the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                       href="../api_samples/os-lock-server/unlock-server.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unpauseserver">
        <wadl:doc xml:lang="EN" title="Unpause server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Unpauses a PAUSED server and
                changes its status to ACTIVE.</para>
            <para>
                Specify the <code>unpause</code> action in
                the request body.
            </para>
             <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-pause-server/unpause-server.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
