api-ref/src/wadls/compute-api/src/v2.1/wadl/os-availability-zone-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-availability-zone-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource path="os-availability-zone" id="os-availability-zone">
                    <method href="#showAvailabilityZone"/>
                    <resource path="detail" id="detial">
                        <method href="#showAvailabilityZoneDetails"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="showAvailabilityZone">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get availability zone information">
            <para role="shortdesc">Gets availability zone information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get availability zone information: JSON response">
                    <xsdxt:code
                        href="../samples/os-availability-zone/availability-zone-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showAvailabilityZoneDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get detailed availability zone information">
            <para role="shortdesc">Gets detailed availability zone information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get detailed availability zone information: JSON response">
                    <xsdxt:code
                        href="../samples/os-availability-zone/availability-zone-show-details-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>

