api-ref/src/wadls/compute-api/src/v2.1/wadl/os-assisted-volume-snapshots-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-assisted-volume-snapshots-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="os-assisted-volume-snapshots"
                    path="os-assisted-volume-snapshots">
                    <method href="#createsnapshots"/>
                    <resource id="snapshot_id" path="{snapshot_id}">
                        &snapshotIdRequestParameter;
                        <method href="#deletesnapshots"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Assisted Volume Snapshots                 -->
    <!--*******************************************************-->
    <method name="POST" id="createsnapshots">
        <wadl:doc xml:lang="EN" title="Create assisted volume snapshots"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates an assisted volume snapshot.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-assisted-volume-snapshots/snapshot-create-assisted-req.json"
                    />
                </wadl:doc>
                <param name="volume_id" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The source volume ID.
                        </para>
                    </wadl:doc>
                </param>
                <param name="create_info" style="plain" required="true"
                    type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Information for snapshot creation.
                        </para>
                    </wadl:doc>
                </param>
                <param name="snapshot_id" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The snapshot ID.
                        </para>
                    </wadl:doc>
                </param>
                <param name="type" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The snapshot type.
                              A valid value is <code>qcow2</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="new_file" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The name of the qcow2 file
                            that Block Storage creates,
                            which becomes the active image for the VM.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-assisted-volume-snapshots/snapshot-create-assisted-resp.json"
                    />
                </wadl:doc>
                <param name="id" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The snapshot ID.
                        </para>
                    </wadl:doc>
                </param>
                <param name="volume_id" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The source volume ID.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deletesnapshots">
        <wadl:doc xml:lang="EN" title="Delete assisted volume snapshot"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes an assisted volume snapshot.
            </para>
            <para>
                To make this request, add the <code>delete_info</code>
                query parameter to the URI, as follows:
            </para>
            <programlisting language="json">DELETE /os-assisted-volume-snapshots?delete_info='{"volume_id": "521752a6-acf6-4b2d-bc7a-119f9148cd8c"}'</programlisting>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="delete_info" style="query" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Information for snapshot deletion. Include the ID
                            of the associated volume. For example:
                        </para>
<programlisting language="json">DELETE /os-assisted-volume-snapshots?delete_info='{"volume_id": "521752a6-acf6-4b2d-bc7a-119f9148cd8c"}'</programlisting>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="204">
        </response>
    </method>
</application>
