api-ref/src/wadls/compute-api/src/v2.1/wadl/os-baremetal-nodes-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent os-baremetal-nodes.wadl    -->
<!--*******************************************************-->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/api/compute/2.1"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com"
        xml:id="os-baremetal-ext-status-v21">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The ID for the tenant or account in a multi-tenancy cloud.
                        </para>
                    </wadl:doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                    The UUID for the server of interest to you.
                                </para>
                            </wadl:doc>
                        </param>
                        <resource path="os-baremetal-nodes" id="os-baremetal-nodes">
                            <method href="#addBaremetalNode"/>
                            <method href="#listBaremetalNodes"/>
                            <resource path="action" id="action">
                                <method href="#addInterfaceToBaremetalNode"/>
                                <method href="#deleteInterfaceFromBaremetalNode"/>
                            </resource>
                            <resource path="{node_id}" id="node_id">
                                <param name="node_id"
                                   style="template" type="xsd:string">
                                   <wadl:doc
                                   xmlns="http://docbook.org/ns/docbook"
                                   xml:lang="EN">
                                   <para>Node ID.</para></wadl:doc>
                                </param>
                                <method href="#showBaremetalNodeDetails"/>
                                <method href="#deleteBaremetalNode"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--****************************************************** -->
    <method name="POST" id="addBaremetalNode">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add bare metal node">
            <para role="shortdesc">
                Adds a bare metal node to a server.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        You can add a bare metal node to a server with an
                        <code>ACTIVE</code>, <code>PAUSED</code>,
                        <code>SHUTOFF</code>, <code>VERIFY_RESIZE</code>, or
                        <code>SOFT_DELETED</code> status.
                    </para>
                </listitem>
                <listitem>
                    <para>
                        You can add a bare metal node to a server with a status that
                        is not locked.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-create-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-create-with-address-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-create-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-create-with-address-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; &inProgressFault;
    </method>
    <method name="DELETE" id="deleteBaremetalNode">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete bare metal node">
            <para role="shortdesc">
                Deletes a bare metal node from a server.
            </para>
        </wadl:doc>
    </method>
    <method name="POST" id="addInterfaceToBaremetalNode">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add interface to bare metal node">
            <para role="shortdesc">
                Adds an interface to a bare metal node that is associated with
                a server.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-add-interface-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-add-interface-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; &inProgressFault;
    </method>
    <method name="POST" id="deleteInterfaceFromBaremetalNode">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete interface from bare metal node">
            <para role="shortdesc">
                Deletes an interface from a bare metal node that is associated
                with a server.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-remove-interface-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        &commonFaults; &getFaults; &postPutFaults; &inProgressFault;
    </method>
    <method name="GET" id="listBaremetalNodes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List bare metal nodes">
            <para role="shortdesc">
                Lists the bare metal nodes that are associated with a
                server.
            </para>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; &inProgressFault;
    </method>
    <method name="GET" id="showBaremetalNodeDetails">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show bare metal node details">
            <para role="shortdesc">
                Shows details for a bare metal node.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                    <para>
                        The bare metal node must be associated with
                        the server.
                    </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-baremetal-nodes/baremetal-node-show-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; &inProgressFault;
    </method>
</application>
