api-ref/src/wadls/compute-api/src/v2.1/wadl/os-certificates-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com" xml:id="os-certificates-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-certificates" path="os-certificates">
                    <method href="#createCertificate"/>
                    <resource id="certificate_id" path="{certificate_id}">
                        &certificate_idTemplateParameter;
                        <method href="#showCertificate"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS Certificate                 -->
    <!--*******************************************************-->
    <method name="POST" id="createCertificate">
        <wadl:doc xml:lang="EN" title="Create certificate"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a certificate.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-certificates/certificate-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showCertificate">
        <wadl:doc xml:lang="EN" title="Show certificate details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a certificate.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-certificates/certificate-show-root-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response>
    </method>
</application>
