api-ref/src/wadls/compute-api/src/v2.1/wadl/os-cloudpipe-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-cloudpipe-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource path="os-cloudpipe" id="os-cloudpipe">
                    <method href="#listCloudpipes"/>
                    <method href="#createCloudpipe"/>
                    <resource path="configure-project"
                        id="configure-project">
                        <method href="#updateCloudpipe"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listCloudpipes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List cloudpipes">
            <para role="shortdesc">Lists cloudpipes.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-cloudpipe/cloud-pipe-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="POST" id="createCloudpipe">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create cloudpipe">
            <para role="shortdesc">Creates a cloudpipe.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-cloudpipe/cloud-pipe-create-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="project_id" style="plain" required="false"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>Creates the cloudpipe for
                            a project. If omitted, the
                            project ID defaults to the calling
                            tenant.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-cloudpipe/cloud-pipe-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="POST" id="updateCloudpipe">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update cloudpipe">
            <para role="shortdesc">Updates the virtual private network
                (VPN) IP address and port for a cloudpipe
                instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-cloudpipe/cloud-pipe-update-request.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vpn_ip" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The VPN IP
                        address.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="vpn_port" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"><para>The VPN
                        port.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
</application>
