api-ref/src/wadls/compute-api/src/v2.1/wadl/os-cells-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-cells-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-cells" path="os-cells">
                    <method href="#listCells"/>
                    <method href="#listCellssDetail"/>
                    <resource id="cell_id" path="{cell_id}">
                        &cell_idTemplateParameter;
                        <method href="#showCellData"/>
                        <resource id="capacities" path="capacities">
                            <method href="#showCellCapacities"/>
                        </resource>
                   </resource>
               </resource>
           </resource>
       </resource>
   </resources>
    <!--*******************************************************-->
    <!--             OS Cells                                  -->
    <!--*******************************************************-->
    <method name="GET" id="showCellCapacities">
        <wadl:doc xml:lang="EN" title="Show cell capacities"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows capacities for a cell.
            </para>
            <para>
                When cells are not enabled, the call returns the <code>Not
                Implemented (501)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-cells/cells-capacities-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response> &fault501; </method>
    <method name="GET" id="showCellData">
        <wadl:doc xml:lang="EN" title="Show cell data"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows data for a cell.
            </para>
            <para>
                When cells are not enabled, the call returns the <code>Not
                Implemented (501)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-cells/cell-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response> &fault501; </method>
    <method name="GET" id="listCellssDetail">
        <wadl:doc xml:lang="EN" title="List cells with details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists cells with details.</para>
            <para>
                When cells are not enabled, the call returns the <code>Not
                Implemented (501)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-cells/cells-list-empty-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response> &fault501; </method>
    <method name="GET" id="listCells">
        <wadl:doc xml:lang="EN" title="List cells"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists cells.</para>
            <para>
                When cells are not enabled, the call returns the <code>Not
                Implemented (501)</code> response code.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-cells/cells-list-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response> &fault501; </method>
</application>
