api-ref/src/wadls/compute-api/src/v2.1/wadl/os-consoles-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-consoles-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &serverIdRequestParameter;
                        <resource id="os-consoles" path="os-consoles">
                            <method href="#createConsole"/>
                            <method href="#listConsoles"/>
                            <resource id="console_id" path="{console_id}">
                            &consoleIdRequestParameter;
                                 <method href="#getConsole"/>
                                 <method href="#deleteConsole"/>
                            </resource>
                        </resource>
                        <resource id="os-console-auth-token" path="os-console-auth-token">
                                 <method href="#getConsoleAuth"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!---methods -->
    <method name="POST" id="createConsole">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create console for server">
            <para role="shortdesc">
                Creates a console for a server instance.
            </para>
        </wadl:doc>
        <response status="200">
            <!--- Written in the code as follows,
                  NOTE(gmann): Here should be 201 instead of 200 by v2.1
            -->
        </response>
    </method>
    <method name="GET" id="listConsoles">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Lists consoles for server">
            <para role="shortdesc">
                Lists all consoles for a server instance.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="List consoles: JSON response">
                    <xsdxt:code
                        href="../api_samples/consoles/consoles-list-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getConsole">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show console details">
            <para role="shortdesc">
                Shows details for a console for a server instance.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="List consoles: JSON response">
                    <xsdxt:code
                        href="../api_samples/consoles/consoles-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteConsole">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete console">
            <para role="shortdesc">
                Deletes a console for a server instance.
            </para>
        </wadl:doc>
        <response status="202">
        </response>
    </method>
    <method name="GET" id="getConsoleAuth">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show console authentication token">
            <para role="shortdesc">
                Shows the authentication token for a console for a server instance.
            </para>
            <para>
               This feature is available for <code>rdp-html5</code> console type only.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="List consoles: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-console-auth-tokens/get-console-connect-info-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
