api-ref/src/wadls/compute-api/src/v2.1/wadl/os-create-backup.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-create-backup-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="server_id" path="{server_id}">
                <resource id="action" path="action">
                    <method href="#backupserver"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Admin Actions                    -->
    <!--*******************************************************-->
    <method name="POST" id="backupserver">
        <wadl:doc xml:lang="EN" title="Back up server"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Backs up a server instance.</para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-create-backup/create-backup-req.json"
                    />
                </wadl:doc>
                <param
                    name="name" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The name for the backup.
                        </para>
                    </wadl:doc>
                </param>
                <param
                    name="backup_type" style="plain"
                    required="true" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The backup type. A valid value is
                            <code>daily</code> or <code>weekly</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param
                    name="rotation" style="plain"
                    required="true" type="xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            The number of backups to maintain. A valid value
                            is greater than or equal to zero.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
