api-ref/src/wadls/compute-api/src/v2.1/wadl/os-deferred-delete-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-deferred-delete-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &serverIdRequestParameter;
                        <resource id="action" path="action">
                            <method href="#forceDelete"/>
                            <method href="#restore"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--             OS Deferred Delete         -->
    <!--*******************************************************-->
    <method name="POST" id="forceDelete">
        <wadl:doc xml:lang="EN" title="Force-delete server (forceDelete action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Force-deletes a specified server before deferred cleanup.
            </para>
            <para>
                Specify the <code>forceDelete</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/force-delete-post-req.json"
                    />
                </wadl:doc>
                &forceDeleteActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="restore">
        <wadl:doc xml:lang="EN" title="Restore soft-deleted instance (restore action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Restores a previously soft-deleted server instance. You cannot
                use this method to restore deleted instances.
            </para>
            <para>
                Specify the <code>restore</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/restore-post-req.json"
                    />
                </wadl:doc>
                &restoreActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
