api-ref/src/wadls/compute-api/src/v2.1/wadl/os-disk-config-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-disk-config-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="Servers" path="servers">
                    <method href="#createServer"/>
                    <resource path="{server_id}" id="server_id">
                        &server_idTemplateParameter;
                        <param name="os-disk-config:diskConfig" style="plain">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                    Valid value is <code>AUTO</code> or
                                    <code>MANUAL</code>.
                               </para>
                            </wadl:doc>
                        </param>
                        <method href="#showServer"/>
                        <method href="#updateServer"/>
                        <resource path="action" id="action">
                            <method href="#resize"/>
                            <method href="#rebuild"/>
                        </resource>
                    </resource>
                    <resource path="detail" id="detail">
                        <method href="#listServersDetailed"/>
                    </resource>
                </resource>
                <resource id="images" path="images">
                    <resource path="{image_id}">
                        &image_idTemplateParameter;
                        <method href="#showImage"/>
                    </resource>
                    <resource path="detail" id="image_detail">
                        <method href="#listImagesDetailed"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server">
            <para role="shortdesc">Creates a server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-create-request.json"
                    />
                </wadl:doc>
                &serverCreateParameters;
                <param name="os-disk-config:diskConfig" style="plain">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A valid value is AUTO or MANUAL.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-create-response.json"
                    />
                </wadl:doc>
             &serverCreateParameters; </representation>
        </response>
    </method>
    <method name="PUT" id="updateServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update server">
            <para role="shortdesc">Updates a server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-update-put-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-update-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="resize">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Resize server">
            <para role="shortdesc">Resizes a server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-resize-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="rebuild">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Rebuild server">
            <para role="shortdesc">Rebuilds a server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-action-rebuild-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-action-rebuild-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listServersDetailed">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List servers">
            <para role="shortdesc">
                Lists servers with detailed config drive information.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/list-servers-detail-get.json"
                    />
                </wadl:doc>
                <param name="os-disk-config:diskConfig" style="plain"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Valid value is <code>AUTO</code> or
                            <code>MANUAL</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show server details">
            <para role="shortdesc">Shows details for a
                server.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/server-get-response.json"
                    />
                </wadl:doc>
                <param name="os-disk-config:diskConfig" style="plain"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Valid value is <code>AUTO</code> or
                            <code>MANUAL</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="showImage">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show image details">
            <para role="shortdesc">Shows details for an
                image.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/image-get-response.json"
                    />
                </wadl:doc>
                <param name="os-disk-config:diskConfig" style="plain"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Valid value is <code>AUTO</code> or
                            <code>MANUAL</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
    <method name="GET" id="listImagesDetailed">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List images">
            <para role="shortdesc">Lists images with details.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-disk-config/image-list-response.json"
                    />
                </wadl:doc>
                <param name="os-disk-config:diskConfig" style="plain"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Valid value is <code>AUTO</code> or
                            <code>MANUAL</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
</application>
