api-ref/src/wadls/compute-api/src/v2.1/wadl/os-deferred-delete-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-deferred-delete-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="servers" path="servers">
                <resource id="server_id" path="{server_id}">
                    <resource id="action" path="action">
                        <method href="#forcedelete"/>
                        <method href="#restoredelete"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--             OS Deferred Delete         -->
    <!--*******************************************************-->
    <method name="POST" id="forcedelete">
        <wadl:doc xml:lang="EN" title="Force delete instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Force deletes an instance before
                deferred cleanup.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/force-delete-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/force-delete-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="restoredelete">
        <wadl:doc xml:lang="EN" title="Restore deleted instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Restores a previously deleted
                instance.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/restore-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-deferred-delete/restore-post-req.xml"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
