api-ref/src/wadls/compute-api/src/v2.1/wadl/os-extended-server-attributes-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-extended-server-attributes-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="servers" path="servers">
                <resource id="server_id" path="{server_id}"> </resource>
                <method href="#returnserverdetails"/>
                <resource id="details" path="details">
                    <method href="#returnlistdetails"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--        OS extended server attributes        -->
    <!--*******************************************************-->
    <method name="GET" id="returnserverdetails">
        <wadl:doc xml:lang="EN" title="Shows server details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified
                server.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-extended-server-attributes/server-get-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-extended-server-attributes/server-get-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="returnlistdetails">
        <wadl:doc xml:lang="EN" title="Lists server details for user"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists server details for a
                specified user.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-extended-server-attributes/servers-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-extended-server-attributes/servers-detail-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
