api-ref/src/wadls/compute-api/src/v2.1/wadl/os-extended-volumes.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-extended-volumes-v2.1">
        <resource id="v2.1 " path="//v2.1">
                <resource id="servers" path="servers">
                    <resource path="detail" id="detail">
                        <method href="#list-volumes"/>
                    </resource>
                    <resource path="{server_id}" id="server_id">
                        <method href="#show-volume"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    <method name="GET" id="show-volume">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show volume details">
            <para role="shortdesc">Shows volume information for a specified
                server.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-extended-volumes/servers-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="list-volumes">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List volumes">
            <para role="shortdesc">
                Lists servers with attached volume information.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-extended-volumes/server-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
