api-ref/src/wadls/compute-api/src/v2.1/wadl/os-floating-ips-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-floating-ips-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="os-floating-ips" path="os-floating-ips">
                <method href="#ListFloatingIPs"/>
                <method href="#AllocateFloatingIP"/>
                <resource path="{id}">
                    <param name="id" style="template"
                        required="true">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>The unique
                               identifier associated with
                               allocated floating IP address.
                           </para></wadl:doc>
                    </param>
                    <method href="#DeallocateFloatingIP"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="ListFloatingIPs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List floating IPs">
            <para role="shortdesc">Lists floating IP addresses
                associated with the tenant or account.</para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Cloud providers can change
              these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ips/floating-ips-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="AllocateFloatingIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Allocate floating IP">
            <para role="shortdesc">Allocates a new floating IP address
                to a tenant or account.</para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Cloud providers can change
              these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>

            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ips/floating-ips-create-req.json"
                    />
                </wadl:doc>
                <param name="pool" style="plain">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>Pool to allocate IP address from. Default pool is used, if not specified.</para>
                        <para>
                          Policy defaults enable only users with the administrative role
                          or the owner of the server to perform this operation. Cloud providers can change
                          these permissions through the <code>policy.json</code> file.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ips/floating-ips-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="400">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                xml:lang="EN"><p xmlns="http://www.w3.org/1999/xhtml"
                    >If there are no floating IPs available, the
                    extension returns an error code 400 with a message
                    indicating that no more floating IPs are
                    available.</p></wadl:doc>
        </response>
    </method>
    <method name="DELETE" id="DeallocateFloatingIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Deallocate floating IP">
            <para role="shortdesc">Deallocates the floating IP address
                associated with floating_IP_address_ID.
            </para>
            <para>
              You can use this call to deallocate and delete only manually-allocated
              floating IP addresses. You must manually deallocate
              auto-allocated floating IP addresses before you can delete them.
            </para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Cloud providers can change
              these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
</application>
