api-ref/src/wadls/compute-api/src/v2.1/wadl/os-flavor-access-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="flavor-access-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="flavors" path="flavors">
                    <resource id="os-flavor-access" path="os-flavor-access">
                        <method href="#create-flavor-accesslist"/>
                        <method href="#list-flavor-accesslist"/>
                        <resource id="flavor_id" path="{flavor_id}">
                            &flavorIdRequestParameter;
                            <method href="#show-flavor-accesslist"/>
                            <resource id="action" path="action">
                                <method href="#add-flavoraccess-to-tenant"/>
                                <method href="#remove-flavoraccess-from-tenant"/>
                            </resource>
                        </resource>
                        <resource id="detail" path="detail">
                            <method href="#list-flavor-accesslist-detail"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--             flavor-access                 -->
    <!--*******************************************************-->
    <method name="POST" id="add-flavoraccess-to-tenant">
        <wadl:doc xml:lang="EN" title="Add flavor access to tenant"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds flavor access to a
                tenant and flavor.</para>
            <para>
                Specify the <code>add_tenant_access</code> action and the <code>tenant_id</code> in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-add-tenant-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-add-tenant-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="create-flavor-accesslist">
        <wadl:doc xml:lang="EN"
            title="Create flavor with access list"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a flavor with access list.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="list-flavor-accesslist-detail">
        <wadl:doc xml:lang="EN"
            title="List flavors with details and access list"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists flavors with details. Includes access list information.
           </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-detail-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="list-flavor-accesslist">
        <wadl:doc xml:lang="EN" title="List flavors with access list"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists flavors with access list information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-list-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="POST" id="remove-flavoraccess-from-tenant">
        <wadl:doc xml:lang="EN" title="Remove flavor access from tenant"
            xmlns="http://docbook.org/ns/docbook">
        <para role="shortdesc">
            Removes flavor access from a tenant and
            flavor.
        </para>
        <para>
            Specify the <code>remove_tenant_access</code> action and the
            <code>tenant_id</code> in the request body.
        </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-remove-tenant-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-remove-tenant-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="show-flavor-accesslist">
        <wadl:doc xml:lang="EN"
            title="Show flavor details with access list"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a flavor. Includes access list information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-show-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
