api-ref/src/wadls/compute-api/src/v2.1/wadl/os-floating-ip-dns-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-floating-ip-dns-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-floating-ip-dns"
                    path="os-floating-ip-dns">
                    <method href="#ListDomains"/>
                    <resource path="{domain}" id="domain">
                        &domainTemplateParameter;
                        <method href="#CreateDomain"/>
                        <method href="#DeleteDomain"/>
                        <resource id="entries" path="entries">
                            <resource path="{name}" id="name">
                                &dns-entry-idTemplateParameter;
                                <method href="#CreateEntry"/>
                                <method href="#FindUniqueEntry"/>
                                <method href="#DeleteEntry"/>
                            </resource>
                            <resource path="{ip}" id="ip">
                                &ipTemplateParameter;
                                <method href="#FindEntriesbyIP"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="ListDomains">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List DNS domains">
            <para role="shortdesc">Lists registered DNS domains
                published by the DNS drivers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ip-dns/floating-ip-dns-domains-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="CreateDomain">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or update DNS domain">
            <para role="shortdesc">Creates or updates a DNS
                domain.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ip-dns/floating-ip-dns-create-or-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ip-dns/floating-ip-dns-create-or-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="DeleteDomain">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete DNS domain">
            <para role="shortdesc">Deletes a DNS domain and all
                associated host entries.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
    <method name="PUT" id="CreateEntry">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or update DNS entry">
            <para role="shortdesc">Creates or updates a DNS
                entry.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ip-dns/floating-ip-dns-create-or-update-entry-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="FindUniqueEntry">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Find unique DNS entry">
            <para role="shortdesc">Finds a unique DNS entry for a
             domain and name.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ip-dns/floating-ip-dns-entry-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="FindEntriesbyIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List DNS entries">
            <para role="shortdesc">Lists DNS entries for a
                domain and IP.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ip-dns/floating-ip-dns-entry-by-ip-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="DeleteEntry">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete DNS entry">
            <para role="shortdesc">Deletes a DNS
                entry.</para>
        </wadl:doc>
        <response status="200"/>
    </method>
</application>
