api-ref/src/wadls/compute-api/src/v2.1/wadl/os-flavor-extra-specs-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com" xml:id="os-flavorsspecs-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="flavors" path="flavors">
                    <resource id="flavor_id" path="{flavor_id}">
                        &flavor_idTemplateParameter;
                        <resource id="os-extra_specs" path="os-extra_specs">
                            <method href="#createFlavorExtraSpec"/>
                            <method href="#listFlavorExtraSpecs"/>
                            <resource id="flavor_extra_spec_key" path="{flavor_extra_spec_key}">
                                &flavor_extra_spec_keyTemplateParameter;
                                <method href="#showFlavorExtraSpec"/>
                                <method href="#updateFlavorExtraSpec"/>
                                <method href="#deleteFlavorExtraSpec"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Flavor Extra Specs                            -->
    <!--*******************************************************-->
    <method name="POST" id="createFlavorExtraSpec">
        <wadl:doc xml:lang="EN"
            title="Create extra specs for a flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates extra specs for a flavor, by ID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-extra-specs/flavor-extra-spec-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-extra-specs/flavor-extra-spec-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showFlavorExtraSpec">
        <wadl:doc xml:lang="EN" title="Show an extra spec for a flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows an extra spec, by key, for a flavor, by ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-extra-specs/flavor-extra-spec-show-response.json"
                    />
                </wadl:doc>
                &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="listFlavorExtraSpecs">
        <wadl:doc xml:lang="EN" title="List extra specs for a flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists all extra specs for a flavor, by ID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-extra-specs/flavor-extra-spec-create-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-extra-specs/flavor-extra-specs-list-response.json"
                    />
                </wadl:doc>
                &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateFlavorExtraSpec">
        <wadl:doc xml:lang="EN" title="Update an extra spec for a flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates an extra spec, by key, for a flavor, by ID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-extra-specs/flavor-extra-spec-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-extra-specs/flavor-extra-spec-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteFlavorExtraSpec">
        <wadl:doc xml:lang="EN" title="Delete an extra spec for a flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes an extra spec, by key, for a flavor, by ID.
            </para>
        </wadl:doc>
        <response status="200">
        </response>
    </method>
</application>
