api-ref/src/wadls/compute-api/src/v2.1/wadl/os-flavor-access-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-flavor-access-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="flavors" path="flavors">
                <method href="#extendflavor"/>
                <resource id="detail" path="detail">
                    <method href="#addaccessresponse"/>
                </resource>
                <resource id="one" path="1">
                    <method href="#extendflavorshow"/>
                </resource>
                <resource id="ten" path="10">
                    <resource id="action" path="action">
                        <method href="#addflavoraccess"/>
                        <method href="#removeflavoraccess"/>
                    </resource>
                    <resource id="os-flavor-access"
                        path="os-flavor-access">
                        <method href="#returnaccesslist"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--             os-flavor-access                 -->
    <!--*******************************************************-->
    <method name="POST" id="addflavoraccess">
        <wadl:doc xml:lang="EN" title="Add flavor access"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds flavor access for
                tenant.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-add-tenant-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-add-tenant-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="extendflavor">
        <wadl:doc xml:lang="EN"
            title="Add access attribute to flavor create"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds access
                attribute to the flavor create response.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="addaccessresponse">
        <wadl:doc xml:lang="EN"
            title="Add access attribute to flavor detail"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Extends flavor detail to add
                access attribute to the response of flavor detail.
           </para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-detail-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="returnaccesslist">
        <wadl:doc xml:lang="EN" title="Return access list"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Returns access list by flavor
                id.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-add-tenant-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="removeflavoraccess">
        <wadl:doc xml:lang="EN" title="Remove flavor access"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes flavor access for tenant.
           </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-remove-tenant-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-remove-tenant-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="extendflavorshow">
        <wadl:doc xml:lang="EN"
            title="Add access attribute to flavor show"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Extends flavor show to add access
                attribute to the flavor show response.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-access/flavor-access-show-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
