api-ref/src/wadls/compute-api/src/v2.1/wadl/os-flavor-access-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="flavor-access-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="flavors" path="flavors">
                    <resource id="os-flavor-access" path="os-flavor-access">
                        <method href="#listFlavorAccess"/>
                        <resource id="flavor_id" path="{flavor_id}">
                            &flavor_idTemplateParameter;
                            <resource id="action" path="action">
                                <method href="#addFlavorAccess"/>
                                <method href="#removeFlavorAccess"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--             flavor-access                 -->
    <!--*******************************************************-->
    <method name="POST" id="addFlavorAccess">
        <wadl:doc xml:lang="EN" title="Add flavor access to tenant"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Adds flavor access to a tenant and flavor.
            </para>
            <para>
                Specify the <code>add_tenant_access</code> action and the
                <code>tenant_id</code> in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-access/flavor-access-add-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-access/flavor-access-add-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listFlavorAccess">
        <wadl:doc xml:lang="EN" title="List flavor access information for given flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists flavor access information.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-access/flavor-access-list-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="POST" id="removeFlavorAccess">
        <wadl:doc xml:lang="EN" title="Remove flavor access from tenant"
            xmlns="http://docbook.org/ns/docbook">
        <para role="shortdesc">
            Removes flavor access from a tenant and flavor.
        </para>
        <para>
            Specify the <code>remove_tenant_access</code> action and the
            <code>tenant_id</code> in the request body.
        </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-access/flavor-access-remove-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-flavor-access/flavor-access-remove-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
