api-ref/src/wadls/compute-api/src/v2.1/wadl/os-floating-ips-bulk-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-floating-ips-bulk-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-floating-ips-bulk"
                    path="os-floating-ips-bulk">
                    <method href="#ListfloatingipsObjectBulk"/>
                    <method href="#CreatefloatingipsObjectBulk"/>
                    <resource path="delete">
                        <method href="#DeleteFloatingIPBulk"/>
                    </resource>
                    <resource path="{host_name}">
                        &host_nameTemplateParameter;
                        <method href="#ListfloatingipsObjectBulkbyHost"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="ListfloatingipsObjectBulk">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List floating IPs">
            <para role="shortdesc">Lists all floating IPs.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ips-bulk/floating-ips-bulk-list-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="ListfloatingipsObjectBulkbyHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List floating IPs by host">
            <para role="shortdesc">Lists all floating IPs for a host.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ips-bulk/floating-ips-bulk-list-by-host-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="CreatefloatingipsObjectBulk">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create floating IPs">
            <para role="shortdesc">Bulk-creates floating IPs.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ips-bulk/floating-ips-bulk-create-request.json"
                    />
                </wadl:doc>
                <param name="ip_range" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The range of IP addresses to use for
                            creating floating IPs.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ips-bulk/floating-ips-bulk-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="DeleteFloatingIPBulk">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Bulk-delete floating IPs">
            <para role="shortdesc">Bulk-deletes floating IPs.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ips-bulk/floating-ips-bulk-delete-request.json"
                    />
                </wadl:doc>
                <param name="ip_range" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The range of IP addresses from which to
                            bulk-delete floating IPs.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-floating-ips-bulk/floating-ips-bulk-delete-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
