api-ref/src/wadls/compute-api/src/v2.1/wadl/os-flavor-extra-specs-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com" xml:id="os-flavorsspecs-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="flavors" path="flavors">
                    <resource id="os-flavor-extra-specs"
                            path="os-flavor-extra-specs">
                        <resource id="flavor_id" path="{flavor_id}">
                            &flavorIdRequestParameter;
                            <method href="#updateflavor"/>
                            <method href="#listflavor"/>
                                <resource id="flavor_extra_spec_key"
                                    path="{flavor_extra_spec_key}">
                                    &flavorExtraSpecKeyParameter;
                                    <method href="#showflavor"/>
                                    <method href="#updateflavorspec"/>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    <!-- *******************************************************-->
    <!--             Flavor Extra Specs                            -->
    <!--*******************************************************-->
    <method name="POST" id="updateflavor">
        <wadl:doc xml:lang="EN"
            title="Create or update flavor extra specs"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates and updates flavor extra
                specs.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="showflavor">
        <wadl:doc xml:lang="EN" title="Show flavor extra specs"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows an extra spec for a
                flavor, by key.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-get-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="listflavor">
        <wadl:doc xml:lang="EN" title="Show flavor extra specs"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists extra specs for a
                flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-create-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-list-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateflavorspec">
        <wadl:doc xml:lang="EN" title="Update flavor extra spec"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates a extra spec value,
                by key, for a flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-update-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-extra-specs/flavor-extra-specs-update-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
