api-ref/src/wadls/compute-api/src/v2.1/wadl/os-flavor-manage-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="http://www.example.com" xml:id="os-flavor-manage-v2.1">
        <resource path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource path="flavors" id="flavors">
                    <resource id="os-flavor-manage" path="os-flavor-manage">
                        <method href="#create-flavors"/>
                        <resource path="{flavor_id}" id="flavor_id">
                             &flavorIdRequestParameter;
                            <method href="#delete-flavors"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="create-flavors">
        <wadl:doc xml:lang="EN" title="Create flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="delete-flavors">
        <wadl:doc xml:lang="EN" title="Delete flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Deletes a flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/flavor-manage/flavor-create-post-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="204"/>
    </method>
</application>
