api-ref/src/wadls/compute-api/src/v2.1/wadl/os-floating-ips-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-floating-ips-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="os-floating-ips" path="os-floating-ips">
                    <method href="#listFloatingIPs"/>
                    <method href="#createFloatingIP"/>
                    <resource id="floating_ip_id" path="{floating_ip_id}">
                        &floating_ip_idRequestParameter;
                        <method href="#showFloatingIP"/>
                        <method href="#deleteFloatingIP"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listFloatingIPs">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List floating IP addresses">
            <para role="shortdesc">
                Lists floating IP addresses associated with the tenant or
                account.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ips/floating-ips-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createFloatingIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create (allocate) floating IP address">
            <para role="shortdesc">
                Creates, or allocates, a floating IP address for the current
                project. By default, the floating IP address is allocated from
                the public pool.
            </para>
            <para>
                If more than one floating IP address pool is available, use
                the <code>pool</code> parameter to specify from which pool to
                allocate the IP address.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ips/floating-ips-create-req.json"/>
                </wadl:doc>
                <param name="pool" style="plain">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>
                            Pool from which to allocate the IP address. If you
                            omit this parameter, the call allocates the
                            floating IP address from the public pool.
                        </para>
                        <para>
                            If no floating IP addresses are available, the
                            call returns the <code>400</code> response code
                            with an informational message.
                        </para>
                        <para>
                            Policy defaults enable only users with the administrative role
                            or the owner of the server to perform this operation. Cloud
                            providers can change these permissions through the
                            <code>policy.json</code> file.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ips/floating-ips-create-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        <response status="400"/>
    </method>
    <method name="GET" id="showFloatingIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show floating IP address details">
            <para role="shortdesc">
                Shows details for a floating IP address, by ID, that is
                associated with the tenant or account.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-floating-ips/floating-ip-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteFloatingIP">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete (deallocate) floating IP address">
            <para role="shortdesc">
                Deletes, or deallocates, a floating IP address from the
                current project and returns it to the pool from which it was
                allocated.
            </para>
            <para>
                If the IP address is still associated with a running instance,
                it is automatically disassociated from that instance.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
</application>
