api-ref/src/wadls/compute-api/src/v2.1/wadl/os-flavor-rxtx-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-flavor-rxtx-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="flavors" path="flavors">
                <resource id="os-flavor-rxtx" path="os-flavor-rxtx">
                    <method href="#createflavor"/>
                    <resource id="details" path="detail">
                        <method href="#returnallflavor"/>
                    </resource>
                    <resource id="flavor_id" path="{flavor_id}">
                        <method href="#returndata"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS Flavor rxtx                     -->
    <!--*******************************************************-->
    <method name="GET" id="returndata">
        <wadl:doc xml:lang="EN" title="Show flavor details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified
                flavor.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-get-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="returnallflavor">
        <wadl:doc xml:lang="EN" title="List flavors with details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists flavors with details.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-list-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="POST" id="createflavor">
        <wadl:doc xml:lang="EN" title="Create flavor"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates a flavor.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-flavor-rxtx/flavor-rxtx-post-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
