api-ref/src/wadls/compute-api/src/v2.1/wadl/os-hypervisors-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-hypervisors-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-hypervisors" path="os-hypervisors">
                    <method href="#listHypervisors"/>
                    <resource id="statistics" path="statistics">
                        <method href="#showHypervisorStatistics"/>
                    </resource>
                    <resource id="hypervisor_id" path="{hypervisor_id}">
                        <method href="#showHypervisor"/>
                        <resource id="uptime" path="uptime">
                                <method href="#showHypervisorUptime"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    <!-- *******************************************************-->
    <!--        OS Hypervisors                        -->
    <!--*******************************************************-->
    <method name="GET" id="listHypervisors">
        <wadl:doc xml:lang="EN" title="List hypervisors"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists hypervisors.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-hypervisors/hypervisors-list-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showHypervisor">
        <wadl:doc xml:lang="EN" title="Show hypervisor details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a
                hypervisor.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-hypervisors/hypervisor-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showHypervisorStatistics">
        <wadl:doc xml:lang="EN" title="Show hypervisor statistics"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows summary statistics for all hypervisors over all compute
                nodes.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-hypervisors/hypervisor-statistics-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showHypervisorUptime">
        <wadl:doc xml:lang="EN" title="Show hypervisor uptime"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows the uptime for a
                hypervisor.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-hypervisors/hypervisor-uptime-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
