api-ref/src/wadls/compute-api/src/v2.1/wadl/os-hypervisors-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-hypervisors-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="os-hypervisors" path="os-hypervisors">
                    <method href="#listhypervisors"/>
                    <resource id="statistics" path="statistics">
                        <method href="#showhypervisorstatistics"/>
                    </resource>
                    <resource id="os-pci" path="os-pci">
                        <method href="#listHypervisorsPciDetails"/>
                    </resource>
                    <resource id="search" path="search">
                        <param name="query" style="query"
                            type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN">
                                <para>
                                    Filters the search results by the
                                    <code>?query={filter}</code> query parameter.
                                </para>
                            </wadl:doc>
                        </param>
                        <method href="#searchhypervisors"/>
                    </resource>
                    <resource id="hypervisor_id" path="{hypervisor_id}">
                        <method href="#showhypervisordetails"/>
                        <resource id="os-pci2" path="os-pci">
                            <method href="#showHypervisorsPci"/>
                        </resource>
                        <resource id="servers" path="servers">
                            <method href="#listservers"/>
                            <resource id="server_id" path="{server_id}">
                                <method href="#showserver">
                                </method>
                            </resource>
                        </resource>
                        <resource id="search2" path="search">
                            <param name="query" style="query"
                                type="xsd:string">
                                <wadl:doc
                                    xmlns="http://docbook.org/ns/docbook"
                                    xml:lang="EN"><para>Filters the search
                                        results by the
                                           <code>?query={filter}</code> query
                                        parameter.</para>
                                </wadl:doc>
                            </param>
                            <method href="#searchhypervisors"/>
                        </resource>
                        <resource id="hypervisor_id2" path="{hypervisor_id}">
                            &hypervisorIdRequestParameter;
                            <method href="#showhypervisordetails"/>
                            <resource id="servers3" path="servers">
                                <method href="#listservers"/>
                                <resource id="server_id2" path="{server_id}">
                                    <method href="#showserver">
                                    </method>
                                </resource>
                            </resource>
                            <resource id="uptime" path="uptime">
                                <method href="#showhypervisoruptime"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--        OS Hypervisors                        -->
    <!--*******************************************************-->
    <method name="GET" id="listhypervisors">
        <wadl:doc xml:lang="EN" title="List hypervisors"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists hypervisors.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-list-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showhypervisordetails">
        <wadl:doc xml:lang="EN" title="Show hypervisor details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a
                hypervisor.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-show-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showhypervisorstatistics">
        <wadl:doc xml:lang="EN" title="Show hypervisor statistics"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows statistics for all
                hypervisors.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-statistics-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showhypervisoruptime">
        <wadl:doc xml:lang="EN" title="Show hypervisor uptime"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows the uptime for a
                hypervisor.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-hypervisors/hypervisors-uptime-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="listHypervisorsPciDetails">
        <wadl:doc xml:lang="EN" title="List hypervisors with PCI statistics"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists hypervisors. Includes PCI device statistics.
            </para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-pci/hypervisors-pci-detail-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showHypervisorsPci">
        <wadl:doc xml:lang="EN" title="Show hypervisor with PCI statistics"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows information for a hypervisor. Includes PCI
                device statistics.
            </para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-pci/hypervisors-pci-show-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
