api-ref/src/wadls/compute-api/src/v2.1/wadl/os-hosts-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-hosts-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-hosts" path="os-hosts">
                    <method href="#listallhosts"/>
                    <resource id="host_name" path="{host_name}">
                        &host_nameTemplateParameter;
                        <method href="#enablehost"/>
                        <method href="#showinfo"/>
                        <resource id="reboot" path="reboot">
                            <method href="#reboothost"/>
                        </resource>
                        <resource id="shutdown" path="shutdown">
                            <method href="#shutdownhost"/>
                        </resource>
                        <resource id="startup" path="startup">
                            <method href="#startshost"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--           OS Hosts                        -->
    <!--*******************************************************-->
    <method name="GET" id="reboothost">
        <wadl:doc xml:lang="EN" title="Reboot host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Reboots a host.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-hosts/host-reboot-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showinfo">
        <wadl:doc xml:lang="EN" title="Show host details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a
                host.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-hosts/host-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="shutdownhost">
        <wadl:doc xml:lang="EN" title="Shut down host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shuts down a host.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-hosts/host-shutdown-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="startshost">
        <wadl:doc xml:lang="EN" title="Start host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Starts a host.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-hosts/host-start-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="PUT" id="enablehost">
        <wadl:doc xml:lang="EN" title="Enable host"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Enables or puts a host in maintenance mode.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-hosts/host-update-maintenance-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-hosts/host-update-maintenance-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listallhosts">
        <wadl:doc xml:lang="EN" title="List hosts"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists hosts.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-hosts/hosts-list-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
