api-ref/src/wadls/compute-api/src/v2.1/wadl/os-interface-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:atom="http://www.w3.org/2005/Atom">
    <resources base="https://servers.api.openstack.com" xml:id="os-interface-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenantID" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="Servers" path="servers">
                    <resource path="{server_id}" id="server_id">
                        &server_idTemplateParameter;
                        <resource path="os-interface" id="os-interface">
                            <method href="#createAttachInterface"/>
                            <method href="#listAttachedInterfaces"/>
                            <resource path="{port_id}" id="port_id">
                                &port_idTemplateParameter;
                                <method href="#showAttachedInterface"/>
                                <method href="#deleteAttachedInterface"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createAttachInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create interface">
            <para role="shortdesc">
                Creates a port interface and uses it to attach a port to a
                server instance.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-interface/port-interface-create-request.json"
                    />
                </wadl:doc>
                <param name="interfaceAttachment" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>
                            Specify the <code>interfaceAttachment</code>
                            action in the request body.
                        </para>
                    </wadl:doc>
                </param>
                <param name="port_id" style="plain" type="csapi:UUID" required="false">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The ID of the port for which you want to create an
                            interface.
                        </para>
                        <para>
                            The <code>net_id</code> and <code>port_id</code>
                            parameters are mutually exclusive.
                        </para>
                        <para>
                            If you do not specify the <code>port_id</code>
                            parameter, the OpenStack Networking API v2.0
                            allocates a port and creates an interface for it
                            on the network.
                        </para>
                    </wadl:doc>
                </param>
                <param name="net_id" style="plain" type="csapi:UUID" required="false">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>
                            The ID of the network for which you want to create
                            a port interface.
                        </para>
                        <para>
                            The <code>net_id</code> and <code>port_id</code>
                            parameters are mutually exclusive.
                        </para>
                        <para>
                            If you do not specify the <code>net_id</code>
                            parameter, the OpenStack Networking API v2.0 uses
                            the network information cache that is associated
                            with the instance.
                        </para>
                    </wadl:doc>
                </param>
                <param name="fixed_ips" style="plain" type="xsd:list" required="false">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>Fixed IP addresses with subnet IDs.</para>
                        <para>
                            If you request a specific fixed IP address without
                            a <code>net_id</code>, the request returns a
                            <code>Bad Request (400)</code> response code.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-interface/port-interface-create-response.json"
                    />
                </wadl:doc>
                <param name="interfaceAttachment" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>
                            Specify the <code>interfaceAttachment</code>
                            action in the response body.
                        </para>
                    </wadl:doc>
                </param>
                <param name="fixed_ips" style="plain" type="xsd:list" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>Fixed IP addresses with subnet IDs.</para>
                    </wadl:doc>
                </param>
                <param name="mac_addr" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>The MAC address.</para>
                    </wadl:doc>
                </param>
                <param name="net_id" style="plain" type="csapi:UUID" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>The network ID.</para>
                    </wadl:doc>
                </param>
                <param name="port_id" style="plain" type="csapi:UUID" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>The port ID.</para>
                    </wadl:doc>
                </param>
                <param name="port_state" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Port state">
                        <para>The port state.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
        &commonFaults; &postPutFaults;
    </method>
    <method name="GET" id="listAttachedInterfaces">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List port interfaces">
            <para role="shortdesc">
                Lists port interfaces that are attached to a server.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-interface/port-interfaces-list-response.json"
                    />
                </wadl:doc>
                <param name="interfaceAttachment" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>
                            Specify the <code>interfaceAttachment</code>
                            action in the response body.
                        </para>
                    </wadl:doc>
                </param>
                <param name="port_state" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>The port state.</para>
                    </wadl:doc>
                </param>
                <param name="fixed_ips" style="plain" type="xsd:list" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>Fixed IP addresses with subnet IDs.</para>
                    </wadl:doc>
                </param>
                <param name="mac_addr" style="plain" type="xsd:string" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>The MAC address.</para>
                    </wadl:doc>
                </param>
                <param name="net_id" style="plain" type="csapi:UUID" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>The network ID.</para>
                    </wadl:doc>
                </param>
                <param name="port_id" style="plain" type="csapi:UUID" required="true">
                    <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                        <para>The port ID.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showAttachedInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show port interface details">
            <para role="shortdesc">
                Shows details for a port interface that is attached to a
                server.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-interface/port-interface-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
        &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteAttachedInterface">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Detach interface">
            <para role="shortdesc">Detaches a port interface.</para>
        </wadl:doc>
        <response status="202"/> &commonFaults; &postPutFaults;
    </method>
</application>
