api-ref/src/wadls/compute-api/src/v2.1/wadl/os-instance-usage-audit-log-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:db="http://docbook.org/ns/docbook">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-instance-usage-audit-log-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="os-instance-usage-audit-log"
                    path="os-instance-usage-audit-log">
                    <method href="#listusageaudits"/>
                    <resource id="before" path="{before_timestamp}">
                        <method href="#listinstanceusage"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Instance Usage Audit Log            -->
    <!--*******************************************************-->
    <method name="GET" id="listusageaudits">
        <wadl:doc xml:lang="EN" title="List usage audits for an instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists usage audits for a specified
                instance.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-usage-audit-log/inst-usage-audit-log-index-get-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="listinstanceusage">
        <wadl:doc xml:lang="EN" title="List usage audits before specified time"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists usage audits that
                occurred before a specified time.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml">
                &before_timestamp-QueryParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-usage-audit-log/inst-usage-audit-log-show-get-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
