api-ref/src/wadls/compute-api/src/v2.1/wadl/os-instance-actions-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-instance-actions-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="servers" path="servers">
                <resource id="server_id" path="{server_id}">
                    <resource id="os-instance-actions"
                        path="os-instance-actions">
                        <method href="#returnactionlist"/>
                        <resource id="request_id" path="{request_id}">
                            <method href="#returninstancedata"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS Instance actions                    -->
    <!--*******************************************************-->
    <method name="GET" id="returninstancedata">
        <wadl:doc xml:lang="EN" title="Shows instance action"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows information about a specified
                instance action.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-action-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="returnactionlist">
        <wadl:doc xml:lang="EN" title="List actions for an instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists actions for a specified
                instance.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-instance-actions/instance-actions-list-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
