api-ref/src/wadls/compute-api/src/v2.1/wadl/os-multiple-create-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-multiple-create-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <!--  &serverCreateParameters; -->
                    <param name="return_reservation_id" style="plain"
                        required="false" type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>
                                Set to <code>True</code>to generate a reservation
                                ID for each server. Omit this attribute to create
                                servers without a reservation ID. This extended
                                attribute is enabled when the service provider
                                enables multiple server launch.
                            </para>
                        </wadl:doc>
                    </param>
                    <param name="min_count" style="plain" required="false"
                        type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>
                                The minimum number of servers to launch when the
                                service provider enables multiple server launch.
                            </para>
                        </wadl:doc>
                    </param>
                    <param name="max_count" style="plain" required="false"
                        type="xsd:string">
                        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN">
                            <para>
                                The maximum number of servers to launch when the
                                service provider enables multiple server launch.
                            </para>
                        </wadl:doc>
                    </param>
                    <method href="#createServer"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create multiple servers">
            <para role="shortdesc">
                Creates one or more servers with an optional reservation ID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multiple-create/multiple-create-no-resv-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multiple-create/multiple-create-post-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multiple-create/multiple-create-no-resv-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-multiple-create/multiple-create-post-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
