api-ref/src/wadls/compute-api/src/v2.1/wadl/os-multinic-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-multinic-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &serverIdRequestParameter;
                        <resource id="action" path="action">
                            <method href="#removeip"/>
                            <method href="#addiptoinstance"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Multinic            -->
    <!--*******************************************************-->
    <method name="POST" id="addiptoinstance">
        <wadl:doc xml:lang="EN" title="Add IP to instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds an IP to a specified network
                on an instance.</para>
            <para>
                Specify the <code>addFixedIp</code> action in the request
                body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-multinic/multinic-add-fixed-ip-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="removeip">
        <wadl:doc xml:lang="EN" title="Remove IP from instance"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Removes an IP from a specified
                instance.</para>
            <para>
                Specify the <code>remove_fixed_ip</code> action in the request
                body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-multinic/multinic-remove-fixed-ip-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
