api-ref/src/wadls/compute-api/src/v2.1/wadl/os-networks-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-networks-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="os-networks" path="os-networks">
                    <method href="#CreateNetwork"/>
                    <method href="#ListNetworks"/>
                    <resource path="add" id="add">
                        <method href="#AddNetwork"/>
                    </resource>
                    <resource path="{id}" id="id">
                        &networkIdRequestParameter;
                        <method href="#GetNetwork"/>
                        <method href="#DeleteNetwork"/>
                        <resource path="action" id="action">
                            <method href="#AssociateHost"/>
                            <method href="#DisassociateHost"/>
                            <method href="#DisassociateNetwork"/>
                            <method href="#DisassociateProject"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="ListNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List networks">
            <para role="shortdesc">Lists networks that are available
                to the project.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/networks-list-resp.json"
                    />
                </wadl:doc>
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method name="GET" id="GetNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show network information">
            <para role="shortdesc">Shows information for a specified
                network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-show-resp.json"
                    />
                </wadl:doc>
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method name="DELETE" id="DeleteNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete network">
            <para role="shortdesc">
                Deletes a specified network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="POST" id="DisassociateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate network">
            <para role="shortdesc">
                Disassociates a specified network
                from a project so that the network can be
                reused.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="DisassociateProject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate project">
            <para role="shortdesc">
                Disassociates the project from a
                specified network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-project-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="DisassociateHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate host">
            <para role="shortdesc">
                Disassociates the host from a specified network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-disassociate-host-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="AssociateHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Associate host">
            <para role="shortdesc">
                Associates a specified network with a host.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks-associate/network-associate-host-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="AddNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Add network">
            <para role="shortdesc">
                Adds a specified network to a project.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-add-req.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="CreateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create network">
            <para role="shortdesc">
                Creates a network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-create-req.json"
                    />
                </wadl:doc>
               <!-- &createNetworkParameters; -->
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-networks/network-create-resp.json"
                    />
                </wadl:doc>
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
</application>
