api-ref/src/wadls/compute-api/src/v2.1/wadl/os-quota-sets-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com" xml:id="os-quota-sets-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="admin_tenant_id" path="{admin_tenant_id}">
                &admin_tenant_idTemplateParameter;
                <resource id="os-quota-sets" path="os-quota-sets">
                    <resource id="tenant_id" path="{tenant_id}">
                        &tenant_idTemplateParameter;
                        <method href="#updateQuota"/>
                        <method href="#revertQuotas"/>
                        <resource id="defaults" path="defaults">
                            <method href="#listDefaultQuotas"/>
                        </resource>
                        <resource id="quotas_detail"
                            path="detail" type="#DetailQuotasList"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="DetailQuotasList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xml:lang="EN" title="Detail quotas list">
            <para>
                Lists quotas with reserved, limit, and in-use value details.
            </para>
            <para>
                To list detail of a quota for a project and a user,
                specify the <code>user_id</code> query parameter.
            </para>
        </wadl:doc>
        <method href="#listDetailQuotas"/>
    </resource_type>
    <!-- *******************************************************-->
    <!--      OS Quota sets            -->
    <!--*******************************************************-->
    <method name="GET" id="listDefaultQuotas">
        <wadl:doc xml:lang="EN" title="List default quotas for tenant"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists the default quotas for a project or a project and a user.
            </para>
            <para>
                In the request URI, you specify both the ID of the
                administrative project and the ID of the project for
                which you want to show default quotas. These project IDs can
                match.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-default-list-response.json"
                    />
                </wadl:doc>
                &quotaSetsResponseParameters;
            </representation>
        </response>
    </method>
    <method name="GET" id="listDetailQuotas">
        <wadl:doc xml:lang="EN" title="List quotas with details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists quotas with details for a project or a project and a user.
            </para>
            <para>
                To list a quota for a project and a user,
                specify the <code>user_id</code> query parameter.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-list-details-response.json"
                    />
                </wadl:doc>
                &x-openstack-request-idHeader;
                &quotaSetsResponseParameters;
                &reservedResponseParameter;
                &limitResponseParameter;
                &in_useResponseParameter;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" title="Update quotas"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Update the quotas for a project or a project and a user.
            </para>
            <para>
                You can force the update even if the quota has already been
                used and the reserved quota exceeds the new quota.
            </para>
            <para>
                To force the update, specify the <code>"force": "True"</code>
                attribute in the request body. Default is <code>False</code>.
                The following example request shows the optional
                <code>force</code> attribute.
            </para>
            <para>
                To update a quota for a project and a user, specify the <code>user_id</code>
                query parameter.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-update-request.json"
                    />
                </wadl:doc>
                &user_idQueryParameter;
                &quotaSetsRequestParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-update-response.json"
                    />
                </wadl:doc>
                &quotaSetsResponseParameters;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="revertQuotas">
        <wadl:doc xml:lang="EN" title="Revert quotas to defaults"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Reverts the quotas to default values for a project or a project and a user.
            </para>
            <para>
                To revert quotas for a project and a user, specify the <code>user_id</code>
                query parameter.
            </para>
        </wadl:doc>
        <request>
            &user_idQueryParameter;
        </request>
        <response status="202"/>
    </method>
</application>
