api-ref/src/wadls/compute-api/src/v2.1/wadl/os-quota-class-sets-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-quota-class-sets-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-quota-class-sets"
                    path="os-quota-class-sets">
                    <resource id="class_id" path="{class_id}">
                        &class_idTemplateParameter;
                        <method href="#showquota"/>
                        <method href="#updatequota"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Quota Class Sets           -->
    <!--*******************************************************-->
    <method name="GET" id="showquota">
        <wadl:doc xml:lang="EN" title="Show quota"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows the quota for a
                class.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-quota-class-sets/quota-class-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
                &quotaSetsResponseParameters;
            </representation>
        </response>
    </method>
    <method name="PUT" id="updatequota">
        <wadl:doc xml:lang="EN" title="Update quota"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Updates quota for a
                class.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-quota-class-sets/quota-class-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/os-quota-class-sets/quota-class-update-response.json"
                    />
                </wadl:doc>
                &quotaSetsResponseParameters;
            </representation>
        </response>
    </method>
</application>
