api-ref/src/wadls/compute-api/src/v2.1/wadl/os-quota-sets-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-quota-sets-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-quota-sets" path="os-quota-sets">
                    <method href="#deletequota"/>
                    <method href="#forceUpdateQuota"/>
                    <method href="#updateQuota"/>
                    <resource id="defaults" path="defaults">
                        <method href="#showDefaultQuotas"/>
                    </resource>
                    <resource id="quotas_detail" path="detail" type="#DetailQuotasList"/>
                    <resource id="user_id">
                        &user_idQueryParameter;
                        <method href="#updateQuotaUser"/>
                        <method href="#deleteQuotaUser"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <resource_type id="DetailQuotasList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Detail quotas list">
            <para>A detailed quotas list.</para>
        </wadl:doc>
        <method href="#listDetailQuotas"/>
    </resource_type>
    <!-- *******************************************************-->
    <!--      OS Quota sets            -->
    <!--*******************************************************-->
    <method name="DELETE" id="deletequota">
        <wadl:doc xml:lang="EN" title="Delete quota for tenant"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Deletes a quota for tenant.</para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="showDefaultQuotas">
        <wadl:doc xml:lang="EN" title="Show default quotas"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Shows default quotas for tenant.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-default-show-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="listDetailQuotas">
        <wadl:doc xml:lang="EN" title="Show quotas (detailed)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists quotas with details for a tenant.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quotas-list-details-response.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="PUT" id="forceUpdateQuota">
        <wadl:doc xml:lang="EN" title="Force-update quota"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Force-updates quota for tenant.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-force-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-force-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="updateQuota">
        <wadl:doc xml:lang="EN" title="Update quota"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates quota for tenant.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteQuotaUser">
        <wadl:doc xml:lang="EN" title="Delete quota for user"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Deletes quota for a user.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="PUT" id="updateQuotaUser">
        <wadl:doc xml:lang="EN" title="Update quota for user"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Updates quota for user.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-user-update-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-quota-sets/quota-user-update-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
