api-ref/src/wadls/compute-api/src/v2.1/wadl/os-remote-consoles-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-remote-consoles-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &serverIdRequestParameter;
                        <resource id="action" path="action">
                            <method href="#get_spice_consoleServer"/>
                            <method href="#get_vnc_consoleServer"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Remote consoles            -->
    <!--*******************************************************-->
    <method name="POST" id="get_spice_consoleServer">
        <wadl:doc xml:lang="EN" title="Get SPICE console for a server (get_spice_console action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets a SPICE console for a specified server.
            </para>
            <para>
                Specify the <code>get_spice_console</code> action in the request
                body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-spice-console-post-req.json"
                    />
                </wadl:doc>
                &get_spice_consoleActionRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-spice-console-post-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="get_vnc_consoleServer">
        <wadl:doc xml:lang="EN" title="Get VNC console for a server (get_vnc_console action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Gets a VNC console for a specified server.
            </para>
            <para>
                Specify the <code>get_vnc_console</code> action in the request
                body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-vnc-console-post-req.json"
                    />
                </wadl:doc>
                &get_vnc_consoleActionRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-remote-consoles/get-vnc-console-post-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
