api-ref/src/wadls/compute-api/src/v2.1/wadl/os-server-groups-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-groups-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-server-groups"
                    path="os-server-groups">
                    <method href="#listServerGroups"/>
                    <method href="#createServerGroup"/>
                    <resource path="{server_group_id}"
                        id="ServerGroup_id">
                        &server_group_idTemplateParameter;
                        <method href="#showServerGroup"/>
                        <method href="#deleteServerGroup"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server group">
            <para role="shortdesc">Creates a server group.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-server-groups/server-group-create-request.json"
                    />
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The server group name. A non-empty
                            string with no leading or trailing spaces.
                            Maximum length is 255
                        characters.</para>
                    </wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="policies" style="plain" type="xsd:list"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>A list of one or more policy names to
                            associate with the server group. The list
                            must contain at least one policy
                            name. The current valid policy names are
                            <code>anti-affinity</code> and
                            <code>affinity</code>.</para>
                        <para>Each policy name must be a non-empty
                            string with no leading or trailing spaces.
                            Maximum length is 255
                        characters.</para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-server-groups/server-group-create-response.json"
                    />
                </wadl:doc>
             &security_groupObject; </representation>
        </response>
    </method>
    <method name="GET" id="listServerGroups">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List server groups">
            <para role="shortdesc">
                Lists all server groups for the tenant.
            </para>
            <para>
                Administrative users can use the <code>all_projects</code>
                query parameter to list all server groups for all projects.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="all_projects" style="query" required="false" type="xsd:boolean">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xmlns:wadl="http://wadl.dev.java.net/2009/02"
                    xml:lang="EN">
                    <para>
                        Administrator only. Lists server groups for all
                        projects. For example:
                    </para>
<programlisting language="json">GET /v2.1/​{admin_tenant_id}​/os-server-groups?all_projects=True</programlisting>
                    <para>
                        If you specify a tenant ID for a non-administrative
                        user with this query parameter, the call lists all
                        server groups for the tenant, or project,
                        rather than for all projects.
                    </para>
                </wadl:doc>
            </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-server-groups/server-groups-list-response.json"
                    />
                </wadl:doc>
                &server_groupsObject;
            </representation>
        </response>
    </method>
    <method name="GET" id="showServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show server group details">
            <para role="shortdesc">Shows details for a
                server group.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-server-groups/server-group-show-response.json"
                    />
                </wadl:doc>
                &security_groupObject;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteServerGroup">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete server group">
            <para role="shortdesc">Deletes a server
                group.</para>
        </wadl:doc>
        <response status="204"/>
        <!-- Common and GET Faults --> &commonFaults; &getFaults;
    </method>
</application>
