api-ref/src/wadls/compute-api/src/v2.1/wadl/os-server-password.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-shelve-v2.1">
        <resource id="v2.1 " path="//v2.1">
            <resource id="Servers" path="servers">
                <resource id="server_id" path="{server_id}">
                    <resource id="os-server-password"
                        path="os-server-password">
                        <method href="#getPassword"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getPassword">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get server password">
            <para role="shortdesc">Gets the administrative password
                for a specified server.</para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Change
              these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/get-password-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/os-server-password/get-password-resp.xml"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
