api-ref/src/wadls/compute-api/src/v2.1/wadl/os-server-external-events-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-external-events-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="os-server-external-events" path="os-server-external-events">
                    <method href="#createevents"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--     Server external events                            -->
    <!--*******************************************************-->
    <method name="POST" id="createevents">
        <wadl:doc xml:lang="EN" title="Create events"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Creates events.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-server-external-events/event-create-req.json"
                    />
                </wadl:doc>
                <param name="events" style="plain" type="xsd:dict"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="List events">
                        <para>
                            Specify the <code>events</code> action in the
                            request body.
                        </para>
                    </wadl:doc>
                </param>
                <param name="name" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="name">
                        <para>
                            The event name. Valid values are
                            <code>network-changed</code>, <code>network-vif-plugged</code>,
                            <code>network-vif-unplugged</code>, and
                            <code>network-vif-deletedplugged</code>.
                        </para>
                    </wadl:doc>
                </param>
                <param name="tag" style="plain" type="xsd:string"
                    required="false">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="tag">
                        <para>
                            A string value that identifies the event.
                        </para>
                    </wadl:doc>
                </param>
                <param name="server_uuid" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="server_uuid">
                        <para>
                            The ID of the server that is associated with the event.
                        </para>
                    </wadl:doc>
                </param>
                <param name="status" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="status">
                        <para>
                            The event status. Valid values are
                            <code>failed</code>, <code>completed</code>, and
                            <code>in-progress</code>.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-server-external-events/event-create-resp.json"
                    />
                </wadl:doc>
                <param name="code" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="code">
                        <para>
                            The HTTP status code that pertains to the
                            individual event.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response>
    </method>
</application>
