api-ref/src/wadls/compute-api/src/v2.1/wadl/os-security-groups-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:wadl="http://wadl.dev.java.net/2009/02"
   xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
   xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
   xmlns:csapi="http://docs.openstack.org/identity/api/v3">
   <resources base="https://servers.api.openstack.com"
      xml:id="os-security-groups-v2.1">
      <resource id="v2.1" path="//v2.1">
         <resource id="tenant_id" path="{tenant_id}">
            &tenant_idTemplateParameter;
            <resource path="os-security-groups" id="os-security-groups2">
               <method href="#listSecGroups" />
               <method href="#createSecGroup" />
               <resource id="security_group_id" path="{security_group_id}">
                  &security_group_idTemplateParameter;
                  <method href="#showSecGroup" />
                  <method href="#updateSecGroup" />
                  <method href="#deleteSecGroup" />
               </resource>
           </resource>
           <resource id="Servers" path="servers">
               <resource path="{server_id}" id="server_id">
                  &server_idTemplateParameter;
                  <resource path="os-security-groups" id="os-security-groups">
                     <method href="#listSecGroupsByServer" />
                  </resource>
            </resource>
         </resource>
      </resource>
   </resource>
   </resources>
   <method name="GET" id="listSecGroups">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List security groups">
         <para role="shortdesc">Lists security groups.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List security groups: JSON response">
               <xsdxt:code href="../samples/os-security-groups/security-groups-list-response.json" />
            </wadl:doc>
            &security_groupsObject;
            &securityGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="GET" id="listSecGroupsByServer">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List security groups by server">
         <para role="shortdesc">Lists security groups for a server.</para>
      </wadl:doc>
      <response status="200">
         &security_groupsObject;
         &securityGroupResponseParameters;
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List security groups by server: JSON response">
               <xsdxt:code href="../samples/os-security-groups/security-groups-list-response.json" />
            </wadl:doc>
         </representation>
      </response>
   </method>
   <method name="GET" id="showSecGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show security group details">
         <para role="shortdesc">Shows details for a
                security group.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show security group: JSON response">
               <xsdxt:code href="../samples/os-security-groups/security-group-show-response.json" />
            </wadl:doc>
            &security_groupObject;
            &securityGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="POST" id="createSecGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create security group">
         <para role="shortdesc">Creates a security group.</para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create security group: JSON request">
               <xsdxt:code href="../samples/os-security-groups/security-group-create-request.json" />
            </wadl:doc>
            <param name="security_group" style="plain" type="xsd:string" required="true">
               <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add security group">
                  <para>
                     Specify the <code>security_group</code> action in the
                     request body.
                  </para>
               </wadl:doc>
            </param>
            <param name="name" style="plain" type="xsd:string" required="true">
               <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Security group name">
                  <para>The security group name.</para>
               </wadl:doc>
            </param>
            <param name="description" style="plain" type="xsd:string" required="true">
               <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Security group description">
                  <para>Security group description.</para>
               </wadl:doc>
            </param>
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create security group: JSON response">
               <xsdxt:code href="../samples/os-security-groups/security-group-create-response.json" />
            </wadl:doc>
            &security_groupObject;
            &securityGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="PUT" id="updateSecGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook"
         xml:lang="EN" title="Update security group">
         <para role="shortdesc">
            Updates a security group.
         </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN" title="Update security group: JSON request">
               <xsdxt:code href="../samples/os-security-groups/security-group-update-request.json" />
            </wadl:doc>
            <param name="name" style="plain" type="xsd:string"
               required="true">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Security group name">
                  <para>
                     The security group name.
                  </para>
               </wadl:doc>
            </param>
            <param name="description" style="plain" type="xsd:string"
               required="true">
               <wadl:doc xmlns="http://docbook.org/ns/docbook"
                  xml:lang="EN" title="Security group description">
                  <para>
                     Security group description.
                  </para>
               </wadl:doc>
            </param>
         </representation>
      </request>
      <response status="200">
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
               xml:lang="EN" title="Update security group: JSON response">
               <xsdxt:code href="../samples/os-security-groups/security-group-update-response.json" />
            </wadl:doc>
            &security_groupObject;
            &securityGroupResponseParameters;
         </representation>
      </response>
   </method>
   <method name="DELETE" id="deleteSecGroup">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete security group">
         <para role="shortdesc">Deletes a security
                group.</para>
      </wadl:doc>
      <response status="202" />
   </method>
</application>
