api-ref/src/wadls/compute-api/src/v2.1/wadl/os-services-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-services-v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-services" path="os-services">
                    <method href="#listServices"/>
                    <resource path="enable" id="enable">
                        <method href="#enableScheduling"/>
                    </resource>
                    <resource path="disable" id="disable">
                        <method href="#disableScheduling"/>
                    </resource>
                    <resource path="disable-log-reason" id="disable-log-reason">
                        <method href="#disableLogReason"/>
                    </resource>
                    <resource id="service_id" path="{service_id}">
                        &service_idTemplateParameter;
                        <method href="#deleteService"/>
                    </resource>
                </resource>
                <resource id="os-extended-services" path="os-extended-services">
                    <resource id="service-id" path="{service_id}">
                        &service_idTemplateParameter;
                        <method href="#deleteRetiredService"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listServices">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="List Compute services">
            <para role="shortdesc">
                Lists all running Compute services for a tenant.
            </para>
            <para>
                Includes reasons, if available, for why any services were
                disabled.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/v2.11/services-list-response.json"
                    />
                </wadl:doc>
                &servicesObjectParameter;
                &service-idResponseParameter;
                &service-binaryResponseParameter;
                &service-disabled_reasonResponseParameter;
                &service-hostResponseParameter;
                &service-stateResponseParameter;
                &service-statusResponseParameter;
                &service-updated_at-ResponseParameter;
                &service-forced_downResponseParameter;
                &service-zoneResponseParameter;
            </representation>
        </response>
    </method>
    <method name="PUT" id="enableScheduling">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Enable scheduling for a Compute service">
            <para role="shortdesc">
                Enables scheduling for a Compute service.
            </para>
            <para>
                Specify the service by its host name and binary name.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/v2.11/service-enable-request.json"
                    />
                </wadl:doc>
                &service-hostRequestParameter;
                &service-binaryRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/v2.11/service-enable-response.json"
                    />
                </wadl:doc>
                &serviceObjectParameter;
                &service-binaryResponseParameter;
                &service-hostResponseParameter;
                &service-statusResponseParameter;
            </representation>
        </response>
    </method>
    <method name="PUT" id="disableScheduling">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Disable scheduling for a Compute service">
            <para role="shortdesc">
                Disables scheduling for a Compute service.
            </para>
            <para>
                Specify the service by its host name and binary name.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/service-disable-request.json"
                    />
                </wadl:doc>
                &service-hostRequestParameter;
                &service-binaryRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/service-disable-response.json"
                    />
                </wadl:doc>
                &serviceObjectParameter;
                &service-binaryResponseParameter;
                &service-hostResponseParameter;
                &service-statusResponseParameter;
            </representation>
        </response>
    </method>
    <method name="PUT" id="disableLogReason">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Log disabled Compute service information">
            <para role="shortdesc">
                Logs information to the Compute service table about why a
                Compute service was disabled.
            </para>
            <para>
                Specify the service by its host name and binary name.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/service-disable-log-request.json"
                    />
                </wadl:doc>
                &service-hostRequestParameter;
                &service-binaryRequestParameter;
                &service-disabled_reasonRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/service-disable-log-response.json"
                    />
                </wadl:doc>
                &serviceObjectParameter;
                &service-binaryResponseParameter;
                &service-disabled_reasonResponseParameter;
                &service-hostResponseParameter;
                &service-statusResponseParameter;
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete Compute service">
            <para role="shortdesc">
                Deletes a Compute service.
            </para>
            <para>
                Specify the service by its host name and binary name.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/service-enable-request.json"
                    />
                </wadl:doc>
                &service-hostRequestParameter;
                &service-binaryRequestParameter;
            </representation>
        </request>
        <response status="204"/>
        <response status="404"/>
    </method>
    <method name="DELETE" id="deleteRetiredService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Delete retired service">
            <para role="shortdesc">
                Deletes a retired service.
            </para>
            <para>
                Specify the service by its host name and binary name.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-services/service-enable-request.json"
                    />
                </wadl:doc>
                &service-hostRequestParameter;
                &service-binaryRequestParameter;
            </representation>
        </request>
        <response status="204"/>
        <response status="404"/>
    </method>
</application>
