api-ref/src/wadls/compute-api/src/v2.1/wadl/os-server-usage-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-usage-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                <resource id="servers" path="servers">
                    <method href="#listServers"/>
                    <resource id="detail" path="detail">
                        <method href="#returnListDetailServers"/>
                    </resource>
                    <resource id="server_id" path="{server_id}">
                        <method href="#returngetServer"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Server Usage            -->
    <!--*******************************************************-->
    <method name="GET" id="listServers">
        <wadl:doc xml:lang="EN" title="List servers"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists IDs, names, and links for
                all servers.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &ServersListQueryParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-server-usage/servers-list-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="returngetServer">
        <wadl:doc xml:lang="EN" title="Show server details"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows details for a specified
                server.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &GetServerDetailQueryParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-server-usage/server-get-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="returnListDetailServers">
        <wadl:doc xml:lang="EN" title="List details for servers"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">List details for servers.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                &ServersListDetailQueryParameters;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-server-usage/servers-detail-resp.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
