api-ref/src/wadls/compute-api/src/v2.1/wadl/os-security-group-default-rules-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
   ]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    <resources base="https://servers.api.openstack.com/"
        xml:id="os-security-group-default-rules-v2.1">
        <resource id="version" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-security-group-default-rules"
                    path="os-security-group-default-rules">
                    <method href="#listSecGroupDefaultRules"/>
                    <method href="#createSecGroupDefaultRule"/>
                    <resource path="{security_group_default_rule_id}"
                        id="security_group_default_rule_id">
                        &security_group_default_rule_idTemplateParameter;
                        <method href="#showSecGroupDefaultRule"/>
                        <method href="#deleteSecGroupDefaultRule"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listSecGroupDefaultRules">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List default security group rules">
            <para role="shortdesc">Lists default security group
                rules.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="List default security group rules: JSON response">
                    <xsdxt:code href="../samples/os-security-group-default-rules/security-group-default-rules-list-response.json"
                    />
                </wadl:doc>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>Port at start of range.</para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Security group UUID">
                        <para>The UUID of the security group.</para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>The IP protocol: ICMP, TCP, or
                            UDP.</para>
                    </wadl:doc>
                </param>
                <param name="ip_range" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP range">
                        <para>An IP range object.</para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>The CIDR for address range.</para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>Port at end of range.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="GET" id="showSecGroupDefaultRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show default security group rule details">
            <para role="shortdesc">
                Shows details for a security group rule.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Show default security group rule: JSON response">
                    <xsdxt:code href="../samples/os-security-group-default-rules/security-group-default-rule-show-response.json"
                    />
                </wadl:doc>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>
                            The port at start of range.
                        </para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Security group ID">
                        <para>
                            The UUID of the security group.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>
                            The IP protocol. A valid value is ICMP, TCP, or
                            UDP.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ip_range" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP range">
                        <para>
                            An IP range object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>
                            The CIDR for address range.
                        </para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>
                            The port at end of range.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="POST" id="createSecGroupDefaultRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create default security group rule">
            <para role="shortdesc">
                Creates a default security group rule.
            </para>
            <para>
                If you specify a source port (<code>from_port</code>) or
                destination port (<code>to_port</code>) value, you must
                specify an IP protocol (<code>ip_protocol</code>) value.
                Otherwise, the operation returns the <code>Bad Request
                (400)</code> response code.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Create default security group rule: JSON request">
                    <xsdxt:code href="../samples/os-security-group-default-rules/security-group-default-rule-create-request.json"
                    />
                </wadl:doc>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN"
                        title="Security group name or UUID">
                        <para>
                            The security group name or UUID.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>
                            The IP protocol. A valid value is ICMP, TCP, or
                            UDP.
                        </para>
                    </wadl:doc>
                </param>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>
                            The port at start of range.
                        </para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>
                            The port at end of range.
                        </para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>
                            The CIDR for address range.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Create default security group rule: JSON response">
                    <xsdxt:code href="../samples/os-security-group-default-rules/security-group-default-rule-create-response.json"/>
                </wadl:doc>
                <param name="from_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="From port">
                        <para>
                            The port at start of range.
                        </para>
                    </wadl:doc>
                </param>
                <param name="id" style="plain" type="csapi:UUID"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Security group ID">
                        <para>
                            The UUID for the security group.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ip_protocol" style="plain"
                    type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP protocol">
                        <para>
                            The IP protocol. A valid value is ICMP, TCP, or UDP.
                        </para>
                    </wadl:doc>
                </param>
                <param name="ip_range" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="IP range">
                        <para>
                            An IP range object.
                        </para>
                    </wadl:doc>
                </param>
                <param name="cidr" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="CIDR">
                        <para>
                            The CIDR for address range.
                        </para>
                    </wadl:doc>
                </param>
                <param name="to_port" style="plain" type="xsd:int"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="To port">
                        <para>Port at end of range.</para>
                    </wadl:doc>
                </param>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
    <method name="DELETE" id="deleteSecGroupDefaultRule">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete default security group rule">
            <para role="shortdesc">
                Deletes a security group rule.
            </para>
        </wadl:doc>
        <response status="204"/> &commonFaults; &getFaults;
    </method>
</application>
