api-ref/src/wadls/compute-api/src/v2.1/wadl/os-server-diagnostics-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-server-diagnostics-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="Servers" path="servers">
                <resource path="{server_id}" id="server_id">
                    <resource path="os-server-diagnostics" id="os-server-diagnostics">
                        <method href="#getDiagnostics"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="getDiagnostics">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get server diagnostics">
            <para role="shortdesc">
                Gets basic usage data for a specified server.
            </para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Change
              these permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Server diagnostics: JSON response">
                    <xsdxt:code
                        href="../api_samples/os-server-diagnostics/server-diagnostics-get-resp.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
