api-ref/src/wadls/compute-api/src/v2.1/wadl/os-simple-tenant-usage-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-simple-tenant-usage-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="os-simple-tenant-usage"
                path="os-simple-tenant-usage">
                <method href="#retrievetenantusage"/>
                <resource id="tenant_id" path="{tenant_id}">
                    <method href="#retrievetenantall"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Simple tenant usage            -->
    <!--*******************************************************-->
    <method name="GET" id="retrievetenantusage">
        <wadl:doc xml:lang="EN"
            title="List tenant usage for all tenants"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Lists usage information for all
                tenants.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-simple-tenant-usage/simple-tenant-usage-get.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="retrievetenantall">
        <wadl:doc xml:lang="EN" title="Show usage details for tenant"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Shows usage details for a specified
                tenant.</para>
        </wadl:doc>
        <request> </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../api_samples/os-simple-tenant-usage/simple-tenant-usage-get-specific.json"
                    />
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
</application>
