api-ref/src/wadls/compute-api/src/v2.1/wadl/os-tenant-networks-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-tenant-networks-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="os-tenant-networks" path="os-tenant-networks">
                    <method href="#createProjectNetwork"/>
                    <method href="#listProjectNetworks"/>
                    <resource id="network_id" path="{network_id}">
                        &network_idTemplateParameter;
                        <method href="#showProjectNetwork"/>
                        <method href="#deleteProjectNetwork"/>
                        <resource path="action" id="action">
                            <method href="#associateHost"/>
                            <method href="#disassociateHost"/>
                            <method href="#disassociateNetwork"/>
                            <method href="#disassociateProject"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listProjectNetworks">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List project networks">
            <para role="shortdesc">
                Lists all project networks.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-networks/networks-list-response.json"
                    />
                </wadl:doc>
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method name="POST" id="createProjectNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create project network">
            <para role="shortdesc">
                Creates a project network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-tenant-networks/network-create-request.json"
                    />
                </wadl:doc>
               <!-- &createProjectNetworkParameters; -->
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-tenant-networks/network-create-response.json"
                    />
                </wadl:doc>
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method name="GET" id="showProjectNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show project network details">
            <para role="shortdesc">Shows details for a
                project network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-tenant-networks/network-show-response.json"
                    />
                </wadl:doc>
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteProjectNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete project network">
            <para role="shortdesc">
                Deletes a project network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="POST" id="disassociateHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate host">
            <para role="shortdesc">
                Disassociates a host from a network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-networks/network-disassociate-host-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="associateHost">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Associate host">
            <para role="shortdesc">
                Associates a network with a host.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-networks/network-associate-host-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="disassociateNetwork">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate network">
            <para role="shortdesc">
                Disassociates a network from a project so that the network can
                be reused.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-networks/network-disassociate-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="disassociateProject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Disassociate project">
            <para role="shortdesc">
                Disassociates a project from a network.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-networks/network-disassociate-project-request.json"
                    />
                </wadl:doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
