api-ref/src/wadls/compute-api/src/v2.1/wadl/os-virtual-interfaces-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-virtual-interfaces-v2.1">
        <resource id="v2.1" path="//v2.1">
           <resource id="tenant_id" path="{tenant_id}">
            &tenant_idTemplateParameter;
               <resource id="servers" path="servers">
                   <resource id="server_id" path="{server_id}">
                       &server_idTemplateParameter;
                       <resource path="os-virtual-interfaces"
                           id="os-virtual-interfaces">
                           <method href="#listVirtualInterfaces"/>
                       </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listVirtualInterfaces">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List virtual interfaces">
            <para role="shortdesc">Lists the virtual interfaces for an instance.</para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Change
              these permissions through the <code>policy.json</code> file.
            </para>
            <para>
              The API v2 returns the network ID in the <code>OS-EXT-VIF-NET:net_id</code>
              response attribute.
            </para>
            <para>
              The API v2.1 base version does not return the network ID.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/os-virtual-interfaces/vifs-list-response.json"
                    />
                </wadl:doc>
                &virtualinterfacesResponseParameters;
            </representation>
        </response>
    </method>
</application>
