api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-action-evacuate-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com" xml:id="os-evacuate-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &server_idTemplateParameter;
                        <resource id="action" path="action">
                            <method href="#evacuate"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             OS-evacuate                           -->
    <!--*******************************************************-->
    <method name="POST" id="evacuate">
        <wadl:doc xml:lang="EN" title="Evacuate server (evacuate action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Evacuates a server from a failed host to a new one.
            </para>
            <para>
                Specify the <code>evacuate</code> action in the request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/evacuate-request.json"
                    />
                </wadl:doc>
                <param name="evacuate" style="plain" type="xsd:string"
                    required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Evacuate action">
                        <para>
                            Specify the <code>evacuate</code> action in the
                            request body.
                        </para>
                    </wadl:doc>
                </param>
                <param name="host" style="plain" required="false"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Host">
                        <para>
                            The name or ID of the host to which the server
                            is evacuated.
                        </para>
                    </wadl:doc>
                </param>
                &evacuate-adminPassRequestParameter;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code href="../samples/servers-action/evacuate-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
