api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-action-shelve-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-shelve-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
              &tenant_idTemplateParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &server_idTemplateParameter;
                        <resource id="action" path="action">
                            <method href="#shelve"/>
                            <method href="#shelveOffload"/>
                            <method href="#unshelve"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="shelve">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Shelve server (shelve action)">
            <para role="shortdesc">Shelves a server.</para>
            <para>
              Specify the <code>shelve</code> action in the request
              body.
            </para>
            <para>
              All associated data and resources are kept but anything still in
              memory is not retained. To restore a shelved instance, use the
              <code>unshelve</code> action. To remove a shelved instance, use
              the <code>shelveOffload</code> action.
            </para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Cloud
              providers can change these permissions through the
              <code>policy.json</code> file.
            </para>
            <para>Preconditions</para>
            <itemizedlist>
                <listitem>
                  <para>
                    The server status must be <code>ACTIVE</code>,
                    <code>SHUTOFF</code>, <code>PAUSED</code>, or
                    <code>SUSPENDED</code>.
                  </para>
                </listitem>
                <listitem>
                  <para>
                    If the server is locked, you must have
                    administrator privileges to shelve the server.
                  </para>
                </listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
                <listitem>
                  <para>
                    After you successfully shelve a server, its status changes
                    to <code>SHELVED</code> and the image status is
                    <code>ACTIVE</code>. The server instance data appears on
                    the compute node that the Compute service manages.
                  </para>
                </listitem>
                <listitem>
                  <para>
                    If you boot the server from volumes or set the
                    <code>shelved_offload_time</code> option to 0, the Compute
                    service automatically deletes the instance on compute
                    nodes and changes the server status to
                    <code>SHELVED_OFFLOADED</code>.
                  </para>
                </listitem>
            </itemizedlist>
            <para>Troubleshooting</para>
            <itemizedlist>
                <listitem>
                  <para>
                    If the server status does not change to
                    <code>SHELVED</code> or <code>SHELVED_OFFLOADED</code>,
                    the shelve operation failed. Ensure that you meet the
                    preconditions and run the request again. If the request
                    fails again, investigate whether another operation is
                    running that causes a race condition.
                  </para>
                </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Shelve server: JSON request">
                    <xsdxt:code
                        href="../samples/servers-action/shelve-request.json"
                    />
                </wadl:doc>
           &shelveActionRequestParameter; </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="shelveOffload">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Shelf-offload (remove) server (shelveOffload action)">
            <para role="shortdesc">
              Shelf-offloads, or removes, a shelved server.
            </para>
            <para>
              Specify the <code>shelveOffload</code> action in the request body.
            </para>
            <para>Data and resource associations are deleted. If an
                instance is no longer needed, you can remove that
                instance from the hypervisor to minimize resource
                usage.</para>
            <para>
                Policy defaults enable only users with the administrative
                role or the owner of the server to perform this
                operation. Cloud providers can change these permissions through the
                <code>policy.json</code> file.
              </para>
              <para>Preconditions</para>
              <itemizedlist>
                  <listitem><para>The server status must be
                  <code>SHELVED</code>.</para></listitem>
                  <listitem><para>
                    If the server is locked, you must have
                    administrator privileges to shelve-offload the server.
                </para></listitem>
              </itemizedlist>
              <para>Asynchronous Postconditions</para>
              <itemizedlist>
                  <listitem><para>After you successfully shelve-offload a
                  server, its status changes to <code>SHELVED_OFFLOADED</code>.
                  The server instance data appears on the compute
                  node.</para></listitem>
              </itemizedlist>
              <para>Troubleshooting</para>
              <itemizedlist>
                  <listitem><para>If the server status does not change
                  to <code>SHELVED_OFFLOADED</code>, the shelve-offload
                  operation failed. Ensure that you meet the preconditions
                  and run the request again. If the request fails again,
                  investigate whether another operation is running that
                  causes a race condition.</para></listitem>
              </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Shelve server: JSON request">
                    <xsdxt:code
                        href="../samples/servers-action/shelveOffload-request.json"
                    />
                </wadl:doc>
             &shelveOffloadActionRequestParameter; </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="unshelve">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Unshelve (restore) shelved server (unshelve action)">
            <para role="shortdesc">
              Unshelves, or restores, a shelved server.
            </para>
            <para>
                Specify the <code>unshelve</code> action in the request
                body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
              </para>
            <para>Preconditions</para>
            <itemizedlist>
                  <listitem><para>The server status must be
                  <code>SHELVED</code> or <code>SHELVED_OFFLOADED</code>.
                  </para></listitem>
                  <listitem><para>If the server is locked,
                  you must have administrator privileges to unshelve
                  the server.</para></listitem>
            </itemizedlist>
            <para>Asynchronous Postconditions</para>
            <itemizedlist>
              <listitem>
                <para>
                  After you successfully shelve a server, its status changes
                  to <code>ACTIVE</code>. The server appears on the compute node.
                </para>
              </listitem>
              <listitem>
                <para>
                  The shelved image is deleted from the list of images
                  returned by an API call.
                </para>
              </listitem>
            </itemizedlist>
            <para>Troubleshooting</para>
            <itemizedlist>
              <listitem>
                <para>
                  If the server status does not change to <code>ACTIVE</code>,
                  the unshelve operation failed. Ensure that you meet the
                  preconditions and run the request again. If the request
                  fails again, investigate whether another operation is
                  running that causes a race condition.
                </para>
              </listitem>
            </itemizedlist>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN"
                    title="Unshelve server: JSON request">
                    <xsdxt:code
                        href="../samples/servers-action/unshelve-request.json"
                    />
                </wadl:doc>
             &unshelveActionRequestParameter; </representation>
        </request>
        <response status="202"/>
    </method>
</application>
