api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-block-device-mapping-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!-- xmllint -noent servers-block-device-mapping-v2.1.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources base="https://servers.api.openstack.com"
        xml:id="block_device_mapping_v2.1">
        <resource id="version" type="#VersionDetails" path="//v2.1">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN">
                        <para>The tenant ID in a multi-tenancy
                            cloud.</para>
                    </wadl:doc>
                </param>
                <resource id="Servers" type="#ServerList"
                    path="servers">
                    <method href="#createServer"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Servers -->
    <method name="POST" id="createServer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create server with block device mapping">
            <para role="shortdesc">
                Creates a server with a block device mapping.
            </para>
            <para>
                To define the block device mapping, you can include either a
                <code>block_device_mapping</code> or
                <code>block_device_mapping_v2</code> object in the request
                body. The <code>block_device_mapping_v2</code> object is
                preferred.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/servers-block-device-mapping/server-post-req.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                &serverCreateParameters;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/servers-block-device-mapping/server-post-resp.json"
                    />
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="csapi:server">
                &serverCreateResponseParameters;
            </representation>
        </response>
        <response status="422">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"
                element="csapi:UnprocessableEntity"/>
        </response>
        &commonFaults; &getFaults;
        &postPutFaults; &buildFaults;
    </method>
</application>
