api-ref/src/wadls/compute-api/src/v2.1/wadl/server-metadata-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="server-metadata-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &serverIdRequestParameter;
                        <resource id="server_metadata" path="metadata"
                                  type="#ServerMetadataDetails">
                            <method href="#listServerMetadata"/>
                            <method href="#createServerMetadata"/>
                            <method href="#updateServerMetadata"/>
                            <resource id="ServerMetadataKey" path="{key}">
                                &keyRequestParameter;
                                <method href="#getServerMetadataItem"/>
                                <method href="#setServerMetadataItem"/>
                                <method href="#deleteServerMetadataItem"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="GET" id="listServerMetadata">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
         title="List all metadata">
            <para role="shortdesc">
                Lists all metadata for a server.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-all-resp.json"/>
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
        <response status="203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-all-resp.json"/>
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="POST" id="updateServerMetadata">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Update metadata items">
            <para role="shortdesc">
                Updates one or more metadata items for a
                server.
            </para>
            <para>
                Replaces metadata items that match the specified keys. Does
                not modify items that are not specified in the request.
            </para>
            <para>
                If this operation exceeds the quota for metadata items, the
                API throws an <code>overLimit (413)</code> fault.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-all-req.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-all-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="createServerMetadata">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create or replace metadata items">
            <para role="shortdesc">
                Creates or replaces one or more metadata items for a server.
            </para>
            <para>
                Creates any metadata items that do not already exist in the
                server. Removes and completely replaces any metadata items
                that already exist in the server with the metadata items in
                the request.
            </para>
            <para>
                If this operation exceeds the quota for metadata items, the
                API throws an <code>overLimit (413)</code> fault.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-all-req.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-all-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="getServerMetadataItem">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Show metadata item details">
            <para role="shortdesc">
                Shows details for a metadata item, by key, for a
                 server.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-resp.json"/>
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
        <response status="203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/server-metadata-resp.json"/>
                </wadl:doc> &x-openstack-request-idHeader;
            </representation>
        </response>
    </method>
    <method name="PUT" id="setServerMetadataItem">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook"
            title="Create or update metadata item">
            <para role="shortdesc">
                Creates or replaces a metadata item, by key, for a server.
            </para>
            <para>
                Creates a metadata item that does not already exist in the
                server. Removes and completely replaces a metadata item
                that already exists in the server with the metadata item in
                the request.
            </para>
            <para>
                If this operation exceeds the quota for metadata items, the
                API throws an <code>overLimit (413)</code> fault.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/update-server-metadata-req.json"/>
                </wadl:doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code href="../api_samples/server-metadata/update-server-metadata-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="deleteServerMetadataItem">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete metadata item">
            <para role="shortdesc">
                Deletes a metadata item, by key, from a server.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <response status="204"/>
    </method>
</application>
