api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-action-console-output-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2015-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xlink="http://www.w3.org/1999/xlink">
   <resources base="https://servers.api.openstack.com" xml:id="os-console-output-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &server_idTemplateParameter;
                        <resource path="action" id="action">
                            <method href="#showConsoleOutput"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="showConsoleOutput">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Show console output (os-getConsoleOutput action)">
            <para role="shortdesc">
                Shows console output for a server instance.
            </para>
            <para>
                Specify the <code>os-getConsoleOutput</code> action in the
                request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get console output: JSON request">
                    <xsdxt:code
                        href="../samples/servers-action/os-getConsoleOutput-create-request.json"
                    />
                </wadl:doc>
                &os-getConsoleOutputActionRequestParameter;
                <param name="length" style="plain" type = "xsd:int">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xml:lang="EN" title="Length">
                        <para>
                            The number of lines to fetch from the end of
                            console log. <code>-1</code> indicates unlimited.
                        </para>
                    </wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"
                    title="Get console output: JSON response">
                    <xsdxt:code
                        href="../samples/servers-action/os-getConsoleOutput-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
