api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-multiple-create-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
   <!ENTITY % common  SYSTEM "../common.ent">
   %common;
   <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
   %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-multiple-create-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenantIdRequestParameter;
                <resource id="servers" path="servers">
                    <method href="#createServers"/>
                    <method href="#createServersResId"/>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="createServers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xml:lang="EN" title="Create multiple servers">
            <para role="shortdesc">
                Creates one or more servers.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                    title="Create multiple servers without reservation ID">
                    <xsdxt:code
                        href="../api_samples/servers-multiple-create/multiple-create-no-resv-post-req.json"/>
                </wadl:doc>
                &serverCreateParameters;
                &diskConfigRequestParameter;
                &return_reservation_idRequestParameter;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Create multiple servers without reservation ID">
                    <xsdxt:code href="../api_samples/servers/server-post-resp.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createServersResId">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
            xml:lang="EN" title="Create multiple servers with reservation ID">
            <para role="shortdesc">
                Creates one or more servers with a reservation ID.
            </para>
            <para>
                Set <code>"return_reservation_id": "True"</code> in the
                request body to request that a reservation ID be returned
                instead of the newly created instance information. With this
                parameter, the response shows only the reservation ID.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Create multiple servers with reservation ID">
                    <xsdxt:code
                        href="../api_samples/servers-multiple-create/multiple-create-post-req.json"/>
                </wadl:doc>
                &serverCreateParameters;
                &diskConfigRequestParameter;
                &return_reservation_idRequestParameter;
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN" title="Create multiple servers with reservation ID">
                    <xsdxt:code
                        href="../api_samples/servers-multiple-create/multiple-create-post-resp.json"
                    />
                </wadl:doc>
                &reservation_idResponseParameter;
            </representation>
        </response>
    </method>
</application>
