api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-action-admin-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="servers-action-admin-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &server_idTemplateParameter;
                        <resource id="action" path="action">
                            <method href="#createBackup"/>
                            <method href="#injectNetworkInfo"/>
                            <method href="#migrate"/>
                            <method href="#migrateLive"/>
                            <method href="#resetNetwork"/>
                            <method href="#resetState"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Admin Actions                    -->
    <!--*******************************************************-->
    <method name="POST" id="createBackup">
        <wadl:doc xml:lang="EN" title="Create server back up (createBackup action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Creates a back up of a server.
            </para>
            <para>
                Specify the <code>createBackup</code> action in the request
                body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action-admin/createBackup-request.json"
                    />
                </wadl:doc>
                &createBackupActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="injectNetworkInfo">
        <wadl:doc xml:lang="EN" title="Inject network information (injectNetworkInfo action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Injects network information into a server.
            </para>
            <para>
                Specify the <code>injectNetworkInfo</code> action in the
                request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action-admin/injectNetworkInfo-request.json"
                    />
                </wadl:doc>
                &injectNetworkInfoActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="migrateLive">
        <wadl:doc xml:lang="EN" title="Live-migrate server (os-migrateLive action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Live-migrates a server to a new host without rebooting.
            </para>
            <para>
                Use the <code>host</code> parameter to specify the destination
                host. If you omit this parameter, the scheduler chooses a
                host. If a scheduled host is not suitable, the scheduler tries
                up to <code>migrate_max_retries</code> rescheduling attempts.
            </para>
            <para>
                If both source and destination hosts provide local disks, you
                can set the <code>block_migration</code> parameter to
                <code>true</code>. If either host uses shared storage, the
                migration fails if you set this parameter to
                <code>true</code>.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                to perform this operation. Cloud providers can change these
                permissions through the <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action-admin/os-migrateLive-request.json"
                    />
                </wadl:doc>
                &os-migrateLiveActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="migrate">
        <wadl:doc xml:lang="EN" title="Migrate server (migrate action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Migrates a server to a host. The scheduler chooses
                the host.
            </para>
            <para>
                Specify the <code>migrate</code> action in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action-admin/migrate-request.json"
                    />
                </wadl:doc>
                &migrateActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetNetwork">
        <wadl:doc xml:lang="EN" title="Reset networking on a server (resetNetwork action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Resets networking on a server.
            </para>
            <para>
                Specify the <code>resetNetwork</code> action in
                the request body.
            </para>
             <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action-admin/resetNetwork-request.json"
                    />
                </wadl:doc>
                &resetNetworkActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method name="POST" id="resetState">
        <wadl:doc xml:lang="EN" title="Reset server state (os-resetState action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Resets the state of a server.</para>
            <para>
                Specify the <code>os-resetState</code> action and the
                <code>state</code> in the request body.
            </para>
            <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN"
                    xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action-admin/os-resetState-request.json"
                    />
                </wadl:doc>
                &os-resetStateActionRequestParameter;
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>
