api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-action-remote-consoles-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:linkend="http://www.w3.org/1999/linkend"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-remote-consoles-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
                &tenant_idTemplateParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &server_idTemplateParameter;
                        <resource id="action" path="action">
                            <method href="#getRDPConsole"/>
                            <method href="#getSerialConsole"/>
                            <method href="#getSPICEConsole"/>
                            <method href="#getVNCConsole"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--      OS Remote consoles            -->
    <!--*******************************************************-->
    <method name="POST" id="getRDPConsole">
        <wadl:doc xml:lang="EN" title="Get RDP console (os-getRDPConsole action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Gets a <link
                xlink:href="https://technet.microsoft.com/en-us/windowsserver/ee236407">RDP</link>
                console for a server.
            </para>
            <para>
                Specify the <code>os-getRDPConsole</code> action in the
                request body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getRDPConsole-create-request.json"/>
                </wadl:doc>
                &os-getRDPConsoleActionRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getRDPConsole-create-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="getSerialConsole">
        <wadl:doc xml:lang="EN" title="Get serial console (os-getSerialConsole action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Gets a serial console for a server.
            </para>
            <para>
                Specify the <code>os-getSerialConsole</code> action in the request
                body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getSerialConsole-create-request.json"/>
                </wadl:doc>
                &os-getSerialConsoleActionRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getSerialConsole-create-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="getSPICEConsole">
        <wadl:doc xml:lang="EN"
            title="Get SPICE console (os-getSPICEConsole action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Gets a SPICE console for a server.
            </para>
            <para>
                Specify the <code>os-getSPICEConsole</code> action in the request
                body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getSPICEConsole-create-request.json"/>
                </wadl:doc>
                &os-getSPICEConsoleActionRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getSPICEConsole-create-response.json"
                    />
                </wadl:doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="getVNCConsole">
        <wadl:doc xml:lang="EN" title="Get VNC console (os-getVNCConsole action)"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Gets a VNC console for a server.
            </para>
            <para>
                Specify the <code>os-getVNCConsole</code> action in the request
                body.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getVNCConsole-create-request.json"/>
                </wadl:doc>
                &os-getVNCConsoleActionRequestParameter;
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:code
                        href="../samples/servers-action/getVNCConsole-create-response.json"/>
                </wadl:doc>
            </representation>
        </response>
    </method>
</application>
