api-ref/src/wadls/compute-api/src/v2.1/wadl/servers-action-trigger-crash-dump-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:csapi="http://docs.openstack.org/identity/api/v3">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-trigger-crash-dump-v2.1">
        <resource id="v2.1" path="//v2.1">
            <resource id="tenant_id" path="{tenant_id}">
              &tenant_idTemplateParameter;
                <resource id="servers" path="servers">
                    <resource id="server_id" path="{server_id}">
                        &server_idTemplateParameter;
                        <resource id="action" path="action">
                            <method href="#triggerCrashDump"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="triggerCrashDump">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Trigger crash dump in server (trigger_crash_dump action)">
            <para role="shortdesc">Trigger a crash dump in a server.</para>
            <para>
              Specify the <code>trigger_crash_dump</code> action in the request
              body.
            </para>
            <para>
              When a crash dump is triggered for a virtual server, it causes a
              system reboot. This action can cause data loss. Also, network
              connectivity can be lost. Once the server comes back online, you
              can find a Kernel Crash Dump file in a certain location of the
              filesystem. For example, for Ubuntu you can find it in the
              <code>/var/crash</code> directory.
            </para>
            <para>
              Policy defaults enable only users with the administrative role
              or the owner of the server to perform this operation. Cloud
              providers can change these permissions through the
              <code>policy.json</code> file.
            </para>
            </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                    xml:lang="EN" title="Trigger crash dump: JSON request">
                    <xsdxt:code
                        href="../samples/servers-action/server-action-trigger-crash-dump.json"
                    />
                </wadl:doc>
           &triggerCrashDumpActionRequestParameter; </representation>
        </request>
        <response status="202"/>
    </method>
</application>
