api-ref/src/wadls/compute-api/src/v2.1/wadl/versions-v2.1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2014-2016 OpenStack Foundation, All Rights Reserved -->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../common.ent">
    %common;
    <!ENTITY % common_project  SYSTEM "../../../../common_project.ent">
    %common_project;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    <resources base="https://servers.api.openstack.com"
        xml:id="os-versions-v2.1">
        <resource id="versions" path="//">
            <method href="#listVersionsv2.1"/>
        </resource>
        <resource id="versionv21" path="//v2.1">
            <method href="#showVersionsv2.1"/>
        </resource>
        <resource id="versionv2" path="//v2">
            <method href="#showVersionsv2"/>
        </resource>
    </resources>
    <!-- *******************************************************-->
    <!--             Versions                                   -->
    <!--*******************************************************-->
    <method name="GET" id="listVersionsv2.1">
        <wadl:doc xml:lang="EN" title="List API versions"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Lists information about all Compute API versions.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/versions/versions-list-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response>
        <response status="300"/>
    </method>
    <method name="GET" id="showVersionsv2.1">
        <wadl:doc xml:lang="EN" title="Show API v2.1"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Show information about Compute API v2.1.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/versions/versions-v21-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response>
    </method>
    <method name="GET" id="showVersionsv2">
        <wadl:doc xml:lang="EN" title="Show API v2"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">
                Show information about Compute API v2.
            </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../samples/versions/versions-v2-show-response.json"
                    />
                </wadl:doc> &x-openstack-request-idResponseHeader;
            </representation>
        </response>
    </method>
</application>
